.hero-container {
  position: relative;
}
.hero-container .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 45%;
  padding: 1.7em 3.4em 3.4em 3.4em;
  color: #000;
  zoom: 1;
  background-color: #fff;
}
.discovery-module-one-pop-out {
  position: relative;
  margin: 1.25rem;
}

.discovery-module-one-pop-out .discovery-header-button,
.discovery-module-carousel-pop-out .discovery-header-button,
.popular-services .popular-services-header-button{
  margin-top: 1.25rem;
}

.discovery-module-one-pop-out .discovery-caption,
.discovery-module-carousel-pop-out .discovery-caption {
  margin-top: 3.125rem;
}
.popular-services {
  margin: 1.25rem;
}
.popular-services-links{
  font-weight: 700;
  color: #f16e00;
  text-decoration: none;
}
.discovery-module-carousel-pop-out .carousel-inner .carousel-item{
  padding: 0 1.875rem 1.25rem 1.875rem;
}
.black-background {
  color: #fff;
  background-color: #000;
}
.white-header {
  color: #000;
  background-color: #fff;
}

.brand-spacing {
  margin-top: 1.875rem;
}

.navbar-nav li > a[class^="icon-"],
.navbar-nav li > a[class*=" icon-"] {
  font-size: 1.875rem;
  line-height: 1;
}

.navbar-dark #id-for-cdu-link a{
  color: #fff;
}
.navbar-dark #id-for-cdu-link a:hover,
.navbar-dark #id-for-cdu-link a:focus{
  color: #f16e00;
}

footer {
  background-color: #000;
}

@media (max-width: 991px) {
  .hero-container .caption {
    padding: 3%;
    margin: 6%;
  }
}
@media (max-width: 767px) {
  .hero-container .caption {
    position: relative;
    width: auto;
    clear: both;
  }
}

.swiper-slide .row {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.swiper-slide .frame {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  max-width: 20%;
}

.swiper-slide .caption {
  position: absolute;
  bottom: 40px;
  left: 1.25rem;
  width: 45%;
  padding: 1rem 1.25rem;
  background-color: #fff;
  opacity: .9;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
}

.nav-link.svg-search,
.nav-link.svg-avatar,
.nav-link.svg-search::after,
.nav-link.svg-avatar::after {
  width: 1.875rem;
  height: 1.875rem;
}
