---
import OrangeFooter from '@components/shortcodes/OrangeFooter.astro'

export const title = 'Footers'
export const aliases = [
  '/examples/footers',
  '/docs/examples/footers',
]
---

<main>
  <!-- Boosted mod: page must contain a level-one heading (a11y) -->
  <h1 class="visually-hidden">Footers Boosted example</h1>

  <div class="b-example-divider"></div>

  <OrangeFooter mandatory=true id="1" />

  <div class="b-example-divider"></div>

  <OrangeFooter nav=true mandatory=true id="2" />

  <div class="b-example-divider"></div>

  <OrangeFooter follow=true nav=true mandatory=true extra_social=true id="3" />

  <div class="b-example-divider"></div>

  <OrangeFooter title_content=true follow=true nav=true mandatory=true extra_social=true  id="4" />

  <div class="b-example-divider"></div>

  <OrangeFooter title_content=true follow=true nav=true service=true mandatory=true extra_social=true id="5" />
</main>
