//
// Base styles
//

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: $accordion-button-padding-y $accordion-button-padding-x;
  @include font-size($accordion-button-font-size); // Boosted mod
  font-weight: $accordion-button-font-weight; // Boosted mod
  line-height: $accordion-button-line-height; // Boosted mod
  color: $accordion-button-color;
  text-align: left; // Reset button style
  text-decoration: if($link-decoration == none, null, none); // Boosted mod

  /* rtl:remove */
  letter-spacing: $accordion-button-letter-spacing; // Boosted mod
  background-color: $accordion-button-bg;
  border: 0;
  @include border-radius(0);
  overflow-anchor: none;
  @include transition($accordion-transition);

  &:not(.collapsed) {
    color: $accordion-button-active-color;
    background-color: $accordion-button-active-bg;

    &::after {
      // Boosted mod: use caret
      transform: $accordion-icon-transform;
    }
  }

  // Accordion icon
  @include caret($accordion: true); // Boosted mod: use caret

  &:hover {
    z-index: 2;
    color: $accordion-button-active-color; // Boosted mod
  }

  &:focus {
    z-index: 3;
    outline-offset: -$accordion-border-width; // Boosted mod
  }
}

.accordion-header {
  margin-bottom: 0;
  border: $accordion-border-width solid $accordion-border-color; // Boosted mod
  border-width: $accordion-border-width 0 0; // Boosted mod
}

.accordion-item {
  color: color-contrast($accordion-bg);
  background-color: $accordion-bg;
  // Boosted mod: no border

  &:first-of-type {
    @include border-top-radius($accordion-border-radius);

    .accordion-button {
      @include border-top-radius($accordion-inner-border-radius);
    }
  }

  // Boosted mod: no `&:not(:first-of-type)` rule

  // Only set a border-radius on the last item if the accordion is collapsed
  &:last-of-type {
    margin-bottom: 0; // Boosted mod
    @include border-bottom-radius($accordion-border-radius);
    border-bottom: $accordion-border-width solid $accordion-border-color; // Boosted mod: borders are set on .accordion-header

    .accordion-button {
      &.collapsed {
        @include border-bottom-radius($accordion-inner-border-radius);
      }
    }

    .accordion-collapse {
      @include border-bottom-radius($accordion-border-radius);
    }
  }
}

.accordion-body {
  padding: 0 $accordion-body-padding-x $accordion-body-padding-y 0; // Boosted mod
}

//
// Boosted mod: accordion sizes
//

.accordion-sm {
  .accordion-button {
    @include font-size($accordion-button-font-size-sm);
    line-height: $accordion-button-line-height-sm;

    /* rtl:remove */
    letter-spacing: $accordion-button-letter-spacing-sm;
  }
}

.accordion-lg {
  .accordion-button {
    @include font-size($accordion-button-font-size-lg);
    line-height: $accordion-button-line-height-lg;

    /* rtl:remove */
    letter-spacing: $accordion-button-letter-spacing-lg;
  }
}

// Boosted mod
.accordion-dark {
  .accordion-button {
    color: $accordion-dark-button-color;
    background-color: $accordion-dark-button-bg;

    &:not(.collapsed) {
      color: $accordion-dark-button-active-color;
      background-color: $accordion-dark-button-active-bg;
    }

    &:hover {
      color: $accordion-dark-button-active-color;
    }

    &:focus {
      color: $accordion-dark-button-active-color;
    }
  }

  .accordion-header {
    border: $accordion-border-width solid $accordion-dark-border-color;
    border-width: $accordion-border-width 0 0;
  }

  .accordion-item {
    color: color-contrast($accordion-dark-bg);
    background-color: $accordion-dark-bg;

    &:last-of-type {
      border-bottom: $accordion-border-width solid $accordion-dark-border-color;
    }
  }
}
// End mod
