#{$ouds-root-selector} {
  --#{$prefix}alert-border-radius: #{$ouds-alert-border-radius-default};
}

.alert {
  display: flex;
  gap: $ouds-alert-space-column-gap;
  align-items: flex-start;
  @include border-radius(var(--#{$prefix}alert-border-radius));
}

.alert-message {
  --#{$prefix}alert-icon-margin-top: #{$ouds-alert-space-padding-block}; // Here to avoid an encapsulation
  min-width: $ouds-alert-size-min-width;
  min-height: $ouds-alert-size-min-height;
  padding-inline: $ouds-alert-space-padding-inline;
  background-color: var(--#{$prefix}alert-bg);
  border: var(--#{$prefix}alert-border-color) solid $ouds-alert-border-width;

  &:has(.btn) {
    padding-right: 0;
  }

  &:has(.alert-container > .link) {
    min-height: $ouds-alert-size-min-height-bottom-action-placement;
  }

  // To avoid overflow: hidden that hides the focus
  .btn {
    @include border-top-end-radius(var(--#{$prefix}alert-border-radius));
  }

  &:not(:has(p:not(.alert-label), .bullet-list, .alert-container .link)) .btn {
    @include border-bottom-end-radius(var(--#{$prefix}alert-border-radius));
  }
}

.alert-icon {
  position: relative;
  display: block;
  flex-shrink: 0;
  width: px-to-rem($ouds-alert-size-icon);
  height: px-to-rem($ouds-alert-size-icon);
  margin-block: var(--#{$prefix}alert-icon-margin-top);
  color: var(--#{$prefix}alert-icon-color);

  &:where(:not(:has(svg, img, .icon))) {
    &::before,
    &::after {
      position: absolute;
      inset: 0;
      display: block;
      content: "";
    }

    &::before {
      background-color: currentcolor;
      mask-image: escape-svg(var(--#{$prefix}alert-icon));
    }

    &::after {
      background-color: var(--#{$prefix}alert-icon-internal-color);
      mask-image: escape-svg(var(--#{$prefix}alert-icon-internal));
    }
  }

  svg,
  img,
  .icon {
    width: 100%;
    height: 100%;
    font-size: $ouds-alert-size-icon;
    line-height: 1;
    vertical-align: baseline; // TODO: For reboot maybe ?
  }
}

.alert-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: $ouds-alert-space-row-gap-action;
  align-items: flex-start;
  justify-content: center;
  min-height: $ouds-alert-size-min-height;
  padding-block: $ouds-alert-space-padding-block;
}

.alert-text-container {
  display: flex;
  flex-direction: column;
  gap: $ouds-alert-space-row-gap;
  color: $ouds-color-content-muted;

  > *,
  .bullet-list.fs-bm {
    --#{$prefix}bullet-list-icon-container-width: #{calc(px-to-rem($ouds-size-icon-with-label-medium-size-medium) - $ouds-bullet-list-space-padding-inline-level-0)}; // TODO: Do we need a token for that ?
    --#{$prefix}bullet-list-padding-block: #{$ouds-alert-space-row-gap-bullet / 2};
    --#{$prefix}bullet-color: var(--#{$prefix}color-content-default);
    max-width: var(--#{$prefix}font-max-width-label-medium);
    margin-bottom: 0;
    @include get-font-size("label-medium");
    font-weight: $ouds-font-weight-web-label-default;
  }
}

.alert-action-container {
  display: flex;
  gap: $ouds-alert-space-column-gap-action;
}

.alert-label {
  max-width: var(--#{$prefix}font-max-width-label-large);
  margin-bottom: 0;
  @include get-font-size("label-large");
  font-weight: $ouds-font-weight-web-label-moderate;
  color: $ouds-color-content-default;
}

.use-rounded-corner-alert {
  --#{$prefix}alert-border-radius: #{$ouds-alert-border-radius-rounded};
}

.alert-neutral {
  --#{$prefix}component-icon-color: #{$ouds-color-content-default};
  --#{$prefix}alert-bg: #{$ouds-color-surface-secondary};
  --#{$prefix}alert-border-color: #{$ouds-color-border-default};
}

.alert-accent {
  --#{$prefix}alert-icon-color: #{$ouds-color-content-status-accent};
  --#{$prefix}alert-bg: #{$ouds-color-surface-status-accent-muted};
  --#{$prefix}alert-border-color: #{$ouds-color-border-status-accent};
}

.alert-negative {
  --#{$prefix}alert-icon: var(--#{$prefix}error-icon);
  --#{$prefix}alert-icon-color: #{$ouds-color-content-status-negative};
  --#{$prefix}alert-bg: #{$ouds-color-surface-status-negative-muted};
  --#{$prefix}alert-border-color: #{$ouds-color-border-status-negative};
}

.alert-positive {
  --#{$prefix}alert-icon: var(--#{$prefix}success-icon);
  --#{$prefix}alert-icon-color: #{$ouds-color-content-status-positive};
  --#{$prefix}alert-bg: #{$ouds-color-surface-status-positive-muted};
  --#{$prefix}alert-border-color: #{$ouds-color-border-status-positive};
}

.alert-info {
  --#{$prefix}alert-icon: var(--#{$prefix}info-icon);
  --#{$prefix}alert-icon-color: #{$ouds-color-content-status-info};
  --#{$prefix}alert-bg: #{$ouds-color-surface-status-info-muted};
  --#{$prefix}alert-border-color: #{$ouds-color-border-status-info};
}

.alert-warning {
  --#{$prefix}alert-icon: var(--#{$prefix}warning-icon);
  --#{$prefix}alert-icon-color: var(--#{$prefix}icon-color-content-status-warning-external-shape);
  --#{$prefix}alert-icon-internal: var(--#{$prefix}warning-internal-icon);
  --#{$prefix}alert-icon-internal-color: var(--#{$prefix}icon-color-content-status-warning-internal-shape);
  --#{$prefix}alert-bg: #{$ouds-color-surface-status-warning-muted};
  --#{$prefix}alert-border-color: #{$ouds-color-border-status-warning};
}

@if $enable-bootstrap-compatibility {
  .alert {
    > svg,
    > img,
    > .icon {
      @extend .alert-icon;
      fill: currentcolor;
    }
  }

  .alert-danger {
    @extend .alert-negative;
  }

  .alert-success {
    @extend .alert-positive;
  }

  .alert-primary {
    @extend .alert-accent;
  }

  .alert-secondary,
  .alert-light,
  .alert-dark {
    @extend .alert-neutral;
  }

  .alert-heading {
    @extend .alert-label;
  }
}
