// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  @include font-size($badge-font-size);
  font-weight: $badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  @include border-radius($badge-border-radius);
  @include transition($badge-transition);

  @at-root a#{&} {
    text-decoration: if($link-decoration == none, null, none); // Boosted mod: links are perceivable globally

    @include hover-focus() {
      text-decoration: none;
    }
  }

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
  margin-left: map-get($spacers, 1); // Boosted mod
}

// Pill badges
//
// Make them extra rounded with a modifier to replace v3's badges.

.badge-pill {
  padding-right: $badge-pill-padding-x;
  padding-left: $badge-pill-padding-x;
  @include border-radius($badge-pill-border-radius);
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

@each $color, $value in $theme-colors {
  // Boosted mod: disallow functionnal colors for background
  @if ($value != $success) and ($value != $danger) and ($value != $info) and ($value != $warning) {
    .badge-#{$color} {
      @include badge-variant($value);
    }
  }
}

// Boosted mod: supporting colour as background
@each $color, $value in $supporting-colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}

// Boosted mod: focus visibility
.badge[href] {
  @include transition($transition-focus); // Boosted mod
  &:focus {
    outline-color: $white;
    outline-offset: -#{$border-width};

    &.badge-light {
      outline-color: $black;
    }
  }
}

// Boosted mod: sizes variant
.badge-xlg {
  @include font-size($badge-font-size-xlg);
  padding: $badge-padding-y-lg $badge-padding-x-lg;
}

.badge-lg {
  @include font-size($badge-font-size-lg);
  padding: $badge-padding-y-lg $badge-padding-x-lg;
}
