.breadcrumb {
  // scss-docs-start breadcrumb-css-vars
  // OUDS mod: no breadcrumb-padding-x, breadcrumb-padding-y, breadcrumb-margin-bottom, breadcrumb-font-size, breadcrumb-font-weight, breadcrumb-bg, breadcrumb-border-radius, breadcrumb-divider-color, breadcrumb-item-padding-x, breadcrumb-item-active-color
  --#{$prefix}breadcrumb-color: #{$breadcrumb-color};
  --#{$prefix}breadcrumb-divider-color: #{$breadcrumb-divider-color};

  // Additional OUDS variables
  --#{$prefix}breadcrumb-divider: #{$breadcrumb-divider}; // OUDS mod, instead of: escape-svg($breadcrumb-divider) #{"/* rtl:"} var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider-flipped)) #{"*/"};
  --#{$prefix}breadcrumb-item-padding-links: #{$ouds-breadcrumb-space-column-gap-links};
  --#{$prefix}breadcrumb-item-padding-icon: #{$ouds-breadcrumb-space-column-gap-icon};
  // End mod
  // scss-docs-end breadcrumb-css-vars

  display: flex;
  padding: 0;
  color: var(--#{$prefix}breadcrumb-color); // OUDS mod
  list-style: none;
  @include get-font-size("label-medium");
}

// The separator between breadcrumbs
@mixin has-separator() {
  padding-left: var(--#{$prefix}breadcrumb-item-padding-icon);

  &::before {
    display: inline-flex;
    flex-shrink: 0;
    width: $ouds-breadcrumb-size-icon;
    height: $ouds-breadcrumb-size-icon;
    margin-right: var(--#{$prefix}breadcrumb-item-padding-links) #{"/* rtl:ignore */"}; // OUDS mod
    color: var(--#{$prefix}breadcrumb-divider-color);
    content: "";
    background-color: currentcolor;
    mask-image: var(--#{$prefix}breadcrumb-divider);
    // OUDS mod

    /* rtl:raw:
    transform: scaleX(-1);
    */
    // End mod
  }
}

.breadcrumb-item {
  display: none;
  align-items: center;
  min-width: 0;

  a {
    @extend %link-properties;
    display: inline-block;
    padding: $ouds-link-space-padding-block $ouds-link-space-padding-inline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.active {
    @include has-separator();
    display: inline-block;
    color: var(--#{$prefix}breadcrumb-item-active-color);

    a {
      font-weight: $ouds-font-weight-body-default;
      text-decoration: none;
      pointer-events: none;
    }
  }

  &:nth-last-child(-n + 2) {
    display: inline-flex;
  }

  &:nth-last-child(2) {
    flex-shrink: 0;
  }

  @include media-breakpoint-up(md) {
    &:nth-last-child(-n + 3) {
      display: inline-flex;
    }

    &:nth-last-child(-n + 2) {
      @include has-separator();
    }
  }

  @include media-breakpoint-up(lg) {
    &:nth-last-child(-n + 4) {
      display: inline-flex;
    }

    &:nth-last-child(-n + 3) {
      @include has-separator();
    }
  }

  @include media-breakpoint-up(xl) {
    display: inline-flex;

    + .breadcrumb-item {
      @include has-separator();
    }
  }

  &:first-child {
    padding-left: 0;

    &::before {
      content: none;
    }
  }
}
