//
// Base styles
//

.btn {
  display: inline-flex; // Boosted mod
  align-items: center; // Boosted mod: for .badge proper alignment
  justify-content: center; // Boosted mod
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  outline-offset: map-get($spacers, 1); // Boosted mod
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  @include transition($btn-transition);

  &:hover {
    color: $body-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  // Boosted mod: custom styles for .btn-check
  &:focus {
    // Boosted mod
    outline-offset: $btn-border-width;

    &[data-focus-visible-added] {
      box-shadow: $btn-focus-box-shadow;
    }
    // End mod
  }

  // Boosted mod: custom styles for .btn-check
  &:active,
  &.active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }
}


//
// Alternate buttons
//

// Boosted mod: inconsistent theming ¯\_(ツ)_/¯
.btn-primary,
.btn-warning {
  @include button-variant($primary, $primary, $black, $active-background: $white, $active-border: $black, $active-color: $black);
}

.btn-light,
.btn-secondary {
  @include button-variant($white, $black, $black, $disabled-background: $white, $disabled-border: $gray-500, $disabled-color: $gray-500);
}

.btn-success {
  @include button-variant($success, $success, $black);
}

.btn-info,
.btn-dark {
  @include button-variant($black, $black, $white, $white, $black, $black);
}

.btn-danger {
  @include button-variant($danger, $danger, $white);
}

// Boosted mod: no .btn-outline

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  color: $btn-link-color;
  text-decoration: $link-decoration;
  // stylelint-disable-next-line declaration-no-important
  border-color: transparent !important; // Boosted mod

  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    text-decoration: $link-hover-decoration;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg, $btn-line-height-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm, $btn-line-height-sm);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}
