.btn-assistant {
  --#{$prefix}btn-padding-start: #{$ouds-button-space-padding-inline-icon-start-default};
  --#{$prefix}btn-padding-end: #{$ouds-button-space-padding-inline-end-icon-start-default};
  --#{$prefix}btn-border-width: #{$ouds-button-border-width-ai};
  --#{$prefix}btn-interaction-border-width: #{$ouds-button-border-width-ai-interaction};
  --#{$prefix}btn-color: #{$ouds-button-color-content-ai-enabled};
  --#{$prefix}btn-bg: initial;
  --#{$prefix}btn-hover-color: #{$ouds-button-color-content-ai-hover};
  --#{$prefix}btn-active-color: #{$ouds-button-color-content-ai-pressed};
  --#{$prefix}btn-disabled-color: #{$ouds-button-color-content-ai-disabled};
  --#{$prefix}btn-focus-color: #{$ouds-button-color-content-ai-focus};
  --#{$prefix}btn-loading-color: #{$ouds-button-color-content-ai-loading};
  --#{$prefix}assistant-icon-size: #{$ouds-size-min-interactive-area-smallest};
  @include assistant();

  border-color: currentcolor;

  &::before {
    flex-shrink: 0;
    width: var(--#{$prefix}assistant-icon-size);
    height: var(--#{$prefix}assistant-icon-size);
    content: "";
    background-color: currentcolor;
    mask: $icon-assistant-icon center;
  }

  // Reduce the noise for people that don't want some
  @media (prefers-reduced-motion: no-preference) and (prefers-contrast: no-preference) and (forced-colors: none) {
    background: linear-gradient(var(--#{$prefix}btn-bg, var(--#{$prefix}color-bg-primary))) padding-box, var(--#{$prefix}assistant-border-gradient) border-box;
    border-color: transparent;

    @supports (background-clip: border-area) {
      background: var(--#{$prefix}assistant-border-gradient) border-box border-area;
    }

    &:is(:disabled, [aria-disabled="true"]):not(.loading-indeterminate, .loading-determinate) {
      background: initial;
    }

    &:is(:hover, :active, :focus-visible) {
      border-color: transparent;
    }
  }

  &.btn-icon {
    --#{$prefix}assistant-gradient-unit: 72deg;
    --#{$prefix}btn-border-radius: #{$ouds-button-border-radius-ai-icon-only};
  }

  &.btn-small {
    --#{$prefix}btn-padding-start: #{$ouds-button-space-padding-inline-icon-start-small};
    --#{$prefix}btn-padding-end: #{$ouds-button-space-padding-inline-start-icon-end-small};
  }
}
