//
// Base styles
//

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  height: $card-height;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group {
    border-top: inherit;
    border-bottom: inherit;

    &:first-child {
      border-top-width: 0;
      @include border-top-radius($card-inner-border-radius);
    }

    &:last-child  {
      border-bottom-width: 0;
      @include border-bottom-radius($card-inner-border-radius);
    }
  }

  // Due to specificity of the above selector (`.card > .list-group`), we must
  // use a child selector here to prevent double borders.
  > .card-header + .list-group,
  > .list-group + .card-footer {
    border-top: 0;
  }

  // Boosted mod
  > .list-group + .card-footer {
    padding-top: $card-spacer-y / 2;
  }
  // End mod
}

.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  // Workaround for the image size bug in IE
  // See: https://github.com/twbs/bootstrap/pull/28855
  min-height: 1px;
  padding: $card-spacer-x;
  color: $card-color;
}

.card-title {
  margin-bottom: $card-spacer-y;

  // Boosted mod: prevent unwanted margin when nothing follows…
  &:only-child {
    margin-bottom: 0;
  }
  // End mod
}

.card-subtitle {
  margin-top: -$card-spacer-y / 2;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link {
  @include hover() {
    text-decoration: none;
  }

  + .card-link {
    margin-left: $card-spacer-x;
  }
}

//
// Optional textual caps
//

.card-header {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  font-weight: $font-weight-bold; // Boosted mod
  color: $card-cap-color;
  background-color: $card-cap-bg;
  border-bottom: $card-border-width solid $card-cap-bg; // Boosted mod

  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }
}

.card-footer {
  // Boosted mod
  padding: 0 $card-spacer-x $card-spacer-y * 2;
  font-weight: $font-weight-bold;
  color: $card-footer-color;
  background-color: $card-cap-color;
  // End mod

  &:last-child {
    @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
  }
}


//
// Header navs
//

.card-header-tabs {
  margin-right: -$card-spacer-x / 2;
  margin-bottom: -$card-spacer-y;
  margin-left: -$card-spacer-x / 2;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -$card-spacer-x / 2;
  margin-left: -$card-spacer-x / 2;
}

// Card image
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $card-img-overlay-padding;
  @include border-radius($card-inner-border-radius);
}

.card-img,
.card-img-top,
.card-img-bottom {
  flex-shrink: 0; // For IE: https://github.com/twbs/bootstrap/issues/29396
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
}

.card-img,
.card-img-top {
  @include border-top-radius($card-inner-border-radius);
}

.card-img,
.card-img-bottom {
  @include border-bottom-radius($card-inner-border-radius);
}


// Card deck

.card-deck {
  .card {
    margin-bottom: $card-deck-margin;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-flow: row wrap;
    margin-right: -$card-deck-margin;
    margin-left: -$card-deck-margin;

    .card {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      margin-right: $card-deck-margin;
      margin-bottom: 0; // Override the default
      margin-left: $card-deck-margin;
    }
  }
}


//
// Card groups
//

.card-group {
  // The child selector allows nested `.card` within `.card-group`
  // to display properly.
  > .card {
    margin-bottom: $card-group-margin;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-flow: row wrap;
    // The child selector allows nested `.card` within `.card-group`
    // to display properly.
    > .card {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      margin-bottom: 0;

      + .card {
        margin-left: 0;
        border-left: 0;
      }

      // Handle rounded corners
      @if $enable-rounded {
        &:not(:last-child) {
          @include border-right-radius(0);

          .card-img-top,
          .card-header {
            // stylelint-disable-next-line property-disallowed-list
            border-top-right-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            // stylelint-disable-next-line property-disallowed-list
            border-bottom-right-radius: 0;
          }
        }

        &:not(:first-child) {
          @include border-left-radius(0);

          .card-img-top,
          .card-header {
            // stylelint-disable-next-line property-disallowed-list
            border-top-left-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            // stylelint-disable-next-line property-disallowed-list
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
}


//
// Columns
//

.card-columns {
  .card {
    margin-bottom: $card-columns-margin;
  }

  @include media-breakpoint-up(sm) {
    column-count: $card-columns-count;
    column-gap: $card-columns-gap;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }
}


//
// Accordion
//

.accordion {
  overflow-anchor: none;

  // Boosted mod
  .card {
    position: static;
    border-color: $gray-500;
    border-width: 0 0 $border-width;
    &:first-child {
      border-width: $border-width 0;
    }

    @include media-breakpoint-up(md) {
      border-width: 0 0 $border-width / 2;
      &:first-child {
        border-width: $border-width / 2 0;
      }
    }
  }

  .card-header {
    padding: 0;
    background: none;
    border: 0;

    button,
    a {
      display: flex;
      width: add(100%, $card-accordion-spacer * 2);
      padding: $card-spacer-y;
      margin: 0 -#{$card-accordion-spacer};
      @include font-size($h3-font-size);
      line-height: $h3-line-height;
      text-decoration: none;
      letter-spacing: $h3-spacing;
      border: 0;

      &::after {
        display: block;
        align-self: center;
        width: $card-accordion-spacer;
        height: .4375rem;
        margin: 0 map-get($spacers, 2) 0 auto;
        content: "";
        background: escape-svg($accordion-arrow-icon) no-repeat 50% / $accordion-arrow-size;
      }

      &:hover::after,
      &[aria-expanded="true"]::after { // stylelint-disable-line selector-no-qualifying-type
        background-image: escape-svg($accordion-arrow-icon-active);
      }

      &:focus {
        z-index: 2;
        outline-offset: 0;
      }
    }

    .btn-sm {
      width: add(100%, $card-spacer-y * 2);
      padding: map-get($spacers, 2);
      margin: 0 -#{$card-spacer-y};
      @include font-size($h5-font-size);
      line-height: $h5-line-height;
      letter-spacing: $h5-spacing;
    }

    .btn-lg {
      width: add(100%, map-get($spacers, 3) * 2);
      padding: $card-accordion-spacer;
      margin: 0 -#{map-get($spacers, 3)};
      @include font-size($h2-font-size);
      line-height: $h2-line-height;
      letter-spacing: $h2-spacing;
    }

    [aria-expanded="true"] {
      color: $orange-2;

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .card-body {
    padding: 0 1.5rem 0 0;
    margin: 0 0 $spacer;
  }
}
