.close {
  // Boosted mod
  width: $close-icon-size;
  height: $close-icon-size;
  padding: 0;
  font-size: $close-font-size;
  background: escape-svg($close-icon) no-repeat 50% / #{$close-icon-size};
  border: 0;
  outline-offset: map-get($spacers, 2);
  appearance: none;
  // End mod

  // Override <a>'s hover style
  &:hover {
    color: $close-color;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    outline: $border-width solid $gray-500;
    outline-offset: -#{$border-width};
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
  }
}
