// Transparent background and border properties included for button version.
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

.btn-close {
  // scss-docs-start btn-close-css-vars
  --#{$prefix}btn-close-padding: #{$btn-close-padding}; // Boosted mod
  --#{$prefix}btn-close-margin: 0; // Boosted mod
  --#{$prefix}btn-close-border-width: #{$btn-close-border-width}; // Boosted mod
  --#{$prefix}btn-close-color: #{$btn-close-color}; // Boosted mod
  --#{$prefix}btn-close-bg: #{$btn-close-bg}; // Boosted mod
  --#{$prefix}btn-close-border-color: #{$btn-close-border-color}; // Boosted mod
  --#{$prefix}btn-close-hover-color: #{$btn-close-hover-color}; // Boosted mod
  --#{$prefix}btn-close-active-color: #{$btn-close-active-color}; // Boosted mod
  --#{$prefix}btn-close-active-border-color: #{$btn-close-active-border-color}; // Boosted mod
  --#{$prefix}btn-close-disabled-color: #{$btn-close-disabled-color}; // Boosted mod
  // scss-docs-end btn-close-css-vars

  padding: var(--#{$prefix}btn-close-padding); // Boosted mod
  margin: var(--#{$prefix}btn-close-margin); // Boosted mod
  color: var(--#{$prefix}btn-close-color); // Boosted mod
  background-color: var(--#{$prefix}btn-close-bg); // Boosted mod
  border: var(--#{$prefix}btn-close-border-width) solid var(--#{$prefix}btn-close-border-color); // Boosted mod
  outline-offset: map-get($spacers, 2); // Boosted mod
  @include border-radius();
  @include button-icon($btn-close-bg, $btn-close-width, $btn-close-height, $btn-close-icon-size); // Boosted mod: using mask instead of background

  // Override <a>'s hover style
  &:hover {
    color: var(--#{$prefix}btn-close-hover-color); // Boosted mod
    text-decoration: none;
  }

  // Boosted mod: matching .btn-no-outline
  &:hover,
  &:focus,
  &:active {
    border: var(--#{$prefix}btn-close-border-width) solid var(--#{$prefix}btn-close-active-border-color);
  }

  &:focus {
    outline-offset: $outline-width;
    @include transition($transition-focus);

    &[data-focus-visible-added] {
      box-shadow: $btn-close-focus-shadow;
    }
  }

  &:active {
    color: var(--#{$prefix}btn-close-active-color);
  }
  // End mod

  &:disabled,
  &.disabled {
    color: var(--#{$prefix}btn-close-disabled-color); // Boosted mod
    pointer-events: none;
    user-select: none;
  }
}

// Boosted mod: changing color instead of using filter
.btn-close-white {
  // scss-docs-start btn-close-white-css-vars
  --#{$prefix}btn-close-color: #{$btn-close-white-color}; // Boosted mod
  --#{$prefix}btn-close-bg: #{$btn-close-white-bg}; // Boosted mod
  --#{$prefix}btn-close-border-color: #{$btn-close-white-border-color}; // Boosted mod
  --#{$prefix}btn-close-hover-color: #{$btn-close-white-hover-color}; // Boosted mod
  --#{$prefix}btn-close-active-color: #{$btn-close-white-active-color}; // Boosted mod
  --#{$prefix}btn-close-active-border-color: #{$btn-close-white-active-border-color}; // Boosted mod
  --#{$prefix}btn-close-disabled-color: #{$btn-close-white-disabled-color}; // Boosted mod
  // scss-docs-end btn-close-white-css-vars

  &:focus {
    &[data-focus-visible-added] {
      box-shadow: 0 0 0 $btn-focus-width $black;
    }
  }
}
// End mod
