// Palette

// Colors palette

// Orange
// fusv-disable
$ods-orange-100: #ff7900 !default;
$ods-orange-200: #f16e00 !default;
// fusv-enable

// White, grays and black
$ods-white-100: #fff !default;
$ods-gray-200: #eee !default;
$ods-gray-300: #ddd !default;
$ods-gray-400: #ccc !default;
$ods-gray-500: #999 !default;
$ods-gray-600: #666 !default;
$ods-gray-700: #595959 !default;
$ods-gray-800: #333 !default;
$ods-gray-900: #141414 !default;
$ods-black-900: #000 !default;

// Forest
$ods-forest-100: #6c6 !default;
$ods-forest-200: #228722 !default;

// Fire
$ods-fire-100: #f66 !default;
$ods-fire-200: #cd3c14 !default;

// Water
$ods-water-100: #69f !default;
$ods-water-200: #4170d8 !default;

// Sun
$ods-sun-100: #fc0 !default;
// fusv-disable
$ods-sun-200: #8f7200 !default;
// fusv-enable

// Blue
$ods-blue-100: #b5e8f7 !default;
$ods-blue-200: #80ceef !default;
$ods-blue-300: #4bb4e6 !default;
$ods-blue-400: #3e9dd6 !default;
$ods-blue-500: #237eca !default;
$ods-blue-600: #085ebd !default;

// Green
$ods-green-100: #b8ebd6 !default;
$ods-green-200: #84d5af !default;
$ods-green-300: #50be87 !default;
$ods-green-400: #27a971 !default;
$ods-green-500: #198c51 !default;
$ods-green-600: #0a6e31 !default;

// Pink
$ods-pink-100: #ffe8f7 !default;
$ods-pink-200: #ffceef !default;
$ods-pink-300: #ffb4e6 !default;
$ods-pink-400: #ff8ad4 !default;
$ods-pink-500: #d573bb !default;
$ods-pink-600: #bc4d9a !default;

// Purple
$ods-purple-100: #d9c2f0 !default;
$ods-purple-200: #c1a4e4 !default;
$ods-purple-300: #a885d8 !default;
$ods-purple-400: #9373bd !default;
$ods-purple-500: #6e4aa7 !default;
$ods-purple-600: #492191 !default;

// Yellow
$ods-yellow-100: #fff6b6 !default;
$ods-yellow-200: #ffe45b !default;
$ods-yellow-300: #ffd200 !default;
$ods-yellow-400: #ffb400 !default;
$ods-yellow-500: #b98f11 !default;
$ods-yellow-600: #9d6e06 !default;
