// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

@if $enable-container-classes {
  // Single container class with breakpoint max-widths
  .container,
  // 100% wide container at all breakpoints
  .container-fluid {
    @include make-container();
  }

  // OUDS mod: `.container-fluid` is not full width in OUDS Web
  .container-fluid {
    @include make-container-fluid-margin();
  }
  // End mod

  // Responsive containers that are 100% wide until a breakpoint
  @each $breakpoint, $container-max-width in $container-max-widths {
    .container-#{$breakpoint} {
      @extend .container-fluid;
    }

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      %responsive-container-#{$breakpoint} {
        max-width: $container-max-width;
      }

      // Extend each breakpoint which is smaller or equal to the current breakpoint
      $extend-breakpoint: true;

      @each $name, $width in $grid-breakpoints {
        @if ($extend-breakpoint) {
          .container#{breakpoint-infix($name, $grid-breakpoints)} {
            @extend %responsive-container-#{$breakpoint};
          }

          // Once the current breakpoint is reached, stop extending
          @if ($breakpoint == $name) {
            $extend-breakpoint: false;
          }
        }
      }
    }
  }

  // OUDS mod
  .max-width-specific-tools {
    @include media-breakpoint-up(3xl) {
      max-width: $ouds-grid-3xl-max-width;
    }
  }

  .max-width-public-website {
    @include media-breakpoint-up(2xl) {
      --#{$prefix}container-margin-x: #{$ouds-grid-2xl-margin};
      max-width: $ouds-grid-2xl-max-width-public-website;

      .row {
        --#{$prefix}gutter-x: #{$ouds-grid-2xl-column-gap};
      }
    }
  }
  // End mod
}
