// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components


// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.


// Colors
//
// Grayscale and brand colors for use across Bootstrap.
// 000 333 666 999 ccc ddd eee f6f6f6 fafafa
$gray-dark:                 #333;
$gray-obs:                  #595959;
$gray:                      #666;
$gray-light:                #999;
$gray-light-o:              #ccc;
$gray-lighter-o:            #ddd;
$gray-lighter:              #eee;
$gray-lightest:             #f6f6f6;
$gray-lightest-o:           #fafafa;

$brand-primary:             #f16e00;
$brand-success:             #32c832;
$brand-info:                #527edb;
$brand-warning:             #fc0;
$brand-danger:              #cd3c14;
$brand-inverse:             #000;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               false;
$enable-rounded:            false;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        false;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer:   1.25rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  )
);
$border-width: 2px;


// Body
//
// Settings for the `<body>` element.

$body-bg:    #fff;
$body-color: #000;


// Links
//
// Style anchor elements.

$link-color:            #000;
$link-decoration:       none !default;
$link-hover-color:      $brand-primary;
$link-hover-decoration: none;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 480px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop (target 1024 screen resolutions)
  lg: 980px,
  // Extra large screen / wide desktop (target 1280 screen resolutions)
  xl: 1220px,
  // Extra large screen / wide desktop (target 1440 screen resolutions)
  xxl: 1380px
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  xs: 312px,
  sm: 468px,
  md: 744px,
  lg: 960px,
  xl: 1200px,
  xxl: 1320px
);

$container-fluid-margin-widths: (
  xs: 1.25%,
  sm: 1.25%,
  md: 1.5625%,
  lg: 3.125%,
  xl: 3.125%,
  xxl: 4.16667%
);

$cols-gutter-widths: (
  xs: 10px,
  sm: 10px,
  md: 20px,
  lg: 20px,
  xl: 20px,
  xxl: 20px
);


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:      12;
$grid-gutter-width: 20px;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "HelvNeueOrange","Helvetica Neue",Helvetica,Arial,-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$font-family-serif:      "HelvNeueOrange","Helvetica Neue",Helvetica,Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 16px;

$font-size-base: 1rem;
$font-size-lg:   1.125rem; // 18px
$font-size-sm:   .875rem; // 14px
$font-size-xs:   .75rem;

$line-height-base: 1.25; // 20px

$font-size-h1:   2.125rem; // 34px
$font-size-h2:   1.875rem; // 30px
$font-size-h3:   1.5rem; // 24px
$font-size-h4:   1.25rem; // 20px
$font-size-h5:   1.125rem; // 18px
$font-size-h6:   1rem; // 16px

$font-size-h1-mobile:   1.25rem; // 20px
$font-size-h2-mobile:   1.125rem; // 18px
$font-size-h3-mobile:   1rem; // 16px
$font-size-h4-mobile:   .875rem; // 14px
$font-size-h5-mobile:   .875rem; // 14px
$font-size-h6-mobile:   .875rem; // 14px

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;

$headings-margin-bottom: $spacer;
$headings-font-family:   inherit;
$headings-font-weight:   700;
$headings-line-height:   1.1;
$headings-color:         inherit;

$lead-font-size:   1.25rem !default;
$lead-font-weight: 300 !default;

$small-font-size: 80% !default;

$text-muted: $gray;

$abbr-border-color: $gray;

$blockquote-small-color:  $gray;
$blockquote-font-size:    ($font-size-base * 1.25);
$blockquote-border-color: $gray-lighter;
$blockquote-border-width: .125rem; // 2px

$hr-border-color: $gray-lighter;
$hr-border-width: ($border-width / 2);

$mark-padding: .2em !default;

$dt-font-weight: bold !default;

$kbd-box-shadow:         none;
$nested-kbd-font-weight: bold !default;

$list-inline-padding: 5px !default;


// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:         (20 / 18);
$line-height-sm:         (20 / 14);

$border-radius:          0;
$border-radius-lg:       0;
$border-radius-sm:       0;

$component-active-color: #fff;
$component-active-bg:    #000;

$caret-width:            .3em !default;
$caret-width-lg:         $caret-width !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:            .671875rem;//11.5px;
$table-sm-cell-padding:         .3125rem;//5px;

$table-bg:                      #fff;
$table-bg-accent:               $gray-lightest;
$table-bg-hover:                $gray-lighter;
$table-bg-active:               $gray-lightest;

$table-border-width:            ($border-width / 2); // 1px
$table-border-color:            $gray-light-o;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-padding-x:                  1.25rem;
$btn-padding-y:                  .625rem;
$btn-line-height:                1;
$btn-font-weight:                bold;
$btn-box-shadow:                 none;
$btn-active-box-shadow:          none;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $btn-primary-bg;
$btn-primary-hover-color:        $btn-primary-color;
$btn-primary-hover-bg:           #000;
$btn-primary-active-color:       $btn-primary-color;
$btn-primary-active-bg:          $btn-primary-bg;

$btn-secondary-color:            #000;
$btn-secondary-bg:               transparent;
$btn-secondary-border:           #ccc !default;

$btn-info-color:                 #fff;
$btn-info-bg:                    #000;
$btn-info-border:                $btn-info-bg;
$btn-info-hover-color:           #000;
$btn-info-hover-bg: #fff;

$btn-success-color:              #000;
$btn-success-bg:                 $brand-success;
$btn-success-border:             $btn-success-bg;

$btn-warning-color:              $btn-primary-color;
$btn-warning-bg:                 $btn-primary-bg;
$btn-warning-border:             $btn-primary-border;

$btn-danger-color:               #fff;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              $btn-danger-bg;

$btn-link-disabled-color:        $gray-light-o;
$btn-link-disabled-black-bg-color: $gray;

$btn-padding-x-sm:               .625rem;
$btn-padding-y-sm:               .375rem;

$btn-padding-x-lg:               1.25rem;
$btn-padding-y-lg:               .875rem;

$btn-block-spacing-y:            .5rem !default;
$btn-toolbar-margin:             .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:              $border-radius;
$btn-border-radius-lg:           $border-radius-lg;
$btn-border-radius-sm:           $border-radius-sm;

// Accordions

$accordion-arrow-icon: url("data:image/svg+xml;charset=utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2014%207%22%3E%3Cpath%20d%3D%22M7%200l7%207H0l7-7z%22%2F%3E%3C%2Fsvg%3E");

// Forms

$input-padding-x:                .625rem;
$input-padding-y:                .5rem;
$input-line-height:              1.25 !default;

$input-bg:                       #fff;
$input-bg-disabled:              $gray-lighter;

$input-color:                    #000;
$input-border-color:             $gray-light-o;
$input-btn-border-width:         $border-width; // For form controls and buttons
$input-box-shadow:               none;

$input-border-radius:            $border-radius;
$input-border-radius-lg:         $border-radius-lg;
$input-border-radius-sm:         $border-radius-sm;

$input-bg-focus:                 $input-bg;
$input-border-focus:             $gray-light;
$input-box-shadow-focus:         none;
$input-color-focus:              $input-color;

$input-color-placeholder:        $gray;

$input-padding-x-sm:             .5rem;
$input-padding-y-sm:             .265625rem;

$input-padding-x-lg:             1.5rem;
$input-padding-y-lg:             .734375rem;

$input-height:                   (($font-size-base * $line-height-base) + ($input-padding-y * 2));
$input-height-lg:                (($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2));
$input-height-sm:                (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2));

$form-group-margin-bottom:       $spacer-y;

$input-group-addon-bg:           #fff;
$input-group-addon-border-color: $input-border-color;

$cursor-disabled:                not-allowed;

$custom-control-gutter:   1.5rem !default;
$custom-control-spacer-x: 1rem !default;
$custom-control-spacer-y: .25rem !default;

$custom-control-indicator-size:       1rem !default;
$custom-control-indicator-bg:         #ddd !default;
$custom-control-indicator-bg-size:    50% 50% !default;
$custom-control-indicator-box-shadow: none;

$custom-control-disabled-cursor:             $cursor-disabled;
$custom-control-disabled-indicator-bg:       #eee !default;
$custom-control-disabled-description-color:  #767676 !default;

$custom-control-checked-indicator-color:      #fff !default;
$custom-control-checked-indicator-bg:         #0074d9 !default;
$custom-control-checked-indicator-box-shadow: none;

$custom-control-focus-indicator-box-shadow: none;

$custom-control-active-indicator-color:      #fff !default;
$custom-control-active-indicator-bg:         #84c6ff !default;
$custom-control-active-indicator-box-shadow: none;

$custom-checkbox-radius: $border-radius;
$custom-checkbox-checked-icon: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") !default;
$custom-checkbox-indeterminate-bg: #0074d9 !default;
$custom-checkbox-indeterminate-icon: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E") !default;
$custom-checkbox-indeterminate-box-shadow: none;

$custom-radio-radius: 50%;
$custom-radio-checked-icon: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E") !default;

$custom-select-padding-x:          .75rem  !default;
$custom-select-padding-y:          .375rem !default;
$custom-select-indicator-padding:  1rem !default; // Extra padding to account for the presence of the background-image based indicator
$custom-select-color:         $input-color !default;
$custom-select-disabled-color: $gray-light !default;
$custom-select-bg:            #fff !default;
$custom-select-disabled-bg:   $gray-lighter !default;
$custom-select-bg-size:       8px 10px !default; // In pixels because image dimensions
$custom-select-indicator:     url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") !default;
$custom-select-border-width:  $input-btn-border-width;
$custom-select-border-color:  $input-border-color !default;
$custom-select-border-radius: $border-radius;

$custom-select-focus-border-color: #51a7e8 !default;
$custom-select-focus-box-shadow:   none;

$custom-select-sm-padding-y: .2rem !default;
$custom-select-sm-font-size: 75% !default;

$custom-file-height:           2.5rem !default;
$custom-file-width:            14rem !default;
$custom-file-focus-box-shadow: none;

$custom-file-padding-x:     .5rem !default;
$custom-file-padding-y:     1rem !default;
$custom-file-line-height:   1.5 !default;
$custom-file-color:         #555 !default;
$custom-file-bg:            #fff !default;
$custom-file-border-width:  $border-width !default;
$custom-file-border-color:  #ddd !default;
$custom-file-border-radius: $border-radius;
$custom-file-box-shadow:    none;
$custom-file-button-color:  $custom-file-color !default;
$custom-file-button-bg:     #eee !default;
$custom-file-text: (
  placeholder: (
    en: "Choose file..."
  ),
  button-label: (
    en: "Browse"
  )
) !default;


// Form validation icons
$form-icon-success: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E") !default;
$form-icon-warning: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E") !default;
$form-icon-danger: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E") !default;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:             160px;
$dropdown-padding-y:             0;
$dropdown-margin-top:            0;
$dropdown-bg:                    #fff;
$dropdown-border-color:          #000;
$dropdown-border-width:          $border-width;
$dropdown-divider-bg:            $gray-lighter;
$dropdown-box-shadow:            none;

$dropdown-link-color:            #000;
$dropdown-link-hover-color:      #fff;
$dropdown-link-hover-bg:         #000;

$dropdown-link-active-color:     #fff;
$dropdown-link-active-bg:        #000;

$dropdown-link-disabled-color:   $gray;

$dropdown-item-padding-x:        $spacer-x;

$dropdown-header-color:          #000;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown-backdrop:  990;
$zindex-navbar:            1000;
$zindex-dropdown:          1000;
$zindex-popover:           1060;
$zindex-tooltip:           1070;
$zindex-navbar-fixed:      1030;
$zindex-navbar-sticky:     1030;
$zindex-modal-bg:          1040;
$zindex-modal:             1050;


// Navbar

$navbar-border-radius:              $border-radius;
$navbar-padding-x:                  $spacer;
$navbar-padding-y:                  ($spacer / 2);
$navbar-brand-padding-y:            1.875rem;

$navbar-dark-color:                 #fff;
$navbar-dark-hover-color:           $brand-primary;
$navbar-dark-active-color:          $navbar-dark-hover-color;
$navbar-dark-disabled-color:        $gray-lighter-o;

$navbar-light-color:                $navbar-dark-color;
$navbar-light-hover-color:          $navbar-dark-hover-color;
$navbar-light-active-color:         $navbar-dark-active-color;
$navbar-light-disabled-color:       $navbar-dark-disabled-color;


// Navs

$nav-item-margin:               .2rem !default;
$nav-item-inline-spacer:        1rem !default;
$nav-link-padding:              ($spacer / 2);
$nav-link-hover-bg:             #000;
$nav-disabled-link-color:       $gray;
$nav-disabled-link-hover-color: $gray;
$nav-disabled-link-hover-bg:    transparent;

$nav-tabs-border-color:                       #000;
$nav-tabs-border-width:                       $border-width;
$nav-tabs-border-radius:                      $border-radius;
$nav-tabs-link-hover-color:                   #fff;
$nav-tabs-link-hover-bg:                      #000;
$nav-tabs-link-hover-border-color:            #000;
$nav-tabs-active-link-hover-color:            #000;
$nav-tabs-active-link-hover-bg:               $body-bg;
$nav-tabs-active-link-hover-border-color:     #000;
$nav-tabs-justified-link-border-color:        #000;
$nav-tabs-justified-active-link-border-color: #000;

$nav-pills-border-radius:     $border-radius;
$nav-pills-active-link-color: $component-active-color;
$nav-pills-active-link-bg:    $component-active-bg;


// Pagination

$pagination-padding-x:                1.25rem;
$pagination-padding-y:                .625rem;
$pagination-padding-x-sm:             .625rem;
$pagination-padding-y-sm:             .3125rem;
$pagination-padding-x-lg:             1.25rem;
$pagination-padding-y-lg:             .75rem;


$pagination-color:                     #000;
$pagination-bg:                        #fff;
$pagination-border-width:              $border-width;
$pagination-border-color:              #000;

$pagination-hover-color:               #fff;
$pagination-hover-bg:                  #000;
$pagination-hover-border:              #000;

$pagination-active-color:              $brand-primary;
$pagination-active-bg:                 #000;
$pagination-active-border:             #000;

$pagination-disabled-color:            $gray;
$pagination-disabled-bg:               #fff;
$pagination-disabled-border:           #000;

$pagination-icon-prev: url("data:image/svg+xml;charset=utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%209%2014%22%3E%3Cpath%20d%3D%22M9%202L7%200%200%207l7%207%202-2-5-5%205-5z%22%2F%3E%3C%2Fsvg%3E") !default;
$pagination-icon-prev-disabled: url("data:image/svg+xml;charset=utf8, %3Csvg%20viewBox%3D%220%200%209%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9%202L7%200%200%207l7%207%202-2-5-5%205-5z%22%20fill%3D%22%23DDD%22%2F%3E%3C%2Fsvg%3E") !default;
$pagination-icon-prev-active: url("data:image/svg+xml;charset=utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%209%2014%22%3E%3Cpath%20d%3D%22M9%202L7%200%200%207l7%207%202-2-5-5%205-5z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E") !default;
$pagination-icon-next: url("data:image/svg+xml;charset=utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%209%2014%22%3E%3Cpath%20d%3D%22M0%202l2-2%207%207-7%207-2-2%205-5-5-5z%22%2F%3E%3C%2Fsvg%3E") !default;
$pagination-icon-next-disabled: url("data:image/svg+xml;charset=utf8, %3Csvg%20viewBox%3D%220%200%209%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%202l2-2%207%207-7%207-2-2%205-5-5-5z%22%20fill%3D%22%23DDD%22%2F%3E%3C%2Fsvg%3E") !default;
$pagination-icon-next-active: url("data:image/svg+xml;charset=utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%209%2014%22%3E%3Cpath%20d%3D%22M0%202l2-2%207%207-7%207-2-2%205-5-5-5z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E") !default;

// Jumbotron

$jumbotron-padding:              $spacer;
$jumbotron-bg:                   #fff;


// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.

$state-success-text:             #000;
$state-success-bg:               $brand-success;
$state-success-border:           $brand-success;

$state-info-text:                #000;
$state-info-bg:                  $brand-info;
$state-info-border:              $brand-info;

$state-warning-text:             #000;
$state-warning-bg:               $brand-warning;
$mark-bg:                        $state-warning-bg;
$state-warning-border:           $brand-warning;

$state-danger-text:              #fff;
$state-danger-bg:                $brand-danger;
$state-danger-border:            $brand-danger;


// Cards
$card-spacer-x:            1.25rem !default;
$card-spacer-y:            .75rem !default;
$card-border-width:        $border-width;
$card-border-radius:       $border-radius;
$card-border-color:        #000;
$card-border-radius-inner: $card-border-radius;
$card-cap-bg:              $gray-lightest;
$card-bg:                  #fff;

$card-link-hover-color:    #fff;

$card-img-overlay-padding: 1.25rem;

$card-deck-margin:         $spacer;

$card-columns-sm-up-column-gap: $spacer;


// Tooltips

$tooltip-max-width:           200px;
$tooltip-color:               #000;
$tooltip-bg:                  $gray-lighter-o;
$tooltip-opacity:             .9;
$tooltip-padding-y:           ($spacer / 2);
$tooltip-padding-x:           ($spacer / 2);
$tooltip-margin:              5px;
$tooltip-font-weight:         bold;

$tooltip-arrow-width:         5px;
$tooltip-arrow-color:         $tooltip-bg;


// Popovers

$popover-inner-padding:               1px !default;
$popover-bg:                          $gray-lighter-o;
$popover-max-width:                   276px;
$popover-border-width:                $border-width;
$popover-border-color:                $gray-lighter-o;
$popover-box-shadow:                  none;
$popover-font-weight:                 bold;

$popover-title-bg:                    $popover-bg;
$popover-title-padding-x:             10px;
$popover-title-padding-y:             10px;

$popover-content-padding-x:           10px;
$popover-content-padding-y:           10px;

$popover-arrow-width:                 10px;
$popover-arrow-color:                 $popover-bg;

$popover-arrow-outer-width:           ($popover-arrow-width + 1px);
$popover-arrow-outer-color:           $popover-border-color;


// Tags

$tag-default-bg:            $gray-light-o;
$tag-primary-bg:            $brand-primary;
$tag-success-bg:            $brand-success;
$tag-info-bg:               $brand-info;
$tag-warning-bg:            $brand-warning;
$tag-danger-bg:             $brand-danger;

$tag-color:                 #000;
$tag-link-hover-color:      $brand-primary;
$tag-font-size:             75% !default;
$tag-font-weight:           bold;
$tag-padding-x:             .4em !default;
$tag-padding-y:             .25em !default;

$tag-pill-padding-x:        .6em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$tag-pill-border-radius:    $border-radius;

// Modals

// Padding applied to the modal body
$modal-inner-padding:         10px;

$modal-dialog-margin:         10px;
$modal-dialog-sm-up-margin-y: 30px;

$modal-title-padding:         10px;
$modal-title-line-height:     $line-height-base;

$modal-content-bg:               #fff;
$modal-content-border-color:     #000;
$modal-content-border-width:     $border-width;
$modal-content-xs-box-shadow:    none;
$modal-content-sm-up-box-shadow: none;

$modal-backdrop-bg:           #fff;
$modal-backdrop-opacity:      .5;
$modal-header-border-color:   #000;
$modal-footer-border-color:   $modal-header-border-color;
$modal-header-border-width:   $modal-content-border-width;
$modal-footer-border-width:   $modal-header-border-width;

$modal-lg:                    900px;
$modal-md:                    600px;
$modal-sm:                    300px;


// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding:               15px;
$alert-border-radius:         $border-radius;
$alert-link-font-weight:      bold;
$alert-border-width:          $border-width;

$alert-success-bg:            $brand-success;
$alert-success-text:          #000;
$alert-success-border:        $brand-success;

$alert-info-bg:               $brand-info;
$alert-info-text:             #000;
$alert-info-border:           $brand-info;

$alert-warning-bg:            $brand-warning;
$alert-warning-text:          #000;
$alert-warning-border:        $brand-warning;

$alert-danger-bg:             $brand-danger;
$alert-danger-text:           #fff;
$alert-danger-border:         $brand-danger;


// Progress bars

$progress-bg:                 $gray-light-o;
$progress-bar-color:          #000;
$progress-border-radius:      $border-radius;
$progress-box-shadow:         none;

$progress-bar-bg:             $brand-primary;
$progress-bar-success-bg:     $brand-success;
$progress-bar-warning-bg:     $brand-warning;
$progress-bar-danger-bg:      $brand-danger;
$progress-bar-info-bg:        $brand-info;


// List group

$list-group-bg:                 #fff;
$list-group-border-color:       #000;
$list-group-border-width:       $border-width;
$list-group-border-radius:      $border-radius;

$list-group-hover-bg:           $gray-lightest;
$list-group-active-color:       $component-active-color;
$list-group-active-bg:          $component-active-bg;
$list-group-active-border:      $list-group-active-bg;
$list-group-active-text-color:  $list-group-active-color;

$list-group-disabled-color:      $gray-light-o;
$list-group-disabled-bg:         #fff;
$list-group-disabled-text-color: $list-group-disabled-color;

$list-group-link-color:         #000;
$list-group-link-hover-color:   $brand-primary;
$list-group-link-heading-color: #000;

$list-group-item-padding-x:             .625rem;
$list-group-item-padding-y:             .625rem;
$list-group-item-heading-margin-bottom: 0;


// Image thumbnails

$thumbnail-padding:           .625rem;
$thumbnail-bg:                $body-bg;
$thumbnail-border-width:      $border-width;
$thumbnail-border-color:      #000;
$thumbnail-border-radius:     $border-radius;
$thumbnail-box-shadow:        none;


// Figures

$figure-caption-font-size: 90%;


// Breadcrumbs

$breadcrumb-padding-y:          .625rem;
$breadcrumb-padding-x:          .9375rem;
$breadcrumb-item-padding:       .625rem;

$breadcrumb-bg:                 #fff;
$breadcrumb-divider-color:      #000;
$breadcrumb-active-color:       $brand-primary;
$breadcrumb-font-family:        "icon-orange";
$breadcrumb-divider:            "\e93e";
$breadcrumb-divider-font-size:  .625rem;
$breadcrumb-font-size:          $font-size-sm;
$breadcrumb-line-height:        $line-height-sm;

// Media objects

$media-margin-top:            15px !default;
$media-heading-margin-bottom:  5px !default;
$media-alignment-padding-x:   10px !default;


// Carousel

$carousel-text-shadow:                        none;

$carousel-control-color:                      #000;
$carousel-control-width:                      1.875rem;
$carousel-control-sm-up-size:                 20px;
$carousel-control-opacity:                    .5;
$carousel-control-font-size:                  $font-size-lg;

$carousel-indicators-width:                   60%;

$carousel-indicator-size:                     10px;
$carousel-indicator-active-size:              16px;
$carousel-indicator-active-bg:                $brand-primary;
$carousel-indicator-border-color:             #000;

$carousel-caption-width:                      70%;
$carousel-caption-sm-up-width:                60%;
$carousel-caption-color:                      #000;

$carousel-icon-width:                         20px;
// Close

$close-font-weight:           bold;
$close-color:                 #000;
$close-text-shadow:           0 1px 0 #fff;


// Code

$code-font-size:              90%;
$code-padding-x:              .0625rem;
$code-padding-y:              .0625rem;
$code-color:                  $gray-dark;
$code-bg:                     $gray-lightest;

$kbd-color:                   #000;
$kbd-bg:                      $gray-lighter;

$pre-bg:                      $gray-lightest;
$pre-color:                   $gray-dark;
$pre-border-color:            $gray-light-o;
$pre-scrollable-max-height:   340px;
























//////// BOOSTED SPECIFIC ////////



// Typography
//
// Font, line-height, and color for body text, headings, and more.

// Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
// For REM size


// Iconography
//
// Load fonts from this directory.
$icon-font-path:          "../fonts/";


// Components
//
// Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
// for REM size
$padding-base-vertical: .625rem;//10px;
$padding-base-horizontal: 1.25rem; //20px
$padding-large-vertical: .75rem;//12px;
$padding-large-horizontal: 1.25rem;//20px;
$padding-small-vertical: .3125rem;//5px;
$padding-small-horizontal: .625rem;//10px;


// o-scroll-up
//
//
$o-scroll-up-height: 1.875rem; //30px
$o-scroll-up-width: $o-scroll-up-height; // 30px
$o-scroll-up-font-size: 1.25rem; // 20px

// Navbar
//
//

// Basics of a navbar
//$navbar-height - $element-height
// for REM size
$navbar-height:                    6.25rem;
$navbar-height-sm: 3.125rem;
$navbar-font-size:                 1.125rem;
$navbar-border-radius:             $border-radius;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
$navbar-toggle-vertical-margin:    2.875rem;
// For REM size
$navbar-padding-vertical:          .625rem;//(($navbar-height - 1) / 2); //1.5 rem


// supra navbar
$navbar-supra-height: 2.5rem;

// Mega-Menu
//
//

$megamenu-border:                   1px solid $gray-dark;
$megamenu-hover-color:              $brand-primary;
$megamenu-position:                 fixed;

// Navs
//

// Tabs



// Pills
$nav-pills-focus-link-bg: $brand-primary;
$nav-pills-focus-link-color: #fff;


// Local navigation
$nav-local-arrow-color: #fff;
$nav-local-arrow-width: 10px;
$nav-local-border-color: $gray-light-o;

$nav-local-arrow-outer-width:           ($nav-local-arrow-width + 1);
// $nav-local-arrow-outer-color:           fadein($nav-local-border-color, 0%);
$nav-local-arrow-outer-color:           $nav-local-border-color;

// Step process bar
$o-stepbar-height: 2.5rem;
$o-stepbar-arrow-width: 1rem;
$o-stepbar-arrow-ratio: 3 / 8;

$o-stepbar-mobile-padding-vertical: .4375rem;
$o-stepbar-mobile-arrow-width: .75rem;
$o-stepbar-mobile-arrow-height: 1.875rem;

// Pagination
//
//
$pagination-width: 2.5rem;
$pagination-width-lg: 3.75rem;
$pagination-width-sm: 1.875rem;


//surcharge et custo for mixins

// convert px to rem unit for calculation
@function rem($pixels) {
  @return #{$pixels / 10}rem;
}


// Navbar vertical align
//
// Vertically center elements in the navbar.
// Example: an element has a height of 30px, so write out `@include navbar-vertical-align(30px);` to calculate the appropriate top margin.
// rewrite the Bootstrap mixin to align element at the bottom

// Remove all shadows
@mixin box-shadow($shadow) {
  box-shadow: none;
}

// focus state mixin
@mixin focus {
  &:focus { @content }
}

@mixin active {
  &:active { @content }
}
