$ods-white:    #fff !default;
$ods-gray-100: #fafafa !default;
$ods-gray-200: #f6f6f6 !default;
$ods-gray-300: #eee !default;
$ods-gray-400: #ddd !default;
$ods-gray-500: #ccc !default;
$ods-gray-600: #999 !default;
$ods-gray-700: #666 !default;
$ods-gray-800: #595959 !default;
$ods-gray-900: #333 !default;
$ods-black:    #000 !default;

$ods-accessible-orange: #f16e00 !default;
$ods-brand-orange:      #ff7900 !default;
$ods-functional-green:  #32c832 !default;
$ods-functional-blue:   #527edb !default;
$ods-functional-yellow: #fc0 !default;
$ods-functional-red:    #cd3c14 !default;
$ods-supporting-blue:   #4bb4e6 !default;
$ods-supporting-yellow: #ffd200 !default;
$ods-supporting-green:  #50be87 !default;
$ods-supporting-purple: #a885d8 !default;
$ods-supporting-pink:   #ffb4e6 !default;
