.footer {
  > * {
    --#{$prefix}footer-part-gap: null;
    --#{$prefix}footer-part-padding-top: null;
    --#{$prefix}footer-part-padding-bottom: null;
    --#{$prefix}footer-part-title-margin-bottom: null;
    --#{$prefix}footer-part-title-font-size: #{$footer-font-size-md};
    --#{$prefix}footer-part-title-font-weight: #{$font-weight-bold};
    --#{$prefix}footer-part-title-line-height: #{$footer-line-height-md};
    --#{$prefix}footer-part-title-letter-spacing: #{$footer-letter-spacing};
    --#{$prefix}navbar-nav-font-size: #{$footer-font-size-sm};
    --#{$prefix}navbar-nav-line-height: #{$footer-line-height-sm};
    --#{$prefix}navbar-nav-letter-spacing: #{$footer-letter-spacing};

    padding-top: var(--#{$prefix}footer-part-padding-top);
    padding-bottom: var(--#{$prefix}footer-part-padding-bottom);

    .footer-heading {
      margin-bottom: var(--#{$prefix}footer-part-title-margin-bottom);
      font-size: var(--#{$prefix}footer-part-title-font-size);
      font-weight: var(--#{$prefix}footer-part-title-font-weight);
      line-height: var(--#{$prefix}footer-part-title-line-height);
      letter-spacing: var(--#{$prefix}footer-part-title-letter-spacing);
      white-space: nowrap;
    }
  }

  .navbar-nav {
    --#{$prefix}nav-link-padding-x: 0;
    --#{$prefix}nav-link-padding-y: 0;
    --#{$prefix}nav-link-font-weight: #{$font-weight-bold};

    flex-wrap: wrap;
    gap: var(--#{$prefix}footer-part-gap);

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    .nav-link {
      display: flex;
      align-items: center;
      outline-offset: map-get($spacers, 1);

      &.active::before {
        content: unset;
      }
    }
  }
}

.footer-title-content {
  --#{$prefix}footer-part-padding-top: #{$footer-title-content-padding-top};
  --#{$prefix}footer-part-padding-bottom: #{$footer-title-content-padding-bottom};
  --#{$prefix}footer-part-title-margin-bottom: #{$footer-title-margin-bottom};

  @include media-breakpoint-up(md) {
    --#{$prefix}footer-part-padding-bottom: #{$footer-title-content-padding-bottom-md};
  }
}

.footer-social {
  --#{$prefix}footer-part-padding-top: #{$footer-social-padding-top};
  --#{$prefix}footer-part-padding-bottom: #{$footer-social-padding-bottom};
  --#{$prefix}footer-part-title-margin-bottom: #{$footer-title-margin-bottom};

  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    --#{$prefix}footer-part-padding-top: #{$footer-social-padding-top-md};
    --#{$prefix}footer-part-title-margin-bottom: #{$footer-social-title-margin-bottom-md};
    --#{$prefix}footer-part-title-font-size: #{$footer-font-size-sm};
    --#{$prefix}footer-part-title-line-height: #{$footer-line-height-sm};

    flex-direction: row;
    align-items: center;
  }
}

.footer-nav {
  --#{$prefix}footer-part-gap: #{$footer-gap-xl};
  --#{$prefix}accordion-btn-font-size: #{$footer-font-size-sm};
  --#{$prefix}accordion-btn-line-height: #{$footer-accordion-line-height};
  --#{$prefix}accordion-btn-letter-spacing: #{$footer-letter-spacing};
  --#{$prefix}navbar-nav-padding-top: #{$footer-nav-list-padding-top};
  --#{$prefix}navbar-nav-padding-bottom: #{$footer-nav-list-padding-bottom};

  @include media-breakpoint-down(md) {
    max-width: unset;
    padding: 0;

    .row {
      --#{$prefix}gutter-x: 0;
    }
  }

  @include media-breakpoint-up(md) {
    --#{$prefix}footer-part-gap: #{$footer-gap};
    --#{$prefix}footer-part-padding-top: #{$footer-nav-padding-top};
    --#{$prefix}footer-part-padding-bottom: #{$footer-nav-list-padding-bottom-md};
    --#{$prefix}footer-part-title-margin-bottom: #{$spacer};
    --#{$prefix}accordion-border-width: 0;
    --#{$prefix}navbar-nav-padding-top: #{$footer-nav-list-padding-top-md};
    --#{$prefix}navbar-nav-padding-bottom: null;
    --#{$prefix}navbar-nav-font-size: #{$footer-font-size-md};
    --#{$prefix}navbar-nav-line-height: #{$footer-line-height-md};

    .accordion-collapse {
      display: flex;
      padding-left: 0;
    }

    .accordion-button::after {
      content: unset;
    }

    .navbar-nav {
      flex-direction: column;
    }
  }

  @include media-breakpoint-up(lg) {
    --#{$prefix}footer-part-padding-bottom: #{$footer-nav-list-padding-bottom-lg};
  }

  .footer-column:first-of-type .accordion-header:first-of-type,
  .accordion .accordion-item {
    --#{$prefix}accordion-border-width: 0;
  }

  .accordion-button::after {
    margin-right: 0;
  }
}

.footer-service {
  --#{$prefix}footer-part-padding-top: #{subtract($footer-service-padding-y, .0625rem)};
  --#{$prefix}footer-part-padding-bottom: #{$footer-service-padding-y};

  @include media-breakpoint-up(md) {
    --#{$prefix}footer-part-padding-top: #{add($footer-service-padding-y-md, .0625rem)};
    --#{$prefix}footer-part-padding-bottom: #{$footer-service-padding-y-md};
  }

  .nav-link > span {
    padding-top: $footer-service-link-padding-top;
  }
}

.footer-terms {
  --#{$prefix}footer-part-padding-top: #{$footer-terms-padding-top};
  --#{$prefix}footer-part-padding-bottom: #{$footer-terms-padding-bottom};
  --#{$prefix}footer-part-gap: #{$footer-gap-xl};

  @include media-breakpoint-up(md) {
    --#{$prefix}footer-part-padding-top: #{$footer-terms-padding-y-md};
    --#{$prefix}footer-part-padding-bottom: #{$footer-terms-padding-y-md};
  }
}
