//
// Base styles
//

.item {
  display: block;
  background-color: var(--#{$prefix}list-item-outlined-bg, var(--#{$prefix}list-item-bg, $ouds-color-action-support-enabled));
  border: var(--#{$prefix}list-item-border-width, 0) solid var(--#{$prefix}list-item-border-color, $ouds-color-border-default);
  border-bottom-width: var(--#{$prefix}list-item-border-width, $ouds-control-item-border-width-default);

  &.item-interactive:focus-visible,
  &:has(.item-interactive:focus-visible) {
    @include focus-visible();
  }
}

.item-main {
  display: flex;
  column-gap: $ouds-control-item-space-column-gap;
  align-items: var(--#{$prefix}list-item-align-items, center);
  min-height: var(--#{$prefix}list-item-min-height, $ouds-control-item-size-min-height-default);
  padding: calc(var(--#{$prefix}list-item-padding-top, $ouds-control-item-space-padding-block-density-default) - var(--#{$prefix}list-item-border-width, 0px)) calc($ouds-control-item-space-padding-inline - var(--#{$prefix}list-item-border-width, 0px)) calc(var(--#{$prefix}list-item-padding-bottom, $ouds-control-item-space-padding-block-density-default) - var(--#{$prefix}list-item-border-width, $ouds-control-item-border-width-default));
}

.item-list,
.item-wrapper,
.item {
  &.component-max-width {
    max-width: px-to-rem($ouds-control-item-size-max-width);
  }
}

// Building blocks
.item > .item-slot {
  width: calc(100% - $ouds-control-item-space-padding-inline * 2);
  min-height: $ouds-control-item-size-asset-medium;
  margin: 0 $ouds-control-item-space-padding-inline 16px; // TODO: Add token when available
}

.item-text-container .item-slot {
  width: 100%;
  margin-top: 4px; // TODO: Add token when available
  margin-bottom: 4px; // TODO: Add token when available

  &:last-child:not(:only-child) {
    margin-top: $ouds-control-item-space-padding-block-default;
    margin-bottom: $ouds-control-item-space-padding-block-bottom-slot;
  }
}

.item-leading-container,
.item-trailing-container {
  &.item-slot {
    max-width: 96px; // TODO: Add token when available
    height: unset;
    max-height: 96px; // TODO: Add token when available
    aspect-ratio: unset;
    padding: 5px;
    margin: -5px; // Workaround to handle focus outline correctly
  }
}

.item-slot-clickable {
  position: relative;
  z-index: 2;
}

.item-leading-container {
  flex-shrink: 0;
  height: var(--#{$prefix}list-item-leading-container-size, $ouds-control-item-size-asset-medium);
  aspect-ratio: 1;
  overflow: hidden;
  color: $ouds-color-content-default;
  @include border-radius(var(--#{$prefix}list-item-leading-container-border-radius, $ouds-control-item-border-radius-media), var(--#{$prefix}list-item-leading-container-border-radius, $ouds-control-item-border-radius-media));
}

.item-text-container {
  flex-grow: 1;
  row-gap: var(--#{$prefix}list-item-container-row-gap, $ouds-control-item-space-row-gap);
  align-items: var(--#{$prefix}list-item-align-items, center);
}

.item-trailing-container {
  flex-shrink: 0;
  row-gap: var(--#{$prefix}list-item-container-row-gap, $ouds-control-item-space-row-gap);
  align-items: var(--#{$prefix}list-item-align-items, center);
  min-height: $ouds-control-item-size-asset-medium;
  white-space: nowrap;
}

.item-overline {
  display: block;
  margin-bottom: 0;
  @include get-font-size("label-small");
  font-weight: $ouds-font-weight-web-label-moderate;
  color: $ouds-color-content-muted;
}

.item-label {
  display: block;
  margin-bottom: 0;
  @include get-font-size("label-large");
  font-weight: $ouds-font-weight-web-label-default;
  color: $ouds-color-content-default;
}

.item-extra-label {
  display: block;
  margin-bottom: 0;
  @include get-font-size("label-medium");
  font-weight: $ouds-font-weight-web-label-strong;
  color: $ouds-color-content-default;
}

.item-description {
  display: block;
  margin-bottom: 0;
  @include get-font-size("label-medium");
  font-weight: $ouds-font-weight-web-label-default;
  color: $ouds-color-content-muted;
}

.item-helper {
  display: block;
  padding: $ouds-control-item-space-padding-block-top-helper-text $ouds-control-item-space-padding-inline 0;
  margin-bottom: 0;
  font-weight: $ouds-font-weight-web-label-default;
  color: $ouds-color-content-muted;
  @include get-font-size("label-medium");
}

.item-interactive {
  text-decoration: none;

  &::before {
    position: absolute;
    inset: 0;
    z-index: 1;
    content: "";
  }

  &,
  &:hover,
  &:focus-visible,
  &:active {
    color: $ouds-color-content-default;
    outline: 0;
    box-shadow: none;
  }
}

.item-icon {
  position: relative;
  width: 100%;
  height: 100%;

  &::before {
    position: absolute;
    inset: 0;
    content: "";
    background-color: var(--#{$prefix}list-item-icon-color);
    mask: var(--#{$prefix}list-item-icon) center / contain no-repeat;
  }

  &::after {
    position: absolute;
    inset: 0;
    content: "";
    background-color: var(--#{$prefix}list-item-icon-color-internal);
    mask: var(--#{$prefix}list-item-icon-internal) center / contain no-repeat;
  }
}

// Variants
.item-list {
  --#{$prefix}list-item-border-radius: 0px;
  --#{$prefix}list-item-bg: transparent;

  @include list-unstyled();
  padding: 5px; // Workaround to handle focus outline correctly
  margin: -5px;
}

.use-rounded-corner-item {
  --#{$prefix}list-item-border-radius: #{$ouds-control-item-border-radius-rounded};
}

.item-bg {
  --#{$prefix}list-item-bg: #{$ouds-color-action-support-enabled};
}

.item-no-bg {
  --#{$prefix}list-item-bg: transparent;
}

.item-no-divider {
  --#{$prefix}list-item-border-width: 0px;
}

.item-outlined {
  --#{$prefix}list-item-outlined-bg: transparent;
  --#{$prefix}list-item-border-width: #{$ouds-control-item-border-width-default};
  --#{$prefix}list-item-border-width: var(--#{$prefix}list-item-arrow-color);
}

.item-top {
  --#{$prefix}list-item-align-items: flex-start;
  --#{$prefix}list-item-padding-top: var(--#{$prefix}list-item-counterweight-padding-top, #{$ouds-control-item-space-padding-block-density-default-top-alignment-top-counterweight});

  .item-text-container { // TODO: CSS variable here or keep it like that ?
    margin-top: var(--#{$prefix}list-item-text-container-margin-top, $ouds-control-item-space-padding-block-density-default-top-alignment-top-text-container);
  }
}

.item-leading-large {
  --#{$prefix}list-item-leading-container-size: #{$ouds-control-item-size-asset-large};
}

.item-leading-xlarge {
  --#{$prefix}list-item-leading-container-size: #{$ouds-control-item-size-asset-xlarge};
}

.item-leading-rounded {
  --#{$prefix}list-item-leading-container-border-radius: #{$ouds-control-item-border-radius-media-rounded-corner};
}

.item-trailing-large {
  --#{$prefix}list-item-trailing-container-size: #{$ouds-control-item-size-asset-large};
}

.item-trailing-xlarge {
  --#{$prefix}list-item-trailing-container-size: #{$ouds-control-item-size-asset-xlarge};
}

.item-trailing-rounded {
  --#{$prefix}list-item-trailing-container-border-radius: #{$ouds-control-item-border-radius-media-rounded-corner};
}

.item-status-positive {
  --#{$prefix}list-item-icon: #{$alert-icon-success};
  --#{$prefix}list-item-icon-color: #{$ouds-color-content-status-positive};
}

.item-status-info {
  --#{$prefix}list-item-icon: #{$alert-icon-info};
  --#{$prefix}list-item-icon-color: #{$ouds-color-content-status-info};
}

.item-status-warning {
  --#{$prefix}list-item-icon: #{$alert-icon-warning-external};
  --#{$prefix}list-item-icon-color: var(--#{$prefix}icon-color-content-status-warning-external-shape);
  --#{$prefix}list-item-icon-internal: #{$alert-icon-warning-internal};
  --#{$prefix}list-item-icon-color-internal: var(--#{$prefix}icon-color-content-status-warning-internal-shape);
}

.item-status-negative {
  --#{$prefix}list-item-icon: #{$alert-icon-important};
  --#{$prefix}list-item-icon-color: #{$ouds-color-content-status-negative};
}

.item-small {
  --#{$prefix}list-item-min-height: #{$ouds-control-item-size-min-height-compact};
  --#{$prefix}list-item-padding-top: #{$ouds-control-item-space-padding-block-density-compact};
  --#{$prefix}list-item-counterweight-padding-top: #{$ouds-control-item-space-padding-block-density-compact-top-alignment-top-counterweight};
  --#{$prefix}list-item-padding-bottom: #{$ouds-control-item-space-padding-block-density-compact};
  --#{$prefix}list-item-container-row-gap: 0;
  --#{$prefix}list-item-text-container-margin-top: #{$ouds-control-item-space-padding-block-density-compact-top-alignment-top-text-container};
  --#{$prefix}list-item-leading-container-size: #{$ouds-control-item-size-asset-small};
}


//
// Navigation specific styles
//

.item-navigation {
  position: relative;

  .item-main::after {
    display: flex;
    width: $ouds-control-item-size-asset-small;
    min-height: $ouds-control-item-size-asset-medium;
    content: "";
    background-color: var(--#{$prefix}list-item-chevron-color, $ouds-link-color-chevron-enabled);
    mask-image: $list-item-next-icon;
    mask-position: center;
  }

  &.item-external-link,
  &:has(.item-external-link) {
    .item-main::after {
      mask-image: $list-item-external-icon;
    }
  }

  &.item-previous,
  &:has(.item-previous) {
    .item-main::after {
      order: -1;
      mask-image: $list-item-previous-icon;
    }
  }

  &.item-interactive:hover,
  &:has(.item-interactive:hover) {
    --#{$prefix}list-item-chevron-color: #{$ouds-color-action-hover};
    --#{$prefix}list-item-bg: #{$ouds-color-action-support-hover};

    &.item-outlined {
      --#{$prefix}list-item-border-color: #{$ouds-color-action-hover};
    }
  }

  &.item-interactive:focus-visible,
  &:has(.item-interactive:focus-visible) {
    --#{$prefix}list-item-chevron-color: #{$ouds-color-action-focus};
    --#{$prefix}list-item-bg: #{$ouds-color-action-support-focus};

    &.item-outlined {
      --#{$prefix}list-item-border-color: #{$ouds-color-action-focus};
    }
  }

  &.item-interactive:active,
  &:has(.item-interactive:active) {
    --#{$prefix}list-item-chevron-color: #{$ouds-color-action-pressed};
    --#{$prefix}list-item-bg: #{$ouds-color-action-support-pressed};

    &.item-outlined {
      --#{$prefix}list-item-border-color: #{$ouds-color-action-pressed};
    }
  }
}

// TODO
@if $enable-bootstrap-compatibility {
  .list-group {
    display: block;
  }
}
