// Base class
//
// Easily usable on <ul>, <ol>, or <div>.

.list-group {
  // scss-docs-start list-group-css-vars
  --#{$prefix}list-group-color: #{$list-group-color};
  --#{$prefix}list-group-bg: #{$list-group-bg};
  --#{$prefix}list-group-font-weight: #{$list-group-font-weight}; // Boosted mod
  --#{$prefix}list-group-border-color: #{$list-group-border-color};
  --#{$prefix}list-group-border-width: #{$list-group-border-width};
  --#{$prefix}list-group-border-radius: #{$list-group-border-radius};
  --#{$prefix}list-group-item-padding-x: #{$list-group-item-padding-x};
  --#{$prefix}list-group-item-padding-y: #{$list-group-item-padding-y};
  --#{$prefix}list-group-item-icon-margin-x: #{$list-group-item-icon-margin-x}; // Boosted mod
  --#{$prefix}list-group-item-icon-size: #{$list-group-item-icon-size}; // Boosted mod
  --#{$prefix}list-group-action-color: #{$list-group-action-color};
  --#{$prefix}list-group-action-hover-color: #{$list-group-action-hover-color};
  --#{$prefix}list-group-action-hover-bg: #{$list-group-hover-bg};
  --#{$prefix}list-group-action-active-color: #{$list-group-action-active-color};
  --#{$prefix}list-group-action-active-bg: #{$list-group-action-active-bg};
  --#{$prefix}list-group-disabled-color: #{$list-group-disabled-color};
  --#{$prefix}list-group-disabled-bg: #{$list-group-disabled-bg};
  --#{$prefix}list-group-active-color: #{$list-group-active-color};
  --#{$prefix}list-group-active-bg: #{$list-group-active-bg};
  --#{$prefix}list-group-active-border-color: #{$list-group-active-border-color};
  // scss-docs-end list-group-css-vars

  display: flex;
  flex-direction: column;

  // No need to set list-style: none; since .list-group-item is block level
  padding-left: 0; // reset padding because ul and ol
  margin-bottom: 0;
  @include border-radius(var(--#{$prefix}list-group-border-radius));

  // Boosted mod: specific badge for list-group
  .badge {
    --#{$prefix}badge-padding: .125rem .375rem;
    --#{$prefix}badge-font-size: .875rem;
  }
}

.list-group-numbered {
  list-style-type: none;
  counter-reset: section;

  > .list-group-item::before {
    margin-right: subtract(var(--#{$prefix}list-group-item-padding-x), .0625rem); // Boosted mod

    // Increments only this instance of the section counter
    content: counters(section, ".") ". ";
    counter-increment: section;
  }
}

// Interactive list items
//
// Use anchor or button elements instead of `li`s or `div`s to create interactive
// list items. Includes an extra `.active` modifier class for selected items.

.list-group-item-action {
  width: 100%; // For `<button>`s (anchors become 100% by default though)
  color: var(--#{$prefix}list-group-action-color);
  text-align: inherit; // For `<button>`s (anchors inherit)

  // Boosted mod: default focus
  // Hover state
  &:hover{
    z-index: 1; // Place hover/focus items above their siblings for proper border styling
    color: var(--#{$prefix}list-group-action-hover-color);
    text-decoration: none;
    background-color: var(--#{$prefix}list-group-action-hover-bg);
  }

  &:active {
    color: var(--#{$prefix}list-group-action-active-color);
    background: var(--#{$prefix}list-group-action-active-bg); // Boosted mod: bg over bg-color
  }
}

// Individual list items
//
// Use on `li`s or `div`s within the `.list-group` parent.

.list-group-item {
  position: relative;
  display: block;
  padding: var(--#{$prefix}list-group-item-padding-y) var(--#{$prefix}list-group-item-padding-x) add(var(--#{$prefix}list-group-item-padding-y), 1px); // Boosted mod
  font-weight: var(--#{$prefix}list-group-font-weight); // Boosted mod
  color: var(--#{$prefix}list-group-color);
  text-decoration: if($link-decoration == none, null, none);
  background-color: var(--#{$prefix}list-group-bg);
  border: var(--#{$prefix}list-group-border-width) solid var(--#{$prefix}list-group-border-color);
  border-bottom-width: calc(var(--#{$prefix}list-group-border-width) / 2); // stylelint-disable-line function-disallowed-list

  &:first-child {
    @include border-top-radius(inherit);
  }

  &:last-child {
    border-bottom-width: var(--#{$prefix}list-group-border-width); // Boosted mod
    @include border-bottom-radius(inherit);
  }

  &.disabled,
  &:disabled {
    color: var(--#{$prefix}list-group-disabled-color);
    pointer-events: none;
    background-color: var(--#{$prefix}list-group-disabled-bg);
  }

  // Include both here for `<a>`s and `<button>`s
  &.active {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: var(--#{$prefix}list-group-active-color);
    background: var(--#{$prefix}list-group-active-bg); // Boosted mod: bg over bg-color
    border-color: var(--#{$prefix}list-group-active-border-color);
  }

  // stylelint-disable-next-line scss/selector-no-redundant-nesting-selector
  & + .list-group-item {
    border-top-width: 0;

    &.active { // Boosted mod: border-width of 1px instead of 2px.
      margin-top: calc(-1 * var(--#{$prefix}list-group-border-width) / 2); // stylelint-disable-line function-disallowed-list
      border-top-width: calc(var(--#{$prefix}list-group-border-width) / 2); // stylelint-disable-line function-disallowed-list
    }
  }

  // Boosted mod: focus
  &:focus {
    &[data-focus-visible-added] {
      outline-offset: subtract(-$focus-visible-outer-width, var(--#{$prefix}list-group-border-width));
      box-shadow: inset 0 0 0 add($focus-visible-inner-width, $focus-visible-outer-width) var(--#{$prefix}focus-visible-inner-color);

      &.active {
        outline-color: var(--#{$prefix}focus-visible-inner-color);
        box-shadow: inset 0 0 0 add($focus-visible-inner-width, $focus-visible-outer-width) var(--#{$prefix}focus-visible-outer-color);
      }
    }
  }
  // End mod
}

// Horizontal
//
// Change the layout of list group items from vertical (default) to horizontal.

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .list-group-horizontal#{$infix} {
      flex-direction: row;

      > .list-group-item {
        // Boosted mod: remove default border-width
        border-right-width: calc(var(--#{$prefix}list-group-border-width) / 2); // stylelint-disable-line function-disallowed-list
        border-bottom-width: var(--#{$prefix}list-group-border-width);
        // End mod

        &:first-child {
          @include border-bottom-start-radius(var(--#{$prefix}list-group-border-radius));
          @include border-top-end-radius(0);
        }

        &:last-child {
          border-right-width: var(--#{$prefix}list-group-border-width); // Boosted mod
          @include border-top-end-radius(var(--#{$prefix}list-group-border-radius));
          @include border-bottom-start-radius(0);
        }

        &.active {
          margin-top: 0;
        }

        + .list-group-item {
          border-top-width: var(--#{$prefix}list-group-border-width);
          border-left-width: 0;

          &.active { // Boosted mod: border-width between is of 1px instead of 2px
            margin-left: calc(-1 * var(--#{$prefix}list-group-border-width) / 2); // stylelint-disable-line function-disallowed-list
            border-left-width: calc(var(--#{$prefix}list-group-border-width) / 2); // stylelint-disable-line function-disallowed-list
          }
        }
      }
    }
  }
}


// Flush list items
//
// Remove borders and border-radius to keep list group items edge-to-edge. Most
// useful within other components (e.g., cards).

.list-group-flush {
  // stylelint-disable-next-line function-disallowed-list
  border-top: calc(var(--#{$prefix}list-group-border-width) / 2) solid var(--#{$prefix}list-group-border-color); // Boosted mod
  @include border-radius(0);

  > .list-group-item {
    // stylelint-disable-next-line function-disallowed-list
    border-width: 0 0 calc(var(--#{$prefix}list-group-border-width) / 2); // Boosted mod: border of 1px

    &:last-child {
      border-bottom-width: 0;
    }
  }
}

//
// Boosted mod: the variants apply contextual icons when needed
//

// scss-docs-start list-group-modifiers
// List group contextual variants
//
// Add modifier classes to change text and background color on individual items.
// Organizationally, this must come after the `:hover` states.
@each $state, $value in $list-group-icons { // Boosted mod: instead of `@each $state in map-keys($theme-colors)`
  .list-group-item-#{$state} {
    // Boosted mod: no `--#{$prefix}list-group-color`
    // Boosted mod: no `--#{$prefix}list-group-bg`
    // Boosted mod: no `--#{$prefix}list-group-border-color`
    // Boosted mod: no `--#{$prefix}list-group-action-hover-color`
    // Boosted mod: no `--#{$prefix}list-group-action-hover-bg`
    // Boosted mod: no `--#{$prefix}list-group-action-active-color`
    // Boosted mod: no `--#{$prefix}list-group-action-active-bg`
    // Boosted mod: no `--#{$prefix}list-group-active-color`
    // Boosted mod: no `--#{$prefix}list-group-active-bg`
    // Boosted mod: no `--#{$prefix}list-group-active-border-color`

    padding-right: calc(var(--#{$prefix}list-group-item-icon-margin-x) * 2 + var(--#{$prefix}list-group-item-icon-size)); // stylelint-disable-line function-disallowed-list

    &::after {
      position: absolute;
      top: add(var(--#{$prefix}list-group-item-padding-y), 1px);
      right: var(--#{$prefix}list-group-item-icon-margin-x);
      width: var(--#{$prefix}list-group-item-icon-size);
      height: var(--#{$prefix}list-group-item-icon-size);
      content: "";
      background-color: currentcolor;
      mask: no-repeat $value;
    }
  }
}
// scss-docs-end list-group-modifiers

.list-group-dark {
  // scss-docs-start list-group-dark-css-vars
  --#{$prefix}list-group-color: #{$list-group-dark-color}; // Boosted mod
  --#{$prefix}list-group-bg: #{$list-group-dark-bg}; // Boosted mod
  --#{$prefix}list-group-border-color: #{$list-group-dark-border-color}; // Boosted mod
  --#{$prefix}list-group-action-color: #{$list-group-dark-action-color}; // Boosted mod
  --#{$prefix}list-group-action-hover-color: #{$list-group-dark-action-hover-color}; // Boosted mod
  --#{$prefix}list-group-action-active-color: #{$list-group-dark-action-active-color}; // Boosted mod
  --#{$prefix}list-group-action-hover-bg: #{$list-group-dark-hover-bg}; // Boosted mod
  --#{$prefix}list-group-action-active-bg: #{$list-group-dark-action-active-bg}; // Boosted mod
  --#{$prefix}list-group-disabled-color: #{$list-group-dark-disabled-color}; // Boosted mod
  --#{$prefix}list-group-disabled-bg: #{$list-group-dark-disabled-bg}; // Boosted mod
  --#{$prefix}list-group-active-color: #{$list-group-dark-active-color}; // Boosted mod
  --#{$prefix}list-group-active-bg: #{$list-group-dark-active-bg}; // Boosted mod
  --#{$prefix}list-group-active-border-color: #{$list-group-dark-active-border-color}; // Boosted mod
  // scss-docs-end list-group-dark-css-vars
}

// Specific padding to be aligned in card component
.card .list-group {
  --#{$prefix}list-group-item-padding-x: #{var(--#{$prefix}card-spacer-x)};
}
// End mod
