.nav-local {
  &.accordion {
    --bs-accordion-btn-padding-y: 15.5px;
  }

  .accordion-button::after {
    margin-right: 0;
  }

  .accordion-collapse {
    border-top: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);

    @include media-breakpoint-up(lg) {
      display: block;
      border: 0;
    }
  }

  .navbar {
    --bs-navbar-padding-y: 0px; // stylelint-disable-line length-zero-no-unit
    --bs-navbar-border-color: transparent;

    margin-bottom: calc(var(--bs-accordion-border-width) * -1); // stylelint-disable-line function-disallowed-list
  }
}

.nav-local-dark {
  &.accordion {
    @extend .accordion-dark;
  }

  .navbar {
    @extend .navbar-dark;
  }
}
