.modal {
  --#{$prefix}modal-column-count: 12;
  --#{$prefix}modal-grid-margin: #{$ouds-space-fixed-medium};

  width: calc((100vw - 2 * var(--#{$prefix}modal-grid-margin)) * var(--#{$prefix}modal-column-count) / 12);
  max-width: unset;
  max-height: calc(100vh - 2 * var(--#{$prefix}modal-grid-margin));
  margin: auto $ouds-space-fixed-medium;
  overscroll-behavior: contain;
  background-color: #{$modal-content-bg};
  @include border-radius(var(--#{$prefix}modal-border-radius));

  @include media-breakpoint-up(sm) {
    --#{$prefix}modal-column-count: 10;
    --#{$prefix}modal-margin-inline: var(--#{$prefix}grid-margin);

    max-height: 90vh;
    margin: auto;
  }

  @include media-breakpoint-up(xl) {
    --#{$prefix}modal-column-count: 8;
  }

  &.modal-full-height,
  &.modal-sticky-actions {
    height: calc(100vh - 2 * var(--#{$prefix}modal-grid-margin));
  }

  &.modal-sticky-actions .modal-footer {
    padding-block: $ouds-space-padding-block-xlarge;
    border-top: $ouds-border-width-default solid $ouds-color-border-muted;
  }
}

.modal-content {
  display: grid;
  grid-template-rows: auto 1fr auto; // header, body, footer
  width: 100%;
  height: 100%;
}

.modal-body {
  padding-block: $ouds-space-padding-block-large $ouds-space-padding-block-medium;
  padding-inline: $ouds-space-padding-inline-2xlarge;
  overflow-y: auto;

  * {
    max-width: 100%;
  }
}

// .modal.modal-dialog-scrollable {
//   // scss-docs-start modal-scrollable-css-vars
//   --#{$prefix}modal-scrollable-inner-padding: #{$modal-scrollable-inner-padding}; // OUDS mod
//   --#{$prefix}modal-scrollable-inner-margin: #{$modal-scrollable-inner-margin}; // OUDS mod
//   --#{$prefix}modal-footer-margin-top: #{$modal-scrollable-footer-margin-top}; // OUDS mod
//   // scss-docs-end modal-scrollable-css-vars
// }

// Modal background used by JS fallback mode
.modal-backdrop {
  // scss-docs-start modal-backdrop-css-vars
  --#{$prefix}backdrop-zindex: #{$zindex-modal-backdrop};
  --#{$prefix}backdrop-bg: #{$modal-backdrop-bg};
  --#{$prefix}backdrop-opacity: #{$modal-backdrop-opacity};
  // scss-docs-end modal-backdrop-css-vars

  @include overlay-backdrop(var(--#{$prefix}backdrop-zindex), var(--#{$prefix}backdrop-bg), var(--#{$prefix}backdrop-opacity));
}

// OUDS mod: native dialog backdrop styling
.modal::backdrop {
  overflow: hidden;
  overscroll-behavior: contain;
  background-color: $modal-backdrop-bg;
  opacity: $modal-backdrop-opacity;
}

// Modal header
// Top section of the modal with title and dismiss
.modal-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: $ouds-space-padding-inline-2xlarge;
  padding-top: $ouds-space-padding-block-xlarge;
  background-color: var(--#{$prefix}body-bg);

  .btn-close {
    position: absolute;
    top: $ouds-space-inset-medium;
    right: $ouds-space-inset-medium;
  }
}

// Footer (for actions)
.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-direction: column; // stack buttons on small screens
  flex-wrap: wrap;
  gap: var(--#{$prefix}space-scaled-small);
  align-items: center; // vertically center
  padding-inline: $ouds-space-padding-inline-2xlarge;
  padding-top: $ouds-space-padding-block-2xlarge;
  padding-bottom: calc($ouds-space-padding-block-medium + $ouds-space-padding-block-xlarge);
  background-color: #{$modal-content-bg};

  @include media-breakpoint-down(md) {
    > * {
      width: 100%; // make buttons full width on small screens
    }

    > .link {
      justify-content: center; // align action buttons to the end
    }
  }

  @include media-breakpoint-up(md) {
    flex-direction: row-reverse; // reverse order of buttons to have primary on the right
    justify-content: flex-start; // align action buttons to the end

    > .link {
      margin-inline-end: auto; // push link to the left of the buttons
    }
  }
}
