// Global config
#{$ouds-root-selector} {
  --#{$prefix}modal-border-radius: #{$ouds-modal-dialog-border-radius-default};
}

.use-rounded-corner-modal {
  --#{$prefix}modal-border-radius: #{$ouds-modal-dialog-border-radius-rounded};
}

.modal-fullscreen-dialog,
.modal-dialog {
  --#{$prefix}modal-dialog-space-column-gap-previous-title: #{$ouds-modal-dialog-space-column-gap-previous-title-mobile};
  --#{$prefix}modal-dialog-space-inset-close-button: #{$ouds-modal-dialog-space-inset-close-button-mobile};
  --#{$prefix}modal-dialog-space-padding-block-bottom-body-footer: #{$ouds-modal-dialog-space-padding-block-bottom-body-footer-default-mobile};
  --#{$prefix}modal-dialog-space-padding-block-bottom: #{$ouds-modal-dialog-space-padding-block-bottom-mobile};
  --#{$prefix}modal-dialog-space-padding-block-footer-sticky: #{$ouds-modal-dialog-space-padding-block-footer-sticky-mobile};
  --#{$prefix}modal-dialog-space-padding-block-top-body: #{$ouds-modal-dialog-space-padding-block-top-body-default-mobile};
  --#{$prefix}modal-dialog-space-padding-block-top: #{$ouds-modal-dialog-space-padding-block-top-mobile};
  --#{$prefix}modal-dialog-space-padding-block-top-footer: #{$ouds-modal-dialog-space-padding-block-top-footer-default-mobile};
  --#{$prefix}modal-dialog-space-padding-inline: #{$ouds-modal-dialog-space-padding-inline-mobile};

  flex-direction: column; // cannot use grid because of Safari dialog limitations
  max-width: unset;
  max-height: unset;
  padding-block: var(--#{$prefix}modal-dialog-space-padding-block-top) var(--#{$prefix}modal-dialog-space-padding-block-bottom);
  overscroll-behavior: contain;
  background-color: $ouds-color-overlay-modal-sheet;

  &:is(:open, [open]) {
    display: flex;
  }

  &::backdrop {
    overflow: hidden;
    overscroll-behavior: contain;
  }

  &.modal-sticky-actions {
    padding-block-end: 0;

    .modal-footer {
      padding: var(--#{$prefix}modal-dialog-space-padding-block-footer-sticky) var(--#{$prefix}modal-dialog-space-padding-inline);
      border-top: $ouds-border-width-default solid $ouds-color-border-muted;
    }
  }

  @include media-breakpoint-up(md) {
    --#{$prefix}modal-dialog-space-column-gap-previous-title: #{$ouds-modal-dialog-space-column-gap-previous-title-tablet};
    --#{$prefix}modal-dialog-space-inset-close-button: #{$ouds-modal-dialog-space-inset-close-button-default-tablet};
    --#{$prefix}modal-dialog-space-padding-block-bottom-body-footer: #{$ouds-modal-dialog-space-padding-block-bottom-body-footer-default-tablet};
    --#{$prefix}modal-dialog-space-padding-block-bottom: #{$ouds-modal-dialog-space-padding-block-bottom-default-tablet};
    --#{$prefix}modal-dialog-space-padding-block-footer-sticky: #{$ouds-modal-dialog-space-padding-block-footer-sticky-default-tablet};
    --#{$prefix}modal-dialog-space-padding-block-top-body: #{$ouds-modal-dialog-space-padding-block-top-body-default-tablet};
    --#{$prefix}modal-dialog-space-padding-block-top: #{$ouds-modal-dialog-space-padding-block-top-default-tablet};
    --#{$prefix}modal-dialog-space-padding-block-top-footer: #{$ouds-modal-dialog-space-padding-block-top-footer-default-tablet};
    --#{$prefix}modal-dialog-space-padding-inline: #{$ouds-modal-dialog-space-padding-inline-default-tablet};
  }

  @include media-breakpoint-up(xl) {
    --#{$prefix}modal-dialog-space-column-gap-previous-title: #{$ouds-modal-dialog-space-column-gap-previous-title-desktop};
    --#{$prefix}modal-dialog-space-inset-close-button: #{$ouds-modal-dialog-space-inset-close-button-default-desktop};
    --#{$prefix}modal-dialog-space-padding-block-bottom-body-footer: #{$ouds-modal-dialog-space-padding-block-bottom-body-footer-default-desktop};
    --#{$prefix}modal-dialog-space-padding-block-bottom: #{$ouds-modal-dialog-space-padding-block-bottom-default-desktop};
    --#{$prefix}modal-dialog-space-padding-block-footer-sticky: #{$ouds-modal-dialog-space-padding-block-footer-sticky-default-desktop};
    --#{$prefix}modal-dialog-space-padding-block-top-body: #{$ouds-modal-dialog-space-padding-block-top-body-default-desktop};
    --#{$prefix}modal-dialog-space-padding-block-top: #{$ouds-modal-dialog-space-padding-block-top-default-desktop};
    --#{$prefix}modal-dialog-space-padding-block-top-footer: #{$ouds-modal-dialog-space-padding-block-top-footer-default-desktop};
    --#{$prefix}modal-dialog-space-padding-inline: #{$ouds-modal-dialog-space-padding-inline-default-desktop};
    --#{$prefix}modal-column-count: 8;
  }
}

.modal-fullscreen-dialog {
  --#{$prefix}modal-dialog-space-padding-block-bottom: var(--#{$prefix}space-scaled-xlarge);
  --#{$prefix}modal-dialog-space-padding-block-top: var(--#{$prefix}space-scaled-xlarge);
  --#{$prefix}modal-dialog-space-padding-inline: var(--#{$prefix}grid-margin);

  width: 100vw;
  height: 100vh;
  margin: 0;
}

.modal-dialog {
  width: calc(100vw - 2 * $ouds-space-fixed-medium);
  max-height: calc(100vh - 2 * $ouds-space-fixed-medium);
  margin: auto $ouds-space-fixed-medium;
  box-shadow: $ouds-elevation-emphasized;
  opacity: 0;
  transform: translateY(-3rem);
  @include transition(transform .3s ease-in-out, opacity .3s ease-in-out, display .4s allow-discrete, overlay .2s allow-discrete);
  @include border-radius(var(--#{$prefix}modal-border-radius));

  &:not(.modal-non-blurred)::backdrop {
    backdrop-filter: unset;
    @include transition(backdrop-filter .2s ease-in-out);
  }

  &:is(:open, [open]) {
    opacity: 1;
    transform: none;

    &:not(.modal-non-blurred)::backdrop {
      backdrop-filter: blur(#{$ouds-effect-blur-backdrop});
    }

    @starting-style {
      opacity: 0;
      transform: translateY(-3rem);

      &:not(.modal-non-blurred)::backdrop {
        backdrop-filter: unset;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    --#{$prefix}modal-column-count: 10;
    width: calc(100vw * var(--#{$prefix}modal-column-count) / 12);

    max-height: 90vh;
    margin: auto;
  }

  &.modal-small {
    --#{$prefix}modal-dialog-space-padding-block-bottom-body-footer: #{$ouds-modal-dialog-space-padding-block-bottom-body-footer-small-mobile};
    --#{$prefix}modal-dialog-space-padding-block-bottom: #{$ouds-modal-dialog-space-padding-block-bottom-mobile};
    --#{$prefix}modal-dialog-space-padding-block-footer-sticky: #{$ouds-modal-dialog-space-padding-block-footer-sticky-mobile};
    --#{$prefix}modal-dialog-space-padding-block-top-body: #{$ouds-modal-dialog-space-padding-block-top-body-small-mobile};
    --#{$prefix}modal-dialog-space-padding-block-top-footer: #{$ouds-modal-dialog-space-padding-block-top-footer-small-mobile};
    --#{$prefix}modal-dialog-space-padding-inline: #{$ouds-modal-dialog-space-padding-inline-mobile};

    max-height: 50vh;

    @include media-breakpoint-up(md) {
      --#{$prefix}modal-dialog-space-inset-close-button: #{$ouds-modal-dialog-space-inset-close-button-small-tablet};
      --#{$prefix}modal-dialog-space-padding-block-bottom-body-footer: #{$ouds-modal-dialog-space-padding-block-bottom-body-footer-small-tablet};
      --#{$prefix}modal-dialog-space-padding-block-bottom: #{$ouds-modal-dialog-space-padding-block-bottom-small-tablet};
      --#{$prefix}modal-dialog-space-padding-block-footer-sticky: #{$ouds-modal-dialog-space-padding-block-footer-sticky-small-tablet};
      --#{$prefix}modal-dialog-space-padding-block-top-body: #{$ouds-modal-dialog-space-padding-block-top-body-small-tablet};
      --#{$prefix}modal-dialog-space-padding-block-top-footer: #{$ouds-modal-dialog-space-padding-block-top-footer-small-tablet};
      --#{$prefix}modal-dialog-space-padding-inline: #{$ouds-modal-dialog-space-padding-inline-small-tablet};
      --#{$prefix}modal-column-count: 8;
    }

    @include media-breakpoint-up(lg) {
      --#{$prefix}modal-column-count: 6;

      max-height: 60vh;
    }

    @include media-breakpoint-up(xl) {
      --#{$prefix}modal-dialog-space-inset-close-button: #{$ouds-modal-dialog-space-inset-close-button-small-desktop};
      --#{$prefix}modal-dialog-space-padding-block-bottom-body-footer: #{$ouds-modal-dialog-space-padding-block-bottom-body-footer-small-desktop};
      --#{$prefix}modal-dialog-space-padding-block-bottom: #{$ouds-modal-dialog-space-padding-block-bottom-small-desktop};
      --#{$prefix}modal-dialog-space-padding-block-footer-sticky: #{$ouds-modal-dialog-space-padding-block-footer-sticky-small-desktop};
      --#{$prefix}modal-dialog-space-padding-block-top-body: #{$ouds-modal-dialog-space-padding-block-top-body-small-desktop};
      --#{$prefix}modal-dialog-space-padding-block-top-footer: #{$ouds-modal-dialog-space-padding-block-top-footer-small-desktop};
      --#{$prefix}modal-dialog-space-padding-inline: #{$ouds-modal-dialog-space-padding-inline-small-desktop};
      --#{$prefix}modal-column-count: 4;
    }

    @include media-breakpoint-up(3xl) {
      max-height: 50vh;
    }

    .modal-title {
      @include get-font-size("heading-small");
    }
  }

  &.modal-fixed-height {
    height: calc(100vh - 2 * $ouds-space-fixed-medium);
  }

  .modal-body {
    * {
      max-width: 100%;
    }
  }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--#{$prefix}modal-dialog-space-padding-inline) var(--#{$prefix}space-scaled-3xlarge);
  background-color: $ouds-color-overlay-modal-sheet;

  .btn-close {
    position: absolute;
    top: var(--#{$prefix}modal-dialog-space-inset-close-button);
    right: var(--#{$prefix}modal-dialog-space-inset-close-button);
  }
}

.modal-title {
  margin: 0;
  @include get-font-size("heading-medium");
}

.modal-subtitle {
  margin: 0;
}

.modal-alert-icon {
  --#{$prefix}modal-icon: var(--#{$prefix}alert-error-icon);
  --#{$prefix}modal-icon-color: #{$ouds-color-content-status-negative};

  position: relative;
  width: var(--#{$prefix}icon-small-with-heading-small);
  height: var(--#{$prefix}icon-small-with-heading-small);

  &::before {
    position: absolute;
    inset: 0;
    display: block;
    color: var(--#{$prefix}modal-icon-color);
    content: "";
    background-color: currentcolor;
    mask-image: escape-svg(var(--#{$prefix}modal-icon));
  }

  &.modal-success {
    --#{$prefix}modal-icon: var(--#{$prefix}alert-success-icon);
    --#{$prefix}modal-icon-color: #{$ouds-color-content-status-positive};
  }
}

.modal-body {
  flex-grow: 1;
  padding-block-end: var(--#{$prefix}modal-dialog-space-padding-block-bottom-body-footer);
  padding-inline: var(--#{$prefix}modal-dialog-space-padding-inline);
  margin-block-start: var(--#{$prefix}modal-dialog-space-padding-block-top-body);
  overflow-y: auto;

  &:not(:has(.modal-footer)) > :last-child {
    margin-block-end: 0;
  }

  &:has(.modal-footer) {
    margin-block-end: 0;

    > :nth-last-child(2) {
      margin-block-end: var(--#{$prefix}modal-dialog-space-padding-block-bottom-body-footer);
    }
  }
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: var(--#{$prefix}space-scaled-small);
  align-items: center; // vertically center
  padding-block: var(--#{$prefix}modal-dialog-space-padding-block-top-footer) var(--#{$prefix}modal-dialog-space-padding-block-bottom-body-footer);
  background-color: $ouds-color-overlay-modal-sheet;

  > *:first-child:last-child {
    margin-inline: auto;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column; // stack buttons on small screens

    > * {
      width: 100%; // make buttons full width on small screens
    }
  }
}
