// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  // scss-docs-start navbar-css-vars
  --#{$prefix}navbar-padding-x: #{if($navbar-padding-x == null, 0, $navbar-padding-x)};
  --#{$prefix}navbar-padding-y: 0; // Boosted mod: no padding in small breakpoints
  --#{$prefix}navbar-font-weight: #{$navbar-font-weight}; // Boosted mod
  --#{$prefix}navbar-border-width: #{$navbar-border-width}; // Boosted mod
  --#{$prefix}navbar-border-color: #{$navbar-border-color}; // Boosted mod
  --#{$prefix}navbar-color: #{$navbar-light-color};
  --#{$prefix}navbar-hover-color: #{$navbar-light-hover-color};
  --#{$prefix}navbar-disabled-color: #{$navbar-light-disabled-color};
  --#{$prefix}navbar-active-color: #{$navbar-light-active-color};
  --#{$prefix}navbar-brand-padding-y: #{$navbar-brand-padding-y};
  --#{$prefix}navbar-brand-margin-y: #{$navbar-brand-margin-y-xs}; // Boosted mod
  --#{$prefix}navbar-brand-margin-end: #{$navbar-brand-margin-end};
  --#{$prefix}navbar-brand-logo-size: #{$navbar-brand-logo-size-xs}; // Boosted mod
  --#{$prefix}navbar-brand-font-size: #{$navbar-brand-font-size-xs}; // Boosted mod
  --#{$prefix}navbar-brand-letter-spacing: #{$navbar-brand-letter-spacing-xs}; // Boosted mod
  --#{$prefix}navbar-brand-color: #{$navbar-light-brand-color};
  --#{$prefix}navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
  --#{$prefix}navbar-nav-padding-top: 0; // Boosted mod
  --#{$prefix}navbar-nav-padding-x: 0; // Boosted mod
  --#{$prefix}navbar-nav-padding-bottom: 0; // Boosted mod
  --#{$prefix}navbar-nav-font-size: #{$font-size-base}; // Boosted mod
  --#{$prefix}navbar-nav-line-height: #{$line-height-base}; // Boosted mod
  --#{$prefix}navbar-nav-letter-spacing: #{$letter-spacing-base}; // Boosted mod
  --#{$prefix}navbar-nav-link-margin-y: #{$navbar-nav-link-margin-y}; // Boosted mod
  --#{$prefix}navbar-nav-link-margin-x: #{$navbar-nav-link-margin-x-xs}; // Boosted mod: margin over padding for focus
  --#{$prefix}navbar-nav-icon-margin-y: #{$navbar-nav-icon-margin-y-xs}; // Boosted mod
  --#{$prefix}navbar-nav-icon-margin-x: #{$navbar-nav-icon-margin-x-xs}; // Boosted mod
  --#{$prefix}navbar-nav-icon-size: #{$navbar-icon-size-xs}; // Boosted mod
  --#{$prefix}navbar-toggler-margin-y: #{$navbar-toggler-margin-y}; // Boosted mod: margin over padding for focus
  --#{$prefix}navbar-toggler-margin-x: #{$navbar-toggler-margin-x}; // Boosted mod: margin over padding for focus
  --#{$prefix}navbar-toggler-font-size: #{$navbar-toggler-font-size-xs}; // Boosted mod
  --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-light-toggler-icon-bg-small)}; // Boosted mod
  --#{$prefix}navbar-toggler-icon-filter: none; // Boosted mod
  --#{$prefix}navbar-toggler-border-color: #{$navbar-light-toggler-border-color};
  --#{$prefix}navbar-toggler-border-radius: #{$navbar-toggler-border-radius};
  --#{$prefix}navbar-toggler-focus-width: #{$navbar-toggler-focus-width};
  --#{$prefix}navbar-toggler-transition: #{$navbar-toggler-transition};
  // scss-docs-end navbar-css-vars

  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo
  padding: var(--#{$prefix}navbar-padding-y) var(--#{$prefix}navbar-padding-x);
  // Boosted mod
  font-weight: var(--#{$prefix}navbar-font-weight);
  box-shadow: inset 0 calc(-1 * var(--#{$prefix}navbar-border-width)) 0 var(--#{$prefix}navbar-border-color); // stylelint-disable-line function-disallowed-list
  @include transition($navbar-transition);
  // End mod
  @include gradient-bg();

  // Boosted mod: Difference between xs and md breakpoints
  // scss-docs-start orange-navbar-css-vars
  @include media-breakpoint-up(md) {
    --#{$prefix}navbar-padding-y: #{$navbar-padding-y};
    --#{$prefix}navbar-brand-margin-y: #{$navbar-brand-margin-y};
    --#{$prefix}navbar-brand-logo-size: #{$navbar-brand-logo-size};
    --#{$prefix}navbar-brand-font-size: #{$navbar-brand-font-size};
    --#{$prefix}navbar-brand-letter-spacing: #{$navbar-brand-letter-spacing};
    --#{$prefix}navbar-nav-link-margin-x: #{$navbar-nav-link-margin-x};
    --#{$prefix}navbar-nav-icon-margin-y: #{$navbar-nav-icon-margin-y};
    --#{$prefix}navbar-nav-icon-margin-x: #{$navbar-nav-icon-margin-x};
    --#{$prefix}navbar-nav-icon-size: #{$navbar-icon-size};
    --#{$prefix}navbar-toggler-margin-y: #{$navbar-nav-icon-margin-y};
    --#{$prefix}navbar-toggler-margin-x: #{$navbar-nav-icon-margin-x};
    --#{$prefix}navbar-toggler-font-size: #{$navbar-toggler-font-size};
    --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-light-toggler-icon-bg)};
  }
  // scss-docs-end orange-navbar-css-vars
  // End mod

  // Because flex properties aren't inherited, we need to redeclare these first
  // few properties so that content nested within behave properly.
  // The `flex-wrap` property is inherited to simplify the expanded navbars
  %container-flex-properties {
    display: flex;
    flex-wrap: inherit;
    align-items: flex-end; // Boosted mod
    // Boosted mod: no justify-content
  }

  > .container,
  > .container-fluid {
    @extend %container-flex-properties;
  }

  @each $breakpoint, $container-max-width in $container-max-widths {
    > .container#{breakpoint-infix($breakpoint, $container-max-widths)} {
      @extend %container-flex-properties;
    }
  }
}


// Navbar brand
//
// Used for brand, project, or site names.

// Boosted mod
.navbar-brand {
  position: relative;
  display: inline-flex;
  align-items: flex-end;
  order: -1;
  padding-top: var(--#{$prefix}navbar-brand-padding-y);
  padding-bottom: var(--#{$prefix}navbar-brand-padding-y);
  margin-top: var(--#{$prefix}navbar-brand-margin-y);
  margin-right: var(--#{$prefix}navbar-brand-margin-end);
  margin-bottom: var(--#{$prefix}navbar-brand-margin-y);
  @include font-size(var(--#{$prefix}navbar-brand-font-size));
  color: var(--#{$prefix}navbar-brand-color);
  text-decoration: if($link-decoration == none, null, none);
  white-space: nowrap;
  @include transition($navbar-brand-transition);

  // No focus
  &:hover {
    .title,
    .two-lined {
      color: var(--#{$prefix}navbar-brand-hover-color);
    }
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  //// Orange's master logo
  img {
    width: auto;
    height: var(--#{$prefix}navbar-brand-logo-size);
    @include transition($navbar-brand-logo-transition);
  }

  //// Ensure headings variant align consistently
  .title,
  .two-lined {
    margin: divide(-2em, 7) $spacer divide(-1em, 7) calc(var(--#{$prefix}navbar-brand-logo-size) / 2); // stylelint-disable-line function-disallowed-list
    @include font-size(var(--#{$prefix}navbar-brand-font-size));
    line-height: 1;
    letter-spacing: var(--#{$prefix}navbar-brand-letter-spacing);
  }

  .two-lined {
    --#{$prefix}navbar-brand-font-size: #{$navbar-brand-font-size-two-lined-xs};
    --#{$prefix}navbar-brand-letter-spacing: #{$navbar-brand-letter-spacing-two-lined-xs};

    @include media-breakpoint-up(md) {
      --#{$prefix}navbar-brand-font-size: #{$navbar-brand-font-size-two-lined};
      --#{$prefix}navbar-brand-letter-spacing: #{$navbar-brand-letter-spacing-two-lined};
    }
  }
}
// End mod


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  // scss-docs-start navbar-nav-css-vars
  --#{$prefix}nav-link-margin-x: var(--#{$prefix}navbar-nav-link-margin-x); // Boosted mod: margin over padding for focus, instead of `0`
  --#{$prefix}nav-link-margin-y: var(--#{$prefix}navbar-nav-link-margin-y); // Boosted mod: margin over padding for focus, instead of `$nav-link-padding-y`
  @include rfs(var(--#{$prefix}navbar-nav-font-size, $font-size-base), --#{$prefix}nav-link-font-size); // Boosted mod
  --#{$prefix}nav-link-font-weight: #{$nav-link-font-weight};
  --#{$prefix}nav-link-color: var(--#{$prefix}navbar-color);
  --#{$prefix}nav-link-hover-color: var(--#{$prefix}navbar-hover-color);
  --#{$prefix}nav-link-disabled-color: var(--#{$prefix}navbar-disabled-color);
  // scss-docs-end navbar-nav-css-vars

  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding: var(--#{$prefix}navbar-nav-padding-top) var(--#{$prefix}navbar-nav-padding-x) var(--#{$prefix}navbar-nav-padding-bottom); // Boosted mod
  margin-bottom: 0;
  @include font-size(var(--#{$prefix}navbar-nav-font-size)); // Boosted mod
  line-height: var(--#{$prefix}navbar-nav-line-height, $line-height-base); // Boosted mod
  letter-spacing: var(--#{$prefix}navbar-nav-letter-spacing, $letter-spacing-base); // Boosted mod
  list-style: none;

  // Boosted mod: Handle .nav-link and .nav-icon slightly differently than Bs
  .nav-link {
    position: relative;
    margin-top: subtract(var(--#{$prefix}nav-link-margin-y), var(--#{$prefix}navbar-border-width));
    margin-left: 0;
    word-break: break-all;

    &::before {
      position: absolute;
      // stylelint-disable function-disallowed-list
      top: calc(-1 * var(--#{$prefix}nav-link-margin-y, 5px));
      right: calc(-1 * var(--#{$prefix}nav-link-margin-x, 0px));
      bottom: calc(-1 * var(--#{$prefix}nav-link-margin-y, 5px));
      left: calc(-1 * var(--#{$prefix}nav-link-margin-x, 0px));
      // stylelint-enable function-disallowed-list
      z-index: $stretched-link-z-index;
      content: "";
    }

    &:hover {
      z-index: 1;
    }

    &.active,
    &.show {
      color: var(--#{$prefix}navbar-active-color);
    }
  }

  .nav-icon {
    --#{$prefix}nav-link-margin-x: var(--#{$prefix}navbar-nav-icon-margin-x);
    --#{$prefix}nav-link-margin-y: var(--#{$prefix}navbar-nav-icon-margin-y);

    margin-top: var(--#{$prefix}nav-link-margin-y);
    white-space: nowrap;

    svg,
    img {
      width: var(--#{$prefix}navbar-nav-icon-size);
      height: var(--#{$prefix}navbar-nav-icon-size);
    }
  }

  .nav-item {
    border-top: var(--#{$prefix}navbar-border-width) solid var(--#{$prefix}navbar-border-color);

    .badge {
      --#{$prefix}badge-padding: #{$navbar-badge-padding-y $navbar-badge-padding-x};
      margin-top: $navbar-badge-margin-top; // stay in Scss because no need of CSS var
    }

    &:not(:first-of-type) > .nav-icon {
      margin-left: var(--#{$prefix}navbar-nav-icon-margin-x);
    }
  }

  &.flex-row .nav-item {
    border: 0;
  }
  // End mod

  .dropdown-menu {
    position: static;
  }
}


// Navbar text
//
//

.navbar-text {
  margin-top: var(--#{$prefix}navbar-nav-link-margin-y); // Boosted mod: margin over padding for focus
  margin-bottom: var(--#{$prefix}navbar-nav-link-margin-y); // Boosted mod: margin over padding for focus
  color: var(--#{$prefix}navbar-color);

  // Boosted mod: no a:focus
  a,
  a:hover {
    color: var(--#{$prefix}navbar-active-color);
  }
}

// Boosted mod: Navbar item
.navbar-item {
  margin-bottom: var(--#{$prefix}navbar-nav-icon-margin-y);
}
// End mod

// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse.show, // Boosted mod: always keep nav-items at full width when transitioning
.navbar-collapse.collapsing {
  flex-basis: 100%;
  // Boosted mod: no flex-grow to avoid weird behavior in expanded breakpoints and .show
  // For always expanded or extra full navbars, ensure content aligns itself
  // properly vertically. Can be easily overridden with flex utilities.
  align-items: center;

  // Boosted mod: Handle icons support and padding of expanded navbars
  &[class*="d-"] {
    border-top: var(--#{$prefix}navbar-border-width) solid var(--#{$prefix}navbar-border-color);

    @include media-breakpoint-up(md) {
      margin-bottom: calc(-1 * var(--#{$prefix}navbar-padding-y)); // stylelint-disable-line function-disallowed-list
    }
  }

  @include media-breakpoint-up(md) {
    &:first-of-type {
      margin-top: var(--#{$prefix}navbar-padding-y);
    }
  }
  // End mod
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  position: relative; // Boosted mod
  padding: 0; // Boosted mod: margin over padding for focus
  margin: var(--#{$prefix}navbar-toggler-margin-y) var(--#{$prefix}navbar-toggler-margin-x); // Boosted mod: margin over padding for focus
  margin-right: 0; // Boosted mod
  @include font-size(var(--#{$prefix}navbar-toggler-font-size));
  line-height: 1;
  color: var(--#{$prefix}navbar-color);
  background-color: transparent; // remove default button style
  border: 0; // Boosted mod: remove border to simplify calculations
  @include border-radius(var(--#{$prefix}navbar-toggler-border-radius));
  @include transition(var(--#{$prefix}navbar-toggler-transition));

  // Boosted mod
  &::before {
    position: absolute;
    // stylelint-disable function-disallowed-list
    top: calc(-1 * var(--#{$prefix}navbar-toggler-margin-y));
    right: calc(-.25 * var(--#{$prefix}gutter-x));
    bottom: calc(-1 * var(--#{$prefix}navbar-toggler-margin-y));
    left: calc(-1 * var(--#{$prefix}navbar-toggler-margin-x));
    // stylelint-enable function-disallowed-list
    z-index: $stretched-link-z-index;
    content: "";
  }
  // End mod

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    // Boosted mod: no outline;
    // Boosted mod: no box-shadow
  }

  // Boosted mod: close icon when opened & color state
  &:hover,
  &:active {
    --#{$prefix}navbar-toggler-icon-filter: #{$orange-filter};
  }

  &[aria-expanded="true"] {
    --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-toggler-icon-close-bg)};
  }

  &.collapsed {
    order: 7;
  }
  // End mod
}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--#{$prefix}navbar-toggler-icon-bg);
  filter: var(--#{$prefix}navbar-toggler-icon-filter); // Boosted mod
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar-nav-scroll {
  max-height: var(--#{$prefix}scroll-height, 75vh);
  overflow-y: auto;
}

// Boosted mod: Handle the nav-under responsiveness
.navbar:not(.supra) + .navbar {
  padding: 0;
  margin-top: calc(-1 * var(--#{$prefix}navbar-border-width)); // stylelint-disable-line function-disallowed-list
}
// End mod

// scss-docs-start navbar-expand-loop
// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    // stylelint-disable-next-line scss/selector-no-union-class-name
    &#{$infix} {
      @include media-breakpoint-up($next) {
        flex-wrap: nowrap;
        justify-content: flex-start;

        .navbar-nav {
          flex-direction: row;

          .dropdown-menu {
            position: absolute;
          }

          // Boosted mod
          .nav-link {
            margin-left: var(--#{$prefix}nav-link-margin-x);

            &.active::after {
              position: absolute;
              right: 0;
              bottom: calc(-1 * add(var(--#{$prefix}navbar-padding-y), var(--#{$prefix}nav-link-margin-y))); // stylelint-disable-line function-disallowed-list
              left: 0;
              height: calc(var(--#{$prefix}navbar-border-width) * 4); // stylelint-disable-line function-disallowed-list
              content: "";
              background-color: currentcolor;
              @include transition($navbar-active-transition);
            }
          }

          .nav-item {
            border: 0;

            &:first-child > .nav-link {
              margin-left: 0;
            }

            &:last-child > .nav-link {
              margin-right: 0;
            }

            &:first-child > .nav-icon {
              margin-left: 0;
            }

            &:last-child > .nav-icon {
              margin-right: 0;
            }
          }
          // End mod
        }

        // Boosted mod: Handle the responsiveness of the collapsing content in a global header
        .navbar-collapse.show,
        .navbar-collapse.collapsing {
          &[class*="d-"] {
            margin-bottom: 0;
            border-top: 0;
          }

          &:first-of-type {
            margin-top: 0;
          }
        }

        // Handle the responsiveness of the different bars of a global header
        &.supra {
          display: flex;
        }

        .header-minimized &:first-child:not(.supra),
        .header-minimized .supra + &.navbar {
          --#{$prefix}navbar-nav-link-margin-y: .75rem;
        }

        &:not(.supra) + .navbar {
          margin-top: 0;

          .nav-link{
            margin-bottom: add(var(--#{$prefix}nav-link-margin-y), .0625rem);

            &.active::after{
              bottom: calc(-1 * add(var(--#{$prefix}nav-link-margin-y), .0625rem)); // stylelint-disable-line function-disallowed-list
            }
          }
        }
        // End mod

        .navbar-nav-scroll {
          overflow: visible;
        }

        .navbar-collapse {
          display: flex !important; // stylelint-disable-line declaration-no-important
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;
        }

        .offcanvas {
          // stylelint-disable declaration-no-important
          position: static;
          z-index: auto;
          flex-grow: 1;
          width: auto !important;
          height: auto !important;
          visibility: visible !important;
          background-color: transparent !important;
          border: 0 !important;
          transform: none !important;
          @include box-shadow(none);
          @include transition(none);
          // stylelint-enable declaration-no-important

          .offcanvas-header {
            display: none;
          }

          .offcanvas-body {
            display: flex;
            flex-grow: 0;
            padding: 0;
            overflow-y: visible;
          }
        }
      }
    }
  }
}
// scss-docs-end navbar-expand-loop

// Navbar themes
//
// Styles for switching between navbars with light or dark background.

.navbar-light {
  @include deprecate("`.navbar-light`", "v5.2.0", "v6.0.0", true);
}

.navbar-dark,
.navbar[data-bs-theme="dark"] {
  // scss-docs-start navbar-dark-css-vars
  --#{$prefix}navbar-border-color: #{$navbar-dark-border-color}; // Boosted mod
  --#{$prefix}navbar-color: #{$navbar-dark-color};
  --#{$prefix}navbar-hover-color: #{$navbar-dark-hover-color};
  --#{$prefix}navbar-disabled-color: #{$navbar-dark-disabled-color};
  --#{$prefix}navbar-active-color: #{$navbar-dark-active-color};
  --#{$prefix}navbar-brand-color: #{$navbar-dark-brand-color};
  --#{$prefix}navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
  --#{$prefix}navbar-toggler-border-color: #{$navbar-dark-toggler-border-color};
  // Boosted mod: No --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-dark-toggler-icon-bg)}; since we handle the variant with filter
  --#{$prefix}navbar-toggler-icon-filter: #{$invert-filter}; // Boosted mod
  // scss-docs-end navbar-dark-css-vars
}

// Boosted mod: no `@if enable-dark-mode` since Boosted doesn't have any dark mode for now
