// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: flex; // Boosted mod
  padding: $nav-link-padding-y $nav-link-padding-x;
  @include font-size($nav-link-font-size);
  font-weight: $nav-link-font-weight;
  color: $nav-link-color;
  text-decoration: if($link-decoration == none, null, none);
  background: none; // Boosted mod: Prevent dropdown's background to interfere
  @include transition($nav-link-transition);

  &:hover,
  &:focus {
    color: $nav-link-hover-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
  }
}

//
// Tabs
//

.nav-tabs {
  --#{$variable-prefix}tabs-spacing: #{$nav-tabs-border-width};
  border-bottom: var(--#{$variable-prefix}tabs-spacing) solid $nav-tabs-border-color;

  // Boosted mod: margins between tabs on bigger screen
  @include media-breakpoint-up(lg) {
    .nav-item + .nav-item {
      margin-left: $nav-link-padding-y;
    }
  }
  // End mod

  .nav-link {
    padding: subtract(1rem, $nav-tabs-border-width) map-get($spacers, 4); // Boosted mod
    // stylelint-disable-next-line function-disallowed-list
    margin-bottom: calc(var(--#{$variable-prefix}tabs-spacing) * -1);
    background: none;
    border: var(--#{$variable-prefix}tabs-spacing) solid transparent;
    border-bottom-width: 0; // Boosted mod
    @include border-top-radius($nav-tabs-border-radius);

    &:hover,
    &:focus {
      color: color-contrast($nav-tabs-link-hover-border-color); // Boosted mod
      background-color: $nav-tabs-link-hover-border-color; // Boosted mod
      // Prevents active .nav-link tab overlapping focus outline of previous/next .nav-link
      isolation: isolate;
      border-color: $nav-tabs-link-hover-border-color;
      outline-color: $nav-tabs-link-hover-border-color; // Boosted mod
      outline-offset: var(--#{$variable-prefix}tabs-spacing); // Boosted mod
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color;
    outline-color: $nav-tabs-link-active-border-color; // Boosted mod
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    // stylelint-disable-next-line function-disallowed-list
    margin-top: calc(var(--#{$variable-prefix}tabs-spacing) * -1);
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}

// Boosted mod
.nav-tabs-light {
  --#{$variable-prefix}tabs-spacing: #{$nav-tabs-border-width * .5};
  border-color: $gray-600;

  .nav-link {
    // stylelint-disable-next-line function-disallowed-list
    border-width: 0 0 calc(var(--#{$variable-prefix}tabs-spacing) * 4);

    &:hover,
    &:focus {
      color: $accessible-orange;
      background: none;
      border-color: transparent;
      outline-color: currentColor;
    }

    &.active {
      border-bottom-color: $accessible-orange;
    }
  }
}
// End mod

//
// Pills
//

.nav-pills {
  .nav-link {
    background: none;
    border: 0;
    @include border-radius($nav-pills-border-radius);
  }

  .nav-link.active,
  .show > .nav-link {
    color: $nav-pills-link-active-color;
    outline-color: $nav-pills-link-active-bg; // Boosted mod
    @include gradient-bg($nav-pills-link-active-bg);
  }

  // Boosted mod
  .nav-item + .nav-item {
    margin-left: $nav-link-padding-y * .5;
  }
  // End mod
}


//
// Justified variants
//

.nav-fill {
  > .nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  > .nav-link,
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

.nav-fill,
.nav-justified {
  .nav-item .nav-link {
    width: 100%; // Make sure button will grow
  }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  // Boosted mod
  padding: subtract($spacer, $nav-tabs-border-width);
  border: $nav-tabs-border-width solid;
  border-top: 0;
  // End mod

  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}
