// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  // scss-docs-start navbar-css-vars
  --#{$prefix}navbar-padding-x: #{if($navbar-padding-x == null, 0, $navbar-padding-x)};
  --#{$prefix}navbar-padding-y: #{$navbar-padding-y};
  --#{$prefix}navbar-color: #{$navbar-light-color};
  --#{$prefix}navbar-hover-color: #{$navbar-light-hover-color};
  --#{$prefix}navbar-disabled-color: #{$navbar-light-disabled-color};
  --#{$prefix}navbar-active-color: #{$navbar-light-active-color};
  --#{$prefix}navbar-brand-padding-y: #{$navbar-brand-padding-y};
  --#{$prefix}navbar-brand-margin-end: #{$navbar-brand-margin-end};
  --#{$prefix}navbar-brand-font-size: #{$navbar-brand-font-size};
  --#{$prefix}navbar-brand-color: #{$navbar-light-brand-color};
  --#{$prefix}navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
  --#{$prefix}navbar-nav-link-padding-x: #{$navbar-nav-link-padding-x};
  --#{$prefix}navbar-toggler-padding-y: #{$navbar-toggler-padding-y};
  --#{$prefix}navbar-toggler-padding-x: #{$navbar-toggler-padding-x};
  --#{$prefix}navbar-toggler-font-size: #{$navbar-toggler-font-size};
  --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-light-toggler-icon-bg)};
  --#{$prefix}navbar-toggler-border-color: #{$navbar-light-toggler-border-color};
  --#{$prefix}navbar-toggler-border-radius: #{$navbar-toggler-border-radius};
  --#{$prefix}navbar-toggler-focus-width: #{$navbar-toggler-focus-width};
  --#{$prefix}navbar-toggler-transition: #{$navbar-toggler-transition};
  // scss-docs-end navbar-css-vars

  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo
  padding: var(--#{$prefix}navbar-padding-x); // Boosted mod
  font-weight: $font-weight-bold; // Boosted mod
  @include transition($navbar-transition); // Boosted mod
  @include gradient-bg();

  // Because flex properties aren't inherited, we need to redeclare these first
  // few properties so that content nested within behave properly.
  // The `flex-wrap` property is inherited to simplify the expanded navbars
  %container-flex-properties {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  > .container,
  > .container-fluid {
    @extend %container-flex-properties;
  }

  @each $breakpoint, $container-max-width in $container-max-widths {
    > .container#{breakpoint-infix($breakpoint, $container-max-widths)} {
      @extend %container-flex-properties;
    }
  }
}


// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand {
  // Boosted mod
  position: relative;
  display: inline-flex;
  align-items: flex-end;
  align-self: center;
  // End mod
  padding-top: var(--#{$prefix}navbar-brand-padding-y);
  padding-bottom: var(--#{$prefix}navbar-brand-padding-y);
  margin: map-get($spacers, 2) var(--#{$prefix}navbar-brand-margin-end); // Boosted mod
  @include font-size(var(--#{$prefix}navbar-brand-font-size));
  font-weight: $font-weight-bold; // Boosted mod
  line-height: .75; // Boosted mod
  color: var(--#{$prefix}navbar-brand-color);
  text-decoration: if($link-decoration == none, null, none);

  /* rtl:remove */
  letter-spacing: inherit; // Boosted mod
  white-space: nowrap;
  @include transition($navbar-brand-transition); // Boosted mod
  @include target-size($navbar-brand-logo-height); // Boosted mod

  &:hover,
  &:focus {
    color: var(--#{$prefix}navbar-brand-hover-color);
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  // Boosted mod
  //// Ensure headings variant align consistently
  h1,
  [class*="display-"],
  .h1, .h2, .h3, .h4, .h5, .h6 { // stylelint-disable-line selector-list-comma-newline-after
    margin: 0 0 0 $spacer;
    line-height: inherit;
  }

  //// Orange's master logo
  img {
    width: $navbar-brand-logo-minimized-height;
    height: $navbar-brand-logo-minimized-height;
    @include transition($navbar-brand-logo-transition);
  }
  // End mod
}


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  align-self: flex-end; // Boosted mod
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  // Boosted mod
  .nav-item {
    font-size: $h5-font-size;
    border-top: calc(var(--#{$prefix}border-width) * .5) solid $gray-900; // stylelint-disable-line function-disallowed-list
  }

  .nav-link {
    position: relative;
    padding: add($nav-link-padding-y, calc(var(--#{$prefix}border-width) * 2)) $nav-link-padding-x * .25; // stylelint-disable-line function-disallowed-list
    color: var(--#{$prefix}navbar-color);
    outline-offset: $spacer;
    @include transition($navbar-transition);

    &:hover,
    &:focus {
      color: var(--#{$prefix}navbar-hover-color);
      outline-offset: 0;
    }

    &.disabled {
      color: var(--#{$prefix}navbar-disabled-color);
    }

    &.active::before {
      position: absolute;
      right: $nav-link-padding-y * .5;
      bottom: 0;
      left: $nav-link-padding-y * .5;
      height: calc(var(--#{$prefix}border-width) * 2); // stylelint-disable-line function-disallowed-list
      content: "";
      background-color: currentColor;
      @include transition($navbar-active-transition);
    }

    &:last-child .nav-item:last-child .nav-link {
      padding-right: 0;

      &::before {
        right: 0;
      }
    }
  }
  // End mod

  .show > .nav-link,
  .nav-link.active {
    color: var(--#{$prefix}navbar-active-color);
  }

  .dropdown-menu {
    position: static;
  }
}


// Navbar text
//
//

.navbar-text {
  padding-top: add($nav-link-padding-y, calc(var(--#{$prefix}border-width) * 2)); /* stylelint-disable-line function-disallowed-list */ // Boosted mod
  padding-bottom: add($nav-link-padding-y, calc(var(--#{$prefix}border-width) * 2)); /* stylelint-disable-line function-disallowed-list */ // Boosted mod
  color: var(--#{$prefix}navbar-color);

  a,
  a:hover,
  a:focus  {
    color: var(--#{$prefix}navbar-active-color);
  }
}


// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  // For always expanded or extra full navbars, ensure content aligns itself
  // properly vertically. Can be easily overridden with flex utilities.
  align-items: center;
  align-self: flex-end; // Boosted mod
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  padding: var(--#{$prefix}navbar-toggler-padding-y) var(--#{$prefix}navbar-toggler-padding-x);
  @include font-size(var(--#{$prefix}navbar-toggler-font-size));
  line-height: 1;
  color: var(--#{$prefix}navbar-color);
  background-color: transparent; // remove default button style
  border: var(--#{$prefix}border-width) solid var(--#{$prefix}navbar-toggler-border-color); // remove default button style
  outline-offset: $spacer; // Boosted mod
  @include border-radius(var(--#{$prefix}navbar-toggler-border-radius));
  @include transition(var(--#{$prefix}navbar-toggler-transition));

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline-offset: calc(var(--#{$prefix}border-width) * -1); /* stylelint-disable-line function-disallowed-list */ // Boosted mod
    box-shadow: 0 0 0 var(--#{$prefix}navbar-toggler-focus-width);
  }

  // Boosted mod: close icon when opened & color state
  &:hover .navbar-toggler-icon,
  &:focus .navbar-toggler-icon,
  &:active .navbar-toggler-icon {
    filter: $orange-filter;
  }

  &[aria-expanded="true"] .navbar-toggler-icon {
    background-image: escape-svg($navbar-toggler-icon-close-bg);
  }
  // End mod
}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.navbar-toggler-icon {
  display: inline-block;
  width: $navbar-icon-size; // Boosted mod
  height: $navbar-icon-size; // Boosted mod
  vertical-align: middle;
  background-image: var(--#{$prefix}navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar-nav-scroll {
  max-height: var(--#{$prefix}scroll-height, 75vh);
  overflow-y: auto;
}

// scss-docs-start navbar-expand-loop
// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    // stylelint-disable-next-line scss/selector-no-union-class-name
    &#{$infix} {
      @include media-breakpoint-up($next) {
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-top: var(--#{$prefix}navbar-padding-y); // Boosted mod
        padding-bottom: $navbar-padding-bottom; // Boosted mod

        .navbar-nav {
          flex-direction: row;

          .dropdown-menu {
            position: absolute;
          }

          .nav-link {
            padding-right: var(--#{$prefix}navbar-nav-link-padding-x);
            padding-left: var(--#{$prefix}navbar-nav-link-padding-x);

            // Boosted mod
            &.active::before {
              right: $nav-link-padding-y;
              bottom: $navbar-padding-bottom * -1;
              left: $nav-link-padding-y;
            }
            // End mod
          }

          // Boosted mod
          .nav-item {
            font-size: $font-size-base;
            border: 0;
          }
          // End mod
        }

        // Boosted mod
        .navbar-brand {
          align-self: flex-end;
          margin: 0 $spacer subtract($spacer, var(--#{$prefix}border-width)) 0;

          img {
            width: $navbar-brand-logo-height;
            height: $navbar-brand-logo-height;
          }
        }
        // End mod

        .navbar-nav-scroll {
          overflow: visible;
        }

        .navbar-collapse {
          display: flex !important; // stylelint-disable-line declaration-no-important
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;
        }

        // Boosted mod: Offcanvas navbar is not allowed
      }
    }
  }
}
// scss-docs-end navbar-expand-loop

// Navbar themes
//
// Styles for switching between navbars with light or dark background.

.navbar-light {
  @include deprecate("`.navbar-light`", "v5.2.0", "v6.0.0", true);
}

.navbar-dark {
  --#{$prefix}navbar-color: #{$navbar-dark-color};
  --#{$prefix}navbar-hover-color: #{$navbar-dark-hover-color};
  --#{$prefix}navbar-disabled-color: #{$navbar-dark-disabled-color};
  --#{$prefix}navbar-active-color: #{$navbar-dark-active-color};
  --#{$prefix}navbar-brand-color: #{$navbar-dark-brand-color};
  --#{$prefix}navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
  --#{$prefix}navbar-toggler-border-color: #{$navbar-dark-toggler-border-color};
  --#{$prefix}navbar-toggler-icon-bg: #{escape-svg($navbar-dark-toggler-icon-bg)};

  // Boosted mod
  .navbar-toggler-icon {
    filter: $invert-filter;
  }
  // End mod
}
