// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav {
  // scss-docs-start nav-css-vars
  --#{$prefix}nav-link-padding-x: #{$nav-link-padding-x};
  --#{$prefix}nav-link-padding-y: #{$nav-link-padding-y};
  @include rfs($nav-link-font-size, --#{$prefix}nav-link-font-size);
  --#{$prefix}nav-link-font-weight: #{$nav-link-font-weight};
  --#{$prefix}nav-link-color: #{$nav-link-color};
  --#{$prefix}nav-link-hover-color: #{$nav-link-hover-color};
  --#{$prefix}nav-link-disabled-color: #{$nav-link-disabled-color};
  // scss-docs-end nav-css-vars

  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent; // OUDS mod
}

.nav-link {
  display: flex; // OUDS mod: instead of `block`
  align-items: center; // OUDS mod
  padding: var(--#{$prefix}nav-link-padding-y) var(--#{$prefix}nav-link-padding-x);
  @include font-size(var(--#{$prefix}nav-link-font-size));
  font-weight: var(--#{$prefix}nav-link-font-weight);
  color: var(--#{$prefix}nav-link-color);
  text-decoration: if($link-decoration == none, null, none);
  background: none;
  border: 0;
  @include transition($nav-link-transition);

  // OUDS mod: no focus
  &:hover {
    color: var(--#{$prefix}nav-link-hover-color);
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  // OUDS mod: no `&:focus-visible`

  // Disabled state lightens text
  &.disabled,
  &:disabled {
    color: var(--#{$prefix}nav-link-disabled-color);
    pointer-events: none;
    cursor: default;
  }
}

//
// Tabs
//

.nav-tabs {
  // scss-docs-start nav-tabs-css-vars
  --#{$prefix}nav-tabs-border-width: #{$nav-tabs-border-width};
  --#{$prefix}nav-tabs-border-color: #{$nav-tabs-border-color};
  --#{$prefix}nav-tabs-border-radius: #{$nav-tabs-border-radius};
  --#{$prefix}nav-tabs-link-padding-x: #{$nav-tabs-link-padding-x}; // OUDS mod
  --#{$prefix}nav-tabs-link-hover-color: #{$nav-tabs-link-hover-color}; // OUDS mod
  --#{$prefix}nav-tabs-link-hover-bg: #{$nav-tabs-link-hover-bg}; // OUDS mod
  --#{$prefix}nav-tabs-link-border-width: var(--#{$prefix}nav-tabs-border-width) var(--#{$prefix}nav-tabs-border-width) 0; // OUDS mod
  --#{$prefix}nav-tabs-link-hover-border-color: #{$nav-tabs-link-hover-border-color};
  --#{$prefix}nav-tabs-link-active-color: #{$nav-tabs-link-active-color};
  --#{$prefix}nav-tabs-link-active-bg: #{$nav-tabs-link-active-bg};
  --#{$prefix}nav-tabs-link-active-border-color: #{$nav-tabs-link-active-border-color};
  // scss-docs-end nav-tabs-css-vars

  border-bottom: var(--#{$prefix}nav-tabs-border-width) solid var(--#{$prefix}nav-tabs-border-color);

  // OUDS mod: margins between tabs on bigger screen
  @include media-breakpoint-up(lg) {
    .nav-item + .nav-item {
      margin-left: var(--#{$prefix}nav-link-padding-y);
    }
  }
  // End mod

  .nav-link {
    padding: subtract(1rem, var(--#{$prefix}nav-tabs-border-width)) subtract(var(--#{$prefix}nav-tabs-link-padding-x), var(--#{$prefix}nav-tabs-border-width)); // OUDS mod
    margin-bottom: calc(-1 * var(--#{$prefix}nav-tabs-border-width)); // stylelint-disable-line function-disallowed-list
    border: var(--#{$prefix}nav-tabs-border-width) solid transparent;
    border-width: var(--#{$prefix}nav-tabs-link-border-width); // OUDS mod
    @include border-top-radius(var(--#{$prefix}nav-tabs-border-radius));

    // OUDS mod: no focus
    &:hover {
      color: var(--#{$prefix}nav-tabs-link-hover-color); // OUDS mod
      background-color: var(--#{$prefix}nav-tabs-link-hover-bg); // OUDS mod
      // Prevents active .nav-link tab overlapping focus outline of previous/next .nav-link
      isolation: isolate;
      border-color: var(--#{$prefix}nav-tabs-link-hover-border-color);
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: var(--#{$prefix}nav-tabs-link-active-color);
    background-color: var(--#{$prefix}nav-tabs-link-active-bg);
    border-color: var(--#{$prefix}nav-tabs-link-active-border-color);
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: calc(-1 * var(--#{$prefix}nav-tabs-border-width)); // stylelint-disable-line function-disallowed-list
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}

//
// Pills
//

.nav-pills {
  // scss-docs-start nav-pills-css-vars
  --#{$prefix}nav-pills-padding-x: #{$nav-pills-padding-x}; // OUDS mod
  --#{$prefix}nav-pills-border-radius: #{$nav-pills-border-radius};
  --#{$prefix}nav-pills-link-active-color: #{$nav-pills-link-active-color};
  --#{$prefix}nav-pills-link-active-bg: #{$nav-pills-link-active-bg};
  // scss-docs-end nav-pills-css-vars

  .nav-link {
    padding-right: var(--#{$prefix}nav-pills-padding-x); // OUDS mod
    padding-left: var(--#{$prefix}nav-pills-padding-x); // OUDS mod
    @include border-radius(var(--#{$prefix}nav-pills-border-radius));
  }

  .nav-link.active,
  .show > .nav-link {
    color: var(--#{$prefix}nav-pills-link-active-color);
    @include gradient-bg(var(--#{$prefix}nav-pills-link-active-bg));
  }

  // OUDS mod
  .nav-item + .nav-item {
    margin-left: calc(var(--#{$prefix}nav-link-padding-y) * .5); // stylelint-disable-line function-disallowed-list
  }
  // End mod
}

//
// Underline
//

.nav-underline {
  // scss-docs-start nav-underline-css-vars
  --#{$prefix}nav-underline-gap: #{$nav-underline-gap};
  --#{$prefix}nav-underline-border-width: #{$nav-underline-border-width};
  --#{$prefix}nav-underline-border-color: #{$nav-underline-border-color}; // OUDS mod
  --#{$prefix}nav-underline-border-radius: #{$nav-underline-border-radius}; // OUDS mod
  --#{$prefix}nav-underline-link-padding-x: #{$nav-underline-link-padding-x}; // OUDS mod
  --#{$prefix}nav-underline-link-hover-color: #{$nav-underline-link-hover-color}; // OUDS mod
  --#{$prefix}nav-underline-link-hover-bg: transparent; // OUDS mod
  --#{$prefix}nav-underline-link-border-width: #{$nav-underline-link-border-width}; // OUDS mod
  --#{$prefix}nav-underline-link-hover-border-color: transparent; // OUDS mod
  --#{$prefix}nav-underline-link-active-color: #{$nav-underline-link-active-color};
  --#{$prefix}nav-underline-link-active-bg: #{$nav-underline-link-active-bg}; // OUDS mod
  --#{$prefix}nav-underline-link-active-border-color: #{$nav-underline-link-active-border-color}; // OUDS mod
  // scss-docs-end nav-underline-css-vars

  gap: var(--#{$prefix}nav-underline-gap);
  border-bottom: var(--#{$prefix}nav-underline-border-width) solid var(--#{$prefix}nav-underline-border-color); // OUDS mod

  // OUDS mod
  // Bigger gap between elements from lg breakpoint
  @include media-breakpoint-up(lg) {
    --#{$prefix}nav-underline-gap: #{$nav-underline-gap-lg};
  }

  .nav-link {
    padding: subtract(1rem, var(--#{$prefix}nav-underline-border-width)) subtract(var(--#{$prefix}nav-underline-link-padding-x), var(--#{$prefix}nav-underline-border-width)); // OUDS mod
    margin-bottom: calc(-1 * var(--#{$prefix}nav-underline-border-width)); // stylelint-disable-line function-disallowed-list
    border: var(--#{$prefix}nav-underline-border-width) solid transparent;
    border-width: var(--#{$prefix}nav-underline-link-border-width);
    @include border-top-radius(var(--#{$prefix}nav-underline-border-radius));

    &:hover {
      color: var(--#{$prefix}nav-underline-link-hover-color);
      background-color: var(--#{$prefix}nav-underline-link-hover-bg);
      // Prevents active .nav-link tab overlapping focus outline of previous/next .nav-link
      isolation: isolate;
      border-color: var(--#{$prefix}nav-underline-link-hover-border-color);
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    --#{$prefix}nav-link-color: var(--#{$prefix}nav-underline-link-active-color);
    background-color: var(--#{$prefix}nav-underline-link-active-bg);
    border-color: var(--#{$prefix}nav-underline-link-active-border-color);
  }
  // End mod
}


//
// Justified variants
//

.nav-fill {
  > .nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  > .nav-link,
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

.nav-fill,
.nav-justified {
  .nav-item .nav-link {
    width: 100%; // Make sure button will grow
  }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  // OUDS mod
  // scss-docs-start tab-content-css-vars
  --#{$prefix}tab-content-padding-y: #{$spacer};
  --#{$prefix}tab-content-padding-x: #{subtract($nav-tabs-link-padding-x, var(--#{$prefix}tab-content-border-width))};
  --#{$prefix}tab-content-border-width: #{$nav-tabs-border-width};
  --#{$prefix}tab-content-border-color: #{$nav-tabs-border-color};
  // scss-docs-end tab-content-css-vars

  padding: var(--#{$prefix}tab-content-padding-y) var(--#{$prefix}tab-content-padding-x);
  background-color: transparent;
  border: var(--#{$prefix}tab-content-border-width) solid var(--#{$prefix}tab-content-border-color);
  border-top: 0;
  // End mod

  > .tab-pane {
    display: none;
  }

  // OUDS mod
  > .tab-pane-with-nested-tab {
    display: none;
    margin: calc(-1 * var(--#{$prefix}tab-content-padding-y)) calc(-1 * var(--#{$prefix}tab-content-padding-x)); // stylelint-disable-line function-disallowed-list
  }
  // End mod

  > .active {
    display: block;
  }
}
