// Alerts
//
//

.alert {
  line-height: $close-font-size;
  border: 0;
}

.alert-dismissible {
  .close {
    position: relative;
    top: -1.125rem;
    right: -1.125rem;
    padding: 1.125rem;
  }
}
