//
//    Accordions
//

.o-accordion,
.o-accordion-triangle {

  .panel-title {
    position: relative;
    margin: 0;
    font-size: $font-size-base;
    line-height: 1;

    a {
      position: relative;
      display: block;
      padding: 1.0625rem 0;

      &::after {
        position: absolute;
        top: 1.3125rem;
        right: .625rem;
        width: .875rem;
        height: .4375rem;
        content: "";
        background-image: $accordion-arrow-icon;
      }

      &.collapsed::after {
        transform: rotate(180deg);
      }
    }
  }

  .panel {
    border-bottom: 1px solid $gray-light-o;

    &:first-child .panel-title {
      border-top: 1px solid $gray-light-o;
    }
  }
  // For mobile display emphase the border
  @include media-breakpoint-down(sm) {
    .panel {
      border-bottom-width: 2px;

      &:first-child .panel-title {
        border-top-width: 2px;
      }
    }
  }

  .panel-default > .panel-heading {
    padding: 0;

    + .panel-collapse .panel-body {
      padding: .625rem;
      background-color: #fff;
    }
  }
}
