//
//    Accordions
//

.o-accordion,
.o-accordion-triangle {

  .panel-title {
    position: relative;
    margin: 0;
    font-size: $font-size-base;
    line-height: 1;

    a {
      display: block;
      padding: 1.0625rem 0;
    }

    .arrow {
      position: absolute;
      top: 1.1875rem;
      right: 10px;
      border-top: 10px solid #000;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      transition-timing-function: ease;
      transition-duration: .5s;
      transform: rotate(180deg);
    }

    .collapsed .arrow {
      transform: rotate(0deg);
    }
  }

  .panel {
    border: 0;
    border-bottom: 1px solid $gray-light-o;
  }

  .panel-default > .panel-heading {
    padding: 0;

    + .panel-collapse .panel-body {
      padding: .625rem;
      background-color: #fff;
    }
  }
}
