//
//    Accordion
//

.o-accordion .card {
  margin-bottom: 0;
  border: 0;
  border-bottom: 1px solid $gray-light-o;

  &:first-child {
    border-top: 1px solid $gray-light-o;
  }

  .card-header {
    padding: 0;
    background-color: #fff;
    border: 0;

    &,
    h5 {
      margin: 0;
      font-size: $font-size-base;
      font-weight: bold;
      line-height: 1;
    }

    a,
    h5 a {
      position: relative;
      display: block;
      padding: 1.0625rem 0;

      &::after {
        position: absolute;
        top: 1.3125rem;
        right: .625rem;
        width: .875rem;
        height: .4375rem;
        content: "";
        background-image: $accordion-arrow-icon;
      }

      &.collapsed::after {
        transform: rotate(180deg);
      }
    }
  }

  .card-block {
    padding: 0;
    margin: .625rem;
  }
}
// For mobile display emphase the border
@include media-breakpoint-down(sm) {
  .o-accordion .card {
    border-bottom-width: 2px;

    &:first-child {
      border-top-width: 2px;
    }
  }
}
