//********************************************************/
//******************* bullet points **********************/
//********************************************************/
.o-square-list {
  color: $brand-primary;
  list-style-type: square;
}
.o-square-list li span {
  color: #000;
}
.o-square-list ul {
  padding-left: 15px;
  color: #999;
  list-style-type: square;
}
.o-square-list ul li span {
  color: #000;
}
.o-square-list ul ul {
  padding-left: 15px;
  color: $gray-light-o;
  list-style-type: square;
}
.o-square-list ul ul span {
  color: #000;
}
