// Badges

.badge {
  font-size: .8125rem;

  &.badge-primary,
  &.badge-danger {
    color: #fff;
  }
}

a.badge {
  @include hover-focus {
    color: #000;

    &.badge-primary,
    &.badge-danger {
      color: #fff;
    }
  }
}
