//
//    classic tab
//

.nav-tabs {
  border-width: 2px;

  .nav-item {
    margin-bottom: -2px;

    + .nav-item {
      margin-left: ($grid-gutter-width / 2);
    }

    .nav-link {
      padding: 1rem 2rem;
      font-size: 1.6rem;
      font-weight: bold;
      border-width: 2px;

      @include hover {
        color: $nav-tabs-link-hover-color;
        background-color: $nav-tabs-link-hover-bg;

        &.active {
          color: $nav-tabs-active-link-hover-color;
          background-color: $nav-tabs-active-link-hover-bg;
        }
      }

      @include focus {
        border-width: 2px;
        outline-width: 1px;
        outline-style: dotted;
        outline-offset: -6px;
      }
    }
  }
}

// Pills
// -------------------------
.nav-pills {
  > li {
    + li {
      margin-left: ($grid-gutter-width / 4);
    }

    // Active state
    &,
    &.active {
      > a {
        font-weight: bold;

        &:hover {
          color: $nav-pills-active-link-hover-color;
          background-color: $nav-pills-active-link-hover-bg;
        }

        &:focus {
          color: $brand-orange-white;
          background-color: $brand-orange;
          outline: none;
        }
      }
    }
  }
}

.tab-content {
  padding: 1em;
  border-color: transparent $brand-orange-black $brand-orange-black;
  border-style: solid;
  border-width: 2px;
}

.tab-content-clear {
  padding: 1em;
  border: 0;
}
