//
//  Orange forms
//

.form-group {

  &.row {
    .form-control-label {
      padding: .625rem;
    }
  }

  &.is-required .form-control-label::after {
      content: "*";
      margin-left: 6px;
      color: $brand-primary;
      font-weight: bold;
    }

  .form-control-label {
    padding: .625rem 0;
  }

  // browser reset
  .form-control:invalid {
    box-shadow: none;
    outline: none;
  }

  &.has-danger,
  &.has-warning,
  &.has-success {
    .form-control-label {
      color: #000;
    }
  }

  &.has-danger {
    .form-control-message {
      display: inline-block;
      padding: .625rem 0;
      font-size: $font-size-sm;
      font-weight: bold;
      color: $brand-danger;
    }
  }

  select.form-control {
    &:not([size]):not([multiple]) {
      height: 2.5rem;
      padding: .5rem .625rem .5rem .4375rem;
    }
  }
}
