//
//  Footer
//

.o-footer {
  color: $brand-orange-white;
  background-color: $brand-orange-black;

  * {
    font-weight: $brand-font-weight-bold;
  }

  .o-footer-top {
    ul {
      padding: 30px 0;
      margin: 0 auto;
      font-size: $font-size-sm;
      list-style: none;
      background: $brand-orange-black;
    }

    li {
      h2:first-child {
        margin: 0 0 18px;
        font-size: $font-size-base;
        font-weight: $brand-font-weight-bold;
        color: $brand-orange-white;
      }

      a {
        font-size: $font-size-sm;
        line-height: 2.8;
        color: $gray-light-plus;
      }
    }
  }

  .o-footer-bottom {
    min-height: 50px;
    color: $gray-light-plus;
    background-color: $brand-orange-black;
    border-top: 1px solid $gray;

    ul {
      padding: 10px;
      margin: 0;
      text-align: center;
      list-style: none;
    }
    li {
      display: inline;
      margin-right: 20px;
      font-size: $font-size-sm;

      a {
        font-size: $font-size-sm;
        font-weight: $brand-font-weight-bold;
        color: $brand-orange-white;
      }
    }
  }
}

@media (min-width: 768px) {
  .o-footer .navbar-nav > li {
    float: left;

    a {
      padding: 1rem;
      margin-top: 2.8rem;
      margin-bottom: 0;
    }
  }
}
