//
//  Orange forms
//

.form-group {

  &.row {
    .form-control-label {
      padding: .625rem;
    }
  }

  .form-control-label {
    padding: .625rem 0;
  }

  &.has-danger,
  &.has-warning,
  &.has-success {
    .form-control-label {
      color: #000;
    }
  }

  &.has-danger {
    .form-control-message {
      display: inline-block;
      padding: .625rem 0;
      font-size: $font-size-sm;
      font-weight: bold;
      color: $brand-danger;
    }
  }
}
