@font-face {
	font-family: 'icon-orange';
	src: url('#{$icon-font-path}icon-orange.eot?8gboju');
	src: url('#{$icon-font-path}icon-orange.eot?#iefix8gboju') format('embedded-opentype'),
		url('#{$icon-font-path}icon-orange.woff?8gboju') format('woff'),
		url('#{$icon-font-path}icon-orange.ttf?8gboju') format('truetype'),
		url('#{$icon-font-path}icon-orange.svg?8gboju#icon-orange') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-popout-care
,.icon-popout-family
,.icon-popout-fun
,.icon-popout-home
,.icon-popout-money
,.icon-popout-on-the-move
,.icon-popout-tariff
,.icon-popout-tech
,.icon-popout-wellbeing
,.icon-popout-work
,.icon-frame-family
,.icon-frame-fun
,.icon-frame-home
,.icon-frame-money
,.icon-frame-on-the-move
,.icon-frame-tariff
,.icon-frame-tech
,.icon-frame-wellbeing
,.icon-frame-work
,.icon-frame-care
,.icon-orange-about
,.icon-orange-alert-severe
,.icon-orange-battery
,.icon-orange-calendar
,.icon-orange-call-log
,.icon-orange-camera
,.icon-orange-cinemas
,.icon-orange-contacts
,.icon-orange-contacts-card
,.icon-orange-email
,.icon-orange-favorite-tv
,.icon-orange-favourites
,.icon-orange-film
,.icon-orange-fondation
,.icon-orange-gauge-remaining
,.icon-orange-home
,.icon-orange-internet-usage
,.icon-orange-location
,.icon-orange-messaging-sms
,.icon-orange-messaging-unified
,.icon-orange-mini-games
,.icon-orange-music
,.icon-orange-my-account
,.icon-orange-my-travels
,.icon-orange-numero-unique
,.icon-orange-offers
,.icon-orange-assistant
,.icon-orange-launcher
,.icon-orange-library
,.icon-orange-nature
,.icon-orange-radio
,.icon-orange-tv
,.icon-orange-updates
,.icon-orange-wallet
,.icon-orange-wifi
,.icon-orange-photography
,.icon-orange-quirky-stories
,.icon-orange-science
,.icon-orange-search
,.icon-orange-sent
,.icon-orange-settings
,.icon-orange-sport
,.icon-orange-tv-remote
,.icon-orange-voicemail
,.icon-orange-wallpaper {
    font-size: $icon-font-weight;
	font-family: 'icon-orange';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="icon-frame-"], [class*=" icon-frame-"] {
    color: $brand-orange;   
}


.icon-popout-care:before {
	content: "\e62d";
}

.icon-popout-family:before {
	content: "\e62e";
}

.icon-popout-fun:before {
	content: "\e62f";
}

.icon-popout-home:before {
	content: "\e630";
}

.icon-popout-money:before {
	content: "\e631";
}

.icon-popout-on-the-move:before {
	content: "\e632";
}

.icon-popout-tariff:before {
	content: "\e633";
}

.icon-popout-tech:before {
	content: "\e634";
}

.icon-popout-wellbeing:before {
	content: "\e635";
}

.icon-popout-work:before {
	content: "\e636";
}

.icon-frame-family:before {
	content: "\e637";
}

.icon-frame-fun:before {
	content: "\e638";
}

.icon-frame-home:before {
	content: "\e639";
}

.icon-frame-money:before {
	content: "\e63a";
}

.icon-frame-on-the-move:before {
	content: "\e63b";
}

.icon-frame-tariff:before {
	content: "\e63c";
}

.icon-frame-tech:before {
	content: "\e63d";
}

.icon-frame-wellbeing:before {
	content: "\e63e";
}

.icon-frame-work:before {
	content: "\e63f";
}

.icon-frame-care:before {
	content: "\e640";
}

.icon-orange-about:before {
	content: "\e600";
}

.icon-orange-alert-severe:before {
	content: "\e601";
}

.icon-orange-battery:before {
	content: "\e602";
}

.icon-orange-calendar:before {
	content: "\e603";
}

.icon-orange-call-log:before {
	content: "\e604";
}

.icon-orange-camera:before {
	content: "\e605";
}

.icon-orange-cinemas:before {
	content: "\e606";
}

.icon-orange-contacts:before {
	content: "\e607";
}

.icon-orange-contacts-card:before {
	content: "\e608";
}

.icon-orange-email:before {
	content: "\e609";
}

.icon-orange-favorite-tv:before {
	content: "\e60a";
}

.icon-orange-favourites:before {
	content: "\e60b";
}

.icon-orange-film:before {
	content: "\e60c";
}

.icon-orange-fondation:before {
	content: "\e60d";
}

.icon-orange-gauge-remaining:before {
	content: "\e60e";
}

.icon-orange-home:before {
	content: "\e60f";
}

.icon-orange-internet-usage:before {
	content: "\e610";
}

.icon-orange-location:before {
	content: "\e611";
}

.icon-orange-messaging-sms:before {
	content: "\e612";
}

.icon-orange-messaging-unified:before {
	content: "\e613";
}

.icon-orange-mini-games:before {
	content: "\e614";
}

.icon-orange-music:before {
	content: "\e615";
}

.icon-orange-my-account:before {
	content: "\e616";
}

.icon-orange-my-travels:before {
	content: "\e617";
}

.icon-orange-numero-unique:before {
	content: "\e618";
}

.icon-orange-offers:before {
	content: "\e619";
}

.icon-orange-assistant:before {
	content: "\e61a";
}

.icon-orange-launcher:before {
	content: "\e61b";
}

.icon-orange-library:before {
	content: "\e61c";
}

.icon-orange-nature:before {
	content: "\e61d";
}

.icon-orange-radio:before {
	content: "\e61e";
}

.icon-orange-tv:before {
	content: "\e61f";
}

.icon-orange-updates:before {
	content: "\e620";
}

.icon-orange-wallet:before {
	content: "\e621";
}

.icon-orange-wifi:before {
	content: "\e622";
}

.icon-orange-photography:before {
	content: "\e623";
}

.icon-orange-quirky-stories:before {
	content: "\e624";
}

.icon-orange-science:before {
	content: "\e625";
}

.icon-orange-search:before {
	content: "\e626";
}

.icon-orange-sent:before {
	content: "\e627";
}

.icon-orange-settings:before {
	content: "\e628";
}

.icon-orange-sport:before {
	content: "\e629";
}

.icon-orange-tv-remote:before {
	content: "\e62a";
}

.icon-orange-voicemail:before {
	content: "\e62b";
}

.icon-orange-wallpaper:before {
	content: "\e62c";
}