//
// o-link-arrow
//

.o-link-arrow {
  font-weight: $font-weight-bold;

  &::after,
  &::before {
    display: inline-block;
    padding: $o-link-arrow-padding-y $o-link-arrow-padding-x;
    // stylelint-disable-next-line declaration-no-important, font-family-no-missing-generic-family-keyword
    font-family: icon-orange !important;
    font-size: $o-link-arrow-size;
    text-decoration: $link-hover-decoration;
    speak: none;

    // Better Font Rendering =========== //
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &:not(.back)::after {
    content: "\e93e";
  }

  &.back::before {
    content: "\e93f";
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
