//
// Main mega menu
//
.navbar-default {
  border:  0 none;
  border-radius:  0;
  border-image-width:  0;
  box-shadow:  none;
}

.navbar-default .nav .nav-item .nav-item-cdu:hover,
.navbar-default .nav .nav-item .nav-item-cdu:focus {
  text-decoration: underline;
  background-color: transparent;
}
.navbar-default .nav .nav-item .nav-item-cdu {
  color:  $brand-orange-white !important;
}

// remove bootstrap transparent bg on small device
.navbar-nav {
  @media (max-width:  $grid-float-breakpoint-max) {
    // Dropdowns get custom display when collapsed
    .open .dropdown-megamenu {
      background-color:  $dropdown-bg;
      a {
        color:  $dropdown-link-color;
        &:hover,
        &:focus {
          color:  $dropdown-link-hover-color;
          text-decoration:  none;
          background-color:  $dropdown-link-hover-bg;
        }
      }
    }
  }
}


@media (max-width:  $screen-sm-max) {
  .navbar-default .navbar-form .form-control {
    height:  auto;
    font-size:  .95em;
  }
  .navbar-default .sub-nav {
    position:  relative;
  }
  .navbar-default .navbar-collapse {
    max-height:  none;
  }
}

.nav-menu .sub-nav .container,
.nav-menu .sub-nav .container-fluid,
.nav-menu .sub-nav.container,
.nav-menu .sub-nav.container-fluid {
  z-index:  1;
  background-color:  $brand-orange-white;
  box-shadow:  0 6px 12px rgba(0, 0, 0, .176);
}

// mega menu list
.nav-menu {
  position:  relative;
  z-index:  15;
  display:  block;
  padding:  0;
  margin:  0;
  list-style:  none;
}

// sub-navigation panel
.sub-nav {
  position:  absolute;
  left:  0;
  display:  none;
  margin-top:  1px;
  border:  1px solid transparent;
}

// sub-navigation panel open state
.sub-nav.open {
  display:  block;
}

// list of items within sub-navigation panel
.sub-nav ul {
  display:  inline-block;
  padding:  0;
  margin:  0 1em 0 0;
  vertical-align:  top;
}

// list item within sub-navigation panel
.sub-nav li {
  display:  block;
  padding:  0;
  margin:  0;
  list-style-type:  none;
}

// link item within sub-navigation panel list
.sub-nav li a {
  color:  $brand-orange-black;
}
.sub-nav li a:focus, .sub-nav li a:hover {
  color:  $brand-orange;
}
.mmenu {
  // Specific dropdowns
  // make dropdown border overlap tab border
  background-color:  $dropdown-bg;
  background-clip:  padding-box;
  border:  1px solid $dropdown-border-color;
  border-radius:  $border-radius;
  @include box-shadow(0 6px 12px rgba(0,0,0,.175));
  // Remove the top rounded corners here since there is a hard edge above the menu
  @include border-top-radius(0);
}

//
// Mega menu
//

.mega-menu {
  position:  $megamenu-position;
  top:  0;
  left:  0;
  z-index: 10;
  width:  100%;
}

.mega-menu.navbar {
  padding:  0;
  color:  $brand-orange-white;
  background-color:  $brand-orange-black;

  .navbar-toggle {
    border-color:  $brand-orange-white;
    &:hover,
    &:focus {
      background-color:  $brand-orange;
    }
    .icon-bar {
      background-color:  $brand-orange-white;
    }
  }

  .nav > li > a {
    color:  $brand-orange-white;
    &:hover,
    &:focus {
      color:  $brand-orange;
    }
  }


  a {
    color: $brand-orange-white;
  }

  .dropdown-menu a {
    color: $brand-orange-black;
  }

  .dropdown-menu a.dropdown-item:hover,
  .dropdown-menu a.dropdown-item:focus {
    color: $brand-orange-white;
  }
  .dropdown-menu {
    right: 0;
    left: initial;
  }
  .nav,
  .collapse {
    position:  static;
  }

  .container {
    position:  relative;
  }

  .dropdown-megamenu {
    position: absolute;
    top: 100%;
    left:  auto;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1.4rem;
    text-align: left;
    list-style: none;
    background-color: $brand-orange-white;
    background-clip: padding-box;
    border: 1px solid $brand-orange-black;
    border-radius: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

  }


  .nav-item.dropdown .dropdown-megamenu {
    right:  0;
    left:  0;
  }

  .nav-item  ul {
    list-style:  none;
  }




  .container {
    position:  static;
  }

  .dropdown-megamenu {
    left: 0;
    width: 100%;
    margin:  0;
    color:  $brand-orange-white;
    background-color:  $brand-orange-black;
    border-top:  1px solid rgba(35,35,35,.9);
    border-right:  0 solid;
    border-left:  0 solid;
  }

  .dropdown-megamenu h3 {
    color:  $brand-orange-white;
  }

  .dropdown-megamenu a {
    color:  $brand-orange-white;
  }

  .sticky {
    position:  static;
    top:  0;
    left:  0;
    z-index:  100;
    border-top:  0;
  }

  .black {
    background-color:  $brand-orange-black !important;
  }

  .border-bottom {
    border-bottom:  $megamenu-border !important;
  }

  .topmenu {
    z-index:  10;
    width:  100%;
    height: 46px;
    overflow: hidden;
    transition: 0.3s;
  }

  .topmenu > .topmenucontent {
    position:  relative;
    z-index:  100;
    box-sizing:  border-box;
    width:  100%;
    height:  46px;
    overflow:  hidden;
    background:  $brand-orange-black;
  }

  .topmenu > .topmenucontent {
    margin:  0 auto;
  }

  .color-white, .color-white * {
    color:  $brand-orange-white !important;
    border-color:  $brand-orange-white !important;
  }

  .topmenu > .topmenucontent > .left {
    display:  inline-block;
    margin-left:  10;
  }

  .resorbe {
    height: 0;
  }
  .f15 {
    font-size:  1.5rem;
    line-height:  1.7rem;
    letter-spacing:  -.015em;
  }

  .color-white, .color-white * {
    color:  $brand-orange-white !important;
    border-color:  $brand-orange-white !important;
  }

  .topmenucontent > .left > div {
    display:  inline-block;
    width:  0;
    height:  24px;
    margin:  8px 22px 0 0;
    overflow:  hidden;
    vertical-align:  top;
    cursor:  pointer;
    transition:  all 1s;
  }

  .topmenucontent > .left > a {
    display:  inline-block;
    margin:  12px 18px 0 0;
    text-decoration:  none;
    transition:  all .5s;
  }

  .color-orange, .color-orange * {
    color:  $megamenu-hover-color !important;
    border-color:  $megamenu-hover-color !important;
  }

  .topmenucontent > .right {
    position:  absolute;
    top:  6px;
    right:  10px;
    display:  inline-block;
  }

  .topmenucontent > .right > img:first-of-type {
    max-width:  0;
    overflow:  hidden;
    cursor:  pointer;
    transition:  all .5s;
  }

  .topmenucontent > .right > img {
    margin-left:  22px;
    vertical-align:  bottom;
  }

  .topmenucontent > .right > a {
    padding:  5px 0;
    margin-left:  18px;
    text-decoration:  none;
  }

  .closing-bare {
    height: 40px;
    overflow: hidden;
    clear: both;
  }

  .closing-bare-button {
    float:  right;
    padding:  10px 0;
  }

  .mega-menu-content-title {
    padding:  10px;
    color:  $brand-orange-white;
  }

  ul {
    padding-right:  0;
    padding-left:  0;
  }

  .dropdown-megamenu .row {
    padding:  20px 10px;
  }

  .megamenu-dropdown-toggle::after {
    display:  none;
  }

  .megamenuclosetop,
  .megamenusearchtop {
    display:  none;
    }

  .megamenubacktop {
    display:  none;
    padding: 4px;
  }

  .megamenusearchinputtext {
    width:  100%;
    padding:  10px 5px 8px;
    color:  $brand-orange-white;
    vertical-align:  bottom;
    background-color:  #555;
    border:  1px solid transparent;
  }

  .megamenusearchinputwrapp {
    position:  relative;
    width:  calc(100% - 120px);
    max-width:  calc(100% - 120px);
    margin:  0 20px 0 0;
    overflow:  hidden;
    color:  $brand-orange-white;
    vertical-align:  bottom;
    background-color:  #555;
    border:  1px solid transparent;
  }

  .megamenusearchwraper {
    padding:  30px 0;
  }

  input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    outline-color:  $megamenu-hover-color;
  }

  .megamenusearchinputclose {
    position:  absolute;
    top:  0;
    right:  -45px;
    padding:  5px 15px;
    overflow:  hidden;
    font-size:  18px;
    cursor: pointer;
    transition-duration:  .2s;
  }

  .visible {
    right:  0;
  }

  .dropdown-mega {
    position: static;
  }

  .megamenu-dropdown-toggle {
    display: block;
    padding-top: .425rem;
    padding-bottom: 1rem;
    margin-top:  3.8rem;
  }

  .nav > li > a.active {
    color:  $megamenu-hover-color;
  }

  .navbar-brand-small img {
    width:  25px;
    margin: 0 10px;
    font-size:  .7rem;
    font-weight:  400;
    color:  $brand-orange-white;
  }

  .topmenu > .topmenucontent > .navbar-brand-smallblock {
    display:  none;
  }

  .menu-footer-320,
  .navbar-langbar {
    display:  none;
  }

  .container .navbar-smallsearchbar {
    display:  none;
  }

  .open>.dropdown-megamenu {
    display: block;
  }

  .menu-footer-320 ul,
  .navbar-langbar ul {
    border:  0 none;
  }

  .navbar-langbar {
    border:  $megamenu-border;
  }

  .menu-footer-320 ul,
  .navbar-langbar ul {
    margin-bottom:  0;
    color:  $brand-orange-white;
    list-style-type:  none;
  }

  .menu-footer-320 ul a,
  .navbar-langbar ul a {
    color: $brand-orange-white;
  }

  .navbar-langbar ul li {
    float:  right;
    padding:  10px;
  }

  .menu-footer-320 li {
    float:  left;
    padding:  10px;
  }

  .mega-menu-content > .logo-menu-discover-wrap {
    position:  relative;
    height:  180px;
    text-align:  center;
  }

  .logo-menu-accueil ,
  .logo-menu-discover {
    position:  absolute;
    top:  0;
    left:  0;
    z-index:  -1;
    width:  100%;
    height:  150px;
    font-size:  170px;
  }

  .logo-menu-discover-caption {
    padding-top:  70px;
    font-size:  25px;
  }

  .mega-menu-content li a:hover {
    color:  $megamenu-hover-color;
    text-decoration: underline !important;
  }

  .megamenu-top-main {
    margin-left: 10px;
  }

  .megamenu-top-main > a {
    display: inline-block;
    margin: 12px 18px 0 0;
    text-decoration: none;
    transition: all .5s;
  }

  .topmenulang {
    position: relative;
    float: right;
  }

  .navbar .topmenulang a {
    margin-top: .8rem;
  }


  .icon-bar {
    display:  block;
    width:  22px;
    height:  2px;
    margin-top: 4px;
    border:  1px solid $brand-orange-white;
    border-radius:  1px;
  }

  .navbar-toggle .icon-bar {
    background-color:  $brand-orange-white;
  }
}

@media (max-width:  960px) {
  .mega-menu.navbar {
    .logo-menu-discover-caption {
      padding-top:  calc(50% - 10px);
      font-size:  25px;
    }

    .megamenusearchtop {
      display:  inline-block;
    }

    .megamenubacktop {
      display:  inline-block;
    }

    .megamenuclosetop {
      display:  inline-block;
    }

    .topmenucontent > .right > a {
      margin-left:  8px;
    }

    .topmenu > .topmenucontent > div.right > a.megamenubacktop {
      margin-left:  16px;
    }

    .topmenulang {
      display: none;
    }
  }
}

@media (max-width:  767px) {
  .mega-menu.navbar {
    .dropdown-megamenu .row {
      padding: 0;
    }

    .logo-menu-discover-caption {
      padding-top:  calc(45% - 4vw);
      font-size:  8vw;
    }

    .topmenu > .topmenucontent > .navbar-brand-smallblock {
      display:  inline-block;
    }

    .navbar-nav .open .dropdown-megamenu {
      background:  $brand-orange-black;
    }

    .container {
      max-width:  100%;
    }

    .megamenuaccounttop {
      display:  none;
    }

    .topmenu > .topmenucontent > .megamenu-top-main {
      display:  none;
    }

    .container .navbar-brand {
      display:  none;
    }
    .container h2 {
      font-size:  1.9rem;
    }

    .container h3,
    .container li > a {
      font-size:  1.4rem;
    }

    .container .nav-menu li.nav-item,
    .container li ul > li {
      width:  100%;
      clear:  both;
    }

    .container div > h2,
    .container li ul > li a,
    .container li div > h3 {
      padding-left:  0;
    }

    .container div > h2,
    .container li ul > li {
      border-bottom:  $megamenu-border;
    }

    .container div > h2,
    .container li ul > li,
    .container li div > h3 {
      padding-top:  0;
      padding-bottom:  0;
      margin-top:  0;
    }

    .container .row.mega-menu-content > div {
      padding: 10px 0 10px 10px;
      border-bottom:  1px solid #555;
    }
    h4 {
      margin: 0;
    }

    .mega-menu-content > div ul li,
    .row.mega-menu-content > h2 {
      padding: 10px 0 10px 10px;
    }

    .container .nav-menu li.nav-item > a {
      width:  100%;
    }

    .container {
      padding-right:  0;
      padding-left:  0;
    }

    .nav-item .megamenu-dropdown-toggle {
      margin-top:  .8rem;
    }

    .searchpanel {
      display:  none;
    }

    .nav-item+.nav-item {
      margin-left:  0;
    }

    .nav-item {
      padding-left:  1rem;
    }

    .nav-menu .dropdown-megamenu {
      position:  static;
    }

    .nav-item {
      border-bottom:  $megamenu-border;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      padding-left:  0;
    }

    .closing-bare {
      display: none;
    }

    div .megamenuclosetop,
    .navbar-toggleable-xs {
      display: none;
    }

    .megamenuclosetop.active {
      display: inline-block;
    }

    .navbar-toggleable-xs.active {
      display: block;
    }

    div .megamenubacktop.disabled {
      display:  none;
    }

    div .megamenubacktop {
      margin-right:  0;
    }

    .navbar-toggleable-xs {
      position:  relative;
      overflow:  hidden;
    }

    div .nav {
      position:  inherit;
    }

    .nav-menu {
      left: 0;
      transition-duration:  .3s;
    }

    .menu-level1 {
      left: -100%;
    }

    .menu-level2 {
      left: -200%;
    }

    .navbar-toggleable-xs ul li ul ul {
      position:  absolute;
      top:  0;
      left:  100%;
      display:  none;
      width:  100%;
    }

    .mega-menu-content > div {
      position:  inherit;
      padding-right:  0;
    }

    .open>.dropdown-megamenu {
      display: block;
    }

    .navbar-toggleable-xs ul li ul ul.open {
      display:  block;
    }

    .navbar-toggleable-xs  .nav-item .dropdown-megamenu {
      position:  absolute;
      top:  0;
      left:  100%;
      width:  100%;
    }

    .row {
      margin-right:  0;
      margin-left:  0;
    }

    .back-menu1title {
      font-size:  1.9rem;
      color:  $brand-orange-white;
    }

    .back-menu1title::before ,
    .mega-menu-content-title::before {
      font-family: icon-orange  !important;
      font-size:  1em;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      content: "\ea53";
      speak: none;
    }

    .row ul > li > a::before,
    .nav-item > a::before,
    .mega-menu-content h3::before {
      float: right;
      margin-right:  .5em;
      font-family: icon-orange !important;
      font-size:  1em;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      content: "\ea52";
      speak: none;
    }

    .container li ul > li.container {
      padding-top:  0;
      margin-top:  -5px;
    }

    .menu-footer-320.active {
      display:  block;
      margin-top:  -1px;
      border-bottom: $megamenu-border;
    }

    .navbar-langbar.active {
      display:  block;
      border-bottom: $megamenu-border;
    }

    .navbar-smallsearchbar.active {
      display:  block;
    }

    .mega-menu-content > .logo-menu-discover-wrap {
      position: relative;
      height:  49vw;
      text-align: center;
    }

    .logo-menu-discover {
      position:  absolute;
      top:  0;
      left:  0;
      z-index:  -1;
      width: 100%;
      height: 49vw;
      font-size:  45vw;
    }

    .navbar-smallsearchbar .megamenusearchinputwrapp {
      margin:  0 0 0 20px;
    }

    .navbar-smallsearchbar .btn {
      padding:  .27rem 2rem;
      margin-left:  5px;
    }
  }
}

.icon-bar {
  display:  block;
  width:  22px;
  height:  2px;
  margin-top: 4px;
  border:  1px solid $brand-orange-white;
  border-radius:  1px;
}

.navbar-toggle .icon-bar {
  background-color: $brand-orange-white;
}
