//
// Main mega menu
//

// TODO : remove letter m on mmega-menu class
.mmega-menu {
  position: absolute;
  z-index: 110;
  width: 100%;
  background-color: $brand-orange-black;
  border-top: 1px solid $gray-dark;

  h2 {
    margin: calc(#{$font-size-h2} / 2) 0;
    line-height: 1;
  }

  h3 {
    line-height: 1;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  a {
    font-weight: $brand-font-weight-bold;
    color: $brand-orange-white;
    text-decoration: none;
  }

  .footer {
    padding: 0 .625rem;
    margin-bottom: 1rem;
  }

}

@include media-breakpoint-down(xs) {
  .mmega-menu {
    position: absolute;
    top: calc(#{$font-size-h1} * 2);
    z-index: 110;
    width: 100%;
    font-size: $font-size-h5;

    h2,
    h3 {
      padding: calc((#{$font-size-h2} - #{$font-size-h5}) / 2) 0;
      margin: 0;
      font-size: $font-size-h5;
      border-top: 1px solid $gray-dark;

      &::before {
        float: right;
        font-family: icon-orange;
        font-size: $font-size-base;
        font-weight: $brand-font-weight-normal;
        color: $brand-orange-white;
        content: "\ea52";
      }

      &.folded {
        padding: 0;
        margin: calc((#{$font-size-h1} - #{$font-size-h5}) / 2) 0;
        font-size: $font-size-h5;
        line-height: 1;
        border-top: 0;
      }

      &.folded::before {
        float: none;
        padding-right: 2rem;
        font-family: icon-orange;
        font-size: $font-size-h5;
        font-weight: $brand-font-weight-normal;
        color: $brand-orange-white;
        content: "\ea53";
      }
    }

    h2 {
      border-color: transparent;
    }

    ul {
      display: none;
      margin-bottom: 0;

      li {
        padding: calc((#{$font-size-h2} - #{$font-size-h5}) / 2) 0;
        font-size: $font-size-h5;
        line-height: 1;
        border-top: 1px solid $gray-dark;
      }
    }

    .footer {
      padding: 0;
      margin: 0;

      a {
        display: block;
        padding: calc((#{$font-size-h2} - #{$font-size-h5}) / 2) 0;
        margin: 0;
        line-height: 1;
        border-top: 1px solid $gray-dark;
      }
    }
  }
}

.search-bar {
  padding: 1.25rem 0;
  background-color: $brand-orange-black;
  border-top: 1px solid $gray-dark;

  .form-group {
    width: 90%;

    .form-control {
      width: 100%;
      padding-top: .625rem;
      padding-bottom: .625rem;
      color: $brand-orange-white;
      background-color: $gray-dark;
      border: 0;

    }
  }
}
