//
//    classic tab
//

.nav-tabs {
  border-width: 2px;

  .nav-item {
    margin-bottom: -2px;

    + .nav-item {
      margin-left: .5rem;
      // On mobile no margin between tabs
      @include media-breakpoint-down(md) {
        margin-left: 0;
      }
    }

    .nav-link {
      position: relative;
      padding: .625rem 1.125rem;
      font-size: 1rem;
      font-weight: bold;
      line-height: $font-size-base;
      border-width: 2px;
      border-bottom-width: 0;

      @include hover-focus {
        color: $nav-tabs-link-hover-color;
        background-color: $nav-tabs-link-hover-bg;

        &.active {
          color: $nav-tabs-active-link-hover-color;
          background-color: $nav-tabs-active-link-hover-bg;
        }
      }

      @include focus {
        outline-width: 1px;
        outline-style: dotted;
        outline-offset: -6px;
      }
    }

    .nav-link::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      content: "";
      background-color: transparent;
    }
  }
}

// Pills
// -------------------------
.nav-pills {
  &.nav-stacked .nav-item {
    margin: 0;

    + .nav-item {
      margin-left: 0;
    }
  }

  .nav-item {
    + .nav-item {
      margin-left: ($grid-gutter-width-base / 4);
    }
  }

  .nav-link {
    @include active {
      background-color: $nav-pills-active-link-bg;
    }

    @include hover {
      color: $nav-pills-active-link-color;
      cursor: default;
      background-color: $nav-pills-active-link-bg;
      &.disabled {
        color: $nav-disabled-link-color;
        cursor: $cursor-disabled;
        background-color: $nav-disabled-link-hover-bg;
      }
    }

    @include focus {
      color: $nav-pills-focus-link-color;
      background-color: $nav-pills-focus-link-bg;
      outline: none;
      &.disabled {
        color: $nav-disabled-link-color;
        background-color: $nav-disabled-link-hover-bg;
      }
    }

    font-weight: bold;
  }
}

.tab-content {
  padding: 1.125rem;
  border-color: #000;
  border-style: solid;
  border-width: 0 2px 2px;

  .tab-pane p {
    margin-bottom: 0;
  }
}

.tab-content-clear {
  // padding: 1.125rem;
  border: 0;
}

// breadcrums

.breadcrum {
  line-height: 1;
}
