//
// Orange Supra navbar
//

.navbar.supra {
  display: none;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid $gray-900;

  @include media-breakpoint-up(md) {
    display: flex;
  }

  .navbar-nav {
    margin-top: 0;
  }

  .nav-link,
  .dropdown-toggle {
    padding-top: map-get($spacers, 2);
    padding-bottom: map-get($spacers, 2);
    font-size: $font-size-sm;
    line-height: 1;

    [class*="icon-"] {
      font-size: $h6-font-size;
    }
  }

  .nav-link[class*="svg-"]::after {
    width: $navbar-supra-height / 2;
    height: $navbar-supra-height / 2;
  }
}

@include media-breakpoint-down(sm) {
  .navbar-brand,
  .navbar-brand + .navbar-brand {
    align-self: center;
  }
}
