// Boosted mod
.o-nav-light {
  padding-left: inherit;
  border-bottom: $nav-tabs-border-width / 2 solid $gray-600;

  .active {
    color: $primary;
    border-bottom: $nav-tabs-border-width * 1.5 solid;
  }
}
// end mod

// Responsive tabs
//
//

.o-tab-container {
  display: flex;
  flex-flow: row wrap;

  .o-tab-heading {
    position: relative;
    display: inline-block;
    padding: .625rem 1.25rem;
    margin-left: .5rem;
    font-weight: $font-weight-bold;
    color: $black;
    text-align: center;
    background-color: $white;
    border: 0;
    border-bottom: 2px solid $black;
    @include transition($transition-focus); // Boosted mod

    &:first-child {
      margin-left: 0;
      border-top: 0;
    }

    &[aria-expanded="false"] {
      border-bottom: 2px solid $black;
    }

    &[aria-expanded="true"] {
      padding-top: .5rem;
      border: 2px solid $black;
      border-bottom: 0;
    }

    &:focus {
      outline-offset: -#{$border-width * 2};
    }

    &:hover:not([aria-expanded="true"]) {
      color: $white;
      background-color: $black;
    }
  }

  .o-tab-content {
    display: none;
    align-self: flex-end;
    order: 1;
    width: 100%;
    padding: map-get($spacers, 2) $spacer;
    background-color: $white;
    box-shadow: 0 -2px 0 $black;

    &.show {
      display: block;
    }
  }

  @include media-breakpoint-down(sm) {
    .o-tab-heading {
      flex-grow: 1;
      margin-left: 0;
      text-align: center;

      &[aria-expanded="false"] {
        color: $white;
        background-color: $gray-700;

        &:active {
          color: $white;
          background-color: $primary;
        }
      }
    }

    &.accordion-layout {
      display: block;

      .o-tab-heading {
        position: relative;
        display: block;
        padding: .9375rem 0;
        margin-left: 0;
        font-weight: $font-weight-bold;
        color: $black;
        text-align: left;
        background-color: $white;
        border: 0;

        &:focus {
          outline-offset: 0;
        }

        &:hover {
          color: $primary;
          background-color: $white;
        }

        &[aria-expanded="false"] {
          border-bottom: 1px $gray-500 solid;
        }

        &[aria-expanded="true"]::after {
          transform: rotate(180deg);
        }

        &:first-child {
          margin-left: 0;
          border-top: 1px solid $gray-500;
        }

        &::after {
          position: absolute;
          top: 1.375rem;
          right: .625rem;
          width: .875rem;
          height: .4375rem;
          content: "";
          background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 7'><path d='M7 7L0 0h14L7 7z'/></svg>"));
        }
      }

      .o-tab-content {
        padding-left: 0;
        border-bottom: 1px $gray-500 solid;
        box-shadow: none;
      }
    }
  }
}

// Pills
// -------------------------
.nav-pills {
  &.nav-stacked .nav-item {
    margin: 0;

    + .nav-item {
      margin-left: 0;
    }
  }

  .nav-item {
    &:first-child {
      margin-left: 0;
    }

    + .nav-item {
      margin-left: ($grid-gutter-width / 4);
    }
  }

  .nav-link {
    padding-top: $spacer;
    padding-bottom: $spacer;
    &:active {
      background-color: $nav-pills-link-active-bg;
    }
    &:hover {
      color: $nav-pills-link-active-color;
      cursor: default;
      background-color: $nav-pills-link-active-bg;
    }
    &:focus {
      color: $nav-pills-focus-link-color;
      background-color: $nav-pills-focus-link-bg;
      outline: 0;
    }
    &.disabled {
      color: $nav-link-disabled-color;
      background-color: $nav-link-disabled-hover-bg;
    }
  }
  .dropdown-menu {
    right: 0;
    left: auto;

    .nav-item {
      margin: 0;
      .nav-link {
        display: block;
        padding: map-get($spacers, 2) map-get($spacers, 2) map-get($spacers, 2) $spacer;
        margin: 0;
        color: $black;
        background: $white;
        border: 0;
        &:focus {
          outline: $border-width solid $black;
          outline-offset: -#{$border-width};
        }
        &:hover {
          color: $white;
          background: $black;
        }
      }
    }
  }
}

.tab-content {
  padding: 1.125rem;
  border-color: $black;
  border-style: solid;
  border-width: 0 2px 2px;

  .tab-pane p {
    margin-bottom: 0;
  }
}

.tab-content-clear {
  // padding: 1.125rem;
  border: 0;
}

// priority nav

.overflow-nav {
  display: none;
}

.o-nav-local.resizing {
  overflow: hidden;
}

.hide {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.show-inline-block {
  display: inline-block !important; // stylelint-disable-line declaration-no-important
}

.overflow-nav-list {
  .nav-link {
    border: 0;
    &:focus {
      outline-offset: -#{$border-width};
    }
  }

  .nav-item:last-child {
    margin-bottom: 0;
  }
}

.o-nav-local .overflow-nav-list {
  margin-top: 1px;
  border: 0;
  box-shadow: 0 map-get($spacers, 1) map-get($spacers, 2) -.375rem $gray-600;
}
