//
//      Nav local
//

.o-nav-local {
  margin-bottom: ($spacer * 2);
  border-top: $border-width / 2 solid $gray-500;
  border-bottom: $border-width / 2 solid $gray-500;

  .navbar-dark & {
    border-color: $gray-900;
  }
}
