//
//    classic tab
//

.nav-tabs {
  border-width: 2px;

  .nav-item {
    margin-bottom: -2px;

    + .nav-item {
      margin-left: .5rem;
    }

    .nav-link {
      padding: .625rem 1.25rem;
      font-size: 1rem;
      font-weight: bold;
      line-height: $font-size-base;
      border-width: 2px;

      @include hover {
        color: $nav-tabs-link-hover-color;
        background-color: $nav-tabs-link-hover-bg;

        &.active {
          color: $nav-tabs-active-link-hover-color;
          background-color: $nav-tabs-active-link-hover-bg;
        }
      }

      @include focus {
        border-width: 2px;
        outline-width: 1px;
        outline-style: dotted;
        outline-offset: -6px;
      }
    }
  }
}

// Pills
// -------------------------
.nav-pills {
  .nav-item {
    + .nav-item {
      margin-left: ($grid-gutter-width / 4);
    }
  }

  .nav-link {
    @include active {
      background-color: $nav-pills-active-link-bg;
    }

    @include hover {
      color: $nav-pills-active-link-color;
      cursor: default;
      background-color: $nav-pills-active-link-bg;
      &.disabled {
        color: $nav-disabled-link-color;
        cursor: $cursor-disabled;
        background-color: $nav-disabled-link-hover-bg;
      }
    }

    @include focus {
      color: $nav-pills-focus-link-color;
      background-color: $nav-pills-focus-link-bg;
      outline: none;
      &.disabled {
        color: $nav-disabled-link-color;
        background-color: $nav-disabled-link-hover-bg;
      }
    }

    font-weight: bold;
  }
}

.tab-content {
  padding: 1em;
  border-color: transparent #000 #000;
  border-style: solid;
  border-width: 2px;
}

.tab-content-clear {
  padding: 1em;
  border: 0;
}
