// Orange navbar
//
//

.fixed-header {
  position: fixed;
  top: 0;
  z-index: 120;
  width: 100%;
}

.navbar {
  min-height: $navbar-height;
  padding: 0;
  font-size: $font-size-base;

  &.navbar-light,
  &.navbar-dark {
    color: $brand-orange-white;
    background: $brand-orange-black;
  }

  .navbar-toggleable-xs {
    position: static;
    width: auto;
  }

  .nav-item {
    font-weight: $brand-font-weight-bold;

    .nav-link {
      padding: 0;
      margin-top: 3.6875rem;
      line-height: $btn-line-height;
    }

    .nav-link.icon {
      margin-top: calc((#{$navbar-height} - #{$font-size-h4}) / 2);

      span[class^="icon-"] {
        font-size: calc(#{$font-size-h4} - 1px); // remove 1px to fit
        font-weight: $brand-font-weight-normal;
      }
    }

    .dropdown-toggle {
      @include hover-focus {
        color: $brand-orange;
      }
      display: block;
      margin-top: 3.6875rem;
      line-height: $btn-line-height;
      color: $brand-orange-white;
    }
  }

  .nav-item + .nav-item {
    margin-left: 1.25rem;
  }

  .nav-item:first-child {
    margin-left: 1.875rem;
  }

  .form-inline {
    margin-top: 2.1875rem;
    margin-left: .625rem;
  }

  .btn-inverse-outline {
    @include hover-focus {
      color: $brand-orange;
      border-color: $brand-orange;
    }

    @include active {
      color: $brand-orange-white;
      background-color: $brand-orange;
      border-color: $brand-orange;
    }

    color: $brand-orange-white;
    background-color: $brand-orange-black;
    border-color: $brand-orange-white;
  }


}

.navbar.supra {
  @include media-breakpoint-down(xs) {
    display: none;
  }

  min-height: $navbar-supra-height;
  font-size: $font-size-sm;
  border-bottom: 1px solid $gray-dark;
  .navbar-brand {
    display: none;
  }

  .nav-item {
    &:first-child {
      margin-left: 0;
    }

    .nav-link,
    .dropdown-toggle {
      margin-top: calc((#{$navbar-supra-height} - #{$font-size-sm}) / 2);

      span[class^="icon-"] {
        font-size: $font-size-h5;
        font-weight: $brand-font-weight-normal;
      }
    }

    .nav-link.icon {
      margin-top: calc((#{$navbar-supra-height} - #{$font-size-h6}) / 2);

      span[class^="icon-"] {
        font-size: $font-size-h6;
        font-weight: $brand-font-weight-normal;
      }
    }

    .dropdown-menu {
      top: $navbar-supra-height;
      right: 0;
      left: auto;
    }
  }
}

@include media-breakpoint-down(xs) {
  .navbar {
    min-height: $navbar-height-sm;

    .container {
      max-width: none;
      margin: 0;
    }

    .navbar-toggleable-xs {
      position: absolute;
      top: $navbar-height-sm;
      left: 0;
      z-index: 100;
      width: 100%;
      margin: 0;
      background-color: $brand-orange-black;

      .nav-item {
        display: block;
        float: none;
        padding: calc((#{$font-size-h1} - #{$font-size-h5}) / 2) 0;
        padding-left: .625rem;
        margin-left: 0;
        font-size: $font-size-h5;
        line-height: 1;
        border-top: 1px solid $gray-dark;

        .nav-link {
          margin-top: 0;
        }

        .nav-link::before {
          float: right;
          margin-right: .625rem;
          font-family: icon-orange;
          font-size: $font-size-base;
          font-weight: $brand-font-weight-normal;
          color: $brand-orange-white;
          content: "\ea52";
        }

        .nav-link.icon {
          padding: .625rem;
          margin-top: 0;
        }

        &:first-child {
          margin-left: 0;
        }
      }

      .nav-item.folded {
        .nav-link::before {
          float: none;
          padding-right: 2rem;
          margin-right: 0;
          font-family: icon-orange;
          font-size: $font-size-h5;
          font-weight: $brand-font-weight-normal;
          color: $brand-orange-white;
          content: "\ea53";
        }
      }

      .nav-item + .nav-item {
        margin-left: 0;
      }
    }

    .nav-item {
      margin-left: 0;

      &:first-child {
        margin-left: 0;
      }

      .nav-link {
        padding: 0;
        margin-top: 0;

        &.icon {
          padding: .625rem;
          margin-top: 0;
        }
      }
    }

    .nav-item + .nav-item {
      margin-left: 0;
    }
  }

}

.navbar-toggler {
  padding: .625rem;
  font-size: calc(#{$font-size-h4} - 1px);
  background-color: transparent;
  background-image: none;
  border: 0;

  @include hover-focus {
    background-color: $brand-orange;
  }

  // We remove the `outline` here, but later compensate by attaching `:hover`
  // styles to `:focus`.
  &:focus {
    outline: 0;
  }
}

.navbar-brand {
  @include focus {
    outline: none;
  }
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  margin: 0;

  &.nav-link {
    margin: 0;
  }

  img {
    width: auto;
    height: 3.125rem;
    font-size: .75rem;
    font-weight: $brand-font-weight-normal;
    color: $brand-orange-white;
  }
}

.navbar-brand {
  @include media-breakpoint-down(xs) {
    padding: calc(#{$navbar-height-sm} / 4) 0;

    img {
      height: calc(#{$navbar-height-sm} / 2);
    }
  }
}

.navbar-header {
  padding-right: $navbar-padding-horizontal;
  padding-left: $navbar-padding-horizontal;
}

.navbar-toggle-complement {
  position: relative;
  float: right;
}

.navbar-toggle-complement .navbar-nav {
  margin: $padding-base-vertical 0 0;
}

.navbar-toggle-complement li {
  float: left;
}

@media (min-width: $screen-sm) {
  .navbar-toggle-complement {
    display: none;
  }
}

// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).
.navbar-nav {
  .nav-item-cdu {
    float: left;
    margin-top: 3.6875rem;
    font-weight: $brand-font-weight-bold;
    line-height: $btn-line-height;
    color: $brand-orange-white !important;

    @include hover-focus {
      color: $brand-orange !important;
    }
  }
  // Uncollapse the nav
  @media (min-width: $grid-float-breakpoint) {
    .nav-link {
      margin-top: 1.75rem;
    }
  }
}
