//
// Orange pagination
//
.pagination {

  .page-link {
    @include hover-focus {
      color: $brand-orange-black;
      background-color: $brand-orange-white;
      border-color: $brand-orange-black;
    }

    width: $pagination-width;
    padding: calc((#{$pagination-width} - 4px - #{$font-size-base}) / 2) 0;
    margin-left: 0;
    font-size: $font-size-base;
    font-weight: $brand-font-weight-bold;
    line-height: $font-size-base;
    text-align: center;
    border: solid 2px transparent;

    &.active {
      color: $brand-orange-white;
      background-color: $brand-orange-black;
      border-color: $brand-orange-black;
    }
  }

  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    width: auto;
    min-width: $pagination-width;
    height: $pagination-width;
    padding: calc((#{$pagination-width} - 4px - #{$font-size-base}) / 2) 0;
    border: solid 2px $brand-orange-black;

    &.disabled {
      @include hover {
        cursor: $cursor-disabled;
      }

      color: $gray-light-plus;
      border-color: $gray-light-plus;

    }

    &.page-item-labelled {
      width: auto;
      min-width: 4rem;
      padding: 1rem 1.6rem;
    }
  }

  &.pagination-lg {
    .page-link {
      width: $pagination-width-lg;
      padding: calc((#{$pagination-width-lg} - 4px - #{$font-size-lg}) / 2) 0;
      font-size: $font-size-lg;
      line-height: $font-size-lg;
    }

    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
      min-width: $pagination-width-lg;
      height: $pagination-width-lg;
      padding: calc((#{$pagination-width-lg} - 4px - #{$font-size-lg}) / 2) 0;
    }
  }

  &.pagination-sm {
    .page-link {
      width: $pagination-width-sm;
      padding: calc((#{$pagination-width-sm} - 4px - #{$font-size-sm}) / 2) 0;
      font-size: $font-size-sm;
      line-height: $font-size-sm;
    }

    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
      min-width: $pagination-width-sm;
      height: $pagination-width-sm;
      padding: calc((#{$pagination-width-sm} - 4px - #{$font-size-sm}) / 2) 0;
    }
  }
}
