//
// Orange pagination
//
.pagination {
  display: inline-block;
  list-style: none;

  .page-link {
    @include hover-focus {
      color: #000;
      background-color: #fff;
      border-color: #000;
    }

    width: $pagination-width;
    padding: calc((#{$pagination-width} - 4px - #{$font-size-base}) / 2) 0;
    margin-left: 0;
    font-size: $font-size-base;
    font-weight: bold;
    line-height: $font-size-base;
    text-align: center;
    border: solid 2px transparent;

    &.active {
      color: #fff;
      background-color: #000;
      border-color: #000;
    }
    .icon-arrow-next,
    .icon-arrow-previous {
      font-size: .875rem;
    }

    .icon-arrow-next::before {
      margin-left: 1px;
    }

    .icon-arrow-previous::before {
      margin-right: 1px;
    }
  }
  .page-item {
    float: left;
    margin: 0;
    + .page-item {
      margin-left: 10px;
    }
    &.presentation {
      padding: .625rem 0;
      font-weight: bold;
    }
    &.bordered > .page-link,
    &.bordered > .page-link {
      width: auto;
      min-width: $pagination-width;
      border: 2px solid #000;
    }
  }
  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    width: auto;
    min-width: $pagination-width;
    height: $pagination-width;
    padding: calc((#{$pagination-width} - 4px - #{$font-size-base}) / 2) 0;
    border: solid 2px #000;

    &.disabled {
      @include hover {
        cursor: $cursor-disabled;
      }

      color: $gray-lighter-o;
      border-color: $gray-lighter-o;

    }

    &.page-item-labelled {
      width: auto;
      min-width: 2.5rem;
      padding: .5625rem 1.125rem .6875rem;

      .icon-arrow-previous::before,
      .icon-arrow-next::before {
        position: absolute;
        top: .6875rem;
      }
    }

    &.page-item-labelled.prev {
      padding-left: 2.375rem;
      .icon-arrow-previous::before {
        left: 1.125rem;
        margin-right: 0;
      }
    }

    &.page-item-labelled.next {
      padding-right: 2.375rem;
      .icon-arrow-next::before {
        right: 1.125rem;
        margin-left: 0;
      }
    }
  }

  &.pagination-lg {
    .page-link {
      width: $pagination-width-lg;
      padding: calc((#{$pagination-width-lg} - 4px - #{$font-size-lg}) / 2) 0;
      font-size: $font-size-lg;
      line-height: $font-size-lg;
    }

    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
      min-width: $pagination-width-lg;
      height: $pagination-width-lg;
      padding: calc((#{$pagination-width-lg} - 4px - #{$font-size-lg}) / 2) 0;
    }
  }

  &.pagination-sm {
    .page-link {
      width: $pagination-width-sm;
      padding: calc((#{$pagination-width-sm} - 4px - #{$font-size-sm}) / 2) 0;
      font-size: $font-size-sm;
      line-height: $font-size-sm;
    }

    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
      min-width: $pagination-width-sm;
      height: $pagination-width-sm;
      padding: calc((#{$pagination-width-sm} - 4px - #{$font-size-sm}) / 2) 0;
    }
  }
}
