//
// Orange pagination
//
.pagination {
  display: inline-block;
  list-style: none;

  //current bootstrap implementation, active class subject to move to page-link level
  .page-item {

    .page-link {
      @include hover-focus {
        color: #000;
        background-color: #fff;
        border-color: #000;
      }

      @include focus {
        outline: 1px dotted #fff;
        outline-offset: -2px;
      }

      position: relative;
      width: $pagination-width;
      padding: .625rem 0;
      margin-left: 0;
      font-size: $font-size-base;
      font-weight: bold;
      line-height: $font-size-base;
      text-align: center;
      border: solid 2px transparent;
    }

    &:first-child .page-link,
    &:last-child .page-link {
      width: auto;
      min-width: $pagination-width;
      height: $pagination-width;
      padding: 0;
      color: #fff;
      border: solid 2px #000;

      @include focus {
        color: #fff;
      }

      &::before {
        position: absolute;
        top: .6875rem;
        left: .8125rem;
        width: .5625rem;
        height: .875rem;
        content: "";
      }

      &.has-label {
        padding: .5625rem 1.125rem .5625rem 2rem;
        color: #000;

        @include focus {
          color: #000;
        }
      }

      &.has-label:hover,
      &.has-label:hover:focus,
      &.has-label:active {
        color: #fff;
      }
    }

    &:first-child,
    &:last-child {
      &:last-child .page-link.has-label {
        padding: .5625rem 2rem .5625rem 1.125rem;
      }

      @include hover-focus {
        .page-link {
          color: #000;
          background-color: #000;
        }

        &:first-child .page-link::before {
          background-image: #{$pagination-icon-prev-active};
        }

        &:last-child .page-link::before {
          background-image: #{$pagination-icon-next-active};
        }
      }
    }

    &:first-child:active,
    &:last-child:active {
      .page-link {
        color: $brand-primary;
        background-color: $brand-primary;
        border-color: $brand-primary;
      }
    }

    &:first-child:active .page-link::before {
      background-image: #{$pagination-icon-prev-active};
    }

    &:last-child:active .page-link::before {
      background-image: #{$pagination-icon-next-active};
    }

    &:first-child .page-link::before {
      background-image: #{$pagination-icon-prev};
    }

    &:last-child .page-link::before {
      right: .8125rem;
      left: auto;
      background-image: #{$pagination-icon-next};
    }

    &:active {
      .page-link {
        color: #fff;
        background-color: $brand-primary;
        border-color: $brand-primary;
      }
    }

    &.active,
    &.active:active {
      .page-link {
        color: #fff;
        background-color: #000;
        border-color: #000;
      }
    }

    &.disabled,
    &.disabled:active {
      @include hover-focus {
        .page-link {
          color: #fff;
          background-color: #fff;
          border-color: $gray-light-o;
        }

        &:first-child .page-link::before {
          background-image: #{$pagination-icon-prev-disabled};
        }

        &:last-child .page-link::before {
          background-image: #{$pagination-icon-next-disabled};
        }
      }

      .page-link {
        color: #fff;
        background-color: #fff;
        border-color: $gray-light-o;
      }

      &:first-child .page-link::before {
        background-image: #{$pagination-icon-prev-disabled};
      }

      &:last-child .page-link::before {
        background-image: #{$pagination-icon-next-disabled};
      }
    }
  }

  .page-item {
    float: left;
    margin: 0;
    + .page-item {
      margin-left: .625rem;
    }

    &.presentation {
      padding: .625rem 0;
      font-weight: bold;
    }
  }

  .page-item.presentation + .page-item {
    .page-link {
      width: auto;
      min-width: $pagination-width;
      height: $pagination-width;
      padding: 0;
      color: #fff;
      border: solid 2px #000;

      &::before {
        position: absolute;
        top: .6875rem;
        left: .8125rem;
        width: .5625rem;
        height: .875rem;
        content: "";
      }
    }

    .page-link::before {
      background-image: #{$pagination-icon-prev};
    }

    @include hover-focus {
      .page-link {
        color: #000;
        background-color: #000;
      }

      .page-link::before {
        background-image: #{$pagination-icon-prev-active};
      }
    }

    &:active {
      .page-link {
        color: #fff;
        background-color: $brand-primary;
        border-color: $brand-primary;
      }

      .page-link::before {
        background-image: #{$pagination-icon-prev-active};
      }
    }
  }

  &.pagination-lg {
    .page-link {
      width: $pagination-width-lg;
      padding: 1.1875rem 0;
      font-size: $font-size-lg;
      line-height: $font-size-lg;
    }

    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
      min-width: $pagination-width-lg;
      height: $pagination-width-lg;
      padding: 0;

      &::before {
        top: 1.3125rem;
        left: 1.4375rem;
      }
    }

    .page-item:last-child .page-link::before {
      right: 1.4375rem;
      left: auto;
    }
  }

  &.pagination-sm {
    .page-link {
      width: $pagination-width-sm;
      padding: .375rem 0;
      font-size: $font-size-sm;
      line-height: $font-size-sm;
    }

    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
      min-width: $pagination-width-sm;
      height: $pagination-width-sm;
      padding: 0;

      &::before {
        top: .375rem;
        left: .5rem;
      }
    }

    .page-item:last-child .page-link::before {
      right: .5rem;
      left: auto;
    }
  }
}
