// == FORMS ELEMENTS
// Tuned radios
// Cachons la case à cocher
.o-radio[type="radio"]:not(:checked),
.o-radio[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

// on prépare le label
.o-radio[type="radio"]:not(:checked) + label,
.o-radio[type="radio"]:checked + label {
  position: relative; // permet de positionner les pseudo-éléments
  display: inline-block;
  padding-left: (($font-size-base * $line-height-base) + $input-padding-x); // fait un peu d"espace pour notre case à venir
  font-style: normal;
  font-weight: bold;
  line-height: $line-height-base;
  cursor: pointer;    // affiche un curseur adapté
  border: 1px dotted transparent;
}

// Align radio on the right*/
.o-radio-right.o-radio[type="radio"]:not(:checked) + label,
.o-radio-right.o-radio[type="radio"]:checked + label {
  padding-right: (($font-size-base * $line-height-base) + $input-padding-x); // fait un peu d"espace pour notre case à venir
  padding-left: 0;
}

// Aspect des radioes
// ::before sert à créer la case à cocher
.o-radio[type="radio"]:not(:checked) + label::before,
.o-radio[type="radio"]:checked + label::before {
  position: absolute;
  left: 0;
  width: ($font-size-base * $line-height-base);
  height: ($font-size-base * $line-height-base); // dim. de la case
  content: "";
  background-color: #fff;
  border: 3px solid $gray-light-o;
  border-radius: 50%;
}

// Align radio on the right*/
.o-radio-right.o-radio[type="radio"]:not(:checked) + label::before,
.o-radio-right.o-radio[type="radio"]:checked + label::before {
  right: 0;
  left: auto;
}


// Aspect général de la coche
.o-radio[type="radio"]:not(:checked) + label::after,
.o-radio[type="radio"]:checked + label::after {
  position: absolute;
  top: 0;
  left: 0;
  width: ($font-size-base * $line-height-base);
  height: ($font-size-base * $line-height-base); // dim. de la case
  font-size: ($font-size-base * $line-height-base);
  color: #fff;
  text-align: center;
  content: "";
}
.o-radio-right.o-radio[type="radio"]:not(:checked) + label::after,
.o-radio-right.o-radio[type="radio"]:checked + label::after {
  right: 0;
  left: auto;
}



// Aspect si "pas cochée"
.o-radio[type="radio"]:not(:checked) + label::after {
  opacity: 0; // coche invisible
  transform: scale(0); // mise à l"échelle à 0
}
// Aspect si "cochée"
.o-radio[type="radio"]:checked + label::after {
  opacity: 1; // coche opaque
  transform: scale(1); // mise à l"échelle 1:1
}
// Aspect si "cochée"
.o-radio[type="radio"]:checked + label::before {
  border-color: $brand-primary;
  border-width: 6px;
}

// aspect désactivée
.o-radio[type="radio"]:disabled:not(:checked) + label::before,
.o-radio[type="radio"]:disabled:checked + label::before {
  border-color: $gray-lighter-o;
}
// styles de la coche (si cochée/désactivée)
.o-radio[type="radio"]:disabled:checked + label::after {
  color: #fff;
  border-color: $gray-lighter-o;
}
// on style aussi le label quand désactivé
.o-radio[type="radio"]:disabled + label {
  color: $gray-lighter-o;
}

// aspect au focus de l"élément
.o-radio[type="radio"]:checked:focus + label,
.o-radio[type="radio"]:not(:checked):focus + label {
  border: 1px dotted #000;
}
