.skiplinks {
  position: fixed;
  z-index: $zindex-skiplinks;

  a {
    outline-offset: $border-width * 6;
  }

  a:focus {
    font-weight: $font-weight-bold;
    color: $orange-2;
    background-color: $black;
    outline-offset: $border-width * 2;
  }
}
