//
// Orange stepbar
//
// stylelint-disable selector-max-class
@mixin stepbar-arrow($color) {
  &::after {
    position: absolute;
    top: 0;
    right: -1rem;
    z-index: $zindex-stepbar;
    display: block;
    width: $o-stepbar-arrow-width;
    height: $o-stepbar-height;
    content: "";
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='40' viewBox='0 0 16 40'><path d='M0 0l14 20L0 40z' fill='#{$color}'/><path d='M2 0H0l14 20L0 40h2l14-20z' fill='#{$white}'/></svg>"));
    background-size: $o-stepbar-arrow-width $o-stepbar-height;
  }
}

.o-stepbar {
  &,
  ol,
  ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  // one item
  .stepbar-item:first-child:nth-last-child(1) {
    width: 100%;
  }

  // two items
  .stepbar-item:first-child:nth-last-child(2),
  .stepbar-item:first-child:nth-last-child(2) ~ .stepbar-item {
    width: 50%;
  }

  // three items
  .stepbar-item:first-child:nth-last-child(3),
  .stepbar-item:first-child:nth-last-child(3) ~ .stepbar-item {
    width: 33.3333%;
  }

  // four items
  .stepbar-item:first-child:nth-last-child(4),
  .stepbar-item:first-child:nth-last-child(4) ~ .stepbar-item {
    width: 25%;
  }

  // five items
  .stepbar-item:first-child:nth-last-child(5),
  .stepbar-item:first-child:nth-last-child(5) ~ .stepbar-item {
    width: 20%;
  }

  .stepbar-item {
    @include stepbar-arrow($gray-400);
    position: relative;
    float: left;
    padding: map-get($spacers, 2) $spacer map-get($spacers, 2) 2rem;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    line-height: $line-height-base;
    color: $black;
    text-align: center;
    white-space: nowrap;
    list-style: none;
    background-color: $gray-400;

    &:first-child {
      padding-left: $spacer;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &.done {
      @include stepbar-arrow($black);
      background-color: $black;
      .stepbar-link {
        color: $white;
      }

      &:last-child::after {
        display: none;
      }
    }

    &.current {
      @include stepbar-arrow($orange);
      background-color: theme-color("primary");
      .stepbar-link {
        color: $white;
      }

      &:last-child::after {
        display: none;
      }
    }

    .stepbar-link {
      text-decoration: none;

      .step-number::after {
        content: ".";
      }
    }
  }
}

// For mobile display in any case, reduce the padding and the height
@include media-breakpoint-down(xs) {
  .o-stepbar {
    .stepbar-item {
      padding: $o-stepbar-mobile-padding-vertical ($spacer / 2) $o-stepbar-mobile-padding-vertical ($spacer + $o-stepbar-mobile-arrow-width);
      line-height: $input-btn-line-height;
    }

    .stepbar-item::after,
    .stepbar-item.done::after,
    .stepbar-item.current::after,
    .stepbar-item.next::after {
      right: -($o-stepbar-mobile-arrow-width - .0625); // remove 1px for mobile display error
      width: $o-stepbar-mobile-arrow-width;
      height: $o-stepbar-mobile-arrow-height;
      background-size: cover;
    }

    &.xs-numbers {
      .step-number::after {
        display: none;
      }

      // three items
      .stepbar-item:first-child:nth-last-child(3),
      .stepbar-item:first-child:nth-last-child(3) ~ .stepbar-item {
        width: 20%;

        &.current {
          width: 60%;
        }
      }

      // four and five items
      .stepbar-item:first-child:nth-last-child(4),
      .stepbar-item:first-child:nth-last-child(4) ~ .stepbar-item,
      .stepbar-item:first-child:nth-last-child(5),
      .stepbar-item:first-child:nth-last-child(5) ~ .stepbar-item {
        width: 20%;

        &.current {
          width: 40%;
        }
      }

      .stepbar-item {
        width: 20%;
        padding-right: 0;
        padding-left: $o-stepbar-mobile-arrow-width;

        &:first-child {
          padding-left: 0;
        }

        &.current {
          width: 60%;
        }

        &.current .step-number,
        &:not(.current) .step-title {
          display: none;
        }
      }
    }

    &.xs-labels {
      .step-number {
        display: none;
      }
    }
  }
}
