// Style jquery tablesorter ext
// scss-lint:disable SelectorFormat
//
// Table sorter
//

.tablesorter {
  caption {
    padding: $padding-large-vertical 0;
    font-size: $font-size-h1;
    font-weight: bold;
    color: #000;
    background-color: #fff;
  }

  th {
    padding-right: 30px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;

    &.header {
      background-repeat: no-repeat;
      background-position: 95% 50%;

      @include hover {
        background-image: url("../img/triangle_sort.png");
      }
    }

    &.tablesorter-headerDesc {
      background-image: url("../img/triangle_down.png");
    }

    &.tablesorter-headerAsc {
      background-image: url("../img/triangle_up.png");
    }

    a {
      color: #000;
      text-decoration: none;

      @include hover-focus {
        color: $brand-primary;
        text-decoration: underline;
      }
    }
  }

  td {
    text-align: left;
  }
}
