//
// Table sorter
//
// stylelint-disable selector-class-pattern

.tablesorter {
  th {
    padding-right: map-get($spacers, 4);
    cursor: pointer;

    a {
      color: $link-color;
      text-decoration: $link-decoration;

      @include hover-focus() {
        color: $link-hover-color;
        text-decoration: underline;
      }
    }
  }
}

.tablesorter-header-inner span {
  display: flex;

  &::after {
    display: inline-block;
    align-self: center;
    width: .875rem;
    height: $caret-width;
    margin-left: map-get($spacers, 2);
    content: "";
    background: escape-svg($accordion-arrow-icon) no-repeat right $custom-select-padding-x center / $custom-select-bg-size;
  }

  [aria-sort="none"] &::after {
    background: none;
  }

  .tablesorter-headerDesc &::after {
    transform: rotate(180deg);
  }
}

.tablesorter-headerUnSorted {
  &:hover,
  &:focus {
    span::after {
      height: 1.0625rem;
      background: escape-svg($o-sortable-hover-icon) no-repeat right $custom-select-padding-x center / $custom-select-bg-size;
    }
  }
}
