// Contents
//
// Supra bar


// Supra bar
//
// Brand exclusive thin navbar that can be used with orange navbar
.supra {
  display: none;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: $navbar-orange-supra-border-bottom-width solid $gray-700;

  .container {
    padding-right: $navbar-orange-supra-padding-x;
    padding-left: $navbar-orange-supra-padding-x;
  }

  @include media-breakpoint-up(md) {
    display: flex;
  }

  .navbar-nav .nav-link {
    padding: $navbar-orange-supra-link-padding-top $navbar-orange-supra-link-padding-x $navbar-orange-supra-link-padding-bottom;
    font-size: $font-size-sm;
    line-height: $line-height-sm;

    &.active::before {
      right: $navbar-orange-supra-link-padding-x;
      bottom: -$navbar-orange-supra-border-bottom-width;
      left: $navbar-orange-supra-link-padding-x;
    }

    &.nav-icon {
      padding: $navbar-orange-supra-icon-padding-top $navbar-orange-supra-icon-padding-x $navbar-orange-supra-icon-padding-bottom;

      svg,
      img {
        width: $navbar-orange-supra-icon-size;
        height: $navbar-orange-supra-icon-size;
      }
    }

    .badge {
      @extend .position-absolute;
      @extend .top-0;
      @extend .bg-info;
      @extend .text-white;
      @extend .translate-middle;
      @extend .rounded-pill;
      padding: $navbar-orange-supra-badge-padding-y $navbar-orange-supra-badge-padding-x;
      margin-top: $navbar-orange-supra-badge-margin-top;
      font-size: $font-size-base;
    }
  }

  .nav-item:last-of-type {
    .nav-icon {
      padding-right: $navbar-orange-supra-link-padding-x;
    }
  }
}
