// html font-size forcée à 10px par BT
html {
  font-size: $font-size-root;
  // Orange brand All is bold only plain texts are not bold
  font-weight: $brand-font-weight-normal;
}

//
// Caret
// --------------------------------------------------
// Fix the border-top style to display caret onto IE8
.caret {
  border-top-style: solid;
}

//
// Alerts
// --------------------------------------------------
.alert {
  border-width: 2px;
}

//
// Labels
// --------------------------------------------------

.label {
  border-radius: $border-radius;
}

.table label.o-checkbox,
.table label.o-radio {
  margin-bottom: 0;
}

//
// Navbar
//



.nav {
  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

// back from accessibility plugin css
div.active:focus {
  outline: dotted 1px #000;
}

a:focus {
  outline: dotted 1px #000;
}

.close:hover,
.close:focus {
  outline: dotted 1px #000;
}

//
// Progress bar
//

.progress.progress-default {
  &[value]::-webkit-progress-value {
    background-color: $brand-primary;
  }

  &[value]::-moz-progress-bar {
    background-color: $brand-primary;
  }
}



//
// Carousel
// --------------------------------------------------

.carousel {
  margin-bottom: 1.875rem;
}

.carousel-control {
  top: auto;
  bottom: calc(50% - 1.875rem);
  width: 3.75rem;
  height: 3.75rem;
  padding-top: .9375rem;
  text-decoration: none;
  text-shadow: none;
  background-color: #fff;
  opacity: .8;
  transition: width .5s ease;

  &.left,
  &.right {
    background-image: none;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      width: 7.5rem;
    }
  }

  span[aria-hidden="true"] {
    font-size: 1.875rem;
    color: $brand-primary;
  }
}

.carousel-indicators {
  bottom: -1.875rem;

  &:hover {
    cursor: default;
  }

  li {
    width: 1rem;
    height: .25rem;
    margin: 0 .25rem;
    background-color: $gray-lighter-o;
    border: 0;
    border-radius: 0;

    &:hover {
      cursor: pointer;
      background-color: $brand-primary;
    }

    &.active {
      width: 1rem;
      height: .25rem;
      margin: 0 .25rem;
      background-color: $brand-primary;
    }
  }
}

//
// Forms control into input groups
//
.input-group > .form-control {
  border-color: #000;

  &:focus {
    border-color: $brand-primary;
  }
}

.has-success {
  .input-group > .form-control {
    // Feedback states
    border-color: $state-success-text;
  }
}

.has-error {
  .input-group > .form-control {
    // Feedback states
    border-color: $state-danger-text;
  }
}

.has-warning {
  .input-group > .form-control {
    // Feedback states
    border-color: $state-warning-text;
  }
}

.o-footer,
.o-footer-inverse {
  padding: $navbar-padding-vertical;
}

.hero-container .frame {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 15%;
  margin: ($grid-gutter-width * 1.5);
}

.hero-container .caption {
  margin: ($grid-gutter-width * 2.5) ($grid-gutter-width * 1.5);
}

.hero-container .category {
  font-size: 1.25rem;
  color: $brand-primary;
}

// == TABLES
.table {
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        // Remove border top and put border-botom
        font-size: $font-size-sm;
        border-top: 0;
        border-bottom: 1px solid $table-border-color;
      }
      [class^="icon-"],
      [class*=" icon-"] {
        font-size: ($font-size-sm * $line-height-base);
      }
    }
  }

  > thead th {
    border-bottom: 2px;
  }
}

@include table-row-variant-border(success, $state-success-border);
@include table-row-variant-border(info, $state-info-border);
@include table-row-variant-border(warning, $state-warning-border);
@include table-row-variant-border(danger, $state-danger-border);


// force caption for tables
caption {
  padding: $padding-large-vertical 0;
  font-size: $font-size-h1;
  font-weight: bold;
  color: #000;
  caption-side: top;
  background-color: #fff;
}

// Force bold onto panel heading and footer and wells
.panel-heading,
.panel-footer,
.well {
  font-weight: bold;
}

.form-group {
  .form-control-label {
    font-weight: $brand-font-weight-bold;
  }
}

.form-control {
  border-width: 2px;
}

//
// Cards
//

.card {
  border-color: #000;

  .card-block {
    color: #fff;
    background-color: #000;
  }
}

// bits from bootstrap-orange2015.less

a {
  color: $link-color;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

//   &:focus {
//     @include tab-focus();
//   }
}

nav a,
.dropdown-menu a,
.dropdown a,
.navbar a,
.nav a,
a.btn {
  text-decoration: none;
}



// Reposition feedback icon if input has visible label above
.has-feedback label {
  ~ .form-control-feedback {
    top: ($line-height-base + .5); // Height of the `label` and its margin
  }
}

//
// Forms
//
.form-group {
  input[type="radio"],
  input[type="checkbox"] {
    width: auto;
  }
}
