.footer-mailing {
  h6 {
    padding: 24px 0 18px;
    margin: 0;
  }

  form {
    display: flex;
    gap: 10px;
    padding-bottom: 29px;

    @include media-breakpoint-up(md) {
      gap: 20px;
      padding-bottom: 39px;
    }

    > * {
      width: auto;
    }
  }
}

.footer-follow {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding: 16px 0 30px;
    margin: 0;
    font-size: 14px;
    font-weight: $font-weight-bold;
    line-height: 16px;
    letter-spacing: -.1px;
    list-style: none;

    @include media-breakpoint-up(md) {
      padding-top: 30px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 16px;
      line-height: 18px;
    }

    > :first-child {
      width: 100%;
      margin-bottom: 8px;

      @include media-breakpoint-up(md) {
        width: auto;
        margin: 0 10px 0 0;
      }
    }
  }
}

.footer-nav {
  h6 {
    padding-top: 30px;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    padding: 1px 0 36px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 41px;
    }

    .nav-link {
      padding: 0;
    }
  }

  .accordion {
    .accordion-header {
      padding-top: 16px;
      padding-bottom: 17px;
      border: 0;

      .accordion-button {
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        color: $white;
        letter-spacing: -.1px;
        background-color: $black;

        &::after {
          margin-right: 0;
        }

        &:hover {
          color: $brand-orange;
        }

        &:not(.collapsed) {
          color: $brand-orange;
        }
      }
    }
  }
}

.footer-service {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    padding: 19px 0 20px;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -.1px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      gap: 30px;
      align-items: center;
      padding: 25px 0 24px;
    }

    .nav-link {
      display: flex;
      gap: 5px;
      align-items: center;
      padding: 0;
    }
  }
}

.footer-terms {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 34px;
    align-items: flex-start;
    padding: 16px 0 28px;
    margin: 0;
    font-size: 14px;
    font-weight: $font-weight-bold;
    line-height: 16px;
    letter-spacing: -.1px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      gap: 20px;
      align-items: center;
      padding: 21px 0 22px;
    }

    .nav-link {
      padding: 0;
    }
  }
}
