// Change the table states color
@mixin table-row-variant-border($state, $color) {
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  .table > thead > tr,
  .table > tbody > tr,
  .table > tfoot > tr {
    > td.#{$state},
    > th.#{$state},
    &.#{$state} > td,
    &.#{$state} > th {
      background-color: $color;
    }
  }

  // Hover states for `.table-hover`
  // Note: this is not available for cells or rows within `thead` or `tfoot`.
  .table-hover > tbody > tr {
    > td.#{$state}:hover,
    > th.#{$state}:hover,
    &.#{$state}:hover > td,
    &:hover > .#{$state},
    &.#{$state}:hover > th {
      background-color: darken($color, 5%);
    }
  }
}

//
// Caret
// --------------------------------------------------
// Fix the border-top style to display caret onto IE8
.caret {
  border-top-style: solid;
}

//
// Labels
// --------------------------------------------------

.label {
  border-radius: $border-radius;
}

//
// Navbar
//

.nav {
  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

// back from accessibility plugin css
div.active:focus {
  outline: dotted 1px #000;
}

a:focus {
  outline: dotted 1px #000;
}

.close:hover,
.close:focus {
  outline: dotted 1px #000;
}

//
// dropdown
//

.dropdown-item {
  padding-left: 1.25rem;
  font-weight: bold;
}

//
// Progress bar
//

.progress.progress-default {
  &[value]::-webkit-progress-value {
    background-color: $brand-primary;
  }

  &[value]::-moz-progress-bar {
    background-color: $brand-primary;
  }
}



//
// Carousel
// --------------------------------------------------

.carousel {
  margin-bottom: 1.875rem;
}

.carousel-control {
  top: auto;
  bottom: calc(50% - 1.875rem);
  width: 3.75rem;
  height: 3.75rem;
  text-decoration: none;
  text-shadow: none;
  background-color: #fff;
  opacity: .8;
  transition: width .5s ease;

  &.left,
  &.right {
    background-image: none;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      width: 7.5rem;
    }
  }

  .icon-prev,
  .icon-next {
    margin-top: -.875rem;
  }

  .icon-prev::before,
  .icon-next::before {
    font-family: "icon-orange";
  }

  .icon-prev::before {
    content: "\e93f";
  }

  .icon-next::before {
    content: "\e93e";
  }

  span[aria-hidden="true"] {
    font-size: 1.875rem;
    color: $brand-primary;
  }
}

.carousel-indicators {
  bottom: -2.5rem;

  &:hover {
    cursor: default;
  }

  li {
    width: .625rem;
    height: .625rem;
    margin: 0 .25rem 0 0;
    background-color: $gray-lighter-o;
    border: 0;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }

    &.active {
      width: .625rem;
      height: .625rem;
      margin: 0 .25rem 0 0;
      background-color: $brand-primary;
    }
  }
}

.hero-container .frame {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 15%;
  margin: ($grid-gutter-width * 1.5);
}

.hero-container .caption {
  margin: ($grid-gutter-width * 2.5) ($grid-gutter-width * 1.5);
}

.hero-container .category {
  font-size: 1.25rem;
  color: $brand-primary;
}

// == TABLES
.table {
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      border-bottom: 1px solid $table-border-color;

      > th,
      > td {
        padding: .625rem .625rem .625rem 0;
        font-size: $font-size-sm;
        border: 0;
      }

      > th:first-child,
      > td:first-child {
        padding-left: .625rem;
      }

      > th {
        font-size: $font-size-base;
      }

      [class^="icon-"],
      [class*=" icon-"] {
        font-size: 1.8125rem;
      }
    }
  }

  thead tr {
    border-bottom-width: 2px;
  }

  &.has-checkbox {
    tr.selected {
      > td,
      > th {
        background-color: $gray-lighter-o;
      }
    }

    tr > th:first-child,
    tr > td:first-child {
      width: 1.25rem;

      .custom-control.custom-checkbox {
        padding-left: 1.25rem;
      }
    }
  }

  &.has-icon {
    tr > td,
    tr > th {
      height: 3.125rem;
      // padding-top: .9375rem;
      // padding-bottom: .9375rem;
      vertical-align: middle;

      span,
      img {
        vertical-align: middle;
      }

      span {
        margin-right: .375rem;
      }

      img {
        width: 1.875rem;
        height: 1.875rem;
        margin-right: .625rem;
      }

      [class^="icon-"] {
        width: 1.875rem;
        font-size: 1.8125rem;
        line-height: 0;
        vertical-align: middle;
      }
    }
  }
}

@include table-row-variant-border(success, $state-success-border);
@include table-row-variant-border(info, $state-info-border);
@include table-row-variant-border(warning, $state-warning-border);
@include table-row-variant-border(danger, $state-danger-border);


// force caption for tables
caption {
  padding: $padding-large-vertical 0;
  font-size: $font-size-h1;
  font-weight: bold;
  color: #000;
  caption-side: top;
  background-color: #fff;
}

// Force bold onto panel heading and footer and wells
.panel-heading,
.panel-footer,
.well {
  font-weight: bold;
}
