.footer {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: $footer-orange-font-size-sm;
    line-height: $footer-orange-line-height-sm;
    letter-spacing: $footer-orange-letter-spacing;

    .nav-link {
      padding: 0;
      outline-offset: map-get($spacers, 1);
    }
  }
}

.footer-heading {
  font-size: $footer-orange-font-size-md;
  font-weight: $font-weight-bold;
  line-height: $footer-orange-line-height-md;
  letter-spacing: $footer-orange-letter-spacing;
}

.footer-mailing {
  padding-top: $footer-orange-mailing-padding-top;
  padding-bottom: $footer-orange-mailing-padding-bottom;

  @include media-breakpoint-up(md) {
    padding-bottom: $footer-orange-mailing-padding-bottom-md;
  }

  .footer-heading {
    margin-bottom: $footer-orange-mailing-title-margin-bottom;
  }

  form {
    display: flex;

    > input {
      min-width: $footer-orange-mailing-input-min-width;
      max-width: $footer-orange-mailing-input-max-width;
    }
  }
}

.footer-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: $footer-orange-social-padding-top;
  padding-bottom: $footer-orange-social-padding-bottom;

  @include media-breakpoint-up(md) {
    padding-top: $footer-orange-social-padding-top-md;
  }

  > .footer-heading {
    margin: $footer-orange-social-title-margin-md;

    @include media-breakpoint-down(md) {
      width: 100%;
      margin: $footer-orange-social-title-margin;
      font-size: $footer-orange-font-size-sm;
      line-height: $footer-orange-line-height-sm;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.footer-nav {
  .footer-heading {
    padding-top: $footer-orange-nav-padding-top;
  }

  .navbar-nav {
    gap: $footer-orange-gap;

    @include media-breakpoint-up(md) {
      padding: $footer-orange-nav-list-padding;
      font-size: $footer-orange-font-size-md;
      line-height: $footer-orange-line-height-md;
    }

    @include media-breakpoint-up(lg) {
      padding: $footer-orange-nav-list-padding-md;
    }
  }

  .accordion {
    .accordion-header {
      border: 0;

      .accordion-button {
        font-size: $footer-orange-font-size-sm;
        line-height: $footer-orange-accordion-line-height;
        letter-spacing: $footer-orange-letter-spacing;

        &::after {
          margin-right: 0;
        }
      }
    }

    .navbar-nav {
      padding: $footer-orange-nav-accordion-collapse-padding;
    }
  }
}

.footer-service {
  padding-top: $footer-orange-service-padding-top;
  padding-bottom: $footer-orange-service-padding-bottom;

  @include media-breakpoint-up(md) {
    padding-top: $footer-orange-service-padding-top-md;
    padding-bottom: $footer-orange-service-padding-bottom-md;
  }

  .navbar-nav {
    flex-wrap: wrap;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
    }

    .nav-link {
      display: flex;
      align-items: center;

      > span {
        padding-top: $footer-orange-service-link-padding-top;
      }
    }
  }
}

.footer-terms {
  padding-top: $footer-orange-terms-padding-top;
  padding-bottom: $footer-orange-terms-padding-bottom;

  @include media-breakpoint-up(md) {
    padding-top: $footer-orange-terms-padding-top-md;
    padding-bottom: $footer-orange-terms-padding-bottom-md;
  }

  .navbar-nav {
    flex-wrap: wrap;
    gap: $footer-orange-gap-xl;
    font-weight: $font-weight-bold;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
    }
  }
}
