.pagination {
  // scss-docs-start pagination-css-vars
  --#{$variable-prefix}pagination-padding-x: #{$pagination-padding-x};
  --#{$variable-prefix}pagination-padding-y: #{$pagination-padding-y};
  --#{$variable-prefix}pagination-color: #{$pagination-color};
  --#{$variable-prefix}pagination-bg: #{$pagination-bg};
  --#{$variable-prefix}pagination-border-width: #{$pagination-border-width};
  --#{$variable-prefix}pagination-border-color: #{$pagination-border-color};
  --#{$variable-prefix}pagination-border-radius: #{$pagination-border-radius};
  --#{$variable-prefix}pagination-hover-color: #{$pagination-hover-color};
  --#{$variable-prefix}pagination-hover-bg: #{$pagination-hover-bg};
  --#{$variable-prefix}pagination-hover-border-color: #{$pagination-hover-border-color};
  --#{$variable-prefix}pagination-focus-color: #{$pagination-focus-color};
  --#{$variable-prefix}pagination-focus-bg: #{$pagination-focus-bg};
  --#{$variable-prefix}pagination-focus-box-shadow: #{$pagination-focus-box-shadow};
  --#{$variable-prefix}pagination-active-color: #{$pagination-active-color};
  --#{$variable-prefix}pagination-active-bg: #{$pagination-active-bg};
  --#{$variable-prefix}pagination-active-border-color: #{$pagination-active-border-color};
  --#{$variable-prefix}pagination-disabled-color: #{$pagination-disabled-color};
  --#{$variable-prefix}pagination-disabled-bg: #{$pagination-disabled-bg};
  --#{$variable-prefix}pagination-disabled-border-color: #{$pagination-disabled-border-color};
  // scss-docs-end pagination-css-vars

  display: flex;
  flex-wrap: if($pagination-margin-start == (-$pagination-border-width), null, wrap); // Boosted mod
  margin: $pagination-margin-y 0; // Boosted mod
  @include list-unstyled();
}

.page-link {
  position: relative;
  box-sizing: content-box; // Boosted mod
  display: flex; // Boosted mod
  align-items: center; // Boosted mod
  justify-content: center; // Boosted mod
  padding: var(--#{$variable-prefix}pagination-padding-y) var(--#{$variable-prefix}pagination-padding-x);
  font-size: var(--#{$variable-prefix}pagination-font-size);
  font-weight: $font-weight-bold; // Boosted mod
  color: var(--#{$variable-prefix}pagination-color);
  text-decoration: if($link-decoration == none, null, none);
  background-color: var(--#{$variable-prefix}pagination-bg);
  border: var(--#{$variable-prefix}pagination-border-width) solid var(--#{$variable-prefix}pagination-border-color);
  @include transition($pagination-transition);
  // Boosted mod: embed icon as mask-image
  @include button-icon(
    $pagination-icon,
    $pagination-icon-size,
    $size: $pagination-icon-width $pagination-icon-height,
    $selector: ".page-item:first-child .page-link, .page-item:last-child .page-link"
  );
  // End mod

  &:hover {
    z-index: 2;
    color: var(--#{$variable-prefix}pagination-hover-color);
    text-decoration: if($link-hover-decoration == underline, none, null);
    background-color: var(--#{$variable-prefix}pagination-hover-bg);
    border-color: var(--#{$variable-prefix}pagination-hover-border-color);
  }

  &:focus {
    z-index: 3;
    color: var(--#{$variable-prefix}pagination-focus-color);
    background-color: var(--#{$variable-prefix}pagination-focus-bg);
    border-color: var(--#{$variable-prefix}pagination-hover-border-color); // Boosted mod
    outline: $pagination-focus-outline;
    box-shadow: var(--#{$variable-prefix}pagination-focus-box-shadow);
  }

  // Boosted mod
  &:active {
    color: color-contrast($pagination-active-item-bg);
    background-color: $pagination-active-item-bg;
    border-color: $pagination-active-item-border;
    outline-color: $pagination-active-item-border;
  }
  // End mod
}

.page-item {
  @if $pagination-margin-start == (-$pagination-border-width) {
    &:first-child {
      .page-link {
        @include border-start-radius(var(--#{$variable-prefix}pagination-border-radius));
      }
    }

    &:last-child {
      .page-link {
        @include border-end-radius(var(--#{$variable-prefix}pagination-border-radius));
      }
    }
  } @else {
    // Add border-radius to all pageLinks in case they have left margin
    .page-link {
      @include border-radius(var(--#{$variable-prefix}pagination-border-radius));
    }
  }

  &.active .page-link {
    z-index: 3;
    color: var(--#{$variable-prefix}pagination-active-color);
    @include gradient-bg(var(--#{$variable-prefix}pagination-active-bg));
    border-color: var(--#{$variable-prefix}pagination-active-border-color);
    outline-color: var(--#{$variable-prefix}pagination-active-bg); // Boosted mod
  }

  &.disabled .page-link {
    color: var(--#{$variable-prefix}pagination-disabled-color);
    pointer-events: none;
    background-color: var(--#{$variable-prefix}pagination-disabled-bg);
    border-color: var(--#{$variable-prefix}pagination-disabled-border-color);
  }

  // Boosted mod
  &:first-child .page-link,
  &:last-child .page-link {
    border-color: currentColor;

    &:hover,
    &:focus {
      color: var(--#{$variable-prefix}pagination-active-color);
      background-color: var(--#{$variable-prefix}pagination-active-bg);
      border-color: var(--#{$variable-prefix}pagination-active-border-color);
    }

    &:active {
      color: $black;
      background-color: $primary;
      border-color: $primary;
    }
  }

  &:first-child .page-link {
    margin-right: $pagination-margin-start;

    &:not(:empty) {
      padding-right: $pagination-padding-end;
    }

    /* &::before {
      rtl:raw:
      transform: scaleX(-1);
    } */
  }

  &:last-child .page-link {
    &:not(:empty) {
      padding-left: $pagination-padding-end;
    }

    &::before {
      order: 1;

      /* rtl:remove */
      transform: scaleX(-1);
    }
  }

  &:last-child {
    &:not(:nth-child(2)) .page-link{
      margin-left: $pagination-margin-start;
    }
  }

  @include media-breakpoint-down(sm) {
    @include pagination-max-items(4);
  }

  @include media-breakpoint-between(sm, md) {
    @include pagination-max-items(6);
  }

  @include media-breakpoint-between(md, lg) {
    @include pagination-max-items(8);
  }
  // End mod
}


//
// Sizing
//

// Boosted mod: no pagination sizes
