.pagination {
  display: flex;
  flex-wrap: if($pagination-margin-left == (-$pagination-border-width), null, wrap); // Boosted mod
  margin: $pagination-margin-y 0; // Boosted mod
  @include list-unstyled();
}

.page-link {
  position: relative;
  // Boosted mod
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $pagination-item-size;
  height: $pagination-item-size;
  font-weight: $font-weight-bold;
  // End mod
  color: $pagination-color;
  text-decoration: if($link-decoration == none, null, none);
  background-color: $pagination-bg;
  border: $pagination-border-width solid $pagination-border-color;
  @include transition($pagination-transition);

  &:hover {
    z-index: 2;
    color: $pagination-hover-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;
  }

  &:focus {
    z-index: 3;
    color: $pagination-focus-color;
    background-color: $pagination-focus-bg;
    outline: $pagination-focus-outline;
    box-shadow: $pagination-focus-box-shadow;
  }

  &:active {
    color: color-contrast($pagination-active-item-bg);
    background-color: $pagination-active-item-bg;
    border-color: $pagination-active-item-border;
    outline-color: $pagination-active-item-border; // Boosted mod
  }

  // Boosted mod
  &.has-label {
    padding-top: subtract($pagination-padding-y, 1px);
    padding-bottom: add($pagination-padding-y, 1px);
  }
  // End mod
}

.page-item {
  &:not(:first-child) .page-link {
    margin-left: $pagination-margin-left;
  }

  &.active .page-link {
    z-index: 3;
    color: $pagination-active-color;
    @include gradient-bg($pagination-active-bg);
    border-color: $pagination-active-border-color;
    outline-color: $pagination-active-bg; // Boosted mod
  }

  &.disabled .page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;

    &::before {
      opacity: .2; // Boosted mod
    }
  }

  // Boosted mod
  &:first-child .page-link,
  &:last-child .page-link {
    border-color: currentColor;

    &::before {
      display: inline-block;
      width: $pagination-icon-width;
      height: $pagination-icon-height;
      margin-top: $pagination-border-width / 2;
      content: "";
      background: $pagination-icon-background;
    }

    &:hover,
    &:focus {
      color: $pagination-hover-bg;
      background-color: $pagination-hover-color;
      border-color: $pagination-hover-color;
      outline-color: $pagination-hover-color; // Boosted mod

      &::before {
        background-image: escape-svg($pagination-icon-hover);
      }
    }

    &:active {
      color: color-contrast($pagination-active-item-bg);
      background-color: $pagination-active-item-bg;
      border-color: $pagination-active-item-border;

      &::before {
        background-image: escape-svg($pagination-icon);
      }
    }

    &.has-label {
      padding-right: $pagination-padding-end;
      padding-left: $pagination-padding-end;
    }
  }

  &:first-child {
    .page-link::before {
      margin-left: -$pagination-icon-margin;
    }

    .has-label::before {
      margin: $pagination-border-width / 2 $pagination-icon-margin * 2 0 $pagination-icon-margin * -2;
    }
  }

  &:last-child {
    .page-link::before {
      order: 1;
      margin-right: -$pagination-icon-margin;
      transform: rotate(180deg);
    }

    .has-label::before {
      margin: $pagination-border-width / 2 $pagination-icon-margin * -2 0 $pagination-icon-margin * 2;
    }
  }

  @include media-breakpoint-down(sm) {
    @include pagination-max-items(4);
  }

  @include media-breakpoint-between(sm, md) {
    @include pagination-max-items(6);
  }

  @include media-breakpoint-between(md, lg) {
    @include pagination-max-items(8);
  }
  // End mod
}


//
// Sizing
//
@include pagination-size($pagination-padding-y, $pagination-padding-x, null, $pagination-border-radius);

// Boosted mod: no pagination sizes

