.side-nav {
  --#{$prefix}side-nav-width: 18.75rem;
  --#{$prefix}side-nav-color: #{$black};
  --#{$prefix}side-nav-bg-color: #{$white};
  --#{$prefix}side-nav-hover-bg-color: #{$gray-300};
  --#{$prefix}side-nav-active-bg-color: #{$gray-500};
  --#{$prefix}side-nav-active-border-color: var(--#{$prefix}link-hover-color);
  --#{$prefix}side-nav-icon-size: 1.5625rem;
  --#{$prefix}side-nav-item-height: 2.5rem;
  --#{$prefix}side-nav-item-padding-left: 15px;
  --#{$prefix}offcanvas-padding-x: 0;
  --#{$prefix}offcanvas-padding-y: 0;
  --#{$prefix}offcanvas-border-width: 1px;
  --#{$prefix}offcanvas-border-color: #{$gray-500};

  width: var(--#{$prefix}side-nav-width);
  height: 100%;
  overflow: auto;
  border: 0 !important; // stylelint-disable-line declaration-no-important

  svg,
  img {
    width: var(--#{$prefix}side-nav-icon-size);
    min-width: var(--#{$prefix}side-nav-icon-size);
    height: var(--#{$prefix}side-nav-icon-size);
    margin-right: 15px;
  }

  .offcanvas-header {
    justify-content: flex-end;
    background-color: var(--#{$prefix}side-nav-bg-color);
    border-right: var(--#{$prefix}offcanvas-border-width) solid var(--#{$prefix}offcanvas-border-color);
  }

  .offcanvas-body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--#{$prefix}side-nav-bg-color);

    > * {
      border-right: var(--#{$prefix}offcanvas-border-width) solid var(--#{$prefix}offcanvas-border-color);
    }
  }

  .accordion {
    --#{$prefix}accordion-border-width: 0;
    --#{$prefix}accordion-body-padding-x: 0;
    --#{$prefix}accordion-body-padding-y: 0;
    --#{$prefix}accordion-btn-font-size: 1rem;

    .accordion-body {
      --#{$prefix}side-nav-item-padding-left: 55px;

      .accordion-body {
        --#{$prefix}side-nav-item-padding-left: 95px;
      }
    }
  }

  .tab-content {
    padding: 0;
    border: 0;
  }

  .side-nav-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--#{$prefix}side-nav-item-height);
    padding: 0 0 0 var(--#{$prefix}side-nav-item-padding-left);
    overflow: hidden;
    color: var(--#{$prefix}side-nav-color);
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--#{$prefix}side-nav-bg-color);
    border: 0;

    &:hover {
      background-color: var(--#{$prefix}side-nav-hover-bg-color);
    }

    &.active {
      background: linear-gradient(to right, var(--#{$prefix}side-nav-active-border-color), var(--#{$prefix}side-nav-active-border-color) 4px, var(--#{$prefix}side-nav-active-bg-color) 4px, var(--#{$prefix}side-nav-active-bg-color));
    }
  }
}

[class*="side-nav-collapsible"] [data-bs-toggle="collapse"] {
  align-self: flex-end;
  width: 54px;
  height: 40px;
  margin-left: auto;
  @include transition(transform .3s ease);
  @include caret(start);

  &::before {
    border-right-color: #000;
  }

  &.collapsed {
    transform: rotateZ(180deg);
  }
}

.side-nav-collapsible {
  display: inline-flex;
  --#{$prefix}side-nav-width: 54px;
  --#{$prefix}offcanvas-width: 300px;

  .offcanvas-body {
    display: inline-flex;
    width: auto;
    min-width: 54px;
    border-right: #ccc solid 1px;

    @include media-breakpoint-up(lg) {
      position: absolute;
    }

    > * {
      border: 0;
    }
  }

  .collapse-horizontal {
    margin-left: 54px;

    .fake {
      width: 245px;
    }
  }
}

.side-nav-collapsible-content {
  --#{$prefix}side-nav-width: 3.5rem;
  --#{$prefix}offcanvas-width: 326px;

  .offcanvas-header,
  .offcanvas-body > * {
    background: linear-gradient(to right, #333, #333 55px, #fff 55px);
  }

  .side-nav-collapse {
    width: 270px;
  }

  [data-bs-toggle="collapse"].collapsed::before {
    border-right-color: #fff;
  }
}

.side-nav-dark {
  --#{$prefix}side-nav-color: #{$white};
  --#{$prefix}side-nav-bg-color: #{$gray-900};
  --#{$prefix}side-nav-hover-bg-color: #{$black};
  --#{$prefix}side-nav-active-bg-color: #{$gray-700};
  --#{$prefix}offcanvas-border-color: #{$gray-700};
}
