//
// Orange stepped process
//
.stepped-process {
  ol {
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-weight: $font-weight-bold;
    text-align: center;
    list-style: none;
    counter-reset: step;
  }
}

.stepped-process-item {
  display: flex;
  flex: 1;
  padding: $spacer / 2;
  margin-right: $stepped-process-margin-r;
  counter-increment: step;
  background-color: $black;

  &.active {
    background-color: $primary;
  }

  .active ~ & {
    background-color: $gray-400;
  }
}

.stepped-process-link {
  flex: 1 0 1.25ch;
  max-width: 1.25ch;
  margin: auto;
  overflow: hidden;
  color: $white;
  text-decoration: if($link-decoration == none, null, none);
  white-space: nowrap;
  outline-offset: map-get($spacers, 3);

  &::before {
    content: counter(step) "\A0";
  }

  &:hover,
  &:focus {
    color: $white;
  }

  &:hover {
    text-decoration: if($link-hover-decoration == underline, null, underline);
  }

  &:focus {
    text-decoration: $link-decoration;
    outline-offset: map-get($spacers, 1);
  }

  .active &,
  .active ~ .stepped-process-item & {
    color: $black;
  }
}

@include media-breakpoint-up(sm) {
  .stepped-process-item {
    position: relative;
    max-width: $stepped-process-item-max-width;
    padding: $spacer / 2 0;
    margin: 0;
    filter: drop-shadow($border-width * 1.5 0 0 $white);

    & + & {
      padding-left: $spacer;
    }

    &:last-child {
      padding-right: $spacer;
    }

    &:not(:last-child)::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 1rem;
      content: "";
      background-color: inherit;
      clip-path: polygon(0% 0%, subtract(100%, $border-width) 50%, 0% 100%);
    }

    &.active {
      max-width: none;
    }
  }

  @for $i from 1 through $stepped-process-max-items {
    .stepped-process-item:nth-child(#{$i}) {
      $index: subtract($stepped-process-max-items, $i);
      z-index: if($index == 0, null, $index);
    }
  }

  .active .stepped-process-link {
    max-width: none;

    &::before {
      content: counter(step) ".\A0";
    }
  }
}

@include media-breakpoint-up(xl) {
  .stepped-process-item,
  .stepped-process-link {
    max-width: none;
  }

  .stepped-process-link::before {
    content: counter(step) ".\A0";
  }
}
