.sticker {
  // scss-docs-start sticker-css-vars
  --#{$prefix}sticker-size: #{$sticker-size-md};
  --#{$prefix}sticker-font-weight: #{$font-weight-bold};
  --#{$prefix}sticker-background-color: #{$brand-orange};
  --#{$prefix}sticker-content-max-width: #{$sticker-content-max-width-md};
  // scss-docs-end sticker-css-vars

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--#{$prefix}sticker-size);
  height: var(--#{$prefix}sticker-size);
  font-weight: var(--#{$prefix}sticker-font-weight);
  text-align: center;
  word-wrap: break-word;
  background-color: var(--#{$prefix}sticker-background-color);
  border-radius: var(--#{$prefix}sticker-size); // stylelint-disable-line property-disallowed-list

  > * {
    max-width: var(--#{$prefix}sticker-content-max-width);
  }

  // Large sticker

  &.sticker-lg {
    // scss-docs-start sticker-lg-css-vars
    --#{$prefix}sticker-size: #{$sticker-size-lg};
    --#{$prefix}sticker-content-max-width: #{$sticker-content-max-width-lg};
    // scss-docs-end sticker-lg-css-vars
  }

  // Small sticker

  &.sticker-sm {
    // scss-docs-start sticker-sm-css-vars
    --#{$prefix}sticker-size: #{$sticker-size-sm};
    --#{$prefix}sticker-content-max-width: #{$sticker-content-max-width-sm};
    // scss-docs-end sticker-sm-css-vars
  }
}

.sticker-fs-4xl {
  font-size: $display1-size;
  line-height: $display-line-height;
  letter-spacing: $display1-spacing;
}

.sticker-fs-3xl {
  font-size: $display3-size;
  line-height: $display-line-height;
  letter-spacing: $display3-spacing;
}

.sticker-fs-2xl {
  font-size: $display4-size;
  line-height: $display-line-height;
  letter-spacing: $display4-spacing;
}

.sticker-fs-xl {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  letter-spacing: $h2-spacing;
}

.sticker-fs-l {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  letter-spacing: $h3-spacing;
}

.sticker-fs-m {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  letter-spacing: $h4-spacing;
}

.sticker-fs-s {
  font-size: $h5-font-size;
  line-height: $h5-line-height;
  letter-spacing: $h5-spacing;
}
