// @each $key-archi, $value-archi in $sticker-architectures {
//   .sticker-#{$key-archi} {
//     @include sticker-init($value-archi);
//   }
// }

// @each $key-size, $value-size in $sticker-sizes {
//   .sticker-#{$key-size} {
//     @include sticker-init-size($value-size);
//   }
// }

.sticker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $sticker-size-md;
  height: $sticker-size-md;
  font-weight: $font-weight-bold;
  line-height: 1;
  background-color: $brand-orange;
  border-radius: $sticker-size-lg; // stylelint-disable-line property-disallowed-list

  .sticker-text-xl,
  .sticker-text-symbol {
    position: relative;
    font-size: $display3-size;
    line-height: $display-line-height;
    letter-spacing: $display3-spacing;
  }

  .sticker-text-xl {
    top: 63px;

    &:only-child {
      top: 68px;
    }

    & ~ .sticker-text-sm {
      top: 70px;
    }
  }

  .sticker-text-symbol {
    top: 25px;

    & ~ .sticker-text-xl {
      top: 24px;
    }

    & ~ .sticker-text-sm-multiline {
      top: 30px;
    }

    & ~ .sticker-text-sm {
      top: 27px;
    }
  }

  .sticker-text-md {
    position: relative;
    top: 43px;
    font-size: $h3-font-size;
    line-height: $h3-line-height;
    letter-spacing: $h3-spacing;

    & ~ .sticker-text-xl {
      top: 43px;
    }

    & ~ .sticker-text-sm {
      top: 48px;
    }
  }

  .sticker-text-md-multiline {
    position: relative;
    top: 63px;
    max-width: $sticker-text-multiline-max-width-md;
    font-size: $h3-font-size;
    line-height: $h3-line-height;
    text-align: center;
    letter-spacing: $h3-spacing;
  }

  .sticker-text-sm {
    position: relative;
    top: 40px;
    font-size: $h6-font-size;
    line-height: $h6-line-height;
    letter-spacing: $h6-spacing;

    & ~ .sticker-text-xl {
      top: 46px;
    }

    & ~ .sticker-text-sm {
      top: 52px;
    }
  }

  .sticker-text-sm-multiline {
    position: relative;
    top: 47px;
    max-width: $sticker-text-multiline-max-width-md;
    font-size: $h6-font-size;
    line-height: $h6-line-height;
    text-align: center;
    letter-spacing: $h6-spacing;
  }

  .sticker-icon {
    position: relative;
    top: 35px;
    width: $sticker-icon-size-md;
    height: $sticker-icon-size-md;

    & ~ .sticker-text-md-multiline {
      top: 39px;
    }
  }

  .sticker-icon-lg {
    width: $sticker-large-icon-size-md;
    height: $sticker-large-icon-size-md;
  }

  // Large sticker

  &.sticker-lg {
    width: $sticker-size-lg;
    height: $sticker-size-lg;

    .sticker-text-xl,
    .sticker-text-symbol {
      font-size: $display1-size;
      line-height: $display-line-height;
      letter-spacing: $display1-spacing;
    }

    .sticker-text-xl {
      top: 102px;

      &:only-child {
        top: 106px;
      }

      & ~ .sticker-text-sm {
        top: 112px;
      }
    }

    .sticker-text-symbol {
      top: 38px;

      & ~ .sticker-text-xl {
        top: 39px;
      }

      & ~ .sticker-text-sm-multiline {
        top: 44px;
      }

      & ~ .sticker-text-sm {
        top: 44px;
      }
    }

    .sticker-text-sm {
      top: 67px;
      font-size: $h3-font-size;
      line-height: $h3-line-height;
      letter-spacing: $h3-spacing;

      & ~ .sticker-text-xl {
        top: 75px;
      }

      & ~ .sticker-text-sm {
        top: 81px;
      }
    }

    .sticker-text-md-multiline {
      top: 94px;
      max-width: $sticker-text-multiline-max-width-lg;
      font-size: $display3-size;
      line-height: $display-line-height;
      letter-spacing: $display3-spacing;
    }

    .sticker-text-sm-multiline {
      top: 78px;
      max-width: $sticker-text-multiline-max-width-lg;
      font-size: $h3-font-size;
      line-height: $h3-line-height;
      letter-spacing: $h3-spacing;
    }

    .sticker-icon {
      top: 50px;
      width: $sticker-icon-size-lg;
      height: $sticker-icon-size-lg;

      & ~ .sticker-text-md-multiline {
        top: 52px;
      }
    }

    .sticker-icon-lg {
      width: $sticker-large-icon-size-lg;
      height: $sticker-large-icon-size-lg;
    }

    .sticker-text-md {
      top: 69px;
      font-size: $display4-size;
      line-height: $display-line-height;
      letter-spacing: $display4-spacing;

      & ~ .sticker-text-xl {
        top: 72px;
      }

      & ~ .sticker-text-sm {
        top: 78px;
      }
    }
  }

  // Small sticker

  &.sticker-sm {
    width: $sticker-size-sm;
    height: $sticker-size-sm;

    .sticker-text-xl,
    .sticker-text-symbol {
      font-size: $h2-font-size;
      line-height: $h2-line-height;
      letter-spacing: $h2-spacing;
    }

    .sticker-text-xl {
      top: 48px;

      &:only-child {
        top: 53px;
      }

      & ~ .sticker-text-sm {
        top: 48px;
      }
    }

    .sticker-text-symbol {
      top: 18px;

      & ~ .sticker-text-xl {
        top: 16px;
      }

      & ~ .sticker-text-sm-multiline {
        top: 12px;
      }

      & ~ .sticker-text-sm {
        top: 17px;
      }
    }

    .sticker-text-sm {
      top: 30px;
      font-size: $h6-font-size;
      line-height: $h6-line-height;
      letter-spacing: $h6-spacing;

      & ~ .sticker-text-xl {
        top: 35px;
      }

      & ~ .sticker-text-sm {
        top: 35px;
      }
    }

    .sticker-text-md-multiline {
      top: 47px;
      max-width: $sticker-text-multiline-max-width-sm;
      font-size: $h4-font-size;
      line-height: $h4-line-height;
      letter-spacing: $h4-spacing;
    }

    .sticker-text-sm-multiline {
      top: 30px;
      max-width: $sticker-text-multiline-max-width-sm;
      font-size: $h6-font-size;
      line-height: $h6-line-height;
      letter-spacing: $h6-spacing;
    }

    .sticker-icon {
      top: 22px;
      width: $sticker-icon-size-sm;
      height: $sticker-icon-size-sm;

      & ~ .sticker-text-md-multiline {
        top: 23px;
      }
    }

    .sticker-icon-lg {
      width: $sticker-large-icon-size-sm;
      height: $sticker-large-icon-size-sm;
    }

    .sticker-text-md {
      top: 33px;
      font-size: $h5-font-size;
      line-height: $h5-line-height;
      letter-spacing: $h5-spacing;

      & ~ .sticker-text-xl {
        top: 32px;
      }

      & ~ .sticker-text-sm {
        top: 32px;
      }
    }
  }
}
