// @each $key-archi, $value-archi in $stickers-architectures {
//   .sticker-#{$key-archi} {
//     @include sticker-init($value-archi);
//   }
// }

// @each $key-size, $value-size in $stickers-sizes {
//   .sticker-#{$key-size} {
//     @include sticker-init-size($value-size);
//   }
// }

.sticker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $stickers-size-md;
  height: $stickers-size-md;
  font-weight: $font-weight-bold;
  line-height: 1;
  background-color: $accessible-orange;
  border-radius: $stickers-size-lg; // stylelint-disable-line property-disallowed-list

  > * {
    max-width: 70%;
    word-wrap: break-word;
  }

  &.sticker-lg {
    width: $stickers-size-lg;
    height: $stickers-size-lg;
  }

  &.sticker-sm {
    width: $stickers-size-sm;
    height: $stickers-size-sm;
  }
}

.sticker-text-lg {
  font-size: $display3-size;
  letter-spacing: $display3-spacing;
}

.sticker-text-md {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  letter-spacing: $h3-spacing;
}

.sticker-lg {
  .sticker-text-lg {
    font-size: $display1-size;
    letter-spacing: $display1-spacing;
  }

  .sticker-text-md {
    font-size: $display3-size;
    letter-spacing: $display3-spacing;
  }
}

.sticker-sm {
  .sticker-text-lg {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
    letter-spacing: $h2-spacing;
  }

  .sticker-text-md {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
    letter-spacing: $h4-spacing;
  }
}
