//
// Basic Boosted table
//

.table {
  width: 100%;
  margin-bottom: $spacer;
  color: $table-color;
  vertical-align: $table-cell-vertical-align;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.

  // Boosted mod
  //// Only rows have border
  //// Set line-height everywhere
  tr {
    border-bottom: $table-border-width solid $table-border-color;
  }

  th,
  td {
    padding: $table-cell-padding;
    line-height: $table-cell-line-height;
  }

  thead tr {
    border-bottom-width: $table-border-width * 2;
  }

  tbody th {
    font-weight: $font-weight-normal;
  }
  // End mod

  tbody {
    vertical-align: inherit;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }
}


//
// Change placement of captions with a class
//

.caption-bottom { caption-side: bottom; } // Boosted mod


//
// Condensed table w/ half padding
//

.table-sm {
  th,
  td {
    line-height: $table-cell-line-height-sm; // Boosted mod
  }
}

// Boosted mod: no .table-bordered

// Boosted mod: no .table-borderless

// Boosted mod: no .table-striped

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  tbody tr {
    &:hover {
      color: $table-hover-color;
      background-color: $table-hover-bg;
    }
  }
}


// Boosted mod: no table-row-variants

// Boosted mod: no .thead-light  nor .thead-dark

.table-dark {
  color: $table-dark-color;
  background-color: $table-dark-bg;

  // Boosted mod: only table rows have borders
  tr,
  th {
    border-color: $table-dark-border-color;
  }
  // End mod

  // Boosted mod: no .table-bordered

  // Boosted mod: no .table-striped

  &.table-hover {
    tbody tr {
      &:hover {
        color: $table-dark-hover-color;
        background-color: $table-dark-hover-bg;
      }
    }
  }
}


// Responsive tables
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

@each $breakpoint in map-keys($grid-breakpoints) {
  $next: breakpoint-next($breakpoint, $grid-breakpoints);
  $infix: breakpoint-infix($next, $grid-breakpoints);

  @include media-breakpoint-down($breakpoint) {
    .table-responsive#{$infix} {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}
