//
// Basic Boosted table
//

.table {
  width: 100%;
  margin-bottom: $spacer;
  color: $table-color;
  vertical-align: $table-cell-vertical-align;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.

  th,
  td {
    padding: $table-cell-padding;
    border-bottom: $table-border-width solid $table-border-color;
  }

  tbody {
    vertical-align: inherit;
  }

  thead th {
    vertical-align: bottom;
    border-bottom-color: $table-head-border-color;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }
}


//
// Condensed table w/ half padding
//

.table-sm {
  th,
  td {
    padding: $table-cell-padding-sm;
  }
}

// Boosted mod: no .table-bordered

// Boosted mod: no .table-borderless

// Boosted mod: no .table-striped

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  tbody tr {
    &:hover {
      color: $table-hover-color;
      background-color: $table-hover-bg;
    }
  }
}


// Boosted mod: no table-row-variants

// Boosted mod: no .thead-light  nor .thead-dark

.table-dark {
  color: $table-dark-color;
  background-color: $table-dark-bg;

  th,
  td,
  thead th {
    border-color: $table-dark-border-color;
  }

  // Boosted mod: no .table-bordered

  // Boosted mod: no .table-striped

  &.table-hover {
    tbody tr {
      &:hover {
        color: $table-dark-hover-color;
        background-color: $table-dark-hover-bg;
      }
    }
  }
}


// Responsive tables
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

.table-responsive {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        // Boosted mod: no .table-bordered
      }
    }
  }
}
