//
// Basic Boosted table
//

.table {
  --#{$prefix}table-color: #{$table-color};
  --#{$prefix}table-bg: #{$table-bg};
  --#{$prefix}table-border-color: #{$table-border-color};
  // Boosted mod: no table-accent-bg
  --#{$prefix}table-active-color: #{$table-active-color};
  --#{$prefix}table-active-bg: #{$table-active-bg};
  --#{$prefix}table-hover-color: #{$table-hover-color};
  --#{$prefix}table-hover-bg: #{$table-hover-bg};

  width: 100%;
  margin-bottom: $spacer;
  color: var(--#{$prefix}table-color);
  vertical-align: $table-cell-vertical-align;

  // Boosted mod
  //// Only rows have border
  //// Set line-height everywhere
  tr {
    border-bottom: $table-border-width solid var(--#{$prefix}table-border-color);
  }

  // Target th & td
  // We need the child combinator to prevent styles leaking to nested tables which doesn't have a `.table` class.
  // We use the universal selectors here to simplify the selector (else we would need 6 different selectors).
  // Another advantage is that this generates less code and makes the selector less specific making it easier to override.
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    padding: $table-cell-padding-y $table-cell-padding-x add($table-cell-padding-y, 1px); // Boosted mod
    line-height: $table-line-height; // Boosted mod
    background-color: var(--#{$prefix}table-bg);
    box-shadow: inset 0 0 0 9999px var(--#{$prefix}table-accent-bg);
  }

  > thead > tr {
    border-bottom-width: $table-border-width * 2;
  }

  > tbody > th {
    font-weight: $font-weight-normal;
  }
  // End mod

  > tbody {
    vertical-align: inherit;
  }

  // Boosted mod
  // When using checkboxes in the first column, force width to ensure correct spacing on this column
  &.has-checkbox tr > :first-child {
    width: $spacer * 2;
    max-width: $spacer * 2;
  }

  // Use negative margins on icons in tables to preserve row height
  svg,
  img {
    margin-top: $table-cell-icon-margin-top;
    margin-bottom: $table-cell-icon-margin-bottom;
  }
  // End mod
}

.table-group-divider {
  border-top: ($table-border-width * 2) solid $table-group-separator-color;
}

//
// Change placement of captions with a class
//

.caption-bottom {
  caption-side: bottom; // Boosted mod
}


//
// Condensed table w/ half padding
//

.table-sm {
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    padding: $table-cell-padding-y-sm $table-cell-padding-x-sm add($table-cell-padding-y-sm, 1px); // Boosted mod
  }

  // Boosted mod
  // Use negative margins on icons in tables to preserve row height
  svg,
  img {
    margin-top: $table-cell-icon-margin-top-sm;
    margin-bottom: $table-cell-icon-margin-bottom-sm;
  }
  // End mod
}

// Boosted mod: no .table-bordered

// Boosted mod: no .table-borderless

// Boosted mod: no .table-striped

// Active table
//
// The `.table-active` class can be added to highlight rows or cells

.table-active {
  --#{$prefix}table-accent-bg: var(--#{$prefix}table-active-bg);
  color: var(--#{$prefix}table-active-color);
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover > * {
    --#{$prefix}table-accent-bg: var(--#{$prefix}table-hover-bg);
    color: var(--#{$prefix}table-hover-color);
  }
}


// Boosted mod: no table-row-variants

// Table variants set the table cell backgrounds, border colors
// and the colors of the striped, hovered & active tables

@each $color, $value in $table-variants {
  @include table-variant($color, $value);
}


// Responsive tables
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-down($breakpoint) {
    .table-responsive#{$infix} {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}
