// Base class

.tag {
  display: inline-flex;
  gap: $tag-gap;
  align-items: center;
  padding: .25rem $tag-padding-x .375rem;
  font-size: $tag-font-size;
  font-weight: $font-weight-bold;
  line-height: $tag-line-height;
  color: $tag-color;
  cursor: if($enable-button-pointers, pointer, null);
  border: $tag-border-width solid $tag-border-color;

  @include border-radius($tag-border-radius, $tag-border-radius);

  &:hover {
    border-color: $tag-border-color-hover;
  }

  &:active,
  &.active,
  &:focus,
  &.focus {
    color: $tag-active-color;
    background-color: $tag-active-background-color;
    border-color: $tag-border-color-hover;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    color: $tag-disabled-color;
    pointer-events: none;
    border-color: $tag-border-color;
  }
}

.tag-icon {
  padding-left: subtract($tag-padding-x, .125rem);
}

.tag-remove {
  padding-right: subtract($tag-padding-x, .3125rem);

  .remove {
    padding: $tag-padding-remove-icon;
    @include border-radius($tag-border-radius, $tag-border-radius);

    &:hover {
      color: $tag-active-color;
      background: $tag-active-background-color;
    }
  }
}

.tag-icon,
.tag-remove {
  padding-top: .1875rem;
  padding-bottom: .1875rem;
}

.tag-lg {
  padding: .5rem $tag-padding-x-lg .625rem;
  font-size: $tag-font-size-lg;
  line-height: $tag-line-height-lg;
  @include border-radius($tag-border-radius, $tag-border-radius);

  &.tag-icon {
    padding-left: subtract($tag-padding-x-lg, .125rem);
  }

  &.tag-remove {
    padding-right: subtract($tag-padding-x-lg, .3125rem);
  }

  &.tag-icon,
  &.tag-remove {
    padding-bottom: .5rem;
  }
}
