$themes: (
  theme-default: (
    "test-primary": #00f,
    "test-secondary": #008000
  ),
  theme-dark: (
    "test-primary": #800080,
    "test-secondary": #008080
  ),
  theme-yellow: (
    "test-primary": #008000,
    "secondary": #d9b346
  ),
  theme-red: (
    "test-primary": #ff0,
    "test-secondary": #ffd9b8
  ),
  theme-blue: (
    "test-primary": #0d2233,
    "test-secondary": #d9b346
  ),
  theme-pink: (
    "test-primary": #ff1493,
    "test-secondary": #00bfff
  )
) !default;

@each $theme, $name in $themes {
  /* #{$theme} */
  [data-bs-theme="#{$theme}"] {
    @each $color, $value in $name {
      --bs-#{$color}: #{$value};
    }
  }
}

// Mapping
$bs-test-primary: var(--bs-test-primary) !default;
$bs-test-secondary: var(--bs-test-secondary) !default;


h1 {
  color: $bs-test-primary;
}
p {
  color: $bs-test-primary;
  background-color: $bs-test-secondary;
}

// scss-docs-start btn-variant-mixin
@mixin button-variant(
  $background,
  $border,
  $color: color-contrast($background),
  $hover-background: $black, // Boosted mod
  $hover-border: $black, // Boosted mod
  $hover-color: color-contrast($hover-background),
  $active-background: $primary, // Boosted mod
  $active-border: $primary, // Boosted mod
  $active-color: color-contrast($active-background),
  $disabled-background: $gray-500, // Boosted mod
  $disabled-border: $gray-500, // Boosted mod
  $disabled-color: $white // Boosted mod
) {
  color: $color;
  @include gradient-bg($background);
  border-color: $border;
  @include box-shadow($btn-box-shadow);

  &:hover {
    color: $hover-color;
    @include gradient-bg($hover-background);
    border-color: $hover-border;
  }

  // Boosted mod: custom styles for .btn-check
  &:focus {
    color: $hover-color;
    @include gradient-bg($hover-background);
    border-color: $hover-border;
    outline-color: $hover-border; // Boosted mod
    // Boosted mod: buttons share the same `box-shadow` on `:focus`
  }

  // Boosted mod: custom styles for .btn-check
  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $active-color;
    background-color: $active-background;
    // Remove CSS gradients if they're enabled
    background-image: if($enable-gradients, none, null);
    border-color: $active-border;
    outline-color: $active-border; // Boosted mod

    // Boosted mod: buttons share the same `box-shadow` on `:focus`
  }

  &:disabled,
  &.disabled {
    color: $disabled-color;
    background-color: $disabled-background;
    // Remove CSS gradients if they're enabled
    background-image: if($enable-gradients, none, null);
    border-color: $disabled-border;
  }
}
// scss-docs-end btn-variant-mixin

[data-bs-theme] {

  .btn {
    color: $bs-test-secondary;
    background-color: $bs-test-primary;

    &:hover {
      background-color: $white;
    }
  }

}
