.title-bar {
  img,
  svg {
    width: auto;
    height: $title-bar-image-ratio;
  }

  h1,
  & {
    font-size: $h2-font-size;
    line-height: $display-line-height;
    letter-spacing: $h2-spacing;

    @include media-breakpoint-up(md) {
      font-size: $display2-size;
      letter-spacing: $display2-spacing;
    }

    @include media-breakpoint-up(xl) {
      font-size: $display1-size;
      letter-spacing: $display1-spacing;
    }
  }
}
