// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  @include font-size($font-size-base); // Boosted mod
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  letter-spacing: $letter-spacing-base; // Boosted mod
  -webkit-font-smoothing: antialiased; // Boosted mod
  -moz-osx-font-smoothing: grayscale; // Boosted mod
  text-rendering: optimizeLegibility; // Boosted mod
}

// Boosted mod: headings and displays together
// Add letter-spacing and line-height
// Reduce heading font-sizes for mobile
// Mobile first, obviously
[class*="display-"] {
  font-weight: $display-weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.display-1 {
  @include font-size($h2-font-size);
  line-height: $h2-line-height;
  letter-spacing: $h2-spacing;
}

h1, .h1,
.display-2,
.display-3 {
  @include font-size($h3-font-size);
  line-height: $h3-line-height;
  letter-spacing: $mid-spacing;
}

.display-2 {
  letter-spacing: $h3-spacing;
}

h2, .h2,
.display-4 {
  @include font-size($h5-font-size);
  line-height: $h5-line-height;
  letter-spacing: $h5-spacing;
}

.lead {
  @include font-size($h6-font-size);
  font-weight: $lead-font-weight;
  line-height: $h6-line-height;
  letter-spacing: $h6-spacing;
}

@include media-breakpoint-up(sm) {
  h1,
  .display-1,
  .display-2,
  .display-3 {
    line-height: $display-line-height;
  }

  .display-1 {
    @include font-size($display2-size);
    letter-spacing: $display2-spacing;
  }

  .display-2 {
    @include font-size($display3-size);
    letter-spacing: $display3-spacing;
  }

  h1, .h1,
  .display-3 {
    @include font-size($display4-size);
    letter-spacing: $display4-spacing;
  }

  h2, .h2,
  .display-4 {
    @include font-size($h3-font-size);
    line-height: $h3-line-height;
    letter-spacing: $h3-spacing;
  }

  h3, .h3,
  h4, .h4,
  .lead {
    @include font-size($h5-font-size);
    line-height: $h5-line-height;
    letter-spacing: $h5-spacing;
  }
}

@include media-breakpoint-up(lg) {
  .display-1 {
    @include font-size($display1-size);
    letter-spacing: $display1-spacing;
  }

  .display-2 {
    @include font-size($display2-size);
    letter-spacing: $display2-spacing;
  }

  .display-3 {
    @include font-size($display3-size);
    letter-spacing: $display3-spacing;
  }

  .display-4 {
    @include font-size($display4-size);
    letter-spacing: $display4-spacing;
  }

  h1, .h1 {
    @include font-size($h1-font-size);
    line-height: $h1-line-height;
    letter-spacing: $h1-spacing;
  }

  h2, .h2 {
    @include font-size($h2-font-size);
    line-height: $h2-line-height;
    letter-spacing: $h2-spacing;
  }

  h3, .h3 {
    @include font-size($h3-font-size);
    line-height: $h3-line-height;
    letter-spacing: $h3-spacing;
  }

  h4, .h4 {
    @include font-size($h4-font-size);
    line-height: $h4-line-height;
    letter-spacing: $h4-spacing;
  }

  h5, .h5 {
    @include font-size($h5-font-size);
    line-height: $h5-line-height;
    letter-spacing: $h5-spacing;
  }

  h6, .h6 {
    @include font-size($h6-font-size);
    line-height: $h6-line-height;
    letter-spacing: $h6-spacing;
  }

  .lead {
    @include font-size($lead-font-size);
    line-height: $lead-line-height;
    letter-spacing: $lead-letter-spacing;
  }
}
// end mod

//
// Horizontal rules
//

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}


//
// Emphasis
//

small,
.small {
  @include font-size($small-font-size);
  font-weight: $font-weight-normal;
  line-height: $small-line-height;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}


//
// Lists
//

.list-unstyled {
  @include list-unstyled();
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled();
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}


//
// Misc
//

// Builds on `abbr`
.initialism {
  @include font-size(90%);
  text-transform: uppercase;
}

// Blockquotes
.blockquote {
  margin-bottom: $spacer;
  @include font-size($blockquote-font-size);
  line-height: $blockquote-line-height;
  letter-spacing: $blockquote-letter-spacing;
}

.blockquote-footer {
  display: block;
  @include font-size($blockquote-small-font-size);
  line-height: $line-height-sm;
  color: $blockquote-small-color;
  letter-spacing: $letter-spacing-base;

  &::before {
    content: "\2014\00A0"; // em dash, nbsp
  }
}
