@use "config" as *;
@use "variables" as *;
@use "mixins/fonts" as *;
@use "mixins/lists" as *;
@use "reboot" as *;

//
// Headings
//

.lead {
  @include get-font-size("body-large"); // OUDS mod: instead of `@include font-size($lead-font-size)`
  font-weight: $lead-font-weight;
}

// Type display classes
@each $display, $font-size in $display-font-sizes {
  .display-#{$display} {
    font-family: $display-font-family;
    font-style: $display-font-style;
    font-weight: $display-font-weight;
    line-height: $display-line-height;
    @extend %heading; // OUDS mod
    @include get-font-size($font-size); // OUDS mod: instead of `@include font-size($font-size)`
  }
}

//
// Lists
//

.list-unstyled {
  @include list-unstyled();
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled();
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

//
// Misc
//

// Builds on `abbr`
// OUDS mod: no .initialism

// Blockquotes
.blockquote {
  margin-bottom: $blockquote-margin-y;

  > p {
    @include get-font-size("body-large"); // OUDS mod: instead of `@include font-size($blockquote-font-size)` in `.blockquote`
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.blockquote-footer {
  margin-top: -$blockquote-margin-y;
  margin-bottom: $blockquote-margin-y;
  @include get-font-size("body-small"); // OUDS mod: instead of `@include font-size($blockquote-footer-font-size)`
  color: $blockquote-footer-color;

  &::before {
    content: "\2014\00A0"; // em dash, nbsp
  }
}
