//
// Headings
//
.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.h5 {
  @extend h5;
}

.h6 {
  @extend h6;
}


// Boosted mod
// Headings and displays together
// = Add letter-spacing and line-height
// = Reduce heading font-sizes for mobile (mobile first, obviously)
[class*="display-"] {
  @extend %heading;
}

h1 {
  @include font-size(1.875rem);
  line-height: calc(32 / 30); // stylelint-disable-line function-disallowed-list

  /* rtl:remove */
  letter-spacing: -.8px;
}

h2,
.display-1 {
  @include font-size($h3-font-size);
  line-height: $h3-line-height;

  /* rtl:remove */
  letter-spacing: $h3-spacing;
}

.display-2 {
  @include font-size($h4-font-size);
  line-height: $h4-line-height;

  /* rtl:remove */
  letter-spacing: $h4-spacing;
}

h3,
.display-3,
.body-lg,
.label-lg {
  @include font-size($h5-font-size);
  line-height: $h5-line-height;

  /* rtl:remove */
  letter-spacing: $h5-spacing;
}

.body-md,
.label-md {
  @include font-size($font-size-base);
  line-height: $line-height-base;

  /* rtl:remove */
  letter-spacing: $letter-spacing-base;
}

.body-sm,
.label-sm {
  @include font-size($font-size-sm);
  line-height: $line-height-sm;

  /* rtl:remove */
  letter-spacing: 0;
}

.body-lg {
  line-height: calc(26 / 18); // stylelint-disable-line function-disallowed-list
}

.body-md {
  line-height: 1.5;
}

.body-sm {
  line-height: calc(20 / 14); // stylelint-disable-line function-disallowed-list
}

.lead {
  @include font-size($h5-font-size);
  font-weight: $lead-font-weight;
  line-height: calc(26 / 18); // stylelint-disable-line function-disallowed-list

  /* rtl:remove */
  letter-spacing: $h5-spacing;
}

@include media-breakpoint-up(md) {
  h1 {
    @include font-size($h1-font-size);
    line-height: $h1-line-height;

    /* rtl:remove */
    letter-spacing: $h1-spacing;
  }

  .display-1 {
    @include font-size(2.5rem);
    line-height: $display-line-height;

    /* rtl:remove */
    letter-spacing: -1px;
  }

  h2,
  .display-2 {
    @include font-size($h2-font-size);
    line-height: $h2-line-height;

    /* rtl:remove */
    letter-spacing: $h2-spacing;
  }

  .display-3 {
    @include font-size($display3-size);
    line-height: $display-line-height;

    /* rtl:remove */
    letter-spacing: $display3-spacing;
  }

  h3 {
    @include font-size($h3-font-size);
    line-height: $h3-line-height;

    /* rtl:remove */
    letter-spacing: $h3-spacing;
  }

  h4,
  h5 {
    @include font-size($h5-font-size);
    line-height: $h5-line-height;

    /* rtl:remove */
    letter-spacing: $h5-spacing;
  }

  .body-lg {
    @include font-size($font-size-xlg);
    line-height: 1.5;
  }

  .body-md {
    @include font-size($font-size-lg);
    line-height: calc(26 / 18); // stylelint-disable-line function-disallowed-list

    /* rtl:remove */
    letter-spacing: $h5-spacing;
  }

  .body-sm {
    @include font-size($font-size-base);
    line-height: 1.5;

    /* rtl:remove */
    letter-spacing: $letter-spacing-base;
  }

  .lead {
    @include font-size($lead-font-size);
    line-height: $lead-line-height;

    /* rtl:remove */
    letter-spacing: $lead-letter-spacing;
  }
}

@include media-breakpoint-up(xl) {
  .display-1 {
    @include font-size($display1-size);

    /* rtl:remove */
    letter-spacing: $display1-spacing;
  }

  h4 {
    @include font-size($h4-font-size);
    line-height: $h4-line-height;

    /* rtl:remove */
    letter-spacing: $h4-spacing;
  }

  h5 {
    @include font-size($h5-font-size);
    line-height: $h5-line-height;

    /* rtl:remove */
    letter-spacing: $h5-spacing;
  }
}
// End mod


//
// Emphasis
//
.small {
  @extend small;
}

.mark {
  @extend mark;
}

//
// Lists
//

.list-unstyled {
  @include list-unstyled();
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled();
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

//
// Misc
//

// Builds on `abbr`
.initialism {
  @include font-size($initialism-font-size);
  text-transform: uppercase;
}

// Blockquotes
.blockquote {
  margin-bottom: $blockquote-margin-y;
  @include font-size($blockquote-font-size);
  line-height: $blockquote-line-height; // Boosted mod

  /* rtl:remove */
  letter-spacing: $blockquote-letter-spacing; // Boosted mod

  > :last-child {
    margin-bottom: 0;
  }
}

.blockquote-footer {
  margin-top: -$blockquote-margin-y;
  margin-bottom: $blockquote-margin-y;
  @include font-size($blockquote-footer-font-size);
  line-height: $line-height-sm; // Boosted mod
  color: $blockquote-footer-color;

  /* rtl:remove */
  letter-spacing: $letter-spacing-base; // Boosted mod

  &::before {
    content: "\2014\00A0"; // em dash, nbsp
  }
}
