//
// Headings
//
.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.h5 {
  @extend h5;
}

.h6 {
  @extend h6;
}

@if ($ouds-typography-heading-large-marker and $ouds-heading-large-marker-img) {
  .h2.marker::after,
  h2.marker::after, // stylelint-disable-line selector-no-qualifying-type
  .fs-hl.marker::after { // TODO not sure of this one because `.fs-hl` is not completely an equivalent of h2 (it is not bold)
    display: block;
    width: $ouds-heading-large-marker-width;
    height: $ouds-heading-large-marker-height;
    content: "";
    background-color: $ouds-typography-color-content-marker;
    mask-image: #{escape-svg($ouds-heading-large-marker-img)};
  }
}

.lead {
  @include get-font-size("body-large"); // OUDS mod: instead of `font-size: $lead-font-size`
  font-weight: $lead-font-weight;
}

// Type display classes
@each $display, $font-size in $display-font-sizes {
  .display-#{$display} {
    font-family: $display-font-family;
    font-style: $display-font-style;
    font-weight: $display-font-weight;
    line-height: $display-line-height;
    @extend %heading; // OUDS mod
    @include get-font-size($font-size); // OUDS mod: instead of `font-size: $font-size`
  }
}

//
// Emphasis
//
.small {
  @extend small;
}

.mark {
  @extend mark;
}

//
// Lists
//

.list-unstyled {
  @include list-unstyled();
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled();
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}
