//
// Headings
//
.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.h5 {
  @extend h5;
}

.h6 {
  @extend h6;
}


.lead {
  @extend %body-large; // OUDS mod: instead of `@include font-size($lead-font-size)`
  font-weight: $lead-font-weight;
}

// Type display classes
@each $display, $font-size in $display-font-sizes {
  .display-#{$display} {
    font-family: $display-font-family;
    font-style: $display-font-style;
    font-weight: $display-font-weight;
    line-height: $display-line-height;
    @extend %heading; // OUDS mod
    @extend #{$font-size}; // OUDS mod: instead of `@include font-size($font-size)`
  }
}

//
// Emphasis
//
.small {
  @extend small;
}

.mark {
  @extend mark;
}

//
// Lists
//

.list-unstyled {
  @include list-unstyled();
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled();
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

//
// Misc
//

// Builds on `abbr`
// OUDS mod: no .initialism

// Blockquotes
.blockquote {
  margin-bottom: $blockquote-margin-y;
  @extend %body-large; // OUDS mod: instead of `@include font-size($blockquote-font-size)`

  > :last-child {
    margin-bottom: 0;
  }
}

.blockquote-footer {
  margin-top: -$blockquote-margin-y;
  margin-bottom: $blockquote-margin-y;
  @extend %body-small; // OUDS mod: instead of `@include font-size($blockquote-footer-font-size)`
  color: $blockquote-footer-color;

  &::before {
    content: "\2014\00A0"; // em dash, nbsp
  }
}

// OUDS mod
// Selection
// TODO LM: Change the used variables once we have the good tokens
::selection {
  color: var(--#{$prefix}highlight-color);
  background-color: var(--#{$prefix}highlight-bg);
}
// End mod
