// Dark color mode variables
//
// Custom variables for the `[data-bs-theme="dark"]` theme. Use this as a starting point for your own custom color modes by creating a new theme-specific file like `_variables-dark.scss` and adding the variables you need.

//
// Global colors
//

// Boosted mod: redefine basic colors
// scss-docs-start brand-colors-dark
$functional-green-dark:  #32c832 !default;
$functional-blue-dark:   #527edb !default;
$functional-yellow-dark: $functional-yellow !default;
$functional-red-dark:    #d53f15 !default;
// scss-docs-end brand-colors-dark
// End mod

// scss-docs-start sass-dark-mode-vars
// scss-docs-start theme-color-dark-variables
$primary-dark:                      $orange !default;
$secondary-dark:                    $black !default;
$success-dark:                      $functional-green-dark !default;
$info-dark:                         $functional-blue-dark !default;
$warning-dark:                      $functional-yellow-dark !default;
$danger-dark:                       $functional-red-dark !default;
$light-dark:                        $gray-500 !default;
$dark-dark:                         $black !default;
// scss-docs-end theme-color-dark-variables

// Boosted mod
// scss-docs-start theme-colors-dark-map
$theme-colors-dark: (
  "primary": $primary-dark,
  "secondary": $secondary-dark,
  "success": $success-dark,
  "info": $info-dark,
  "warning": $warning-dark,
  "danger": $danger-dark,
  "light": $light-dark,
  "dark": $dark-dark,
) !default;
// scss-docs-end theme-colors-dark-map
// End mod

// scss-docs-start theme-text-dark-variables
$primary-text-emphasis-dark:        $primary-dark !default; // Boosted mod: isntead of `tint-color($primary, 40%)`
$secondary-text-emphasis-dark:      $secondary-dark !default; // Boosted mod: instead of `tint-color($secondary, 40%)`
$success-text-emphasis-dark:        $success-dark !default; // Boosted mod: instead of `tint-color($success, 40%)`
$info-text-emphasis-dark:           $info-dark !default; // Boosted mod: instead of `tint-color($info, 40%)`
$warning-text-emphasis-dark:        $warning-dark !default; // Boosted mod: instead of `tint-color($warning, 40%)`
$danger-text-emphasis-dark:         $danger-dark !default; // Boosted mod: instead of `tint-color($danger, 40%)`
$light-text-emphasis-dark:          $light-dark !default; // Boosted mod: instead of `$gray-100`
$dark-text-emphasis-dark:           $dark-dark !default; // Boosted mod: instead of `$gray-300`
// scss-docs-end theme-text-dark-variables

// scss-docs-start theme-bg-subtle-dark-variables
$primary-bg-subtle-dark:            $primary-dark !default; // Boosted mod: instead of `shade-color($primary, 80%)`
$secondary-bg-subtle-dark:          $secondary-dark !default; // Boosted mod: instead of `shade-color($secondary, 80%)`
$success-bg-subtle-dark:            $success-dark !default; // Boosted mod: instead of `shade-color($success, 80%)`
$info-bg-subtle-dark:               $info-dark !default; // Boosted mod: instead of `shade-color($info, 80%)`
$warning-bg-subtle-dark:            $warning-dark !default; // Boosted mod: instead of `shade-color($warning, 80%)`
$danger-bg-subtle-dark:             $danger-dark !default; // Boosted mod: instead of `shade-color($danger, 80%)`
$light-bg-subtle-dark:              $light-dark !default; // Boosted mod: instead of `$gray-800`
$dark-bg-subtle-dark:               $dark-dark !default; // Boosted mod: instead of `mix($gray-800, $black)`
// scss-docs-end theme-bg-subtle-dark-variables

// scss-docs-start theme-border-subtle-dark-variables
$primary-border-subtle-dark:        $primary-dark !default; // Boosted mod: instead of `shade-color($primary, 40%)`
$secondary-border-subtle-dark:      $secondary-dark !default; // Boosted mod: instead of `shade-color($secondary, 40%)`
$success-border-subtle-dark:        $success-dark !default; // Boosted mod: instead of `shade-color($success, 40%)`
$info-border-subtle-dark:           $info-dark !default; // Boosted mod: instead of `shade-color($info, 40%)`
$warning-border-subtle-dark:        $warning-dark !default; // Boosted mod: instead of `shade-color($warning, 40%)`
$danger-border-subtle-dark:         $danger-dark !default; // Boosted mod: instead of `shade-color($danger, 40%)`
$light-border-subtle-dark:          $light-dark !default; // Boosted mod: instead of `$gray-700`
$dark-border-subtle-dark:           $dark-dark !default; // Boosted mod: instead of `$gray-800`
// scss-docs-end theme-border-subtle-dark-variables

$body-color-dark:                   $gray-300 !default;
$body-bg-dark:                      $gray-950 !default; // Boosted mod: instead of `$gray-900`
$body-secondary-color-dark:         $gray-500 !default; // Boosted mod: instead of `rgba($body-color-dark, .75)`
$body-secondary-bg-dark:            $gray-900 !default; // Boosted mod: instead of `$gray-800`
$body-tertiary-color-dark:          $gray-600 !default; // Boosted mod: instead of `rgba($body-color-dark, .5)`
$body-tertiary-bg-dark:             $black !default; // Boosted mod: instead of `mix($gray-800, $gray-900, 50%)`
$body-emphasis-color-dark:          $white !default; // Boosted mod: instead of `$gray-100`
$border-color-dark:                 $gray-700 !default;
$border-color-translucent-dark:     $gray-700 !default; // Boosted mod instead of `rgba($white, .15)`
$headings-color-dark:               $white !default; // Boosted mod: instead of `inherit`
$link-color-dark:                   $white !default; // Boosted mod: instead of `tint-color($primary, 40%)`
$link-hover-color-dark:             $primary !default; // Boosted mod: instead of `shift-color($link-color-dark, -$link-shade-percentage)`
$code-color-dark:                   tint-color($code-color, 40%) !default;
$mark-color-dark:                   $body-color-dark !default;
$mark-bg-dark:                      $yellow-800 !default;


//
// Forms
//

// Boosted mod: no $form-select-indicator-color-dark
// Boosted mod: no $form-select-indicator-dark

// Boosted mod: no $form-switch-color-dark
// Boosted mod: no $form-switch-bg-image-dark

// scss-docs-start form-validation-colors-dark
$form-valid-color-dark:             $green-300 !default;
$form-valid-border-color-dark:      $green-300 !default;
$form-invalid-color-dark:           $red-300 !default;
$form-invalid-border-color-dark:    $red-300 !default;
// scss-docs-end form-validation-colors-dark


//
// Accordion
//

// Boosted mod: no $accordion-icon-color-dark
// Boosted mod: no $accordion-icon-active-color-dark

// Boosted mod: no $accordion-button-icon-dark
// Boosted mod: no $accordion-button-active-icon-dark
// scss-docs-end sass-dark-mode-vars
