// Dark color mode variables
//
// Custom variables for the `[data-bs-theme="dark"]` theme. Use this as a starting point for your own custom color modes by creating a new theme-specific file like `_variables-dark.scss` and adding the variables you need.

//
// Global colors
//

// scss-docs-start sass-dark-mode-vars
// scss-docs-start theme-text-dark-variables
$primary-text-emphasis-dark:        $black !default; // Boosted mod: isntead of `tint-color($primary, 40%)`
$secondary-text-emphasis-dark:      $white !default; // Boosted mod: instead of `tint-color($secondary, 40%)`
$success-text-emphasis-dark:        $black !default; // Boosted mod: instead of `tint-color($success, 40%)`
$info-text-emphasis-dark:           $black !default; // Boosted mod: instead of `tint-color($info, 40%)`
$warning-text-emphasis-dark:        $black !default; // Boosted mod: instead of `tint-color($warning, 40%)`
$danger-text-emphasis-dark:         $black !default; // Boosted mod: instead of `tint-color($danger, 40%)`
$light-text-emphasis-dark:          $black !default; // Boosted mod: instead of `$gray-100`
$dark-text-emphasis-dark:           $white !default; // Boosted mod: instead of `$gray-300`
// scss-docs-end theme-text-dark-variables

// scss-docs-start theme-bg-subtle-dark-variables
$primary-bg-subtle-dark:            $primary !default; // Boosted mod: instead of `shade-color($primary, 80%)`
$secondary-bg-subtle-dark:          $secondary !default; // Boosted mod: instead of `shade-color($secondary, 80%)`
$success-bg-subtle-dark:            $functional-green !default; // Boosted mod: instead of `shade-color($success, 80%)`
$info-bg-subtle-dark:               $functional-blue !default; // Boosted mod: instead of `shade-color($info, 80%)`
$warning-bg-subtle-dark:            $functional-yellow !default; // Boosted mod: instead of `shade-color($warning, 80%)`
$danger-bg-subtle-dark:             $functional-red !default; // Boosted mod: instead of `shade-color($danger, 80%)`
$light-bg-subtle-dark:              $light !default; // Boosted mod: instead of `$gray-800`
$dark-bg-subtle-dark:               $dark !default; // Boosted mod: instead of `mix($gray-800, $black)`
// scss-docs-end theme-bg-subtle-dark-variables

// scss-docs-start theme-border-subtle-dark-variables
$primary-border-subtle-dark:        $primary !default; // Boosted mod: instead of `shade-color($primary, 40%)`
$secondary-border-subtle-dark:      $secondary !default; // Boosted mod: instead of `shade-color($secondary, 40%)`
$success-border-subtle-dark:        $functional-green !default; // Boosted mod: instead of `shade-color($success, 40%)`
$info-border-subtle-dark:           $functional-blue !default; // Boosted mod: instead of `shade-color($info, 40%)`
$warning-border-subtle-dark:        $functional-yellow !default; // Boosted mod: instead of `shade-color($warning, 40%)`
$danger-border-subtle-dark:         $functional-red !default; // Boosted mod: instead of `shade-color($danger, 40%)`
$light-border-subtle-dark:          $light !default; // Boosted mod: instead of `$gray-700`
$dark-border-subtle-dark:           $dark !default; // Boosted mod: instead of `$gray-800`
// scss-docs-end theme-border-subtle-dark-variables

$body-color-dark:                   $gray-300 !default;
$body-bg-dark:                      $gray-950 !default; // Boosted mod: instead of `$gray-900`
$body-secondary-color-dark:         $white !default; // Boosted mod: instead of `rgba($body-color-dark, .75)`
$body-secondary-bg-dark:            $gray-900 !default; // Boosted mod: instead of `$gray-800`
$body-tertiary-color-dark:          rgba($body-color-dark, .5) !default;
$body-tertiary-bg-dark:             #414141 !default; // Boosted mod: instead of `mix($gray-800, $gray-900, 50%)`
$body-emphasis-color-dark:          $white !default; // Boosted mod: instead of `$gray-100`
$border-color-dark:                 $white !default; // Boosted mod: instead of `$gray-700`
$border-color-translucent-dark:     $gray-700 !default; // Boosted mod instead of `rgba($white, .15)`
$headings-color-dark:               $white !default; // Boosted mod: instead of `inherit`
$link-color-dark:                   $white !default; // Boosted mod: instead of `tint-color($primary, 40%)`
$link-hover-color-dark:             $primary !default; // Boosted mod: instead of `shift-color($link-color-dark, -$link-shade-percentage)`
$code-color-dark:                   $gray-500 !default; // Boosted mod: instead of `tint-color($code-color, 40%)`
$mark-color-dark:                   $black !default; // Boosted mod
$mark-bg-dark:                      $white !default; // Boosted mod: instead of `$mark-bg`
// $kbd-color-dark:                    $white !default; // Boosted mod
// $kbd-bg-dark:                       $gray-900 !default; // Boosted mod
// $pre-color-dark:                    $gray-300 !default; // Boosted mod


//
// Forms
//

// Boosted mod: no $form-select-indicator-color-dark
// Boosted mod: no $form-select-indicator-dark

// Boosted mod: no $form-switch-color-dark
// Boosted mod: no $form-switch-bg-image-dark

// scss-docs-start form-validation-colors-dark
$form-valid-color-dark:             $green-300 !default;
$form-valid-border-color-dark:      $green-300 !default;
$form-invalid-color-dark:           $red-300 !default;
$form-invalid-border-color-dark:    $red-300 !default;
// scss-docs-end form-validation-colors-dark


//
// Accordion
//

// Boosted mod: no $accordion-icon-color-dark
// Boosted mod: no $accordion-icon-active-color-dark

// Boosted mod: no $accordion-button-icon-dark
// Boosted mod: no $accordion-button-active-icon-dark
// scss-docs-end sass-dark-mode-vars
