// Dark color mode variables
//
// Custom variables for the `[data-bs-theme="dark"]` theme. Use this as a starting point for your own custom color modes by creating a new theme-specific file like `_variables-dark.scss` and adding the variables you need.

//
// Global colors
//

// OUDS mod
// scss-docs-start sass-dark-mode-vars
// scss-docs-start theme-color-dark-variables
$primary-dark:    $ouds-color-content-brand-primary-dark !default;
$secondary-dark:  $white !default;
$success-dark:    $ouds-color-functional-malachite-300 !default;
$info-dark:       $ouds-color-functional-dodger-blue-300 !default;
$warning-dark:    $ouds-color-functional-sun-300 !default;
$danger-dark:     $ouds-color-functional-scarlet-300 !default;
$light-dark:      $ouds-color-bg-secondary-dark !default;
$dark-dark:       $ouds-color-bg-emphasized-dark !default;
// scss-docs-end theme-color-dark-variables

// scss-docs-start theme-colors-dark-map
$theme-colors-dark: (
  "primary": $primary-dark,
  "secondary": $secondary-dark,
  "success": $success-dark,
  "info": $info-dark,
  "warning": $warning-dark,
  "danger": $danger-dark,
  "light": $light-dark,
  "dark": $dark-dark,
) !default;
// scss-docs-end theme-colors-dark-map
// End mod

// scss-docs-start theme-text-dark-variables
$primary-text-emphasis-dark:        $ouds-color-content-brand-primary-dark !default; // OUDS mod: instead of `tint-color($primary, 40%)`
$secondary-text-emphasis-dark:      $ouds-color-content-muted-dark !default; // OUDS mod: instead of `tint-color($secondary, 40%)`
$success-text-emphasis-dark:        $ouds-color-content-status-positive-dark !default; // OUDS mod: instead of `tint-color($success, 40%)`
$info-text-emphasis-dark:           $ouds-color-content-status-info-dark !default; // OUDS mod: instead of `tint-color($info, 40%)`
$warning-text-emphasis-dark:        $ouds-color-content-status-warning-dark !default; // OUDS mod: instead of `tint-color($warning, 40%)`
$danger-text-emphasis-dark:         $ouds-color-content-status-negative-dark !default; // OUDS mod: instead of `tint-color($danger, 40%)`
$light-text-emphasis-dark:          $ouds-color-content-disabled-dark !default; // OUDS mod: instead of `$gray-100`
$dark-text-emphasis-dark:           $ouds-color-content-default-dark !default; // OUDS mod: instead of `$gray-300`
// scss-docs-end theme-text-dark-variables

// scss-docs-start theme-bg-subtle-dark-variables
$primary-bg-subtle-dark:            $ouds-color-bg-tertiary-dark !default; // OUDS mod: instead of `shade-color($primary, 80%)`
$secondary-bg-subtle-dark:          $ouds-color-bg-secondary-dark !default; // OUDS mod: instead of `shade-color($secondary, 80%)`
$success-bg-subtle-dark:            $ouds-color-surface-status-positive-muted-dark !default; // OUDS mod: instead of `shade-color($success, 80%)`
$info-bg-subtle-dark:               $ouds-color-surface-status-info-muted-dark !default; // OUDS mod: instead of `shade-color($info, 80%)`
$warning-bg-subtle-dark:            $ouds-color-surface-status-warning-muted-dark !default; // OUDS mod: instead of `shade-color($warning, 80%)`
$danger-bg-subtle-dark:             $ouds-color-surface-status-negative-muted-dark !default; // OUDS mod: instead of `shade-color($danger, 80%)`
$light-bg-subtle-dark:              $ouds-color-bg-secondary-dark !default; // OUDS mod: instead of `$gray-800`
$dark-bg-subtle-dark:               $ouds-color-surface-status-neutral-muted-dark !default; // OUDS mod: instead of `mix($gray-800, $black)`
// scss-docs-end theme-bg-subtle-dark-variables

// scss-docs-start theme-border-subtle-dark-variables
$primary-border-subtle-dark:        $ouds-color-border-default-dark !default; // OUDS mod: instead of `shade-color($primary, 40%)`
$secondary-border-subtle-dark:      $ouds-color-border-default-dark !default; // OUDS mod: instead of `shade-color($secondary, 40%)`
$success-border-subtle-dark:        $ouds-color-border-default-dark !default; // OUDS mod: instead of `shade-color($success, 40%)`
$info-border-subtle-dark:           $ouds-color-border-default-dark !default; // OUDS mod: instead of `shade-color($info, 40%)`
$warning-border-subtle-dark:        $ouds-color-border-default-dark !default; // OUDS mod: instead of `shade-color($warning, 40%)`
$danger-border-subtle-dark:         $ouds-color-border-default-dark !default; // OUDS mod: instead of `shade-color($danger, 40%)`
$light-border-subtle-dark:          $ouds-color-border-default-dark !default; // OUDS mod: instead of `$gray-700`
$dark-border-subtle-dark:           $ouds-color-border-default-dark !default; // OUDS mod: instead of `$gray-800`
// scss-docs-end theme-border-subtle-dark-variables

$body-color-dark:                   $ouds-color-content-default-dark !default; // OUDS mod: instead of `$gray-300`
$body-bg-dark:                      $ouds-color-bg-primary-dark !default; // OUDS mod: instead of `$gray-900`
$body-secondary-color-dark:         $ouds-color-content-muted-dark !default; // OUDS mod: instead of `rgba($body-color-dark, .75)`
$body-secondary-bg-dark:            $ouds-color-bg-secondary-dark !default; // OUDS mod: instead of `$gray-800`
$body-tertiary-color-dark:          $ouds-color-content-disabled-dark !default; // OUDS mod: instead of `rgba($body-color-dark, .5)`
$body-tertiary-bg-dark:             $ouds-color-bg-tertiary-dark !default; // OUDS mod: instead of `mix($gray-800, $gray-900, 50%)`
$body-emphasis-color-dark:          $ouds-color-content-default-dark !default; // OUDS mod: instead of `$gray-100`
$border-color-dark:                 $ouds-color-border-emphasized-dark !default; // OUDS mod: instead of `$gray-700`
$border-color-translucent-dark:     $ouds-color-border-default-dark !default; // OUDS mod: instead of `rgba($white, .15)`
$headings-color-dark:               inherit !default;
$link-color-dark:                   $white !default; // OUDS mod: instead of `tint-color($primary, 40%)`
$link-hover-color-dark:             $ouds-color-orange-500 !default; // OUDS mod: instead of `shift-color($link-color-dark, -$link-shade-percentage)`
$code-color-dark:                   $ouds-color-content-muted-dark !default; // OUDS mod: instead of `tint-color($code-color, 40%)`
$mark-color-dark:                   $ouds-color-content-on-action-highlighted-dark !default; // OUDS mod: instead of `$body-color-dark`
$mark-bg-dark:                      $ouds-color-action-highlighted-dark !default; // OUDS mod: instead of `$yellow-800`

$focus-ring-color-dark:             rgba($ouds-color-orange-500, $focus-ring-opacity) !default; // OUDS mod

$success-icon-dark:                 url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 125 125'><path fill='#{$ouds-color-functional-malachite-500}' d='M62.5 0a62.5 62.5 0 1 0 0 125 62.5 62.5 0 0 0 0-125zm28 29.4c3.3 0 6 2.6 6 5.9a5.9 5.9 0 0 1-1.3 3.7L57.7 86a5.8 5.8 0 0 1-9.1 0L29.8 62.5c-.8-1-1.2-2.3-1.2-3.7a5.9 5.9 0 0 1 1.7-4.1l2.3-2.4a5.8 5.8 0 0 1 4.2-1.7 5.8 5.8 0 0 1 3.8 1.4L52 64.7 86.6 31a5.8 5.8 0 0 1 4-1.6z'/></svg>") !default; // OUDS mod
$danger-icon-dark:                  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140 125'><path fill='#{$ouds-color-functional-scarlet-600}' d='M70.3 0c-5.8 0-10.8 3.1-13.5 7.8L2.3 101.3l-.2.2A15.6 15.6 0 0 0 15.6 125H125a15.6 15.6 0 0 0 13.5-23.5L83.8 7.8A15.6 15.6 0 0 0 70.3 0zm19.2 50a6.4 6.4 0 0 1 4.4 1.9 6.4 6.4 0 0 1 0 9L79.4 75.6l15 15a6.4 6.4 0 0 1 0 9.2 6.4 6.4 0 0 1-4.5 1.9 6.4 6.4 0 0 1-4.6-2l-15-15-15 15a6.4 6.4 0 0 1-4.6 2 6.4 6.4 0 0 1-4.6-2 6.4 6.4 0 0 1 0-9l15-15L46.8 61a6.4 6.4 0 1 1 9-9.1l14.6 14.5L84.8 52a6.4 6.4 0 0 1 4.7-1.9z'/></svg>") !default; // OUDS mod

// OUDS mod
$svg-as-custom-props-dark: (
  "success": $success-icon-dark,
  "error":   $danger-icon-dark
) !default;
// End mod

//
// Forms
//

$form-color-disabled-filter-dark:       brightness(0) invert(1) brightness(.4) !default; // OUDS mod

// OUDS mod: no $form-select-indicator-color-dark
$form-select-indicator-dark:            escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 7'><path fill='#{$white}' d='M7 7 0 0h14L7 7z'/></svg>")) !default; // OUDS mod: instead of Bootstrap svg
$form-select-disabled-indicator-dark:   escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 7'><path fill='#{$gray-600}' d='M7 7 0 0h14L7 7z'/></svg>")) !default; // OUDS mod

// OUDS mod: no $form-switch-color-dark
// OUDS mod: no $form-switch-bg-image-dark

// scss-docs-start form-validation-colors-dark
$form-valid-color-dark:                           $ouds-color-content-default-dark !default; // OUDS mod: instead of `$green-300`
$form-valid-border-color-dark:                    $ouds-color-border-emphasized-dark !default; // OUDS mod: instead of `$green-300`
$form-invalid-color-dark:                         $ouds-color-action-negative-enabled-dark !default; // OUDS mod: instead of `$red-300`
$form-invalid-border-color-dark:                  $ouds-color-action-negative-enabled-dark !default; // OUDS mod: instead of `$red-300`
// scss-docs-end form-validation-colors-dark

//
// Accordion
//

// OUDS mod: no $accordion-icon-color-dark
// OUDS mod: no $accordion-icon-active-color-dark

// OUDS mod: no $accordion-button-icon-dark
// OUDS mod: no $accordion-button-active-icon-dark

//
// Breadcrumb
//

// OUDS mod: no $accordion-button-icon-dark

//
// Tables
//

$table-striped-bg-factor-dark:        1 !default; // OUDS mod
$table-active-bg-factor-dark:         .35 !default; // OUDS mod
$table-hover-bg-factor-dark:          .135 !default; // OUDS mod
// scss-docs-end sass-dark-mode-vars
