// Orange rtl overrides
//
//

@import "mixins";
@import "functions";

// invert chevrons

.svg-arrow-previous {
  @include svg-arrow-next("#000");
}

.svg-arrow-next {
  @include svg-arrow-previous("#000");
}

// rotate stepbar chevrons
.stepbar-item::after {
  transform: rotateY(180deg);
}

.page-item:last-child .page-link::before,
.page-item:first-child .page-link::before,
.page-item.presentation + .page-item .page-link::before,
.swiper-button-prev,
.swiper-button-next,
.doc-link::after,
.breadcrumb-item + .breadcrumb-item::before,
.o-link-arrow::after,
.o-link-arrow.back::before {
  transform: rotate(180deg);
}

.alert .alert-icon::after,
.alert-sm .alert-icon::after, {
  right: 2%;
}

.o-stepbar .stepbar-item::after,
.page-item:last-child .page-link::before,
.o-stepbar .stepbar-item.current::after,
.o-stepbar .stepbar-item.done::after
 {
  right: unset;
}

.custom-switch.right .custom-control-label::before {
  right: auto;
  left: 0;
}

.custom-switch .custom-control-label::before {
  background-position: .2rem;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-position: 2rem;
}

.o-link-arrow.back::before {
  padding: 0 .625rem 0 0;
}

.popover {
  right: auto;
  left: 0;
}
