// Orange rtl overrides
//
// stylelint-disable declaration-no-important

@import "functions";
@import "variables";
@import "mixins";

// Reset letter-spacing on RTL
// @see https://www.rtlstyling.com/posts/rtl-styling/#1.-letter-spacing
* {
  letter-spacing: 0 !important;
}

.svg-arrow-previous {
  @include svg-arrow-next($black);
}

.svg-arrow-next {
  @include svg-arrow-previous($black);
}

.stepbar-item::after {
  transform: translateX(-#{$o-stepbar-arrow-width}) rotateY(180deg);
}

.page-item:first-child .page-link::before,
.swiper-button-prev,
.swiper-button-next,
.doc-link::after {
  transform: rotate(180deg);
}

.o-link-arrow.back::before {
  padding: 0 -#{map-get($spacers, 2)} 0 0;
  transform: rotate(180deg);
}

.popover {
  right: auto;
  left: 0;
}
