<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" id="bd-versions" data-toggle="dropdown" aria-expanded="false" data-display="static">
    Boosted v{{ .Site.Params.docs_version }}
  </button>
  <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
    <a class="dropdown-item active" aria-current="true" href="/docs/{{ .Site.Params.docs_version }}/">Latest (5.0.x)</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="https://boosted.orange.com/docs/4.4/">v4.4.0</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="https://boosted.orange.com/docs/3.4/">v3.4.1</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/docs/versions/">All versions</a>
  </div>
</div>
