<header class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <nav class="container-xxl" aria-label="Main navigation">
    <a class="navbar-brand" href="/" aria-label="Boosted">
      <img src="/docs/{{ .Site.Params.docs_version }}/assets/img/orange-logo.svg" width="50" height="50" alt="Back to homepage" title="Go to homepage" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="bdNavbar">
      <ul class="navbar-nav flex-row flex-wrap pt-2 py-md-0">
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link{{ if .IsHome }} active" aria-current="page{{ end }}" href="/" onclick="dataLayer.push({'event': 'clic', 'site_name':'accessibility-boosted', 'phase':'prod', 'track_category':'navbar', 'track_name':'home'});">Home</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link{{ if eq .Page.Layout "docs" }} active" aria-current="true{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/" onclick="dataLayer.push({'event': 'clic', 'site_name':'accessibility-boosted', 'phase':'prod', 'track_category':'navbar', 'track_name':'docs'});">Docs</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link{{ if eq .Page.Title "Examples" }} active" aria-current="true{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/examples/" onclick="dataLayer.push({'event': 'clic', 'site_name':'accessibility-boosted', 'phase':'prod', 'track_category':'navbar', 'track_name':'examples'});">Examples</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link{{ if eq .Page.Layout "guidelines" }} active" aria-current="true{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/guidelines/" onclick="dataLayer.push({'event': 'clic', 'site_name':'accessibility-boosted', 'phase':'prod', 'track_category':'navbar', 'track_name':'guidelines'});">Design guidelines</a>
        </li>
      </ul>

      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
        <li class="nav-item col-6 col-md-auto py-3 py-md-0">
          <a class="nav-link" href="{{ .Site.Params.repo }}" target="_blank" rel="noopener" aria-label="GitHub">
            {{ partial "icons/github.svg" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "20" "height" "20") }}
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto py-3 py-md-0 align-self-center">
          <a class="btn btn-primary my-2 ms-2 my-md-0 ms-md-3" href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/">Download</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
