<header class="navbar navbar-expand-md navbar-dark" id="docs-navbar">
  <nav role="navigation" class="container-fluid" aria-label="Main navigation">
    {{ if .IsHome }}
    <div class="navbar-brand">
      <!-- Boosted mod change brand -->
      <img src="/docs/{{ .Site.Params.docs_version }}/assets/brand/orange_logo.svg" alt="Boosted" width="50" height="50"/>
      <!-- end mod -->
    </div>
    {{- else -}}
    <a class="navbar-brand" href="/" aria-label="Boosted">
      <!-- Boosted mod change brand -->
      <img src="/docs/{{ .Site.Params.docs_version }}/assets/brand/orange_logo.svg" alt="Back to homepage" title="Go to homepage" width="50" height="50"/>
      <!-- end mod -->
    </a>
    {{- end }}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bd-main-nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link{{ if .IsHome }} active{{ end }}" href="/" aria-label="Boosted" {{ if .IsHome }}aria-current="page"{{ end }} onclick="dataLayer.push({'event': 'clic', 'site_name':'accessibility-boosted', 'phase':'prod', 'track_category':'navbar', 'track_name':'home'});" dir="ltr">B<span class="text-primary">oo</span>sted</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{ if eq .Page.Layout "docs" }} active{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/" {{ if eq .Page.Title "Docs" }}aria-current="page"{{ end }} onclick="dataLayer.push({'event': 'clic', 'site_name':'accessibility-boosted', 'phase':'prod', 'track_category':'navbar', 'track_name':'docs'});">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{ if eq .Page.Title "Essentials" }} active{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/essentials/" {{ if eq .Page.Title "Essentials" }}aria-current="page"{{ end }} onclick="dataLayer.push({'event': 'clic', 'site_name':'accessibility-boosted', 'phase':'prod', 'track_category':'navbar', 'track_name':'essentials'});">Essentials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{ if eq .Page.Title "Examples" }} active{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/examples/" {{ if eq .Page.Title "Examples" }}aria-current="page"{{ end }} onclick="dataLayer.push({'event': 'clic', 'site_name':'accessibility-boosted', 'phase':'prod', 'track_category':'navbar', 'track_name':'examples'});">Examples</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{{ if eq .Page.Title "Boostwatch" }} active{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/boostwatch/" {{ if eq .Page.Title "Boostwatch" }}aria-current="page"{{ end }} onclick="dataLayer.push({'event': 'clic', 'site_name':'accessibility-boosted', 'phase':'prod', 'track_category':'navbar', 'track_name':'boostwatch'});">Boostwatch</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row ml-md-auto">
        <li class="nav-item dropdown">
          <button class="btn btn-link btn-inverse nav-link dropdown-toggle mr-md-2" data-toggle="dropdown" aria-expanded="false">
            <span class="sr-only">Boosted&nbsp;</span> v{{ .Site.Params.docs_version }} <span class="sr-only">(switch to other versions)</span>
          </button>
          <div class="dropdown-menu dropdown-menu-md-right">
            <a class="dropdown-item active" href="/docs/{{ .Site.Params.docs_version }}/">Latest ({{ .Site.Params.docs_version }}.x)</a>
            <a class="dropdown-item" href="https://boosted.orange.com/docs/4.5/">4.5.3</a>
            <a class="dropdown-item" href="https://boosted.orange.com/docs/4.4/">4.4.1</a>
            <a class="dropdown-item" href="https://boosted.orange.com/docs/4.3/">4.3.1</a>
            <a class="dropdown-item" href="https://boosted.orange.com/docs/4.2/">4.2.2</a>
            <a class="dropdown-item" href="https://boosted.orange.com/docs/4.1/">4.1.3</a>
            <a class="dropdown-item" href="https://boosted.orange.com/docs/4.0/">4.0.0</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://boosted.orange.com/docs/5.1/">5.1.x</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://boosted.orange.com/docs/3.4/">v3.4.0</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ .Site.Params.repo }}" target="_blank" rel="noopener" aria-label="GitHub">
            <svg class="navbar-nav-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 499.36" focusable="false" width="23" height="23"><title>GitHub</title><path d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z" fill="currentColor" fill-rule="evenodd"></path></svg>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
