<footer class="bd-footer p-3 p-md-5 bg-dark text-center text-sm-left">
  <div class="container">
    <p>This documentation is an adaptation made by Orange.</p>
    <p>Original version designed and built with all the love in the world by the <a href="https://github.com/orgs/twbs/people">Bootstrap core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">their contributors</a>.</p>
    <p>
      Orange modified code licensed <a href="{{ .Site.Params.repo }}/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>
      —&nbsp;just like <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener">Bootstrap</a>,
      docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.
    </p>
    <ul class="bd-footer-links">
      <li><span>Currently v{{ .Site.Params.current_version }}</span></li>
      <li><a href="{{ .Site.Params.repo }}">GitHub</a></li>
      <li><a href="/docs/{{ .Site.Params.docs_version }}/examples/">Examples</a></li>
      <li><a href="https://getbootstrap.com">Bootstrap</a></li>
      <li><a href="https://boosted.netlify.app">Pre-release on Netlify</a></li>
      <li><a href="https://www.netlify.com">
        <img src="https://www.netlify.com/img/global/badges/netlify-dark.svg" alt="Deploys by Netlify" width="89" height="40"/>
      </a></li>
    </ul>
  </div>
</footer>
