<nav class="collapse bd-links bd-guidelines" id="bd-docs-nav" aria-label="Guidelines navigation">
  {{- $url := split .Permalink "/" -}}
  {{- $page_slug := index $url (sub (len $url) 2) -}}

  <ul class="list-unstyled mb-0 py-3 pt-md-4">
    {{- range $group := .Site.Data.guidelines -}}
    {{- $link := $group.title -}}
    {{- $link_slug := $link | urlize -}}

    {{- if $group.pages -}}
    {{- $link = index $group.pages 0 -}}
    {{- $link_slug = $link.title | urlize -}}
    {{- end -}}

    {{- $group_slug := $group.title | urlize -}}
    {{- $is_active_group := eq $.Page.Params.subgroup $group.title }}

    <li class="mb-1{{ if $is_active_group }} active{{ end }}">
      <button class="btn w-100 d-flex align-items-center{{ if not $is_active_group }} collapsed{{ end }}" data-bs-toggle="collapse" data-bs-target="#{{ $group_slug }}-collapse" type="button" aria-expanded="{{ $is_active_group }}"{{ if $is_active_group }} aria-current="true"{{ end }}>
        {{ $group.title }}
      </button>

      {{- if $group.pages }}
      <div class="collapse{{ if $is_active_group }} show{{ end }}" id="{{ $group_slug }}-collapse">
        <ul class="list-unstyled pb-1">
          {{- range $doc := $group.pages -}}
          {{- $doc_slug := $doc.title | urlize -}}
          {{- $is_active := and $is_active_group (eq $page_slug $doc_slug) -}}
          {{- $href := printf "/docs/%s/%s/%s/" $.Site.Params.docs_version "guidelines" $doc_slug }}
          <li><a href="{{ $href }}" class="d-flex align-items-center{{ if $is_active }} active{{ end }}"{{ if $is_active }} aria-current="page"{{ end }}>{{ $doc.title }}</a></li>
          {{- end }}
        </ul>
      </div>
      {{- end }}
    </li>
    {{- end }}
  </ul>
</nav>
