<button class="btn btn-link bd-search-docs-toggle d-md-none p-0" type="button" data-toggle="collapse" data-target="#docs-navbar-content" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
  {{ partial "icons/menu.svg" (dict "width" "30" "height" "30") }}
</button>
<nav role="navigation" class="collapse bd-links d-md-block" id="bd-docs-nav" aria-label="Table of contents">
  <div class="bd-toc-item active">
    <a class="bd-toc-link" href="/" aria-current="page">Boostwatch</a>
    <ul class="nav bd-sidenav">
      <li><a href="#accordion">Accordions</a></li>
      <li><a href="#bulletpoint">Bullet point</a></li>
      <li><a href="#buttons">Buttons</a></li>
      <li><a href="#custom-carousel">Carousel</a></li>
      <li><a href="#container">Containers</a></li>
      <li><a href="#dialogs">Dialogs</a></li>
      <li><a href="#footer">Footer</a></li>
      <li><a href="#forms">Forms</a></li>
      <li><a href="#indicators">Indicators</a></li>
      <li><a href="#link">Links</a></li>
      <li><a href="#local">Local navigation</a></li>
      <li><a href="#modal">Modal window</a></li>
      <li><a href="#navbar">Navbar</a></li>
      <li><a href="#nav">Navs</a></li>
      <li><a href="#pagination">Pagination</a></li>
      <li><a href="#priorityNav">Priority Nav</a></li>
      <li><a href="#progress">Progress bars</a></li>
      <li><a href="#stepbar">Stepbar</a></li>
      <li><a href="#tables">Tables</a></li>
      <li><a href="#tab">Tabs</a></li>
      <li><a href="#type">Typography</a></li>
    </ul>
  </div>
</nav>
