
.navbar-light .navbar-brand {
  background: none;
}
#orange_logo {
  float: left;
}
#app_name{
  margin-left: 20px;
  font-size: 1.1em;
  text-shadow: none;
}
#app_name:hover,
#app_name:focus {
  color: #f16e00;
}
.nav-shift{
  margin-left: 6%;
}
.orange{
  margin-left: 6px;
  color: #f16e00;
}
#content {
  margin: 10px 10px 0 10px;
}
#content .well{
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: #eee;
  background-image: none;
  border-color: #eee;
  border-radius: 0;
  box-shadow: none;
}
#content .info-block {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: inherit;
  background-color: #eee;
}
.tab-pane,
.tab-pane:active,
.tab-pane:focus {
  outline: 0;
}
.col .info-block{
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}
.col-wrap{
  overflow: hidden;
}
.col-base{
  padding: 10px;
  margin-top: -15px;
}
.tab-content {
  padding: 10px;
  background-color: #fff;
}
.form-control:focus {
  background-color: #fff;
}
#messages .input-group{
  margin-bottom: 10px;
}
.center{
  text-align: center;
}
table .alert-img{
  width: 20px;
}
.warning {
  color: #f16e00;
}
.ok {
  color: #0da520;
}
.error {
  color: #f00;
}
.info-block .sub-block{
  padding: 10px 10px 1px;
  margin: 10px;
  background-color: #ccc;
}
footer {
  background-color: #333;
}
footer a {
  color: #fff;
}
.navbar-dark #id-for-cdu-link a{
  color: #fff;
}
.navbar-dark #id-for-cdu-link a:hover,
.navbar-dark #id-for-cdu-link a:focus{
  color: #f16e00;
}

.icon-international-globe {
  font-size: 1.25rem;
}

.svg-avatar {
  top: 0;
  right: 0;
  left: 0;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
}


@media (max-width: 992px) {
  .col .info-block{
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .row.base.col-wrap{
    display: none;
  }
}
