/* general */

html,
body {
  height: 100%;
}

h1,
h2,
h3 {
  margin-top: 1.25rem;
  margin-bottom: .625rem;
  letter-spacing: -.03em;
}

/* page header */

header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.25rem;
  overflow: hidden;
  border-bottom: 1px solid #000;
}

header h1 {
  float: left;
  margin: 0 0 0 1.25rem;
}

header .btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

header .btn.svg-arrow-previous {
  padding-left: 40px;
  margin-right: .375rem;
}

header .btn.svg-arrow-previous::after {
  top: 10px;
  left: 20px;
  width: 10px;
  height: 16px;
}

/* links page */

main {
  margin-bottom: 6.25rem;
}

/* card row layout */

.card-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.card-row .o-card {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.card-row .o-card + .o-card {
  margin-left: 1.25rem;
}

@media (max-width: 767px) {
  .card-row {
    position: relative;
    -ms-flex-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    align-items: center;
    justify-content: center;
  }

  .card-row .o-card {
    -ms-flex-preferred-size: calc(50% - 1.25rem);
    flex-basis: calc(50% - 1.25rem);
    -ms-flex-item-align: stretch;
    align-self: stretch;
    margin-bottom: 1.25rem;
    margin-left: 0;
  }

  .card-row .o-card + .o-card {
    margin-left: 0;
  }

  .card-row .o-card:nth-child(even) {
    margin-left: 1.25rem;
  }
}

@media (max-width: 479px) {
  .card-row .o-card {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-left: 0;
  }

  .card-row .o-card:nth-child(even) {
    margin-left: 0;
  }
}
