{{ define "body_override" }}<body{{ if (eq .Page.Params.toc true) }} data-bs-spy="scroll" data-bs-target="#TableOfContents"{{ end }}>{{ end }}
{{ define "main" }}
  <div class="container-fluid container-max-width bd-gutter mt-tall my-md-tallest bd-layout">
    <nav class="bd-sidebar" aria-label="Docs navigation">
      <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar" aria-labelledby="bdSidebarOffcanvasLabel">
        <div class="offcanvas-header border-bottom">
          <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Browse docs</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdSidebar" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Close"></button>
        </div>

        <div class="offcanvas-body">
          {{ partial "docs-sidebar" . }}
        </div>
      </div>
    </nav>

    <main class="bd-main order-1">
      <div class="bd-intro pt-short ps-lg-short">
        <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
          <div class="mb-tall mb-md-none d-flex text-nowrap">
            {{- /* This is needed because we want to show the badge if show_badge isn't present or is set to false */ -}}
            {{- if (or (and (.Page.Params.added) (not (isset .Page.Params.added "show_badge"))) (and (.Page.Params.added) (isset .Page.Params.added "show_badge") (not (eq .Page.Params.added.show_badge false)))) -}}
              <p class="mb-none me-short"><span class="tag tag-sm">Added in v{{ .Page.Params.added.version }}</span></p>
            {{- end -}}
            <a class="btn btn-sm btn-outline-secondary" href="{{ .Site.Params.repo }}/blob/v{{ .Site.Params.current_version }}-ouds-web/site/content/{{ .Page.File.Path | replaceRE `\\` "/" }}" title="View and edit this file on GitHub" target="_blank" rel="noopener">
              View on GitHub
            </a>
          </div>
          <h1 class="bd-title mb-none" id="content">{{ .Title | markdownify }}</h1>
        </div>
        <p class="bd-lead mt-short">{{ .Page.Params.Description | markdownify }}</p>
        <!-- OUDS mod: No ads -->
      </div>

      {{ if (eq .Page.Params.toc true) }}
        <div class="bd-toc mt-tall mb-huge my-lg-none mb-lg-huge px-sm-shortest text-body-secondary">
          <h2 class="mb-none">
            <button class="btn btn-outline-secondary p-md-none mb-short mb-md-none text-decoration-none bd-toc-toggle d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#tocContents" aria-expanded="false" aria-controls="tocContents">
              On this page
              <svg class="bi d-md-none ms-short" aria-hidden="true"><use xlink:href="#chevron-expand"></use></svg>
            </button>
            <span class="d-none d-md-block h6 my-short ms-tall">On this page</span>
          </h2>
          <hr class="d-none d-md-block my-short ms-tall">
          <div class="collapse bd-toc-collapse ms-shorter" id="tocContents">
            {{ .TableOfContents }}
          </div>
        </div>
      {{ end }}

      <div class="bd-content ps-lg-short">
        {{ if .Page.Params.sections }}
          <div class="row g-medium">
            {{ range .Page.Params.sections }}
            <div class="col-md-6">
              <a class="d-block text-decoration-none" href="../{{ urlize .title }}/">
                <strong class="d-block h5 mb-none">{{ .title }}</strong>
                <span class="text-secondary">{{ .description }}</span>
              </a>
            </div>
            {{ end }}
          </div>
        {{ end }}

        {{ .Content }}
      </div>
    </main>
  </div>
{{ end }}
{{ define "footer" }}
  {{ range .Page.Params.extra_js -}}
    <script{{ with .async }} async{{ end }}{{ with .defer }} defer{{ end }} src="{{ .src }}"></script>
  {{- end -}}
  <div class="position-fixed" aria-hidden="true"><input type="text" tabindex="-1"></div>
{{ end }}
