{{ define "main" }}
  <!-- Boosted mod no Header tag here to avoid duplicate banner landmark accessibility error -->
  <main class="bd-content order-1 py-5" id="content">
    <div class="container pt-md-1 pb-4">
      <div class="row">
        <div class="col-12">
          <h1 class="bd-title mt-0">{{ .Title | markdownify }}</h1>
          <p class="bd-lead">{{ .Page.Params.Description | markdownify }}</p>
          <div class="d-flex flex-column flex-sm-row">
            <a href="{{ .Site.Params.ods.web }}" class="btn btn-lg btn-primary" aria-label="Design system for web" title="Design system for web">Visit system.design.orange.com</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid p-0 mt-3">
      {{ .Content }}
    </div>
  </main>
{{ end }}
