{{ define "main" }}
  <!-- Boosted mod: no Header tag here to avoid duplicate banner landmark accessibility error -->

  <!-- Boosted mod: Orange rendering that handles "Guidelines" page as well -->
  <main class="bd-content order-1" id="content">
    <div class="title-bar mb-2 mb-md-0">
      <div class="container-xxl">
        <h1 class="display-1">{{ .Title | markdownify }}</h1>
      </div>
    </div>
    <div class="pb-4 pb-md-2">
      <div class="container-xxl bd-gutter pt-md-2 pb-md-4">
        <div class="row">
          <div class="col-12">
            <p class="ll-sm h3 mb-4">{{ .Page.Params.Description | markdownify }}</p>
            {{ if eq .Title "Examples" -}}
            <div class="d-flex flex-column flex-sm-row">
              <a href="{{ .Site.Params.download.dist_examples }}" class="btn btn-primary">
                <svg width="1.25rem" height="1.25rem" fill="currentColor" class="me-1" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
                Download examples
              </a>
              <a href="{{ .Site.Params.download.source }}" class="btn btn-secondary mt-3 mt-sm-0 ms-sm-3">
                Download source code
              </a>
            </div>
            {{ else if eq .Title "Orange Design System for web" -}}
            <div class="d-flex flex-column flex-sm-row">
              <a href="{{ .Site.Params.ods.web }}" class="btn btn-primary" aria-label="Visit Orange Design System for web at system.design.orange.com" title="Visit Orange Design System for web at system.design.orange.com" target="_blank" rel="noopener">Visit system.design.orange.com</a>
            </div>
            {{- end }}
          </div>
          <!-- Boosted mod: No ads -->
        </div>
      </div>
    </div>
    {{ if eq .Title "Orange Design System for web" }}
    <div>
    {{ else }}
    <div class="container-xxl bd-gutter">
    {{ end }}
      {{ .Content }}

      {{ if eq .Title "Examples" -}}
        {{ partial "examples/main" . }}
        <!-- Boosted mod: No 'examples/bs-themes' partial -->
      {{- end }}
    </div>
  </main>
  <!-- End mod -->
{{ end }}
