{{ define "main" }}
  <!-- OUDS mod: no Header tag here to avoid duplicate banner landmark accessibility error -->

  <!-- OUDS mod: Orange rendering that handles "Guidelines" page as well -->
  <main class="bd-content order-1" id="content">
    <div class="title-bar mb-sm mb-md-none">
      <div class="container-fluid container-max-width">
        <h1 class="display-large">{{ .Title | markdownify }}</h1>
      </div>
    </div>
    <div class="pb-2xl pb-md-sm">
      <div class="container-fluid container-max-width bd-gutter pt-md-sm pb-md-2xl">
        <div class="row">
          <div class="col-12">
            <p class="ll-sm h3 mb-2xl">{{ .Page.Params.Description | markdownify }}</p>
            {{ if eq .Title "Examples" -}}
            <div class="d-flex flex-column flex-sm-row">
              <a href="{{ .Site.Params.download.dist_examples }}" class="btn btn-strong">
                <svg width="1rem" height="1rem" fill="currentColor" aria-hidden="true">
                  <use xlink:href="../assets/img/ouds-web-sprite.svg#download"/>
                </svg>
                Download examples
              </a>
              <a href="{{ .Site.Params.download.source }}" class="btn btn-default mt-tall mt-sm-none ms-sm-tall">
                Download source code
              </a>
            </div>
            {{- end }}
          </div>
          <!-- OUDS mod: No ads -->
        </div>
      </div>
    </div>
    <div class="container-fluid container-max-width bd-gutter">
      {{ .Content }}

      {{ if eq .Title "Examples" -}}
        {{ partial "examples/main" . }}
        <!-- OUDS mod: No 'examples/bs-themes' partial -->
      {{- end }}
    </div>
  </main>
  <!-- End mod -->
{{ end }}
