---
layout: boostwatch
title: Boostwatch
group: boostwatch
---

<h2 id="orange-icons">Orange Icons</h2>
<p>Icons created from the Orange brand.</p>
<div class="bs-glyphicons">
    <ul class="bs-glyphicons-list">
        {% for iconClassName in site.data.orange-icons %}
        <li>
            <span class="{{ iconClassName }}" aria-hidden="true"></span>
            <span class="glyphicon-class">{{ iconClassName }}</span>
        </li>
        {% endfor %}
    </ul>
</div>

{% include boostwatch/modal.html %}
{% include boostwatch/tableSorter.html %}
{% include boostwatch/bulletPoint.html %}
{% include boostwatch/navLocal.html %}
{% include boostwatch/navTab.html %}
{% include boostwatch/accordion.html %}
{% include boostwatch/ofooter.html %}
{% include boostwatch/stepbar.html %}
{% include boostwatch/navbar.html %}
{% include boostwatch/buttons.html %}
{% include boostwatch/typography.html %}
{% include boostwatch/forms.html %}
{% include boostwatch/navs.html %}
{% include boostwatch/indicators.html %}
{% include boostwatch/progressbar.html %}
{% include boostwatch/containers.html %}
{% include boostwatch/dialogs.html %}

<a href="#" class="scroll-top">
    <span class="icon-arrow_up" aria-hidden="true"></span>
    <div class="scroll-top-text">scroll to top</div>
</a>
