---
layout: boostwatch
title: Boostwatch
group: boostwatch
---

<h2 id="orange-icons">Orange Icons</h2>
<p>Icons created from the Orange brand.</p>
<div class="doc-fonticon">
    <ul class="doc-fonticon-list">
        {% for iconClassName in site.data.orange-icons %}
        <li>
            <span class="{{ iconClassName }}" aria-hidden="true"></span>
            <span class="fonticon-class">{{ iconClassName }}</span>
        </li>
        {% endfor %}
    </ul>
</div>

{% include boostwatch/modal.html %}
{% include boostwatch/tableSorter.html %}
{% include boostwatch/bulletPoint.html %}
{% include boostwatch/navLocal.html %}
{% include boostwatch/navTab.html %}
{% include boostwatch/accordion.html %}
{% include boostwatch/ofooter.html %}
{% include boostwatch/stepbar.html %}
{% include boostwatch/navbar.html %}
{% include boostwatch/megamenu.html %}
{% include boostwatch/buttons.html %}
{% include boostwatch/typography.html %}
{% include boostwatch/forms.html %}
{% include boostwatch/navs.html %}
{% include boostwatch/pagination.html %}
{% include boostwatch/indicators.html %}
{% include boostwatch/progressbar.html %}
{% include boostwatch/containers.html %}
{% include boostwatch/dialogs.html %}


