<footer class="o-footer mt-0" role="contentinfo">
  <h2 class="sr-only">Site map & informations</h2>
  <div class="o-footer-body py-3 px-0">
    <div class="container-fluid">
      <p class="m-0">This documentation is an adaptation made by Orange</p>
      <p class="m-0">Original version designed and built with all the love in the world by
        <a href="https://twitter.com/mdo" target="_blank" rel="noopener">@mdo</a> and
        <a href="https://twitter.com/fat" target="_blank" rel="noopener">@fat</a>. Maintained by the
        <a href="https://github.com/orgs/twbs/people">core team</a> with the help of
        <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.
      </p>
      <p class="m-0">Orange modified code licensed
        <a rel="license noopener" href="{{ site.repo }}/blob/v{{ site.current_version }}/LICENSE" target="_blank">MIT</a>, Original code licensed
        <a rel="license noopener" href="https://github.com/twbs/bootstrap/blob/{{ site.bootstrap_current_version }}/LICENSE" target="_blank">MIT</a>, docs
        <a rel="license noopener" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.
      </p>
    </div>
  </div>
  <div class="o-footer-bottom">
    <div class="container-fluid">
      <div class="row">
        <ul class="nav">
          <li class="nav-item"><span class="nav-link">Currently v{{ site.current_version }}</span></li>
          <li class="nav-item"><a class="nav-link" href="{{ site.repo }}">GitHub</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/examples/">Examples</a></li>
          <li class="nav-item"><a class="nav-link" href="https://github.com/twbs/bootstrap/tree/{{ site.bootstrap_current_version }}/">Original Bootstrap</a></li>
          <li class="nav-item"><a class="nav-link" href="https://boosted.netlify.com">Pre-release on Netlify</a></li>
          <li class="nav-item">
            <a class="nav-link py-0" href="https://www.netlify.com">
              <img src="https://www.netlify.com/img/global/badges/netlify-dark.svg" alt="Deploys by Netlify" width="89" height="40"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
