<button class="btn btn-link bd-search-docs-toggle d-md-none p-0" type="button" data-toggle="collapse" data-target="#docsNavbarContent" aria-controls="docsNavbarContent" aria-expanded="false" aria-label="Toggle docs navigation">
  {%- include icons/menu.svg width="30" height="30" -%}
</button>
<nav role="navigation" class="collapse bd-links" id="docsNavbarContent" aria-label="Table of contents">
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#accordion">Accordions</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#bulletpoint">Bullet point</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#buttons">Buttons</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#custom-carousel">Carousel</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#container">Containers</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#dialogs">Dialogs</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#footer">Footer</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#forms">Forms</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#indicators">Indicators</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#link">Links</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#local">Local navigation</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#modal">Modal window</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#navbar">Navbar</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#nav">Navs</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#pagination">Pagination</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#priorityNav">Priority Nav</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#progress">Progress bars</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#stepbar">Stepbar</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#tables">Tables</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#tab">Tabs</a>
  </div>
  <div class="bd-toc-item ">
    <a class="bd-toc-link" href="#type">Typography</a>
  </div>
</nav>
