main {
  min-height: 150vh;
}

.fixed-top + * {
  margin-top: 3.125rem;
}

@media (min-width: 768px) {
  .fixed-top + * {
    margin-top: 6.25rem;
  }
}

@media (min-width: 1024px) {
  .fixed-top + * {
    margin-top: 8.75rem;
  }
}
