---
import { getVersionedDocsPath } from '@libs/path'
import Code from '@components/shortcodes/Code.astro'
---

<section class="row pb-scaled-xl">
  <div class="col-12 d-none d-xl-block pb-scaled-sm">
    <hr class="border-medium border-default m-none" />
  </div>
  <div class="col-xl-4 pe-xl-5xl">
    <hr class="d-xl-none border-medium m-none pb-scaled-sm" />
    <h2 class="text-brand-primary mb-scaled-xs">Customize everything with&nbsp;Sass</h2>
    <p class="lead fw-bold bd-text-wrap-balance mb-scaled-xs">
      OUDS Web utilizes Sass for a modular and customizable architecture. Import only the components you need, enable
      global options like gradients and shadows, and write your own CSS with our variables, maps, functions, and mixins.
    </p>
    <p class="mb-scaled-lg">
      <a href={getVersionedDocsPath('customize/overview')} class="link link-chevron"> Learn more about customizing</a>
    </p>
  </div>

  <div class="col-xl-8">
    <h3 class="h2 mb-scaled-xs">Include all of OUDS Web's Sass</h3>
    <p class="mb-scaled-md">Import one stylesheet and you're off to the races with every feature of our CSS.</p>
    <Code
      code={`// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import OUDS Web
@import "../node_modules/@ouds/web/scss/ouds-web";`}
      lang="scss"
    />
    <p class="mb-scaled-lg">
      Learn more about our <a href={getVersionedDocsPath('customize/options')}>global Sass options</a>.
    </p>

    <div class="border-top border-thin border-default pt-scaled-sm">
      <h3 class="h2">Include what you need</h3>
      <p class="mb-scaled-md">The easiest way to customize OUDS Web—include only the CSS you need.</p>
      <Code
        code={`// Functions and config first
@import "../node_modules/@ouds/web/scss/config";
@import "../node_modules/@ouds/web/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Required OUDS Web imports
@import "../node_modules/@ouds/web/scss/tokens/raw";
@import "../node_modules/@ouds/web/scss/tokens/semantic";
@import "../node_modules/@ouds/web/scss/tokens/semantic-colors-custom-props";
@import "../node_modules/@ouds/web/scss/tokens/composite";
@import "../node_modules/@ouds/web/scss/tokens/component-colors-custom-props";
@import "../node_modules/@ouds/web/scss/tokens/component";
@import "../node_modules/@ouds/web/scss/variables";
@import "../node_modules/@ouds/web/scss/variables-dark";
@import "../node_modules/@ouds/web/scss/maps";
@import "../node_modules/@ouds/web/scss/mixins";
@import "../node_modules/@ouds/web/scss/root";

// Optional components
@import "../node_modules/@ouds/web/scss/utilities";
@import "../node_modules/@ouds/web/scss/reboot";
@import "../node_modules/@ouds/web/scss/containers";
@import "../node_modules/@ouds/web/scss/grid";
@import "../node_modules/@ouds/web/scss/helpers";
@import "../node_modules/@ouds/web/scss/utilities/api";`}
        lang="scss"
      />
      <p class="mb-none">
        Learn more about <a href={getVersionedDocsPath('customize/sass')}>using OUDS Web with Sass</a>.
      </p>
    </div>
  </div>
</section>
