//// Composite values
//// Manual insertion of composite values

// Elevation

// scss-docs-start ouds-composite-elevation
$ouds-elevation-elevated: $ouds-elevation-x-elevated $ouds-elevation-y-elevated $ouds-elevation-blur-elevated $ouds-elevation-spread-elevated var(--#{$prefix}elevation-color-elevated) !default;
$ouds-elevation-drag: $ouds-elevation-x-drag $ouds-elevation-y-drag $ouds-elevation-blur-drag $ouds-elevation-spread-drag var(--#{$prefix}elevation-color-drag) !default;
$ouds-elevation-emphasized: $ouds-elevation-x-emphasized $ouds-elevation-y-emphasized $ouds-elevation-blur-emphasized $ouds-elevation-spread-emphasized var(--#{$prefix}elevation-color-emphasized) !default;
$ouds-elevation-none: $ouds-elevation-x-none $ouds-elevation-y-none $ouds-elevation-blur-none $ouds-elevation-spread-none var(--#{$prefix}elevation-color-none) !default;
$ouds-elevation-raised: $ouds-elevation-x-raised $ouds-elevation-y-raised $ouds-elevation-blur-raised $ouds-elevation-spread-raised var(--#{$prefix}elevation-color-raised) !default;
$ouds-elevation-sticky: $ouds-elevation-x-sticky $ouds-elevation-y-sticky $ouds-elevation-blur-sticky $ouds-elevation-spread-sticky var(--#{$prefix}elevation-color-sticky) !default;
// scss-docs-end ouds-composite-elevation

// OUDS pixel tracker
$ouds-pixel-tracker-url: "https://assets.orange.com/pm_12751_542_542931-ew23c26ecu-ouds-px.png?a=1&b=or&lib=ouds-web&v=1.4.0"; // stylelint-disable-line scss/dollar-variable-default

// Font

// stylelint-disable value-keyword-case, scss/dollar-variable-colon-space-after
// scss-docs-start ouds-composite-font-sans-serif
$custom-font-name: "HelvNeueOrange" !default;

// Map of CDN URLs for custom font, with weight as keys
$custom-font-cdn-urls: (
  $ouds-font-weight-system-web-default: "https://assets.orange.com/pm_12751_490_490071-myaimdgylf--HelveticaNeue-Default.woff2?a=1",
  $ouds-font-weight-system-web-moderate: "https://assets.orange.com/pm_12751_490_490074-tqtijgs7e4--HelveticaNeue-Moderate.woff2?a=1",
  $ouds-font-weight-system-web-strong: "https://assets.orange.com/pm_12751_490_490077-wejriti88u--HelveticaNeue-Strong.woff2?a=1"
) !default;

$ouds-font-family-sans-serif-stack:
  // OUDS custom font
  $custom-font-name,
  // Older macOS and iOS
  "Helvetica Neue",
  // Some Windows
  Helvetica,
  // Safari for macOS and iOS
  "SF Pro",
  // Android
  Roboto,
  // Basic web fallback
  Arial,
  "Noto Sans",
  "Liberation Sans",
  sans-serif,
  // Emojis fonts
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji" !default;
// scss-docs-end ouds-composite-font-sans-serif
// scss-docs-start ouds-composite-font-monospace
$ouds-font-family-monospace-stack:
  // Windows
  Consolas,
  // Safari for macOS and iOS
  "SFMono-Regular",
  // Android
  "Roboto Mono",
  // Basic web fallback
  "Liberation Mono",
  Menlo,
  monospace !default;
// scss-docs-end ouds-composite-font-monospace
// stylelint-enable value-keyword-case, scss/dollar-variable-colon-space-after

//// ****** ICONS as data URIs ******

/// *** OUDS components icons v2.1
/// For each new version of the icon pack, these icons should be updated using the script update-composite-icons.mjs
// /!\ convention: the var name must start by the component name

// * Alert *
// orange/Component/alert/tick-confirmation-fill v2.2
$alert-icon-success: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 2.4A9.6 9.6 0 0 0 2.4 12a9.6 9.6 0 0 0 9.6 9.6 9.6 9.6 0 0 0 9.6-9.6A9.6 9.6 0 0 0 12 2.4m5 8.1L11.6 16q-.2 0-.3.2l-.1.2-.6.3H10l-.6-.3-.1-.2L9 16l-2-2q-1.2-1.3-.4-2.2.9-.9 2.2.4l1.5 1.6 5-5q1.2-1.2 2-.4 1 .9-.3 2.1'/></svg>") !default;
// orange/Component/alert/info-fill v2.2
$alert-icon-info: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 2.4A9.6 9.6 0 0 0 2.4 12a9.6 9.6 0 0 0 9.6 9.6 9.6 9.6 0 0 0 9.6-9.6A9.6 9.6 0 0 0 12 2.4m1.2 14q0 1.8-1.2 1.8c-1.2 0-1.2-.6-1.2-1.8v-4.5q0-1.8 1.2-1.8t1.2 1.8zM12 9a1.4 1.4 0 0 1-1.4-1.4q.1-1.3 1.4-1.4 1.3.1 1.4 1.4A1.4 1.4 0 0 1 12 9'/></svg>") !default;
// orange/Component/alert/warning-external-shape v2.2
$alert-icon-warning-external: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M21.9 17 14.2 3a2.6 2.6 0 0 0-4.4 0L2.2 17a3 3 0 0 0 0 2.5 3 3 0 0 0 2.2 1.3h15.2a3 3 0 0 0 2.3-1.3 3 3 0 0 0 0-2.5M10.8 8q0-1.7 1.2-1.7c1.2 0 1.2.5 1.2 1.7v4.6q0 1.8-1.2 1.7c-1.2 0-1.2-.5-1.2-1.7zM12 18.2a1.4 1.4 0 0 1-1.4-1.5 1.4 1.4 0 0 1 1.4-1.3 1.4 1.4 0 0 1 1.4 1.3q-.1 1.3-1.4 1.4'/></svg>") !default;
// orange/Component/alert/warning-internal-shape v2.2
$alert-icon-warning-internal: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M10.8 8q0-1.7 1.2-1.7c1.2 0 1.2.5 1.2 1.7v4.6q0 1.8-1.2 1.7c-1.2 0-1.2-.5-1.2-1.7zM12 18.2a1.4 1.4 0 0 1-1.4-1.5 1.4 1.4 0 0 1 1.4-1.3 1.4 1.4 0 0 1 1.4 1.3q-.1 1.3-1.4 1.4'/></svg>") !default;
// orange/Component/alert/important-fill v2.2
$alert-icon-important: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 2.4A9.6 9.6 0 0 0 2.4 12a9.6 9.6 0 0 0 9.6 9.6 9.6 9.6 0 0 0 9.6-9.6A9.6 9.6 0 0 0 12 2.4M10.8 8q0-1.7 1.2-1.7c1.2 0 1.2.5 1.2 1.7v4.6q0 1.8-1.2 1.7-1.2 0-1.2-1.7zM12 18.2a1.4 1.4 0 0 1-1.4-1.5 1.4 1.4 0 0 1 1.4-1.3 1.4 1.4 0 0 1 1.4 1.3q-.1 1.3-1.4 1.4'/></svg>") !default;

$assistant-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M11.473 4.558c.157-.477.88-.477 1.038 0l.785 2.381c.7 2.122 2.479 3.788 4.754 4.442l2.55.734c.51.148.51.822 0 .97l-2.55.733c-2.27.654-4.054 2.316-4.754 4.442l-.785 2.383c-.158.476-.88.476-1.038 0l-.786-2.383c-.7-2.122-2.478-3.788-4.754-4.442l-2.55-.733a.499.499 0 0 1 0-.97l2.55-.734c2.271-.654 4.055-2.316 4.754-4.442l.786-2.381Zm-6.495.33c.041-.117.207-.117.244 0l.185.595c.163.533.577.947 1.11 1.11l.595.185c.117.04.117.207 0 .243l-.596.186a1.668 1.668 0 0 0-1.109 1.11l-.185.595c-.041.117-.208.117-.244 0l-.185-.596a1.667 1.667 0 0 0-1.11-1.109l-.595-.186c-.117-.04-.117-.207 0-.243l.595-.185a1.667 1.667 0 0 0 1.11-1.11l.185-.595Zm12.876-1.766c.054-.163.291-.163.345 0l.26.807c.233.72.82 1.283 1.571 1.506l.842.248a.17.17 0 0 1 0 .33l-.842.249a2.331 2.331 0 0 0-1.571 1.506l-.26.806c-.054.163-.29.163-.345 0l-.26-.806a2.333 2.333 0 0 0-1.57-1.506l-.843-.248a.171.171 0 0 1 0-.331l.842-.248a2.332 2.332 0 0 0 1.572-1.506l.26-.807Z'/></svg>") !default;

// Assistant button
// orange/Component/ai-assistant/sparkles v2.1
$btn-assistant-icon: $assistant-icon !default;

// Assistant icon
// orange/Component/ai-assistant/sparkles v2.1
$icon-assistant-icon: $assistant-icon !default;

// * Badge *
// orange/Component/badge-icon/tick-confirmation-fill v2.2
$badge-icon-positive: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 0a12 12 0 1 0 0 24 12 12 0 0 0 0-24m6.2 10.2-6.7 6.7-.4.4-.1.1-.8.5h-.7l-.7-.5-.2-.1-.3-.4-2.5-2.5q-1.6-1.5-.5-2.6 1-1.1 2.6.5l2 2L16 8q1.5-1.5 2.6-.5t-.5 2.7'/></svg>") !default;
// orange/Component/badge-icon/info-fill v2.2
$badge-icon-info: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 0a12 12 0 1 0 0 24 12 12 0 0 0 0-24m1.5 17.5q0 2.2-1.5 2.2c-1.5 0-1.5-.7-1.5-2.2v-5.7q0-2.2 1.5-2.2t1.5 2.2zM12 8.3q-1.6-.1-1.7-1.7C10 5 11 4.8 12 4.8s1.7.8 1.7 1.8q-.2 1.6-1.7 1.7'/></svg>") !default;
// orange/Component/badge-icon/warning-external-shape v2.2
$badge-icon-warning-external: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 0a12 12 0 1 0 0 24 12 12 0 0 0 0-24m-1.5 7q0-2.1 1.5-2.2c1.5 0 1.5.8 1.5 2.2v5.7q0 2.2-1.5 2.2t-1.5-2.2zM12 19.7q-1.6-.2-1.7-1.8c-.2-1.6.7-1.7 1.7-1.7s1.7.8 1.7 1.7-.8 1.8-1.7 1.8'/></svg>") !default;
// orange/Component/badge-icon/warning-internal-shape v2.2
$badge-icon-warning-internal: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M10.5 7q0-2.2 1.5-2.2c1.5 0 1.5.8 1.5 2.2v5.7q0 2.2-1.5 2.2t-1.5-2.2zM12 19.7q-1.6-.2-1.7-1.8c-.2-1.6.7-1.7 1.7-1.7s1.7.8 1.7 1.7q-.2 1.7-1.7 1.8'/></svg>") !default;
// orange/Component/badge-icon/error-fill v2.2
$badge-icon-negative: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 0a12 12 0 1 0 0 24 12 12 0 0 0 0-24m5.1 17.1q-1 1.1-2.6-.5L12 14.1l-2.5 2.5q-1.6 1.5-2.6.5-1.1-1 .5-2.6L9.9 12 7.4 9.5q-1.5-1.6-.5-2.6c1-1 1.5-.6 2.6.5L12 9.9l2.5-2.5q1.6-1.6 2.6-.5 1.1 1-.5 2.6L14.1 12l2.5 2.5q1.6 1.6.5 2.6'/></svg>") !default;

// * Breadcrumb *
// orange/Component/breadcrumb/icon v2.2
$breadcrumb-divider-icon: var(--#{$prefix}breadcrumb-divider-icon) !default;

// * Button *
// orange/Component/button/previous v2.2
$btn-previous-icon: var(--#{$prefix}btn-previous-icon) !default;
// orange/Component/button/next v2.2 — same icon as $breadcrumb-divider-icon
$btn-next-icon: var(--#{$prefix}breadcrumb-divider-icon) !default;
// orange/Component/button/expurge v2.2
$btn-expurge-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='m18.8 7.2-2-2-4.8 4.9-4.8-4.8-2 1.9 4.9 4.8-4.8 4.8 1.9 2 4.8-4.9 4.8 4.9 2-2-4.9-4.8z'/></svg>") !default;

// * Bullet list *
// orange/Component/bullet-list/bullet-level-0 v2.2
$bullet-list-marker-level-0: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M16.7 7.3H7.3v9.4h9.4z'/></svg>") !default;
// orange/Component/bullet-list/bullet-level-1 v2.2
$bullet-list-marker-level-1: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M16.7 10.3H7.3v3.4h9.4z'/></svg>") !default;
// orange/Component/bullet-list/bullet-level-2 v2.2
$bullet-list-marker-level-2: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M14.8 9.3H9.2v5.4h5.6z'/></svg>") !default;
// Specific empty marker for bullet list
$bullet-list-empty-marker: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'></svg>") !default;
// orange/Component/bullet-list/bullet-tick v2.2
$bullet-list-marker-tick: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M20 7.6 10.7 18q-.3.5-1 .5-1 0-1.2-.5L4 12.7l-.4-.8q0-.6.5-1l.5-.5 1-.3q.6 0 1 .3l2.7 2.8L18 5.8q.4-.4 1-.4 1.2.1 1.3 1.3 0 .5-.3.9'/></svg>") !default;

// * Checkbox *
// orange/Component/checkbox/checkbox-selected v2.2
$checkbox-selected-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M17.4 6.8q1.1 0 1.2 1l-.3.7-7.2 8.4q-.3.4-1 .4-.5 0-.8-.4l-3.6-4.2-.3-.7q0-.5.4-.7l.4-.5q.3-.3.8-.3t.8.3L10 13l6.7-6z'/></svg>") !default;
// orange/Component/checkbox/checkbox-undetermined v2.2
$checkbox-undetermined-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='m5.5 11.1.6-.6h11.8l.6.6v1.8l-.6.6H6.1l-.6-.6z'/></svg>") !default;

// * Chip *
// orange/Component/chip/tick v2.2
$chip-tick-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M20 7.6 10.7 18q-.3.5-1 .5-.8 0-1.2-.5L4 12.7l-.3-.8q0-.6.4-1l.5-.5 1-.3q.6 0 1 .3l2.7 2.8L18 5.8q.4-.4 1-.4 1.2.1 1.3 1.3 0 .5-.3.9'/></svg>") !default;

// * Link *
// orange/Component/link/previous v2.2 — same icon as $btn-previous-icon
$link-previous-icon: var(--#{$prefix}btn-previous-icon) !default;
// orange/Component/link/external-link v2.2
$link-external-icon: var(--#{$prefix}link-external-icon) !default;

// * List item *
// orange/Component/list-item/external-link v2.2 — same icon as $link-external-icon
$list-item-external-icon: var(--#{$prefix}link-external-icon) !default;
// orange/Component/list-item/next v2.2
$list-item-next-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='m10.5 18.1 6.2-6.1-6.2-6.1-1.8 1.7L13 12l-4.4 4.4z'/></svg>") !default;
// orange/Component/list-item/previous v2.2
$list-item-previous-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M13.5 5.9 7.3 12l6.2 6.1 1.8-1.7L11 12l4.4-4.4z'/></svg>") !default;

// * Radio button *
// orange/Component/radio-button/radio-button-selected v2.2
$radio-button-selected-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M16.9 12A4.9 4.9 0 1 1 7 12a4.9 4.9 0 0 1 9.8 0'/></svg>") !default;

// * Select input *
// orange/Component/select-input/expanded-false v2.2
$select-input-chevron: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='m4.9 10 7.1 7.3 7.1-7.3-2-2.1-5.1 5.2-5-5.2z'/></svg>") !default;
// orange/Component/select-input/expanded-true v2.2
$select-input-expanded-chevron: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M19.1 14 12 6.8 4.9 14l2 2.1 5.1-5.2 5 5.2z'/></svg>") !default;

// * Switch *
// orange/Component/switch/selected-switch v2.2
$switch-selected-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='m17.4 9-6.2 7.2-.8.3-.7-.3-3.1-3.6-.2-.6q0-.4.3-.6L7 11q.3-.3.7-.3t.7.3l1.9 1.9L16 7.7l.7-.2q.9 0 1 .9z'/></svg>") !default;

/// *** Legacy icons for draft components, Bootstrap compatibility and Boosted components (not yet updated)
// For pagination, carousel and back-to-top legacy components
$chevron-icon:          url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'><path d='M597.22 225 402.78 421.43 325 500l77.78 78.57L597.22 775 675 696.43 480.56 500 675 303.57z'/></svg>") !default;
// For header draft component
$cross-icon:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path d='m15 17.121-8.132 8.132-2.121-2.12L12.879 15 4.747 6.868l2.12-2.121L15 12.879l8.132-8.132 2.12 2.121L17.122 15l8.132 8.132-2.121 2.12L15 17.123z'/></svg>") !default;
$burger-icon:           url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path d='M28 21v2H2v-2h26Zm0-7v2H2v-2h26Zm0-7v2H2V7h26Z'/></svg>") !default;
$burger-icon-small:     url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'><path d='M2 19h21v-2H2v2Zm0-6h21v-2H2v2Zm0-6h21V5H2v2Z'/></svg>") !default;
// For quantity-selector legacy component
$add-icon:              url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'><path fill='currentColor' d='M14 6H8V0H6v6H0v2h6v6h2V8h6V6z'/></svg>") !default;
$remove-icon:           url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 2'><path fill='currentColor' d='M0 0h14v2H0z'/></svg>") !default;
$add-icon-sm:           url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><path d='M10 4H6V0H4v4H0v2h4v4h2V6h4V4z'/></svg>") !default;
$remove-icon-sm:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 2'><path d='M0 0h10v2H0z'/></svg>") !default;
// For carousel legacy component
$play-icon:             url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='currentColor' d='M12.138 16.8 3 21.6V2.4l9.138 4.8L21 12z' fill-rule='evenodd'/></svg>") !default;
$pause-icon:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='currentColor' d='M10.2 21H3V3h7.2v18ZM21 21h-7.2V3H21v18Z' fill-rule='evenodd'/></svg>") !default;
// For text-input Bootstrap compatibility
$helper-icon:           url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'><path d='M500 75C265.277 75 75 265.279 75 500s190.277 425 425 425 425-190.279 425-425S734.721 75 500 75Zm30.8 680.633a54.149 54.149 0 0 1-37.069 14.267 56.1 56.1 0 0 1-37.95-14.085q-16.233-14.079-16.226-39.384 0-22.458 15.679-37.781t38.5-15.324q22.464 0 37.789 15.324t15.324 37.781q-.003 24.951-16.047 39.202Zm133.12-330.046a162.251 162.251 0 0 1-29.23 39.38q-16.92 16.574-60.772 55.785A248.236 248.236 0 0 0 554.5 540.18a79.146 79.146 0 0 0-10.868 15.32 75.1 75.1 0 0 0-5.529 13.9q-1.953 6.954-5.879 24.42-6.762 37.068-42.413 37.069-18.541 0-31.192-12.119t-12.647-36q0-29.945 9.262-51.863a131.346 131.346 0 0 1 24.6-38.491q15.319-16.577 41.35-39.4 22.789-19.946 32.962-30.113a101.987 101.987 0 0 0 17.105-22.632 54.714 54.714 0 0 0 6.955-27.086q0-28.517-21.213-48.119t-54.7-19.6q-39.213 0-57.743 19.783t-31.359 58.272Q401.059 423.8 367.2 423.8q-19.964 0-33.683-14.079T319.8 379.248q0-33.852 21.739-68.606t63.447-57.562q41.7-22.814 97.3-22.813 51.66 0 91.244 19.069 39.549 19.074 61.119 51.856t21.571 71.286q.004 30.297-12.297 53.109Z'/></svg>") !default;

// *** Expose SVG used several times as custom props (CSS vars like --bs-success-icon)
// /!\ convention: the key name must end by "-icon"
$svg-as-custom-props: (
  "chevron-icon": $chevron-icon, // For legacy usages only
  "alert-success-icon": $alert-icon-success, // Used by alerts and tags
  "alert-info-icon": $alert-icon-info, // Used by alerts and tags
  "alert-warning-icon": $alert-icon-warning-external, // Used by alerts and tags
  "alert-warning-internal-icon": $alert-icon-warning-internal, // Used by alerts and tags
  "alert-error-icon": $alert-icon-important, // Used by alerts and tags
  "breadcrumb-divider-icon": url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='m10 19.1 7.3-7.1L10 4.9l-2.1 2 5.2 5.1-5.2 5z'/></svg>"), // Duplicated SVG used by $breadcrumb-divider-icon, $btn-next-icon
  "btn-previous-icon": url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M14 4.9 6.8 12l7.2 7.1 2.1-2-5.2-5.1 5.2-5z'/></svg>"), // Duplicated SVG used by $btn-previous-icon, $link-previous-icon
  "link-external-icon": url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M17.3 17a1 1 0 0 1-1 .9H7a1 1 0 0 1-.9-1V7.7a1 1 0 0 1 1-.9h5.7l1.6-1.6h-8q-1.7.2-1.9 2v10.5q.2 1.7 2 1.9H17q1.7-.2 1.9-2V9.7l-1.6 1.6zm2-13.5h-5.2l1.7 1.8-3.5 3.5q-.6.8 0 1.6l1.3 1.3q.8.6 1.6 0l3.6-3.5 1.7 1.7V4.7q0-1.1-1.2-1.2'/></svg>") // Duplicated SVG used by $link-external-icon, $list-item-external-icon
) !default;
