//// Composite values
//// Manual insertion of composite values

// Elevation

// scss-docs-start ouds-composite-elevation
$ouds-elevation-elevated: $ouds-elevation-x-elevated $ouds-elevation-y-elevated $ouds-elevation-blur-elevated $ouds-elevation-spread-elevated var(--#{$prefix}elevation-color-elevated) !default;
$ouds-elevation-drag: $ouds-elevation-x-drag $ouds-elevation-y-drag $ouds-elevation-blur-drag $ouds-elevation-spread-drag var(--#{$prefix}elevation-color-drag) !default;
$ouds-elevation-emphasized: $ouds-elevation-x-emphasized $ouds-elevation-y-emphasized $ouds-elevation-blur-emphasized $ouds-elevation-spread-emphasized var(--#{$prefix}elevation-color-emphasized) !default;
$ouds-elevation-none: $ouds-elevation-x-none $ouds-elevation-y-none $ouds-elevation-blur-none $ouds-elevation-spread-none var(--#{$prefix}elevation-color-none) !default;
$ouds-elevation-raised: $ouds-elevation-x-raised $ouds-elevation-y-raised $ouds-elevation-blur-raised $ouds-elevation-spread-raised var(--#{$prefix}elevation-color-raised) !default;
$ouds-elevation-sticky: $ouds-elevation-x-sticky $ouds-elevation-y-sticky $ouds-elevation-blur-sticky $ouds-elevation-spread-sticky var(--#{$prefix}elevation-color-sticky) !default;
// scss-docs-end ouds-composite-elevation

// OUDS pixel tracker
$ouds-pixel-tracker-url: "https://assets.orange.com/pm_12751_542_542931-ew23c26ecu-ouds-px.png?a=1&b=or&lib=ouds-web&v=1.4.0"; // stylelint-disable-line scss/dollar-variable-default

// Font

// stylelint-disable value-keyword-case, scss/dollar-variable-colon-space-after
// scss-docs-start ouds-composite-font-sans-serif
$custom-font-name: "HelvNeueOrange" !default;

// Map of CDN URLs for custom font, with weight as keys
$custom-font-cdn-urls: (
  $ouds-font-weight-system-web-default: "https://assets.orange.com/pm_12751_490_490071-myaimdgylf--HelveticaNeue-Default.woff2?a=1",
  $ouds-font-weight-system-web-moderate: "https://assets.orange.com/pm_12751_490_490074-tqtijgs7e4--HelveticaNeue-Moderate.woff2?a=1",
  $ouds-font-weight-system-web-strong: "https://assets.orange.com/pm_12751_490_490077-wejriti88u--HelveticaNeue-Strong.woff2?a=1"
) !default;

$ouds-font-family-sans-serif-stack:
  // OUDS custom font
  $custom-font-name,
  // Older macOS and iOS
  "Helvetica Neue",
  // Some Windows
  Helvetica,
  // Safari for macOS and iOS
  "SF Pro",
  // Android
  Roboto,
  // Basic web fallback
  Arial,
  "Noto Sans",
  "Liberation Sans",
  sans-serif,
  // Emojis fonts
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji" !default;
// scss-docs-end ouds-composite-font-sans-serif
// scss-docs-start ouds-composite-font-monospace
$ouds-font-family-monospace-stack:
  // Windows
  Consolas,
  // Safari for macOS and iOS
  "SFMono-Regular",
  // Android
  "Roboto Mono",
  // Basic web fallback
  "Liberation Mono",
  Menlo,
  monospace !default;
// scss-docs-end ouds-composite-font-monospace
// stylelint-enable value-keyword-case, scss/dollar-variable-colon-space-after

//// ****** ICONS as data URIs ******

/// *** OUDS components icons v2.1

// * Alert *
// orange/Component/alert/tick-confirmation-fill v2.1
$alert-icon-success: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 2.4A9.6 9.6 0 0 0 2.4 12a9.6 9.6 0 0 0 9.6 9.6 9.6 9.6 0 0 0 9.6-9.6A9.6 9.6 0 0 0 12 2.4Zm4.97 8.148-5.408 5.407c-.09.09-.178.171-.265.245-.04.053-.085.105-.136.156a1.27 1.27 0 0 1-.596.336 1.205 1.205 0 0 1-.266.033 1.206 1.206 0 0 1-.263-.033 1.277 1.277 0 0 1-.597-.337 1.47 1.47 0 0 1-.136-.155 4.53 4.53 0 0 1-.265-.245L7.035 13.95c-.853-.852-.997-1.549-.412-2.134.574-.574 1.282-.44 2.134.412l1.543 1.543 4.947-4.947c.853-.853 1.55-.997 2.134-.412.574.574.44 1.282-.411 2.134Z'/></svg>") !default;
// orange/Component/alert/info-fill v2.1
$alert-icon-info: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 2.4A9.6 9.6 0 0 0 2.4 12a9.6 9.6 0 0 0 9.6 9.6 9.6 9.6 0 0 0 9.6-9.6A9.6 9.6 0 0 0 12 2.4Zm1.2 13.994c0 1.188-.4 1.758-1.2 1.758-.8 0-1.2-.57-1.2-1.758v-4.535c0-1.188.384-1.774 1.2-1.774.8 0 1.2.586 1.2 1.774v4.535Zm-1.213-7.32A1.39 1.39 0 0 1 10.6 7.681c0-.768.622-1.407 1.387-1.407.766 0 1.388.624 1.388 1.407a1.38 1.38 0 0 1-1.388 1.391Z'/></svg>") !default;
// orange/Component/alert/warning-external-shape v2.1
$alert-icon-warning-external: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M21.852 16.98 14.205 3.064a2.556 2.556 0 0 0-4.41 0L2.17 16.942l-.001.002-.021.036a2.54 2.54 0 0 0-.009 2.552 2.55 2.55 0 0 0 2.214 1.276h15.293a2.549 2.549 0 0 0 2.214-1.276 2.542 2.542 0 0 0-.008-2.553ZM10.8 8.031c0-1.187.4-1.758 1.2-1.758.8 0 1.2.57 1.2 1.758v4.535c0 1.188-.384 1.774-1.2 1.774s-1.2-.585-1.2-1.774V8.031Zm1.188 10.119a1.394 1.394 0 0 1-1.388-1.407 1.38 1.38 0 0 1 1.388-1.391 1.39 1.39 0 0 1 1.387 1.39c0 .768-.622 1.408-1.387 1.408Z'/></svg>") !default;
// orange/Component/alert/warning-internal-shape v2.1
$alert-icon-warning-internal: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M10.8 8.031c0-1.187.4-1.758 1.2-1.758.8 0 1.2.57 1.2 1.758v4.535c0 1.188-.384 1.774-1.2 1.774s-1.2-.585-1.2-1.774V8.031Zm1.188 10.119a1.394 1.394 0 0 1-1.388-1.407 1.38 1.38 0 0 1 1.388-1.391 1.39 1.39 0 0 1 1.387 1.39c0 .768-.622 1.408-1.387 1.408Z'/></svg>") !default;
// orange/Component/alert/important-fill v2.1
$alert-icon-important: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 2.4A9.6 9.6 0 0 0 2.4 12a9.6 9.6 0 0 0 9.6 9.6 9.6 9.6 0 0 0 9.6-9.6A9.6 9.6 0 0 0 12 2.4Zm-1.2 5.631c0-1.187.4-1.758 1.2-1.758.8 0 1.2.57 1.2 1.758v4.535c0 1.188-.385 1.774-1.2 1.774-.8 0-1.2-.585-1.2-1.774V8.031Zm1.187 10.119a1.394 1.394 0 0 1-1.387-1.407 1.38 1.38 0 0 1 1.387-1.391 1.39 1.39 0 0 1 1.388 1.39c0 .768-.622 1.408-1.388 1.408Z'/></svg>") !default;

// * Badge *
// orange/Component/badge-icon/tick-confirmation-fill v2.1
$badge-icon-positive: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 0C5.372 0 0 5.372 0 12s5.372 12 12 12 12-5.372 12-12S18.628 0 12 0Zm6.212 10.184-6.76 6.76a5.635 5.635 0 0 1-.33.306c-.05.066-.107.13-.17.195a1.593 1.593 0 0 1-.746.42c-.08.02-.193.04-.333.042a1.51 1.51 0 0 1-.328-.041 1.596 1.596 0 0 1-.746-.422 1.86 1.86 0 0 1-.17-.194 5.694 5.694 0 0 1-.331-.307L5.793 14.44c-1.065-1.066-1.246-1.936-.514-2.668.717-.718 1.602-.55 2.668.515l1.928 1.929L16.06 8.03c1.066-1.066 1.936-1.246 2.668-.515.717.718.55 1.602-.515 2.668Z'/></svg>") !default;
// orange/Component/badge-icon/info-fill v2.1
$badge-icon-info: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 0C5.372 0 0 5.372 0 12s5.372 12 12 12 12-5.372 12-12S18.628 0 12 0Zm1.5 17.492c0 1.485-.5 2.198-1.5 2.198s-1.5-.713-1.5-2.198v-5.669c0-1.484.48-2.217 1.5-2.217 1 0 1.5.732 1.5 2.217v5.67Zm-1.516-9.15c-.957 0-1.734-.78-1.734-1.74s.777-1.758 1.734-1.758 1.735.78 1.735 1.759c0 .98-.778 1.739-1.735 1.739Z'/></svg>") !default;
// orange/Component/badge-icon/warning-external-shape v2.1
$badge-icon-warning-external: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 0C5.372 0 0 5.372 0 12s5.372 12 12 12 12-5.372 12-12S18.628 0 12 0Zm-1.5 7.04c0-1.486.5-2.2 1.5-2.2s1.5.714 1.5 2.2v5.668c0 1.485-.48 2.218-1.5 2.218-1 0-1.5-.733-1.5-2.218V7.04Zm1.484 12.648c-.957 0-1.734-.78-1.734-1.76s.777-1.739 1.734-1.739 1.735.78 1.735 1.74-.778 1.759-1.735 1.759Z'/></svg>") !default;
// orange/Component/badge-icon/warning-internal-shape v2.1
$badge-icon-warning-internal: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M10.5 7.038c0-1.485.5-2.198 1.5-2.198s1.5.713 1.5 2.198v5.67c0 1.484-.48 2.217-1.5 2.217-1 0-1.5-.733-1.5-2.218V7.038Zm1.484 12.649c-.957 0-1.734-.78-1.734-1.76s.777-1.738 1.734-1.738 1.735.779 1.735 1.738c0 .96-.778 1.76-1.735 1.76Z'/></svg>") !default;
// orange/Component/badge-icon/error-fill v2.1
$badge-icon-negative: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 0C5.373 0 0 5.373 0 12c0 6.628 5.373 12 12 12 6.628 0 12-5.372 12-12 0-6.627-5.372-12-12-12Zm5.133 17.134c-.707.707-1.578.543-2.627-.506L12 14.122l-2.52 2.52c-1.05 1.049-1.906 1.2-2.613.492-.707-.707-.556-1.564.493-2.613l2.52-2.52L7.357 9.48c-1.05-1.05-1.2-1.907-.493-2.614.707-.706 1.564-.556 2.614.493L12 9.881l2.509-2.509c1.05-1.05 1.907-1.227 2.627-.507.707.707.543 1.578-.507 2.628L14.12 12l2.506 2.506c1.05 1.05 1.228 1.907.507 2.627Z'/></svg>") !default;

// * Breadcrumb *
// orange/Component/breadcrumb/icon v2.1
$breadcrumb-divider-icon: var(--#{$prefix}breadcrumb-divider-icon) !default;

// * Button *
// orange/Component/button/previous v2.1
$btn-previous-icon: var(--#{$prefix}btn-previous-icon) !default;
// orange/Component/button/next v2.1 — same icon as $breadcrumb-divider-icon
$btn-next-icon: var(--#{$prefix}breadcrumb-divider-icon) !default;
// orange/Component/button/expurge v2.1
$btn-expurge-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='m18.75 7.178-1.928-1.929L12 10.071 7.178 5.25 5.249 7.18 10.071 12 5.25 16.822l1.93 1.929L12 13.929l4.822 4.822 1.929-1.929L13.929 12l4.822-4.822Z'/></svg>") !default;

// * Bullet list *
// orange/Component/bullet-list/bullet-level-0 v2.1
$bullet-list-marker-level-0: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M16.7 7.295H7.3v9.4h9.4v-9.4Z'/></svg>") !default;
// orange/Component/bullet-list/bullet-level-1 v2.1
$bullet-list-marker-level-1: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M16.7 10.25H7.3v3.5h9.4v-3.5Z'/></svg>") !default;
// orange/Component/bullet-list/bullet-level-2 v2.1
$bullet-list-marker-level-2: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M14.75 9.25h-5.5v5.5h5.5v-5.5Z'/></svg>") !default;
// Specific empty marker for bullet list
$bullet-list-empty-marker: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'></svg>") !default;
// orange/Component/bullet-list/bullet-tick v2.1
$bullet-list-marker-tick: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill-rule='evenodd' d='m19.938 7.57-9.104 10.5c-.26.3-.661.492-1.11.492-.45 0-.85-.192-1.111-.492L4.06 12.82a1.246 1.246 0 0 1-.312-.82c0-.362.16-.69.417-.928l.569-.525a1.48 1.48 0 0 1 1.006-.385c.353 0 .676.12.925.317l2.773 2.834 8.415-7.52c.254-.22.597-.356.973-.356.785 0 1.422.588 1.422 1.313 0 .31-.116.595-.311.82Z' clip-rule='evenodd'/></svg>") !default;

// * Checkbox *
// orange/Component/checkbox/checkbox-selected v2.1
$checkbox-selected-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M17.433 6.75c.625 0 1.132.47 1.132 1.05a1 1 0 0 1-.248.656l-7.245 8.4c-.207.24-.526.394-.883.394-.358 0-.676-.154-.884-.394l-3.622-4.2A1 1 0 0 1 5.435 12c0-.29.127-.552.331-.742l.453-.42c.205-.19.488-.308.8-.308.282 0 .539.095.737.252l2.206 2.268 6.697-6.016c.202-.176.475-.284.774-.284Z'/></svg>") !default;
// orange/Component/checkbox/checkbox-undetermined v2.1
$checkbox-undetermined-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M5.5 11.1a.6.6 0 0 1 .6-.6h11.8a.6.6 0 0 1 .6.6v1.8a.6.6 0 0 1-.6.6H6.1a.6.6 0 0 1-.6-.6v-1.8Z'/></svg>") !default;

// * Chip *
// orange/Component/chip/tick v2.1
$chip-tick-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill-rule='evenodd' d='m19.938 7.57-9.103 10.5c-.26.3-.662.492-1.11.492-.45 0-.85-.192-1.111-.492l-4.552-5.25A1.246 1.246 0 0 1 3.75 12c0-.362.16-.69.417-.928l.569-.525a1.48 1.48 0 0 1 1.005-.385c.354 0 .677.12.926.317l2.773 2.834 8.415-7.52c.254-.22.596-.356.973-.356.785 0 1.422.588 1.422 1.313 0 .31-.117.595-.312.82Z' clip-rule='evenodd'/></svg>") !default;

// * Link *
// orange/Component/link/previous v2.1 — same icon as $btn-previous-icon
$link-previous-icon: var(--#{$prefix}btn-previous-icon) !default;
// orange/Component/link/external-link v2.1
$link-external-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill-rule='evenodd' d='M17.3 16.967a.936.936 0 0 1-.933.933H7.033a.936.936 0 0 1-.933-.933V7.633a.936.936 0 0 1 .933-.933h5.741l1.6-1.6H6.42c-1.056 0-1.92.864-1.92 1.92v10.56c0 1.056.864 1.92 1.92 1.92h10.56c1.056 0 1.92-.864 1.92-1.92V9.625l-1.6 1.6v5.742ZM19.334 3.5H14.09l1.75 1.75-3.528 3.527c-.46.46-.46 1.204 0 1.664l1.248 1.248c.46.46 1.204.46 1.664 0L18.75 8.16l1.75 1.75V4.666c0-.644-.522-1.166-1.166-1.166Z' clip-rule='evenodd'/></svg>") !default;

// * Radio button *
// orange/Component/radio-button/radio-button-selected v2.1
$radio-button-selected-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M16.875 12a4.875 4.875 0 1 1-9.75 0 4.875 4.875 0 0 1 9.75 0Z'/></svg>") !default;

// * Select input *
// orange/Component/select-input/expanded-false v2.1
$select-input-chevron: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M4.874 9.977 12 17.25l7.125-7.273-2.034-2.079L12 13.095 6.91 7.898 4.874 9.977Z'/></svg>") !default;
// orange/Component/select-input/expanded-true v2.1
$select-input-expanded-chevron: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M19.124 14.023 12 6.75l-7.125 7.273 2.035 2.079L12 10.905l5.088 5.197 2.037-2.079Z'/></svg>") !default;

// * Switch *
// orange/Component/switch/selected-switch v2.1
$switch-selected-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill-rule='evenodd' d='m17.413 8.962-6.207 7.2a.998.998 0 0 1-.758.338.997.997 0 0 1-.757-.338l-3.103-3.6A.857.857 0 0 1 6.375 12c0-.248.109-.473.284-.636l.388-.36c.175-.163.418-.264.686-.264.24 0 .461.082.63.217l1.891 1.943 5.738-5.157c.173-.15.407-.243.663-.243.536 0 .97.403.97.9a.86.86 0 0 1-.212.562Z' clip-rule='evenodd'/></svg>") !default;

/// *** Legacy icons for draft components, Bootstrap compatibility and Boosted components (not yet updated)
// For pagination, carousel and back-to-top legacy components
$chevron-icon:          url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'><path d='M597.22 225 402.78 421.43 325 500l77.78 78.57L597.22 775 675 696.43 480.56 500 675 303.57z'/></svg>") !default;
// For header draft component
$cross-icon:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path d='m15 17.121-8.132 8.132-2.121-2.12L12.879 15 4.747 6.868l2.12-2.121L15 12.879l8.132-8.132 2.12 2.121L17.122 15l8.132 8.132-2.121 2.12L15 17.123z'/></svg>") !default;
$burger-icon:           url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path d='M28 21v2H2v-2h26Zm0-7v2H2v-2h26Zm0-7v2H2V7h26Z'/></svg>") !default;
$burger-icon-small:     url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'><path d='M2 19h21v-2H2v2Zm0-6h21v-2H2v2Zm0-6h21V5H2v2Z'/></svg>") !default;
// For quantity-selector legacy component
$add-icon:              url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'><path fill='currentColor' d='M14 6H8V0H6v6H0v2h6v6h2V8h6V6z'/></svg>") !default;
$remove-icon:           url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 2'><path fill='currentColor' d='M0 0h14v2H0z'/></svg>") !default;
$add-icon-sm:           url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><path d='M10 4H6V0H4v4H0v2h4v4h2V6h4V4z'/></svg>") !default;
$remove-icon-sm:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 2'><path d='M0 0h10v2H0z'/></svg>") !default;
// For carousel legacy component
$play-icon:             url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='currentColor' d='M12.138 16.8 3 21.6V2.4l9.138 4.8L21 12z' fill-rule='evenodd'/></svg>") !default;
$pause-icon:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='currentColor' d='M10.2 21H3V3h7.2v18ZM21 21h-7.2V3H21v18Z' fill-rule='evenodd'/></svg>") !default;
// For text-input Bootstrap compatibility
$helper-icon:           url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'><path d='M500 75C265.277 75 75 265.279 75 500s190.277 425 425 425 425-190.279 425-425S734.721 75 500 75Zm30.8 680.633a54.149 54.149 0 0 1-37.069 14.267 56.1 56.1 0 0 1-37.95-14.085q-16.233-14.079-16.226-39.384 0-22.458 15.679-37.781t38.5-15.324q22.464 0 37.789 15.324t15.324 37.781q-.003 24.951-16.047 39.202Zm133.12-330.046a162.251 162.251 0 0 1-29.23 39.38q-16.92 16.574-60.772 55.785A248.236 248.236 0 0 0 554.5 540.18a79.146 79.146 0 0 0-10.868 15.32 75.1 75.1 0 0 0-5.529 13.9q-1.953 6.954-5.879 24.42-6.762 37.068-42.413 37.069-18.541 0-31.192-12.119t-12.647-36q0-29.945 9.262-51.863a131.346 131.346 0 0 1 24.6-38.491q15.319-16.577 41.35-39.4 22.789-19.946 32.962-30.113a101.987 101.987 0 0 0 17.105-22.632 54.714 54.714 0 0 0 6.955-27.086q0-28.517-21.213-48.119t-54.7-19.6q-39.213 0-57.743 19.783t-31.359 58.272Q401.059 423.8 367.2 423.8q-19.964 0-33.683-14.079T319.8 379.248q0-33.852 21.739-68.606t63.447-57.562q41.7-22.814 97.3-22.813 51.66 0 91.244 19.069 39.549 19.074 61.119 51.856t21.571 71.286q.004 30.297-12.297 53.109Z'/></svg>") !default;

// *** Expose SVG used several times as custom props (CSS vars like --bs-success-icon)
// /!\ convention: the key name must end by "-icon"
$svg-as-custom-props: (
  "chevron-icon": $chevron-icon, // For legacy usages only
  "alert-success-icon": $alert-icon-success, // Used by alerts and tags
  "alert-info-icon": $alert-icon-info, // Used by alerts and tags
  "alert-warning-icon": $alert-icon-warning-external, // Used by alerts and tags
  "alert-warning-internal-icon": $alert-icon-warning-internal, // Used by alerts and tags
  "alert-error-icon": $alert-icon-important, // Used by alerts and tags
  "breadcrumb-divider-icon": url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M9.977 19.125 17.25 12 9.977 4.875 7.898 6.91 13.095 12l-5.197 5.088 2.079 2.037Z'/></svg>"), // Duplicated SVG used by $breadcrumb-divider-icon, $btn-next-icon
  "btn-previous-icon": url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M14.023 4.875 6.75 12l7.273 7.125 2.079-2.035L10.905 12l5.197-5.088-2.079-2.037Z'/></svg>") // Duplicated SVG used by $btn-previous-icon, $link-previous-icon
) !default;
