{
    "rules": {    
        "no-unexpected-multiline":0,
        "no-shadow": [
            "error",
            "allow": ["e"]
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            0,
            "unix"
        ],
        "semi": [
            0,
            "never"
        ]
    },
    "env": {
        "node": true
    },
    "extends": "eslint:recommended"
}