{
  "semi": true,
  "endOfLine": "lf",
  "trailingComma": "all",
  "singleQuote": true,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": ["*.json", "*.md"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.{ts,tsx,js,jsx,vue}",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
