.btn-secondary {
  background-color: transparent;
}

.border-translucent {
  --bs-border-color: var(--bs-border-color-translucent);
}

.out-of-grid {
  position: static;
}

.out-of-grid img {
  min-width: 100%;
}

@media (min-width: 1024px) {
  .out-of-grid {
    position: absolute;
  }
}

.images img {
  border-radius: 12% / 5%;
  box-shadow: 10px 15px 50px -5px rgba(var(--bs-link-color-rgb), .15);
  transition: transform .3s ease-in-out;
  transform-origin: center;
}

.images.active > :hover img {
  transform: scale(1.2);
}

.images > .col {
  transform: translateY(-50px);
}

.images.active > .col {
  animation: enter .75s 5 alternate forwards;
}

@keyframes enter {
  0% {
    transform: translateY(-50px);
    animation-timing-function: cubic-bezier(.5, 0, 1, .5);
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(0, .5, .5, 1);
  }
}

.images.active > :nth-child(1) {
  animation-delay: 0ms;
}

.images.active > :nth-child(2) {
  animation-delay: 100ms;
}

.images.active > :nth-child(3) {
  animation-delay: 200ms;
}

.images.active > :nth-child(4) {
  animation-delay: 300ms;
}

.images.active > :nth-child(5) {
  animation-delay: 400ms;
}

.images.active > :nth-child(6) {
  animation-delay: 500ms;
}

footer .nav-link:hover {
  text-decoration: underline;
}
