.btn-secondary {
  background-color: transparent;
}

.border-translucent {
  --bs-border-color: var(--bs-border-color-translucent);
}

.out-of-grid {
  position: static;
}

.out-of-grid img {
  width: 100%;
}

@media (min-width: 1024px) {
  .out-of-grid {
    position: absolute;
  }

  .out-of-grid img {
    width: auto;
  }
}

.images img {
  border-radius: 12% / 5%;
  box-shadow: 10px 15px 50px -5px rgba(var(--bs-link-color-rgb), .15);
  transition: transform .3s ease-in-out;
  transform-origin: center;
}

.images.active > :hover img {
  transform: scale(1.2);
}

.images.active img {
  animation: enter 2s ease 1;
}

@keyframes enter {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, .9) translateY(0);
  }
  30% {
    transform: scale(.9, 1.1) translateY(-50px);
  }
  50% {
    transform: scale(1.05, .95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-9px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  71% {
    transform: scale(1, 1) translateY(-5px);
  }
  78% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.images.active > :nth-child(1) img {
  animation-delay: 0ms;
}

.images.active > :nth-child(2) img {
  animation-delay: 125ms;
}

.images.active > :nth-child(3) img {
  animation-delay: 250ms;
}

.images.active > :nth-child(4) img {
  animation-delay: 375ms;
}

.images.active > :nth-child(5) img {
  animation-delay: 500ms;
}

.images.active > :nth-child(6) img {
  animation-delay: 625ms;
}
