/* stylelint-disable selector-max-id, declaration-no-important, selector-class-pattern, selector-id-pattern, order/properties-order */
.modal-open {
  overflow: hidden;
  height: 100%;
}

#contentWrapper {
  display: unset;
}

/***
* Reset CSS
*/

#tarteaucitronRoot ol,
#tarteaucitronRoot ul {
  list-style: none;
}

/***
 * Better scroll management
 */
#tarteaucitronMainLineOffset {
  margin-top: 0 !important;
}

#tarteaucitronServices {
  margin-top: 30px !important;
}

/***
 * Responsive layout for the control panel
 */
@media screen and (max-width: 479px) {
  .tarteaucitronLine .tarteaucitronName {
    width: 90% !important;
  }

  .tarteaucitronLine .tarteaucitronAsk {
    float: left !important;
    margin: 10px 15px 5px;
  }
}

@media screen and (max-width: 767px) {
  .tarteaucitronBorder {
    border: 0 !important;
  }

  .tarteaucitronTitle {
    text-align: left !important;
  }

  .tarteaucitronName .tarteaucitronH2 {
    max-width: 80%;
  }

  .tarteaucitronLine .tarteaucitronAsk {
    text-align: center !important;
  }

  .tarteaucitronLine .tarteaucitronAsk button {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #tarteaucitron {
    border: 0 !important;
    left: 0 !important;
    margin: 0 5% !important;
    max-height: 80% !important;
    width: 90% !important;
  }
}

/***
 * Common value
 */
#tarteaucitron {
  right: 0;
  display: none;
  max-height: 80%;
  left: 50%;
  margin: 0 auto 0 -430px;
  padding: 0;
  position: fixed;
  top: 6%;
  width: 860px;
  z-index: 2147483647;
}

#tarteaucitron .clear {
  clear: both;
}

#tarteaucitron a {
  font-weight: 700;
}

#tarteaucitronAlertBig strong,
#tarteaucitronAlertBig a {
  color: #fff;
}

#tarteaucitron strong {
  font-size: 22px;
  font-weight: 400;
}

#tarteaucitron ul {
  padding: 0;
  margin: 0;
}

.tarteaucitronH1,
.tarteaucitronH2,
.tarteaucitronH3,
.tarteaucitronH4,
.tarteaucitronH5,
.tarteaucitronH6 {
  display: block;
}

.cookie-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/***
 * Root div added just before </body>
 */
#tarteaucitronRoot {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.tarteaucitronH2 {
  margin: 12px 0 0;
  color: #fff;
}

#tarteaucitronCookiesNumberBis.tarteaucitronH2 {
  margin-left: 0;
}

/***
 * Control panel
 */
#tarteaucitronBack {
  background: #fff;
  display: none;
  height: 100%;
  left: 0;
  opacity: .7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2147483646;
}

.tarteaucitronBorder {
  background: #fff;
  border: 2px solid #000;
  border-top: 0;
  height: auto;
  overflow: auto;
}

#tarteaucitronClosePanelCookie,
#tarteaucitronClosePanel {
  background: #000;
  border-color: #000;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  padding: 4px 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 70px;
}

#tarteaucitronDisclaimer {
  color: #555;
  margin: 15px auto 0;
  width: 80%;
}

.tarteaucitronSelfLink {
  text-align: center !important;
  padding: 13px 7px 7px !important;
  position: absolute;
  left: 0;
  right: 0;
}

#tarteaucitronServices .tarteaucitronHidden {
  display: none;
  position: relative;
}

#tarteaucitronCookiesList .tarteaucitronH3.tarteaucitronTitle {
  width: 100%;
  box-sizing: border-box;
}

#tarteaucitronServices .tarteaucitronTitle button,
#tarteaucitronServices .tarteaucitronDetails {
  color: #fff;
  font-weight: 700;
  padding: .3125rem 1.25rem;
  background: #000;
  border-color: #000;
}

.tarteaucitronMainLine .tarteaucitronName a,
#tarteaucitronServices .tarteaucitronTitle a {
  color: #fff;
  font-weight: 400;
}

.tarteaucitronMainLine .tarteaucitronName a:hover,
#tarteaucitronServices .tarteaucitronTitle a:hover {
  text-decoration: none !important;
}

.tarteaucitronMainLine .tarteaucitronName a {
  font-size: 22px;
}

#tarteaucitronServices .tarteaucitronDetails {
  color: #fff;
  display: none;
  font-weight: 400;
  max-width: 270px;
  padding: 1.25rem;
  position: absolute;
  z-index: 2147483647;
}

#tarteaucitronInfo a {
  color: #fff;
  text-decoration: underline;
}

#tarteaucitronServices .tarteaucitronLine {
  border-left: 5px solid transparent;
  overflow: hidden;
  padding: 1.25rem .625rem .625rem;
}

.tarteaucitronMainLine {
  background: #000;
  color: #fff;
  position: relative;
}

.tarteaucitronMainLine .tarteaucitronName {
  margin-left: 15px;
  margin-top: 2px;
}

.tarteaucitronMainLine .tarteaucitronAsk {
  margin-top: 0 !important;
}

#tarteaucitronServices .tarteaucitronName {
  float: left;
  width: 50%;
}

#tarteaucitronServices .tarteaucitronName a:hover {
  text-decoration: underline;
}

#tarteaucitronServices .tarteaucitronAsk {
  float: right;
}

#tarteaucitronMainLineOffset .tarteaucitronName {
  width: auto !important;
  margin-left: 0 !important;
}

/***
 * Big alert
 */
.tarteaucitronAlertBigTop {
  top: 0;
}

.tarteaucitronAlertBigBottom {
  bottom: 0;
}

#tarteaucitronAlertBig {
  background: #000;
  color: #fff;
  display: none;
  left: 0;
  position: fixed;
  text-align: center;
  box-sizing: content-box;
  z-index: 2147483645;
  padding: 10px;
  margin: auto;
  width: 100%;
}

#tarteaucitronDisclaimerAlert,
#tarteaucitronDisclaimerAlert strong {
  font-weight: 700;
  color: #fff;
}

#tarteaucitronPrivacyUrl {
  cursor: pointer;
}

#tarteaucitronPercentage {
  background: #f16e00 !important;
  height: 5px;
  left: 0;
  position: fixed;
  width: 0;
  z-index: 2147483644;
}

/***
 * Fallback activate link
 */
.tac_activate {
  background: #000;
  color: #fff;
  display: table;
  height: 100%;
  line-height: initial;
  margin: auto;
  text-align: center;
  width: 100%;
}

.tac_float {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.tac_activate .tac_float strong {
  color: #fff;
}

.tac_activate .tac_float .tarteaucitronAllow {
  background-color: #f16e00;
  display: inline-block;
}

/***
 * CSS for services
 */

#tarteaucitronInfo {
  display: block !important;
  padding: 1.25rem 0;
  margin: 0 auto 1.25rem;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: #555;
}

.tarteaucitronMainLine .tarteaucitronH2 {
  margin-top: 4px !important;
}

.tarteaucitronTitle.tarteaucitronH3 {
  margin-top: 12px !important;
}

/*# sourceMappingURL=tarteaucitronboosted.css.map */
