@mixin alert-variant($background, $border, $color) {
  color: $color;
  @include gradient-bg($background);
  border-color: $border;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($color, 10%);
  }
}

//boosted mod
@mixin define-font-size($val){
  @if ($val =="small") {
    font-size: small;
  } @else if ($val =="medium") {
    font-size: medium;
  } @else {
    font-size: large;
  }
}
//end mod
