// scss-docs-start alert-variant-mixin
@mixin alert-variant($background, $border, $color, $background-image) { // Boosted mod
  --#{$variable-prefix}alert-color: #{$color};
  --#{$variable-prefix}alert-bg: #{$background};
  --#{$variable-prefix}alert-border: #{$border};

  .alert-icon::before {
    background-image: $background-image;
  }
  // End mod

  // Boosted mod: no $enable-gradients test

  // Boosted mod: no .alert-link
}
// scss-docs-end alert-variant-mixin
