// Badges
// boosted mod
// add a txt color for accessibility purpose
@mixin badge-variant($bgcolor,$color) {
  background-color: $bgcolor;
  color: $color;

  &[href] {
    @include hover-focus {
      background-color: darken($color, 10%);
    }
  }
}
