// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
//

// scss-docs-start btn-variant-mixin
@mixin button-variant(
  $background,
  $border,
  $color, // OUDS mod
  $hover-background: $ouds-button-color-bg-default-hover, // OUDS mod
  $hover-border: $ouds-button-color-border-default-hover, // OUDS mod
  $hover-color: $ouds-button-color-content-default-hover, // OUDS mod
  $active-background: $ouds-button-color-bg-default-pressed, // OUDS mod
  $active-border: $ouds-button-color-border-default-pressed, // OUDS mod
  $active-color: $ouds-button-color-content-default-pressed, // OUDS mod
  $disabled-background: $ouds-button-color-bg-default-disabled, // OUDS mod
  $disabled-border: $ouds-button-color-border-default-disabled, // OUDS mod
  $disabled-color: $ouds-button-color-content-default-disabled, // OUDS mod
) {
  --#{$prefix}btn-color: #{$color};
  --#{$prefix}btn-bg: #{$background};
  --#{$prefix}btn-border-color: #{$border};
  --#{$prefix}btn-hover-color: #{$hover-color};
  --#{$prefix}btn-hover-bg: #{$hover-background};
  --#{$prefix}btn-hover-border-color: #{$hover-border};
  --#{$prefix}btn-focus-shadow-rgb: #{$white}; // OUDS mod
  --#{$prefix}btn-active-color: #{$active-color};
  --#{$prefix}btn-active-bg: #{$active-background};
  --#{$prefix}btn-active-border-color: #{$active-border};
  // OUDS mod: no definition of --#{$prefix}btn-active-shadow
  --#{$prefix}btn-disabled-color: #{$disabled-color};
  --#{$prefix}btn-disabled-bg: #{$disabled-background};
  --#{$prefix}btn-disabled-border-color: #{$disabled-border};
}
// scss-docs-end btn-variant-mixin

// scss-docs-start btn-outline-variant-mixin - not used by OUDS
@mixin button-outline-variant(
  $color,
  $color-hover: $btn-outline-default-hover-color,
  $active-background: $btn-outline-default-active-bg,
  $active-border: $btn-outline-default-active-border,
  $active-color: $btn-outline-default-active-color,
  $hover-background: $btn-outline-default-hover-bg,
  $hover-border: $btn-outline-default-hover-border
) {
  --#{$prefix}btn-color: #{$color};
  --#{$prefix}btn-border-color: #{$color};
  --#{$prefix}btn-hover-color: #{$color-hover};
  --#{$prefix}btn-hover-bg: #{$hover-background}; // OUDS mod: instead of using `#{$active-background}`
  --#{$prefix}btn-hover-border-color: #{$hover-border}; // OUDS mod: instead of using `#{$active-border}`
  --#{$prefix}btn-focus-shadow-rgb: #{$color};
  --#{$prefix}btn-active-color: #{$active-color};
  --#{$prefix}btn-active-bg: #{$active-background};
  --#{$prefix}btn-active-border-color: #{$active-border};
  --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
  --#{$prefix}btn-disabled-color: #{$btn-outline-default-disabled-color};
  --#{$prefix}btn-disabled-bg: #{$btn-outline-default-disabled-bg};
  --#{$prefix}btn-disabled-border-color: #{$btn-outline-default-disabled-border};
  --#{$prefix}gradient: none;
}
// scss-docs-end btn-outline-variant-mixin

// scss-docs-start btn-size-mixin - not used by OUDS
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  --#{$prefix}btn-padding-y: #{$padding-y};
  --#{$prefix}btn-padding-x: #{$padding-x};
  @include rfs($font-size, --#{$prefix}btn-font-size);
  --#{$prefix}btn-border-radius: #{$border-radius};
}
// scss-docs-end btn-size-mixin

// OUDS mod: embed an icon as mask-image in a button
// scss-docs-start btn-icon
@mixin button-icon(
  $icon,
  $width: $spacer,
  $height: $width,
  $size: $width $height,
  $pseudo: "before",
  $selector: &,
  $position: 50%
) {
  min-width: $width;
  min-height: $height;

  @at-root #{$selector} {
    &::#{$pseudo} {
      display: block;
      min-width: inherit;
      min-height: inherit;
      content: "";
      background-color: currentcolor;
      mask: #{$icon} no-repeat #{$position} / #{$size};
    }
  }
}
// scss-docs-end btn-icon

// OUDS mod: set button variant focus tokens
// scss-docs-start button-variant-focus
@mixin button-variant-focus(
  $btn-focus-bg,
  $btn-focus-border-color,
  $btn-focus-color
) {
  --#{$prefix}btn-focus-bg: #{$btn-focus-bg};
  --#{$prefix}btn-focus-border-color: #{$btn-focus-border-color};
  --#{$prefix}btn-focus-color: #{$btn-focus-color};
}
// scss-docs-end button-variant-focus
