// scss-docs-start color-mode-mixin
@mixin color-mode($mode: light, $root: false) {
  @if $color-mode-type == "media-query" {
    @if $root == true {
      @media (prefers-color-scheme: $mode) {
        #{$root-selector} {
          @content;
        }
      }
    } @else {
      @media (prefers-color-scheme: $mode) {
        @content;
      }
    }
  } @else if $root == true and $mode == light {
    #{$root-selector},
    [data-bs-theme="#{$mode}"] {
      @content;
    }
  } @else {
    [data-bs-theme="#{$mode}"],
    #{$root-selector}[data-bs-theme="#{$mode}"] {
      @content;
    }
  }
}
// scss-docs-end color-mode-mixin
