// Container mixins

@mixin make-container($gutter: $container-padding-x) {
  --#{$variable-prefix}gutter-x: #{$gutter};
  --#{$variable-prefix}gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--#{$variable-prefix}gutter-x) * .25); // stylelint-disable-line function-disallowed-list
  padding-left: calc(var(--#{$variable-prefix}gutter-x) * .25); // stylelint-disable-line function-disallowed-list
  margin-right: auto;
  margin-left: auto;

  // Boosted mod: gutter depends on breakpoint
  // @note Needs both interpolation and parenthesis to prevent stylelint-scss/dimension-no-non-numeric-values to fail
  @include media-breakpoint-up($grid-gutter-breakpoint) {
    --#{$variable-prefix}gutter-x: #{($gutter * 2)};
  }
  // End mod
}

// Boosted mod
@mixin orange-container() {
  width: 100%;
  max-width: map-get($container-max-widths, "xxl");
  padding: 0;
  margin-right: 9px;
  margin-left: 9px;

  @include media-breakpoint-up("sm") {
    margin-right: 11px;
    margin-left: 11px;
  }

  @include media-breakpoint-up("md") {
    margin-right: 22px;
    margin-left: 22px;
  }

  @include media-breakpoint-up("lg") {
    margin-right: 42px;
    margin-left: 42px;
  }

  @include media-breakpoint-up("xl") {
    margin-right: 50px;
    margin-left: 50px;
  }

  @include media-breakpoint-up("xxl") {
    padding: 0 10px;
    margin-right: auto;
    margin-left: auto;
  }
}
// End mod
