// scss-docs-start focus-visible
@mixin focus-visible($zindex: $outline-zindex, $rgb-color: $outline-color, $width: $outline-width, $offset: $outline-offset) {
  z-index: $zindex;
  outline: rgb($rgb-color) solid $width;
  outline-offset: $offset;
}
// scss-docs-end focus-visible

// scss-docs-start focus-box
@mixin focus-box($offset: $outline-offset, $box-color: $outline-box-color) {
  box-shadow: 0 0 0 $offset $box-color;
}
// scss-docs-end focus-box
