// This mixin uses an `if()` technique to be compatible with Dart Sass
// See https://github.com/sass/sass/issues/1873#issuecomment-152293725 for more details

// scss-docs-start form-validation-mixins
@mixin form-validation-state-selector($state) {
  @if ($state == "valid" or $state == "invalid") {
    .was-validated #{if(&, "&", "")}:#{$state},
    #{if(&, "&", "")}.is-#{$state} {
      @content;
    }
  } @else {
    #{if(&, "&", "")}.is-#{$state} {
      @content;
    }
  }
}

// Boosted mod: no .#{$state}-tooltip, so no need for `$tooltip-*` args
@mixin form-validation-state($state, $color, $icon) {
  // Boosted mod: valid ≠ invalid
  @if $state == "valid" {
    .#{$state}-feedback {
      display: none;
      @extend .visually-hidden; // Boosted mod: Do not visually display .valid-feedback
    }

    @if $enable-validation-icons {
      .form-control {
        @include form-validation-state-selector($state) {
          background: $icon no-repeat right map-get($spacers, 2) center / $spacer;
        }
      }
    }
  } @else {
    .#{$state}-feedback {
      display: none;
      width: 100%;
      margin-top: $form-feedback-margin-top;
      font-style: $form-feedback-font-style;
      @include font-size($form-feedback-font-size);
      font-weight: $font-weight-bold; // Boosted mod

      // Boosted mod: status should not rely on color only
      @if $enable-validation-icons {
        &::before {
          flex-shrink: 0;
          align-self: center;
          width: $form-feedback-icon-size;
          height: $form-feedback-icon-size;
          margin-right: map-get($spacers, 1);
          content: "";
          background: $form-feedback-icon-invalid no-repeat;
        }
      }
    }

    // Boosted mod: no .#{$state}-tooltip

    @include form-validation-state-selector($state) {
      ~ .#{$state}-feedback,
      ~ .#{$state}-tooltip {
        display: flex; // Boosted mod
      }
    }

    .form-control {
      @include form-validation-state-selector($state) {
        border-color: $color;

        // Boosted mod: validation icon in .*-feedback

        // Boosted mod: no box-shadow

        // Boosted mod: focus styles don't match validation state
      }
    }

    // Boosted mod: no icon in background for textarea

    .form-select {
      @include form-validation-state-selector($state) {
        border-color: $color;

        // Boosted mod: no icon in background

        // Boosted mod: no box-shadow

        // Boosted mod: focus styles don't match validation state
      }
    }

    .form-check-input {
      @include form-validation-state-selector($state) {
        border-color: $color;

        &:checked,
        &:active {
          background-color: $color;
        }

        // Boosted mod: no box-shadow

        // Boosted mod: label's color doesn't change
      }
    }
    .form-check-inline .form-check-input {
      ~ .#{$state}-feedback {
        margin-left: .5em;
      }
    }
  }
  // End mod
  .input-group .form-control,
  .input-group .form-select {
    @include form-validation-state-selector($state) {
      @if $state == "valid" {
        z-index: 1;
      } @else if $state == "invalid" {
        z-index: 2;
      }
      &:focus {
        z-index: 3;
      }
    }
  }
}
// scss-docs-end form-validation-mixins

// scss-docs-start form-star-rating-mixin
@mixin form-star-rating($color) {
  background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'><path fill='#{$color}' d='m12.5 2.9 2.379 7.35 7.721-.007-6.25 4.536 2.392 7.346-6.242-4.547-6.242 4.547 2.392-7.346-6.25-4.536 7.721.007Z'/></svg>"));
}
// scss-docs-end form-star-rating-mixin
