// List Groups

// Boosted mod: only add an icon on the right instead of changing the cackground-color
// scss-docs-start list-group-mixin
@mixin list-group-item-variant($state, $icon) {
  .list-group-item-#{$state} {
    padding-right: calc($spacer * .9 + 20px); // stylelint-disable-line function-disallowed-list
    background: no-repeat subtract(100%, 10px) / calc($spacer * .9) $icon; // stylelint-disable-line function-disallowed-list

    &:active,
    &.active {
      background: no-repeat subtract(100%, 10px) / calc($spacer * .9) $icon, var(--#{$prefix}list-group-action-active-bg); // stylelint-disable-line function-disallowed-list
    }
  }
}
// scss-docs-end list-group-mixin
// End mod
