@include deprecate("`list-group-item-variant()`", "v5.3.0", "v6.0.0");

// List Groups

// Boosted mod: only add an icon on the right instead of changing the background-color
// scss-docs-start list-group-mixin
@mixin list-group-item-variant($state, $color, $icon) {
  .list-group-item-#{$state} {
    padding-right: calc(var(--#{$prefix}list-group-item-icon-margin-x) + var(--#{$prefix}list-group-item-icon-size) * 2); // stylelint-disable-line function-disallowed-list

    &::after {
      position: absolute;
      top: add(var(--#{$prefix}list-group-item-padding-y), 1px);
      right: var(--#{$prefix}list-group-item-icon-margin-x);
      width: var(--#{$prefix}list-group-item-icon-size);
      height: var(--#{$prefix}list-group-item-icon-size);
      content: "";
      background-color: var(--#{$prefix}link-color); // Find a better var once we fully implement dark mode ?
      -webkit-mask: no-repeat $icon; // stylelint-disable-line property-no-vendor-prefix
      mask: no-repeat $icon;
    }

    &.disabled::after,
    &:disabled::after,
    &.list-group-item-action:active::after,
    &.active::after {
      background-color: currentcolor;
    }
  }
}
// scss-docs-end list-group-mixin
// End mod
