// Horizontal dividers
//
// Dividers (basically an hr) within dropdowns and nav lists

@mixin nav-divider($color: #e5e5e5) {
  height: 1px;
  // Boosted mod no margin around dropdown divider
  // margin: ($spacer-y / 2) 0;
  // end mod
  overflow: hidden;
  background-color: $color;
}
