// Pagination

@mixin pagination-size($padding-y, $padding-x, $font-size, $border-radius) {
  .page-link {
    padding: $padding-y $padding-x;
    @include font-size($font-size);
  }

  .page-item {
    @if $pagination-margin-left == (-$pagination-border-width) {
      &:first-child {
        .page-link {
          @include border-left-radius($border-radius);
        }
      }

      &:last-child {
        .page-link {
          @include border-right-radius($border-radius);
        }
      }
    } @else {
      //Add border-radius to all pageLinks in case they have left margin
      .page-link {
        @include border-radius($border-radius);
      }
    }
  }
}

// Boosted mod
// Ensure we only display `n` items:
// - the first `n/2` items
// - the last `n/2` items
// - including the .active one (so maybe not the `n/2`th last item)
@mixin pagination-max-items($pagination-max-items) {
  display: none;

  &.active,
  &:nth-child(-n+#{$pagination-max-items / 2}),
  &:nth-last-child(-n+#{$pagination-max-items / 2}) {
    display: list-item;
  }
}
