// @mixin sticker-init-size($sticker-size: $stickers-size-sm) {
//   // Set the size of the sticker
//   width: $sticker-size;
//   height: $sticker-size;
// }

// @mixin sticker-init($sticker-architecture) {
//   @include sticker-init-size();

//   // Draw the circle
//   > circle {
//     fill: $accessible-orange;
//   }

//   // Set the text's anchors in the middle
//   > text {
//     font-weight: $font-weight-bold;
//     dominant-baseline: middle;
//     text-anchor: middle;
//     @include sticker-font(1.875, 8);
//   }

//   > use {
//     // Default icon size
//     transform: translate(divide(-$stickers-icon, 2), divide(-$stickers-icon, 2));
//   }

//   // Specify the values depending on the architecture
//   @if ($sticker-architecture == "Two-lines") {
//     > text {
//       @include sticker-font(1.25, 4);
//     }
//   } @else if ($sticker-architecture == "Icon-Two-lines") {
//     > text {
//       @include sticker-font(1.25, 4);
//     }

//     > use {
//       transform: translate(divide(-$stickers-icon-sm, 2), divide(-$stickers-icon-sm, 2));
//     }
//   } @else if ($sticker-architecture == "Price") {
//     > text > tspan:last-child {
//       @include sticker-font(.875, 1);
//     }
//   } @else if ($sticker-architecture == "Old-and-new-price") {
//     > text > tspan:first-child {
//       text-decoration: line-through;
//       text-decoration-thickness: auto;
//       @include sticker-font(1.125, 2);
//     }

//     > text > tspan:last-child {
//       @include sticker-font(.875, 1);
//     }
//   } @else if ($sticker-architecture == "Bonus-min") {
//     > text > tspan:last-child,
//     > text > tspan:first-child {
//       @include sticker-font(.875, 1);
//     }
//   } @else if ($sticker-architecture == "Bonus-offer") {
//     > text > tspan:not(:nth-child(2)) {
//       @include sticker-font(.875, 1);
//     }
//   } @else if ($sticker-architecture == "Additional-min") {
//     > text > tspan:last-child {
//       @include sticker-font(.875, 1);
//     }
//   } @else if ($sticker-architecture == "Additional-offer") {
//     > text > tspan:nth-child(3),
//     > text > tspan:last-child {
//       @include sticker-font(.875, 1);
//     }
//   }
// }

// @mixin sticker-font($font-size, $letter-spacing) {
//   font-size: $font-size-base * $font-size;
//   letter-spacing: $letter-spacing-base * $letter-spacing;
// }
