@mixin sticker-init($sticker-size: "sm", $sticker-architecture: "One-line") {
  @if ($sticker-size == "sm") {
    $sticker-size: $stickers-size-sm;
  } @else if ($sticker-size == "md") {
    $sticker-size: $stickers-size-md;
  } @else { // large
    $sticker-size: $stickers-size-lg;
  }

  width: $sticker-size;
  height: $sticker-size;

  > circle {
    cx: divide($sticker-size, 2);
    cy: divide($sticker-size, 2);
    r: divide($sticker-size, 2);
    fill: $accessible-orange;
  }

  > text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-weight: $font-weight-bold;
  }

  @if ($sticker-architecture == "One-line") {
    > text {
      @if ($sticker-size == $stickers-size-sm) {
        font-size: 30px;
        letter-spacing: -.8px;
      } @else if ($sticker-size == $stickers-size-md) {
        font-size: 40px;
        letter-spacing: -1px;
      } @else {
        font-size: 60px;
        letter-spacing: -2px;
      }
    }

  } @else if ($sticker-architecture == "Icon") {
    > image {
      $icon-size: 160px;
      @if ($sticker-size == $stickers-size-sm) {
        $icon-size: 80px;
      } @else if ($sticker-size == $stickers-size-md) {
        $icon-size: 100px;
      }

      width: $icon-size;
      height: $icon-size;
      transform: translate(-.5 * $icon-size, -.5 * $icon-size);
    }

  } @else if ($sticker-architecture == "Two-lines") {
    > text {
      @if ($sticker-size == $stickers-size-sm) {
        font-size: 20px;
        letter-spacing: -.4px;
      } @else if ($sticker-size == $stickers-size-md) {
        font-size: 24px;
        letter-spacing: -.5px;
      } @else {
        font-size: 40px;
        letter-spacing: -1px;
      }
    }

  } @else if ($sticker-architecture == "Icon-Two-lines") {
    > text {
      @if ($sticker-size == $stickers-size-sm) {
        font-size: 20px;
        letter-spacing: -.4px;
      } @else if ($sticker-size == $stickers-size-md) {
        font-size: 24px;
        letter-spacing: -.5px;
      } @else {
        font-size: 40px;
        letter-spacing: -1px;
      }
    }

    > image {
      $icon-size: 60px;
      @if ($sticker-size == $stickers-size-sm) {
        $icon-size: 30px;
      } @else if ($sticker-size == $stickers-size-md) {
        $icon-size: 40px;
      }

      width: $icon-size;
      height: $icon-size;
      transform: translate(-.5 * $icon-size, -.5 * $icon-size);
    }

  } @else if ($sticker-architecture == "Price") {
    > text {
      @if ($sticker-size == $stickers-size-sm) {
        font-size: 30px;
        letter-spacing: -.8px;
      } @else if ($sticker-size == $stickers-size-md) {
        font-size: 40px;
        letter-spacing: -1px;
      } @else {
        font-size: 60px;
        letter-spacing: -2px;
      }

      > tspan:last-child {
        @if ($sticker-size == $stickers-size-sm) {
          font-size: 13px;
          letter-spacing: -.08px;
        } @else if ($sticker-size == $stickers-size-md) {
          font-size: 16px;
          letter-spacing: -.1px;
        } @else {
          font-size: 24px;
          letter-spacing: -.5px;
        }
      }
    }

  } @else if ($sticker-architecture == "Old-and-new-price") {
    > text {
      @if ($sticker-size == $stickers-size-sm) {
        font-size: 30px;
        letter-spacing: -.8px;
      } @else if ($sticker-size == $stickers-size-md) {
        font-size: 40px;
        letter-spacing: -1px;
      } @else {
        font-size: 60px;
        letter-spacing: -2px;
      }

      > tspan:first-child {
        text-decoration: line-through;
        text-decoration-thickness: auto;
        @if ($sticker-size == $stickers-size-sm) {
          font-size: 18px;
          letter-spacing: -.2px;
        } @else if ($sticker-size == $stickers-size-md) {
          font-size: 24px;
          letter-spacing: -.5px;
        } @else {
          font-size: 34px;
          letter-spacing: -1px;
        }
      }

      > tspan:last-child {
        @if ($sticker-size == $stickers-size-sm) {
          font-size: 13px;
          letter-spacing: -.08px;
        } @else if ($sticker-size == $stickers-size-md) {
          font-size: 16px;
          letter-spacing: -.1px;
        } @else {
          font-size: 24px;
          letter-spacing: -.5px;
        }
      }
    }

  } @else if ($sticker-architecture == "Bonus-min") {
    > text {
      @if ($sticker-size == $stickers-size-sm) {
        font-size: 30px;
        letter-spacing: -.8px;
      } @else if ($sticker-size == $stickers-size-md) {
        font-size: 40px;
        letter-spacing: -1px;
      } @else {
        font-size: 60px;
        letter-spacing: -2px;
      }

      > tspan:last-child,
      > tspan:first-child {
        @if ($sticker-size == $stickers-size-sm) {
          font-size: 13px;
          letter-spacing: -.08px;
        } @else if ($sticker-size == $stickers-size-md) {
          font-size: 16px;
          letter-spacing: -.1px;
        } @else {
          font-size: 24px;
          letter-spacing: -.5px;
        }
      }
    }

  } @else if ($sticker-architecture == "Bonus-offer") {
    > text {
      @if ($sticker-size == $stickers-size-sm) {
        font-size: 13px;
        letter-spacing: -.08px;
      } @else if ($sticker-size == $stickers-size-md) {
        font-size: 16px;
        letter-spacing: -.1px;
      } @else {
        font-size: 24px;
        letter-spacing: -.5px;
      }

      > tspan:nth-child(2) {
        @if ($sticker-size == $stickers-size-sm) {
          font-size: 30px;
          letter-spacing: -.8px;
        } @else if ($sticker-size == $stickers-size-md) {
          font-size: 40px;
          letter-spacing: -1px;
        } @else {
          font-size: 60px;
          letter-spacing: -2px;
        }
      }
    }

  } @else if ($sticker-architecture == "Additional-min") {
    > text {
      @if ($sticker-size == $stickers-size-sm) {
        font-size: 30px;
        letter-spacing: -.8px;
      } @else if ($sticker-size == $stickers-size-md) {
        font-size: 40px;
        letter-spacing: -1px;
      } @else {
        font-size: 60px;
        letter-spacing: -2px;
      }

      > tspan:last-child {
        @if ($sticker-size == $stickers-size-sm) {
          font-size: 13px;
          letter-spacing: -.08px;
        } @else if ($sticker-size == $stickers-size-md) {
          font-size: 16px;
          letter-spacing: -.1px;
        } @else {
          font-size: 24px;
          letter-spacing: -.5px;
        }
      }
    }

  } @else if ($sticker-architecture == "Additional-offer") {
    > text {
      @if ($sticker-size == $stickers-size-sm) {
        font-size: 30px;
        letter-spacing: -.8px;
      } @else if ($sticker-size == $stickers-size-md) {
        font-size: 40px;
        letter-spacing: -1px;
      } @else {
        font-size: 60px;
        letter-spacing: -2px;
      }

      > tspan:nth-child(3),
      > tspan:last-child {
        @if ($sticker-size == $stickers-size-sm) {
          font-size: 13px;
          letter-spacing: -.08px;
        } @else if ($sticker-size == $stickers-size-md) {
          font-size: 16px;
          letter-spacing: -.1px;
        } @else {
          font-size: 24px;
          letter-spacing: -.5px;
        }
      }
    }

  }
}
