<h2 id="bulletpoint">Bullet point<a class="doc-link d-inline-flex align-items-center ml-2" href="../content/typography/#orange-list-with-bullet-points" title="go to bullet point documentation page"></a></h2>
<div class="container-fluid">
  <div class="row">
    <ul class="o-square-list">
      <li>
        <span>first</span>
        <ul>
          <li>
            <span>1.1</span>
            <ul>
              <li><span>1.1.1</span></li>
              <li><span>1.1.2</span></li>
            </ul>
          </li>
          <li>
            <span>1.2</span>
          </li>
        </ul>
      </li>
      <li>
        <span>second</span>
      </li>
      <li>
        <span>third</span>
      </li>
      <li>
        <span>fourth</span>
      </li>
    </ul>
  </div>
</div><!-- /.container-fluid -->
