<!-- Buttons
================================================== -->

<h2 id="buttons">Buttons<a class="doc-link d-inline-flex align-items-center ml-2" href="../components/buttons/" title="go to buttons documentation page"></a></h2>
<div id="buttons-default" class="pl-3">
    <h3 class="mt-5">Default</h3>
    <p>
        <button type="button" class="btn btn-secondary mr-2">Submit</button>
        <button type="button" class="btn btn-info mr-2">Submit</button>
        <button type="button" class="btn btn-primary mr-2">Buy now</button>
        <button type="button" class="btn btn-success mr-2">Save</button>
        <button type="button" class="btn btn-danger mr-2">Delete</button>
    </p>

    <h3 class="mt-5">Hover</h3>
    <p>
        <button type="button" class="btn btn-info mr-2" style="pointer-events: none;">Submit</button>
        <button type="button" class="btn btn-secondary mr-2" style="pointer-events: none;">Submit</button>
        <button type="button" class="btn btn-info mr-2" style="pointer-events: none;">Buy now</button>
        <button type="button" class="btn btn-info mr-2" style="pointer-events: none;">Save</button>
        <button type="button" class="btn btn-info mr-2" style="pointer-events: none;">Delete</button>
    </p>

    <h3 class="mt-5">Pressed</h3>
    <p>
        <button type="button" class="btn btn-secondary mr-2 active">Submit</button>
        <button type="button" class="btn btn-info mr-2 active">Submit</button>
        <button type="button" class="btn btn-primary mr-2 active">Buy now</button>
        <button type="button" class="btn btn-success mr-2 active">Save</button>
        <button type="button" class="btn btn-danger mr-2 active">Delete</button>
    </p>

    <h3 class="mt-5">Disabled</h3>
    <p>
        <button type="button" class="btn btn-secondary mr-2" disabled>Submit</button>
        <button type="button" class="btn btn-info mr-2" disabled>Submit</button>
        <button type="button" class="btn btn-primary mr-2" disabled>Buy now</button>
        <button type="button" class="btn btn-success mr-2" disabled>Save</button>
        <button type="button" class="btn btn-danger mr-2" disabled>Delete</button>
    </p>
</div>

<div id="buttons-inverse" class="p-3 bg-dark text-white">
  <h3 id="default-black-bg">Default</h3>
  <p>
      <button type="button" class="btn btn-inverse btn-secondary mr-2">Submit</button>
      <button type="button" class="btn btn-inverse btn-info mr-2">Submit</button>
      <button type="button" class="btn btn-inverse btn-primary mr-2">Buy now</button>
      <button type="button" class="btn btn-inverse btn-success mr-2">Save</button>
      <button type="button" class="btn btn-inverse btn-danger mr-2">Delete</button>
  </p>

  <h3 id="hover-black-bg">Hover</h3>
  <p>
      <button type="button" class="btn btn-inverse btn-info mr-2" style="pointer-events: none;">Submit</button>
      <button type="button" class="btn btn-inverse btn-secondary mr-2" style="pointer-events: none;">Submit</button>
      <button type="button" class="btn btn-inverse btn-secondary mr-2" style="pointer-events: none;">Buy now</button>
      <button type="button" class="btn btn-inverse btn-secondary mr-2" style="pointer-events: none;">Save</button>
      <button type="button" class="btn btn-inverse btn-secondary mr-2" style="pointer-events: none;">Delete</button>
  </p>

  <h3 id="pressed-black-bg">Pressed</h3>
  <p>
      <button type="button" class="btn btn-inverse btn-secondary mr-2 active">Submit</button>
      <button type="button" class="btn btn-inverse btn-info mr-2 active">Submit</button>
      <button type="button" class="btn btn-inverse btn-primary mr-2 active">Buy now</button>
      <button type="button" class="btn btn-inverse btn-success mr-2 active">Save</button>
      <button type="button" class="btn btn-inverse btn-danger mr-2 active">Delete</button>
  </p>

  <h3 id="disabled-black-bg">Disabled</h3>
  <p>
      <button type="button" class="btn btn-inverse btn-secondary mr-2" disabled>Submit</button>
      <button type="button" class="btn btn-inverse btn-info mr-2" disabled>Submit</button>
      <button type="button" class="btn btn-inverse btn-primary mr-2" disabled>Buy now</button>
      <button type="button" class="btn btn-inverse btn-success mr-2" disabled>Save</button>
      <button type="button" class="btn btn-inverse btn-danger mr-2" disabled>Delete</button>
  </p>
</div>

<div class="mt-3">
    <h3 class="mt-5">Social buttons</h3>
    <p class="p-3">
      <a class="btn btn-social btn-twitter" href="#"><span class="sr-only">Twitter</span></a>
      <a class="btn btn-social btn-facebook" href="#"><span class="sr-only">Facebook</span></a>
      <a class="btn btn-social btn-instagram" href="#"><span class="sr-only">Instagram</span></a>
      <a class="btn btn-social btn-whatsapp" href="#"><span class="sr-only">Whatsapp</span></a>
      <a class="btn btn-social btn-linkedin" href="#"><span class="sr-only">Linkedin</span></a>
      <a class="btn btn-social btn-youtube" href="#"><span class="sr-only">YouTube</span></a>
      <a class="btn btn-social btn-snapchat" href="#"><span class="sr-only">Snapchat</span></a>
      <a class="btn btn-social btn-pinterest" href="#"><span class="sr-only">Pinterest</span></a>
      <a class="btn btn-social btn-mail" href="#"><span class="sr-only">Mail</span></a>
    </p>
    <div>
        <h3 class="mt-5">Dark Background</h3>
        <p class="bg-dark p-3">
          <a class="btn btn-social btn-twitter btn-inverse" href="#"><span class="sr-only">Twitter</span></a>
          <a class="btn btn-social btn-facebook btn-inverse" href="#"><span class="sr-only">Facebook</span></a>
          <a class="btn btn-social btn-instagram btn-inverse" href="#"><span class="sr-only">Instagram</span></a>
          <a class="btn btn-social btn-whatsapp btn-inverse" href="#"><span class="sr-only">Whatsapp</span></a>
          <a class="btn btn-social btn-linkedin btn-inverse" href="#"><span class="sr-only">Linkedin</span></a>
          <a class="btn btn-social btn-youtube btn-inverse" href="#"><span class="sr-only">YouTube</span></a>
          <a class="btn btn-social btn-snapchat btn-inverse" href="#"><span class="sr-only">Snapchat</span></a>
          <a class="btn btn-social btn-pinterest btn-inverse" href="#"><span class="sr-only">Pinterest</span></a>
          <a class="btn btn-social btn-mail btn-inverse" href="#"><span class="sr-only">Mail</span></a>
        </p>
    </div>
</div>

<h3 class="mt-5">Dropdowns</h3>

<div class="dropdown">
  <button id="dropdown-example" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Primary
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdown-example">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<h3 class="mt-5">Sizes</h3>
<p>
    <button type="button" class="btn btn-secondary btn-lg">Large button</button>
    <button type="button" class="btn btn-secondary">Default button</button>
    <button type="button" class="btn btn-secondary btn-sm">Small button</button>
</p>


<button type="button" class="btn btn-secondary btn-lg btn-block my-3">Block level button</button>


<div class="btn-group btn-group-justified mb-2">
    <a href="#" class="btn btn-secondary">Left</a>
    <a href="#" class="btn btn-secondary">Middle</a>
    <a href="#" class="btn btn-secondary">Right</a>
</div>

<div class="btn-toolbar flex-wrap mb-2">
    <div class="btn-group mr-2">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">4</button>
    </div>

    <div class="btn-group mr-2">
        <button type="button" class="btn btn-secondary">5</button>
        <button type="button" class="btn btn-secondary">6</button>
        <button type="button" class="btn btn-secondary">7</button>
    </div>

    <div class="btn-group mr-2">
        <button type="button" class="btn btn-secondary">8</button>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Dropdown
          </button>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Dropdown link</a></li>
              <li><a class="dropdown-item" href="#">Dropdown link</a></li>
              <li><a class="dropdown-item" href="#">Dropdown link</a></li>
          </ul>
        </div>
    </div>
</div>


<div class="btn-group-vertical">
    <button type="button" class="btn btn-secondary">Button</button>
    <button type="button" class="btn btn-secondary">Button</button>
    <button type="button" class="btn btn-secondary">Button</button>
    <button type="button" class="btn btn-secondary">Button</button>
</div>
