<!-- Buttons
================================================== -->

<h2 id="buttons">Buttons<a class="doc-link" href="../components/buttons/" title="go to buttons documentation page"></a></h2>
<div id="buttons-default">
    <h3>Default</h3>
    <p>
        <button type="button" class="btn btn-secondary">Submit</button>
        <button type="button" class="btn btn-info">Submit</button>
        <button type="button" class="btn btn-primary">Buy now</button>
        <button type="button" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-danger">Delete</button>
    </p>

    <h3>Hover</h3>
    <p>
        <button type="button" class="btn btn-info" style="pointer-events: none;">Submit</button>
        <button type="button" class="btn btn-secondary" style="pointer-events: none;">Submit</button>
        <button type="button" class="btn btn-info" style="pointer-events: none;">Buy now</button>
        <button type="button" class="btn btn-info" style="pointer-events: none;">Save</button>
        <button type="button" class="btn btn-info" style="pointer-events: none;">Delete</button>
    </p>

    <h3>Pressed</h3>
    <p>
        <button type="button" class="btn btn-secondary active">Submit</button>
        <button type="button" class="btn btn-info active">Submit</button>
        <button type="button" class="btn btn-primary active">Buy now</button>
        <button type="button" class="btn btn-success active">Save</button>
        <button type="button" class="btn btn-danger active">Delete</button>
    </p>

    <h3>Disabled</h3>
    <p>
        <button type="button" class="btn btn-secondary" disabled>Submit</button>
        <button type="button" class="btn btn-info" disabled>Submit</button>
        <button type="button" class="btn btn-primary" disabled>Buy now</button>
        <button type="button" class="btn btn-success" disabled>Save</button>
        <button type="button" class="btn btn-danger" disabled>Delete</button>
    </p>
</div>

<div id="buttons-inverse">
  <h3 id="default-black-bg">Default</h3>
  <p>
      <button type="button" class="btn btn-inverse btn-secondary">Submit</button>
      <button type="button" class="btn btn-inverse btn-info">Submit</button>
      <button type="button" class="btn btn-inverse btn-primary">Buy now</button>
      <button type="button" class="btn btn-inverse btn-success">Save</button>
      <button type="button" class="btn btn-inverse btn-danger">Delete</button>
  </p>

  <h3 id="hover-black-bg">Hover</h3>
  <p>
      <button type="button" class="btn btn-inverse btn-info" style="pointer-events: none;">Submit</button>
      <button type="button" class="btn btn-inverse btn-secondary" style="pointer-events: none;">Submit</button>
      <button type="button" class="btn btn-inverse btn-secondary" style="pointer-events: none;">Buy now</button>
      <button type="button" class="btn btn-inverse btn-secondary" style="pointer-events: none;">Save</button>
      <button type="button" class="btn btn-inverse btn-secondary" style="pointer-events: none;">Delete</button>
  </p>

  <h3 id="pressed-black-bg">Pressed</h3>
  <p>
      <button type="button" class="btn btn-inverse btn-secondary active">Submit</button>
      <button type="button" class="btn btn-inverse btn-info active">Submit</button>
      <button type="button" class="btn btn-inverse btn-primary active">Buy now</button>
      <button type="button" class="btn btn-inverse btn-success active">Save</button>
      <button type="button" class="btn btn-inverse btn-danger active">Delete</button>
  </p>

  <h3 id="disabled-black-bg">Disabled</h3>
  <p>
      <button type="button" class="btn btn-inverse btn-secondary" disabled>Submit</button>
      <button type="button" class="btn btn-inverse btn-info" disabled>Submit</button>
      <button type="button" class="btn btn-inverse btn-primary" disabled>Buy now</button>
      <button type="button" class="btn btn-inverse btn-success" disabled>Save</button>
      <button type="button" class="btn btn-inverse btn-danger" disabled>Delete</button>
  </p>
</div>

<div>
    <h3>Social buttons</h3>
    <p>
        <a class="btn btn-fbk btn-social" href="#" aria-label="Facebook"></a> 
        <a class="btn btn-tw btn-social" href="#" aria-label="Twitter"></a> 
        <a class="btn btn-gplus btn-social" href="#" aria-label="Google Plus"></a>
        <a class="btn btn-lin btn-social" href="#" aria-label="Linkedin"></a>  
        <a class="btn btn-mail btn-social" href="#" aria-label="Mail"></a> 
    </p>
    <div>
        <h3>Dark Background</h3>
        <p class="bg-dark">
            <a class="btn btn-fbk-inverse btn-social" href="#" aria-label="Facebook"></a> 
            <a class="btn btn-tw-inverse btn-social" href="#" aria-label="Twitter"></a> 
            <a class="btn btn-gplus-inverse btn-social" href="#" aria-label="Google Plus"></a>
            <a class="btn btn-lin-inverse btn-social" href="#" aria-label="Linkedin"></a>  
            <a class="btn btn-mail-inverse btn-social" href="#" aria-label="Mail"></a> 
        </p>
    </div>
</div>

<h3>Dropdowns</h3>
<div class="btn-toolbar flex-wrap">
    <div class="btn-group mr-2">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Primary
            <span class="sr-only">menu primary</span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>

    <div class="btn-group mr-2">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Secondary
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>

    <div class="btn-group mr-2">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Success
            <span class="sr-only">menu success</span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>

    <div class="btn-group mr-2">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Info
            <span class="sr-only">menu info</span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>

    <div class="btn-group mr-2">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Warning
            <span class="sr-only">menu warning</span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>
</div>

<h3>Sizes</h3>
<p>
    <button type="button" class="btn btn-secondary btn-xlg">Extra Large button</button>
    <button type="button" class="btn btn-secondary btn-lg">Large button</button>
    <button type="button" class="btn btn-secondary">Default button</button>
    <button type="button" class="btn btn-secondary btn-sm">Small button</button>
</p>

<p>
    <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
</p>



<div class="btn-group btn-group-justified mb-2">
    <a href="#" class="btn btn-secondary">Left</a>
    <a href="#" class="btn btn-secondary">Middle</a>
    <a href="#" class="btn btn-secondary">Right</a>
</div>

<div class="btn-toolbar flex-wrap mb-2">
    <div class="btn-group mr-2">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">4</button>
    </div>

    <div class="btn-group mr-2">
        <button type="button" class="btn btn-secondary">5</button>
        <button type="button" class="btn btn-secondary">6</button>
        <button type="button" class="btn btn-secondary">7</button>
    </div>

    <div class="btn-group mr-2">
        <button type="button" class="btn btn-secondary">8</button>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Dropdown
          </button>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Dropdown link</a></li>
              <li><a class="dropdown-item" href="#">Dropdown link</a></li>
              <li><a class="dropdown-item" href="#">Dropdown link</a></li>
          </ul>
        </div>
    </div>
</div>


<div class="btn-group-vertical">
    <button type="button" class="btn btn-secondary">Button</button>
    <button type="button" class="btn btn-secondary">Button</button>
    <button type="button" class="btn btn-secondary">Button</button>
    <button type="button" class="btn btn-secondary">Button</button>
</div>
