<!-- Containers
================================================== -->
<h2 id="container">Containers</h2>
<h3 class="d-flex mt-5">Cards<a class="doc-link d-inline-flex align-items-center ml-2" href="../components/card/" title="go to card documentation page"></a></h3>
<div class="container">
  <div class="row">
      <div class="col-md-4">
          <div class="o-card card">
              {% include icons/placeholder.svg width="100%" height="180" class="card-img-top" text="" %}
              <div class="card-body ">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Button</a>
              </div>
          </div>
      </div>
  </div>
</div>

<h3 class="mt-5">Card links</h3>
<div class="card-deck" id="cards-example">
  <div class="card">
    <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bill.svg" alt="" width="150" height="150" class="w-100" style="background:#50beb7" loading="lazy">
    <div class="card-body">
      <h4 class="card-title m-0">
        <a href="#" class="stretched-link">Bills</a>
      </h4>
    </div>
  </div>
  <div class="card">
    <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/shop.svg" alt="" width="150" height="150" class="w-100" style="background:#4bb4e6" loading="lazy">
    <div class="card-body">
      <h4 class="card-title m-0">
        <a href="#" class="stretched-link">Orders</a>
      </h4>
    </div>
  </div>
  <div class="card">
    <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/timer.svg" alt="" width="150" height="150" class="w-100" style="background:#ffb4e6" loading="lazy">
    <div class="card-body">
      <h4 class="card-title m-0">
        <a href="#" class="stretched-link">Consumption</a>
      </h4>
    </div>
  </div>
  <div class="card">
    <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/unlock.svg" alt="" width="150" height="150" class="w-100" style="background:#ffd200" loading="lazy">
    <div class="card-body">
      <h4 class="card-title m-0">
        <a href="#" class="stretched-link">Unlocking</a>
      </h4>
    </div>
  </div>
</div>
