<!-- Containers
================================================== -->
<h2 id="container">Containers</h2>
<h3 class="d-flex mt-5">Cards<a class="doc-link d-inline-flex align-items-center ml-2" href="../components/card/" title="go to card documentation page"></a></h3>
<div class="container">
  <div class="row">
      <div class="col-md-4">
          <div class="o-card card">
              {% include icons/placeholder.svg width="100%" height="180" class="card-img-top" text="" %}
              <div class="card-body ">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Button</a>
              </div>
          </div>
      </div>
  </div>
</div>

<h3 class="mt-5">Card links</h3>
<div class="card-deck" id="cards-example">
    <a href="#" class="card o-card-link" id="bill">
        <div class="card-img p-3">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bill.png" alt="" class="w-50">
        </div>
        <div class="card-body">
            <h4 class="card-title" lang="fr">Gérer vos factures</h4>
        </div>
    </a>
    <a href="#" class="card o-card-link" id="shop">
        <div class="card-img p-3">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/shop.png" alt="" class="w-50">
        </div>
        <div class="card-body">
            <h4 class="card-title" lang="fr">Suivre votre commande</h4>
        </div>
    </a>
    <a href="#" class="card o-card-link" id="timer">
        <div class="card-img p-3">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/timer.png" alt="" class="w-50">
        </div>
        <div class="card-body">
            <h4 class="card-title" lang="fr">Accéder à votre suivi conso</h4>
        </div>
    </a>
    <a href="#" class="card o-card-link" id="unlock">
        <div class="card-img p-3">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/unlock.png" alt="" class="w-50">
        </div>
        <div class="card-body">
            <h4 class="card-title" lang="fr">Désimlocker votre mobile</h4>
        </div>
    </a>
</div>
