<!-- Dialogs
================================================== -->
<h2 id="dialogs">Dialogs</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-2">
    <h3 class="d-flex mt-5">Popovers<a class="doc-link d-inline-flex align-items-center ml-2" href="../components/popovers/" title="go to popovers documentation page"></a></h3>
    <div>
        <button title="" data-original-title="" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Left</button>

        <button title="" data-original-title="" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Top</button>

        <button title="" data-original-title="" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Bottom</button>

        <button title="" data-original-title="" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Right</button>
    </div>
    <h3 class="d-flex mt-5">Tooltips<a class="doc-link d-inline-flex align-items-center ml-2" href="../components/tooltips/" title="go to tooltips documentation page"></a></h3>
    <div>
        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Left</button>

        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Top</button>

        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Bottom</button>

        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Right</button>
    </div>
    </div>
  </div>
</div>

<div id="source-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
              <!-- Boosted mod -->
              <button type="button" class="close" data-dismiss="modal">
                <span class="sr-only">Close modal demo</span>
              </button>
              <!-- end mod -->
                <h4 class="modal-title">Source Code</h4>
            </div>
            <div class="modal-body">
                <pre></pre>
            </div>
        </div>
    </div>
</div>
