<!-- Forms
================================================== -->
<h2 id="forms">Forms<a class="doc-link" href="../components/forms/" title="go to form documentation page"></a></h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
        <form class="form-horizontal container-fluid">
            <fieldset class="col-12">
              <legend>Legend</legend>
              <div class="form-group row">
                  <label for="inputEmail" class="col-lg-3 col-form-label">Email</label>
                  <div class="col-lg-9">
                      <input class="form-control" id="inputEmail" placeholder="Email" type="text">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="inputPassword" class="col-lg-3 col-form-label">Password</label>
                  <div class="col-lg-9">
                      <input class="form-control mb-3" id="inputPassword" placeholder="Password" type="password">
                      <div>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-label">Orange checkbox unchecked</span>
                        </label>
                      </div>
                      <div>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" disabled>
                            <span class="custom-control-label">Orange checkbox unchecked disabled</span>
                        </label>
                      </div>
                      <div>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked>
                            <span class="custom-control-label">Orange checkbox checked</span>
                        </label>
                      </div>
                      <div>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked disabled>
                            <span class="custom-control-label">Orange checkbox checked disabled</span>
                        </label>
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="textArea" class="col-lg-3 col-form-label">Textarea</label>
                  <div class="col-lg-9">
                      <textarea class="form-control" rows="3" id="textArea"></textarea>
                      <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-lg-3 col-form-label">Orange Radios</div>
                  <div class="col-lg-9">
                      <div>
                        <label class="custom-control custom-radio">
                            <input id="radio1" name="radio" type="radio" class="custom-control-input" checked>
                            <span class="custom-control-label">Toggle this custom radio</span>
                        </label>
                      </div>
                      <div>
                        <label class="custom-control custom-radio">
                            <input id="radio2" name="radio" type="radio" class="custom-control-input">
                            <span class="custom-control-label">Or toggle this other custom radio</span>
                        </label>
                      </div>
                      <div>
                        <label class="custom-control custom-radio">
                            <input id="radio3" name="radio-disabled" type="radio" class="custom-control-input" checked disabled>
                            <span class="custom-control-label">Orange radio checked disabled</span>
                        </label>
                      </div>
                      <div>
                        <label class="custom-control custom-radio">
                            <input id="radio4" name="radio-disabled" type="radio" class="custom-control-input" disabled>
                            <span class="custom-control-label">Orange radio unchecked disabled</span>
                        </label>
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="select" class="col-lg-3 col-form-label">Selects</label>
                  <div class="col-lg-9">
                      <select class="form-control" id="select">
                      <option selected="selected">1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      </select>
                      <br>
                      <select multiple="multiple" class="form-control" title="Multiselect sample">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      </select>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="ml-lg-auto">
                      <button class="btn btn-secondary">Cancel</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </div>
          </fieldset>
      </form>
  </div>
  <div class="col-lg-4 ml-lg-auto">
      <form>
          <div class="form-group">
              <label class="col-form-label" for="focusedInput">Focused input</label>
              <input class="form-control" id="focusedInput" value="This is focused..." type="text">
          </div>

          <div class="form-group">
              <label class="col-form-label" for="disabledInput">Disabled input</label>
              <input class="form-control" id="disabledInput" placeholder="Disabled input here..." disabled="disabled" type="text">
          </div>

          <div class="form-group has-warning">
              <label class="col-form-label" for="inputWarning">Input warning</label>
              <input class="form-control" id="inputWarning" type="text">
          </div>

          <div class="form-group has-danger">
              <label class="col-form-label" for="inputError1">Input error</label>
              <input class="form-control" id="inputError1" type="text">
              <div class="form-control-feedback">This is an error message</div>
          </div>

          <div class="form-group has-success">
              <label class="col-form-label" for="inputSuccess">Input success</label>
              <input class="form-control" id="inputSuccess" type="text">
          </div>

          <div class="form-group">
              <label class="col-form-label" for="inputLarge">Large input</label>
              <input class="form-control form-control-lg" id="inputLarge" type="text">
          </div>

          <div class="form-group">
              <label class="col-form-label" for="inputDefault">Default input</label>
              <input class="form-control" id="inputDefault" type="text">
              <span class="form-control-message">This is a hint message</span>
          </div>

          <div class="form-group">
              <label class="col-form-label" for="inputSmall">Small input</label>
              <input class="form-control form-control-sm" id="inputSmall" type="text">
          </div>

          <div class="form-group">
              <label class="col-form-label" for="inlineFormInputGroup">Input addons</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
              <input class="form-control" type="text" title="Input addons field" id="inlineFormInputGroup">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button">Button</button>
              </div>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>

<form>
  <div class="form-group has-danger">
    <label for="exampleInputUser1">User name</label>
    <input type="text" class="form-control form-control-danger" id="exampleInputUser1" >
    <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
  </div>
  <div class="form-group has-danger top">
    <label for="exampleInputUser2">User name</label>
    <input type="text" class="form-control form-control-danger" id="exampleInputUser2" >
    <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
  </div>
  <div class="form-group has-danger right">
    <label for="exampleInputUser3">User name</label>
    <input type="text" class="form-control form-control-danger" id="exampleInputUser3" style="width: 40%;">
    <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
  </div>
</form>

<form class="container-fluid">
    <div class="form-group row has-danger">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <input type="email" class="form-control col-sm-10" id="inputEmail3" placeholder="Email">
        <div class="col-sm-10 ml-md-auto form-control-feedback">Shucks, check the formatting of that and try again.</div>
    </div>
    <div class="form-group row has-danger top">
        <label for="inputEmail4" class="col-sm-2 col-form-label">Email</label>
        <input type="email" class="form-control col-sm-10" id="inputEmail4" placeholder="Email">
        <div class="col-sm-2"></div><div class="col-sm-10 form-control-feedback">Shucks, check the formatting of that and try again.</div>
    </div>
    <div class="form-group row has-danger right">
      <label for="inputEmail5" class="col-sm-2 col-form-label">Email</label>
      <input type="email" class="form-control col-sm-4" id="inputEmail5" placeholder="Email">
      <div class="col-sm-4 form-control-feedback">Shucks, check the formatting of that and try again.</div>
    </div>
</form>
