<!-- Indicators
================================================== -->
<h2 id="indicators">Indicators<a class="doc-link d-inline-flex align-items-center ml-2" href="../components/alerts/" title="go to alerts documentation page"></a></h2>
<div class="container">
    <h3 class="d-flex mt-5">Alerts <a class="doc-link d-inline-flex align-items-center ml-2" href="../components/alerts/" title="go to Alerts documentation page"></a></h3>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="alert-icon"><span class="sr-only">Success</span></span>
        <p>Your changes have been saved.</p>
        <button type="button" class="close" data-dismiss="alert">
          <span class="sr-only">Close confirmation message</span>
        </button>
    </div>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <span class="alert-icon"><span class="sr-only">Info</span></span>
        <p>Your changes have been saved.</p>
        <button type="button" class="close" data-dismiss="alert">
          <span class="sr-only">Close information message</span>
        </button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <span class="alert-icon"><span class="sr-only">Warning</span></span>
        <p>Your changes have been saved.</p>
        <button type="button" class="close" data-dismiss="alert">
          <span class="sr-only">Close warning message</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="alert-icon"><span class="sr-only">Danger</span></span>
        <div>
          <p>Your changes have been saved.</p>
          <p>You may now log-in with the username you have chosen.</p>
        </div>
        <button type="button" class="close" data-dismiss="alert">
          <span class="sr-only">Close alert message</span>
        </button>
    </div>
    <div class="alert alert-sm alert-success" role="alert">
      <span class="alert-icon"><span class="sr-only">Success</span></span>
      <p>Your changes have been saved.</p>
    </div>
</div>
<div class="bg-dark p-3 mb-5">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <span class="alert-icon"><span class="sr-only">Success</span></span>
      <p>Your changes have been saved.</p>
      <button type="button" class="close" data-dismiss="alert">
        <span class="sr-only">Close confirmation message</span>
      </button>
    </div>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <span class="alert-icon"><span class="sr-only">Info</span></span>
      <p>Your changes have been saved.</p>
      <button type="button" class="close" data-dismiss="alert">
        <span class="sr-only">Close information message</span>
      </button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <span class="alert-icon"><span class="sr-only">Warning</span></span>
      <p>Your changes have been saved.</p>
      <button type="button" class="close" data-dismiss="alert">
        <span class="sr-only">Close warning message</span>
      </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <span class="alert-icon"><span class="sr-only">Danger</span></span>
      <div>
        <p>Your changes have been saved.</p>
        <p>You may now log-in with the username you have chosen.</p>
      </div>
      <button type="button" class="close" data-dismiss="alert">
        <span class="sr-only">Close alert message</span>
      </button>
    </div>
    <div class="alert alert-sm alert-success" role="alert">
      <span class="alert-icon"><span class="sr-only">Success</span></span>
      <p>Your changes have been saved.</p>
    </div>
</div>

<div class="container">
  <h3 class="d-flex mt-5">Badge<a class="doc-link d-inline-flex align-items-center ml-2" href="../components/badge/" title="go to badge documentation page"></a></h3>
  <div class="mb-5">
      <span class="badge badge-primary">Primary</span>
      <span class="badge badge-secondary">Secondary</span>
      <span class="badge badge-success">Success</span>
      <span class="badge badge-danger">Danger</span>
      <span class="badge badge-warning">Warning</span>
      <span class="badge badge-info">Info</span>
      <span class="badge badge-light">Light</span>
      <span class="badge badge-dark">Dark</span>
  </div>
</div>
