<h2 id="link">Links<a class="doc-link d-inline-flex align-items-center ml-2" href="../content/typography/#links" title="go to typography documentation page"></a></h2>
<a href="#">This is a sample default link</a>
<h2 id="underlined-link">Link underline</h2>
<p>Some text in a paragraph, and so <a href="#">the link are underline</a></p>
<h2 id="o-link-arrow">Link with arrow</h2>
<a href="#" class="o-link-arrow">This is a sample link with arrow</a>
<h2 id="o-link-arrow-back">Link with arrow back</h2>
<a href="#" class="o-link-arrow back">This is a sample link with arrow for backward</a>
