<h2 id="navbar">Navbar<a class="doc-link" href="../components/navbar/" title="go to navbar documentation page"></a></h2>
<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/dist/img/ORANGE_LOGO_rgb.jpg" alt="Back to homepage" title="Back to homepage"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsing-navbar" aria-controls="collapsing-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse justify-content-between collapse" id="collapsing-navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#" aria-current="page">Active <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="dropdownMenu3">Dropdown</a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
            <a href="#" role="menuitem" class="dropdown-item">Action</a>
            <a href="#" role="menuitem" class="dropdown-item">Another action</a>
            <a href="#" role="menuitem" class="dropdown-item">Something else here</a>
            <div class="dropdown-divider"></div>
            <a href="#" role="menuitem" class="dropdown-item">Separated link</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="dropdownMenu4">Dropdown</a>
          <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu4">
            <a href="#" role="menuitem" class="dropdown-item">Action</a>
            <a href="#" role="menuitem" class="dropdown-item">Another action</a>
            <a href="#" role="menuitem" class="dropdown-item">Something else here</a>
            <div class="dropdown-divider"></div>
            <a href="#" role="menuitem" class="dropdown-item">Separated link</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h3>without logo</h3>
<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="#"><span>Navbar brand</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsing-navbar2" aria-controls="collapsing-navbar2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse justify-content-between collapse" id="collapsing-navbar2">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#" aria-current="page">Active <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="dropdownMenu5">Dropdown</a>
          <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu5">
            <a href="#" role="menuitem" class="dropdown-item">Action</a>
            <a href="#" role="menuitem" class="dropdown-item">Another action</a>
            <a href="#" role="menuitem" class="dropdown-item">Something else here</a>
            <div class="dropdown-divider"></div>
            <a href="#" role="menuitem" class="dropdown-item">Separated link</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="dropdownMenu6">Dropdown</a>
          <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu6">
            <a href="#" role="menuitem" class="dropdown-item">Action</a>
            <a href="#" role="menuitem" class="dropdown-item">Another action</a>
            <a href="#" role="menuitem" class="dropdown-item">Something else here</a>
            <div class="dropdown-divider"></div>
            <a href="#" role="menuitem" class="dropdown-item">Separated link</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h3>Supra bar With Icons authenticated</h3>
<nav class="navbar navbar-dark bg-dark navbar-expand-md supra">
  <div class="container">
      <ul class="navbar-nav">
          <li class="nav-item active"><a href="#" class="nav-link" aria-current="page">Personal</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Business</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Follow us</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
                  <a href="#" class="nav-link icon svg-buy">
                  <span class="sr-only">basket</span>
                  <sup class="badge badge-info rounded-pill px-1 border border-bottom-0 border-info">5</sup>
              </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link icon svg-avatar">
                <span class="sr-only">my account</span>
            </a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EN</a>
              <ul class="dropdown-menu" role="menu">
                  <li><a class="dropdown-item" href="#">FR</a></li>
                  <li><a class="dropdown-item" href="#">SP</a></li>
              </ul>
          </li>
      </ul>
  </div>
</nav>
<h3>Global header with additional icons authenticated</h3>
<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="/docs/4.3/dist/img/orange_logo.svg" alt="Back to homepage" title="Back to homepage"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsing-navbar3" aria-controls="collapsing-navbar3" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse justify-content-between collapse" id="collapsing-navbar3">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">Discover</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Shop</a></li>
                <li class="nav-item"><a href="#" class="nav-link">My Orange</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Help</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="nav-link icon svg-search">
                        <span class="sr-only">open search bar</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link icon svg-mail">
                        <span class="sr-only">open basket</span>
                        <sup class="badge badge-info rounded-pill px-1 border border-bottom-0 border-info">25</sup>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link icon svg-buy">
                      <span class="sr-only">basket</span>
                      <sup class="badge badge-info rounded-pill px-1 border border-bottom-0 border-info">5</sup>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link icon svg-person">
                      <span class="sr-only">my account</span>
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h3>Global header with navigation and search box</h3>
<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="/docs/4.3/dist/img/orange_logo.svg" alt="Back to homepage" title="Back to homepage"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsing-navbar4" aria-controls="collapsing-navbar4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse justify-content-between collapse" id="collapsing-navbar4">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">Discover</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Shop</a></li>
                <li class="nav-item"><a href="#" class="nav-link">My Orange</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Help</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username">
                        <div class="input-group-append">
                            <a href="#" class="nav-link icon svg-search">
                                <span class="sr-only">search bar</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h3>Global header with title, navigation below and icons</h3>
<header role="banner" id="demo-navbar">
  <nav class="navbar navbar-dark bg-dark navbar-expand-md">
      <div class="container">
          <a class="navbar-brand" href="#"><img src="/docs/4.3/dist/img/orange_logo.svg" alt="Back to homepage" title="Back to homepage"/></a>
          <a href="#" class="navbar-title">Design</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsing-navbar5" aria-controls="collapsing-navbar5" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse justify-content-between collapse" id="collapsing-navbar5">
              <ul class="navbar-nav"></ul>
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a href="#" class="nav-link icon svg-search">
                          <span class="sr-only">open search bar</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link icon svg-avatar">
                          <span class="sr-only">open basket</span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <nav class="navbar navbar-dark bg-dark navbar-expand-md below">
      <div class="container">
          <ul class="navbar-nav">
              <li class="nav-item"><a href="#" >Guidelines</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Libraries</a></li>
              <li class="nav-item"><a href="#" class="nav-link">How to's</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Case studies</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Articles</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Events</a></li>
          </ul>
      </div>
  </nav>
</header>
