<h2 id="local">Local navigation bar<a class="doc-link d-inline-flex align-items-center ml-2" href="../components/local-navigation/" title="go to local navigation documentation page"></a></h2>
<nav role="navigation" class="o-nav-local navbar-light">
  <ul class="container nav">
    <li class="nav-item"><a class="nav-link active" href="#" aria-current="page">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Messages</a></li>
  </ul>
</nav>

<div data-example-id="">
  <div class="bg-dark pt-3 px-3 pb-1">
    <nav role="navigation" class="o-nav-local navbar-dark">
      <ul class="container nav">
        <li class="nav-item"><a class="nav-link active" href="#" aria-current="page">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Messages</a></li>
      </ul>
    </nav>
  </div>
</div>
