<h2 id="local">Local navigation bar<a class="doc-link" href="../components/local-navigation/" title="go to local navigation documentation page"></a></h2>
<div class="o-nav-local">
  <nav class="container">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link active" href="#" aria-current="page">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Messages</a></li>
    </ul>
  </nav>
</div>

<div data-example-id="">
  <div style="margin: 2rem 0; padding: 2rem 0;" class="bg-dark">
    <div class="o-nav-local inverse">
      <nav class="container">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link active" href="#" aria-current="page">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Messages</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>