<!-- Navs
================================================== -->
<h2 id="nav">Navs</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h3 class="d-flex mt-5" id="bs-nav-tabs">Tabs<a class="doc-link d-inline-flex align-items-center ml-2" href="../components/navs/#tabs" title="go to tabs documentation page"></a></h3>
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#home" data-toggle="tab" aria-current="page">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#profile" data-toggle="tab">Profile</a></li>
      <li class="nav-item"><a href="#" class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#dropdown1" data-toggle="tab">Action</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#dropdown2" data-toggle="tab">Another action</a></li>
          </ul>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="home">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
            cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
            synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
            aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="profile">
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
            blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
            booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud
            organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>
        <div class="tab-pane fade" id="dropdown1">
          <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
            lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore
            carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
        </div>
        <div class="tab-pane fade" id="dropdown2">
          <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free
            squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life
            echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore
            cosby sweater.</p>
        </div>
      </div>
    </div>
  <div class="col-12 mt-2">
      <h3 class="d-flex mt-5" id="bs-nav-pills">Pills<a class="doc-link d-inline-flex align-items-center ml-2" href="../components/navs/#pills" title="go to pills documentation page"></a></h3>
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link active" href="#" aria-current="page">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Profile 2</a></li>
      <li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a></li>
      </ul>
      <br>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item"><a class="nav-link active" href="#" aria-current="page">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Profile 2</a></li>
      <li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a></li>
      </ul>
  </div>
</div>
<div class="row mt-2">
  <div class="col-lg-6">
    <h3 class="d-flex mt-5" id="bs-nav-breadcrumbs">Breadcrumbs<a class="doc-link d-inline-flex align-items-center ml-2" href="../components/breadcrumb/" title="go to breadcrumb documentation page"></a></h3>
    <div>
      <nav role="navigation" aria-labelledby="breadcrumb-intro-1">
        <p class="sr-only" id="breadcrumb-intro-1">You are here:</p>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="location">Home</li>
        </ol>
      </nav>

      <nav role="navigation" aria-labelledby="breadcrumb-intro-2">
        <p class="sr-only" id="breadcrumb-intro-2">You are here:</p>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active"  aria-current="location">Library</li>
        </ol>
      </nav>

      <nav role="navigation" aria-labelledby="breadcrumb-intro-3">
        <p class="sr-only" id="breadcrumb-intro-3">You are here:</p>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="location">Data</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
</div>
