<!-- Nav tabs A-->
<h2 id="tab">Tabs<a class="doc-link d-inline-flex align-items-center ml-2" href="../components/navs/#tabs" title="go to tabs documentation page"></a></h2>
<h3 class="mt-5" id="tab-a">Default</h3>
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" href="#home1" data-toggle="tab">Home</a></li>
  <li class="nav-item"><a class="nav-link" href="#profile1" data-toggle="tab">Profile</a></li>
  <li class="nav-item"><a class="nav-link" href="#messages1" data-toggle="tab">Messages</a></li>
  <li class="nav-item"><a class="nav-link" href="#settings1" data-toggle="tab">Settings</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="home1">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis volutpat quam, non suscipit arcu accumsan at. Aliquam pellentesque. <a href="#">Test focus 4</a>
    </p>
  </div>
  <div class="tab-pane" id="profile1">
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
      ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
      quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
      nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
      numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
      nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel
      eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
      quo voluptas nulla pariatur?
    </p>
  </div>
  <div class="tab-pane" id="messages1">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
      quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
      deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
      libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,
      omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
      saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
      delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
    </p>
  </div>
  <div class="tab-pane" id="settings1">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis volutpat quam, non suscipit arcu accumsan at. Aliquam pellentesque.
    </p>
  </div>
</div>

<!-- Nav content without border-->
<h3 class="mt-5" id="tab-clear">Without border</h3>
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" href="#home3" data-toggle="tab">Home</a></li>
  <li class="nav-item "><a class="nav-link" href="#profile3" data-toggle="tab">Profile</a></li>
  <li class="nav-item"><a class="nav-link" href="#messages3" data-toggle="tab">Messages</a></li>
  <li class="nav-item "><a class="nav-link" href="#settings3" data-toggle="tab">Settings</a></li>
</ul>
<div class="tab-content border-0">
  <div class="tab-pane active" id="home3">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis volutpat quam, non suscipit arcu accumsan at. Aliquam pellentesque. <a href="#">Test focus 5</a>
    </p>
  </div>
  <div class="tab-pane" id="profile3">
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
      ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
      quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
      nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
      numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
      nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel
      eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
      quo voluptas nulla pariatur?
    </p>
  </div>
  <div class="tab-pane" id="messages3">
    <p>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
      quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
      deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam
      libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,
      omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
      saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
      delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
    </p>
  </div>
  <div class="tab-pane" id="settings3">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In iaculis volutpat quam, non suscipit arcu accumsan at. Aliquam ellentesque.
    </p>
  </div>
</div>

<h3 class="mt-5">Responsive</h3>
<h4>Switch to accordions in mobile</h4>
<div class="o-tab-container" role="tablist">
  <a class="o-tab-heading" href="#" id="tab1" role="tab" aria-expanded="true">Tab 1</a>
  <div class="o-tab-content show" id="tab-1-content" role="tabpanel"><p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p></div>
  <a class="o-tab-heading" href="#" id="tab2" role="tab">Tab 2</a>
  <div class="o-tab-content" id="tab-2-content" role="tabpanel"><p>Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p></div>
  <a class="o-tab-heading" href="#" id="tab3" role="tab">Tab 3</a>
  <div class="o-tab-content" id="tab-3-content" role="tabpanel"><p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p></div>
</div>
