<h2 id="pagination">Pagination<a class="doc-link d-inline-flex align-items-center ml-2" href="../components/pagination/" title="go to pagination documentation page"></a></h2>
<h3 class="mt-5">Standard pagination with numbers</h3>
<div>
  <nav role="navigation">
    <ul class="pagination">
      <li class="page-item disabled"><a class="page-link" href="#"  tabindex="-1" aria-disabled="true" title="Previous"><span class="sr-only">Previous</span></a></li>
      <li class="page-item active"><a class="page-link" href="#" aria-label="Go to page 1" aria-current="page">1</a></li>
      <li class="page-item"><a class="page-link" href="#" aria-label="Go to page 2">2</a></li>
      <li class="page-item"><a class="page-link" href="#" aria-label="Go to page 3">3</a></li>
      <li class="page-item"><a class="page-link" href="#" aria-label="Go to page 4">4</a></li>
      <li class="page-item"><a class="page-link" href="#" aria-label="Go to page 5">5</a></li>
      <li class="page-item"><a class="page-link" href="#" title="Next"><span class="sr-only">Next</span></a></li>
    </ul>
  </nav>
</div>
<div>
  <nav role="navigation">
    <ul class="pagination">
      <li class="page-item disabled"><a class="page-link" href="#"  tabindex="-1" aria-disabled="true" title="Previous"><span class="sr-only">Previous</span></a></li>
      <li class="page-item"><a class="page-link" href="#" aria-label="Go to page 1">1</a></li>
      <li class="page-item"><a class="page-link" href="#" aria-label="Go to page 2">2</a></li>
      <li class="page-item"><a class="page-link" href="#" aria-label="Go to page 3">3</a></li>
      <li class="page-item"><a class="page-link" href="#" aria-label="Go to page 4">4</a></li>
      <li class="page-item active"><a class="page-link" href="#" aria-label="Go to page 5" aria-current="page">5</a></li>
      <li class="page-item"><a class="page-link" href="#" aria-label="Go to page 6">6</a></li>
      <li class="page-item"><a class="page-link" href="#" aria-label="Go to page 7">7</a></li>
      <li class="page-item"><a class="page-link" href="#" aria-label="Go to page 8">8</a></li>
      <li class="page-item"><a class="page-link" href="#" aria-label="Go to page 9">9</a></li>
      <li class="page-item"><a class="page-link" href="#" aria-label="Go to page 10">10</a></li>
      <li class="page-item"><a class="page-link" href="#" title="Next"><span class="sr-only">Next</span></a></li>
    </ul>
  </nav>
</div>
<h3 class="mt-5">Buttons</h3>
<div>
  <nav role="navigation">
    <ul class="pagination">
       <li class="page-item"><a class="page-link" href="#" title="Previous"><span class="sr-only">Previous</span></a></li>
       <li class="page-item"><a class="page-link" href="#" title="Next"><span class="sr-only">Next</span></a></li>
    </ul>
  </nav>
</div>
<h3 class="mt-5">Buttons + page counter</h3>
<div>
  <nav role="navigation" class="d-flex align-items-center mb-3">
    <span class="mr-2 font-weight-bold">Page 2 of 10</span>
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#" title="Previous"><span class="sr-only">Previous</span></a></li>
      <li class="page-item"><a class="page-link" href="#" title="Next"><span class="sr-only">Next</span></a></li>
    </ul>
  </nav>
</div>
<h3 class="mt-5">Buttons + Back/Next labels</h3>
<div>
  <nav role="navigation">
    <ul class="pagination">
      <li class="page-item"><a class="page-link has-label" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link has-label" href="#">Next</a></li>
    </ul>
  </nav>
</div>
