<h2 id="priorityNav">Priority Nav<a class="doc-link d-inline-flex align-items-center ml-2" href="../components/priority-nav/" title="go to priority nav documentation page"></a></h2>
  <nav role="navigation" class="o-nav-local navbar-light">
      <ul class="nav container">
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Introduction</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Usage</a></li>
          <li class="nav-item"><a class="nav-link" href="#">References</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Shopping</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Organisation</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Worldwilde</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
      </ul>
  </nav>
