<h2 id="stepbar">Stepbar<a class="doc-link d-inline-flex align-items-center ml-2" href="../components/stepbar/" title="go to step bar documentation page"></a></h2>
<p class="lead">Indicate the current step within a sequential navigation.</p>

<h3>Stepbar</h3>
<nav role="navigation" class="o-stepbar">
  <p class="float-left mt-2 mr-2 font-weight-bold d-sm-none">Step</p>
  <ol>
    <li class="stepbar-item">
      <a class="stepbar-link" href="#" title="1. sign in">Sign in</a>
    </li>
    <li class="stepbar-item current">
      <a class="stepbar-link" href="#" title="2. Review" aria-current="step">Review</a>
    </li>
    <li class="stepbar-item">
      <a class="stepbar-link" href="#" title="3. Delivery">Delivery</a>
    </li>
    <li class="stepbar-item">
      <a class="stepbar-link" href="#" title="4. Payment">Payment</a>
    </li>
    <li class="stepbar-item">
      <a class="stepbar-link" href="#" title="5. Place order">Place order</a>
    </li>
  </ol>
</nav>
