<h2 id="tables">Tables<a class="doc-link d-inline-flex align-items-center ml-2" href="../content/tables/#orange-brand-tables" title="go to tables documentation page"></a></h2>

<div class="container">
  <div class="row">
    <table class="table table-striped table-hover col-12">
      <caption>Striped table</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Status</th>
          <th>Column heading</th>
          <th>Column heading</th>
          <th>Column heading</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active">
          <th scope="row">1</th>
          <td>Ok</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Ok</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>
          </td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td></td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>
          </td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <table class="table table-hover has-checkbox col-12">
      <caption>Checkbox table</caption>
      <thead>
        <tr>
          <th>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1" autocomplete="off">
              <label class="custom-control-label" for="customCheck1">
                <span class="custom-control-description sr-only">select all</span>
              </label>
            </div>
          </th>
          <th>Status</th>
          <th>Column heading</th>
          <th>Column heading</th>
          <th>Column heading</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck2" autocomplete="off">
              <label class="custom-control-label" for="customCheck2">
                <span class="custom-control-description sr-only">select row 1</span>
              </label>
            </div>
          </th>
          <td>Ok</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="selected">
          <th scope="row">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck3" autocomplete="off">
              <label class="custom-control-label" for="customCheck3">
                <span class="custom-control-description sr-only">select row 2</span>
              </label>
            </div>
          </th>
          <td></td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="selected">
          <th scope="row">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck4" autocomplete="off">
              <label class="custom-control-label" for="customCheck4">
                <span class="custom-control-description sr-only">select row 3</span>
              </label>
            </div>
          </th>
          <td>
          </td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <th scope="row">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck5" autocomplete="off">
              <label class="custom-control-label" for="customCheck5">
                <span class="custom-control-description sr-only">select row 4</span>
              </label>
            </div>
          </th>
          <td></td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <th scope="row">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck6" autocomplete="off">
              <label class="custom-control-label" for="customCheck6">
                <span class="custom-control-description sr-only">select row 5</span>
              </label>
            </div>
          </th>
          <td>
          </td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <table class="table table-hover has-checkbox has-icon col-12">
      <caption>Thumbnails table</caption>
      <thead>
        <tr>
          <th>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck7" autocomplete="off">
              <label class="custom-control-label" for="customCheck7">
                <span class="custom-control-description sr-only">select all</span>
              </label>
            </div>
          </th>
          <th>Name</th>
          <th>Column heading</th>
          <th>Column heading</th>
          <th>Column heading</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck8" autocomplete="off">
              <label class="custom-control-label" for="customCheck8">
                <span class="custom-control-description sr-only">select row 1</span>
              </label>
            </div>
          </th>
          <td>
            <span class="icon-folder-document"></span>
            <span class="sr-only">folder</span>
            <span>Finance</span>
          </td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <th scope="row">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck9" autocomplete="off">
              <label class="custom-control-label" for="customCheck9">
                <span class="custom-control-description sr-only">select row 2</span>
              </label>
            </div>
          </th>
          <td>
            <span class="icon-unknown-file"></span>
            <span class="sr-only">file</span>
            <span>File</span>
          </td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="selected">
          <th scope="row">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck10" autocomplete="off">
              <label class="custom-control-label" for="customCheck10">
                <span class="custom-control-description sr-only">select row 3</span>
              </label>
            </div>
          </th>
          <td>
            <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
              <rect width="100%" height="100%" fill="#ffd200"/>
            </svg>
            <span>Image 1</span>
          </td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <th scope="row">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck11" autocomplete="off">
              <label class="custom-control-label" for="customCheck11">
                <span class="custom-control-description sr-only">select row 4</span>
              </label>
            </div>
          </th>
          <td>
            <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
              <rect width="100%" height="100%" fill="#4bb4e6"/>
            </svg>
            <span>Image 2</span>
          </td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <table class="table table-hover has-icon col-12 col-md-4">
      <caption>Icons table</caption>
      <thead>
        <tr>
          <th>Item 1</th>
          <th class="text-center">Item 1</th>
          <th class="text-center">Item 1</th>
          <th class="text-center">Item 1</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Item 1</th>
          <td class="text-center">
            <span class="svg-tick"></span>
            <span class="sr-only">checked</span>
          </td>
          <td class="text-center">
            <span class="svg-tick"></span>
            <span class="sr-only">checked</span>
          </td>
          <td class="text-center">
            <span class="svg-tick"></span>
            <span class="sr-only">checked</span>
          </td>
        </tr>
        <tr>
          <th>Item 2</th>
          <td class="text-center">
            <span class="svg-tick"></span>
            <span class="sr-only">checked</span>
          </td>
          <td class="text-center">
            <span class="svg-tick"></span>
            <span class="sr-only">checked</span>
          </td>
          <td></td>
        </tr>
        <tr>
          <th>Item 3</th>
          <td class="text-center">
            <span class="svg-tick"></span>
            <span class="sr-only">checked</span>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3 id="complextable">Sortable table</h3>
<table id="myTable" class="table tablesorter">
      <caption>Calls received</caption>
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Number</th>
          <th scope="col">Place called</th>
          <th scope="col">Call class</th>
          <th scope="col">Duration</th>
          <th scope="col">Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>08/10/12</td>
          <td>447765896321</td>
          <td>BT Freefone</td>
          <td>talk</td>
          <td>0:05:40</td>
          <td>0.214</td>
        </tr>
        <tr>
          <td>09/10/12</td>
          <td>447765896321</td>
          <td>BT Freefone</td>
          <td>talk</td>
          <td>0:19:09</td>
          <td>0.158</td>
        </tr>
        <tr>
          <td>10/10/12</td>
          <td>447765896322</td>
          <td>Free</td>
          <td>talk</td>
          <td>0:10:06</td>
          <td>0.089</td>
        </tr>
        <tr>
          <td>11/10/12</td>
          <td>447765896324</td>
          <td>Orange</td>
          <td>SMS</td>
          <td>-</td>
          <td>0.10</td>
        </tr>
      </tbody>
    </table>

<!-- /.container-fluid -->

<h2 id="responsivetable">Responsive table</h2>
<h3>Default scroll table</h3>
<p class="lead">Native Bootstrap solution</p>
<table class="table table-responsive">
  <thead>
    <tr>
      <th>#</th>
      <th>Table heading</th>
      <th>Table heading</th>
      <th>Table heading</th>
      <th>Table heading</th>
      <th>Table heading</th>
      <th>Table heading</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
      <td>Table cell</td>
    </tr>
  </tbody>
</table>
<!-- /.table-responsive -->

<h3>Orange card responsive table</h3>
<p class="lead">Table responsive switch row to card display on tablet.</p>
<div class="container">
  <div class="row">
    <table class="table o-responsive-table col-12">
      <caption>Calls received</caption>
      <thead class="cf">
        <tr>
          <th scope="col" class="header">Date</th>
          <th scope="col" class="header">Number</th>
          <th scope="col" class="header">Place called</th>
          <th scope="col" class="header">Call class</th>
          <th scope="col" class="header">Duration</th>
          <th scope="col" class="header">Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">8 octobre 2012</th>
          <td data-title="number">447765896321</td>
          <td data-title="place called">BT Freefone</td>
          <td data-title="call class">talk</td>
          <td data-title="duration">0:05:40</td>
          <td data-title="cost">0.214</td>
        </tr>
        <tr>
          <th scope="row">9 octobre 2012</th>
          <td data-title="number">447765896321</td>
          <td data-title="place called">BT Freefone</td>
          <td data-title="call class">talk</td>
          <td data-title="duration">0:19:09</td>
          <td data-title="cost">0.158</td>
        </tr>
        <tr>
          <th scope="row">10 octobre 2012</th>
          <td data-title="number">447765896322</td>
          <td data-title="place called">Free</td>
          <td data-title="call class">talk</td>
          <td data-title="duration">0:10:06</td>
          <td data-title="cost">0.089</td>
        </tr>
        <tr>
          <th scope="row">11 octobre 2012</th>
          <td data-title="number">447765896324</td>
          <td data-title="place called">Orange</td>
          <td data-title="call class">SMS</td>
          <td data-title="duration">-</td>
          <td data-title="cost">0.10</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- /.container-fluid -->
