<!-- Typography
================================================== -->

<h2 id="type">Typography<a class="doc-link d-inline-flex align-items-center ml-2" href="../content/typography/" title="go to typography documentation page"></a></h2>
<!-- Headings -->
<div class="container-fluid">
<div class="row">
  <div class="col-lg-4">
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
  </div>

  <div class="col-lg-4">
    <h3>Example body text</h3>
    <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient
      montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
    </p>
    <p><small>This line of text is meant to be treated as fine print.</small></p>
    <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
    <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
    <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
  </div>

  <div class="col-lg-4">
    <h3>Emphasis classes</h3>
    <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
    <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
  </div>
</div>
<!-- Blockquotes -->
<h3 id="type-blockquotes">Blockquotes</h3>
<div class="row">
  <div class="col-lg-6">
    <blockquote class="blockquote">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
    </blockquote>
  </div>
</div>
</div>
