.orange{
  color: #f16e00;
}
#img-home{
  vertical-align: inherit;
}
#header{
  margin-top: 20px;
}
#header a{
  display: inline-block;
}
#header h1 {
  color: #000;
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}
#header input{
  height:35px;
}
#localContainer{
  padding: 0;
  padding-bottom: 30px;
}
#localNavigation{
  margin: 5px 0 10px;
}
#news-table {
  margin-top : 10px;
}
#news-table th{
  color: #000;
}
.tab-content .tab-pane p{
  margin-left: 10px;
  margin-top: 5px;
}
#PostAdminEditForm {
  margin-right: 10px;
  margin-left: 10px;
}
#radio-action label {
  margin-right: 15px;
}
footer div span{
  padding-right: 42px;
  margin-top: 10px;
}
footer div span:nth-child(8){
  padding-right: 0;
}
footer {
  background-color: #eee;
  border-bottom: 1px solid #f3f3f3;
  border-top: 1px solid #d6d6d6;
  overflow: hidden;
  min-height: 54px;
  height: auto;
  margin: 10px auto 20px;
}
footer a {
  color: inherit;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  background-color: inherit;
}
.navbar-dark #id-for-cdu-link a{
    color: #fff;
}
.navbar-dark #id-for-cdu-link a:hover,.navbar-dark #id-for-cdu-link a:focus{
    color: #f16e00;
}

.svg-avatar::after {
  left: -1.25rem;
  top: -2px;
}

.navbar .nav-link.svg-settings::after {
  right: -1.25rem !important;
}

@media (max-width: 767px) {
  .navbar .btn{
    font-size: inherit;
    padding: 6px 10px;
    height: auto;
  }
}