.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: var(--bs-secondary-bg); /* Boosted mod */
  outline: 1px solid var(--bs-border-color-translucent); /* Boosted mod */
}

.themed-container {
  padding-top: .75rem; /* Boosted mod */
  padding-bottom: .75rem; /* Boosted mod */
  margin-bottom: 1.5rem;
  background-color: var(--bs-border-color-translucent); /* Boosted mod */
  outline: 1px solid var(--bs-secondary); /* Boosted mod */
}
