/********************************************************/
/********************** Accordions **********************/
/********************************************************/
.o-accordion .panel{
	border-top:0;  
	border-left:0;  
	border-right:0;
}

.o-accordion .panel-default > .panel-heading {
	background-image: none;
	filter: none;
  + .panel-collapse > .panel-body {
    border-top: 0;
  }
}
/* Custom class */
         
.o-accordion.o-accordion-orange-style .panel-chevron-open,
.o-accordion.o-accordion-orange-style .panel-chevron-closed{
	// background-image: url("../images/triangle_down_orange.png");
  color: @brand-orange;
}
.o-accordion .panel-chevron-closed, .o-accordion .panel-chevron-open{
	padding-left: 30px;
}
.o-accordion .panel-chevron-closed::before{
	font-family: "icon-orange";
	content: "\ea52";
  font-size: 16px;
}
.o-accordion .panel-chevron-open::before{
	font-family: "icon-orange";
	content: "\e920";
  font-size: 16px;
}