/********************************************************/
/********************** Accordions **********************/
/********************************************************/
.o-accordion .panel{
	border-top:0;  
	border-left:0;  
	border-right:0;
}

.o-accordion .panel-default > .panel-heading {
	background-image: none;
	filter: none;
  padding: 0;
  + .panel-collapse > .panel-body {
    border-top: 0;
  }
  /* put the padding onto the link to increase the clic area */
  a {
    padding: @panel-heading-padding;
  }
}
/* Custom class */
 
.o-accordion .panel-chevron-closed::before,
.o-accordion .panel-chevron-open::before{
	font-family: "icon-orange";
  font-size: 16px;
  margin-right: 14px;
  display: inline-block;
	content: "\ea52";
}
.o-accordion .panel-chevron-open::before{
	-webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.o-accordion-orange-style .panel-chevron-open::before,
.o-accordion-orange-style .panel-chevron-closed::before{
  color: @brand-orange;
}