// stylelint-disable font-family-no-missing-generic-family-keyword
//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  display: block;
  padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;
  margin-bottom: @line-height-computed;
  overflow: hidden;
  font-weight: 700;
  list-style: none;
  background-color: @breadcrumb-bg;
  border-radius: @border-radius-base;

  > li {
    display: inline-block;

    + li:before {
      padding: @breadcrumb-separator-padding-vertical @breadcrumb-separator-padding-horizontal;//0 8px 0 5px;//@breadcrumb-separator-padding-vertical @breadcrumb-separator-padding-horizontal;
      font-family: boosted;
      // TODO put those values in variable-orange file
      font-size: @breadcrumb-separator-size;
      color: @breadcrumb-color;
      content: "\e902"; // Unicode space added since inline-block means non-collapsing white-space
    }
    a {
      text-decoration: none;
    }
  }

  > .active {
    color: @breadcrumb-active-color;
  }
}
