//
// classic tab //
//
.nav > li > a {
	cursor: pointer;
}

// Give the tabs something to sit on
.nav-tabs {
  > li {
      + li {
        // TODO Put to Variables
        margin-left: @nav-tab-margin;
      }
    // Actual tabs (as links)
    > a {
      padding: @padding-generic;
      font-weight: @brand-font-weight-bold;
      font-size: @navbar-font-size;
      line-height: @navbar-font-size;      
      border-width: 2px;

      &:hover ,
      &:focus {
        color: @nav-tabs-link-hover-color;
        background-color: @nav-tabs-link-hover-bg;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover {
          outline:none;
          border-width: 2px;
      }
    }
    // Active state, and its :hover to override normal :hover
    &.active > a {
      &:focus {
          border-width: 2px;
          outline-style: dotted;
          outline-offset: -6px;
          outline-width: 1px;
      }
    }
    margin-bottom: -2px;
  }
    border-bottom-width: 2px;
}

// Pills
// -------------------------
.nav-pills {
  > li {
    + li {
      margin-left: (@grid-gutter-width / 4);
    }

    // Active state
    &,
    &.active {
        > a {
          font-weight: bold;

          &:hover {
              color: @nav-pills-active-link-hover-color;
              background-color: @nav-pills-active-link-hover-bg;
          }
          &:focus {
              outline:none;
              background-color: @brand-orange;
              color: @brand-orange-white;
          }
        }
    }
  }
}

.tab-content{
  border-style: solid;
  border-width: 2px;
  border-color: @gray-base;
  border-color: rgba(0, 0, 0, 0) @gray-base @gray-base @gray-base;
  //margin-top: -1px;
  padding: 1em;
}

.tab-content-clear{
  border: none;
  padding: 1em;
}