//
// Accordions //
//
.o-accordion,
.o-accordion-triangle
{
   .panel{
    border-top:0;
    border-left:0;
    border-right:0;
  }

  .panel-default {
    border-bottom: 1px solid #ccc;

    &:first-child .panel-heading {
      border-top: 1px solid #ccc;
    }
  }

  .panel-default > .panel-heading {
    background-image: none;
    filter: none;
    padding: 0;
    + .panel-collapse > .panel-body {
      border-top: 0;
    }
    // put the padding onto the link to increase the clic area //
    a {
      padding: @panel-heading-padding;
      line-height: @font-size-base-up;
    }
  }

  .panel-chevron-closed::after,
  .panel-chevron-open::after{
    font-family: "icon-orange";
    font-size: 16px;
    margin-right: 10px;
    float: right;
    content: "\e93e";
  }
}
// Custom class //
.o-accordion .panel-chevron-open::after{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.o-accordion .panel-chevron-closed::after{
	-webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.o-accordion-triangle .panel-chevron-open::after{
  content: "\e93d";
}

.o-accordion-triangle .panel-chevron-closed::after{
  content: "\e93c";
}
