@font-face {
	font-family: 'icon-orange';
	src:url('@{icon-font-path}icon-orange.eot?6vtdzi');
	src:url('@{icon-font-path}icon-orange.eot?6vtdzi#iefix') format('embedded-opentype'),
		url('@{icon-font-path}icon-orange.ttf?6vtdzi') format('truetype'),
		url('@{icon-font-path}icon-orange.woff?6vtdzi') format('woff'),
		url('@{icon-font-path}icon-orange.svg?6vtdzi#icon-orange') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-popout-care,
.icon-popout-family,
.icon-popout-fun,
.icon-popout-home,
.icon-popout-money,
.icon-popout-on-the-move,
.icon-popout-tariff,
.icon-popout-tech,
.icon-popout-wellbeing,
.icon-popout-work,
.icon-frame-family,
.icon-frame-fun,
.icon-frame-home,
.icon-frame-money,
.icon-frame-on-the-move,
.icon-frame-tariff,
.icon-frame-tech,
.icon-frame-wellbeing,
.icon-frame-work,
.icon-frame-care,
.icon-menu,
.icon-arrow-next,
.icon-arrow-previous,
.icon-delete,
.icon-2for1cinematicket,
.icon-3g,
.icon-4g,
.icon-4g-cam,
.icon-4g-plus,
.icon-about-event,
.icon-accessibility-cognition,
.icon-accessibility-dexterity,
.icon-accessibility-hearing,
.icon-accessibility-mobility,
.icon-accessibility-speech,
.icon-accessibility-vision,
.icon-accessory-headphones,
.icon-accessory-shop,
.icon-address-book,
.icon-administrator,
.icon-advertising,
.icon-aeroplane,
.icon-age-rating-mono-3,
.icon-age-rating-mono-4,
.icon-age-rating-mono-7,
.icon-age-rating-mono-9,
.icon-age-rating-mono-12,
.icon-age-rating-mono-16,
.icon-age-rating-mono-17,
.icon-age-rating-mono-18,
.icon-agriculture,
.icon-airbox-auto,
.icon-alarm-clock,
.icon-antenna,
.icon-anti-spam,
.icon-antivirus,
.icon-arrow-down,
.icon-arrow-up,
.icon-assistance,
.icon-attachment,
.icon-avatar,
.icon-banking,
.icon-battery-1-bar,
.icon-battery-2-bar,
.icon-battery-charging,
.icon-battery-empty,
.icon-battery-full,
.icon-battery-full-2,
.icon-bill-euro,
.icon-billboard,
.icon-birthday,
.icon-bluetooth,
.icon-book-download,
.icon-bookmark,
.icon-bookmark-smart,
.icon-broadcast,
.icon-burst-mode,
.icon-business-invoices,
.icon-business-lounge,
.icon-business-telephonie,
.icon-buy,
.icon-buy-back-euro,
.icon-buzz,
.icon-calendar-30,
.icon-calendar-day,
.icon-calendar-month,
.icon-calendar-week,
.icon-call,
.icon-call-forward,
.icon-call-log,
.icon-camera,
.icon-change-wallpaper,
.icon-charger,
.icon-check-your-balance,
.icon-child-protection,
.icon-cineday-silhouette,
.icon-clock,
.icon-cloud-backup,
.icon-commercial-representitive,
.icon-community-sms,
.icon-conference-call,
.icon-connected-object,
.icon-construction,
.icon-contact-card,
.icon-control-centre,
.icon-control-mydata,
.icon-copy,
.icon-crane,
.icon-currency-euro,
.icon-data-protection,
.icon-data-services,
.icon-device-desktop-computer,
.icon-device-desktop-computer-connected,
.icon-device-fixed-line-phone,
.icon-device-laptop-computer,
.icon-device-laptop-computer-connected,
.icon-device-smart-phone,
.icon-device-tablet,
.icon-device-tablet-connected,
.icon-device-tv,
.icon-device-connected-printer,
.icon-device-manager,
.icon-device-managment-express,
.icon-dialler,
.icon-disable-apps,
.icon-document-stack,
.icon-document-word,
.icon-document-zip,
.icon-download,
.icon-draft,
.icon-dual-sim-packaging,
.icon-ebook,
.icon-edashboard,
.icon-edit-draft,
.icon-edit-email,
.icon-edit-image,
.icon-electric-car,
.icon-electric-car-charging,
.icon-electricity-provider,
.icon-elevator,
.icon-email,
.icon-emap,
.icon-emergency-service,
.icon-employees-1,
.icon-epg,
.icon-event-agenda,
.icon-event-organiser,
.icon-event-speaker,
.icon-expert,
.icon-family-place,
.icon-favourite,
.icon-filter,
.icon-finance,
.icon-fire,
.icon-flexible-storage,
.icon-folder-camera,
.icon-folder-document,
.icon-folder-favourite,
.icon-folder-sd,
.icon-football,
.icon-free-tag,
.icon-front-end-dashboard,
.icon-gaugecapacity,
.icon-gauge-counter,
.icon-gauge-rate,
.icon-gauge-mon-reseau,
.icon-generic-document,
.icon-geolocation,
.icon-hands-free,
.icon-health,
.icon-health-monitor,
.icon-help-guide,
.icon-history,
.icon-home,
.icon-home-alarm,
.icon-homescreen,
.icon-hospital,
.icon-hotel,
.icon-image,
.icon-image-file,
.icon-improvement,
.icon-inbox,
.icon-info,
.icon-international-globe,
.icon-internet,
.icon-internet-browser,
.icon-keeper,
.icon-keyboard,
.icon-lightbulb-sh,
.icon-ligue-1,
.icon-live,
.icon-livebox,
.icon-livebox-phone,
.icon-location-pin-compass,
.icon-lock,
.icon-logistics,
.icon-map-pin,
.icon-medical-chart,
.icon-messaging,
.icon-messaging-compose-sms,
.icon-messaging-unified,
.icon-messaging-untitled-compose,
.icon-microphone,
.icon-mini-games,
.icon-mirroring,
.icon-mobile-applications,
.icon-mobile-data-toggle,
.icon-mobile-insurance,
.icon-mobile-network-coverage,
.icon-mobile-security,
.icon-mobile-setup,
.icon-mon-reseau,
.icon-money,
.icon-move-to-folder,
.icon-multi-sim,
.icon-multiple-timezone,
.icon-music-file,
.icon-music-player,
.icon-my-account,
.icon-my-bill-uk,
.icon-my-boutique,
.icon-my-essential,
.icon-my-essential-tablet,
.icon-my-livebox,
.icon-my-media,
.icon-my-orange,
.icon-my-plug,
.icon-networks,
.icon-newspaper,
.icon-nfc,
.icon-no-sim,
.icon-numero-unique,
.icon-office,
.icon-oil-and-gas,
.icon-online-help,
.icon-orangewallet,
.icon-orange-assistant,
.icon-orange-cash,
.icon-orange-corporate,
.icon-orange-events,
.icon-orange-experts-expert,
.icon-orange-experts-insurance,
.icon-orange-experts-orange-business-consultant,
.icon-orange-experts-orange-startup-smartphone,
.icon-orange-experts-recycle,
.icon-orange-experts-repair,
.icon-orange-experts-tranquil,
.icon-orange-gesture,
.icon-orange-jobs,
.icon-orange-messenger,
.icon-orange-money,
.icon-orange-pro,
.icon-orange-protect,
.icon-orange-radio,
.icon-orange-reflections,
.icon-orange-tv,
.icon-orange-wallet,
.icon-orange-wifi,
.icon-organisation,
.icon-outbox,
.icon-outdoor-sports-mountain-biking,
.icon-outdoor-sports-skiing,
.icon-parental-control,
.icon-pda-device,
.icon-pdf-file,
.icon-phone-advisor,
.icon-phone-protection,
.icon-picture-messaging,
.icon-pioneering,
.icon-play-and-win,
.icon-playmode-random,
.icon-power,
.icon-powerpoint-file,
.icon-presentation,
.icon-previous,
.icon-printer,
.icon-public-transport,
.icon-recommend,
.icon-record,
.icon-recycle-device,
.icon-relationship,
.icon-reload,
.icon-remote-control,
.icon-responsible,
.icon-restore-to-phone,
.icon-rewards,
.icon-running,
.icon-scan-ticket,
.icon-sd-card,
.icon-search,
.icon-servers,
.icon-settings,
.icon-setup-and-repair,
.icon-setup-and-repair-cog,
.icon-setup-internet,
.icon-share,
.icon-shipping,
.icon-shop-pin,
.icon-shop-subscriptions,
.icon-signal-boost,
.icon-sim,
.icon-simple-mode,
.icon-smart-home,
.icon-smart-lightswitch,
.icon-smart-powerstation,
.icon-smart-tap,
.icon-smart-watch,
.icon-social-network,
.icon-software-update,
.icon-startup-wizard,
.icon-stop-secret,
.icon-store-locator,
.icon-subscription-package,
.icon-support,
.icon-surveillance-camera,
.icon-target-location,
.icon-tarif,
.icon-tariff,
.icon-task-list,
.icon-team-connect,
.icon-temperature,
.icon-terms-conditions,
.icon-text-alerts,
.icon-tick,
.icon-tick-circle,
.icon-tickets,
.icon-top-up-dollar,
.icon-top-up-euro,
.icon-top-up-uk-bank,
.icon-touch-screen,
.icon-town,
.icon-townhall,
.icon-track-your-delivery,
.icon-track-your-order,
.icon-trash,
.icon-tv-plus,
.icon-unique,
.icon-unlocked,
.icon-upload,
.icon-usb-key,
.icon-vehicle,
.icon-video,
.icon-video-file,
.icon-video-phone,
.icon-video-meeting2,
.icon-virtual-gamepad,
.icon-visual-voicemail,
.icon-vod-portrait,
.icon-volte,
.icon-volume-high,
.icon-volume-low,
.icon-volume-mid,
.icon-volume-none,
.icon-vowifi,
.icon-web-cam,
.icon-wifi,
.icon-wifi-0,
.icon-wifi-1,
.icon-wifi-2,
.icon-zoom-in,
.icon-zoom-out {
    // use !important to prevent issues with browser extensions that change fonts */
  font-family: "icon-orange" !important;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;

  // Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-popout-care,
.icon-popout-family,
.icon-popout-fun,
.icon-popout-home,
.icon-popout-money,
.icon-popout-on-the-move,
.icon-popout-tariff,
.icon-popout-tech,
.icon-popout-wellbeing,
.icon-popout-work,
.icon-frame-family,
.icon-frame-fun,
.icon-frame-home,
.icon-frame-money,
.icon-frame-on-the-move,
.icon-frame-tariff,
.icon-frame-tech,
.icon-frame-wellbeing,
.icon-frame-work,
.icon-frame-care {
  color: @brand-orange;
}

.icon-delete::before {
  content: "\ea54";
}

.icon-menu::before {
  content: "\ea51";
}
.icon-arrow-next::before {
  content: "\ea52";
}
.icon-arrow-previous::before {
  content: "\ea53";
}
.icon-2for1cinematicket::before {
  content: "\e900";
}
.icon-3g::before {
  content: "\e901";
}
.icon-4g::before {
  content: "\e902";
}
.icon-4g-cam::before {
  content: "\e903";
}
.icon-4g-plus::before {
  content: "\e904";
}
.icon-about-event::before {
  content: "\e905";
}
.icon-accessibility-cognition::before {
  content: "\e906";
}
.icon-accessibility-dexterity::before {
  content: "\e907";
}
.icon-accessibility-hearing::before {
  content: "\e908";
}
.icon-accessibility-mobility::before {
  content: "\e909";
}
.icon-accessibility-speech::before {
  content: "\e90a";
}
.icon-accessibility-vision::before {
  content: "\e90b";
}
.icon-accessory-headphones::before {
  content: "\e90c";
}
.icon-accessory-shop::before {
  content: "\e90d";
}
.icon-address-book::before {
  content: "\e90e";
}
.icon-administrator::before {
  content: "\e90f";
}
.icon-advertising::before {
  content: "\e910";
}
.icon-aeroplane::before {
  content: "\e911";
}
.icon-age-rating-mono-3::before {
  content: "\e912";
}
.icon-age-rating-mono-4::before {
  content: "\e913";
}
.icon-age-rating-mono-7::before {
  content: "\e914";
}
.icon-age-rating-mono-9::before {
  content: "\e915";
}
.icon-age-rating-mono-12::before {
  content: "\e916";
}
.icon-age-rating-mono-16::before {
  content: "\e917";
}
.icon-age-rating-mono-17::before {
  content: "\e918";
}
.icon-age-rating-mono-18::before {
  content: "\e919";
}
.icon-agriculture::before {
  content: "\e91a";
}
.icon-airbox-auto::before {
  content: "\e91b";
}
.icon-alarm-clock::before {
  content: "\e91c";
}
.icon-antenna::before {
  content: "\e91d";
}
.icon-anti-spam::before {
  content: "\e91e";
}
.icon-antivirus::before {
  content: "\e91f";
}
.icon-arrow-down::before {
  content: "\e920";
}
.icon-arrow-up::before {
  content: "\e921";
}
.icon-assistance::before {
  content: "\e922";
}
.icon-attachment::before {
  content: "\e923";
}
.icon-avatar::before {
  content: "\e924";
}
.icon-banking::before {
  content: "\e925";
}
.icon-battery-1-bar::before {
  content: "\e926";
}
.icon-battery-2-bar::before {
  content: "\e927";
}
.icon-battery-charging::before {
  content: "\e928";
}
.icon-battery-empty::before {
  content: "\e929";
}
.icon-battery-full::before {
  content: "\e92a";
}
.icon-battery-full-2::before {
  content: "\e92b";
}
.icon-bill-euro::before {
  content: "\e92c";
}
.icon-billboard::before {
  content: "\e92d";
}
.icon-birthday::before {
  content: "\e92e";
}
.icon-bluetooth::before {
  content: "\e92f";
}
.icon-book-download::before {
  content: "\e930";
}
.icon-bookmark::before {
  content: "\e931";
}
.icon-bookmark-smart::before {
  content: "\e932";
}
.icon-broadcast::before {
  content: "\e933";
}
.icon-burst-mode::before {
  content: "\e934";
}
.icon-business-invoices::before {
  content: "\e935";
}
.icon-business-lounge::before {
  content: "\e936";
}
.icon-business-telephonie::before {
  content: "\e937";
}
.icon-buy::before {
  content: "\e938";
}
.icon-buy-back-euro::before {
  content: "\e939";
}
.icon-buzz::before {
  content: "\e93a";
}
.icon-calendar-30::before {
  content: "\e93b";
}
.icon-calendar-day::before {
  content: "\e93c";
}
.icon-calendar-month::before {
  content: "\e93d";
}
.icon-calendar-week::before {
  content: "\e93e";
}
.icon-call::before {
  content: "\e93f";
}
.icon-call-forward::before {
  content: "\e940";
}
.icon-call-log::before {
  content: "\e941";
}
.icon-camera::before {
  content: "\e942";
}
.icon-change-wallpaper::before {
  content: "\e943";
}
.icon-charger::before {
  content: "\e944";
}
.icon-check-your-balance::before {
  content: "\e945";
}
.icon-child-protection::before {
  content: "\e946";
}
.icon-cineday-silhouette::before {
  content: "\e947";
}
.icon-clock::before {
  content: "\e948";
}
.icon-cloud-backup::before {
  content: "\e949";
}
.icon-commercial-representitive::before {
  content: "\e94a";
}
.icon-community-sms::before {
  content: "\e94b";
}
.icon-conference-call::before {
  content: "\e94c";
}
.icon-connected-object::before {
  content: "\e94d";
}
.icon-construction::before {
  content: "\e94e";
}
.icon-contact-card::before {
  content: "\e94f";
}
.icon-control-centre::before {
  content: "\e950";
}
.icon-control-mydata::before {
  content: "\e951";
}
.icon-copy::before {
  content: "\e952";
}
.icon-crane::before {
  content: "\e953";
}
.icon-currency-euro::before {
  content: "\e954";
}
.icon-data-protection::before {
  content: "\e955";
}
.icon-data-services::before {
  content: "\e956";
}
.icon-device-desktop-computer::before {
  content: "\e957";
}
.icon-device-desktop-computer-connected::before {
  content: "\e958";
}
.icon-device-fixed-line-phone::before {
  content: "\e959";
}
.icon-device-laptop-computer::before {
  content: "\e95a";
}
.icon-device-laptop-computer-connected::before {
  content: "\e95b";
}
.icon-device-smart-phone::before {
  content: "\e95c";
}
.icon-device-tablet::before {
  content: "\e95d";
}
.icon-device-tablet-connected::before {
  content: "\e95e";
}
.icon-device-tv::before {
  content: "\e95f";
}
.icon-device-connected-printer::before {
  content: "\e960";
}
.icon-device-manager::before {
  content: "\e961";
}
.icon-device-managment-express::before {
  content: "\e962";
}
.icon-dialler::before {
  content: "\e963";
}
.icon-disable-apps::before {
  content: "\e964";
}
.icon-document-stack::before {
  content: "\e965";
}
.icon-document-word::before {
  content: "\e966";
}
.icon-document-zip::before {
  content: "\e967";
}
.icon-download::before {
  content: "\e968";
}
.icon-draft::before {
  content: "\e969";
}
.icon-dual-sim-packaging::before {
  content: "\e96a";
}
.icon-ebook::before {
  content: "\e96b";
}
.icon-edashboard::before {
  content: "\e96c";
}
.icon-edit-draft::before {
  content: "\e96d";
}
.icon-edit-email::before {
  content: "\e96e";
}
.icon-edit-image::before {
  content: "\e96f";
}
.icon-electric-car::before {
  content: "\e970";
}
.icon-electric-car-charging::before {
  content: "\e971";
}
.icon-electricity-provider::before {
  content: "\e972";
}
.icon-elevator::before {
  content: "\e973";
}
.icon-email::before {
  content: "\e974";
}
.icon-emap::before {
  content: "\e975";
}
.icon-emergency-service::before {
  content: "\e976";
}
.icon-employees-1::before {
  content: "\e977";
}
.icon-epg::before {
  content: "\e978";
}
.icon-event-agenda::before {
  content: "\e979";
}
.icon-event-organiser::before {
  content: "\e97a";
}
.icon-event-speaker::before {
  content: "\e97b";
}
.icon-expert::before {
  content: "\e97c";
}
.icon-family-place::before {
  content: "\e97d";
}
.icon-favourite::before {
  content: "\e97e";
}
.icon-filter::before {
  content: "\e97f";
}
.icon-finance::before {
  content: "\e980";
}
.icon-fire::before {
  content: "\e981";
}
.icon-flexible-storage::before {
  content: "\e982";
}
.icon-folder-camera::before {
  content: "\e983";
}
.icon-folder-document::before {
  content: "\e984";
}
.icon-folder-favourite::before {
  content: "\e985";
}
.icon-folder-sd::before {
  content: "\e986";
}
.icon-football::before {
  content: "\e987";
}
.icon-free-tag::before {
  content: "\e988";
}
.icon-front-end-dashboard::before {
  content: "\e989";
}
.icon-gaugecapacity::before {
  content: "\e98a";
}
.icon-gauge-counter::before {
  content: "\e98b";
}
.icon-gauge-rate::before {
  content: "\e98c";
}
.icon-gauge-mon-reseau::before {
  content: "\e98d";
}
.icon-generic-document::before {
  content: "\e98e";
}
.icon-geolocation::before {
  content: "\e98f";
}
.icon-hands-free::before {
  content: "\e990";
}
.icon-health::before {
  content: "\e991";
}
.icon-health-monitor::before {
  content: "\e992";
}
.icon-help-guide::before {
  content: "\e993";
}
.icon-history::before {
  content: "\e994";
}
.icon-home::before {
  content: "\e995";
}
.icon-home-alarm::before {
  content: "\e996";
}
.icon-homescreen::before {
  content: "\e997";
}
.icon-hospital::before {
  content: "\e998";
}
.icon-hotel::before {
  content: "\e999";
}
.icon-image::before {
  content: "\e99a";
}
.icon-image-file::before {
  content: "\e99b";
}
.icon-improvement::before {
  content: "\e99c";
}
.icon-inbox::before {
  content: "\e99d";
}
.icon-info::before {
  content: "\e99e";
}
.icon-international-globe::before {
  content: "\e99f";
}
.icon-internet::before {
  content: "\e9a0";
}
.icon-internet-browser::before {
  content: "\e9a1";
}
.icon-keeper::before {
  content: "\e9a2";
}
.icon-keyboard::before {
  content: "\e9a3";
}
.icon-lightbulb-sh::before {
  content: "\e9a4";
}
.icon-ligue-1::before {
  content: "\e9a5";
}
.icon-live::before {
  content: "\e9a6";
}
.icon-livebox::before {
  content: "\e9a7";
}
.icon-livebox-phone::before {
  content: "\e9a8";
}
.icon-location-pin-compass::before {
  content: "\e9a9";
}
.icon-lock::before {
  content: "\e9aa";
}
.icon-logistics::before {
  content: "\e9ab";
}
.icon-map-pin::before {
  content: "\e9ac";
}
.icon-medical-chart::before {
  content: "\e9ad";
}
.icon-messaging::before {
  content: "\e9ae";
}
.icon-messaging-compose-sms::before {
  content: "\e9af";
}
.icon-messaging-unified::before {
  content: "\e9b0";
}
.icon-messaging-untitled-compose::before {
  content: "\e9b1";
}
.icon-microphone::before {
  content: "\e9b2";
}
.icon-mini-games::before {
  content: "\e9b3";
}
.icon-mirroring::before {
  content: "\e9b4";
}
.icon-mobile-applications::before {
  content: "\e9b5";
}
.icon-mobile-data-toggle::before {
  content: "\e9b6";
}
.icon-mobile-insurance::before {
  content: "\e9b7";
}
.icon-mobile-network-coverage::before {
  content: "\e9b8";
}
.icon-mobile-security::before {
  content: "\e9b9";
}
.icon-mobile-setup::before {
  content: "\e9ba";
}
.icon-mon-reseau::before {
  content: "\e9bb";
}
.icon-money::before {
  content: "\e9bc";
}
.icon-move-to-folder::before {
  content: "\e9bd";
}
.icon-multi-sim::before {
  content: "\e9be";
}
.icon-multiple-timezone::before {
  content: "\e9bf";
}
.icon-music-file::before {
  content: "\e9c0";
}
.icon-music-player::before {
  content: "\e9c1";
}
.icon-my-account::before {
  content: "\e9c2";
}
.icon-my-bill-uk::before {
  content: "\e9c3";
}
.icon-my-boutique::before {
  content: "\e9c4";
}
.icon-my-essential::before {
  content: "\e9c5";
}
.icon-my-essential-tablet::before {
  content: "\e9c6";
}
.icon-my-livebox::before {
  content: "\e9c7";
}
.icon-my-media::before {
  content: "\e9c8";
}
.icon-my-orange::before {
  content: "\e9c9";
}
.icon-my-plug::before {
  content: "\e9ca";
}
.icon-networks::before {
  content: "\e9cb";
}
.icon-newspaper::before {
  content: "\e9cc";
}
.icon-nfc::before {
  content: "\e9cd";
}
.icon-no-sim::before {
  content: "\e9ce";
}
.icon-numero-unique::before {
  content: "\e9cf";
}
.icon-office::before {
  content: "\e9d0";
}
.icon-oil-and-gas::before {
  content: "\e9d1";
}
.icon-online-help::before {
  content: "\e9d2";
}
.icon-orangewallet::before {
  content: "\e9d3";
}
.icon-orange-assistant::before {
  content: "\e9d4";
}
.icon-orange-cash::before {
  content: "\e9d5";
}
.icon-orange-corporate::before {
  content: "\e9d6";
}
.icon-orange-events::before {
  content: "\e9d7";
}
.icon-orange-experts-expert::before {
  content: "\e9d8";
}
.icon-orange-experts-insurance::before {
  content: "\e9d9";
}
.icon-orange-experts-orange-business-consultant::before {
  content: "\e9da";
}
.icon-orange-experts-orange-startup-smartphone::before {
  content: "\e9db";
}
.icon-orange-experts-recycle::before {
  content: "\e9dc";
}
.icon-orange-experts-repair::before {
  content: "\e9dd";
}
.icon-orange-experts-tranquil::before {
  content: "\e9de";
}
.icon-orange-gesture::before {
  content: "\e9df";
}
.icon-orange-jobs::before {
  content: "\e9e0";
}
.icon-orange-messenger::before {
  content: "\e9e1";
}
.icon-orange-money::before {
  content: "\e9e2";
}
.icon-orange-pro::before {
  content: "\e9e3";
}
.icon-orange-protect::before {
  content: "\e9e4";
}
.icon-orange-radio::before {
  content: "\e9e5";
}
.icon-orange-reflections::before {
  content: "\e9e6";
}
.icon-orange-tv::before {
  content: "\e9e7";
}
.icon-orange-wallet::before {
  content: "\e9e8";
}
.icon-orange-wifi::before {
  content: "\e9e9";
}
.icon-organisation::before {
  content: "\e9ea";
}
.icon-outbox::before {
  content: "\e9eb";
}
.icon-outdoor-sports-mountain-biking::before {
  content: "\e9ec";
}
.icon-outdoor-sports-skiing::before {
  content: "\e9ed";
}
.icon-parental-control::before {
  content: "\e9ee";
}
.icon-pda-device::before {
  content: "\e9ef";
}
.icon-pdf-file::before {
  content: "\e9f0";
}
.icon-phone-advisor::before {
  content: "\e9f1";
}
.icon-phone-protection::before {
  content: "\e9f2";
}
.icon-picture-messaging::before {
  content: "\e9f3";
}
.icon-pioneering::before {
  content: "\e9f4";
}
.icon-play-and-win::before {
  content: "\e9f5";
}
.icon-playmode-random::before {
  content: "\e9f6";
}
.icon-power::before {
  content: "\e9f7";
}
.icon-powerpoint-file::before {
  content: "\e9f8";
}
.icon-presentation::before {
  content: "\e9f9";
}
.icon-previous::before {
  content: "\e9fa";
}
.icon-printer::before {
  content: "\e9fb";
}
.icon-public-transport::before {
  content: "\e9fc";
}
.icon-recommend::before {
  content: "\e9fd";
}
.icon-record::before {
  content: "\e9fe";
}
.icon-recycle-device::before {
  content: "\e9ff";
}
.icon-relationship::before {
  content: "\ea00";
}
.icon-reload::before {
  content: "\ea01";
}
.icon-remote-control::before {
  content: "\ea02";
}
.icon-responsible::before {
  content: "\ea03";
}
.icon-restore-to-phone::before {
  content: "\ea04";
}
.icon-rewards::before {
  content: "\ea05";
}
.icon-running::before {
  content: "\ea06";
}
.icon-scan-ticket::before {
  content: "\ea07";
}
.icon-sd-card::before {
  content: "\ea08";
}
.icon-search::before {
  content: "\ea09";
}
.icon-servers::before {
  content: "\ea0a";
}
.icon-settings::before {
  content: "\ea0b";
}
.icon-setup-and-repair::before {
  content: "\ea0c";
}
.icon-setup-and-repair-cog::before {
  content: "\ea0d";
}
.icon-setup-internet::before {
  content: "\ea0e";
}
.icon-share::before {
  content: "\ea0f";
}
.icon-shipping::before {
  content: "\ea10";
}
.icon-shop-pin::before {
  content: "\ea11";
}
.icon-shop-subscriptions::before {
  content: "\ea12";
}
.icon-signal-boost::before {
  content: "\ea13";
}
.icon-sim::before {
  content: "\ea14";
}
.icon-simple-mode::before {
  content: "\ea15";
}
.icon-smart-home::before {
  content: "\ea16";
}
.icon-smart-lightswitch::before {
  content: "\ea17";
}
.icon-smart-powerstation::before {
  content: "\ea18";
}
.icon-smart-tap::before {
  content: "\ea19";
}
.icon-smart-watch::before {
  content: "\ea1a";
}
.icon-social-network::before {
  content: "\ea1b";
}
.icon-software-update::before {
  content: "\ea1c";
}
.icon-startup-wizard::before {
  content: "\ea1d";
}
.icon-stop-secret::before {
  content: "\ea1e";
}
.icon-store-locator::before {
  content: "\ea1f";
}
.icon-subscription-package::before {
  content: "\ea20";
}
.icon-support::before {
  content: "\ea21";
}
.icon-surveillance-camera::before {
  content: "\ea22";
}
.icon-target-location::before {
  content: "\ea23";
}
.icon-tarif::before {
  content: "\ea24";
}
.icon-tariff::before {
  content: "\ea25";
}
.icon-task-list::before {
  content: "\ea26";
}
.icon-team-connect::before {
  content: "\ea27";
}
.icon-temperature::before {
  content: "\ea28";
}
.icon-terms-conditions::before {
  content: "\ea29";
}
.icon-text-alerts::before {
  content: "\ea2a";
}
.icon-tick::before {
  content: "\ea2b";
}
.icon-tick-circle::before {
  content: "\ea2c";
}
.icon-tickets::before {
  content: "\ea2d";
}
.icon-top-up-dollar::before {
  content: "\ea2e";
}
.icon-top-up-euro::before {
  content: "\ea2f";
}
.icon-top-up-uk-bank::before {
  content: "\ea30";
}
.icon-touch-screen::before {
  content: "\ea31";
}
.icon-town::before {
  content: "\ea32";
}
.icon-townhall::before {
  content: "\ea33";
}
.icon-track-your-delivery::before {
  content: "\ea34";
}
.icon-track-your-order::before {
  content: "\ea35";
}
.icon-trash::before {
  content: "\ea36";
}
.icon-tv-plus::before {
  content: "\ea37";
}
.icon-unique::before {
  content: "\ea38";
}
.icon-unlocked::before {
  content: "\ea39";
}
.icon-upload::before {
  content: "\ea3a";
}
.icon-usb-key::before {
  content: "\ea3b";
}
.icon-vehicle::before {
  content: "\ea3c";
}
.icon-video::before {
  content: "\ea3d";
}
.icon-video-file::before {
  content: "\ea3e";
}
.icon-video-phone::before {
  content: "\ea3f";
}
.icon-video-meeting2::before {
  content: "\ea40";
}
.icon-virtual-gamepad::before {
  content: "\ea41";
}
.icon-visual-voicemail::before {
  content: "\ea42";
}
.icon-vod-portrait::before {
  content: "\ea43";
}
.icon-volte::before {
  content: "\ea44";
}
.icon-volume-high::before {
  content: "\ea45";
}
.icon-volume-low::before {
  content: "\ea46";
}
.icon-volume-mid::before {
  content: "\ea47";
}
.icon-volume-none::before {
  content: "\ea48";
}
.icon-vowifi::before {
  content: "\ea49";
}
.icon-web-cam::before {
  content: "\ea4a";
}
.icon-wifi::before {
  content: "\ea4b";
}
.icon-wifi-0::before {
  content: "\ea4c";
}
.icon-wifi-1::before {
  content: "\ea4d";
}
.icon-wifi-2::before {
  content: "\ea4e";
}
.icon-zoom-in::before {
  content: "\ea4f";
}
.icon-zoom-out::before {
  content: "\ea50";
}
.icon-popout-care::before {
  content: "\e62d";
}
.icon-popout-family::before {
  content: "\e62e";
}
.icon-popout-fun::before {
  content: "\e62f";
}
.icon-popout-home::before {
  content: "\e630";
}
.icon-popout-money::before {
  content: "\e631";
}
.icon-popout-on-the-move::before {
  content: "\e632";
}
.icon-popout-tariff::before {
  content: "\e633";
}
.icon-popout-tech::before {
  content: "\e634";
}
.icon-popout-wellbeing::before {
  content: "\e635";
}
.icon-popout-work::before {
  content: "\e636";
}
.icon-frame-family::before {
  content: "\e637";
}
.icon-frame-fun::before {
  content: "\e638";
}
.icon-frame-home::before {
  content: "\e639";
}
.icon-frame-money::before {
  content: "\e63a";
}
.icon-frame-on-the-move::before {
  content: "\e63b";
}
.icon-frame-tariff::before {
  content: "\e63c";
}
.icon-frame-tech::before {
  content: "\e63d";
}
.icon-frame-wellbeing::before {
  content: "\e63e";
}
.icon-frame-work::before {
  content: "\e63f";
}
.icon-frame-care::before {
  content: "\e640";
}
