//
// Variables for IE lower than 9, give fixed size
// --------------------------------------------------

@font-size-base: 14px;
//** For FIXED size
@font-size-large: 20px;
@font-size-small: 12px;
@font-size-h1: 50px;
@font-size-h2: 40px;
@font-size-h3: 28px;
@font-size-h4: @font-size-large;
@font-size-h5: 16px;
@font-size-h6: @font-size-base;


@font-size-h1-mobile: 20px;
@font-size-h2-mobile: 18px;
@font-size-h3-mobile: 16px;
@font-size-h4-mobile: 14px;
@font-size-h5-mobile: @font-size-h4-mobile;
@font-size-h6-mobile: @font-size-h5-mobile;

//** For FIXED size
@line-height-computed: (floor(@font-size-base * @line-height-base));
//** For FIXED size
@jumbotron-font-size:            (ceil(@font-size-base * 1.5));
@jumbotron-heading-font-size:    (ceil(@font-size-base * 4.5));
//** for FIXED size
@icon-font-weight:        30px;
//** for fixed size
@padding-base-vertical: 8px;
@padding-base-horizontal: 20px;
@padding-large-vertical: 12px;
@padding-large-horizontal: 20px;
@padding-small-vertical: 5px;
@padding-small-horizontal: 10px;
@padding-xs-vertical: 1px;
// Fix by the brand, minimum space = 10px
@padding-xs-horizontal: 10px;
//** for fixed size
@navbar-height:                    100px;
@navbar-font-size:                 16px;
@navbar-padding-vertical:          10px;
@navbar-toggle-vertical-margin:    46px;

// for FIXED size
@input-height-base:              (@line-height-computed + (@padding-base-vertical * 2) + 2);
//** Large `.form-control` height
@input-height-large:             (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
//** Small `.form-control` height
@input-height-small:             (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

@form-group-margin-bottom:       20px;
//** for FIXED size
//** Width of the `border` for generating carets that indicator dropdowns.
@caret-width-base:          8px;
//** Carets increase slightly in size for larger components.
@caret-width-large:         8px;
//** for FIXED size
@table-cell-padding: 9px;
@table-condensed-cell-padding: 5px;

@btn-font-size: 16px;
@btn-font-size-sm: 14px;
@btn-font-size-lg: 16px;


@pagination-width: 40px;
@pagination-width-lg: 37.5px;
@pagination-width-sm: 18.75px;

@pagination-padding: 1opx 20px;

//** Padding around the thumbnail caption
//** for fixed size
@thumbnail-caption-padding:   20px;

//** for fixed size
@nav-link-padding: 10px 10px;

@breadcrumb-separator-size: 10px;
@carousel-control-width: 30px;

//== Step process bar
@o-stepbar-height: 40px;
@o-stepbar-arrow-width: 15px;

// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.


.navbar-vertical-align(@element-height) {
    margin-top: ((@navbar-height - (@navbar-padding-vertical + @element-height)));
}
.navbar-toggle-vertical-align(@element-height) when not(ispixel(@element-height)) {
    margin-top: ((@navbar-height - (((unit(@element-height))*10))));
    margin-bottom: 10px;
}