// stylelint-disable selector-no-qualifying-type
//
// Orange calendar
//

.o-calendar {
  width: @calendar-width;
  margin: @padding-small-horizontal;
  background-color: #fff;

  .month-wrap {
    position: relative;
    height: @calendar-day-width;

    .btn-prev,
    .btn-next {
      position: absolute;
      top: 0;
      left: 0;
      width: @calendar-day-width;
      height: @calendar-day-width;
      padding: 0;
      border: 0;
    }

    .btn-next {
      right: 0;
      left: auto;
    }

    .month {
      padding-top: @padding-small-horizontal;
      font-size: @font-size-base-up;
      font-weight: 700;
      line-height: @font-size-base-up;
      text-align: center;
    }
  }

  .cal-table {
    margin: 0 auto;
    font-size: @font-size-base-up;
    text-align: center;

    thead {
      font-size: @font-size-base;
      color: @gray-dark;
    }

    tr{
      border-bottom: 1px solid @gray-dark;
    }

    th,
    td {
      width: @calendar-day-width;
      height: @calendar-day-width;
      padding: 0;
      text-align: center;
    }

    td {
      font-weight: 700;

      &.today {
        background-color: #fff;
        outline: 2px solid #000;
        outline-offset: -2px;
      }

      &:hover,
      &.focus {
        color: #fff;
        background-color: #000;
        outline: 0;
      }

      &.active,
      &:active {
        color: #fff;
        background-color: @brand-orange;
        outline: 0;
      }

      &.empty,
      &.empty:hover {
        color: @gray-light-plus;
        background-color: #fff;
      }

      &.disabled {
        color: @gray-dark;
        background-color: @gray-lighter;

        &:hover {
          color: @gray-dark;
          cursor: not-allowed;
          background-color: @gray-lighter;
        }
      }
    }
  }
}
