// == FORMS ELEMENTS
// Tuned checkboxes
// Cachons la case à cocher //
.o-checkbox[type="checkbox"]:not(:checked),
.o-checkbox[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
 
// on prépare le label //
.o-checkbox[type="checkbox"]:not(:checked) + label,
.o-checkbox[type="checkbox"]:checked + label{
  position: relative; // permet de positionner les pseudo-éléments //
  padding-left: (@input-height-base * 0.75); // fait un peu d'espace pour notre case à venir //
  cursor: pointer;    // affiche un curseur adapté //
  position: relative;
  //top: 1px;//
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  line-height: @line-height-computed;
  border: 1px dotted transparent;
}

// Align checkbox on the right//
.o-checkbox-right.o-checkbox[type="checkbox"]:not(:checked) + label,
.o-checkbox-right.o-checkbox[type="checkbox"]:checked + label{
    padding-left: 0;
    padding-right: (@input-height-base * 0.75); // fait un peu d'espace pour notre case à venir //    
}

// Aspect des checkboxes //
// :before sert à créer la case à cocher //
.o-checkbox[type="checkbox"]:not(:checked) + label:before,
.o-checkbox[type="checkbox"]:checked + label:before{
  content: "";
  position: absolute;
  left:0; 
  width: (@input-height-base/2); 
  height: (@input-height-base/2); // dim. de la case //
  border: 2px solid @gray-light;
  background-color: #fff;
}

// Align checkbox on the right//
.o-checkbox-right.o-checkbox[type="checkbox"]:not(:checked) + label:before,
.o-checkbox-right.o-checkbox[type="checkbox"]:checked + label:before{
      left: auto;
      right: 0;
}

 
// Aspect général de la coche //
.o-checkbox[type="checkbox"]:not(:checked) + label:after,
.o-checkbox[type="checkbox"]:checked + label:after{
  font-family: "boosted";
  content: '\e904';
  position: absolute; 
  top: 0;  
  left: 2px;
  font-size: @btn-font-size;
  color: @brand-orange-white;
  width: @btn-font-size; 
  height: (@input-height-base/2); // dim. de la case //
  text-align: center;
  //transition: all .2s; // on prévoit une animation //
}

.o-checkbox-right.o-checkbox[type="checkbox"]:not(:checked) + label:after,
.o-checkbox-right.o-checkbox[type="checkbox"]:checked + label:after{
    left: auto;
    right: 2px;
}



// Aspect si "pas cochée" //
.o-checkbox[type="checkbox"]:not(:checked) + label:after{
  opacity: 0; // coche invisible //
  transform: scale(0); // mise à l'échelle à 0 //
}
// Aspect si "cochée" //
.o-checkbox[type="checkbox"]:checked + label:after{
  opacity: 1; // coche opaque //
  transform: scale(1); // mise à l'échelle 1:1 //
  background-color:@brand-orange;
}
// Aspect si "cochée" //
.o-checkbox[type="checkbox"]:checked + label:before{
  border-color:@brand-orange;
  background-color:@brand-orange;
}

// aspect désactivée //
.o-checkbox[type="checkbox"]:disabled:not(:checked) + label:before,
.o-checkbox[type="checkbox"]:disabled:checked + label:before{  
  border-color: @gray-light-plus;
}
// styles de la coche (si cochée/désactivée) //
.o-checkbox[type="checkbox"]:disabled:checked + label:after{
  border-color:@gray-light-plus;
  background-color:@gray-light-plus;
  color: @brand-orange-white;
}
// on style aussi le label quand désactivé //
.o-checkbox[type="checkbox"]:disabled + label{
  color: @gray-light-plus;
}
 
// aspect au focus de l'élément //
.o-checkbox[type="checkbox"]:checked:focus + label,
.o-checkbox[type="checkbox"]:not(:checked):focus + label{
  border: 1px dotted @gray-base;
}