//
// Pagination (multiple pages)
// --------------------------------------------------

.pagination {

  > li {
      > a {
          border: 2px solid @brand-orange-clear;
          font-size: @navbar-font-size;
          font-weight: @brand-font-weight-bold;
          line-height: @navbar-font-size;
          margin-left: 0;
          padding: 1rem 0;
          width: @pagination-width;
          text-align: center;

          &:hover,
          &:focus {
              color: @brand-orange-black;
              background-color: @brand-orange-clear;
              border: 2px solid @brand-orange-black;
          }
      }

      &:first-child > a,
      &:last-child > a {
        border: 2px solid @brand-orange-black;
        width: auto;
        min-width: @pagination-width;
      }

      &.active > a,
      &.active > a:hover,
      &.active > a:focus {
          color: @brand-orange-white;
      }

      &.disabled > a,
      &.disabled > a:hover,
      &.disabled > a:focus {
          border: 2px solid @gray-light-plus;
          color: @gray-light-plus;
          background-color: @brand-orange-clear;
      }

      &.labelled > a{
        padding: 1rem 1.6rem;
      }
  }
}
