//
// Pagination (multiple pages)
// --------------------------------------------------

.pagination {
    display: inline-block;
    list-style: none;

  > li {
      float: left;
      margin: 0;
      + li{          
         margin-left: 10px;
      }
      > a {
          border: 2px solid @brand-orange-clear;
          font-size: @navbar-font-size;
          font-weight: @brand-font-weight-bold;
          line-height: 1;
          margin-left: 0;
          padding: 1rem 0;
          width: @pagination-width;
          text-align: center;
        .icon-arrow-next, 
        .icon-arrow-previous {
          font-size: 1.4rem;
        }
          &:hover,
          &:focus {
              color: @brand-orange-black;
              background-color: @brand-orange-clear;
              border: 2px solid @brand-orange-black;
          }
      }
      &.presentation{
          padding: 1rem 0;
          font-size: @navbar-font-size;          
          font-weight: @brand-font-weight-bold;
      }

      &.bordered > a,
      &.bordered > a {
        border: 2px solid @brand-orange-black;
        width: auto;
        min-width: @pagination-width;
      }

      &.active > a,
      &.active > a:hover,
      &.active > a:focus {
          color: @brand-orange-white;
      }

      &.disabled > a,
      &.disabled > a:hover,
      &.disabled > a:focus {
          border: 2px solid @gray-light;
          color: @gray-light;
          background-color: @brand-orange-clear;
      }

      &.labelled > a{
        padding: @pagination-padding;
        .icon-arrow-next {
          padding-left: 10px;
        }
        .icon-arrow-previous {
          padding-right: 10px;
        }
      }
  }
}
