<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="Mark Otto, Jacob Thornton, Bootstrap contributors, and Orange SA">

<title>
  
    Scroll up &middot; Bootstrap
  
</title>

<!-- helvetica -->
<link href="http://boosted.orange.com/v4-test/dist/css/orangeHelvetica.css" rel="stylesheet">
<!-- orangeIcons -->
<link href="http://boosted.orange.com/v4-test/dist/css/orangeIcons.css" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="http://boosted.orange.com/v4-test/dist/css/boosted.css" rel="stylesheet">

<!-- Documentation extras -->
<link href="http://boosted.orange.com/v4-test/assets/css/docs.min.css" rel="stylesheet">

<!-- Favicons -->
<link rel="apple-touch-icon" href="http://boosted.orange.com/v4-test/apple-touch-icon.png">
<link rel="icon" href="http://boosted.orange.com/v4-test/favicon.ico">

  </head>
  <body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    <header class="" role="banner">
  <nav class="navbar navbar-dark">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
          <span class="sr-only">toggle navigation</span>
          <span class="icon-menu"></span>
      </button>
      <div class="container" >
          <a class="navbar-brand logo" href="http://boosted.orange.com/v4-test/"><img src="../../dist/img/ORANGE_LOGO_rgb.jpg" alt="Back to homepage" title="Back to homepage"/></a>
          <ul class="nav navbar-nav collapse navbar-toggleable-xs" id="collapsingNavbar">
              <li class="nav-item">
                <a class="nav-link" href="http://boosted.orange.com/v4-test/">
                  B<span class="text-primary">oo</span>sted
                </a>
              </li>
              <li class="nav-item"><a class="nav-link active" href="http://boosted.orange.com/v4-test/getting-started/introduction/">Documentation</a></li>
              <li class="nav-item"><a class="nav-link " href="http://boosted.orange.com/v4-test/examples/">Examples</a></li>
              <li class="nav-item"><a class="nav-link " href="http://boosted.orange.com/v4-test/boostwatch/">Boostwatch</a></li>
              <li class="nav-item" id="id_li_for_cdu"></li>
          </ul>
      </div>
  </nav>
</header>


    <div class="bd-pageheader">
      <div class="container">
        
  <h1>Components</h1>
  <p class="lead">
    Over a dozen reusable components built to provide buttons, dropdowns, input groups, navigation, alerts, and much more.
  </p>


<!-- BOOSTED MOD -->
        <!-- <script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=getbootstrapcom" id="_carbonads_js"></script>
 -->
<!-- END MOD -->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3 push-md-9 bd-sidebar">
          <form class="bd-search hidden-sm-down">
  <input type="text" class="form-control" id="search-input" placeholder="Search..." autocomplete="off">
  <div class="dropdown-menu bd-search-results" id="search-results"></div>
</form>

<nav class="bd-links" id="docsNavbarContent">
  
  
  
  

  

  <div class="bd-toc-item ">
    
        <a class="bd-toc-link" href="http://boosted.orange.com/v4-test/getting-started/introduction">
      
        Getting started
      </a>

      <ul class="nav bd-sidenav">
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/getting-started/introduction">
              Introduction
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/getting-started/download">
              Download
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/getting-started/contents">
              Contents
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/getting-started/browsers-devices">
              Browsers & devices
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/getting-started/javascript">
              JavaScript
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/getting-started/options">
              Options
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/getting-started/flexbox">
              Flexbox
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/getting-started/build-tools">
              Build tools
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/getting-started/best-practices">
              Best practices
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/getting-started/accessibility">
              Accessibility
            </a>

            
          </li>
        
      </ul>
    </div>
  
  
  
  

  

  <div class="bd-toc-item ">
    
        <a class="bd-toc-link" href="http://boosted.orange.com/v4-test/layout/overview">
      
        Layout
      </a>

      <ul class="nav bd-sidenav">
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/layout/overview">
              Overview
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/layout/grid">
              Grid
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/layout/flexbox-grid">
              Flexbox grid
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/layout/media-object">
              Media object
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/layout/responsive-utilities">
              Responsive utilities
            </a>

            
          </li>
        
      </ul>
    </div>
  
  
  
  

  

  <div class="bd-toc-item ">
    
        <a class="bd-toc-link" href="http://boosted.orange.com/v4-test/content/reboot">
      
        Content
      </a>

      <ul class="nav bd-sidenav">
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/content/reboot">
              Reboot
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/content/typography">
              Typography
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/content/code">
              Code
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/content/images">
              Images
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/content/tables">
              Tables
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/content/figures">
              Figures
            </a>

            
          </li>
        
      </ul>
    </div>
  
  
  
  

  

  <div class="bd-toc-item active">
    
        <a class="bd-toc-link" href="http://boosted.orange.com/v4-test/components/alerts">
      
        Components
      </a>

      <ul class="nav bd-sidenav">
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/alerts">
              Alerts
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/breadcrumb">
              Breadcrumb
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/buttons">
              Buttons
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/buttons-inversed">
              Buttons inversed
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/orange-switches">
              Orange switches
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/button-group">
              Button group
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/card">
              Card
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/carousel">
              Carousel
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/collapse">
              Collapse
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/dropdowns">
              Dropdowns
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/forms">
              Forms
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/input-group">
              Input group
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/jumbotron">
              Jumbotron
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/list-group">
              List group
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/modal">
              Modal
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/navs">
              Navs
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/navbar">
              Navbar
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/navbar-orange">
              Navbar Orange
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/orange-megamenu">
              Orange megamenu
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/local-navigation">
              Local navigation
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/orange-footer">
              Orange footer
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/orange-stepbar">
              Orange stepbar
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/pagination">
              Pagination
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/popovers">
              Popovers
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/progress">
              Progress
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/orange-list">
              Orange list
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/scrollspy">
              Scrollspy
            </a>

            
          </li>
        
          
          
          

          

          <li class="active bd-sidenav-active">
            <a href="http://boosted.orange.com/v4-test/components/scroll-up">
              Scroll up
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/tag">
              Tag
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/tooltips">
              Tooltips
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/orange-accordion">
              Orange accordion
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/components/utilities">
              Utilities
            </a>

            
          </li>
        
      </ul>
    </div>
  
  
  
  

  

  <div class="bd-toc-item ">
    
        <a class="bd-toc-link" href="http://boosted.orange.com/v4-test/about/history">
      
        About
      </a>

      <ul class="nav bd-sidenav">
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/about/history">
              History
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/about/boosted-history">
              Boosted history
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/about/team">
              Team
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/about/brand">
              Brand
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/about/orange-brand">
              Orange brand
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/about/license">
              License
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/about/boosted-license">
              Boosted license
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="http://boosted.orange.com/v4-test/about/translations">
              Translations
            </a>

            
          </li>
        
      </ul>
    </div>
  
  
  
  

  

  <div class="bd-toc-item ">
    
        <a class="bd-toc-link" href="http://boosted.orange.com/v4-test/migration/">
      
        Migration
      </a>

      <ul class="nav bd-sidenav">
        
      </ul>
    </div>
  
  
  
  

  

  <div class="bd-toc-item ">
    
        <a class="bd-toc-link" href="http://boosted.orange.com/v4-test/boosted-migration/">
      
        Boosted migration
      </a>

      <ul class="nav bd-sidenav">
        
      </ul>
    </div>
  
  </nav>

        </div>
        <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
          <h1 class="bd-title" id="content">Scroll up</h1>
          <p>Scroll up</p>

<h2 id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#contents" id="markdown-toc-contents">Contents</a></li>
  <li><a href="#scroll-up" id="markdown-toc-scroll-up">Scroll up</a>    <ul>
      <li><a href="#scroll-up-auto-display" id="markdown-toc-scroll-up-auto-display">Scroll up auto display</a></li>
      <li><a href="#scroll-up-static" id="markdown-toc-scroll-up-static">Scroll up static</a></li>
    </ul>
  </li>
</ul>

<h2 id="scroll-up">Scroll up</h2>

<h3 id="scroll-up-auto-display">Scroll up auto display</h3>
<p>Displays a link at the bottom right of the page after scrolling down one page height. 
On desktop this link displays the “Back to top” text and an icon. On mobile it only displays the icon.</p>

<p>Adds a link at the end of the page with the <code class="highlighter-rouge">o-scroll-up</code> class. The link is made up of 2 elements. The first element is a text with the <code class="highlighter-rouge">.o-scroll-up-text</code> class, shown only on desktop display (you can change the breakpoint if needed). The second element is the arrow up icon, with the <code class="highlighter-rouge">.o-scroll-up-icon</code> class. For accessibility reasons, add a consistant <code class="highlighter-rouge">title</code> to the link, and add <code class="highlighter-rouge">aria-hidden='true'</code> to the icon.</p>

<p>You can see a sample on how it works by scrolling this page.</p>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"o-scroll-up"</span> <span class="na">title=</span><span class="s">"back to top"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"o-scroll-up-text hidden-sm-down"</span><span class="nt">&gt;</span>Back to top<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"o-scroll-up-icon"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;&lt;/span&gt;</span>
<span class="nt">&lt;/a&gt;</span></code></pre></figure>

<h3 id="scroll-up-static">Scroll up static</h3>
<p>Displays a link in the page with the arrow up icon.</p>

<p>Adds a link in the page with the <code class="highlighter-rouge">o-scroll-up</code> and <code class="highlighter-rouge">static</code> class. 
You can let the text <code class="highlighter-rouge">.o-scroll-up-text</code> display on all devices.</p>

<div class="bd-example" data-example-id="">
<a href="#" class="o-scroll-up static" title="back to top">
  <span class="o-scroll-up-text">Back to top</span>
  <span class="o-scroll-up-icon" aria-hidden="true"></span>
</a>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"o-scroll-up static"</span> <span class="na">title=</span><span class="s">"back to top"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"o-scroll-up-text"</span><span class="nt">&gt;</span>Back to top<span class="nt">&lt;/span&gt;</span>
  <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"o-scroll-up-icon"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;&lt;/span&gt;</span>
<span class="nt">&lt;/a&gt;</span></code></pre></div>


        </div>
      </div>
    </div>

    <footer class="bd-footer navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="o-footer">
                <div class="container-fluid o-footer-top" role="contentinfo">
                    <h1 class="sr-only">footer - site map & informations</h1>
        <p>This documentation is an adaptation made by Orange</p>
    <p>Original version designed and built with all the love in the world by <a href="https://twitter.com/mdo" target="_blank">@mdo</a> and <a href="https://twitter.com/fat" target="_blank">@fat</a>. Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>

    <p>Orange modified code licensed <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/blob/master/LICENSE" target="_blank">MIT</a>, Original code licensed <a rel="license" href="https://github.com/twbs/bootstrap/blob/v4.0.0-alpha.4/LICENSE" target="_blank">MIT</a>, docs <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
                </div>
                <div class="o-footer-bottom">
                    <ul>
                      <li>Currently v4.0.0-alpha.4</li>
                      <li>&middot;</li>
                      <li><a href="https://github.com/Orange-OpenSource/Orange-Boosted-Bootstrap">GitHub</a></li>
                      <li>&middot;</li>
                      <li><a href="examples">Examples</a></li>
                      <li>&middot;</li>
                      <li><a href="https://github.com/twbs/bootstrap/tree/v4.0.0-alpha.4">Original Bootstrap</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- boosted mod -->
<a href="#" class="o-scroll-up" title="back to top"><span class="o-scroll-up-text hidden-sm-down">Back to top</span><span class="o-scroll-up-icon" aria-hidden="true"></span></a>
<!-- end mod -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="http://boosted.orange.com/v4-test/assets/js/vendor/jquery.min.js"><\/script>')</script>

<script src="http://boosted.orange.com/v4-test/assets/js/vendor/tether.min.js"></script>


  <script src="http://boosted.orange.com/v4-test/dist/js/boosted.js"></script>


<script src="http://boosted.orange.com/v4-test/dist/js/vendors/jquery.tablesorter.js"></script>



<script src="http://boosted.orange.com/v4-test/assets/js/docs.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://boosted.orange.com/v4-test/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="http://boosted.orange.com/v4-test/assets/js/ie-emulation-modes-warning.js"></script>


<script src="http://boosted.orange.com/v4-test/assets/js/vendor/jekyll-search.min.js"></script>

<script>
SimpleJekyllSearch.init({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('search-results'),
  searchResultTemplate: '<a class="dropdown-item" href="{url}">{title}</a>',
  noResultsText: '<div class="dropdown-item no-results">Sorry, there are no results for that search.</div>',
  json: 'http://boosted.orange.com/v4-test/search.json'
})
</script>





<script>
Holder.addTheme('gray', {
  bg: '#777',
  fg: 'rgba(255,255,255,.75)',
  font: 'Helvetica',
  fontweight: 'normal'
})
</script>

<script type="text/javascript" src="http://comfort.orange.com/serveur/crossdom/js/toolbar-min.js"></script>
<script>
			accessibilitytoolbar_custom={
				idLinkModeContainer:"id_li_for_cdu",
				//idSkipLinkIdLinkMode:"cdu_skiplink",
				//cssSkipLinkClassName: "skiplinks_trigger",
				cssLinkModeClassName:"nav-item-cdu"
				//callback:skiplinksAfterLoad
			};
</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

  </body>
</html>
