---
import JsDocs from '@components/shortcodes/JsDocs.astro'
import { getVersionedDocsPath } from '@libs/path'

export const title = 'Show password'
export const extra_css = ['show-password.css']
export const extra_js = [{src: 'show-password.js'}]
export const aliases = [
  '/examples/show-password',
  '/docs/examples/show-password'
]
---

<main class="container-fluid container-max-width">
  <h1 class="py-medium">Show password button</h1>

  <p>Find here an example of how to implement a password input with a show password button, show/hide the password value and manage the button icon and label, in an accessible way.</p>

  <div class="text-input mb-medium component-max-width">
    <div class="text-input-container">
      <label for="inputPassword">Password</label>
      <input type="password" id="inputPassword" class="text-input-field" placeholder=" ">
      <button class="btn btn-minimal btn-icon" id="togglePassword">
        <svg aria-hidden="true">
          <use xlink:href={getVersionedDocsPath('/assets/img/ouds-web-sprite.svg#accessibility-vision')}/>
        </svg>
        <span class="visually-hidden">Show password</span>
      </button>
    </div>
  </div>

  <div class="accordion" id="code-accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          See Javascript code
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#code-accordion">
        <div class="accordion-body border border-subtle p-none">
          <JsDocs name="show-password" file="site/src/assets/examples/show-password/show-password.js" />
        </div>
      </div>
    </div>
  </div>

</main>
