/* general */

html,body {
    height:100%;
}

h1,
h2,
h3 {
  letter-spacing: -0.03em;
  margin-top: 1.25rem;
  margin-bottom: .625rem;
}

/* page header */

header {
  overflow: hidden;
  border-bottom: 1px solid black;
  padding: 1.25rem;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0 0 0 1.25rem;
  float: left;
}

header .btn {
  display: flex;
  align-items: center;
}

header .btn span {
  margin-right: .375rem;
}

/* links page */

main {
  margin-bottom: 6.25rem;
}

/* card row layout */

.card-row {
  display: flex;
  flex-direction: row;
}

.card-row .o-card {
  flex-grow: 1;
}

.card-row .o-card + .o-card {
  margin-left: 1.25rem;
}

@media (max-width: 767px) {
  .card-row {
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .card-row .o-card {
    flex-basis: calc(50% - 1.25rem);
    margin-left: 0;
    margin-bottom: 1.25rem;
    align-self: stretch;
  }

  .card-row .o-card + .o-card {
    margin-left: 0;
  }

  .card-row .o-card:nth-child(even) {
    margin-left: 1.25rem;
  }
}

@media (max-width: 479px) {
  .card-row .o-card {
    flex-basis: 100%;
    margin-left: 0;
  }

  .card-row .o-card:nth-child(even) {
    margin-left: 0;
  }
}