<h2 id="megamenu">Megamenu<a class="doc-link" href="../components/orange-megamenu/" title="go to mega menu documentation page"></a></h2>
<div class="mega-menu" style="position: static">
    <div class="collapse show" id="collapse-shop" aria-labelledby="menu-title2">
        <div class="container">
            <h2 role="presentation" id="menu-title2"><a aria-hidden="true" href="#">Home Shop</a></h2>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-3">
                    <h3 id="list-title-1"><a href="#">Internet</a></h3>
                    <ul aria-labelledby="list-title-1" role="menu">
                        <li role="menuitem"><a href="#">iPhone 6</a></li>
                        <li role="menuitem"><a href="#">Phones </a></li>
                        <li role="menuitem"><a href="#">Tablets</a></li>
                        <li role="menuitem"><a href="#">Accessories</a></li>
                        <li role="menuitem"><a href="#">Coming soon</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-3">
                    <h3 id="list-title-2"><a href="#">Mobile</a></h3>
                    <ul aria-labelledby="list-title-2" role="menu">
                        <li role="menuitem"><a href="#">Phones </a></li>
                        <li role="menuitem"><a href="#">Plans</a></li>
                        <li role="menuitem"><a href="#">Accessories</a></li>
                        <li role="menuitem"><a href="#">Connected objects</a></li>
                        <li role="menuitem"><a href="#">Options</a></li>
                        <li role="menuitem"><a href="#">Bundles</a></li>
                    </ul>
                </div>
              </div>
              <div class="row footer">
                <div class="col-12 col-sm-11">
                    <a href="#">Promotions</a>
                    <a href="#">Top up</a>
                </div>
                <div class="col-1 d-none d-sm-block">
                    <a class="float-right" data-toggle="collapse" href="#collapse-shop" aria-expanded="false" aria-controls="collapse-shop" title="close shop menu"><span class="svg-delete" aria-hidden="true"></span></a>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
