<h2 id="megamenu">Megamenu<a class="doc-link" href="../components/orange-megamenu/" title="go to mega menu documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
<div class="mega-menu" style="position: static">
    <div class="collapse in" id="collapseShop" aria-labelledby="menu_title2">
        <div class="container">
            <h2 role="presentation" id="menu_title2"><a aria-hidden="true" href="#">Home Shop</a></h2>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <h3 id="list_title_1"><a href="#">Internet</a></h3>
                    <ul aria-labelledby="list_title_1" role="menu">
                        <li role="menuitem"><a href="#">iPhone 6</a></li>
                        <li role="menuitem"><a href="#">Phones </a></li>
                        <li role="menuitem"><a href="#">Tablets</a></li>
                        <li role="menuitem"><a href="#">Accessories</a></li>
                        <li role="menuitem"><a href="#">Coming soon</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <h3 id="list_title_2"><a href="#">Mobile</a></h3>
                    <ul aria-labelledby="list_title_2" role="menu">
                        <li role="menuitem"><a href="#">Phones </a></li>
                        <li role="menuitem"><a href="#">Plans</a></li>
                        <li role="menuitem"><a href="#">Accessories</a></li>
                        <li role="menuitem"><a href="#">Connected objects</a></li>
                        <li role="menuitem"><a href="#">Options</a></li>
                        <li role="menuitem"><a href="#">Bundles</a></li>
                    </ul>
                </div>
            </div>
            <div class="row footer">
                <div class="pull-md-left">
                    <a href="#">Promotions</a>
                    <a href="#">Top up</a>
                </div>
                <div class="pull-md-right hidden-xs-down">
                    <a data-toggle="collapse" href="#collapseShop" aria-expanded="false" aria-controls="collapseShop" title="close shop menu"><span class="icon-delete"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
