<h2 id="navbar" class="">Navbar</h2>

<div class="row">
  <nav class="navbar navbar-dark bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar3">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar3">
        <a class="navbar-brand" href="#"><img src="../dist/img/ORANGE_LOGO_rgb.jpg" alt="Back to homepage" title="Back to homepage"></a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="dropdownMenu3">Dropdown <b class="caret" aria-hidden="true"></b></a>
                <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                <a href="#" role="menuitem" class="dropdown-item">Action</a>
                <a href="#" role="menuitem" class="dropdown-item">Another action</a>
                <a href="#" role="menuitem" class="dropdown-item">Something else here</a>
                <div class="dropdown-divider"></div>
                <a href="#" role="menuitem" class="dropdown-item">Separated link</a>
                </div>
            </li>
        </ul>
        <form class="form-inline pull-md-left">
            <input class="form-control" type="text" placeholder="Search" name="searchField" title="search">
            <button class="btn btn-inverse-outline" type="submit">Search</button>
        </form>
        <ul class="nav navbar-nav pull-md-right">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="dropdownMenu4">Dropdown <b class="caret" aria-hidden="true"></b></a>
                <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
                <a href="#" role="menuitem" class="dropdown-item">Action</a>
                <a href="#" role="menuitem" class="dropdown-item">Another action</a>
                <a href="#" role="menuitem" class="dropdown-item">Something else here</a>
                <div class="dropdown-divider"></div>
                <a href="#" role="menuitem" class="dropdown-item">Separated link</a>
            </div>
        </li>
        </ul>
    </div>
   </nav>

</div>
