<h2 id="local" class="">Local navigation bar</h2>
<p class="lead">Two types of local navigation.</p>
<h3 id="local1">Default local navigation</h3>
<div class="" data-example-id="">
    <div class="container-fluid">
      <div class="row">
          <nav class="navbar nav-local" role="navigation">
            <!--<div class="container-fluid">-->
              <!-- Brand and toggle get grouped for better mobile display -->
              <!--<div class="navbar-header">-->
                <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#exCollapsingNavbar1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                </button>
              <!--</div>-->

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-toggleable-xs local" id="exCollapsingNavbar1">
                <ul class="nav navbar-nav">
                  <li class="nav-item"><a class="nav-link active" href="#">Voluptatem<div class='arrow' aria-hidden='true'></div></a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Unde omnis istea<div class='arrow' aria-hidden='true'></div></a></li>
                  <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="dropdownMenu1">Dropdown <b class="caret" aria-hidden="true"></b></a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <a href="#" role="menuitem" class="dropdown-item">Action</a>
                      <a href="#" role="menuitem" class="dropdown-item">Another action</a>
                      <a href="#" role="menuitem" class="dropdown-item">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a href="#" role="menuitem" class="dropdown-item">Separated link</a>
                    </div>
                  </li>
                </ul>
                <ul class="nav navbar-nav pull-md-right">
                  <li class="nav-item"><a class="nav-link" href="#">Accusantium<div class='arrow' aria-hidden='true'></div></a></li>
                  <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="dropdownMenu1">Dropdown <b class="caret" aria-hidden="true"></b></a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <a href="#" role="menuitem" class="dropdown-item">Action</a>
                      <a href="#" role="menuitem" class="dropdown-item">Another action</a>
                      <a href="#" role="menuitem" class="dropdown-item">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a href="#" role="menuitem" class="dropdown-item">Separated link</a>
                    </div>
                  </li>
                </ul>
              </div>
            <!--</div>-->
          </nav>
      </div>
    </div><!-- /.container-fluid -->
</div>

<h3 id="local2">Two levels local navigation</h3>
<div class="" data-example-id="">
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar nav-local" role="navigation">
        <!--<div class="container-fluid">-->
          <!-- Brand and toggle get grouped for better mobile display -->
          <!--<div class="navbar-header">-->
            <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
          <!--</div>-->

          <!-- Local nav with 2 level : 1st level -->
          <div class="collapse navbar-toggleable-xs local" id="exCollapsingNavbar2">
              <ul class="nav navbar-nav">
                  <li class="nav-item"><a class="nav-link active" href="#">Voluptatem<div class='arrow' aria-hidden='true'></div></a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Unde omnis istea<div class='arrow' aria-hidden='true'></div></a></li>
              </ul>
              <ul class="nav navbar-nav pull-md-right">
                  <li class="nav-item dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="dropdownMenu2">Dropdown <b class="caret" aria-hidden="true"></b></a>
                      <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                        <a href="#" role="menuitem" class="dropdown-item">Action</a>
                        <a href="#" role="menuitem" class="dropdown-item">Another action</a>
                        <a href="#" role="menuitem" class="dropdown-item">Something else here</a>
                        <div role="presentation" class="dropdown-divider"></div>
                        <a href="#" role="menuitem" class="dropdown-item">Separated link</a>
                      </div>
                  </li>
              </ul>
          </div>

          <!-- Local nav with 2 level : 2nd level. Be careful about small devices, this component is not completely adapted -->
          <div class="navbar-collapse sublocal">
              <ul class="nav navbar-nav">
                  <li class="nav-item"><a class="nav-link" href="#">Natus error sit<div class='arrow' aria-hidden='true'></div></a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Accusantium<div class='arrow' aria-hidden='true'></div></a></li>
                  <li class="nav-item"><a class="nav-link active" href="#">Totam rem aperiam<div class='arrow' aria-hidden='true'></div></a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Sed ut<div class='arrow' aria-hidden='true'></div></a></li>
              </ul>
          </div>
        <!--</div>-->
      </nav>
    </div>
  </div><!-- /.container-fluid -->
</div>
