<h2 id="footer">Footer<a class="doc-link" href="../components/orange-footer/" title="go to footer documentation page"><span class="icon-Forward-curved-arrow"></span></a></h2>
<footer class="o-footer" role="contentinfo">
  <h1 class="sr-only">footer - site map & informations</h1>
  <div class="container-fluid o-footer-top">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-6 col-12">
        <ul>
          <li>
            <h2>Sed ut perspiciatis</h2></li>
          <li><a href="#">Unde omnis istea</a></li>
          <li><a href="#">Natus error sit</a></li>
          <li><a href="#">Voluptatem</a></li>
          <li><a href="#">Totam rem aperiam</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-12">
        <ul>
          <li>
            <h2>Voluptatem accusantium</h2></li>
          <li><a href="#">Natus error sit</a></li>
          <li><a href="#">Unde omnis istea</a></li>
          <li><a href="#">Voluptatem</a></li>
          <li><a href="#">Doloremque</a></li>
          <li><a href="#">Totam rem aperiam</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-12">
        <ul>
          <li>
            <h2>Natus error sit</h2></li>
          <li><a href="#">Doloremque</a></li>
          <li><a href="#">Totam rem aperiam</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-12">
        <ul>
          <li>
            <h2>Doloremque laudantium</h2></li>
          <li><a href="#">Doloremque</a></li>
          <li><a href="#">Unde omnis istea</a></li>
          <li><a href="#">Voluptatem</a></li>
          <li><a href="#">Totam rem aperiam</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-12">
        <ul>
          <li>
            <h2>Totam rem aperiam</h2></li>
          <li><a href="#">Totam rem aperiam</a></li>
          <li><a href="#">Unde omnis istea</a></li>
          <li><a href="#">Natus error sit</a></li>
          <li><a href="#">Voluptatem</a></li>
          <li><a href="#">Doloremque</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-12">
        <ul>
          <li>
            <h2>Accusantium</h2></li>
          <li><a href="#">Unde omnis istea</a></li>
          <li><a href="#">Natus error sit</a></li>
          <li><a href="#">Voluptatem</a></li>
          <li><a href="#">Totam rem aperiam</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="nav navbar-nav">
          <li><a href="#">Contact us</a></li>
          <li><a href="#"><span class="icon-orange-location"></span>Locate a store</a></li>
          <li><a href="#">Coverage map</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Child protection</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="o-footer-bottom">
    <ul>
      <li>© Orange 2015</li>
      <li><a href="#">Natus error sit</a></li>
      <li><a href="#">Voluptatem</a></li>
      <li><a href="#">Totam rem aperiam</a></li>
      <li><a href="#">Unde omnis istea</a></li>
      <li><a href="#">Natus error sit</a></li>
      <li><a href="#">Voluptatem</a></li>
    </ul>
  </div>
</footer>