<!-- Progress bars
================================================== -->
<h2 id="progress">Progress bars</h2>

<h3 id="progress-basic">Basic</h3>
<progress class="progress progress-default" value="60" max="100">60%</progress>

<h3 id="progress-alternatives">Contextual alternatives</h3>
<progress class="progress progress-info" value="20" max="100">20%</progress>
<progress class="progress progress-success" value="40" max="100">40%</progress>
<progress class="progress progress-warning" value="60" max="100">60%</progress>
<progress class="progress progress-danger" value="80" max="100">80%</progress>

<h3 id="progress-striped">Striped</h3>
<progress class="progress progress-striped progress-info" value="20" max="100">20%</progress>
<progress class="progress progress-striped progress-success" value="40" max="100">40%</progress>
<progress class="progress progress-striped progress-warning" value="60" max="100">60%</progress>
<progress class="progress progress-striped progress-danger" value="80" max="100">80%</progress>

<h3 id="progress-animated">Animated</h3>
<progress class="progress progress-striped progress-animated" value="45" max="100">45%</progress>
