<h2 id="stepbar" class="">Stepbar</h21>
<p class="lead">Indicate the current step within a sequential navigation.</p>
<h3 id="stepbar-default">Default stepbar</h3>

<div class="" data-example-id="default-stepbar">
    <div class="">
        <div class="row">
            <ul class="o-stepbar" data-steps="5">
                <li class="done stepbar-item">
                    <a class="stepbar-link" href="#" title="Step 1 : sign in">
                        <span class="">1.</span>
                        <span class="hidden-sm-down">Sign in</span>
                    </a>
                </li>
                <li class="stepbar-item current">
                    <a class="stepbar-link" href="#" title="Step 2 : Review">
                        <span class="">2.</span>
                        <span class="hidden-sm-down">Review</span>
                    </a>
                </li>
                <li class="stepbar-item next">
                    <a class="stepbar-link" href="#" title="Step 3 : Delivery">
                        <span class="">3.</span>
                        <span class="hidden-sm-down">Delivery</span>
                    </a>
                </li>
                <li class="stepbar-item next">
                    <a class="stepbar-link" href="#" title="Step 4 : Payment">
                        <span class="">4.</span>
                        <span class="hidden-sm-down">Payment</span>
                    </a>
                </li>
                <li class="stepbar-item next">
                    <a class="stepbar-link" href="#" title="Step 5 : Place order">
                        <span class="">5.</span>
                        <span class="hidden-sm-down">Place order</span>
                    </a>
                </li>
          </ul>
      </div>
    </div><!-- /.container-fluid -->
</div>
