<h2 id="stepbar" class="">Stepbar</h21>
<p class="lead">Indicate the current step within a sequential navigation.</p>
<h3 id="stepbar-default">Default stepbar</h3>

<div class="" data-example-id="default-stepbar">
    <div class="container-fluid">
      <div class="row">
          <ul class="o-wizard-step-bar" data-steps="5">
              <li class="visited">
                  <div>
                      <div><span class="hidden-sm-down">Step&nbsp;</span> 1</div>
                      <div><a href="#" title="Step 1&nbsp;: Voluptatem" class="hidden-sm-down hidden-md-down">Voluptatem</a></div>
                  </div>
              </li>
              <li class="visited">
                  <div class="arrow" aria-hidden="true"></div>
                  <div>
                      <div><span class="hidden-sm-down">Step&nbsp;</span> 2</div>
                      <div><a href="#" title="Step 2&nbsp;: Aperiam" class="hidden-sm-down hidden-md-down">Aperiam</a></div>
                  </div>
              </li>
              <li class="on">
                  <div class="arrow" aria-hidden="true"></div>
                  <div>
                      <div><span class="hidden-sm-down">Step&nbsp;</span> 3</div>
                      <div><span class="hidden-sm-down hidden-md-down">Accusantinum</span></div>
                  </div>
              </li>
              <li class="next">
                  <div class="arrow" aria-hidden="true"></div>
                  <div>
                      <div><span class="hidden-sm-down">Step&nbsp;</span> 4</div>
                      <div><span class="hidden-sm-down hidden-md-down">Ipsam</span></div>
                  </div>
              </li>
              <li class="next">
                  <div class="arrow" aria-hidden="true"></div>
                  <div>
                      <div><span class="hidden-sm-down">Step&nbsp;</span> 5</div>
                      <div><span class="hidden-sm-down hidden-md-down">Aspernatur</span></div>
                  </div>
              </li>
          </ul>
      </div>
    </div><!-- /.container-fluid -->
</div>
