<h2 id="stepbar">Stepbar</h2>
<p class="lead">Indicate the current step within a sequential navigation.</p>

<div data-example-id="default-stepbar">
    <div class="row">
        <nav class="o-stepbar">
            <ol>
                <li class="stepbar-item current">
                    <a class="stepbar-link" href="#" title="Step 1 : sign in">
                        <span class="step-number">1</span>
                        <span class="step-title">Sign in</span>
                    </a>
                </li>
                <li class="stepbar-item next">
                    <a class="stepbar-link" href="#" title="Step 2 : Review">
                        <span class="step-number">2</span>
                        <span class="step-title">Review</span>
                    </a>
                </li>
                <li class="stepbar-item next">
                    <a class="stepbar-link" href="#" title="Step 3 : Delivery">
                        <span class="step-number">3</span>
                        <span class="step-title">Delivery</span>
                    </a>
                </li>
                <li class="stepbar-item next">
                    <a class="stepbar-link" href="#" title="Step 4 : Payment">
                        <span class="step-number">4</span>
                        <span class="step-title">Payment</span>
                    </a>
                </li>
                <li class="stepbar-item next">
                    <a class="stepbar-link" href="#" title="Step 5 : Place order">
                        <span class="step-number">5</span>
                        <span class="step-title">Place order</span>
                    </a>
                </li>
          </ol>
      </nav>
    </div><!-- row -->

    <div style="margin-bottom: 1rem;"></div>

    <div class="row">
        <nav class="o-stepbar">
            <ol>
                <li class="done stepbar-item">
                    <a class="stepbar-link" href="#" title="Step 1 : sign in">
                        <span class="step-number">1</span>
                        <span class="step-title">Sign in</span>
                    </a>
                </li>
                <li class="stepbar-item current">
                    <a class="stepbar-link" href="#" title="Step 2 : Review">
                        <span class="step-number">2</span>
                        <span class="step-title">Review</span>
                    </a>
                </li>
                <li class="stepbar-item next">
                    <a class="stepbar-link" href="#" title="Step 3 : Delivery">
                        <span class="step-number">3</span>
                        <span class="step-title">Delivery</span>
                    </a>
                </li>
                <li class="stepbar-item next">
                    <a class="stepbar-link" href="#" title="Step 4 : Payment">
                        <span class="step-number">4</span>
                        <span class="step-title">Payment</span>
                    </a>
                </li>
                <li class="stepbar-item next">
                    <a class="stepbar-link" href="#" title="Step 5 : Place order">
                        <span class="step-number">5</span>
                        <span class="step-title">Place order</span>
                    </a>
                </li>
          </ol>
      </nav>
    </div><!-- row -->

    <div style="margin-bottom: 1rem;"></div>

    <div class="row">
        <nav class="o-stepbar">
            <ol>
                <li class="stepbar-item done">
                    <a class="stepbar-link" href="#" title="Step 1 : sign in">
                        <span class="step-number">1</span>
                        <span class="step-title">Sign in</span>
                    </a>
                </li>
                <li class="stepbar-item done">
                    <a class="stepbar-link" href="#" title="Step 2 : Review">
                        <span class="step-number">2</span>
                        <span class="step-title">Review</span>
                    </a>
                </li>
                <li class="stepbar-item done">
                    <a class="stepbar-link" href="#" title="Step 3 : Delivery">
                        <span class="step-number">3</span>
                        <span class="step-title">Delivery</span>
                    </a>
                </li>
                <li class="stepbar-item done">
                    <a class="stepbar-link" href="#" title="Step 4 : Payment">
                        <span class="step-number">4</span>
                        <span class="step-title">Payment</span>
                    </a>
                </li>
                <li class="stepbar-item current">
                    <a class="stepbar-link" href="#" title="Step 5 : Place order">
                        <span class="step-number">5</span>
                        <span class="step-title">Place order</span>
                    </a>
                </li>
          </ol>
      </nav>
    </div><!-- row -->
</div>
