<h2 id="switches">Toggle and switches</h2>

<h3>Switch</h3>

<div class="switch form-group row">
    <label for="switch" class="form-control-label col-md-4 col-xs-8">WiFi</label>
    <input id="switch" class="sr-only toggle" type="checkbox">
    <label for="switch" aria-hidden="true" class="form-control-label col-md-3"></label>
</div>

<div class="switch form-group row">
    <label for="switch2" class="form-control-label col-md-4 col-xs-8">Bluetooth</label>
    <input id="switch2" class="sr-only toggle" type="checkbox">
    <label for="switch2" aria-hidden="true" class="form-control-label col-md-3"></label>
</div>

<div class="switch form-group row">
    <label for="switch3" class="form-control-label col-md-4 col-xs-8">Notifications</label>
    <input id="switch3" class="sr-only toggle" type="checkbox">
    <label for="switch3" aria-hidden="true" class="form-control-label col-md-3"></label>
</div>

<h3>3 way toggle</h3>

<div class="btn-group" data-toggle="buttons" role="group">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> 1
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> 2
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> 3
  </label>
</div>

<h3>3 way toggle without outline</h3>

<div class="btn-group no-outline" data-toggle="buttons" role="group">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> 1
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> 2
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> 3
  </label>
</div>