<h2 class="d-flex mt-5">Badge <a class="doc-link d-inline-flex align-items-center ml-2" href="/docs/{{ .Site.Params.docs_version }}/components/badge/" aria-label="Go to badge documentation page"></a></h2>
<div class="container">
  <div class="mb-5">
    <span class="badge badge-primary">Primary</span>
    <span class="badge badge-secondary">Secondary</span>
    <span class="badge badge-success">Success</span>
    <span class="badge badge-danger">Danger</span>
    <span class="badge badge-warning">Warning</span>
    <span class="badge badge-info">Info</span>
    <span class="badge badge-light">Light</span>
    <span class="badge badge-dark">Dark</span>
  </div>
</div>
