<h2 id="link">Links<a class="doc-link d-inline-flex align-items-center ml-2" href="/docs/{{ .Site.Params.docs_version }}/content/typography/#links" aria-label="Go to typography documentation page"></a></h2>
<a href="#">This is a sample default link</a>
<h3 id="o-link-arrow">Link with arrow</h3>
<a href="#" class="o-link-arrow">This is a sample link with arrow</a>
<h3 id="o-link-arrow-back">Link with arrow back</h3>
<a href="#" class="o-link-arrow back">This is a sample link with arrow for backward</a>
