/* general */

html,
body {
  height: 100%;
}

h1,
h2,
h3 {
  letter-spacing: -.03em;
}

/* page header */

header {
  padding: 1.25rem;
  overflow: hidden;
  border-bottom: 1px solid #000;
}

header h1 {
  float: left;
  margin: 0 0 0 1.25rem;
}

header .btn {
  float: left;
}

.btn.svg-arrow-previous {
  padding-left: 2rem;
  transition: none;
}

.btn.svg-arrow-previous::after {
  top: .6875rem;
  left: .8125rem;
  width: .5625rem;
  height: .875rem;
}

/* shop page */

main {
  margin-bottom: 10rem;
}

/* shop header */

.shop-category {
  padding: 1.875rem 0;
}

.shop-category h2 {
  display: inline-block;
  margin: 0;
}

.shop-category button {
  float: right;
}

/* device preview */

.device-preview {
  height: 18.75rem;
}

.device-preview img{
  width: auto;
  height: 100%;
}

/* device data */

.device-data h3 {
  min-height: 3rem;
  margin-top: 1.25rem;
  margin-bottom: .625rem;
  line-height: 1;
}

/* rating */

.rating {
  padding-left: 5.25rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background: url("../img/stars_sprite.png") no-repeat;
  background-size: 5rem auto;
}

.rating.rated-5 {
  background-position: 0 -9.375rem;
}

.rating.rated-4 {
  background-position: 0 -7.4375rem;
}

/* discount */

.discount {
  padding-left: 2.5rem;
  margin: .625rem 0;
  font-weight: 700;
  line-height: 1.875rem;
  background: url("../img/label_discount.png") no-repeat;
  background-size: 7.5rem auto;
}

/* pricing */

.pricing {
  padding-top: 5.375rem;
  font-weight: 700;
  line-height: 1;
}

.pricing.has-discount {
  padding-top: 0;
}


.pricing p {
  margin: 0;
}

.pricing .currency-fcfa {
  font-size: .75rem;
  font-weight: 700;
}

.pricing .from {
  font-size: 1rem;
}

.pricing .old-price{
  font-size: 1.25rem;
  text-decoration: line-through;
}

.pricing .price {
  margin-bottom: .375rem;
  font-size: 1.5rem;
  line-height: 1;
  color: #f16e00;
}

.pricing + ul {
  min-height: 8.75rem;
  padding-left: .875rem;
  margin-bottom: .625rem;
  font-size: 1rem;
  font-weight: 700;
  list-style-type: square;
}

/* mobile view */
@media (max-width: 767px) {
  .col-sm-12 {
    margin-bottom: 2.5rem;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
  }
  .device-preview {
    float: left;
    width: 50%;
    max-height: 12.5rem;
  }

  .device-data {
    float: right;
    width: 50%;
  }

  .device-data h3{
    margin-top: 0;
  }

  .device-data button {
    margin-bottom: 2.5rem;
  }
}
