.anchor-link {
  padding: 0 .175rem;
  font-weight: 400;
  color: rgba(var(--#{$prefix}link-color), .5); // Boosted mod
  text-decoration: none;
  opacity: 0;
  @include transition(color .15s ease-in-out, opacity .15s ease-in-out);

  &::after {
    content: "#";
  }

  &:hover,
  :hover > &,
  :target > & {
    color: var(--#{$prefix}link-color); // Boosted mod
    text-decoration: none;
    opacity: 1;
  }

  // Boosted mod
  &:focus {
    &[data-focus-visible-added] {
      @include focus-visible();
    }
  }
  // End mod
}
