.anchorjs-link {
  // stylelint-disable-next-line declaration-no-important
  padding: 0 map-get($spacers, 1) !important; // Boosted mod
  font-weight: 400;
  color: rgba($link-color, .5);
  @include transition(color .15s ease-in-out, $transition-focus); // Boosted mod

  &:focus,
  &:hover {
    color: $link-color;
    text-decoration: none;
  }

  // Boosted mod
  &:focus {
    outline-offset: 0;
  }
  // End mod
}
