.anchor-link {
  padding: 0 .175rem;
  font-weight: 400;
  color: rgba(var(--bs-link-color), .5); // OUDS mod
  text-decoration: none;
  opacity: 0;
  @include transition(color .15s ease-in-out, opacity .15s ease-in-out);

  &::after {
    content: "#";
  }

  &:focus,
  &:hover,
  :hover > &,
  :target > & {
    color: var(--bs-link-color); // OUDS mod
    text-decoration: none;
    opacity: 1;
  }
}
