// stylelint-disable selector-max-id
html,
body {
  min-height: 100vh;
}

//
// Boosted logo
//
// use HTML+CSS for Boosted 3D logo
// 1. Everything is em based, so we only play with font-size for RWD
#boosted {
  width: 25em;
  height: 25em;
  font-size: 36%; // 1
  box-shadow: -2em 2em $gray-600, -4em 4em $gray-300;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(-45deg) scale(.7);

  @include media-breakpoint-up(sm) {
    font-size: xx-small;
  }

  @include media-breakpoint-up(md) {
    font-size: x-small;
  }

  @include media-breakpoint-up(lg) {
    font-size: small;
  }

  @include media-breakpoint-up(xl) {
    font-size: medium;
  }
}

.display-0 {
  font-size: 5.25em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

#orange-logo ~ .row .ratio .figure-caption {
  bottom: -#{$spacer * 1.5};

  @include media-breakpoint-up(lg) {
    bottom: -#{$spacer};
  }
}

// Back to top offset
[id="#{$back-to-top-target-id}"]:target {
  @include media-breakpoint-up(md) {
    scroll-margin-top: $offset-top;
  }
}

// Design guidelines

.ods-guidelines {
  background-color: var(--bs-secondary-bg);

  .card a{
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      content: "";
      background-color: $accessible-orange;
      @include transition(height ease-out .2s);
    }

    &:hover::before {
      height: 4px;
    }
  }
}
