// stylelint-disable selector-max-id
:root {
  scroll-padding-top: $offset-top / 2;

  @include media-breakpoint-up(lg) {
    scroll-padding-top: $offset-top;
  }
}

html,
body {
  min-height: 100vh;
}

.display-0 {
  font-size: 5.25em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

#orange-logo ~ .row .ratio .figure-caption {
  bottom: -#{$spacer * 1.5};

  @include media-breakpoint-up(lg) {
    bottom: -#{$spacer};
  }
}

// Back to top offset
[id="#{$back-to-top-target-id}"]:target {
  @include media-breakpoint-up(md) {
    scroll-margin-top: $offset-top;
  }
}

// Design guidelines

.ods-guidelines {
  background-color: var(--bs-secondary-bg);

  .card a{
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      content: "";
      background-color: var(--bs-primary);
      @include transition(height ease-out .2s);
    }

    &:hover::before {
      height: 4px;
    }
  }
}
