//
// Callouts
//

.bd-callout {
  padding: $spacer; // Boosted mod
  margin-top: $spacer; // Boosted mod
  margin-bottom: $spacer; // Boosted mod
  background-color: $gray-200; // Boosted mod
  border-left: $spacer / 2 solid $gray-200; // Boosted mod
  @include border-radius();

  h4 {
    margin-bottom: .25rem;
  }

  p:last-child,
  .highlight:last-child {
    margin-bottom: 0;
  }

  code {
    @include border-radius();
  }

  + .bd-callout {
    margin-top: -.25rem;
  }
}

// Variations
.bd-callout-info {
  border-left-color: $bd-info;
}

.bd-callout-warning {
  border-left-color: $bd-warning;
}

.bd-callout-danger {
  border-left-color: $bd-danger;
}
