//
// Callouts
//

.bd-callout {
  padding: $spacer; // Boosted mod
  margin-top: $spacer; // Boosted mod
  margin-bottom: $spacer; // Boosted mod
  background-color: $gray-200; // Boosted mod
  border-left: $spacer / 2 solid $gray-200; // Boosted mod
  @include border-radius();

  h4 {
    margin-bottom: .25rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    @include border-radius();
  }

  + .bd-callout {
    margin-top: -.25rem;
  }
}

// Variations
@mixin bs-callout-variant($color) {
  background-color: tint-color($color, 11); // Boosted mod
  border-left-color: $color; // Boosted mod

  h4 { color: $color; }
}

.bd-callout-info { @include bs-callout-variant($bd-info); }
.bd-callout-warning { @include bs-callout-variant($bd-warning); }
.bd-callout-danger { @include bs-callout-variant($bd-danger); }
