//
// Callouts
//

.bd-callout {
  // OUDS mod: no `--#{$prefix}link-color-rgb` to keep our links black
  // OUDS mod: no `--#{$prefix}code-color` to keep our text black

  padding: $spacer; // OUDS mod
  margin-top: $spacer; // OUDS mod
  margin-bottom: $spacer; // OUDS mod
  color: var(--bd-callout-color, inherit);
  background-color: var(--bd-callout-bg, var(--#{$prefix}color-surface-status-neutral)); // OUDS mod
  // OUDS mod: no border-left

  h4 {
    margin-bottom: .25rem;
  }

  > :last-child {
    margin-bottom: 0;
  }

  + .bd-callout {
    margin-top: -.25rem;
  }

  // OUDS mod: no .highlight
}

// Variations
@each $variant in $bd-callout-variants {
  .bd-callout-#{$variant} {
    $name: $variant;
    @if ($variant == "danger") {
      $name: "negative";
    } @else if ($variant == "success") {
      $name: "positive";
    }
    --bd-callout-color: var(--#{$prefix}color-content-on-status-#{$name}muted); // OUDS mod: instead of `var(--bs-#{$variant}-text-emphasis)`
    --bd-callout-bg: var(--#{$prefix}color-surface-status-#{$name}-muted); // OUDS mod: instead of `var(--bs-#{$variant}-bg-subtle)`
    // OUDS mod: no --bd-callout-border
  }
}
