// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.bd-clipboard,
.bd-edit {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.btn-clipboard,
.btn-edit {
  display: block;
  padding: .5em;
  line-height: 1;
  // Boosted mod: no specific color
  background-color: $gray-100;
  border: 0;
  @include border-radius(.25rem);

  &:hover {
    color: $primary;
  }

  &:focus {
    z-index: 3;
  }

  // Boosted mod
  .bi {
    width: 1.8125rem;
    height: 1.8125rem;
  }
  // End mod
}

.btn-clipboard {
  position: relative;
  z-index: 2;
  margin-top: $border-width; // Boosted mod
  margin-right: $border-width; // Boosted mod
}

/* .highlight-toolbar {
  .btn-clipboard {
    margin-top: 0;
    margin-right: 0;
  }
} */
