// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.bd-clipboard,
.bd-edit {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.btn-clipboard,
.btn-edit {
  display: block;
  padding: .5em;
  line-height: 1;
  // Boosted mod: no specific color
  background-color: $gray-100;
  border: 0;
  @include border-radius(.25rem);

  ////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////
  // TODO: see if we can't use a btn-* class instead
  ////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////
  &:hover {
    color: $primary;
  }

  &:focus {
    z-index: 3;
  }

  // Boosted mod
  .bi {
    width: 1.4em;
    height: 1.4em;
  }
  // End mod
}

.btn-clipboard {
  position: relative;
  z-index: 2;
  ////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////
  // TODO: check all cases
  // TODO: see if we can't use $border-something
  // TODO: px >>> rem
  ////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////
  margin-top: 2px; // Boosted mod
  margin-right: 2px; // Boosted mod
}

////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
// Boosted mod: removed it in favor of using utility classes
// in shortcodes > example.html
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////

/* .highlight-toolbar {
  .btn-clipboard {
    margin-top: 0;
    margin-right: 0;
  }
} */
