// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.bd-clipboard,
.bd-edit {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }
}

// Boosted mod
.btn-clipboard,
.btn-edit {
  position: absolute;
  right: 0;
  z-index: 10;
  @include border-radius();
}
// End mod

.btn-edit {
  right: 3.8rem; // Boosted mod
}
