// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.bd-clipboard,
.bd-edit {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.btn-clipboard,
.btn-edit {
  display: block;
  padding: .5em;
  line-height: 1;
  color: var(--bs-body-color);
  background-color: transparent; // Boosted mod: so that the focus-visible outline in the source code area is rendered behind this surface
  border: 0;
  @include border-radius(.25rem);

  &:hover {
    color: var(--bs-link-hover-color); // Boosted mod
  }

  // Boosted mod: no focus rule

  // Boosted mod
  .bi {
    width: 1.4em;
    height: 1.4em;
  }
  // End mod
}

.btn-clipboard {
  position: relative;
  z-index: 2;
  margin-top: var(--#{$prefix}border-width); // Boosted mod
  margin-right: var(--#{$prefix}border-width); // Boosted mod
}
