//
// Docs examples
//

.bd-code-snippet {
  display: flex; // OUDS mod
  flex-direction: column; // OUDS mod
  margin-bottom: var(--bs-space-scaled-xs); // OUDS mod: instead of `margin: 0 ($bd-gutter-x * -.5) 1rem`
  border: solid var(--bs-color-border-default); // OUDS mod: instead of `var(--bs-border-color)`
  border-width: 1px; // OUDs mod: instead of `border-width: 1px 0`

  @include media-breakpoint-up(md) {
    // OUDS mod: no margin-right, margin-left, border-width
    @include border-radius(var(--bs-border-radius));
  }

  // OUDS mod
  .btn-minimal.btn-icon {
    display: none;

    @include media-breakpoint-up(md) {
      display: inline-flex;
    }
  }
  // End mod
}

.bd-example {
  --bd-example-padding: 1rem;

  position: relative;
  padding: var(--bd-example-padding);
  margin: 0 ($bd-gutter-x * -.5) 1rem;
  border: solid var(--bs-color-border-default); // OUDS mod: instead of `var(--bs-border-color)`
  border-width: 1px 0;
  @include clearfix();

  @include media-breakpoint-up(md) {
    --bd-example-padding: 1.5rem;

    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    @include border-radius(var(--bs-border-radius));
  }

  + p {
    margin-top: 2rem;
  }

  > .form-control {
    + .form-control {
      margin-top: .5rem;
    }
  }

  > .nav + .nav,
  > .navbar + .navbar,
  > .progress + .progress {
    margin-top: $spacer;
  }

  > .dropdown-menu {
    position: static;
    display: block;
  }

  > :last-child,
  > nav:last-child .breadcrumb {
    margin-bottom: 0;
  }

  > hr:last-child {
    margin-bottom: $spacer;
  }

  // Images
  > svg + svg,
  > img + img {
    margin-left: .5rem;
  }

  // Buttons
  &.bd-btn-example {
    .btn,
    .btn-group {
      margin: .375rem;
    }
  }

  > .btn-toolbar + .btn-toolbar {
    margin-top: .5rem;
  }

  // List groups
  > .list-group {
    max-width: 25rem;
  }

  > [class*="list-group-horizontal"] {
    max-width: 100%;
  }

  // Navbars
  .fixed-top,
  .sticky-top {
    position: static;
    margin: calc(-1 * var(--bd-example-padding)) calc(-1 * var(--bd-example-padding)) var(--bd-example-padding); // stylelint-disable-line function-disallowed-list
  }

  .fixed-bottom,
  .sticky-bottom {
    position: static;
    margin: var(--bd-example-padding) calc(-1 * var(--bd-example-padding)) calc(-1 * var(--bd-example-padding)); // stylelint-disable-line function-disallowed-list

  }

  // Pagination
  .pagination {
    margin-bottom: 0;
  }
}

//
// Grid examples
//

// OUDS mod: Adjust container padding within the documentation to prevent excessive spacing
@each $breakpoint, $gutter-width in $grid-gutter-widths {
  @include media-breakpoint-up($breakpoint) {
    .bd-example-row [class^="container"] {
      padding-right: $gutter-width * .5;
      padding-left: $gutter-width * .5;
    }

    .bd-example-cols [class^="container"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
// End mod

.bd-example-row [class^="col"],
.bd-example-cols [class^="col"] > *,
.bd-example-cssgrid [class*="grid"] > * {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(var(--bd-primary-light-rgb), .15);
  border: 1px solid rgba(var(--bd-primary-light-rgb), .3);
}

.bd-example-row .row + .row,
.bd-example-cssgrid .grid + .grid {
  margin-top: 1rem;
}

.bd-example-row-flex-cols .row {
  min-height: 10rem;
  background-color: rgba(var(--bd-primary-light-rgb), .15);
}

.bd-example-flex div:not(.vr) {
  background-color: rgba(var(--bd-primary-light-rgb), .15);
  border: 1px solid rgba(var(--bd-primary-light-rgb), .3);
}

// OUDS mod
.bd-example-spacings {
  background-color: rgba(var(--bd-primary-light-rgb), .15);
}

.bd-example-spacings div {
  padding: $ouds-space-fixed-short;
  background-color: rgba(var(--bd-primary-light-rgb), .15);
  border: 1px solid rgba(var(--bd-primary-light-rgb), .3);
}
// End mod

// Grid mixins
.example-container {
  width: 50rem;
  @include make-container();
}

.example-row {
  @include make-row();
}

.example-content-main {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}

.example-content-secondary {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
}

// Ratio helpers
.bd-example-ratios {
  .ratio {
    display: inline-block;
    width: 9rem; // OUDS mod
    font-weight: $font-weight-bold; // OUDS mod
    color: var(--#{$prefix}color-content-muted); // OUDS mod: instead of `var(--bs-secondary-color)`
    background-color: var(--#{$prefix}color-bg-secondary); // OUDS mod: instead of `var(--bs-tertiary-bg)`
    border: var(--bs-border-width) solid var(--bs-color-border-default); // OUDS mod: instead of `var(--bs-border-width) solid var(--bs-border-color)`

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.bd-example-ratios-breakpoint {
  .ratio-4x3 {
    width: 16rem;

    @include media-breakpoint-up(md) {
      --bs-aspect-ratio: 50%; // 2x1
    }
  }
}

.bd-example-offcanvas {
  .offcanvas {
    position: static;
    display: block;
    height: 12.5rem;
    visibility: visible;
    transform: translate(0);
  }
}

// Tooltips
.tooltip-demo {
  a {
    white-space: nowrap;
  }

  .btn {
    margin: .25rem .125rem;
  }
}

// scss-docs-start custom-tooltip
.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-color-always-white);
}
// scss-docs-end custom-tooltip

// scss-docs-start custom-popovers
.custom-popover {
  --bs-popover-max-width: 12.5rem;
  --bs-popover-border-color: var(--bd-violet-bg);
  --bs-popover-header-bg: var(--bd-violet-bg);
  --bs-popover-header-padding-y: .5rem; // OUDS mod
  --bs-popover-header-color: var(--bs-color-always-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}
// scss-docs-end custom-popovers

// Scrollspy demo on fixed height div
.scrollspy-example {
  height: 12.5rem;
  margin-top: .5rem;
  overflow: auto;
}

.scrollspy-example-2 {
  height: 21.875rem;
  overflow: auto;
}

// OUDS mod
.simple-list-example-scrollspy .active {
  color: var(--#{$prefix}color-content-brand-primary);
}
// End mod

.bd-example-border-utils {
  [class^="border"] {
    display: inline-block;
    flex-shrink: 0;
    width: 5rem;
    height: 5rem;
    margin: .25rem;
    background-color: var(--#{$prefix}color-bg-secondary);
  }
}

.bd-example-rounded-utils {
  [class*="rounded"] {
    margin: .25rem;
  }
}

.bd-example-position-utils {
  position: relative;
  padding: 2rem;

  .position-relative {
    height: 12.5rem;
    background-color: var(--#{$prefix}color-bg-secondary);
  }

  .position-absolute {
    width: 2rem;
    height: 2rem;
    background-color: var(--#{$prefix}color-bg-emphasized);
    @include border-radius();
  }
}

.bd-example-position-examples {
  &::after {
    content: none;
  }
}

// Placeholders
.bd-example-placeholder-cards {
  &::after {
    display: none;
  }

  .card {
    width: 18rem;
  }
}

// Toasts
.bd-example-toasts {
  min-height: 15rem;
}

.bd-example-zindex-levels {
  min-height: 16.625rem; // OUDS mod: instead of `15rem`

  > div {
    // OUDS mod: no `color`
    background-color: var(--bd-primary-light);
    border: 1px solid var(--bs-color-border-brand-primary);

    > span {
      position: absolute;
      right: 5px;
      bottom: 0;
    }
  }

  > :nth-child(2) {
    top: 3rem;
    left: 3rem;
  }
  > :nth-child(3) {
    top: 4.5rem;
    left: 4.5rem;
  }
  > :nth-child(4) {
    top: 6rem;
    left: 6rem;
  }
  > :nth-child(5) {
    top: 7.5rem;
    left: 7.5rem;
  }
}

//
// Code snippets
//

.highlight {
  position: relative;
  padding: .75rem .75rem 0; // OUDS mod: instead of ` padding: .75rem ($bd-gutter-x * .5)`
  white-space: nowrap; // OUDS mod
  background-color: var(--bd-pre-bg);

  @include media-breakpoint-up(md) {
    padding-right: 3.5rem; // OUDS mod: instead of `padding: .75rem 1.25rem`
    @include border-radius(calc(var(--bs-border-radius) - 1px));
  }

  @include media-breakpoint-up(lg) {
    pre {
      margin-right: 1.875rem;
    }
  }

  pre {
    padding: 0 0 .75rem; // OUDS mod: instead of `padding: .25rem 0 .875rem`
    margin: .5rem 0; // OUDS mod: instead of `margin-top: .8125rem` and `margin-bottom: 0`
    overflow: overlay;
    white-space: pre;
    background-color: transparent;
    border: 0;
  }

  pre code {
    @include font-size(inherit);
    color: var(--#{$prefix}color-content-default); // OUDS mod: instead of `var(--bs-body-color)`
    word-wrap: normal;
  }
}

.bd-example-snippet .highlight pre {
  margin-right: 0;
}

.highlight-toolbar {
  background-color: var(--bd-pre-bg);

  + .highlight {
    @include border-top-radius(0);
  }
}

.bd-file-ref {
  position: relative; // OUDS mod

  .highlight-toolbar {
    min-height: 3.5625rem; // OUDS mod

    @include media-breakpoint-up(md) {
      @include border-top-radius(calc(var(--bs-border-radius) - 1px));
    }
  }
}

// OUDS mod: no .bd-content .bd-code-snippet

// OUDS mod
// scss-docs-start sticker-fs-4xl
.sticker-fs-4xl {
  font-size: 3.75rem;
  line-height: 1;
  letter-spacing: -.125rem;
}
// scss-docs-end sticker-fs-4xl

// scss-docs-start sticker-fs-l-3xl
// scss-docs-start sticker-fs-3xl
.sticker-fs-3xl {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -.0625rem;
}
// scss-docs-end sticker-fs-3xl

.sticker-fs-l {
  font-size: 1.5rem;
  line-height: calc(26 / 24); // stylelint-disable-line function-disallowed-list
  letter-spacing: -.03125rem;
}
// scss-docs-end sticker-fs-l-3xl

// scss-docs-start sticker-fs-xl
.sticker-fs-xl {
  font-size: 1.875rem;
  line-height: calc(32 / 30); // stylelint-disable-line function-disallowed-list
  letter-spacing: -.05rem;
}
// scss-docs-end sticker-fs-xl

.color-copy:hover > svg {
  transform: scale(1.07);
}

.color-copy > svg {
  transition: transform .15s ease-in-out; // stylelint-disable-line property-disallowed-list
}

.double-figure-svg {
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, $ouds-color-functional-white, $ouds-color-functional-white 50%, $ouds-color-functional-dark-gray-880 50%, $ouds-color-functional-dark-gray-880 100%);
}

.double-figure {
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, $ouds-color-functional-white, $ouds-color-functional-white calc((100% - 1.875rem) * .5), $ouds-color-functional-dark-gray-880 calc((100% - 1.875rem) * .5), $ouds-color-functional-dark-gray-880 calc(100% - 1.875rem), transparent calc(100% - 1.875rem)); // stylelint-disable-line function-disallowed-list

  figcaption {
    height: 1.875rem;
    padding-top: 15px;
    white-space: nowrap;
  }
}

// scss-docs-start icon-home
.icon-home::before {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: bottom;
  content: "";
  background-color: currentcolor;
  background-size: contain;
  mask-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'><path d='M553.478 147.416v.017a74.956 74.956 0 0 0-107.08.13v-.021L100 500h150v300a75 75 0 0 0 75 75h350a75 75 0 0 0 75-75V500h150ZM580 537.52V755H362.5a37.5 37.5 0 0 1-37.5-37.5V500h217.5a37.5 37.5 0 0 1 37.5 37.5v.02Z'/></svg>"));
}
// scss-docs-end icon-home

// scss-docs-start icon-warning
.icon-warning::after {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: bottom;
  content: "";
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'><path fill='%23fc0' d='M500.497 125a93.94 93.94 0 0 1 81.09 46.517l328.62 562.5-.008.005a93.709 93.709 0 0 1-81.09 140.983H171.887a93.71 93.71 0 0 1-81.09-140.983l.765-1.326.036-.062 327.8-561.117C436.254 142.707 467.122 125 500.497 125Z'/><path d='M501.507 680.005c-26.233-.002-47.5 21.262-47.502 47.495s21.26 47.5 47.493 47.505a47.5 47.5 0 0 0 47.507-47.5c0-26.233-21.265-47.5-47.498-47.5m-.01-380.007c-26.238 0-47.507 21.27-47.507 47.507 0 .967.037 1.918.094 2.867l15.74 258.716.004.52c.288 17.092 14.355 23.53 31.667 23.53 17.486 0 31.662-6.568 31.67-24.05l15.7-258.121.057-.86a44 44 0 0 0 .082-2.602c0-26.238-21.27-47.507-47.507-47.507' fill='%23000'/></svg>");
  background-size: contain;
}
// scss-docs-end icon-warning
// End mod
