//
// Docs examples
//

.bd-code-snippet {
  margin: 0 ($bd-gutter-x * -.5) 1rem;
  border: solid $gray-400; // Boosted mod: instead of `var(--bs-border-color)`
  border-width: 1px 0;

  @include media-breakpoint-up(md) {
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    @include border-radius(var(--bs-border-radius));
  }
}

.bd-example {
  --bd-example-padding: 1rem;

  position: relative;
  padding: var(--bd-example-padding);
  margin: 0 ($bd-gutter-x * -.5) 1rem;
  border: solid $gray-400; // Boosted mod: instead of `var(--bs-border-color)`
  border-width: 1px 0;
  @include clearfix();

  @include media-breakpoint-up(md) {
    --bd-example-padding: 1.5rem;

    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    @include border-radius(var(--bs-border-radius));
  }

  + p {
    margin-top: 2rem;
  }

  > .form-control {
    + .form-control {
      margin-top: .5rem;
    }
  }

  > .nav + .nav,
  > .navbar + .navbar,
  > .progress + .progress {
    margin-top: $spacer;
  }

  > .dropdown-menu {
    position: static;
    display: block;
  }

  > :last-child,
  > nav:last-child .breadcrumb {
    margin-bottom: 0;
  }

  > hr:last-child {
    margin-bottom: $spacer;
  }

  // Images
  > svg + svg,
  > img + img {
    margin-left: .5rem;
  }

  // Buttons
  > .btn,
  > .btn-group {
    margin: .25rem .125rem;
  }
  > .btn-toolbar + .btn-toolbar {
    margin-top: .5rem;
  }

  // List groups
  > .list-group {
    max-width: 25rem;
  }

  > [class*="list-group-horizontal"] {
    max-width: 100%;
  }

  // Navbars
  .fixed-top,
  .sticky-top {
    position: static;
    margin: calc(-1 * var(--bd-example-padding)) calc(-1 * var(--bd-example-padding)) var(--bd-example-padding); // stylelint-disable-line function-disallowed-list
  }

  .fixed-bottom,
  .sticky-bottom {
    position: static;
    margin: var(--bd-example-padding) calc(-1 * var(--bd-example-padding)) calc(-1 * var(--bd-example-padding)); // stylelint-disable-line function-disallowed-list

  }

  // Pagination
  .pagination {
    margin-bottom: 0;
  }
}

//
// Grid examples
//

.bd-example-row [class^="col"],
.bd-example-cols [class^="col"] > *,
.bd-example-cssgrid [class*="grid"] > * {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(var(--bd-primary-light-rgb), .15);
  border: 1px solid rgba(var(--bd-primary-light-rgb), .3);
}

.bd-example-row .row + .row,
.bd-example-cssgrid .grid + .grid {
  margin-top: 1rem;
}

.bd-example-row-flex-cols .row {
  min-height: 10rem;
  background-color: rgba(var(--bd-primary-light-rgb), .15);
}

.bd-example-flex div:not(.vr) {
  background-color: rgba(var(--bd-primary-light-rgb), .15);
  border: 1px solid rgba(var(--bd-primary-light-rgb), .3);
}

// Grid mixins
.example-container {
  width: 50rem;
  @include make-container();
}

.example-row {
  @include make-row();
}

.example-content-main {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}

.example-content-secondary {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
}

// Ratio helpers
.bd-example-ratios {
  .ratio {
    display: inline-block;
    width: 9rem; // Boosted mod
    font-weight: $font-weight-bold; // Boosted mod
    color: $gray-800; // Boosted mod: instead of `var(--bs-secondary-color)`
    background-color: $gray-400; // Boosted mod: instead of `var(--bs-tertiary-bg)`
    border: var(--bs-border-width) solid $gray-500; // Boosted mod

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.bd-example-ratios-breakpoint {
  .ratio-4x3 {
    width: 16rem;

    @include media-breakpoint-up(md) {
      --bs-aspect-ratio: 50%; // 2x1
    }
  }
}

.bd-example-offcanvas {
  .offcanvas {
    position: static;
    display: block;
    height: 12.5rem;
    visibility: visible;
    transform: translate(0);
  }
}

// Tooltips
.tooltip-demo {
  a {
    white-space: nowrap;
  }

  .btn {
    margin: .25rem .125rem;
  }
}

// scss-docs-start custom-tooltip
.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}
// scss-docs-end custom-tooltip

// scss-docs-start custom-popovers
.custom-popover {
  --bs-popover-max-width: 12.5rem;
  --bs-popover-border-color: var(--bd-violet-bg);
  --bs-popover-header-bg: var(--bd-violet-bg);
  --bs-popover-header-padding-y: .5rem; // Boosted mod
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}
// scss-docs-end custom-popovers

// Scrollspy demo on fixed height div
.scrollspy-example {
  height: 12.5rem;
  margin-top: .5rem;
  overflow: auto;
}

.scrollspy-example-2 {
  height: 21.875rem;
  overflow: auto;
}

// Boosted mod
.simple-list-example-scrollspy .active {
  color: var(--bs-link-hover-color);
}
// End mod

.bd-example-border-utils {
  [class^="border"] {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: .25rem;
    background-color: var(--bs-tertiary-bg);
  }
}

.bd-example-rounded-utils {
  [class*="rounded"] {
    margin: .25rem;
  }
}

.bd-example-position-utils {
  position: relative;
  padding: 2rem;

  .position-relative {
    height: 12.5rem;
    background-color: var(--bs-tertiary-bg);
  }

  .position-absolute {
    width: 2rem;
    height: 2rem;
    background-color: var(--bs-body-color);
    @include border-radius();
  }
}

.bd-example-position-examples {
  &::after {
    content: none;
  }
}

// Placeholders
.bd-example-placeholder-cards {
  &::after {
    display: none;
  }

  .card {
    width: 18rem;
  }
}

// Toasts
.bd-example-toasts {
  min-height: 15rem;
}

.bd-example-zindex-levels {
  min-height: 16.625rem; // Boosted mod: instead of `15rem`

  > div {
    color: var(--bs-body-bg);
    background-color: var(--bd-primary-light);
    border: 1px solid var(--bd-primary);

    > span {
      position: absolute;
      right: 5px;
      bottom: 0;
    }
  }

  > :nth-child(2) {
    top: 3rem;
    left: 3rem;
  }
  > :nth-child(3) {
    top: 4.5rem;
    left: 4.5rem;
  }
  > :nth-child(4) {
    top: 6rem;
    left: 6rem;
  }
  > :nth-child(5) {
    top: 7.5rem;
    left: 7.5rem;
  }
}

//
// Code snippets
//

.highlight {
  position: relative;
  padding: .75rem ($bd-gutter-x * .5);
  background-color: var(--bd-pre-bg);

  @include media-breakpoint-up(md) {
    padding: .75rem 1.25rem;
    @include border-radius(calc(var(--bs-border-radius) - 1px));
  }

  @include media-breakpoint-up(lg) {
    pre {
      margin-right: 1.875rem;
    }
  }

  pre {
    padding: .25rem 0 .875rem;
    margin-top: .8125rem;
    // Boosted mod: no margin-right
    margin-bottom: 0;
    overflow: overlay;
    white-space: pre;
    background-color: transparent;
    border: 0;
  }

  pre code {
    @include font-size(inherit);
    color: var(--bs-body-color); // Effectively the base text color
    word-wrap: normal;
  }
}

.bd-example-snippet .highlight pre {
  margin-right: 0;
}

.highlight-toolbar {
  background-color: var(--bd-pre-bg);

  + .highlight {
    @include border-top-radius(0);
  }
}

.bd-file-ref {
  .highlight-toolbar {
    @include media-breakpoint-up(md) {
      @include border-top-radius(calc(var(--bs-border-radius) - 1px));
    }
  }
}

.bd-content .bd-code-snippet {
  margin-bottom: 1rem;
}

// Boosted mod
// scss-docs-start sticker-fs-4xl
.sticker-fs-4xl {
  font-size: 3.75rem;
  line-height: 1;
  letter-spacing: -.125rem;
}
// scss-docs-end sticker-fs-4xl

// scss-docs-start sticker-fs-l-3xl
// scss-docs-start sticker-fs-3xl
.sticker-fs-3xl {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -.0625rem;
}
// scss-docs-end sticker-fs-3xl

.sticker-fs-l {
  font-size: 1.5rem;
  line-height: calc(26 / 24); // stylelint-disable-line function-disallowed-list
  letter-spacing: -.03125rem;
}
// scss-docs-end sticker-fs-l-3xl

// scss-docs-start sticker-fs-xl
.sticker-fs-xl {
  font-size: 1.875rem;
  line-height: calc(32 / 30); // stylelint-disable-line function-disallowed-list
  letter-spacing: -.05rem;
}
// scss-docs-end sticker-fs-xl

.border-gray-400 {
  --bs-border-color: #{$gray-400};
}
// End mod
