//
// Bootstrap docs content theming
//

.bd-content {
  // Offset content from fixed navbar when jumping to headings
  > :target {
    padding-top: 5rem;
    margin-top: -5rem;
  }

  > h2:not(:first-child) {
    margin-top: 3rem;
  }

  > h3 {
    margin-top: 2rem;
  }

  > ul li,
  > ol li {
    margin-bottom: .25rem;

    // stylelint-disable selector-max-type, selector-max-compound-selectors
    > p ~ ul {
      margin-top: -.5rem;
      margin-bottom: 1rem;
    }
    // stylelint-enable selector-max-type, selector-max-compound-selectors
  }

  // Override Bootstrap defaults
  > .table,
  > .table-responsive .table {
    // Boosted mod: remove a lot of rules to keep our basic rendering

    // Prevent breaking of code
    // stylelint-disable-next-line selector-max-compound-selectors
    th,
    td:first-child > code {
      white-space: nowrap;
    }
  }

  // Boosted mod
  > .table-typography {
    white-space: nowrap;

    .bs-text-standard {
      font-size: $font-size-base;
      line-height: $line-height-base;
    }
  }
  // End mod
}

.table-options {
  td:nth-child(2) {
    min-width: 160px;
  }
}

.table-options td:last-child,
.table-utilities td:last-child {
  min-width: 280px;
}

.table-swatches {
  // Boosted mod: no `th`

  td code {
    white-space: nowrap;
  }
}

.bd-title {
  @include font-size(3rem);
}

.bd-lead {
  @include font-size(1.5rem);
  font-weight: 400;
}

.bi {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.icon-link {
  display: flex;
  align-items: center;
  // Boosted mod: no text-decoration-color
  text-underline-offset: .5rem;
  backface-visibility: hidden;

  .bi {
    width: .75em; // Boosted mod
    height: .75em; // Boosted mod
    transition: .2s ease-in-out transform; // stylelint-disable-line property-disallowed-list
  }

  &:hover {
    .bi {
      transform: translate3d(5px, 0, 0);
    }
  }
}

.border-lg-start {
  @include media-breakpoint-up(lg) {
    border-left: var(--#{$prefix}border-width) solid $border-color;
  }
}

// Boosted mod: no `.bd-summary-link`

// scss-docs-start custom-color-mode
[data-bs-theme="blue"] {
  --bs-body-color: var(--bs-white);
  --bs-body-color-rgb: #{to-rgb($white)};
  --bs-body-bg: var(--bs-blue);
  --bs-body-bg-rgb: #{to-rgb($blue)};
  --bs-tertiary-bg: #{$blue-600};

  .dropdown-menu {
    --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
    --bs-dropdown-link-active-bg: #{$blue-700};
  }

  .btn-secondary {
    --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
    --bs-btn-border-color: #{rgba($white, .25)};
    --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
    --bs-btn-hover-border-color: #{rgba($white, .25)};
    --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
    --bs-btn-active-border-color: #{rgba($white, .5)};
    --bs-btn-focus-border-color: #{rgba($white, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
  }
}
// scss-docs-end custom-color-mode
