//
// Bootstrap docs content theming
//

// Offset for the sticky header
@include media-breakpoint-up(md) {
  :root {
    scroll-padding-top: $offset-top; // Boosted mod
  }
}

.bd-content {
  > h2:not(:first-child) {
    margin-top: 3rem;
  }

  > h3 {
    margin-top: 2rem;
  }

  > ul li,
  > ol li {
    margin-bottom: .25rem;

    // stylelint-disable selector-max-type, selector-max-compound-selectors
    > p ~ ul {
      margin-top: -.5rem;
      margin-bottom: 1rem;
    }
    // stylelint-enable selector-max-type, selector-max-compound-selectors
  }

  // Override Bootstrap defaults
  > .table,
  > .table-responsive .table {
    max-width: 100%;
    margin-bottom: 1.5rem;
    @include font-size(.875rem);

    thead {
      border-bottom: 2px solid currentcolor;
    }

    th,
    td {
      &:first-child {
        padding-left: 0;
      }

      &:not(:last-child) {
        padding-right: 1rem; // Boosted mod
      }
    }

    // Prevent breaking of code
    // stylelint-disable-next-line selector-max-compound-selectors
    td:first-child > code {
      white-space: nowrap;
    }
  }

  // Boosted mod
  > .table-typography {
    white-space: nowrap;

    .bs-text-standard {
      font-size: $font-size-base;
      line-height: $line-height-base;
    }
  }
  // End mod
}

.bd-title {
  @include font-size(3rem);
}

.bd-lead {
  @include font-size(1.5rem);
  font-weight: 400;
}
