//
// Bootstrap docs content theming
//

.bd-content {
  // Boosted mod: Offset content from fixed navbar when jumping to headings, values adjusted
  > :target {
    padding-top: 7.5rem;
    margin-top: -5.5rem;

    @include media-breakpoint-up(md) {
      padding-top: 10.5rem;
      margin-top: -8.5rem;

      .header-minimized ~ .bd-gutter & {
        padding-top: 8rem;
        margin-top: -6rem;
      }
    }

    @include media-breakpoint-up(lg) {
      padding-top: 6.875rem;
      margin-top: -4.875rem;

      .header-minimized ~ .bd-gutter & {
        padding-top: 4.375rem;
        margin-top: -2.375rem;
      }
    }
  }

  > h2 {
    margin-top: 3rem;
  }

  > h3 {
    margin-top: 2rem;
  }

  > ul li,
  > ol li {
    margin-bottom: .25rem;

    // stylelint-disable selector-max-type, selector-max-compound-selectors
    > p ~ ul {
      margin-top: -.5rem;
      margin-bottom: 1rem;
    }
    // stylelint-enable selector-max-type, selector-max-compound-selectors
  }

  // Override Bootstrap defaults
  > .table,
  > .table-responsive .table {
    // Boosted mod: remove unwanted rules
    // Prevent breaking of code
    // stylelint-disable-next-line selector-max-compound-selectors
    th,
    td:first-child > code {
      white-space: nowrap;
    }
  }

  // Boosted mod
  > .table-typography {
    white-space: nowrap;

    .bs-text-standard {
      font-size: $font-size-base;
      line-height: $line-height-base;
    }
  }
  // End mod
}

.table-options {
  td:nth-child(2) {
    min-width: 160px;
  }
}

.table-options td:last-child,
.table-utilities td:last-child {
  min-width: 280px;
}

.bd-title {
  @include font-size(3rem);
}

.bd-lead {
  @include font-size(1.5rem);
  font-weight: 400;
}

.bi {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.icon-link {
  display: flex;
  align-items: center;
  // Boosted mod: no text-decoration-color
  text-underline-offset: .5rem;
  backface-visibility: hidden;

  .bi {
    width: .75em; // Boosted mod
    height: .75em; // Boosted mod
    transition: .2s ease-in-out transform; // stylelint-disable-line property-disallowed-list
  }

  &:hover {
    .bi {
      transform: translate3d(5px, 0, 0);
    }
  }
}

.border-lg-start {
  @include media-breakpoint-up(lg) {
    border-left: $border-width solid $border-color;
  }
}
