//
// Bootstrap docs content theming
//

.bd-content {
  // Offset content from fixed navbar when jumping to headings
  > :target {
    padding-top: 5rem;
    margin-top: -5rem;
  }

  > h2:not(:first-child) {
    margin-top: 3rem;
  }

  > h3 {
    margin-top: 2rem;
  }

  > ul li,
  > ol li {
    margin-bottom: .25rem;

    // stylelint-disable selector-max-type, selector-max-compound-selectors
    > p ~ ul {
      margin-top: -.5rem;
      margin-bottom: 1rem;
    }
    // stylelint-enable selector-max-type, selector-max-compound-selectors
  }

  // Override Bootstrap defaults
  > .table,
  > .table-responsive .table {
    max-width: 100%;
    margin-bottom: 1.5rem;
    @include font-size(.875rem);

    thead {
      border-bottom: 2px solid currentcolor;
    }

    tbody:not(:first-child) {
      border-top: 2px solid currentcolor;
    }

    th,
    td {
      // Boosted mod: no '&:first-child{padding-left: 0;}' to respect our design guidelines in docs

      &:not(:last-child) {
        padding-right: 1rem; // Boosted mod
      }
    }

    // Prevent breaking of code
    // stylelint-disable-next-line selector-max-compound-selectors
    th,
    td:first-child > code {
      white-space: nowrap;
    }
  }

  // Boosted mod
  > .table-typography {
    white-space: nowrap;

    .bs-text-standard {
      font-size: $font-size-base;
      line-height: $line-height-base;
    }
  }
  // End mod
}

.table-options {
  td:nth-child(2) {
    min-width: 160px;
  }
}

.table-options td:last-child,
.table-utilities td:last-child {
  min-width: 280px;
}

.bd-title {
  @include font-size(3rem);
}

.bd-lead {
  @include font-size(1.5rem);
  font-weight: 400;
}

.bi {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

.icon-link {
  display: flex;
  align-items: center;
  // Boosted mod: no text-decoration-color
  text-underline-offset: .5rem;
  backface-visibility: hidden;

  .bi {
    width: .75em; // Boosted mod
    height: .75em; // Boosted mod
    transition: .2s ease-in-out transform; // stylelint-disable-line property-disallowed-list
  }

  &:hover {
    .bi {
      transform: translate3d(5px, 0, 0);
    }
  }
}

.border-lg-start {
  @include media-breakpoint-up(lg) {
    border-left: $border-width solid $border-color;
  }
}
