//
// Bootstrap docs content theming
//

.bd-content {
  // Offset for the sticky header
  > [id] {
    @include media-breakpoint-up(md) {
      scroll-margin-top: $offset-top; // Boosted mod
    }
  }

  > h2:not(:first-child) {
    margin-top: 3rem;
  }

  > h3 {
    margin-top: 2rem;
  }

  > ul li,
  > ol li {
    margin-bottom: .25rem;
  }

  // Override Bootstrap defaults
  > .table {
    max-width: 100%;
    margin-bottom: 1.5rem;
    @include font-size(.875rem);

    @include media-breakpoint-down(lg) {
      display: block;
      overflow-x: auto;
    }

    th,
    td {
      &:first-child {
        padding-left: 0;
      }

      &:not(:last-child) {
        padding-right: 1.5rem;
      }
    }

    // Prevent breaking of code
    td:first-child > code {
      white-space: nowrap;
    }
  }

  // Boosted mod
  > .table-typography .bs-text-standard {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
  // End mod
}

.bd-title {
  @include font-size(3rem);
}

.bd-lead {
  @include font-size(1.5rem);
  font-weight: 400;
}
