//
// Footer
//

.bd-footer {
  @include font-size(.875rem);
  position: sticky;
  top: 100vh;
  font-weight: 700;

  a {
    color: var(--#{$prefix}link-color); // Boosted mod: use CSS var instead of $link-color

    &:hover,
    &:focus {
      color: var(--#{$prefix}link-hover-color); // Boosted mod: use CSS var instead of $link-hover-color
    }
  }
}
