//
// Footer
//

.bd-footer {
  @include font-size(.875rem);
  font-weight: 700;

  a {
    color: $white;

    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }

  p {
    margin-bottom: 0;
  }
}

.bd-footer-links {
  padding-left: 0;
  margin-bottom: 0;

  li {
    display: inline-block;

    + li {
      margin-left: 1rem;
    }
  }
}
