.bd-masthead {
  padding: 3rem 0;

  @include media-breakpoint-up(sm) {
    padding: 5rem 0;
  }
}

.bd-followup {
  background-color: tint-color($teal, 92%);

  & + & {
    background-color: tint-color($indigo, 90%);
  }

  & + & + & {
    background-color: tint-color($yellow, 90%);
  }

  .btn-clipboard {
    margin-top: .4rem;
    background-color: transparent;
  }
}

.home-icon {
  width: 6rem;
  height: 6rem;
  @include border-radius(25%);
}

@include media-breakpoint-up(md) {
  .mw-md-75 { max-width: 75%; }
}
