.bd-masthead {
  // Boosted mod: no --bd-pink-rgb
  padding: 3rem 0;
  // Boosted mod: no gradient background image

  h1 {
    @include font-size(4rem);
    line-height: 1;
  }

  .lead {
    @include font-size(1rem);
    font-weight: 400;
    color: $gray-700;
  }

  .bd-code-snippet {
    margin: 0;
    @include border-radius(.5rem);
  }

  .highlight {
    padding: 1rem 4rem 1rem 1rem; // Boosted mod: changed y values
    margin-bottom: 0;
    line-height: 1.25;
    background-color: rgba(var(--bs-body-color-rgb), .075);
    @include border-radius(.5rem);
  }

  .btn-clipboard {
    margin-top: .4rem;
    background-color: transparent;
  }

  // Boosted mod: no #carbonads

  @include media-breakpoint-up(md) {
    .lead {
      @include font-size(1.5rem);
    }
  }
}

.masthead-followup {
  .lead {
    @include font-size(1rem);
  }

  .highlight {
    @include border-radius(.5rem);
  }

  @include media-breakpoint-up(md) {
    .lead {
      @include font-size(1.25rem);
    }
  }
}

// Boosted mod: no .bd-btn-lg

.masthead-followup-icon {
  padding: 1rem;
  color: rgba(var(--bg-rgb), 1);
  background-color: rgba(var(--bg-rgb), .1);
  background-blend-mode: multiple;
  @include border-radius(1rem);
  mix-blend-mode: darken;

  svg {
    filter: drop-shadow(0 1px 1px #fff);
  }
}

///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
// Boosted mod: no .masthead-followup-svg
// Boosted mod: no .masthead-notice
// TODO: check if it's the case in Bootstrap as well
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
