.bd-navbar {
  // Boosted mod: no padding
  // Boosted mod: no background-color
  // Boosted mod: no box-shadow

  // Boosted mod: no `&::after`

  // Boosted mod: no .bd-navbar-toggle

  // Boosted mod: no .navbar-toggler

  // Boosted mod: no .navbar-brand

  // Boosted mod: no .navbar-nav-svg

  // Boosted mod: no .offcanvas-lg

  // Boosted mod: no .dropdown-toggle

  // Boosted mod
  .dropdown-menu {
    --bs-dropdown-min-width: 12rem;
    @include rfs($font-size-sm, --bs-dropdown-font-size);
    --bs-dropdown-line-height: #{$line-height-sm};
    --bs-dropdown-item-padding-y: #{$dropdown-item-padding-y + .0625rem};

    .active .bi {
      display: block !important; // stylelint-disable-line declaration-no-important
    }
  }
  // End mod

  .dropdown-menu-end {
    --bs-dropdown-min-width: 8rem;
  }

  // Boosted mod: Specificity
  .navbar-nav.flex-row {
    @include media-breakpoint-down(lg) {
      border-top: 1px solid $gray-700;
    }

    .dropdown-toggle {
      line-height: 1.3125rem;

      @include media-breakpoint-up(md) {
        line-height: 1.875rem;
      }
    }
  }
  // End mod
}

// Boosted mod: no `@include color-mode(dark)`
