.bd-navbar {
  --icon-size: 1.25rem; // Boosted mod

  // Boosted mod: no padding
  // Boosted mod: no background-color
  // Boosted mod: no box-shadow

  // Boosted mod: no `&::after`

  // Boosted mod: no .bd-navbar-toggle

  // Boosted mod: no .navbar-toggler

  // Boosted mod: no .navbar-brand

  // Boosted mod: Needed since the dropdowns define their own color (could be removed once they are tackled)
  .nav-link {
    &:hover {
      color: var(--bs-link-hover-color);
    }

    &.active {
      color: var(--bs-link-hover-color);
    }

    .bi {
      width: var(--icon-size) !important; // stylelint-disable-line declaration-no-important
      height: var(--icon-size) !important; // stylelint-disable-line declaration-no-important
    }
  }
  // End mod

  // Boosted mod: no .navbar-nav-svg

  // Boosted mod: no .offcanvas-lg

  // Boosted mod: no .dropdown-toggle

  // Boosted mod
  .dropdown-menu {
    --bs-dropdown-min-width: 12rem;
    @include rfs($font-size-sm, --bs-dropdown-font-size);
    --bs-dropdown-line-height: #{$line-height-sm};
    --bs-dropdown-item-padding-y: #{$dropdown-item-padding-y + .0625rem};

    .dropdown-item {
      height: 2.5rem;
    }

    .bi {
      width: var(--icon-size) !important; // stylelint-disable-line declaration-no-important
      height: var(--icon-size) !important; // stylelint-disable-line declaration-no-important
    }

    .active .bi {
      display: block !important; // stylelint-disable-line declaration-no-important
    }
  }
  // End mod

  .dropdown-menu-end {
    --bs-dropdown-min-width: 8rem;
  }

  // Boosted mod: Specificity
  .navbar-nav.flex-row {
    @include media-breakpoint-down(lg) {
      border-top: 1px solid #666;
    }
  }
  // End mod
}

// Boosted mod: no `@include color-mode(dark)` since Boosted doesn't yet fully support dark mode
