// When navigating with the keyboard, prevent focus from landing behind the sticky header

main {
  a,
  button,
  input,
  select,
  textarea,
  h2,
  h3,
  h4,
  [tabindex="0"] {
    scroll-margin-top: add($offset-top, .5rem);
    scroll-margin-bottom: 100px;

    @include media-breakpoint-up(md) {
      scroll-margin-top: add($offset-top, 4rem);

      .header-minimized ~ .bd-gutter & {
        scroll-margin-top: add($offset-top, 1.5rem);
      }
    }

    @include media-breakpoint-up(lg) {
      scroll-margin-top: add($offset-top, 2.5rem);

      .header-minimized ~ .bd-gutter & {
        scroll-margin-top: $offset-top;
      }
    }
  }
}
