// stylelint-disable selector-class-pattern

// Boosted mod: the entire file is modified and is specific to Boosted
.bd-search {
  position: relative;
  display: flex;
  align-items: center;
}

.DocSearch-Container {
  --docsearch-hit-shadow: none;

  z-index: 1100; // value 11000000000 seems to hide scrollbars under the backdrop
}

.DocSearch-Button {
  --docsearch-searchbox-background: #{$black};
  --docsearch-searchbox-focus-background: #{$black};
  --docsearch-text-color: #{$white};

  margin: 0;
  border: 0;

  &:hover {
    outline: unset;
    box-shadow: unset;

    .DocSearch-Search-Icon {
      color: var(--#{$prefix}link-hover-color);
    }
  }

  &:focus {
    border-radius: 0; // stylelint-disable-line property-disallowed-list
    outline: var(--#{$prefix}link-hover-color) solid $outline-width;
    outline-offset: .375rem; // replace when focus will be active
    box-shadow: unset;
  }

  .DocSearch-Search-Icon {
    color: $white;
  }
}

.DocSearch-Button-Placeholder {
  @include visually-hidden();

  &:focus {
    outline: unset;
  }
}

.DocSearch-Search-Icon {
  width: 1.875rem;
  height: 1.875rem;
  stroke-width: 2;
}

.DocSearch-Form {
  box-shadow: $gray-500 0 0 0 .125rem inset;

  &:focus-within {
    box-shadow: $black 0 0 0 .125rem inset;
  }
}

.DocSearch-Input:focus {
  outline: 0;
}

.DocSearch-Reset {
  border-radius: 0; // stylelint-disable-line property-disallowed-list

  &:focus {
    outline: var(--#{$prefix}link-hover-color) solid $outline-width;
  }
}

.DocSearch-Cancel {
  color: var(--docsearch-text-color);
}

.DocSearch-Button-Keys {
  @include visually-hidden();
}

.DocSearch-Commands-Key {
  background-color: var(--#{$prefix}white);
}

.DocSearch-Hits {
  .DocSearch-Hit-source {
    color: var(--docsearch-text-color);
  }
}

.DocSearch-MagnifierLabel {
  color: var(--docsearch-text-color);
}

.DocSearch-Hit {
  padding-top: .625rem;
}
// End mod
