// stylelint-disable selector-class-pattern

// Boosted mod: the entire file is modified and is specific to Boosted

:root {
  // All available CSS vars and specific modifications for Boosted
  --docsearch-primary-color: var(--bs-link-hover-color);
  --docsearch-text-color: var(--bs-body-color);
  // --docsearch-spacing
  // --docsearch-icon-stroke-width
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-muted-color: var(--bs-secondary-color);
  --docsearch-container-background: #{rgba($modal-backdrop-bg, $modal-backdrop-opacity)};
  --docsearch-logo-color: var(--bs-body-color);
  // --docsearch-modal-width
  // --docsearch-modal-height
  --docsearch-modal-background: #{$modal-content-bg};
  --docsearch-modal-shadow: none;
  // --docsearch-searchbox-height;
  // --docsearch-searchbox-background;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-text-color);
  // --docsearch-hit-height;
  --docsearch-hit-color: var(--bs-secondary-color);
  --docsearch-hit-active-color: var(--bs-highlight-color);
  --docsearch-hit-background: transparent;
  // --docsearch-hit-shadow;
  --docsearch-key-gradient: null;
  --docsearch-key-shadow: null;
  // --docsearch-footer-height;
  --docsearch-footer-background: transparent;
  --docsearch-footer-shadow: 0 -1px var(--bs-border-color);
}

.bd-search {
  position: relative;
  display: flex;
  align-items: center;
}

.DocSearch-Container {
  --docsearch-spacing: 20px;
  --docsearch-hit-shadow: none;
  --docsearch-muted-color: var(--docsearch-text-color);
  --docsearch-hit-color: var(--docsearch-text-color);

  z-index: 2000; // Make sure to be over all components showcased in the documentation
  cursor: auto; // Needed because of [role="button"] in Algolia search modal. Remove once https://github.com/algolia/docsearch/issues/1370 is tackled.
}

.DocSearch-Modal {
  border: var(--bs-border-width) solid var(--bs-border-color-subtle);
  @include border-radius(0, 0);
}

.DocSearch-Button {
  --docsearch-searchbox-background: transparent;

  margin: 0;
  border: 0;

  &:hover {
    outline: unset;
    box-shadow: unset;

    .DocSearch-Search-Icon {
      color: var(--bs-link-hover-color);
    }
  }

  &:focus {
    border-radius: 0; // stylelint-disable-line property-disallowed-list
    &[data-focus-visible-added] {
      @include focus-visible();
    }
  }

  .DocSearch-Search-Icon {
    color: var(--bs-body-color);
  }
}

.DocSearch-Button-Placeholder {
  @include visually-hidden();

  &:focus {
    outline: unset;
  }
}

.DocSearch-Search-Icon {
  width: 1.875rem;
  height: 1.875rem;
  stroke-width: 2;
}

.DocSearch-Form {
  box-shadow: var(--bs-border-color-subtle) 0 0 0 .125rem inset;
  @include border-radius(0, 0);

  &:focus-within {
    box-shadow: var(--bs-body-color) 0 0 0 .125rem inset;
  }
}

.DocSearch-Input:focus {
  outline: 0;
  box-shadow: none;
}

.DocSearch-Reset {
  @include border-radius(0, 0);

  &:focus {
    &[data-focus-visible-added] {
      @include focus-visible();
    }
  }
}

.DocSearch-Cancel {
  color: var(--docsearch-text-color);
}

.DocSearch-Button-Keys {
  @include visually-hidden();
}

.DocSearch-Commands-Key {
  background-color: var(--bs-highlight-color);
}

.DocSearch-Hits {
  .DocSearch-Hit-source {
    color: var(--docsearch-text-color);
  }
}

.DocSearch-MagnifierLabel {
  color: var(--docsearch-text-color);
}

.DocSearch-Hit {
  padding-top: .625rem;

  a {
    @include border-radius(0, 0);
  }

  mark {
    color: var(--bs-highlight-color);
    background: var(--bs-highlight-bg);
  }

  &[aria-selected="true"] {
    a {
      background-color: var(--bs-highlight-bg);
    }

    mark {
      --docsearch-hit-active-color: var(--bs-body-color);
      text-decoration: none;
      background: var(--bs-highlight-color);
    }
  }
}

.DocSearch-Hit-action-button {
  @include border-radius(0, 0);

  &:hover,
  &:focus {
    background: transparent;

    path {
      fill: var(--bs-highlight-color);
    }
  }
}

.DocSearch-Prefill {
  color: var(--bs-body-color);
  text-decoration: underline;
  @include border-radius(0, 0);

  &:hover {
    color: var(--docsearch-highlight-color);
  }

  &:focus {
    &[data-focus-visible-added] {
      @include focus-visible();
    }
  }
}

// Fix --docsearch-logo-color that doesn't do anything
.DocSearch-Logo svg .cls-1,
.DocSearch-Logo svg .cls-2 {
  fill: var(--docsearch-logo-color);
}
// End mod
