.bd-search {
  position: relative;
  display: flex; // Boosted mod
  align-items: center; // Boosted mod
  width: 100%;

  &::after {
    position: absolute;
    top: .4rem;
    right: .4rem;
    bottom: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: .3125rem;
    padding-left: .3125rem;
    @include font-size(.75rem);
    color: rgba($white, .65);
    //////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////
    // TODO: remove that comment in Bootstrap
    //////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////
    // content: "⌘K";
    content: attr(data-shortcut);
    background-color: rgba($white, .1);
    @include border-radius(.125rem);
  }

  // Boosted mod: no @include media-breakpoint-up(lg)
  // Boosted mod: no @include media-breakpoint-up(xl)

  //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  // TODO: The content hereafter could probably be removed or integrated
  // in the Orange navbar search input style
  //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  .form-control {
    padding-right: 2.75rem;
    color: $white;
    background-color: rgba($black, .1);
    border-color: rgba($white, .4);
    transition-property: background-color, border-color, box-shadow;

    &::placeholder {
      color: rgba($white, .65);
    }

    &::-webkit-search-cancel-button {
      appearance: none;
      width: 1rem;
      height: 1rem;
      cursor: pointer;
      background: escape-svg($search-clear-icon) no-repeat 0 0;
      background-size: 100% 100%;
    }
  }
}
