.bd-links {
  font-weight: 700;

  @include media-breakpoint-up(md) {
    position: sticky;
    top: $offset-top; // Boosted mod
    // Override collapse behaviors
    // stylelint-disable-next-line declaration-no-important
    display: block !important;
    height: $sidebar-height; // Boosted mod
    // Prevent focus styles to be cut off:
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto;
  }

  a {
    padding: .1875rem $sidebar-link-padding-x; // Boosted mod
    margin-top: .125rem;
    text-decoration: if($link-decoration == none, null, none);

    // Indent if there's no submenu
    &:only-child {
      margin-left: $spacer; // Boosted mod
    }

    // Add chevron if there's a submenu
    &:not(:only-child) {
      &::before {
        line-height: 0; // Align in the middle
        content: escape-svg($sidebar-collapse-icon);
        @include transition(transform .35s ease);
        transform: translate3d(-$sidebar-collapse-icon-size, 0, 0); // Boosted mod
        transform-origin: $sidebar-collapse-icon-size 50%;
      }

      // Boosted mod
      &:hover,
      &:focus,
      &:not(.collapsed) {
        color: $primary;

        &::before {
          // @note Using `filter` to color inlined SVG
          // @author Barrett Sonntag
          // @see https://codepen.io/sosuke/pen/Pjoqqp
          filter: invert(42%) sepia(63%) saturate(1332%) hue-rotate(1deg) brightness(99%) contrast(103%);
        }
      }

      &:not(.collapsed)::before {
        transform: translate3d(subtract($spacer / -2, $border-width), $spacer / 4, 0) rotate(90deg);
      }
      // End mod
    }

    // Adjust font size and font weights in submenu
    + ul {
      @include font-size(.875rem);
    }

    // Boosted mod
    ~ * a {
      // stylelint-disable-next-line declaration-no-important
      margin-left: $spacer / 2 !important;
      color: $gray-700;
    }
    // End mod
  }

  .active {
    font-weight: 700;
    color: $black;
  }
}
