.bd-links {
  font-weight: 700;

  @include media-breakpoint-up(md) {
    position: sticky;
    top: $offset-top; // Boosted mod
    // Override collapse behaviors
    // stylelint-disable-next-line declaration-no-important
    display: block !important;
    height: $sidebar-height; // Boosted mod
    // Prevent focus styles to be cut off:
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto;
  }

  a {
    padding: $sidebar-link-padding; // Boosted mod
    margin-top: .125rem;
    text-decoration: if($link-decoration == none, null, none);

    // Boosted mod
    // Indent if there's no submenu
    &:only-child {
      padding-left: $spacer;
    }

    &:hover,
    &:focus {
      color: $black;
      background-color: $gray-400;
    }

    // Add chevron if there's a submenu
    &:not(:only-child) {
      @include caret($accordion: true);

      &::after {
        // stylelint-disable-next-line function-blacklist
        transform: scale(calc(6 / 7));
      }

      &:not(.collapsed) {
        color: $orange-2;

        &:hover,
        &:focus {
          color: $black;
        }

        &::after {
          // stylelint-disable-next-line function-blacklist
          transform: scale(calc(6 / 7)) rotate(180deg);
        }
      }
    }

    ~ * a {
      padding-left: $spacer * 1.5;
    }
  }

  .active {
    color: $orange-2;
  }
  // End mod
}
