.bd-sidebar {
  @include media-breakpoint-up(lg) {
    position: sticky;
    top: $offset-top; // OUDS mod: instead of `5rem`
    // Override collapse behaviors
    // stylelint-disable-next-line declaration-no-important
    display: block !important;
    height: $sidebar-height; // OUDS mod: instead of `subtract(100vh, 6rem)`
    // Prevent focus styles to be cut off:
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto;
  }

  @include media-breakpoint-down(lg) {
    .offcanvas-lg {
      // OUDS mod: no `border-right-color`
      box-shadow: var(--bs-box-shadow-lg);
    }
  }
}

.bd-links-heading {
  color: var(--bs-emphasis-color);

  // OUDS mod
  svg {
    font-size: var(--#{$prefix}icon-medium-with-body-medium);
  }
  // End mod
}

.bd-links-nav {
  @include get-font-size("body-medium"); // OUDS mod: instead of media query

  @include media-breakpoint-between(xs, lg) {
    column-count: 2;
    column-gap: 1.5rem;

    .bd-links-group {
      break-inside: avoid;
    }

    .bd-links-span-all {
      column-span: all;
    }
  }
}

.bd-links-link {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.375rem; // OUDS mod: changed value
  // OUDS mod: no `color`
  text-decoration: if($link-decoration == none, null, none);

  &.active {
    font-weight: 600;
  }
}
