.bd-sidebar {
  @include media-breakpoint-down(md) {
    margin: 0 ($bd-gutter-x * -1) 1rem;
  }
}

.bd-links {
  overflow: auto;
  font-weight: 700; // Boosted mod

  @include media-breakpoint-up(md) {
    position: sticky;
    top: $offset-top; // Boosted mod
    // Override collapse behaviors
    // stylelint-disable-next-line declaration-no-important
    display: block !important;
    height: $sidebar-height; // Boosted mod
    // Prevent focus styles to be cut off:
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto;
  }

  > ul {
    @include media-breakpoint-down(md) {
      padding: 1.5rem .75rem;
      background-color: $gray-100;
      border-bottom: 1px solid $gray-200;
    }
  }

  // Boosted mod
  a {
    padding: $sidebar-link-padding;
    margin-top: $spacer / 10;
    font-size: $small-font-size;
    font-weight: 400;
    text-decoration: if($link-decoration == none, null, none);

    &:hover,
    &:focus {
      color: $black;
      background-color: $gray-400;
    }
  }

  .btn {
    // Custom styles (as we don't have a completely neutral button style)
    padding: $sidebar-button-padding;
    margin-top: $spacer / 10;
    line-height: $line-height-base;
    border: 0;

    &:hover,
    &:focus {
      color: $black;
      background-color: $gray-400;
    }

    // Add chevron if there's a submenu
    @include caret($accordion: true);

    &::after {
      // stylelint-disable-next-line function-disallowed-list
      transform: scale(calc(6 / 7));
    }

    &[aria-expanded="true"] {
      color: $accessible-orange;

      &:hover,
      &:focus {
        color: $black;
      }

      &::after {
        // stylelint-disable-next-line function-disallowed-list
        transform: scale(calc(6 / 7)) rotate(180deg);
      }
    }
  }

  .active {
    font-weight: 700;
    color: $accessible-orange;
  }
  // End mod
}
