.bd-subnavbar {
  // The position and z-index are needed for the dropdown to stay on top of the content
  position: relative;
  z-index: $zindex-sticky;
  background-color: rgba($white, .95);

  [aria-current] { // Boosted mod
    background-image: escape-svg($dropdown-active-icon);
    background-repeat: no-repeat;
    background-position: right $dropdown-item-padding-x center;
    background-size: .75rem .75rem;
  }

  @include media-breakpoint-up(md) {
    position: sticky;
    top: $spacer * 5; // Boosted mod
  }
}

.bd-search {
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
