// Boosted mod: doesn't exist anymore in Bootstrap

.bd-subnavbar {
  // The z-index is needed for the dropdown to stay on top of the content
  z-index: $zindex-dropdown - 1; // goes under the navbar + dropdown.
  background-color: rgba(var(--bs-body-bg-rgb), .95);
  box-shadow: 0 .5rem 1rem rgba(var(--bs-body-color-rgb), .05), inset 0 -1px 0 rgba(var(--bs-body-color-rgb), .15);
}
