// stylelint-disable comment-empty-line-before, declaration-block-single-line-max-declarations

/* Background .chroma { background-color: $white; } */
/* Other .chroma .x { } */
/* Error */ .chroma .err { color: $red; }
/* LineTableTD .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; } */
/* LineTable .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; } */
/* LineHighlight .chroma .hl { display: block; width: 100%; background-color: #ffffcc; } */
/* LineNumbersTable .chroma .lnt { margin-right: .4em; padding: 0 .4em; } */
/* LineNumbers .chroma .ln { margin-right: .4em; padding: 0 .4em; } */

/* Comment */ .chroma .c { color: $gray-700; }
/* CommentHashbang */ .chroma .ch { font-style: italic; color: color-level($cyan, 4); }
/* CommentMultiline */ .chroma .cm { color: $gray-700; }
/* CommentPreproc */ .chroma .cp { color: color-level($cyan, 6); }
/* CommentPreprocFile */ .chroma .cpf { color: color-level($green, 4); }
/* CommentSingle */ .chroma .c1 { color: $gray-800; }
/* CommentSpecial */ .chroma .cs { color: $gray-800; }
/* Generic .chroma .g { } */
/* GenericDeleted */ .chroma .gd { background-color: color-level($pink, -6); border: 1px solid $red; }
/* GenericEmph */ .chroma .ge { font-style: italic; }
/* GenericError */ .chroma .gr { color: $red; }
/* GenericHeading */ .chroma .gh { color: color-level($green, 8); }
/* GenericInserted */ .chroma .gi { background-color: color-level($green, -6); border: 1px solid color-level($green, 4); }
/* GenericOutput */ .chroma .go { color: color-level($pink, 6); }
/* GenericPrompt */ .chroma .gp { color: color-level($blue, 8); }
/* GenericStrong */ .chroma .gs { font-weight: 700; }
/* GenericSubheading */ .chroma .gu { color: color-level($green, 8); }
/* GenericTraceback */ .chroma .gt { color: color-level($teal, 4); }
/* GenericUnderline */ .chroma .gl { text-decoration: underline; }
/* Keyword */ .chroma .k { color: color-level($blue, 2); }
/* Keyword */ .chroma .language-scss .k,
.chroma .language-js .k { font-weight: $font-weight-bold; }
/* KeywordConstant */ .chroma .kc { color: color-level($cyan, 4); }
/* KeywordDeclaration */ .chroma .kd { font-weight: $font-weight-bold; color: color-level($green, 4); }
/* KeywordNamespace */ .chroma .kn { color: color-level($orange, 4); }
/* KeywordPseudo */ .chroma .kp { color: color-level($orange, 4); }
/* KeywordReserved */ .chroma .kr { color: color-level($orange, 4); }
/* KeywordType */ .chroma .kt { color: color-level($cyan, 4); }
/* Literal .chroma .l { } */
/* LiteralDate .chroma .ld { color: color-level($orange-700 } */
/* LiteralNumber */ .chroma .m { color: color-level($green, 4); }
/* LiteralNumberBin */ .chroma .mb { color: color-level($teal, 4); }
/* LiteralNumberFloat */ .chroma .mf { color: color-level($green, 4); }
/* LiteralNumberHex */ .chroma .mh { color: color-level($green, 4); }
/* LiteralNumberInteger */ .chroma .mi { color: color-level($green, 4); }
/* LiteralNumberIntegerLong */ .chroma .il { color: color-level($green, 4); }
/* LiteralNumberOct */ .chroma .mo { color: color-level($green, 4); }
/* LiteralString */ .chroma .s { color: $red; }
/* LiteralStringAffix */ .chroma .sa { color: color-level($blue, 2); }
/* LiteralStringBacktick */ .chroma .sb { color: $red; }
/* LiteralStringChar */ .chroma .sc { color: $red; }
/* LiteralStringDelimiter */ .chroma .dl { color: color-level($blue, 2); }
/* LiteralStringDoc */ .chroma .sd { font-style: italic; color: $red; }
/* LiteralStringDouble */ .chroma .s2 { color: $red; }
/* LiteralStringEscape */ .chroma .se { color: $red; }
/* LiteralStringHeredoc */ .chroma .sh { color: $red; }
/* LiteralStringInterpol */ .chroma .si { color: color-level($red, 2); }
/* LiteralStringOther */ .chroma .sx { color: $red; }
/* LiteralStringRegex */ .chroma .sr { color: color-level($teal, 4); }
/* LiteralStringSingle */ .chroma .s1 { color: $red; }
/* LiteralStringSymbol */ .chroma .ss { color: color-level($yellow, 6); }
/* Name */ .chroma .n { color: color-level($green, 4); }
/* NameAttribute */ .chroma .na { color: color-level($green, 4); }
/* NameBuiltin */ .chroma .nb { color: color-level($green, 4); }
/* NameBuiltinPseudo .chroma .bp { } */
/* NameClass */ .chroma .nc { color: color-level($blue, 2); }
/* NameClass */ .chroma [class*="css"] .nc { font-weight: $font-weight-bold; }
/* NameConstant */ .chroma .no { color: color-level($green, 4); }
/* NameDecorator */ .chroma .nd { color: color-level($purple, 4); }
/* NameEntity */ .chroma .ni { color: $gray-800; }
/* NameException */ .chroma .ne { color: $red; }
/* NameFunction */ .chroma .nf { color: color-level($teal, 4); }
/* NameFunctionMagic .chroma .fm { } */
/* NameLabel */ .chroma .nl { color: color-level($purple, 4); }
/* NameNamespace */ .chroma .nn { color: $red; }
/* NameOther */ .chroma .nx { color: color-level($purple, 4); }
/* NameProperty .chroma .py { } */
/* NameTag */ .chroma .nt { color: color-level($blue, 2); }
/* NameTag */ .chroma .language-html .nt,
.chroma .language-css .nt { font-weight: $font-weight-bold; }
/* NameVariable */ .chroma .nv { color: $red; }
/* NameVariableClass .chroma .vc { } */
/* NameVariableGlobal .chroma .vg { } */
/* NameVariableInstance .chroma .vi { } */
/* NameVariableMagic .chroma .vm { } */
/* Operator */ .chroma .o { color: $gray-700; }
/* OperatorWord */ .chroma .ow { color: $black; }
/* Punctuation */ .chroma .p { color: $gray-700; }
/* TextWhitespace */ .chroma .w { color: $gray-400; }

.chroma {
  background-color: $white;

  .language-bash,
  .language-sh {
    &::before {
      color: color-level($cyan, 8);
      content: "$ ";
      user-select: none;
    }
  }

  .language-powershell::before {
    color: color-level($cyan, 8);
    content: "PM> ";
    user-select: none;
  }
}
