// stylelint-disable selector-max-type, selector-no-qualifying-type

.bd-toc {
  @include media-breakpoint-up(lg) {
    position: sticky;
    top: $offset-top; // OUDS mod
    right: 0;
    z-index: 2;
    height: $sidebar-height; // OUDS mod
    overflow-y: auto;
  }

  nav {
    @include font-size(.875rem);

    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      ul {
        padding-left: 1rem;
        margin-left: -.5rem; // OUDS mod
      }
    }

    a {
      display: block;
      padding: .3125rem 0 .3125rem .75rem; // OUDS mod
      color: inherit;
      text-decoration: none;
      border-left: .125rem solid transparent;

      &:hover,
      &.active {
        color: var(--bd-toc-color);
        border-left-color: var(--bs-primary); // OUDS mod: instead of `--bd-toc-color`
      }

      &.active {
        font-weight: 700; // OUDS mod: instead of `500`
      }

      code {
        font: inherit;
      }
    }
  }
}

.bd-toc-toggle {
  display: flex;
  align-items: center;
  border-width: 1px; // OUDS mod

  @include media-breakpoint-down(sm) {
    justify-content: space-between;
    width: 100%;
  }

  // OUDS mod: no `@include media-breakpoint-down(md)`
}

.bd-toc-collapse {
  @include media-breakpoint-down(md) {
    nav {
      padding: 1.25rem 1.25rem 1.25rem 1rem;
      background-color: var(--bs-tertiary-bg);
      border: 1px solid var(--bs-border-color);
      @include border-radius(var(--bs-border-radius));
    }
  }

  // OUDS mod
  @include media-breakpoint-up(md) {
    display: block !important; // stylelint-disable-line declaration-no-important
  }
  // End mod
}
