// stylelint-disable selector-max-type, selector-no-qualifying-type

.bd-toc {
  @include media-breakpoint-up(lg) {
    position: sticky;
    top: $offset-top; // OUDS mod
    right: 0;
    z-index: 2;
    height: $sidebar-height; // OUDS mod
    overflow-y: auto;
  }

  nav {
    @include get-font-size("label-medium"); // OUDS mod: instead of `.875rem`

    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      @include list-unstyled(); // OUDS mod

      ul {
        padding-left: 1rem;
        margin-top: 0; // OUDS mod
        margin-left: -$ouds-space-fixed-xs; // OUDS mod
      }
    }

    a {
      display: block;
      padding: $ouds-space-fixed-2xs 0 $ouds-space-fixed-2xs $ouds-space-fixed-md; // OUDS mod
      @include get-font-size("body-small"); // OUDS mod: instead of `1rem`
      font-weight: 400; // OUDS mod: no 'bold' for the sidebar links
      color: inherit;
      text-decoration: none;
      border-left: .125rem solid transparent;

      &:hover,
      &.active {
        color: var(--bd-toc-color);
        border-left-color: var(--bs-color-border-brand-primary); // OUDS mod: instead of `--bd-toc-color`
      }

      &.active {
        font-weight: 700; // OUDS mod: instead of `500`
      }

      code {
        font: inherit;
      }
    }
  }
}

.bd-toc-toggle {
  display: flex;
  align-items: center;
  border-width: 1px; // OUDS mod

  @include media-breakpoint-down(sm) {
    justify-content: space-between;
    width: 100%;
  }

  // OUDS mod: no `@include media-breakpoint-down(md)`
}

.bd-toc-collapse {
  @include media-breakpoint-down(md) {
    nav {
      padding: $ouds-space-fixed-md; // OUDS mod: instead of `1.25rem 1.25rem 1.25rem 1rem`
      background-color: var(--#{$prefix}color-bg-secondary);
      border: 1px solid var(--bs-color-border-emphasized);
      @include border-radius(var(--bs-border-radius));
    }
  }

  // OUDS mod
  @include media-breakpoint-up(md) {
    display: block !important; // stylelint-disable-line declaration-no-important
  }
  // End mod
}
