// Local docs variables
// stylelint-disable-next-line function-disallowed-list
$bd-primary-light: lighten(saturate($primary, 5%), 15%); // OUDS mod
// stylelint-disable-next-line function-disallowed-list
$bd-primary-dark:  darken(saturate($core-orange-color-orange-500, 5%), 15%); // OUDS mod
$bd-purple:        #4c0bce;
$bd-violet:        lighten(saturate($bd-purple, 5%), 15%); // stylelint-disable-line function-disallowed-list
// OUDS mod: np $bd-purple-light
// OUDS mod: no $bd-accent

$bd-gutter-x: .625rem; // OUDS mod
$bd-callout-variants: info, warning, danger !default;

@include color-mode(light, true) {
  --bd-primary-light: #{$bd-primary-light}; // OUDS mod
  // OUDS mod: no --bd-purple
  --bd-violet: #{$bd-violet};
  // OUDS mod: no --bd-accent
  --bd-primary-light-rgb: #{to-rgb($bd-primary-light)}; // OUDS mod
  // OUDS mod: no --bd-violet-rgb
  // OUDS mod: no --bd-accent-rgb
  --bd-pink-rgb: #{to-rgb($pink-500)};
  --bd-teal-rgb: #{to-rgb($teal-500)};
  --bd-violet-bg: var(--bd-violet);
  --bd-toc-color: var(--bs-emphasis-color); // OUDS mod: instead of `var(--bd-violet)`
  // OUDS mod: no --bd-sidebar-link-bg
  // OUDS mod: no --bd-callout-link
  // OUDS mod: no --bd-callout-code-color
  --bd-pre-bg: var(--#{$prefix}color-bg-secondary);
}

@include color-mode(dark, true) {
  --bd-primary-light: #{$bd-primary-dark}; // OUDS mod
  --bd-primary-light-rgb: #{to-rgb($bd-primary-dark)}; // OUDS mod
  --bd-violet: #{mix($bd-violet, $white, 75%)};
  --bd-violet-bg: #{$bd-violet};
  // OUDS mod: no --bd-toc-color
  // OUDS mod: no --bd-sidebar-link-bg
  // OUDS mod: no --bd-callout-link
  // OUDS mod: no --bd-callout-code-color
  --bd-pre-bg: var(--#{$prefix}color-bg-secondary); // OUDS mod: instead of `#{adjust-color($gray-900, $lightness: -2.5%)}`
}

// OUDS mod
$zindex-skippy: 1080;
$offset-top: 7rem;
$sidebar-height: subtract(100vh, $offset-top + 1rem);
$tac-prefix: "tarteaucitron";
// End mod
