// stylelint-disable scss/dollar-variable-default

// Local docs variables
$bd-purple:        $primary;
$bd-purple-bright: lighten(saturate($bd-purple, 5%), 15%); // stylelint-disable-line function-disallowed-list
$bd-purple-light:  lighten(saturate($bd-purple, 5%), 45%); // stylelint-disable-line function-disallowed-list
$bd-info:          $info;
$bd-warning:       $warning;
$bd-danger:        $danger;
$dropdown-active-icon: $form-check-input-checked-bg-image; // Boosted mod
// Boosted mod: no $sidebar-collapse-icon

$bd-gutter-x: 1.25rem;

$zindex-skippy: 1080;

$offset-top: 10rem;

$sidebar-height:         subtract(100vh, $offset-top);
$sidebar-base-padding:   $spacer / 2;
$sidebar-button-padding: $sidebar-base-padding $sidebar-base-padding add($sidebar-base-padding, $border-width);
$sidebar-link-padding:   $sidebar-base-padding / 2 $sidebar-base-padding $sidebar-base-padding / 2 $spacer;

$documentation-link-color:    shade-color($info, 20%);
$documentation-link-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path fill='#{$documentation-link-color}' fill-rule='evenodd' d='M9.26 25a1.77 1.77 0 01-1.76-1.76V6.76A1.77 1.77 0 019.26 5h12.36v2.35h1.17V25M20.44 6.18H9.26a.59.59 0 00-.58.58.59.59 0 00.58.6h1.18V15l1.77-1.76L13.97 15V7.35h6.47z'/></svg>");

$tac-prefix: "tarteaucitron";
