// Local docs variables
$bd-primary:       $primary; // Boosted mod
// stylelint-disable-next-line function-disallowed-list
$bd-primary-light: lighten(saturate($bd-primary, 5%), 15%); // Boosted mod
$bd-purple:        #4c0bce;
$bd-violet:        lighten(saturate($bd-purple, 5%), 15%); // stylelint-disable-line function-disallowed-list
// Boosted mod: np $bd-purple-light
// Boosted mod: no $bd-accent

$bd-gutter-x: .625rem; // Boosted mod
$bd-callout-variants: info, warning, danger !default;

:root,
[data-bs-theme="light"] {
  --bd-primary: #{$bd-primary}; // Boosted mod
  --bd-primary-light: #{$bd-primary-light}; // Boosted mod
  // Boosted mod: no --bd-purple
  --bd-violet: #{$bd-violet};
  // Boosted mod: no --bd-accent
  --bd-primary-rgb: #{to-rgb($bd-primary)}; // Boosted mod
  --bd-primary-light-rgb: #{to-rgb($bd-primary-light)}; // Boosted mod
  // Boosted mod: no --bd-violet-rgb
  // Boosted mod: no --bd-accent-rgb
  --bd-pink-rgb: #{to-rgb($pink-500)};
  --bd-teal-rgb: #{to-rgb($teal-500)};
  --bd-violet-bg: var(--bd-violet);
  --bd-toc-color: var(--bs-emphasis-color); // Boosted mod: instead of `var(--bd-violet)`
  // Boosted mod: no --bd-sidebar-link-bg
  // Boosted mod: no --bd-callout-link
  // Boosted mod: no --bd-callout-code-color
  --bd-pre-bg: var(--bs-tertiary-bg);
  --bd-toc-active-border-left-color: var(--bd-primary); // Boosted mod
}

@include color-mode(dark, true) {
  --bd-violet: #{mix($bd-violet, $white, 75%)};
  --bd-violet-bg: #{$bd-violet};
  // Boosted mod: no --bd-toc-color
  // Boosted mod: no --bd-sidebar-link-bg
  // Boosted mod: no --bd-callout-link
  // Boosted mod: no --bd-callout-code-color
  --bd-pre-bg: #{$black}; // Boosted mod: instead of `adjust-color($gray-900, $lightness: -2.5%)`
}

// Boosted mod
$zindex-skippy: 1080;
$offset-top: 7rem;
$sidebar-height: subtract(100vh, $offset-top + 1rem);
$tac-prefix: "tarteaucitron";
// End mod
