// stylelint-disable scss/dollar-variable-default

// Local docs variables
$bd-purple:        $primary; // Boosted mod
$bd-violet:        lighten(saturate($bd-purple, 5%), 15%); // stylelint-disable-line function-disallowed-list
// Boosted mod: np $bd-purple-light
// Boosted mod: no $bd-accent

$bd-gutter-x: .625rem; // Boosted mod
$bd-callout-variants: info, warning, danger !default;

:root,
[data-bs-theme="light"] {
  --bd-purple: #{$bd-purple};
  --bd-violet: #{$bd-violet};
  // Boosted mod: no --bd-accent
  --bd-violet-rgb: #{to-rgb($bd-violet)};
  // Boosted mod: no --bd-accent-rgb
  --bd-pink-rgb: #{to-rgb($pink-500)};
  --bd-teal-rgb: #{to-rgb($teal-500)};
  // Boosted mod: no --bd-violet-bg
  --bd-toc-color: var(--bd-purple); // Boosted mod: instead of `var(--bd-violet)`
  // Boosted mod: no --bd-sidebar-link-bg
}

@include color-mode(dark, true) {
  --bd-violet: #{mix($bd-violet, $white, 75%)};
  // Boosted mod: no --bd-violet-bg
  --bd-toc-color: var(--#{$prefix}emphasis-color);
  // Boosted mod: no --bd-sidebar-link-bg
}

// Boosted mod
$zindex-skippy: 1080;
$offset-top: 7rem;
$sidebar-height: subtract(100vh, $offset-top);
$tac-prefix: "tarteaucitron";
// End mod
