.bd-masthead {
  background-color: #000;
  color: #fff;
  border: none;
  border-top: 2px solid $gray-dark;
  padding-top: 2.5rem;
  background-image: none;

  .lead {
    font-size: $font-size-h6;

    a {
        color: #fff;
        text-decoration: underline;

        &:active,
        &:hover,
        &:focus {
            color: $brand-primary;
            text-decoration: none;
        }
    }

    .btn {
        @include orange-button-inverse-variant($btn-info-color, $btn-info-bg);
        border-color: #fff;
        font-weight: $btn-font-weight;
        text-decoration: none;

        &.btn-lg {
            font-size: $font-size-lg;
            padding: $btn-padding-y-lg $btn-padding-x-lg;
        }
    }
  }

  .bd-boosted-icon {
      font-family: $font-family-base;
      font-size: $font-size-h1;
      font-weight: 500;
  }
}

.bd-pageheader {
  background-color: #000;
  color: #fff;
  border-top: 2px solid $gray-dark;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;

  @include media-breakpoint-up(md) {
    h1 {
      font-size: $font-size-h1;
    }

    p {
      font-size: $font-size-base;
    }
  }

  h1 {
    font-size: $font-size-h1;
  }

  p {
    font-size: $font-size-base;
  }
}

.bd-featurette {
    font-size: $font-size-base;
}

.bd-search {
  .form-control {
    background-color: transparent;
    height: auto;
  }
}

.bd-navbar {
  font-size: 1rem;
  min-height: $navbar-height;
  padding: 0;

  @include media-breakpoint-down(sm) {
    .nav-link {
      float: none;

      + .nav-link {
        margin-left: 0;
      }
    }
  }

  .navbar-nav {
    .nav-link {
      color: #fff;

      &.active,
      &:hover,
      &:focus {
        background-color: #000;
        color: $brand-primary;
        font-weight: $brand-font-weight-bold;
      }
    }
  }

  .dropdown-menu {
    font-size: inherit;
  }
}

.bd-footer {
    padding: 0;
    color: #fff;
    background-color: #000;
    text-align: center;
    margin-top: 2.5rem;
    font-size: $font-size-base;

    .o-footer-top {
        padding: 2.5rem 0;
    }

    a {
        color: #fff;
        text-decoration: underline;

        &:active,
        &:hover,
        &:focus {
            color: $brand-primary;
            text-decoration: none;
        }
    }

}

@mixin brand-warning {
  &::before {
    @include sr-only;
    content: "warning, not brand compliant";
  }

  &::after {
    content: "\e936";
    color: $brand-danger;
    font-family: "icon-orange" !important;
    font-size: inherit;
    padding-left: .375rem;
    vertical-align: bottom;
  }
}

#outline-buttons,
#supported-content,
#brand,
#nav,
#color-schemes,
#containers,
#placement {
    @include brand-warning;
}


//
// Font icons
//
// Special styles for displaying the icons and their classes in the docs.
.doc-fonticon {
  margin: 0 -10px 20px;
  overflow: hidden;
}
.doc-fonticon-list {
  padding-left: 0;
  list-style: none;
  font-size: 1.875rem;
}
.doc-fonticon li {
  float: left;
  width: 25%;
  height: 150px;
  padding: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #fff;
}

.doc-fonticon .fonticon-class {
  display: block;
  text-align: center;
  word-wrap: break-word; // Help out IE10+ with class names
  font-size: $font-size-base;
}
.doc-fonticon li:hover {
  color: #fff;
  background-color: #000;
}

@media (min-width: 768px) {
  .doc-fonticon {
    margin-right: 0;
    margin-left: 0;
  }
  .doc-fonticon li {
    width: 12.5%;
  }
}

// Back to top
//
//

$back-top-btn-height: 3.75rem;

@include media-breakpoint-down(sm) {
  body {
      margin-bottom: $back-top-btn-height;
  }
  .container {
    margin: 0 .625rem;
  }
}

.scroll-top {
    position: fixed;
    bottom: 2.5rem;
    right: .625rem;
    z-index: 100;
    text-decoration: none;
    display: none;
    span[class*="icon-"] {
      font-size: 1.875rem;
    }
    &:visited {
        color: #000;
    }

    .scroll-top-text {
      margin-top: -0.375rem;
    }

    @include media-breakpoint-down(sm) {
      color: #fff;
      background-color: #000;
      width: 100%;
      height: $back-top-btn-height;
      bottom: 0;
      right: 0;
      text-align: center;

      span[class*="icon-"]::before {
        color: #fff;
        line-height: $back-top-btn-height;
      }

      .scroll-top-text {
        display: none;
      }
    }
}


    @media only screen and (max-width : 650px) {

        #myTable .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
        #myTable * html .cf { zoom: 1; }
        #myTable *:first-child+html .cf { zoom: 1; }
        #myTable table { width: 100%; border-collapse: collapse; border-spacing: 0; }
        #myTable th,
        #myTable td { margin: 0; vertical-align: top; }
        #myTable th { text-align: left; }
        #myTable table { display: block; position: relative; width: 100%; }
        #myTable thead { display: block; float: left; }
        #myTable tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
        #myTable thead tr { display: block; }
        #myTable th { display: block; text-align: right; }
        #myTable tbody tr { display: inline-block; vertical-align: top; }
        #myTable td { display: block; min-height: 1.25em; text-align: left; }

        /* sort out borders */
        #myTable th { border-bottom: 0; border-left: 0; border-top: 1px solid #A6A6A6; }
        #myTable td { border-right: 1px solid #A6A6A6; border-right: 1px solid #A6A6A6; border-bottom: 0; }
        #myTable th:last-child,
        #myTable td:last-child { border-bottom: 1px solid #babcbf; }

    }

    /* accessibility */
    table.tablesorter > thead > tr > th[aria-sort="descending"]:after {
        content:"trié par ordre décroissant";
        border: 0 none;
        clip: rect(0px, 0px, 0px, 0px);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    /* accessibility */
    table.tablesorter > thead > tr > th[aria-sort="ascending"]:after {
        content:"trié par ordre croissant";
        border: 0 none;
        clip: rect(0px, 0px, 0px, 0px);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }