.bd-masthead {
  background-color: $brand-orange-black;
  color: $brand-orange-white;
  border: none;
  border-top: 2px solid $gray-dark;
  padding-top: 4rem;
  background-image: none;

  .lead {
    font-size: $font-size-h6;

    a {
        color: $brand-orange-white;
        text-decoration: underline;

        &:active,
        &:hover,
        &:focus {
            color: $brand-orange;
            text-decoration: none;
        }
    }

    .btn {
        @include orange-button-inverse-variant($btn-info-color, $btn-info-bg);
        border-color: $brand-orange-white;
        font-weight: $btn-font-weight;
        text-decoration: none;

        &.btn-lg {
            font-size: $font-size-lg;
            padding: $btn-padding-y-lg $btn-padding-x-lg;
        }
    }
  }

  .bd-boosted-icon {
      font-family: $font-family-titles;
      font-size: $font-size-h1;
      font-weight: 500;
  }
}

.bd-pageheader {
  background-color: $brand-orange-black;
  color: $brand-orange-white;
  border-top: 2px solid $gray-dark;
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include media-breakpoint-up(md) {
    h1 {
      font-size: $font-size-h1;
    }

    p {
      font-size: $font-size-base;
    }
  }

  h1 {
    font-size: $font-size-h1;
  }

  p {
    font-size: $font-size-base;
  }
}

.bd-featurette {
    font-size: $font-size-base;
}

.bd-search {
  .form-control {
    background-color: transparent;
    height: auto;
  }
}

.bd-navbar {
  font-size: 1.8rem;
  min-height: 10rem;
  padding: 0;

  @include media-breakpoint-down(sm) {
    .nav-link {
      float: none;

      + .nav-link {
        margin-left: 0;
      }
    }
  }

  .navbar-nav {
    .nav-link {
      color: $brand-orange-white;

      &.active,
      &:hover,
      &:focus {
        background-color: $brand-orange-black;
        color: $brand-orange;
      }
    }
  }

  .dropdown-menu {
    font-size: inherit;
  }
}

.bd-footer {
    padding: 0;
    color: $brand-orange-white;
    background-color: $brand-orange-black;
    text-align: center;
    margin-top: 4rem;
    font-size: $font-size-base;

    .o-footer-top {
        padding: 4rem 0;
    }

    a {
        color: $brand-orange-white;
        text-decoration: underline;

        &:active,
        &:hover,
        &:focus {
            color: $brand-orange;
            text-decoration: none;
        }
    }

}

#outline-buttons::after,
#supported-content::after,
#brand::after,
#nav::after,
#color-schemes::after,
#containers::after,
#placement::after {
  content: "\e91e";
  color: $brand-danger;
  font-family: "icon-orange" !important;
  font-size: inherit;
  padding-left: 0.6rem;
  vertical-align: bottom;
}

//
// Font icons
//
// Special styles for displaying the icons and their classes in the docs.
.doc-fonticon {
  margin: 0 -10px 20px;
  overflow: hidden;
}
.doc-fonticon-list {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;  
}
.doc-fonticon li {
  float: left;
  width: 25%;
  height: 150px;
  padding: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #fff;
}

.doc-fonticon .fonticon-class {
  display: block;
  text-align: center;
  word-wrap: break-word; // Help out IE10+ with class names
}
.doc-fonticon li:hover {
  color: #fff;
  background-color: #000;
}

@media (min-width: 768px) {
  .doc-fonticon {
    margin-right: 0;
    margin-left: 0;
  }
  .doc-fonticon li {
    width: 12.5%;
  }
}

// Back to top
//
//

$back-top-btn-height: 6rem;

@include media-breakpoint-down(sm) {
  body {
      margin-bottom: $back-top-btn-height;
  }
  .container {
    margin: 0 1rem;
  }
}

.scroll-top {
    position: fixed;
    bottom: 4rem;
    right: 1rem;
    z-index: 100;
    text-decoration: none;
    display: none;
    span[class*="icon-"] {    
      font-size: 3rem;
    }
    &:visited {
        color: $brand-orange-black;
    }

    .scroll-top-text {
      margin-top: -0.6rem;
    }

    @include media-breakpoint-down(sm) {
      color: $brand-orange-white;
      background-color: $brand-orange-black;
      width: 100%;
      height: $back-top-btn-height;
      bottom: 0;
      right: 0;
      text-align: center;

      span[class*="icon-"]::before {
        color: $brand-orange-white;
        line-height: $back-top-btn-height;
      }

      .scroll-top-text {
        display: none;
      }
    }
}
