// scss-lint:disable IdSelector
.bd-masthead {
  padding: 2.5rem .625rem;
  color: #fff;
  background-color: #000;
  background-image: none;
  border: 0;
  border-top: 2px solid $gray-dark;

  .lead {
    font-size: $font-size-h6;

    a {
      color: #fff;
      text-decoration: underline;

      &:active,
      &:hover,
      &:focus {
        color: $brand-primary;
        text-decoration: none;
      }
    }

    .btn {
      @include orange-button-inverse-variant($btn-info-color, $btn-info-bg);
      font-weight: $btn-font-weight;
      text-decoration: none;
      border-color: #fff;

      &.btn-lg {
        padding: $btn-padding-y-lg $btn-padding-x-lg;
        font-size: $font-size-lg;
      }
    }
  }

  .bd-boosted-icon {
    font-family: $font-family-base;
    font-size: $font-size-h1;
    font-weight: 500;
  }
}

.bd-pageheader {
  padding: 0;
  color: #fff;
  background-color: #000;
  border-top: 2px solid $gray-dark;

  h1 {
    margin: 2.6875rem 0;
    font-size: $font-size-h1;
    font-weight: bold;
  }

  p {
    padding-bottom: 1.25rem;
    font-size: $font-size-base;
  }

  @include media-breakpoint-down(xs) {
    h1 {
      margin: 1.25rem 0;
      font-size: $font-size-h2;
      font-weight: bold;
      line-height: 1;
      text-align: left;
    }

    p {
      font-size: $font-size-base;
    }
  }
}

.bd-featurette {
  font-size: $font-size-base;
}

.bd-search {
  .form-control {
    height: auto;
    background-color: transparent;
  }
}

.bd-navbar {
  min-height: $navbar-height;
  padding: 0;
  font-size: 1rem;

  @include media-breakpoint-down(sm) {
    .nav-link {
      float: none;

      + .nav-link {
        margin-left: 0;
      }
    }
  }

  .navbar-nav {
    .nav-link {
      color: #fff;

      &.active,
      &:hover,
      &:focus {
        font-weight: bold;
        color: $brand-primary;
        background-color: #000;
      }
    }
  }

  .dropdown-menu {
    font-size: inherit;
  }
}

.bd-footer {
  padding: 0;
  margin-top: 2.5rem;
  font-size: $font-size-base;
  color: #fff;
  text-align: center;
  background-color: #000;

  .o-footer-top {
    padding: 2.5rem 0;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &:active,
    &:hover,
    &:focus {
      color: $brand-primary;
      text-decoration: none;
    }
  }
}

.bd-example-tabs .nav-tabs {
  margin-bottom: 0;
}

// brand-warning
#outline-buttons,
#supported-content,
#text,
#color-schemes,
#placement,
#collapsible-content,
#sizing {
  &::before {
    @include sr-only;
    content: "warning, not brand compliant";
  }

  &::after {
    padding-left: .375rem;
    font-family: "icon-orange" !important;
    font-size: inherit;
    color: $brand-danger;
    vertical-align: bottom;
    content: "\e936";
  }
}


//
// Font icons
//
// Special styles for displaying the icons and their classes in the docs.
.doc-fonticon {
  margin: 0 -10px 20px;
  overflow: hidden;
}
.doc-fonticon-list {
  padding-left: 0;
  font-size: 1.875rem;
  list-style: none;
}
.doc-fonticon li {
  float: left;
  width: 25%;
  height: 150px;
  padding: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #fff;
}

.doc-fonticon .fonticon-class {
  display: block;
  font-size: $font-size-base;
  text-align: center;
  word-wrap: break-word; // Help out IE10+ with class names
}
.doc-fonticon li:hover {
  color: #fff;
  background-color: #000;
}

@media (min-width: 768px) {
  .doc-fonticon {
    margin-right: 0;
    margin-left: 0;
  }
  .doc-fonticon li {
    width: 12.5%;
  }
}

// boostwatch

// buttons dipslay
#buttons-default,
#buttons-inverse {
  padding-left: 1.25rem;

  button {
    margin-right: .625rem;
  }
}

#buttons-inverse {
  padding: 1.25rem;
  color: #fff;
  background-color: #000;
}

.doc-link {
  margin-left: .625rem;
  font-size: 1.5rem;
}
// scss-lint:enable IdSelector
