// stylelint-disable selector-max-id
#bd-main-nav {
  .nav-item.dropdown {
    align-self: flex-end;
  }

  .navbar-nav-svg {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    vertical-align: text-top;
  }
}

// Boosted mod: use HTML+CSS for Boosted 3D logo
// 1. Everything is em based, so we only play with font-size for RWD
#boosted {
  width: 26em;
  height: 26em;
  font-size: 36%; // 1
  box-shadow: -2em 2em $gray-600, -4em 4em $gray-300;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(-45deg);

  @include media-breakpoint-up(sm) {
    font-size: xx-small;
  }

  @include media-breakpoint-up(md) {
    font-size: x-small;
  }

  @include media-breakpoint-up(lg) {
    font-size: small;
  }

  @include media-breakpoint-up(xl) {
    font-size: medium;
  }
}

.display-0 {
  font-size: 5.25em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
// End mod

.bd-search .form-control {
  height: auto;
  background-color: transparent;
}

.bd-toc-link {
  padding-left: map-get($spacers, 2);  // left align with orange logo
}

.bd-example-tabs .nav-tabs {
  margin-bottom: 0;
}

// brand-warning
#text,
#placement,
#collapsible-content,
#text-alignment,
#responsive-font-sizes {
  display: flex;

  &::before {
    display: inline-block;
    height: auto;
    padding-right: .375rem;
    margin: 0;
    font-family: icon-orange, sans-serif;
    color: theme-color("danger");
    content: "\e936";
  }
}

// boostwatch

#docsNavbarContent {
  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      max-height: subtract(100vh, 5rem);
    }
  }
}

$doc-link-arrow: url("data:image/svg+xml;<svg xmlns='http://www.w3.org/2000/svg' width='1250' height='1250'><path d='M750 261.875V386.25l-151.5.125c-83.375.125-152.75.375-154.125.5s-7.5.625-13.75 1.125c-30.375 2.375-70.875 11.5-102.5 23.25-56.875 21.125-103 51-147 94.875C130.375 557 96.75 614.625 76.875 685c-3.25 11.875-9 39.25-10.125 49.125-.5 3.625-1 6.875-1.25 7.25-2.125 3.625-3.25 67.125-1.5 86.75 2.125 24.25 7.875 54.75 14.75 78.125 16.875 57.125 43.75 106 84.25 153.75 7.375 8.625 36.625 37 46.125 44.75l9.625 7.875.125-56.625c0-62 .125-63.625 3.625-81.25 13.875-69.875 68-127.375 136.375-144.75 24.125-6.125 24.75-6.25 214-6.25H750v250l203.75-204.125c112-112.125 205.75-206.875 208.25-210.25 9-12.625 13-22.25 16-39.25 4.625-25.125-3-54.375-19.125-73.5-6-7.25-407.125-409.125-408.25-409.125-.375 0-.625 56-.625 124.375z'/></svg>") !default;
$doc-link-arrow-hover: url("data:image/svg+xml;<svg xmlns='http://www.w3.org/2000/svg' width='1250' height='1250'><path d='M750 261.875V386.25l-151.5.125c-83.375.125-152.75.375-154.125.5s-7.5.625-13.75 1.125c-30.375 2.375-70.875 11.5-102.5 23.25-56.875 21.125-103 51-147 94.875C130.375 557 96.75 614.625 76.875 685c-3.25 11.875-9 39.25-10.125 49.125-.5 3.625-1 6.875-1.25 7.25-2.125 3.625-3.25 67.125-1.5 86.75 2.125 24.25 7.875 54.75 14.75 78.125 16.875 57.125 43.75 106 84.25 153.75 7.375 8.625 36.625 37 46.125 44.75l9.625 7.875.125-56.625c0-62 .125-63.625 3.625-81.25 13.875-69.875 68-127.375 136.375-144.75 24.125-6.125 24.75-6.25 214-6.25H750v250l203.75-204.125c112-112.125 205.75-206.875 208.25-210.25 9-12.625 13-22.25 16-39.25 4.625-25.125-3-54.375-19.125-73.5-6-7.25-407.125-409.125-408.25-409.125-.375 0-.625 56-.625 124.375z' fill='#fe6100'/></svg>") !default;

.doc-link {
  position: relative;
  padding-right: 1.875rem;
  margin-left: .625rem;
  font-size: 1.5rem;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.875rem;
    height: 1.875rem;
    content: "";
    background-image: escape-svg($doc-link-arrow);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:hover::after {
    background-image: escape-svg($doc-link-arrow-hover);
  }
}

/* IE only fix */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #card-grid .d-block.text-center {
    height: 12.5rem;
  }
}

// card links
#bill .card-img,
#shop .card-img,
#timer .card-img,
#unlock .card-img {
  padding: 1.25rem;

  img {
    width: 50%;
  }
}

#bill .card-img {
  background-color: #50be87;
}

#shop .card-img {
  background-color: #4bb4e6;
}

#timer .card-img {
  background-color: #ffb4e6;
}

#unlock .card-img {
  background-color: #ffd200;
}

@include media-breakpoint-down(xs) {
  #bill .card-img,
  #shop .card-img,
  #timer .card-img,
  #unlock .card-img {
    img {
      width: auto;
      height: 2.5rem;
    }
  }
}

.o-switch.btn-group-toggle .doc-label {
  min-width: 6.25rem;
}

.table-contrast td,
.table-contrast tbody th {
  font-weight: 700;
}

.table-contrast .aa-large-text,
.table-contrast .aa-large-text * {
  font-size: 1.25rem;
}

.table-contrast thead th {
  font-size: 1.5rem;
}
