.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(86, 61, 124, .15);
  outline: 1px solid rgba(86, 61, 124, .2); /* Boosted mod */
}

.themed-container {
  padding-top: .75rem; /* Boosted mod */
  padding-bottom: .75rem; /* Boosted mod */
  margin-bottom: 1.5rem;
  background-color: rgba(0, 123, 255, .15);
  outline: 1px solid rgba(0, 123, 255, .2); /* Boosted mod */
}
