<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="Mark Otto, Jacob Thornton, Bootstrap contributors, and Orange SA">

<title>
  {% if page.layout == "home" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; Bootstrap
  {% endif %}
</title>

<!-- helvetica -->
<link href="{{ site.baseurl }}/dist/css/orangeHelvetica.css" rel="stylesheet">
<!-- orangeIcons -->
<link href="{{ site.baseurl }}/dist/css/orangeIcons.css" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="{{ site.baseurl }}/dist/css/boosted.css" rel="stylesheet">

<!-- Documentation extras -->
<link href="{{ site.baseurl }}/assets/css/docs.min.css" rel="stylesheet">

<!-- Favicons -->
<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
<link rel="icon" href="{{ site.baseurl }}/favicon.ico">
