<header class="" role="banner">
  <nav class="navbar navbar-dark">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
          <span class="sr-only">toggle navigation</span>
          <span class="icon-menu"></span>
      </button>
      <div class="container" >
          <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="dist/img/ORANGE_LOGO_rgb.jpg" alt="Back to homepage" title="Back to homepage"/></a>
          <ul class="nav navbar-nav collapse navbar-toggleable-xs" id="collapsingNavbar">
              <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/">
                  B<span class="text-primary">oo</span>sted
                </a>
              </li>
              <li class="nav-item"><a class="nav-link {% if page.layout == "docs" %}active{% endif %}" href="{{ site.baseurl }}/getting-started/introduction/">Documentation</a></li>
              <li class="nav-item"><a class="nav-link {% if page.title == "Examples" %}active{% endif %}" href="{{ site.baseurl }}/examples/">Examples</a></li>
              <li class="nav-item"><a class="nav-link {% if page.title == "Boostwatch" %}active{% endif %}" href="{{ site.baseurl }}/boostwatch/">Boostwatch</a></li>
              <li class="nav-item" id="id_li_for_cdu"></li>
          </ul>
      </div>
  </nav>
</header>
