#header {
  margin-top: 20px;
}
#header a {
  display: inline-block;
}
#header h1 {
  display: inline-block;
  color: #000;
  vertical-align: middle;
}
#search {
  margin-top: 25px;
}
#localNavigation {
  padding-right: 0;
  padding-left: 0;
  margin-top: 5px;
}
#localNavigation nav {
  margin-right: 0;
  margin-left: 0;
}

#content h1 {
  margin-top: 20px;
}

#newsLeaderTitle small {
  color: #666;
}
#newsLeader .description p {
  text-align: justify;
}
#newsLeader img {
  max-width: 100%;
  height: auto;
}
#newsLeader .description p:first-child {
  margin-top: 5px;
  font-weight: 700;
  color: #666;
}
#comments h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#comments .pagination {
  float: right;
  margin: 0;
}
#comments .alert-danger {
  padding: 10px;
  overflow: hidden;
  background-color: #f2dede;
  background-image: none;
  border-color: #ebccd1;
}
#comments .commentsList {
  padding-left: 0;
}
#comments .commentsList li {
  padding: 15px;
  margin-bottom: 20px;
  color: #666;
  list-style: none;
  cursor: pointer;
  border: 1px solid #ddd;
  box-shadow: 0 5px 10px -6px #999;
}
#comments ul li:hover {
  background-color: #f5f5f5;
}
.commentsList li span.comments {
  display: block;
  float: right;
  margin: 0 0 10px 10px;
}
span.comments a {
  color: #f16e00;
  text-decoration: underline;
}
.commentsList li a {
  color: #666;
}
.commentsList li a:focus,
#comments a:hover {
  text-decoration: inherit;
}
.commentsList strong {
  display: block;
}
.orange {
  color: #f16e00;
}
.author {
  margin-top: 5px;
}
#newsSupp {
  clear: both;
}
#infos {
  margin-top: 22px;
}
.bold {
  font-weight: 700;
}
#mostRead a,
#mostShared a {
  color: #444;
}
#mostRead > ul,
#mostShared > ul {
  padding: 0;
  list-style-type: none;
}
#mostRead > ul li,
#mostShared > ul li {
  padding-left: 30px;
  margin-bottom: 10px;
}
#mostRead > ul li:nth-child(6) {
  margin-bottom: 0;
}
#mostRead > ul li:nth-child(6) .glyphicon-chevron-right {
  font-size: 12px;
}

.svg-arrow-next::after {
  top: .25rem;
  right: -1rem;
  left: auto;
  width: .5625rem;
  height: .875rem;
}

#accordion {
  margin-top: 10px;
}


.mega-menu #id-for-cdu-link a:hover,
.mega-menu #id-for-cdu-link a:focus {
  color: #f16e00;
}

@media (max-width: 767px) {
  .navbar .btn {
    height: auto;
    padding: 6px 10px;
    font-size: inherit;
  }
}

/* custom select */
.select-theme-default.select-target {
  width: 100%;
}

.select-theme-default.select-content {
  max-width: 100%;
}
