<section class="col-lg-7 mb-huge">
  <div class="masthead-followup-icon d-inline-block mb-tall" style="--bg-rgb: var(--bs-primary-rgb);">
    <svg class="bi fs-1"><use xlink:href="#palette2"></use></svg>
  </div>
  <h2 class="mb-tall fw-semibold lh-sm">Customize everything with&nbsp;Sass</h2>
  <p class="lead fw-normal">
    OUDS Web utilizes Sass for a modular and customizable architecture. Import only the components you need, enable global options like gradients and shadows, and write your own CSS with our variables, maps, functions, and mixins.
  </p>
  <p class="d-flex justify-content-start lead fw-normal">
    <a href="/docs/{{ .Site.Params.docs_version }}/customize/overview/" class="icon-link icon-link-hover fw-semibold">
      Learn more about customizing
      <svg class="bi"><use xlink:href="#arrow-right"></use></svg>
    </a>
  </p>
</section>

<section class="row g-lg-spacious mb-huge pb-md-huge">
  <div class="col-lg-6">
    <h3>Include all of OUDS Web's Sass</h3>
    <p>Import one stylesheet and you're off to the races with every feature of our CSS.</p>
    {{ highlight (printf `// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import OUDS Web
@import "../node_modules/@ouds/web/scss/ouds-web";
`) "scss" "" }}
    <p>Learn more about our <a href="/docs/{{ .Site.Params.docs_version }}/customize/options/">global Sass options</a>.</p>
  </div>
  <div class="col-lg-6">
    <h3>Include what you need</h3>
    <p>The easiest way to customize OUDS Web—include only the CSS you need.</p>
{{ highlight (printf `// Functions first
@import "../node_modules/@ouds/web/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Required OUDS Web imports
@import "../node_modules/@ouds/web/scss/tokens/raw";
@import "../node_modules/@ouds/web/scss/tokens/semantic";
@import "../node_modules/@ouds/web/scss/tokens/composite";
@import "../node_modules/@ouds/web/scss/tokens/component";
@import "../node_modules/@ouds/web/scss/variables";
@import "../node_modules/@ouds/web/scss/variables-dark";
@import "../node_modules/@ouds/web/scss/maps";
@import "../node_modules/@ouds/web/scss/mixins";
@import "../node_modules/@ouds/web/scss/root";

// Optional components
@import "../node_modules/@ouds/web/scss/utilities";
@import "../node_modules/@ouds/web/scss/reboot";
@import "../node_modules/@ouds/web/scss/containers";
@import "../node_modules/@ouds/web/scss/grid";
@import "../node_modules/@ouds/web/scss/helpers";
@import "../node_modules/@ouds/web/scss/utilities/api";
`) "scss" "" }}
    <p>Learn more about <a href="/docs/{{ .Site.Params.docs_version }}/customize/sass/">using OUDS Web with Sass</a>.</p>
  </div>
</section>
