<div class="col-lg-7 mx-auto pb-medium mb-medium mb-md-spacious text-md-center">
  <div class="masthead-followup-icon d-inline-block mb-medium" style="--bg-rgb: var(--bs-primary-rgb);">
    <svg class="bi fs-1"><use xlink:href="#code"></use></svg>
  </div>
  <h2 class="mb-medium lh-sm fw-semibold">Get started any way you&nbsp;want</h2>
  <p class="lead fw-normal">
    Jump right into building with OUDS Web—use the CDN, install it via package manager, or download the source code.
  </p>
  <p class="d-flex justify-content-md-start justify-content-md-center lead fw-normal">
    <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/" class="icon-link icon-link-hover fw-semibold ps-md-tall">
      Read installation docs
      <svg class="bi"><use xlink:href="#arrow-right"></use></svg>
    </a>
  </p>
</div>

<section class="row g-shorter g-lg-spacious mb-spacious pb-spacious justify-content-center">
  <div class="col-lg-6 py-lg-tall pe-lg-spacious">
    <svg class="bi mb-shorter fs-2 text-body-secondary"><use xlink:href="#box-seam"></use></svg>
    <h3 class="fw-semibold">Install via package manager</h3>
    <p class="pe-lg-spacious">
      Install OUDS Web's source Sass and JavaScript files via npm, yarn, Composer, or NuGet. Package managed installs don't include documentation or our full build scripts.
    </p>
    {{ highlight (printf ("npm install @ouds/web@%s") .Site.Params.current_version) "sh" "" }}
    {{ highlight (printf ("yarn add @ouds/web@%s") .Site.Params.current_version) "sh" "" }}
    <p>
      <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/">Read our installation docs</a> for more info and additional package managers.
    </p>
  </div>
  <div class="col-lg-6 py-lg-tall ps-lg-spacious border-lg-start">
    <svg class="bi mb-shorter fs-2 text-body-secondary"><use xlink:href="#globe2"></use></svg>
    <h3 class="fw-semibold">Include via CDN</h3>
    <p class="pe-lg-spacious">
      When you only need to include OUDS Web's compiled CSS or JS, you can use <a href="https://www.jsdelivr.com/package/npm/uds-web">jsDelivr</a>. See it in action with our simple <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/#quick-start">quick start</a>, or <a href="/docs/{{ .Site.Params.docs_version }}/examples/">browse the examples</a> to jumpstart your next project. You can also choose to include Popper and our JS <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/#separate">separately</a>.
    </p>
    {{ highlight (printf (`<link href="%s" rel="stylesheet" integrity=%q crossorigin="anonymous">`) .Site.Params.cdn.css (.Site.Params.cdn.css_hash | safeHTMLAttr)) "html" "" }}
    {{ highlight (printf (`<script src="%s" integrity=%q crossorigin="anonymous"></script>`) .Site.Params.cdn.js_bundle (.Site.Params.cdn.js_bundle_hash | safeHTMLAttr)) "html" "" }}
  </div>
</section>
