<div class="bd-masthead bg-always-black" id="content" data-bs-theme="dark">
  <div class="container-fluid container-max-width py-tallest">
    <div class="col-md-8">
      <h1 class="display-medium text-brand-primary mb-short">OUDS Web</h1>

      <p class="lead fw-bold mb-tallest">
        Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins. OUDS Web is a Bootstrap based, Orange branded accessible and ergonomic components library.
      </p>

      <div class="mb-medium">
        <div class="d-inline-block v-align-middle fs-5" style="min-width: fit-content;">
          {{ highlight (printf ("npm i @ouds/web@%s") .Site.Params.current_version) "sh" "" }}
        </div>
      </div>

      <div class="mb-medium">
        <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/" class="btn btn-strong">
          <svg class="bi me-short fs-2" aria-hidden="true"><use xlink:href="#book-half"></use></svg>
          Read the docs
        </a>
      </div>

      <p class="">
        Currently <strong>v{{ .Site.Params.current_version }}</strong>
        <span class="px-shortest">&middot;</span>
        <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/">Download</a>
        <span class="px-shortest">&middot;</span>
        <a href="/docs/versions/" class="text-nowrap">All releases</a>
      </p>
    </div>
  </div>
</div>
