<!--
<section class="row g-lg-5 pb-md-5 mb-5 align-items-center">
  <div class="col-lg-6 mb-5 mb-md-0">
    <div class="masthead-followup-icon d-inline-block mb-3" style="--bg-rgb: var(--bs-info-rgb);">
      {{ partial "icons/download.svg" (dict "class" "bi fs-1") }}
    </div>
    <h2 class="mb-3 fw-semibold lh-sm">Orange Unified Design System for web</h2>
    <p class="lead fw-normal">
      Streamline your workflow and improve experience consistency with this cross-platform, scalable and inspiring design system. Designers, developers, marketers and partners, start your digital creations from the ready-to-use resources here!
    </p>
    <p class="d-flex align-items-start flex-column lead fw-normal mb-0">
      <a href="{{ .Site.Params.ods.web }}" class="icon-link icon-link-hover fw-semibold" target="_blank" rel="noopener">
        Visit system.design.orange.com
        <svg class="bi"><use xlink:href="#arrow-right"></use></svg>
      </a>
    </p>
  </div>
  <div class="col-lg-6">
    {{ partial "responsive-img" (dict "context" .
      "imgPath" "/assets/img/ouds-web-guidelines.png"
      "alt" "OUDS Web design guidelines"
      "classes" "d-block mt-3") }}
  </div>
</section>
-->
