* {
  text-shadow: none !important;
}
.navbar-default .navbar-brand {
  background: none;
}
#orange_logo {
  float: left;
}
#app_name {
  margin-left: 20px;
  font-size: 1.1em;
  color: #999;
  text-shadow: none;
}
#app_name:hover, #app_name:focus {
  color: #f16e00;
}
.nav-shift {
  margin-left: 6%;
}
.orange {
  color: #f16e00;
}

.form-horizontal {
  margin-top: 10px;
}
#content form {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer {
  height: auto;
  background-color: #333;
}
footer a {
  color: white;
}

.navbar-inverse #id_for_cdu_link a {
  color: #fff;
}
.navbar-inverse #id_for_cdu_link a:hover,.navbar-inverse #id_for_cdu_link a:focus {
  color: #f16e00;
}

.navbar-nav span[class*="icon-"] {
  font-size: 2rem;
}
