#header {
  margin-top: 20px;
}
#header a {
  display: inline-block;
}
#header h1 {
  display: inline-block;
  /*margin-left: 20px;*/
  color: #000;
  vertical-align: middle;
}
#search {
  margin-top: 25px;
}
#localNavigation {
  padding-right: 0;
  padding-left: 0;
  margin-top: 5px;
}
#localNavigation nav {
  margin-right: 0;
  margin-left: 0;
}

#content h1 {
  margin-top: 20px;
}

#newsLeaderTitle small {
  color: #666;
}
#newsLeader .description p {
  text-align: justify;
}
#newsLeader img {
  max-width: 100%;
  height: auto;
}
#newsLeader .description p:first-child {
  margin-top: 5px;
  font-weight: bold;
  color: #666;
}
#comments h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#comments .pagination {
  float: right;
  margin: 0;
}
#comments .alert-danger {
  padding: 10px;
  overflow: hidden;
  background-color: #f2dede;
  background-image: none;
  border-color: #ebccd1;
}
#comments .commentsList {
  padding-left: 0;
}
#comments .commentsList li {
  padding: 15px;
  margin-bottom: 20px;
  color: #666;
  list-style: none;
  cursor: pointer;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 5px 10px -6px #999;
          box-shadow: 0 5px 10px -6px #999;
}
#comments ul li:hover {
  background-color: #f5f5f5;
}
#comments .commentsList li span.comments {
  display: block;
  float: right;
  margin: 0 0 10px 10px;
}
#comments .commentsList li span.comments a {
  color: #f16e00;
  text-decoration: underline;
}
#comments .commentsList li a {
  color: #666;
}
#comments .commentsList li a:focus, #comments ul li a:hover {
  text-decoration: inherit;
}
#comments .commentsList li a strong {
  display: block;
}
.orange {
  color: #f16e00;
}
.author {
  margin-top: 5px;
}
#newsSupp {
  clear: both;
}
#infos {
  margin-top: 22px;
}
.bold {
  font-weight: bold;
}
#mostRead a, #mostShared a {
  color: #444;
}
#mostRead > ul, #mostShared > ul {
  padding: 0;
  list-style-type: none;
}
#mostRead > ul li, #mostShared > ul li {
  padding-left: 30px;
  margin-bottom: 10px;
}
#mostRead > ul li:nth-child(6) {
  margin-bottom: 0;
}
#mostRead > ul li:nth-child(6) .glyphicon-chevron-right {
  font-size: 12px;
}
#accordion {
  margin-top: 10px;
}
footer {
  height: auto;
  min-height: 54px;
  margin: 10px auto 20px;
  overflow: hidden;
  background-color: #eee;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #f3f3f3;
}
footer a, footer span {
  color: inherit;
  text-align: center;
}
#uci_link {
  /*margin-top: 3.75rem !important;*/
  /*color: #fff !important;
  float: left;
  line-height: 1;*/
}

.navbar.minimized #uci_link {
  /*margin-top: 2.875rem !important;*/
}

.mega-menu #id_for_cdu_link a:hover,.mega-menu #id_for_cdu_link a:focus {
  color: #f16e00;
}

@media (max-width: 767px) {
  .navbar .btn {
    height: auto;
    padding: 6px 10px;
    font-size: inherit;
  }
}

@media (max-width: 543px) {
  #id_li_for_cdu {
    display: none !important;
  }
}

/* custom select */
.select-theme-default.select-target {
  width:100%
}

.select-theme-default.select-content {
  max-width: 100%;
}

/* Custom nav */

.container,
.navbar .nav-item {
    position: static;
}

#mega_level_1_collapse {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;

}

@media (min-width: 768px) {

    #mega_level_1_collapse {
        padding: 1rem 0;
        border-top: 1px solid #333;
    }

    #mega_level_1_collapse .nav-item:first-child,
    #mega_level_1_collapse .nav-item + .nav-item {
        margin-left: 0;
    }

    #mega_level_1_collapse .navbar-nav:not(.sub) {
        flex-direction: row;
    }

    #mega_level_1_collapse .navbar-nav:not(.sub) .nav-item {
        flex-grow: 1;
    }

    #mega_level_1_collapse .nav-link {
        color: #fff;
    }

    #mega_level_1_collapse .nav-link.back {
        display: none;
    }

    #mega_level_1_collapse .navbar-nav.sub {
        flex-direction: column;
    }

    #mega_level_1_collapse .nav-link.head {
        font-size: 20px;
        margin-bottom: 1rem;
    }

    #mega_level_1_collapse .navbar-nav.sub .nav-link {
        line-height: 20px;
    }

    #mega_level_1_collapse a[data-toggle="collapse"] {
        color: #fff;
        float: right;
    }
}

@media (max-width: 767px) {
    .navbar-toggleable-sm .nav-item {
        padding-left: 0;
    }

    .navbar-collapse > .navbar-nav,
    .navbar-nav.sub {
        transition: transform .5s;
    }

    .navbar-collapse {
        position: absolute;
        background-color: #000;
        overflow: hidden;
    }

    .navbar-collapse > .navbar-nav {
        transform: translateX(0);
    }

    #collapsingNavbarHead .nav-link[data-toggle="collapse"]::before {
        content: "";
        border-top: 0.4375em solid;
        border-right: 0.4375em solid transparent;
        border-left: 0.4375em solid transparent;
        transform: rotateZ(180deg);
    }

    #collapsingNavbarHead .nav-link[data-toggle="collapse"].collapsed::before {
        transform: rotateZ(0deg);
    }


    #mega_level_1_collapse {
        position: static;
    }

    #mega_level_1_collapse .navbar-nav:not(.sub) {
        flex-direction: column;
    }

    #mega_level_1_collapse > .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #mega_level_1_collapse .nav-item {
        padding-left: 0;
        border-top: 0;
    }

    #mega_level_1_collapse .nav-item:first-child {
        margin-top: 1rem;
    }

    #mega_level_1_collapse .navbar-nav.sub {
        position: absolute;
        top: 0px;
        width: 100%;
        transform: translateX(100%);
        background-color: #000;
        display: none;
        border-top: 1px solid #333;
    }

    #mega_level_1_collapse .navbar-nav.sub .nav-item {
        margin-top: 0;
        border-bottom: 1px solid #333;
    }

    #mega_level_1_collapse .nav-link.back {
        display: block;
    }

    #mega_level_1_collapse .nav-link.back::before {
        float: left;
        transform: rotateZ(180deg);
    }

    #mega_level_1_collapse a[data-toggle="collapse"] {
        display: none;
    }
}