<!-- boosted mod -->
<a href="#" class="o-scroll-up" title="back to top"><span class="o-scroll-up-text d-none d-sm-inline-block">Back to top</span><span class="o-scroll-up-icon" aria-hidden="true"></span></a>
<!-- end mod -->
<script src="{{ site.cdn.jquery }}" integrity="{{ site.cdn.jquery_hash }}" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

<script src="{{ site.baseurl }}/assets/js/vendor/popper.min.js"></script>

{% if site.github %}
  <script src="{{ site.baseurl }}/dist/js/boosted.min.js"></script>
{% else %}
  <script src="{{ site.baseurl }}/dist/js/boosted.js"></script>
{% endif %}

<!-- boosted mod -->
<script src="{{ site.baseurl }}/dist/js/vendor/jquery.tablesorter.js"></script>
<!-- end mod -->

{% if site.github %}
  <script src="{{ site.baseurl }}/assets/js/docs.min.js"></script>
{% else %}
  <script src="{{ site.baseurl }}/assets/js/vendor/anchor.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/clipboard.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/holder.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/src/application.js"></script>
<!-- Boosted mod -->
  <script src="{{ site.baseurl }}/assets/js/src/application-boosted.js"></script>
<!-- end mod -->
{% endif %}

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="{{ site.baseurl }}/assets/js/ie-emulation-modes-warning.js"></script>

{% if page.layout == "docs" %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
  var docsearch = docsearch({
    apiKey: 'a2fb9f18ccc85658e152aeb2dd350860',
    indexName: 'boosted-orange',
    inputSelector: '#search-input',
    handleSelected: function (input, event, suggestion) {
      var url = suggestion.url;
      url = suggestion.isLvl1 ? url.split('#')[0]: url;
      // If it's a title we remove the anchor so it does not jump.
      window.location.href = url;
    },
    transformData: function (hits) {
      return hits.map(function (hit) {
        hit.url = hit.url.replace('http://boosted.orange.com/4.0/docs/', '{{ site.baseurl }}/docs/');
        return hit;
      });
    },
    debug: false // Set debug to true if you want to inspect the dropdown
  });
</script>
<script src="{{ site.baseurl }}/dist/js/vendor/swiper.min.js"></script>
<script>
  new Swiper('.swiper-container', {
    // enable accessibility
    a11y: true,
    keyboardControl: true,

    // If we need pagination
    pagination: '.swiper-pagination',

    // Navigation arrows
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
  })

  $('#collapsing-navbarHead').megamenu();

</script>
{% endif %}

{% if page.title == "Boostwatch" %}
<script src="{{ site.baseurl }}/dist/js/vendor/swiper.min.js"></script>
<script>
  $(document).ready(function () {
    $("#myTable").tablesorter({
      sortList: [[4, 1]],
      // manipulate the template string after is it created
      onRenderTemplate : function(i, t){
        // put a span arround the text
        return '<span>' + t + '</span>';
      }
    });
  });

  new Swiper('.swiper-container', {
    // enable accessibility
    a11y: true,
    keyboardControl: true,

    // If we need pagination
    pagination: '.swiper-pagination',

    // Navigation arrows
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
  })
</script>{%
endif %}
<script>
Holder.addTheme('gray', {
  bg: '#777',
  fg: 'rgba(255,255,255,.75)',
  font: 'Helvetica',
  fontweight: 'normal'
})
</script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    $('.o-nav-local').prioritynav();
  })
</script>
