<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="Mark Otto, Jacob Thornton, Bootstrap contributors, and Orange SA">

<title>
  
    Responsive utilities &middot; Bootstrap
  
</title>

<!-- helvetica -->
<link href="../../dist/css/orangeHelvetica.css" rel="stylesheet">
<!-- orangeIcons -->
<link href="../../dist/css/orangeIcons.css" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="../../dist/css/boosted.css" rel="stylesheet">

<!-- Documentation extras -->
<link href="../../assets/css/docs.min.css" rel="stylesheet">

<!-- Favicons -->
<link rel="apple-touch-icon" href="../../apple-touch-icon.png">
<link rel="icon" href="../../favicon.ico">

  </head>
  <body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    <header class="" role="banner">
  <nav class="navbar navbar-dark">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
          <span class="sr-only">toggle navigation</span>
          <span class="icon-menu"></span>
      </button>
      <div class="container" >
          <a class="navbar-brand"><img src="../../dist/img/ORANGE_LOGO_rgb.jpg" alt="Back to homepage" title="Back to homepage"/></a>
          <ul class="nav navbar-nav collapse navbar-toggleable-xs" id="collapsingNavbar">
              <li class="nav-item">
                <a class="nav-link" href="../../">
                  B<span class="text-primary">oo</span>sted
                </a>
              </li>
              <li class="nav-item"><a class="nav-link active" href="../../getting-started/introduction/">Documentation</a></li>
              <li class="nav-item"><a class="nav-link " href="../../examples/">Examples</a></li>
              <li class="nav-item"><a class="nav-link " href="../../boostwatch/">Boostwatch</a></li>
              <li class="nav-item" id="id_li_for_cdu"></li>
          </ul>
      </div>
  </nav>
</header>


    <div class="bd-pageheader">
      <div class="container">
        
  <h1>Layout</h1>
  <p class="lead">
    Options for structuring your pages with Bootstrap, including global styles, required scaffolding, grid system, and more.
  </p>


      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3 push-md-9 bd-sidebar">
          <div class="bd-sidebar">

  <form class="bd-search hidden-sm-down">
    <input type="text" class="form-control" id="search-input" placeholder="Search..." autocomplete="off">
    <div class="dropdown-menu bd-search-results" id="search-results"></div>
  </form>

  <nav class="bd-links" id="docsNavbarContent">
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="../../getting-started/introduction">
        
          Getting started
        </a>

        <ul class="nav bd-sidenav">
          
          
          
            

            

            <li class="">
              <a href="../../getting-started/introduction">
                Introduction
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../getting-started/download">
                Download
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../getting-started/contents">
                Contents
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../getting-started/browsers-devices">
                Browsers & devices
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../getting-started/javascript">
                JavaScript
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../getting-started/options">
                Options
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../getting-started/flexbox">
                Flexbox
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../getting-started/build-tools">
                Build tools
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../getting-started/best-practices">
                Best practices
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../getting-started/accessibility">
                Accessibility
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item active">
        
          <a class="bd-toc-link" href="../../layout/overview">
        
          Layout
        </a>

        <ul class="nav bd-sidenav">
          
          
          
            

            

            <li class="">
              <a href="../../layout/overview">
                Overview
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../layout/grid">
                Grid
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../layout/flexbox-grid">
                Flexbox grid
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../layout/media-object">
                Media object
              </a>

              
            </li>
          
          
          
            

            

            <li class="active bd-sidenav-active">
              <a href="../../layout/responsive-utilities">
                Responsive utilities
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="../../content/reboot">
        
          Content
        </a>

        <ul class="nav bd-sidenav">
          
          
          
            

            

            <li class="">
              <a href="../../content/reboot">
                Reboot
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../content/typography">
                Typography
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../content/code">
                Code
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../content/images">
                Images
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../content/tables">
                Tables
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../content/figures">
                Figures
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="../../components/alerts">
        
          Components
        </a>

        <ul class="nav bd-sidenav">
          
          
          
            

            

            <li class="">
              <a href="../../components/alerts">
                Alerts
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/breadcrumb">
                Breadcrumb
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/buttons">
                Buttons
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/buttons-inversed">
                Buttons inversed
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/button-group">
                Button group
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/card">
                Card
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/carousel">
                Carousel
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/collapse">
                Collapse
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/dropdowns">
                Dropdowns
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/forms">
                Forms
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/input-group">
                Input group
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/jumbotron">
                Jumbotron
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/list-group">
                List group
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/modal">
                Modal
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/navs">
                Navs
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/navbar">
                Navbar
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/navbar-orange">
                Navbar Orange
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/megamenu">
                Megamenu
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/local-navigation">
                Local navigation
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/orange-footer">
                Orange footer
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/orange-stepbar">
                Orange stepbar
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/pagination">
                Pagination
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/popovers">
                Popovers
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/progress">
                Progress
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/orange-list">
                Orange list
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/scrollspy">
                Scrollspy
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/tag">
                Tag
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/tooltips">
                Tooltips
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/orange-accordion">
                Orange accordion
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../components/utilities">
                Utilities
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="../../about/history">
        
          About
        </a>

        <ul class="nav bd-sidenav">
          
          
          
            

            

            <li class="">
              <a href="../../about/history">
                History
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../about/boosted-history">
                Boosted history
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../about/team">
                Team
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../about/brand">
                Brand
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../about/orange-brand">
                Orange brand
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../about/license">
                License
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../about/boosted-license">
                Boosted license
              </a>

              
            </li>
          
          
          
            

            

            <li class="">
              <a href="../../about/translations">
                Translations
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="../../migration/">
        
          Migration
        </a>

        <ul class="nav bd-sidenav">
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="../../boosted-migration/">
        
          Boosted migration
        </a>

        <ul class="nav bd-sidenav">
          
        </ul>
      </div>
    
  </nav>
  <!-- boosted mod -->
  <a href="#" class="scroll-top">
    <span class="icon-arrow-up" aria-hidden="true"></span>
    <div class="scroll-top-text">back to top</div>
    <span class="sr-only">back to top</span>
  </a>
  <!-- end mod -->
</div>

        </div>
        <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
          <h1 class="bd-title" id="content">Responsive utilities</h1>
          <p>For faster mobile-friendly development, use these utility classes for showing and hiding content by device via media query. Also included are utility classes for toggling content when printed.</p>

<p>Try to use these on a limited basis and avoid creating entirely different versions of the same site. Instead, use them to complement each device’s presentation.</p>

<h2 id="available-classes">Available classes</h2>

<ul>
  <li>The <code class="highlighter-rouge">.hidden-*-up</code> classes hide the element when the viewport is at the given breakpoint or wider. For example, <code class="highlighter-rouge">.hidden-md-up</code> hides an element on medium, large, and extra-large viewports.</li>
  <li>The <code class="highlighter-rouge">.hidden-*-down</code> classes hide the element when the viewport is at the given breakpoint or smaller. For example, <code class="highlighter-rouge">.hidden-md-down</code> hides an element on extra-small, small, and medium viewports.</li>
  <li>There are no explicit “visible”/”show” responsive utility classes; you make an element visible by simply not hiding it at that breakpoint size.</li>
  <li>You can combine one <code class="highlighter-rouge">.hidden-*-up</code> class with one <code class="highlighter-rouge">.hidden-*-down</code> class to show an element only on a given interval of screen sizes. For example, <code class="highlighter-rouge">.hidden-sm-down.hidden-xl-up</code> shows the element only on medium and large viewports. Using multiple <code class="highlighter-rouge">.hidden-*-up</code> classes or multiple <code class="highlighter-rouge">.hidden-*-down</code> classes is redundant and pointless.</li>
  <li>These classes don’t attempt to accommodate less common cases where an element’s visibility can’t be expressed as a single contiguous range of viewport breakpoint sizes; you will instead need to use custom CSS in such cases.</li>
</ul>

<div class="table-responsive">
  <table class="table table-bordered table-striped responsive-utilities">
    <thead>
      <tr>
        <th></th>
        
        
          
            <th>
            xs
              <small>Portrait phone (&lt;480px) (target 320 screen resolutions)</small>
            </th>
          
            <th>
            sm
              <small>Landscape phones (&ge;480px - &lt;768px) (target 480 screen resolutions)</small>
            </th>
          
            <th>
            md
              <small>Tablet (&ge;768px - &lt;960px) (target 768 screen resolutions)</small>
            </th>
          
            <th>
            lg
              <small>Desktop (&ge;960px - &lt;1120px) (target 1024 screen resolutions)</small>
            </th>
          
            <th>
            xl
              <small>Desktop (&ge;1220px - &lt;1380px) (target 1280 screen resolutions)</small>
            </th>
          
            <th>
            xxl
              <small>Desktop (&ge;1380px) (target 1440 screen resolutions)</small>
            </th>
          
        
      </tr>
    </thead>
    <tbody>
        
        
                    
            
            
            <tr>
              <th scope="row"><code>.hidden-xs-down</code></th>
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                
                  <td class="is-visible">Visible</td>
                
              
                
                  <td class="is-visible">Visible</td>
                
              
                
                  <td class="is-visible">Visible</td>
                
              
                
                  <td class="is-visible">Visible</td>
                
              
                
                  <td class="is-visible">Visible</td>
                
              
            </tr>
                    
            
            
            <tr>
              <th scope="row"><code>.hidden-sm-down</code></th>
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                
                  <td class="is-visible">Visible</td>
                
              
                
                  <td class="is-visible">Visible</td>
                
              
                
                  <td class="is-visible">Visible</td>
                
              
                
                  <td class="is-visible">Visible</td>
                
              
            </tr>
                    
            
            
            <tr>
              <th scope="row"><code>.hidden-md-down</code></th>
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                
                  <td class="is-visible">Visible</td>
                
              
                
                  <td class="is-visible">Visible</td>
                
              
                
                  <td class="is-visible">Visible</td>
                
              
            </tr>
                    
            
            
            <tr>
              <th scope="row"><code>.hidden-lg-down</code></th>
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                
                  <td class="is-visible">Visible</td>
                
              
                
                  <td class="is-visible">Visible</td>
                
              
            </tr>
                    
            
            
            <tr>
              <th scope="row"><code>.hidden-xl-down</code></th>
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                
                  <td class="is-visible">Visible</td>
                
              
            </tr>
                    
            
            
            <tr>
              <th scope="row"><code>.hidden-xxl-down</code></th>
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
                 
                  <td class="is-hidden">Hidden</td>
                
              
            </tr>
          
             
            
            
            <tr>
              <th scope="row"><code>.hidden-xs-up</code></th>
              
                 
                  <td class="is-visible">Visible</td>
                
              
                
                  <td class="is-hidden">Hidden</td>
                
              
                
                  <td class="is-hidden">Hidden</td>
                
              
                
                  <td class="is-hidden">Hidden</td>
                
              
                
                  <td class="is-hidden">Hidden</td>
                
              
                
                  <td class="is-hidden">Hidden</td>
                
              
            </tr>
             
            
            
            <tr>
              <th scope="row"><code>.hidden-sm-up</code></th>
              
                 
                  <td class="is-visible">Visible</td>
                
              
                 
                  <td class="is-visible">Visible</td>
                
              
                
                  <td class="is-hidden">Hidden</td>
                
              
                
                  <td class="is-hidden">Hidden</td>
                
              
                
                  <td class="is-hidden">Hidden</td>
                
              
                
                  <td class="is-hidden">Hidden</td>
                
              
            </tr>
             
            
            
            <tr>
              <th scope="row"><code>.hidden-md-up</code></th>
              
                 
                  <td class="is-visible">Visible</td>
                
              
                 
                  <td class="is-visible">Visible</td>
                
              
                 
                  <td class="is-visible">Visible</td>
                
              
                
                  <td class="is-hidden">Hidden</td>
                
              
                
                  <td class="is-hidden">Hidden</td>
                
              
                
                  <td class="is-hidden">Hidden</td>
                
              
            </tr>
             
            
            
            <tr>
              <th scope="row"><code>.hidden-lg-up</code></th>
              
                 
                  <td class="is-visible">Visible</td>
                
              
                 
                  <td class="is-visible">Visible</td>
                
              
                 
                  <td class="is-visible">Visible</td>
                
              
                 
                  <td class="is-visible">Visible</td>
                
              
                
                  <td class="is-hidden">Hidden</td>
                
              
                
                  <td class="is-hidden">Hidden</td>
                
              
            </tr>
             
            
            
            <tr>
              <th scope="row"><code>.hidden-xl-up</code></th>
              
                 
                  <td class="is-visible">Visible</td>
                
              
                 
                  <td class="is-visible">Visible</td>
                
              
                 
                  <td class="is-visible">Visible</td>
                
              
                 
                  <td class="is-visible">Visible</td>
                
              
                 
                  <td class="is-visible">Visible</td>
                
              
                
                  <td class="is-hidden">Hidden</td>
                
              
            </tr>
             
            
            
            <tr>
              <th scope="row"><code>.hidden-xxl-up</code></th>
              
                 
                  <td class="is-visible">Visible</td>
                
              
                 
                  <td class="is-visible">Visible</td>
                
              
                 
                  <td class="is-visible">Visible</td>
                
              
                 
                  <td class="is-visible">Visible</td>
                
              
                 
                  <td class="is-visible">Visible</td>
                
              
                 
                  <td class="is-visible">Visible</td>
                
              
            </tr>
          
        
    </tbody>
  </table>
</div>

<h2 id="responsive-utilities-print">Print classes</h2>
<p>Similar to the regular responsive classes, use these for toggling content for print.</p>
<div class="table-responsive">
  <table class="table table-bordered table-striped responsive-utilities">
    <thead>
      <tr>
        <th>Class</th>
        <th>Browser</th>
        <th>Print</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><code>.visible-print-block</code></th>
        <td class="is-hidden">Hidden</td>
        <td class="is-visible">Visible<br />(as <code>display: block</code>)</td>
      </tr>
      <tr>
        <th><code>.visible-print-inline</code></th>
        <td class="is-hidden">Hidden</td>
        <td class="is-visible">Visible<br />(as <code>display: inline</code>)</td>
      </tr>
      <tr>
        <th><code>.visible-print-inline-block</code></th>
        <td class="is-hidden">Hidden</td>
        <td class="is-visible">Visible<br />(as <code>display: inline-block</code>)</td>
      </tr>
      <tr>
        <th><code>.hidden-print</code></th>
        <td class="is-visible">Visible</td>
        <td class="is-hidden">Hidden</td>
      </tr>
    </tbody>
  </table>
</div>

<h2 id="test-cases">Test cases</h2>

<p>Resize your browser or load on different devices to test the responsive utility classes.</p>

<p>Green checkmarks indicate the element <strong>is visible</strong> in your current viewport.</p>

<div class="row responsive-utilities-test visible-on">
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-sm-up visible">&#10004; Visible on extra small</span>
    <span class="hidden-xs-down not-visible">Extra small</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-md-up visible">&#10004; Visible on small or narrower</span>
    <span class="hidden-sm-down not-visible">Small or narrower</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-lg-up visible">&#10004; Visible on medium or narrower</span>
    <span class="hidden-md-down not-visible">Medium or narrower</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-xl-up visible">&#10004; Visible on large or narrower</span>
    <span class="hidden-lg-down not-visible">Large or narrower</span>
  </div>
</div>

<hr />

<div class="row responsive-utilities-test visible-on">
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-xs-down visible">&#10004; Visible on small or wider</span>
    <span class="hidden-sm-up not-visible">Small or wider</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-sm-down visible">&#10004; Visible on medium or wider</span>
    <span class="hidden-md-up not-visible">Medium or wider</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-md-down visible">&#10004; Visible on large or wider</span>
    <span class="hidden-lg-up not-visible">Large or wider</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-lg-down visible">&#10004; Visible on extra large</span>
    <span class="hidden-xl-up not-visible">Extra large</span>
  </div>
</div>

<hr />

<div class="row responsive-utilities-test visible-on">
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-sm-up visible">&#10004; Your viewport is exactly extra small</span>
    <span class="hidden-xs-down not-visible">Your viewport is NOT exactly extra small</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-xs-down hidden-md-up visible">&#10004; Your viewport is exactly small</span>
    <span class="hidden-sm-only not-visible">Your viewport is NOT exactly small</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-sm-down hidden-lg-up visible">&#10004; Your viewport is exactly medium</span>
    <span class="hidden-md-only not-visible">Your viewport is NOT exactly medium</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-md-down hidden-xl-up visible">&#10004; Your viewport is exactly large</span>
    <span class="hidden-lg-only not-visible">Your viewport is NOT exactly large</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-lg-down hidden-xxl-up visible">&#10004; Your viewport is exactly extra large</span>
    <span class="hidden-xl-only not-visible">Your viewport is NOT exactly extra large</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-xl-down visible">&#10004; Your viewport is exactly extra extra large</span>
    <span class="hidden-xxl-only not-visible">Your viewport is NOT exactly extra extra large</span>
  </div>
</div>

        </div>
      </div>
    </div>

    <footer class="bd-footer navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="o-footer">
                <div class="container-fluid o-footer-top" role="contentinfo">
                    <h1 class="sr-only">footer - site map & informations</h1>
        <p>This documentation is an adaptation made by Orange</p>
    <p>Original version designed and built with all the love in the world by <a href="https://twitter.com/mdo" target="_blank">@mdo</a> and <a href="https://twitter.com/fat" target="_blank">@fat</a>. Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>

    <p>Orange modified code licensed <a rel="license" href="https://github.com/Orange-OpenSource/Orange-Boosted-Bootstrap/blob/v3.3.0/LICENSE" target="_blank">MIT</a>, Original code licensed <a rel="license" href="https://github.com/twbs/bootstrap/blob/v4.0.0-alpha.3/LICENSE" target="_blank">MIT</a>, docs <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
                </div>
                <div class="o-footer-bottom">
                    <ul>
                      <li>Currently v4.0.0-alpha.3.1</li>
                      <li>&middot;</li>
                      <li><a href="https://github.com/Orange-OpenSource/Orange-Boosted-Bootstrap">GitHub</a></li>
                      <li>&middot;</li>
                      <li><a href="examples">Examples</a></li>
                      <li>&middot;</li>
                      <li><a href="https://github.com/twbs/bootstrap/tree/v4.0.0-alpha.3">Original Bootstrap</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

<script src="../../assets/js/vendor/tether.min.js"></script>


  <script src="../../dist/js/boosted.js"></script>


<script src="../../dist/js/vendors/jquery.tablesorter.js"></script>



<script src="../../assets/js/docs.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="../../assets/js/ie-emulation-modes-warning.js"></script>


<script src="../../assets/js/vendor/jekyll-search.min.js"></script>

<script>
SimpleJekyllSearch.init({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('search-results'),
  searchResultTemplate: '<a class="dropdown-item" href="{url}">{title}</a>',
  noResultsText: '<div class="dropdown-item no-results">Sorry, there are no results for that search.</div>',
  json: '/search.json'
})
</script>





<script>
Holder.addTheme('gray', {
  bg: '#777',
  fg: 'rgba(255,255,255,.75)',
  font: 'Helvetica',
  fontweight: 'normal'
})
</script>

<script type="text/javascript" src="http://comfort.orange.com/serveur/crossdom/js/toolbar-min.js"></script>
<script>
			accessibilitytoolbar_custom={
				idLinkModeContainer:"id_li_for_cdu",
				//idSkipLinkIdLinkMode:"cdu_skiplink",
				//cssSkipLinkClassName: "skiplinks_trigger",
				cssLinkModeClassName:"nav-item-cdu"
				//callback:skiplinksAfterLoad
			};
</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

  </body>
</html>
