/* stylelint-disable selector-max-id */
.navbar-light .navbar-brand {
  background: none;
}
#orange_logo {
  float: left;
}
#app_name{
  margin-left: 20px;
  font-size: 1.1em;
  color: #999;
  text-shadow: none;
}
#app_name:hover,
#app_name:focus {
  color: #f16e00;
}
.nav-shift{
  margin-left: 6%;
}
.orange{
  margin-left: 6px;
  color: #f16e00;
}

.form-horizontal {
  margin-top: 10px;
}
#content form {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer {
  height: auto;
  background-color: #333;
}
footer a {
  color: #fff;
}

.navbar-dark #id-for-cdu-link a{
  color: #fff;
}
.navbar-dark #id-for-cdu-link a:hover,
.navbar-dark #id-for-cdu-link a:focus{
  color: #f16e00;
}

.navbar-nav span[class*="icon-"] {
  font-size: 1.25rem;
}

.btn-sm::after {
  top: .5rem;
  left: .5rem;
  width: .5625rem;
  height: .875rem;
}

.btn-sm.svg-arrow-previous {
  padding-left: 1.5rem;
}

.btn-sm.svg-arrow-next {
  padding-right: 1.5rem;
}

.btn-sm.svg-arrow-next::after {
  right: .5rem;
  left: auto;
}

.svg-avatar {
  top: 0;
  right: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
}
