/* general */

html,body {
    height:100%;
}

h1,
h2,
h3 {
  letter-spacing: -0.03em;
  margin-top: 1.25rem;
  margin-bottom: .625rem;
}

/* page header */

header {
  overflow: hidden;
  border-bottom: 1px solid black;
  padding: 1.25rem;
}

header h1 {
  margin: 0 0 0 1.25rem;
  float: left;
}

header .btn {
  float: left;
}

/* links page */

main {
  margin-bottom: 6.25rem;
}

@media (max-width: 767px) {

}

@media (min-width: 767px) and (max-width: 979px) {

}
