body {
  scroll-behavior: smooth;
}

/**
 * Solaris "Book" icon
 * @link https://oran.ge/icons
 */
.bd-heading a::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: .25rem;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath fill-rule='evenodd' d='M9.26 25a1.77 1.77 0 01-1.76-1.76V6.76A1.77 1.77 0 019.26 5h12.36v2.35h1.17V25M20.44 6.18H9.26a.59.59 0 00-.58.58.59.59 0 00.58.6h1.18V15l1.77-1.76L13.97 15V7.35h6.47z'/%3e%3c/svg%3e");
  background-size: 1em;
}

/* stylelint-disable-next-line selector-max-universal */
.bd-heading + div > * + * {
  margin-top: 3rem;
}

/* Table of contents */
.bd-aside a {
  padding: .3125rem 1.25rem .3125rem .625rem;
  margin-top: .125rem;
  color: #000;
  text-decoration: none;
}

.bd-aside a:hover,
.bd-aside a:focus {
  color: #000;
  background-color: #ddd;
}

.bd-aside .active {
  font-weight: 700;
  color: #f16e00;
}

.bd-aside .btn {
  padding: .625rem .625rem .75rem;
  margin-top: .125rem;
  line-height: calc(18 / 16);
  border: 0;
}

.bd-aside .btn:hover,
.bd-aside .btn:focus {
  color: #000;
  background-color: #ddd;
}

.bd-aside .btn::after {
  display: inline-block;
  align-self: center;
  margin: 0 auto 0 .625rem;
  content: "";
  border-top: .4375rem solid;
  border-right: .4375rem solid transparent;
  border-bottom: 0;
  border-left: .4375rem solid transparent;
  transform: scale(calc(6 / 7));
}

.bd-aside .btn[aria-expanded="true"] {
  color: #f16e00;
}

.bd-aside .btn[aria-expanded="true"]:hover,
.bd-aside .btn[aria-expanded="true"]:focus {
  color: #000;
}

.bd-aside .btn[aria-expanded="true"]::after {
  transform: scale(calc(6 / 7)) rotate(180deg);
}


/* Examples */
.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: .5rem;
  overflow: auto;
}

[id="modal"] .bd-example .btn,
[id="buttons"] .bd-example .btn,
[id="tooltips"] .bd-example .btn,
[id="popovers"] .bd-example .btn,
[id="dropdowns"] .bd-example .btn-group,
[id="dropdowns"] .bd-example .dropdown,
[id="dropdowns"] .bd-example .dropup,
[id="dropdowns"] .bd-example .dropend,
[id="dropdowns"] .bd-example .dropstart {
  margin: 0 0 1rem 1rem;
}

/* Layout */
@media (min-width: 1200px) {
  body {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
  }

  .bd-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    grid-column: 1 / span 3;
  }

  .bd-aside,
  .bd-cheatsheet {
    padding-top: 6.25rem;
  }

  /**
   * 1. Too bad only Firefox supports subgrids ATM
   */
  .bd-cheatsheet,
  .bd-cheatsheet section,
  .bd-cheatsheet article {
    display: inherit; /* 1 */
    gap: inherit; /* 1 */
    grid-template-columns: 1fr 4fr;
    grid-column: 1 / span 2;
    grid-template-rows: auto;
  }

  .bd-aside {
    grid-area: 1 / 3;
    scroll-margin-top: 6.25rem;
  }

  .bd-cheatsheet section,
  .bd-cheatsheet section > h2 {
    top: 4rem;
    scroll-margin-top: 4rem;
  }

  .bd-cheatsheet section > h2::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -2rem;
    left: 0;
    z-index: -1;
    content: "";
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) calc(100% - 3rem), rgba(255, 255, 255, .01));
  }

  .bd-cheatsheet article,
  .bd-cheatsheet .bd-heading {
    top: 12rem;
    scroll-margin-top: 12rem;
  }

  .bd-cheatsheet .bd-heading {
    z-index: 1;
  }
}
