// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.bd-clipboard {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }
}

// Boosted mod remove btn-clipboard style
.btn-clipboard {
  position: absolute;
  top: .5rem;
  right: .5rem;
  z-index: 10;
  display: block;
  cursor: pointer;
}

@media (min-width: 768px) {
  .bd-clipboard {
    display: block;
  }
}
