// Local docs variables
$bd-purple:          #000;
$bd-purple-bright:   $bd-purple;
$bd-purple-light:    $bd-purple;
$bd-purple-lightest: $bd-purple;
$bd-graphite:        #000;
$bd-graphite-light:  #000;
$bd-yellow:          theme-color("primary");
$bd-danger:          theme-color("danger");
$bd-warning:         theme-color("warning");
$bd-info:            theme-color("info");
