// Local docs variables
$bd-purple:          #000 !default;
$bd-purple-bright:   $bd-purple !default;
$bd-purple-light:    $bd-purple !default;
$bd-dark:            #000 !default;
$bd-download:        #000 !default;
$bd-info:            theme-color("info") !default;
$bd-warning:         theme-color("warning") !default;
$bd-danger:          theme-color("danger") !default;
