// Local docs variables
$bd-purple:          #000;
$bd-purple-bright:   $bd-purple;
$bd-purple-light:    $bd-purple;
$bd-dark:            #000;
$bd-download:        #000;
$bd-info:            theme-color("info");
$bd-warning:         theme-color("warning");
$bd-danger:          theme-color("danger");
