:root {
  --bs-example-bg-col: #ffe2e2;
}

.legend {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.row {
  min-height: 150px;
}

.bg-example {
  background-color: #ff9f9f;
}

.bg-col {
  background-color: var(--bs-example-bg-col);
}

.col {
  text-align: center;
  background-color: var(--bs-example-bg-col);
  background-clip: content-box;
}

div.row .col {
  box-shadow: inset calc(var(--bs-gutter-x) * -.5) 0 0 0 #fff, inset calc(var(--bs-gutter-x) * .5) 0 0 0 #fff;
}

div.row .col:first-child {
  box-shadow: inset calc(var(--bs-gutter-x) * -.5) 0 0 0 #fff;
}

div.row .col:last-child {
  box-shadow: inset calc(var(--bs-gutter-x) * .5) 0 0 0 #fff;
}
