---
import SingleLayout from '@layouts/SingleLayout.astro'
import { getConfig } from '@libs/config'
import { getData } from '@libs/data'
import { getVersionedDocsPath } from '@libs/path'

export function getStaticPaths() {
  return [
    {
      params: { version: getConfig().docs_version }
    }
  ]
}
---

<SingleLayout title="Components" description="Quickly discover all of our components ">
  <ul class="list-unstyled row gy-lg">
    {
      getData('sidebar')
        .filter((group) => group.title === 'Components')[0]
        .pages.map((page) => {
          return (
            <li class="col-12 col-sm-6 col-md-4 col-lg-3 col-2xl-2">
              <div class="card position-relative">
                <div class="card-top">
                  <img
                    class="w-100"
                    src={`/docs/${getConfig().docs_version}/assets/img/ouds-web-home-desktop.png`}
                    alt=""
                  />
                </div>
                <div class="card-body">
                  <a
                    class="stretched-link"
                    href={getVersionedDocsPath(
                      `/components/${page.title.replaceAll(' ', '-').replaceAll('&-', '').toLowerCase()}`
                    )}
                  >
                    {page.title}
                  </a>
                </div>
              </div>
            </li>
          )
        })
    }
  </ul>
</SingleLayout>
