/* Gauges */
.gauge {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 1rem;
}

.gauge .gauge-label {
  padding: 10px 0;
  font-weight: bold;
  display: block;
}

.gauge .gauge-value {
  position: absolute;
  top: calc(50% - 4px);
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-weight: bold;
}

.gauge svg {
  transform: rotate(-90deg);
  background-color: #fff;
}

.gauge .progress-meter,
.gauge .progress-value {
  fill: none;
}

.gauge .progress-meter {
  stroke: #eee;
}

.gauge .progress-value {
  stroke-dasharray: 339.292;
  stroke-dashoffset: 339.292;
  animation: progress 4s;
}

.gauge.green .progress-value {
  stroke: #50be87;
}

.gauge.pink .progress-value {
  stroke: #ffb4e6;
}

.gauge.yellow .progress-value {
  stroke: #ffd200;
}

@keyframes progress {
  0% {
    stroke-dashoffset: 339.292;
  }
}

