/* Gauges */
.gauge {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 1rem; }
  .gauge .gauge-label {
    padding: 10px 0;
    font-weight: bold;
    display: block; }
  .gauge .gauge-value {
    position: absolute;
    top: calc(50% - 20px);
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-weight: bold; }
  .gauge .progress {
    transform: rotate(-90deg);
    background-color: #fff; }
  .gauge .progress-meter,
  .gauge .progress-value {
    fill: none; }
  .gauge .progress-meter {
    stroke: #eee; }
  .gauge .progress-value {
    stroke: #f16e00;
    stroke-dasharray: 339.292;
    stroke-dashoffset: 339.292;
    animation: progress 4s; }
  .gauge.green .progress-value {
    stroke: #50be87; }
  .gauge.pink .progress-value {
    stroke: #ffb4e6; }
  .gauge.yellow .progress-value {
    stroke: #ffd200; }

@keyframes progress {
  0% {
    stroke-dashoffset: 339.292; } }

/* Custom accordion / tab */
.o-tab-container {
  /* Toggle tab layout */ }
  .o-tab-container .o-tab-heading {
    padding: 10px 0;
    font-weight: bold;
    display: block;
    position: relative;
    background-color: #fff; }
    .o-tab-container .o-tab-heading[aria-expanded=false] {
      border-bottom: 1px #ccc solid; }
    .o-tab-container .o-tab-heading[aria-expanded=true]::after {
      transform: rotate(180deg); }
    .o-tab-container .o-tab-heading:first-child {
      border-top: 1px solid #ccc; }
    .o-tab-container .o-tab-heading::after {
      position: absolute;
      top: 17px;
      right: .625rem;
      width: .875rem;
      height: .4375rem;
      content: "";
      background-image: url("data:image/svg+xml;charset=utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2014%207%22%3E%3Cpath%20d%3D%22M7%207L0%200h14L7%207z%22%2F%3E%3C%2Fsvg%3E"); }
  .o-tab-container .o-tab-content {
    padding: 10px 24px 10px 0;
    display: none;
    border-bottom: 1px #ccc solid;
    background-color: #fff;
    box-shadow: none; }
    .o-tab-container .o-tab-content.show {
      display: block; }
  .o-tab-container.tab-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .o-tab-container.tab-layout .o-tab-heading {
      display: inline-block;
      border: 0;
      padding: 10px;
      flex-grow: 1;
      text-align: center;
      color: #fff;
      background-color: #666;
      border-bottom: 2px solid #000; }
      .o-tab-container.tab-layout .o-tab-heading::after {
        display: none; }
      .o-tab-container.tab-layout .o-tab-heading[aria-expanded=true] {
        color: #000;
        background-color: #fff;
        border: 2px solid #000;
        border-bottom: 0; }
      .o-tab-container.tab-layout .o-tab-heading:focus {
        outline-offset: -4px; }
    .o-tab-container.tab-layout .o-tab-content {
      border: 0;
      align-self: flex-end;
      order: 1;
      width: 100%; }

@media (min-device-width: 480px) {
  .o-tab-container.tab-layout .o-tab-heading {
    flex-grow: 0;
    text-align: left;
    color: #000;
    background-color: #fff; }
  .o-tab-container .o-tab-content {
    box-shadow: 0 -2px 0 #000; } }

/* Custom css */
h2 {
  margin-top: 10px; }

#toggle-layout {
  margin: 20px 0; }

/* card bloc link */
#bill .card-img,
#shop .card-img,
#timer .card-img,
#unlock .card-img {
  padding: 1.25rem; }

#bill .card-img img,
#shop .card-img img,
#timer .card-img img,
#unlock .card-img img {
  width: 50%; }

#bill .card-img {
  background-color: #50be87; }

#shop .card-img,
#single-card .card-img {
  background-color: #4bb4e6; }

#timer .card-img {
  background-color: #ffb4e6; }

#unlock .card-img {
  background-color: #ffd200; }

#single-card,
#card-no-img {
  margin: 10px 0; }

#single-card {
  width: 20%; }

#single-card .card-img {
  padding: 20px; }

#single-card img {
  height: 60px;
  width: auto; }

#card-no-img {
  border: 0; }

#card-no-img,
#card-no-img .card-body,
#card-no-img .card-body .card-title {
  display: inline; }

#card-no-img .card-title {
  text-align: left; }

/* custom carousel */
.swiper-container {
  width: 100% !important;
  overflow: hidden;
  margin-bottom: 30px; }

.swiper-wrapper {
  margin-bottom: 30px; }

.swiper-button-prev, .swiper-button-next {
  top: calc(50% - 10px); }

.swiper-pagination {
  bottom: 6px; }

.swiper-pagination-bullet, .swiper-pagination-bullet-active {
  height: 8px;
  width: 8px;
  border: 0; }

.swiper-slide .card {
  border: 0; }

.swiper-slide .card-img {
  padding: 0; }

.swiper-slide .card-img img {
  width: 100%;
  height: 40vh; }

.swiper-slide .card-title {
  font-weight: bold;
  margin: 0; }

.swiper-slide .card-body {
  position: absolute;
  left: 40px;
  bottom: 20px;
  background-color: #fff; }

.swiper-slide .card-body p {
  margin: 0; }

@media (max-device-width: 767px) {
  body {
    background-color: #eee; }
  #bill .card-img,
  #shop .card-img,
  #timer .card-img,
  #unlock .card-img {
    padding: .625rem;
    text-align: center; }
  #bill .card-img img,
  #shop .card-img img,
  #timer .card-img img,
  #unlock .card-img img {
    width: auto;
    height: 2.5rem; }
  .card-link .card-body {
    padding: 20px;
    text-align: left; }
  #single-card {
    width: 100%; }
  #single-card .card-img {
    padding: 10px; }
  #single-card img {
    height: 2.5rem; }
  #card-no-img {
    display: flex; }
  body {
    overflow-x: hidden;
    /* used for displaying pagination outside of container */ }
  .swiper-container {
    width: 100% !important;
    overflow: visible;
    /* used for displaying pagination outside of container */ }
  .swiper-slide {
    width: 80%; }
  .swiper-slide .card-img img {
    height: auto; }
  .swiper-slide .card-body {
    position: static; }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -26px; }
  .swiper-pagination-bullet {
    border: 0;
    width: 8px;
    height: 8px; } }

/* spinner */
.spinner svg {
  width: 32px;
  height: 32px; }

.spinner path {
  animation: load1 1.5s infinite;
  fill: #ccc; }

.spinner path:nth-child(2) {
  animation-delay: .125s; }

.spinner path:nth-child(3) {
  animation-delay: .25s; }

.spinner path:nth-child(4) {
  animation-delay: .375s; }

.spinner path:nth-child(5) {
  animation-delay: .5s; }

.spinner path:nth-child(6) {
  animation-delay: .625s; }

.spinner path:nth-child(7) {
  animation-delay: .75s; }

.spinner path:nth-child(8) {
  animation-delay: .875s; }

.spinner path:nth-child(9) {
  animation-delay: 1s; }

.spinner path:nth-child(10) {
  animation-delay: 1.125s; }

.spinner path:nth-child(11) {
  animation-delay: 1.25s; }

.spinner path:nth-child(12) {
  animation-delay: 1.375s; }

@keyframes load1 {
  0% {
    fill: #000; }
  100% {
    fill: #ccc; } }
