<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="Mark Otto, Jacob Thornton, Bootstrap contributors, and Orange SA">

<title>
  
    Flexbox grid system &middot; Bootstrap
  
</title>

<!-- Bootstrap core CSS -->
<link href="../../dist/css/boosted.css" rel="stylesheet">

<!-- Documentation extras -->
<link href="../../assets/css/docs.min.css" rel="stylesheet">

<!-- Favicons -->
<link rel="apple-touch-icon" href="../../apple-touch-icon.png">
<link rel="icon" href="../../favicon.ico">

  </head>
  <body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    <header class="" role="banner">
  <nav class="navbar navbar-dark">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
          <span class="sr-only">toggle navigation</span>
          <span class="icon-menu"></span>
      </button>
      <div class="container" >
          <a class="navbar-brand"><img src="../../dist/img/ORANGE_LOGO_rgb.jpg" alt='Back to homepage' title='Back to homepage'/></a>
          <ul class="nav navbar-nav collapse navbar-toggleable-xs" id="collapsingNavbar">
              <li class="nav-item">
                <a class="nav-link" href="../../">
                  B<span class="text-primary">oo</span>sted
                </a>
              </li>
              <li class="nav-item"><a class="nav-link active" href="../../getting-started/introduction/">Documentation</a></li>
              <li class="nav-item"><a class="nav-link " href="../../examples/">Examples</a></li>
              <li class="nav-item"><a class="nav-link " href="../../boostwatch/">Boostwatch</a></li>
              <li class="nav-item" id="id_li_for_cdu"></li>
          </ul>
      </div>
  </nav>
</header>


    <div class="bd-pageheader">
      <div class="container">
        
  <h1>Layout</h1>
  <p class="lead">
    Options for structuring your pages with Bootstrap, including global styles, required scaffolding, grid system, and more.
  </p>


      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3 push-md-9 bd-sidebar">
          <div class="bd-sidebar">

  <form class="bd-search hidden-sm-down">
    <input type="text" class="form-control" id="search-input" placeholder="Search..." autocomplete="off">
    <div class="dropdown-menu bd-search-results" id="search-results"></div>
  </form>

  <nav class="bd-links" id="docsNavbarContent">
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="../../getting-started/introduction">
        
          Getting started
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="../../getting-started/introduction">
                Introduction
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../getting-started/download">
                Download
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../getting-started/contents">
                Contents
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../getting-started/browsers-devices">
                Browsers & devices
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../getting-started/javascript">
                JavaScript
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../getting-started/options">
                Options
              </a>

              
            </li>
          
            
            

            

            <li class="active bd-sidenav-active">
              <a href="../../getting-started/flexbox">
                Flexbox
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../getting-started/build-tools">
                Build tools
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../getting-started/best-practices">
                Best practices
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../getting-started/accessibility">
                Accessibility
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item active">
        
          <a class="bd-toc-link" href="../../layout/overview">
        
          Layout
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="../../layout/overview">
                Overview
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../layout/grid">
                Grid
              </a>

              
            </li>
          
            
            

            

            <li class="active bd-sidenav-active">
              <a href="../../layout/flexbox-grid">
                Flexbox grid
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../layout/media-object">
                Media object
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../layout/responsive-utilities">
                Responsive utilities
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="../../content/reboot">
        
          Content
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="../../content/reboot">
                Reboot
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../content/typography">
                Typography
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../content/code">
                Code
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../content/images">
                Images
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../content/tables">
                Tables
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../content/figures">
                Figures
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="../../components/buttons">
        
          Components
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="../../components/buttons">
                Buttons
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/buttons-inversed">
                Buttons inversed
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/button-group">
                Button group
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/button-dropdown">
                Button dropdown
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/forms">
                Forms
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/input-group">
                Input group
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/dropdowns">
                Dropdowns
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/jumbotron">
                Jumbotron
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/tag">
                Tag
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/alerts">
                Alerts
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/card">
                Card
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/navs">
                Navs
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/navbar">
                Navbar
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/orange-navbar">
                Orange navbar
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/orange-megamenu">
                Orange megamenu
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/local-navigation">
                Local navigation
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/orange-footer">
                Orange footer
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/breadcrumb">
                Breadcrumb
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/orange-stepbar">
                Orange stepbar
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/pagination">
                Pagination
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/progress">
                Progress
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/list-group">
                List group
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/modal">
                Modal
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/scrollspy">
                Scrollspy
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/tooltips">
                Tooltips
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/popovers">
                Popovers
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/collapse">
                Collapse
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/orange-accordion">
                Orange accordion
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/carousel">
                Carousel
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../components/utilities">
                Utilities
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="../../about/history">
        
          About
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="../../about/history">
                History
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../about/boosted-history">
                Boosted history
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../about/team">
                Team
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../about/brand">
                Brand
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../about/orange-brand">
                Orange brand
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../about/license">
                License
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../about/boosted-license">
                Boosted license
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="../../about/translations">
                Translations
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="../../migration/">
        
          Migration
        </a>

        <ul class="nav bd-sidenav">
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="../../boosted-migration/">
        
          Boosted migration
        </a>

        <ul class="nav bd-sidenav">
          
        </ul>
      </div>
    
  </nav>
  <!-- boosted mod -->
  <a href="#" class="scroll-top">
    <span class="icon-arrow-up" aria-hidden="true"></span>
    <div class="scroll-top-text">back to top</div>
    <span class="sr-only">back to top</span>
  </a>
  <!-- end mod -->
</div>

        </div>
        <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
          <h1 class="bd-title" id="content">Flexbox grid system</h1>
          <p>Fancy a more modern grid system? <a href="../../getting-started/flexbox">Enable flexbox support in Bootstrap</a> to take full advantage of CSS’s Flexible Box module for even more control over your site’s layout, alignment, and distribution of content.</p>

<p>Bootstrap’s flexbox grid includes support for every feature from our <a href="../../layout/grid">default grid system</a>, and then some. Please read the <a href="../../layout/grid">default grid system docs</a> before proceeding through this page. Features that are covered there are only summarized here. Please note that <strong>Internet Explorer 9 does not support flexbox</strong>, so proceed with caution when enabling it.</p>

<div class="bd-callout bd-callout-warning">
<p><strong>Heads up!</strong> The flexbox grid documentation is only functional when flexbox support is explicitly enabled.</p>
</div>

<h2 id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#contents" id="markdown-toc-contents">Contents</a></li>
  <li><a href="#how-it-works" id="markdown-toc-how-it-works">How it works</a></li>
  <li><a href="#auto-layout-columns" id="markdown-toc-auto-layout-columns">Auto-layout columns</a></li>
  <li><a href="#responsive-flexbox" id="markdown-toc-responsive-flexbox">Responsive flexbox</a></li>
  <li><a href="#vertical-alignment" id="markdown-toc-vertical-alignment">Vertical alignment</a></li>
  <li><a href="#horizontal-alignment" id="markdown-toc-horizontal-alignment">Horizontal alignment</a></li>
</ul>

<h2 id="how-it-works">How it works</h2>

<p>The flexbox grid system behaves similar to our default grid system, but with a few notable differences:</p>

<ul>
  <li><a href="../../layout/grid#sass-mixins">Grid mixins</a> and <a href="../../layout/grid#predefined-classes">predefined classes</a> include support for flexbox. Just <a href="../../getting-started/flexbox">enable flexbox support</a> to utilize them as you would otherwise.</li>
  <li>Nesting, offsets, pushes, and pulls are all supported in the flexbox grid system.</li>
  <li>Flexbox grid columns without a set width will automatically layout with equal widths. For example, four columns will each automatically be 25% wide.</li>
  <li>Flexbox grid columns have significantly more alignment options available, including vertical alignment.</li>
  <li>Unlike the default grid system where a grid column starts as full-width in the <code class="highlighter-rouge">xs</code> tier, flexbox requires a <code class="highlighter-rouge">.col-{breakpoint}</code> class for each tier.</li>
</ul>

<p>Chill? Awesome—keep reading for more information and some code snippets.</p>

<h2 id="auto-layout-columns">Auto-layout columns</h2>

<p>When flexbox support is enabled, you can utilize breakpoint-specific column classes for equal-width columns. Add any number of <code class="highlighter-rouge">.col-{breakpoint}</code>s for each breakpoint you need and you’re good to go. For example, here’s are two grid layouts that apply to every device and viewport possible.</p>

<div class="bd-example-row">

<div class="bd-example" data-example-id="">
<div class="container">
  <div class="row">
    <div class="col-xs">
      1 of 2
    </div>
    <div class="col-xs">
      1 of 2
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      1 of 3
    </div>
    <div class="col-xs">
      1 of 3
    </div>
    <div class="col-xs">
      1 of 3
    </div>
  </div>
</div>
</div><div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      1 of 2
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      1 of 2
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      1 of 3
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      1 of 3
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      1 of 3
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

</div>

<p>Auto-layout for flexbox grid columns also means you can set the width of one column and the others will automatically resize around it. You may use predefined grid classes (as shown below), grid mixins, or inline widths.</p>

<div class="bd-example-row">

<div class="bd-example" data-example-id="">
<div class="container">
  <div class="row">
    <div class="col-xs">
      1 of 3
    </div>
    <div class="col-xs-6">
      2 of 3 (wider)
    </div>
    <div class="col-xs">
      3 of 3
    </div>
  </div>
</div>
</div><div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      1 of 3
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-6"</span><span class="nt">&gt;</span>
      2 of 3 (wider)
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      3 of 3
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

</div>

<h2 id="responsive-flexbox">Responsive flexbox</h2>

<p>Unlike the default grid system, the flexbox grid requires a class for full-width columns. If you have a <code class="highlighter-rouge">.col-sm-6</code> and don’t add <code class="highlighter-rouge">.col-xs-12</code>, your <code class="highlighter-rouge">xs</code> grid will not render correctly. Note that flexbox grid tiers still scale up across breakpoints, so if you want two 50% wide columns across <code class="highlighter-rouge">sm</code>, <code class="highlighter-rouge">md</code>, and <code class="highlighter-rouge">lg</code>, you only need to set <code class="highlighter-rouge">.col-sm-6</code>.</p>

<div class="bd-example-row">

<div class="bd-example" data-example-id="">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      1 of 2 (stacked on mobile)
    </div>
    <div class="col-xs-12 col-sm-6">
      1 of 2 (stacked on mobile)
    </div>
  </div>
</div>
</div><div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-12 col-sm-6"</span><span class="nt">&gt;</span>
      1 of 2 (stacked on mobile)
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-12 col-sm-6"</span><span class="nt">&gt;</span>
      1 of 2 (stacked on mobile)
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

</div>

<h2 id="vertical-alignment">Vertical alignment</h2>

<p>Use the flexbox alignment utilities to vertically align columns.</p>

<div class="bd-example-row">

<div class="bd-example" data-example-id="">
<div class="container">
  <div class="row flex-items-xs-top">
    <div class="col-xs">
      One of three columns
    </div>
    <div class="col-xs">
      One of three columns
    </div>
    <div class="col-xs">
      One of three columns
    </div>
  </div>
  <div class="row flex-items-xs-middle">
    <div class="col-xs">
      One of three columns
    </div>
    <div class="col-xs">
      One of three columns
    </div>
    <div class="col-xs">
      One of three columns
    </div>
  </div>
  <div class="row flex-items-xs-bottom">
    <div class="col-xs">
      One of three columns
    </div>
    <div class="col-xs">
      One of three columns
    </div>
    <div class="col-xs">
      One of three columns
    </div>
  </div>
</div>
</div><div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row flex-items-xs-top"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      One of three columns
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      One of three columns
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      One of three columns
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row flex-items-xs-middle"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      One of three columns
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      One of three columns
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      One of three columns
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row flex-items-xs-bottom"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      One of three columns
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      One of three columns
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs"</span><span class="nt">&gt;</span>
      One of three columns
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

</div>

<div class="bd-example-row bd-example-row-flex-cols">

<div class="bd-example" data-example-id="">
<div class="container">
  <div class="row">
    <div class="col-xs flex-xs-top">
      One of three columns
    </div>
    <div class="col-xs flex-xs-middle">
      One of three columns
    </div>
    <div class="col-xs flex-xs-bottom">
      One of three columns
    </div>
  </div>
</div>
</div><div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs flex-xs-top"</span><span class="nt">&gt;</span>
      One of three columns
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs flex-xs-middle"</span><span class="nt">&gt;</span>
      One of three columns
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs flex-xs-bottom"</span><span class="nt">&gt;</span>
      One of three columns
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

</div>

<h2 id="horizontal-alignment">Horizontal alignment</h2>

<p>Flexbox utilities for horizontal alignment also exist for a number of layout options.</p>

<div class="bd-example-row">

<div class="bd-example" data-example-id="">
<div class="container">
  <div class="row flex-items-xs-left">
    <div class="col-xs-4">
      One of two columns
    </div>
    <div class="col-xs-4">
      One of two columns
    </div>
  </div>
  <div class="row flex-items-xs-center">
    <div class="col-xs-4">
      One of two columns
    </div>
    <div class="col-xs-4">
      One of two columns
    </div>
  </div>
  <div class="row flex-items-xs-right">
    <div class="col-xs-4">
      One of two columns
    </div>
    <div class="col-xs-4">
      One of two columns
    </div>
  </div>
  <div class="row flex-items-xs-around">
    <div class="col-xs-4">
      One of two columns
    </div>
    <div class="col-xs-4">
      One of two columns
    </div>
  </div>
  <div class="row flex-items-xs-between">
    <div class="col-xs-4">
      One of two columns
    </div>
    <div class="col-xs-4">
      One of two columns
    </div>
  </div>
</div>
</div><div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row flex-items-xs-left"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-4"</span><span class="nt">&gt;</span>
      One of two columns
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-4"</span><span class="nt">&gt;</span>
      One of two columns
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row flex-items-xs-center"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-4"</span><span class="nt">&gt;</span>
      One of two columns
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-4"</span><span class="nt">&gt;</span>
      One of two columns
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row flex-items-xs-right"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-4"</span><span class="nt">&gt;</span>
      One of two columns
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-4"</span><span class="nt">&gt;</span>
      One of two columns
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row flex-items-xs-around"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-4"</span><span class="nt">&gt;</span>
      One of two columns
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-4"</span><span class="nt">&gt;</span>
      One of two columns
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row flex-items-xs-between"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-4"</span><span class="nt">&gt;</span>
      One of two columns
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-xs-4"</span><span class="nt">&gt;</span>
      One of two columns
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

</div>

        </div>
      </div>
    </div>

    <footer class="bd-footer navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="o-footer">
                <div class="container-fluid o-footer-top" role="contentinfo">
                    <h1 class="sr-only">footer - site map & informations</h1>
        <p>This documentation is an adaptation made by Orange</p>
    <p>Original version designed and built with all the love in the world by <a href="https://twitter.com/mdo" target="_blank">@mdo</a> and <a href="https://twitter.com/fat" target="_blank">@fat</a>. Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>

    <p>Orange modified code licensed <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/blob/master/LICENSE" target="_blank">MIT</a>, Original code licensed <a rel="license" href="https://github.com/twbs/bootstrap/blob/v4.0.0-alpha.2/LICENSE" target="_blank">MIT</a>, docs <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
                </div>
                <div class="o-footer-bottom">
                    <ul>
                      <li>Currently v4.0.0-alpha.2</li>
                      <li>&middot;</li>
                      <li><a href="https://github.com/Orange-OpenSource/Orange-Boosted-Bootstrap">GitHub</a></li>
                      <li>&middot;</li>
                      <li><a href="examples">Examples</a></li>
                      <li>&middot;</li>
                      <li><a href="https://github.com/twbs/bootstrap/tree/v4.0.0-alpha.2">Original Bootstrap</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

<script src="../../assets/js/vendor/tether.min.js"></script>


  <script src="../../dist/js/boosted.js"></script>


<script src="../../dist/js/vendors/jquery.tablesorter.js"></script>



<script src="../../assets/js/docs.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="../../assets/js/ie-emulation-modes-warning.js"></script>


<script src="../../assets/js/vendor/jekyll-search.min.js"></script>

<script>
SimpleJekyllSearch.init({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('search-results'),
  searchResultTemplate: '<a class="dropdown-item" href="{url}">{title}</a>',
  noResultsText: '<div class="dropdown-item no-results">Sorry, there are no results for that search.</div>',
  json: '/search.json'
})
</script>





<script>
Holder.addTheme('gray', {
  bg: '#777',
  fg: 'rgba(255,255,255,.75)',
  font: 'Helvetica',
  fontweight: 'normal'
})
</script>

<script type="text/javascript" src="http://comfort.orange.com/serveur/crossdom/js/toolbar-min.js"></script>
<script>
			accessibilitytoolbar_custom={
				idLinkModeContainer:"id_li_for_cdu",
				//idSkipLinkIdLinkMode:"cdu_skiplink",
				//cssSkipLinkClassName: "skiplinks_trigger",
				cssLinkModeClassName:"nav-item-cdu"
				//callback:skiplinksAfterLoad
			};
</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

  </body>
</html>
