---
/*
 * Outputs badge to identify the first version something was added
 */
interface Props {
  name: string
  active?: boolean
}

const { name, active } = Astro.props
---

<section data-tab-name={name}>
  <slot />
</section>
