---
/*
 * Outputs badge to identify the first version something was added
 */
interface Props {
  name: string
  active?: boolean
}

const { name, active } = Astro.props
---

<div
  data-tab-name={name}
  class={`tab-pane fade${active ? ' show active' : ''}`}
  role="tabpanel"
  tabindex="0"
  aria-labelledby={`${name}-nav`}
  id={name}
>
  <slot />
</div>
