---
import { getVersionedDocsPath } from '@libs/path'
import Callout from './Callout.astro'
---

<details class="mt-medium mb-2xlarge" data-sb-css-bootstrap="true">
  <summary class="py-small">
    Bootstrap
    <span class="tag tag-small tag-muted float-sm-end">
      <code>$enable-bootstrap-compatibility: true</code>
    </span>
  </summary>

  <Callout type="info" class="mb-medium" action="Read more about Bootstrap compatibility" actionHref={getVersionedDocsPath('/foundation/approach/#bootstrap-compatibility')}>
    <p>This part is enabled only when <code>$enable-bootstrap-compatibility</code> is set to <code>true</code>.</p>
  </Callout>

  <slot />
</details>
