---
import { getVersionedDocsPath } from '@libs/path'
---

<details class="mt-medium mb-2xlarge" data-sb-css-bootstrap="true">
  <summary class="py-small">
    Bootstrap
    <span class="tag tag-small tag-muted float-sm-end">
      <code>$enable-bootstrap-compatibility: true</code>
    </span>
  </summary>

  <div class="alert alert-info mb-medium">
    <div class="alert-icon"><p class="visually-hidden">Info</p></div>
    <p class="alert-label">
      This part is enabled only when <code>$enable-bootstrap-compatibility</code> is set to <code>true</code>. Read more about <a href={`${getVersionedDocsPath('/foundation/approach/#bootstrap-compatibility')}`}>Bootstrap compatibility</a>.
    </p>
  </div>

  <slot />
</details>
