---
/*
 * Outputs message about dark mode component variants being deprecated in v5.3.
 */

interface Props {
  component: string
}

const { component } = Astro.props
---

<div class="bd-callout bd-callout-warning">
  <p>
    <strong>Heads up!</strong> Dark variants for components are deprecated in Boosted v5.3.3. They are replaced by our contextual
    dark mode.<br /><br />Add <code>data-bs-theme="dark"</code> to the <code>.{component}</code> or any ancestor element
    to enable a component-specific color mode. <a href="/docs/customize/color-modes">Learn more about our color modes</a
    >.
  </p>
</div>
