---
import { getVersionedDocsPath } from '@libs/path'

interface Props {
  /**
   * The type of callout to display. One of `info`, or `danger`.
   * @default 'danger'
   */
  level?: 'danger' | 'info'
}

const { level = 'danger' } = Astro.props
---

<div class:list={['alert', `alert-${level}`]}>
  <span class="alert-icon"><span class="visually-hidden">{level}</span></span>
  <div>
    <p class="alert-heading mb-1">
      {
        level === 'danger' ? (
          <span>Incompatibility with Orange Design System.</span>
          <a href={getVersionedDocsPath('getting-started/introduction')}>More information</a>
        ) : (
          <span>Orange Design System recommendation.</span>
        )
      }
    </p>
    <div>
      <slot />
    </div>
  </div>
</div>
