---
import { getVersionedDocsPath } from '@libs/path'

interface Props {
  /**
   * The type of callout to display. One of `info`, or `negative`.
   * @default 'negative'
   */
  level?: 'negative' | 'info'
}

const { level = 'negative' } = Astro.props
---

<div class:list={['alert alert-message', `alert-${level}`]}>
  <div class="alert-icon"><p class="visually-hidden">{level}</p></div>
  <div class="alert-container">
    <div class="alert-text-container">
      <p class="alert-label">
        {
          level === 'negative' ? (
            <>
              <span>Incompatibility with Orange Unified Design System.</span>
              <a href={getVersionedDocsPath('getting-started/introduction')}>More information</a>
            </>
          ) : (
            <span>Orange Unified Design System recommendation.</span>
          )
        }
      </p>
      <slot />
    </div>
  </div>
</div>
