<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="Mark Otto, Jacob Thornton, Bootstrap contributors, and Orange SA">

<title>
  
    Jumbotron &middot; Bootstrap
  
</title>

<!-- Bootstrap core CSS -->
<link href="http://boosted.orange.com/v4-alpha/dist/css/boosted.css" rel="stylesheet">

<!-- Documentation extras -->
<link href="http://boosted.orange.com/v4-alpha/assets/css/docs.min.css" rel="stylesheet">

<!-- Favicons -->
<link rel="apple-touch-icon" href="http://boosted.orange.com/v4-alpha/apple-touch-icon.png">
<link rel="icon" href="http://boosted.orange.com/v4-alpha/favicon.ico">

  </head>
  <body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    <header class="" role="banner">
  <nav class="navbar navbar-dark">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
          <span class="sr-only">toggle navigation</span>
          <span class="icon-menu"></span>
      </button>
      <div class="container" >
          <a class="navbar-brand"><img src="../../dist/img/ORANGE_LOGO_rgb.jpg" alt='Back to homepage' title='Back to homepage'/></a>
          <ul class="nav navbar-nav collapse navbar-toggleable-xs" id="collapsingNavbar">
              <li class="nav-item">
                <a class="nav-link" href="http://boosted.orange.com/v4-alpha/">
                  B<span class="text-primary">oo</span>sted
                </a>
              </li>
              <li class="nav-item"><a class="nav-link active" href="http://boosted.orange.com/v4-alpha/getting-started/introduction/">Documentation</a></li>
              <li class="nav-item"><a class="nav-link " href="http://boosted.orange.com/v4-alpha/examples/">Examples</a></li>
              <li class="nav-item"><a class="nav-link " href="http://boosted.orange.com/v4-alpha/boostwatch/">Boostwatch</a></li>
              <li class="nav-item" id="id_li_for_cdu"></li>
          </ul>
      </div>
  </nav>
</header>


    <div class="bd-pageheader">
      <div class="container">
        
  <h1>Components</h1>
  <p class="lead">
    Over a dozen reusable components built to provide buttons, dropdowns, input groups, navigation, alerts, and much more.
  </p>


      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3 push-md-9 bd-sidebar">
          <div class="bd-sidebar">

  <form class="bd-search hidden-sm-down">
    <input type="text" class="form-control" id="search-input" placeholder="Search..." autocomplete="off">
    <div class="dropdown-menu bd-search-results" id="search-results"></div>
  </form>

  <nav class="bd-links" id="docsNavbarContent">
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="http://boosted.orange.com/v4-alpha/getting-started/introduction">
        
          Getting started
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/getting-started/introduction">
                Introduction
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/getting-started/download">
                Download
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/getting-started/contents">
                Contents
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/getting-started/browsers-devices">
                Browsers & devices
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/getting-started/javascript">
                JavaScript
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/getting-started/options">
                Options
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/getting-started/flexbox">
                Flexbox
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/getting-started/build-tools">
                Build tools
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/getting-started/best-practices">
                Best practices
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/getting-started/accessibility">
                Accessibility
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="http://boosted.orange.com/v4-alpha/layout/overview">
        
          Layout
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/layout/overview">
                Overview
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/layout/grid">
                Grid
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/layout/flexbox-grid">
                Flexbox grid
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/layout/media-object">
                Media object
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/layout/responsive-utilities">
                Responsive utilities
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="http://boosted.orange.com/v4-alpha/content/reboot">
        
          Content
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/content/reboot">
                Reboot
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/content/typography">
                Typography
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/content/code">
                Code
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/content/images">
                Images
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/content/tables">
                Tables
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/content/figures">
                Figures
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item active">
        
          <a class="bd-toc-link" href="http://boosted.orange.com/v4-alpha/components/buttons">
        
          Components
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/buttons">
                Buttons
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/buttons-inversed">
                Buttons inversed
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/button-group">
                Button group
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/button-dropdown">
                Button dropdown
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/forms">
                Forms
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/input-group">
                Input group
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/dropdowns">
                Dropdowns
              </a>

              
            </li>
          
            
            

            

            <li class="active bd-sidenav-active">
              <a href="http://boosted.orange.com/v4-alpha/components/jumbotron">
                Jumbotron
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/tag">
                Tag
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/alerts">
                Alerts
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/card">
                Card
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/navs">
                Navs
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/navbar">
                Navbar
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/orange-navbar">
                Orange navbar
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/orange-megamenu">
                Orange megamenu
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/local-navigation">
                Local navigation
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/orange-footer">
                Orange footer
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/breadcrumb">
                Breadcrumb
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/orange-stepbar">
                Orange stepbar
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/pagination">
                Pagination
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/progress">
                Progress
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/list-group">
                List group
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/modal">
                Modal
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/scrollspy">
                Scrollspy
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/tooltips">
                Tooltips
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/popovers">
                Popovers
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/collapse">
                Collapse
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/orange-accordion">
                Orange accordion
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/carousel">
                Carousel
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/components/utilities">
                Utilities
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="http://boosted.orange.com/v4-alpha/about/history">
        
          About
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/about/history">
                History
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/about/boosted-history">
                Boosted history
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/about/team">
                Team
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/about/brand">
                Brand
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/about/orange-brand">
                Orange brand
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/about/license">
                License
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/about/boosted-license">
                Boosted license
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://boosted.orange.com/v4-alpha/about/translations">
                Translations
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="http://boosted.orange.com/v4-alpha/migration/">
        
          Migration
        </a>

        <ul class="nav bd-sidenav">
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="http://boosted.orange.com/v4-alpha/boosted-migration/">
        
          Boosted migration
        </a>

        <ul class="nav bd-sidenav">
          
        </ul>
      </div>
    
  </nav>
  <!-- boosted mod -->
  <a href="#" class="scroll-top">
    <span class="icon-arrow-up" aria-hidden="true"></span>
    <div class="scroll-top-text">back to top</div>
    <span class="sr-only">back to top</span>
  </a>
  <!-- end mod -->
</div>

        </div>
        <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
          <h1 class="bd-title" id="content">Jumbotron</h1>
          <p>A lightweight, flexible component that can optionally extend the entire viewport to showcase key marketing messages on your site.</p>

<h2 id="example">Example</h2>

<div class="bd-example" data-example-id="">
<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="m-y-2" />
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"jumbotron"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">"display-3"</span><span class="nt">&gt;</span>Hello, world!<span class="nt">&lt;/h1&gt;</span>
  <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"lead"</span><span class="nt">&gt;</span>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;hr</span> <span class="na">class=</span><span class="s">"m-y-2"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;p&gt;</span>It uses utility classes for typography and spacing to space content out within the larger container.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"lead"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"btn btn-primary btn-lg"</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">role=</span><span class="s">"button"</span><span class="nt">&gt;</span>Learn more<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<p>To make the jumbotron full width, and without rounded corners, add the <code class="highlighter-rouge">.jumbotron-fluid</code> modifier class and add a <code class="highlighter-rouge">.container</code> or <code class="highlighter-rouge">.container-fluid</code> within.</p>

<div class="bd-example" data-example-id="">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"jumbotron jumbotron-fluid"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">"display-3"</span><span class="nt">&gt;</span>Fluid jumbotron<span class="nt">&lt;/h1&gt;</span>
    <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"lead"</span><span class="nt">&gt;</span>This is a modified jumbotron that occupies the entire horizontal space of its parent.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>


        </div>
      </div>
    </div>

    <footer class="bd-footer navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="o-footer">
                <div class="container-fluid o-footer-top" role="contentinfo">
                    <h1 class="sr-only">footer - site map & informations</h1>
        <p>This documentation is an adaptation made by Orange</p>
    <p>Original version designed and built with all the love in the world by <a href="https://twitter.com/mdo" target="_blank">@mdo</a> and <a href="https://twitter.com/fat" target="_blank">@fat</a>. Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>

    <p>Orange modified code licensed <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/blob/master/LICENSE" target="_blank">MIT</a>, Original code licensed <a rel="license" href="https://github.com/twbs/bootstrap/blob/v4.0.0-alpha.2/LICENSE" target="_blank">MIT</a>, docs <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
                </div>
                <div class="o-footer-bottom">
                    <ul>
                      <li>Currently v4.0.0-alpha.2</li>
                      <li>&middot;</li>
                      <li><a href="https://github.com/Orange-OpenSource/Orange-Boosted-Bootstrap">GitHub</a></li>
                      <li>&middot;</li>
                      <li><a href="examples">Examples</a></li>
                      <li>&middot;</li>
                      <li><a href="https://github.com/twbs/bootstrap/tree/v4.0.0-alpha.2">Original Bootstrap</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="http://boosted.orange.com/v4-alpha/assets/js/vendor/jquery.min.js"><\/script>')</script>

<script src="http://boosted.orange.com/v4-alpha/assets/js/vendor/tether.min.js"></script>


  <script src="http://boosted.orange.com/v4-alpha/dist/js/boosted.js"></script>


<script src="http://boosted.orange.com/v4-alpha/dist/js/vendors/jquery.tablesorter.js"></script>



<script src="http://boosted.orange.com/v4-alpha/assets/js/docs.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://boosted.orange.com/v4-alpha/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="http://boosted.orange.com/v4-alpha/assets/js/ie-emulation-modes-warning.js"></script>


<script src="http://boosted.orange.com/v4-alpha/assets/js/vendor/jekyll-search.min.js"></script>

<script>
SimpleJekyllSearch.init({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('search-results'),
  searchResultTemplate: '<a class="dropdown-item" href="{url}">{title}</a>',
  noResultsText: '<div class="dropdown-item no-results">Sorry, there are no results for that search.</div>',
  json: 'http://boosted.orange.com/v4-alpha/search.json'
})
</script>





<script>
Holder.addTheme('gray', {
  bg: '#777',
  fg: 'rgba(255,255,255,.75)',
  font: 'Helvetica',
  fontweight: 'normal'
})
</script>

<script type="text/javascript" src="http://comfort.orange.com/serveur/crossdom/js/toolbar-min.js"></script>
<script>
			accessibilitytoolbar_custom={
				idLinkModeContainer:"id_li_for_cdu",
				//idSkipLinkIdLinkMode:"cdu_skiplink",
				//cssSkipLinkClassName: "skiplinks_trigger",
				cssLinkModeClassName:"nav-item-cdu"
				//callback:skiplinksAfterLoad
			};
</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

  </body>
</html>
