<!-- Containers
================================================== -->
<h2 id="container">Containers</h2>
<h3>Cards<a class="doc-link" href="../components/card/" title="go to card documentation page"></a></h3>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-4">
          <div class="o-card card">
              <img class="card-img-top" data-src="holder.js/100px180/" alt="Card image cap">
              <div class="card-body ">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Button</a>
              </div>
          </div>
      </div>
  </div>
</div>

<h2>Card links</h2>
<div class="card-deck">
    <a href="#" class="card o-card-link" id="bill">
        <div class="card-img">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bill.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <div class="card-title">Gérer vos factures</div>
        </div>
    </a>
    <a href="#" class="card o-card-link" id="shop">
        <div class="card-img">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/shop.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <div class="card-title">Suivre votre commande</div>
        </div>
    </a>
    <a href="#" class="card o-card-link" id="timer">
        <div class="card-img">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/timer.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <div class="card-title">Accéder à votre suivi conso</div>
        </div>
    </a>
    <a href="#" class="card o-card-link" id="unlock">
        <div class="card-img">
            <img src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/unlock.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <div class="card-title">Désimlocker votre mobile</div>
        </div>
    </a>
</div>
