<!-- Indicators
================================================== -->
<h2 id="indicators">Indicators<a class="doc-link" href="../components/alerts/" title="go to alerts documentation page"></a></h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <h3>Alerts</h3>
        <div class="alert alert-dismissable alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Warning!</h4>
            <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
        </div>
    </div>
    <div class="col-lg-4">
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
        </div>
    </div>
    <div class="col-lg-4">
        <div class="alert alert-dismissable alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
        </div>
    </div>
  </div>
  <div class="row">
    <div>
        <h3>Badge<a class="doc-link" href="../components/badge/" title="go to badge documentation page"></a></h3>
        <div style="margin-bottom: 40px;">
            <span class="badge badge-primary">Primary</span>
            <span class="badge badge-secondary">Secondary</span>
            <span class="badge badge-success">Success</span>
            <span class="badge badge-danger">Danger</span>
            <span class="badge badge-warning">Warning</span>
            <span class="badge badge-info">Info</span>
            <span class="badge badge-light">Light</span>
            <span class="badge badge-dark">Dark</span>
        </div>
    </div>
  </div>
</div>
