<h2 id="local">Local navigation bar<a class="doc-link" href="../components/local-navigation/" title="go to local navigation documentation page"></a></h2>
<div class="o-nav-local">
  <hr aria-hidden="true">
  <nav class="container">
    <a class="d-md-none nav-link active local-select" data-toggle="collapse" href="#localNav1" aria-haspopup="true">Go to</a>
    <ul class="nav collapse" id="localNav1">
      <li class="nav-item"><a class="nav-link active" href="#" aria-current="page">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Messages</a></li>
    </ul>
  </nav>
  <hr aria-hidden="true">
</div>

<div data-example-id="">
  <div style="margin: 2rem 0; padding: 2rem 0;" class="bg-dark">
    <div class="o-nav-local inverse">
      <hr aria-hidden="true">
      <nav class="container">
        <a class="d-md-none nav-link active local-select" data-toggle="collapse" href="#localNav2" aria-haspopup="true">Go to</a>
        <ul class="nav collapse" id="localNav2">
          <li class="nav-item"><a class="nav-link active" href="#" aria-current="page">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Messages</a></li>
        </ul>
      </nav>
      <hr aria-hidden="true">
    </div>
  </div>
</div>