<h2 id="custom-o-alerts">Custom Alerts<a class="doc-link" href="../components/custom-o-alerts/" title="go to custom alert documentation page"></a></h2>
<!-- Custom Alerts
======================================= -->
<div class="alert alert-boosted-small alert-success alert-dismissible fade show" role="alert">
  <span class="alert-logo-success-small"></span>
  <div class="boosted-padding">
    <strong>Your changes have been saved.</strong>
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span class="span-dark" aria-hidden="true">&times;</span>
  </button>
</div>
<div class="alert alert-boosted-medium alert-info alert-dismissible fade show" role="alert">
    <span class="alert-logo-info-medium"></span>
    <div class="boosted-padding">
      <strong>Your changes have been saved.</strong>
    </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span class="span-dark" aria-hidden="true">&times;</span>
  </button>
</div>
<div class="alert alert-boosted-large alert-warning alert-dismissible fade show" role="alert">
    <span class="alert-logo-warning-large"></span>
    <div class="boosted-padding">
      <strong >Your changes have been saved.</strong>
    </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span class="span-dark" aria-hidden="true">&times;</span>
  </button>
</div>
<div class="alert alert-boosted-large alert-danger boosted-multiline alert-dismissible fade show" role="alert">
  <span class="alert-logo-danger-large"></span>
  <div class="boosted-padding">
    <strong>Your changes have been saved.</strong>
      <p class="mb-0"><small>You may now log-in with the username you have chosen.</small></p>
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span class="span-dark" aria-hidden="true">&times;</span>
  </button>
</div>
<div class="alert alert-boosted-no-border alert-boosted-small" role="alert">
  <span class="alert-logo-success-small"></span>
  <div class="boosted-padding">
    <strong>Your changes have been saved.</strong>
  </div>
</div>