<h2 id="pagination">Pagination<a class="doc-link" href="../components/pagination/" title="go to pagination documentation page"></a></h2>
Standard pagination with numbers
<div>
  <nav>
    <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-label="Previous"></a>
      </li>
            <li class="page-item active"><a class="page-link" href="#" aria-label="Go to page 1" aria-current="page">1</a></li>
      <li class="page-item"><a class="page-link" href="#" aria-label="Go to page 2">2</a></li>
      <li class="page-item"><a class="page-link" href="#" aria-label="Go to page 3">3</a></li>
      <li class="page-item d-none d-sm-block"><a class="page-link" href="#" aria-label="Go to page 4">4</a></li>
      <li class="page-item d-none d-sm-block"><a class="page-link" href="#" aria-label="Go to page 5">5</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next"></a>
      </li>
    </ul>
  </nav>
</div>
Buttons
<div>
  <nav>
    <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous"></a>
      </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next"></a>
      </li>
    </ul>
  </nav>
</div>
Buttons + page counter
<div>
  <nav>
    <ul class="pagination">
      <li class="page-item presentation" role="presentation">Page 2 of 10</li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous"></a>
      </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next"></a>
      </li>
    </ul>
  </nav>
</div>
Buttons + Back/Next labels
<div>
  <nav>
    <ul class="pagination">
            <li class="page-item">
                <a class="page-link has-label" href="#" aria-label="Previous">Back</a>
      </li>
            <li class="page-item">
                <a class="page-link has-label" href="#" aria-label="Next">Next</a>
      </li>
    </ul>
  </nav>
</div>