<h2 id="priorityNav">Priority Nav<a class="doc-link" href="../components/priority-nav/" title="go to priority nav documentation page"></a></h2>
<div class="o-nav-local">
    <nav class="container-fluid">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Introduction</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Usage</a></li>
            <li class="nav-item"><a class="nav-link" href="#">References</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Shopping</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Organisation</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Worldwilde</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
        </ul>
    </nav>
</div>