<h2 id="stepbar">Stepbar<a class="doc-link" href="../components/stepbar/" title="go to step bar documentation page"></a></h2>
<p class="lead">Indicate the current step within a sequential navigation.</p>

<h3>Default stepbar</h3>
<nav class="o-stepbar">
  <ol>
    <li class="stepbar-item current">
      <a class="stepbar-link" href="#" title="Step 1 : sign in" aria-current="step">
        <span class="step-number">1</span>
        <span class="step-title">Sign in</span>
      </a>
    </li>
    <li class="stepbar-item next">
      <a class="stepbar-link" href="#" title="Step 2 : Review">
        <span class="step-number">2</span>
        <span class="step-title">Review</span>
      </a>
    </li>
    <li class="stepbar-item next">
      <a class="stepbar-link" href="#" title="Step 3 : Delivery">
        <span class="step-number">3</span>
        <span class="step-title">Delivery</span>
      </a>
    </li>
    <li class="stepbar-item next">
      <a class="stepbar-link" href="#" title="Step 4 : Payment">
        <span class="step-number">4</span>
        <span class="step-title">Payment</span>
      </a>
    </li>
    <li class="stepbar-item next">
      <a class="stepbar-link" href="#" title="Step 5 : Place order">
        <span class="step-number">5</span>
        <span class="step-title">Place order</span>
      </a>
    </li>
  </ol>
</nav>

<h3>Mobile stepbar with step numbers</h3>

<nav class="o-stepbar xs-numbers" style="margin-top: 30px;">
  <ol>
    <li class="current stepbar-item">
      <a class="stepbar-link" href="#" title="Step 1 : Sign in" aria-current="step">
        <span class="step-number">1</span>
        <span class="step-title">Sign in</span>
      </a>
    </li>
    <li class="stepbar-item next">
      <div class="stepbar-link" title="Step 2 : Review">
        <span class="step-number">2</span>
        <span class="step-title">Review</span>
      </div>
    </li>
    <li class="stepbar-item next">
      <div class="stepbar-link" title="Step 3 : Delivery">
        <span class="step-number">3</span>
        <span class="step-title">Delivery</span>
      </div>
    </li>
    <li class="stepbar-item next">
      <div class="stepbar-link" title="Step 4 : Payment">
        <span class="step-number">4</span>
        <span class="step-title">Payment</span>
      </div>
    </li>
  </ol>
</nav>

<nav class="o-stepbar xs-numbers" style="margin-top: 30px;">
  <ol>
    <li class="done stepbar-item">
      <a class="stepbar-link" href="#" title="Step 1 : Sign in">
        <span class="step-number">1</span>
        <span class="step-title">Sign in</span>
      </a>
    </li>
    <li class="stepbar-item current">
      <div class="stepbar-link" title="Step 2 : Review" aria-current="step">
        <span class="step-number">2</span>
        <span class="step-title">Review</span>
      </div>
    </li>
    <li class="stepbar-item next">
      <div class="stepbar-link" title="Step 3 : Delivery">
        <span class="step-number">3</span>
        <span class="step-title">Delivery</span>
      </div>
    </li>
    <li class="stepbar-item next">
      <div class="stepbar-link" title="Step 4 : Payment">
        <span class="step-number">4</span>
        <span class="step-title">Payment</span>
      </div>
    </li>
  </ol>
</nav>

<nav class="o-stepbar xs-numbers" style="margin-top: 30px;">
  <ol>
    <li class="done stepbar-item">
      <a class="stepbar-link" href="#" title="Step 1 : Sign in">
        <span class="step-number">1</span>
        <span class="step-title">Sign in</span>
      </a>
    </li>
    <li class="stepbar-item done">
      <div class="stepbar-link" title="Step 2 : Review">
        <span class="step-number">2</span>
        <span class="step-title">Review</span>
      </div>
    </li>
    <li class="stepbar-item done">
      <div class="stepbar-link" title="Step 3 : Delivery">
        <span class="step-number">3</span>
        <span class="step-title">Delivery</span>
      </div>
    </li>
    <li class="stepbar-item current">
      <div class="stepbar-link" title="Step 4 : Payment" aria-current="step">
        <span class="step-number">4</span>
        <span class="step-title">Payment</span>
      </div>
    </li>
  </ol>
</nav>

<h3>Mobile stepbar with step labels</h3>

<nav class="o-stepbar xs-labels" style="margin-top: 30px;">
  <ol>
    <li class="current stepbar-item">
      <a class="stepbar-link" href="#" title="Step 1 : Sign in" aria-current="step">
        <span class="step-number">1</span>
        <span class="step-title">Sign in</span>
      </a>
    </li>
    <li class="stepbar-item next">
      <div class="stepbar-link" title="Step 2 : Review">
        <span class="step-number">2</span>
        <span class="step-title">Review</span>
      </div>
    </li>
    <li class="stepbar-item next">
      <div class="stepbar-link" title="Step 3 : Delivery">
        <span class="step-number">3</span>
        <span class="step-title">Delivery</span>
      </div>
    </li>
  </ol>
</nav>

<nav class="o-stepbar xs-labels" style="margin-top: 30px;">
  <ol>
    <li class="done stepbar-item">
      <a class="stepbar-link" href="#" title="Step 1 : Sign in">
        <span class="step-number">1</span>
        <span class="step-title">Sign in</span>
      </a>
    </li>
    <li class="stepbar-item current">
      <div class="stepbar-link" title="Step 2 : Review" aria-current="step">
        <span class="step-number">2</span>
        <span class="step-title">Review</span>
      </div>
    </li>
    <li class="stepbar-item next">
      <div class="stepbar-link" title="Step 3 : Delivery">
        <span class="step-number">3</span>
        <span class="step-title">Delivery</span>
      </div>
    </li>
  </ol>
</nav>

<nav class="o-stepbar xs-labels" style="margin-top: 30px;">
  <ol>
    <li class="done stepbar-item">
      <a class="stepbar-link" href="#" title="Step 1 : Sign in">
        <span class="step-number">1</span>
        <span class="step-title">Sign in</span>
      </a>
    </li>
    <li class="stepbar-item done">
      <div class="stepbar-link" title="Step 2 : Review">
        <span class="step-number">2</span>
        <span class="step-title">Review</span>
      </div>
    </li>
    <li class="stepbar-item current">
      <div class="stepbar-link" title="Step 3 : Delivery" aria-current="step">
        <span class="step-number">3</span>
        <span class="step-title">Delivery</span>
      </div>
    </li>
  </ol>
</nav>