<h2 id="switches">Toggle and switches<a class="doc-link" href="../components/forms/#orange-switches" title="go to switches documentation page"></a></h2>

<h3>Switches</h3>
<div class="container-fluid">
<div class="form-group row">
  <label for="checkbox1" class="col-form-label col-md-3 col-8" id="label-wifi-1">WiFi</label>
  <div class="o-switch">
    <input class="checkbox sr-only" id="checkbox1" type="checkbox" checked aria-labelledby="label-wifi-1 label-wifi-2" />
    <label for="checkbox1" class="toggle col-form-label" id="label-wifi-2">
      <span class="on svg-checkbox-tick" role="presentation"><span class="sr-only">on</span></span>
      <span class="off svg-delete" role="presentation"><span class="sr-only">off</span></span>
    </label>
  </div>
</div>

<div class="form-group row">
  <label for="checkbox3" class="col-form-label col-md-3 col-8" id="label-bluetooth-1">Bluetooth</label>
  <div class="o-switch">
    <input class="checkbox success sr-only" id="checkbox3" type="checkbox" aria-labelledby="label-bluetooth-1 label-bluetooth-2"
    />
    <label for="checkbox3" class="toggle col-form-label" id="label-bluetooth-2">
      <span class="on svg-checkbox-tick" role="presentation"><span class="sr-only">on</span></span>
      <span class="off svg-delete" role="presentation"><span class="sr-only">off</span></span>
    </label>
  </div>
</div>

<div class="form-group row">
  <label for="checkbox2" class="col-form-label col-md-3 col-8" id="label-wifi-3">WiFi</label>
  <div class="o-switch">
    <input class="checkbox sr-only" id="checkbox2" type="checkbox" aria-labelledby="label-wifi-3 label-wifi-4" />
    <label for="checkbox2" class="toggle toggle-rounded col-form-label" id="label-wifi-4" style="width: 78px;">
      <span class="on">On</span>
      <span class="off">Off</span>
    </label>
  </div>
</div>

<div class="form-group row">
  <label for="checkbox4" class="col-form-label col-md-3 col-8" id="label-bluetooth-3">Bluetooth</label>
  <div class="o-switch">
    <input class="checkbox success sr-only" id="checkbox4" type="checkbox" checked aria-labelledby="label-bluetooth-3 label-bluetooth-4"
    />
    <label for="checkbox4" class="toggle toggle-rounded col-form-label" id="label-bluetooth-4" style="width: 126px;">
      <span class="on">Activé</span>
      <span class="off">Désactivé</span>
    </label>
  </div>
</div>
</div>
<h3>3 way toggle</h3>

<div class="o-switch btn-group btn-group-toggle" data-toggle="buttons" role="group">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> 1
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> 2
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> 3
  </label>
</div>

<h3>3 way toggle without outline</h3>

<div class="o-switch btn-group btn-group-toggle no-outline" data-toggle="buttons" role="group">
  <label class="btn btn-secondary active">
    <input type="radio" name="options2" id="option21" autocomplete="off" checked> 1
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options2" id="option22" autocomplete="off"> 2
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options2" id="option33" autocomplete="off"> 3
  </label>
</div>