.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #eee; /* Boosted mod */
  outline: 1px solid #ddd; /* Boosted mod */
}

.themed-container {
  padding-top: .75rem; /* Boosted mod */
  padding-bottom: .75rem; /* Boosted mod */
  margin-bottom: 1.5rem;
  background-color: transparent;
  outline: 1px solid #4bb4e6; /* Boosted mod */
}

.custom-container-1 {
  max-width: 97.5%;
}

.custom-container-2 {
  padding: 0 .5625rem;
}

@media (min-width: 480px) {
  .custom-container-2 {
    padding: 0 .6875rem;
  }
}

@media (min-width: 768px) {
  .custom-container-1 {
    max-width: 96.875%;
  }
  .custom-container-2 {
    padding: 0 1.375rem;
  }
}

@media (min-width: 1024px) {
  .custom-container-1 {
    max-width: 93.75%;
  }
  .custom-container-2 {
    padding: 0 2.625rem;
  }
}

@media (min-width: 1280px) {
  .custom-container-2 {
    padding: 0 3.125rem;
  }
}

@media (min-width: 1440px) {
  .custom-container-1 {
    max-width: 1320px;
  }
  .custom-container-2 {
    padding: 0 .625rem;
  }
}
