.container{
  background-color: #f00;
}

.row{
  background-color: #00f;
}

[class*="col-"]{
  min-height: 100px;
  background-color: #0f0;
}

[class*="col-"] > div{
  min-height: 100px;
  background-color: #ddd;
  border: 1px solid #f00;
}
