* {
  text-shadow: none !important;
}
.navbar-light .navbar-brand {
  background: none;
}
#orange_logo {
  float: left;
}
#app_name{
  color: #999999;
  font-size: 1.1em;
  margin-left: 20px;
  text-shadow: none;
}
#app_name:hover, #app_name:focus {
  color: #F16E00;
}
.nav-shift{
  margin-left: 6%;
}
.orange{
  color: #F16E00;
  margin-left: 6px;
}

.form-horizontal {
  margin-top: 10px;
}
#content form {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer {
  background-color: #333333;
  height: auto;
}
footer a {
  color: white;
}

.navbar-dark #id-for-cdu-link a{
    color: #fff;
}
.navbar-dark #id-for-cdu-link a:hover,.navbar-dark #id-for-cdu-link a:focus{
    color: #F16E00;
}

.navbar-nav span[class*="icon-"] {
    font-size: 1.25rem;
}

.btn-sm::after {
  top: .5rem;
  left: .5rem;
  height: .875rem;
  width: .5625rem;
}

.btn-sm.svg-arrow-previous {
  padding-left: 1.5rem;
}

.btn-sm.svg-arrow-next {
  padding-right: 1.5rem;
}

.btn-sm.svg-arrow-next::after {
  left: auto;
  right: .5rem;
}

.svg-avatar {
  display: inline-block;
  left: 0;
  right: 0;
  top: 0px;
  width: 20px;
  height: 20px;
}
