/* Custom nav */

main {
    display: flex;
    flex-direction: row;
}

.content {
    flex-grow: 1;
}

.mega-menu {
    position: static;
    width: 300px;
    flex-grow: 0;
    min-height: calc(100vh - 6.25rem);
    background-color: #eee;
}

.mega-menu .nav-link:focus {
    outline-offset: -1px;
}

.overflow-nav {
  display: none;
}

.o-nav-local.resizing {
  overflow: hidden;
}

.hide {
  display: none !important;
}

.show-inline-block {
  display: inline-block !important;
}

.fb-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.fb-nav li + li {
  margin-left: 20px;
}

.fb-nav .dropdown-toggle {
  padding: 0;
}