---
layout: default
---

<div class="bd-pageheader text-xs-center text-sm-left" id="page_header">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p class="lead">
    </p>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-push-9 bd-sidebar">
            {% include nav-boostwatch.html %}
            <a href="#" class="scroll-top">
                <span class="icon-arrow-up" aria-hidden="true"></span>
                <div class="scroll-top-text">back to top</div>
            </a>
        </div>
        <div class="col-md-9 col-md-pull-3 bd-content">
            {{ content }}
        </div>
    </div>
</div>
