---
import type { Layout } from '@libs/layout'

interface Props {
  layout: Layout
}

const { layout } = Astro.props
---

<a id="top"></a><!-- OUDS mod: anchor for back-to-top link -->
<div class="skippy visually-hidden-focusable overflow-hidden position-fixed top-0 end-0 start-0">
  <nav aria-label="Skip links" class="container-fluid container-max-width py-2xs ps-4xl">
    <a class="d-inline-flex p-sm ms-lg bg-always-black" href="#content">Skip to main content</a>
    {
      layout === 'docs' && (
        <a class="d-none d-md-inline-flex p-sm bg-always-black" href="#bd-docs-nav">
          Skip to docs navigation
        </a>
      )
    }
  </nav>
</div>
