---
import { getVersionedDocsPath } from '@libs/path'

const slug = Astro.url.pathname.split('/')[4]

const sidebarMap = {
  'getting-started': 'Getting started',
  foundation: 'Foundation',
  components: 'Components',
  utilities: 'Utilities',
  layout: 'Layout'
}
---

<!--OUDS mod: doesn’t exist anymore in Bootstrap-->
<nav class="bd-subnavbar py-small d-lg-none" aria-label="Secondary navigation">
  <div class="container-fluid container-max-width d-flex justify-content-start">
    <button class="btn btn-default" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#bdSidebar" aria-controls="bdSidebar">
        <svg aria-hidden="true">
          <use xlink:href={`${getVersionedDocsPath('/assets/img/ouds-web-sprite.svg#outgoing')}`}></use>
        </svg>
      <span class="d-none d-sm-inline">Browse docs: {sidebarMap[slug]}</span>
      <span class="d-sm-none">Browse docs</span><span class="visually-hidden">{sidebarMap[slug]}</span>
    </button>
  </div>
</nav>
