---
export const title = 'Tags'
export const html_class = 'h-100'
export const body_class = 'd-flex flex-column h-100'
export const aliases = [
  'examples/tags',
  'docs/examples/tags',
]
---

<main>
  <h1 class="visually-hidden">Present some ways the tags could be used</h1>
  <div class="container-xxl">
    <table class="table">
      <caption class="h2">Use informative tags in a table context</caption>
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Associated tags</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Larry</td>
          <td class="p-2">
            <ul class="list-unstyled m-0 d-flex gap-2 flex-wrap">
              <li><span class="tag tag-sm">Bird</span></li>
              <li><span class="tag tag-sm">X</span></li>
              <li><span class="tag tag-sm">NBA</span></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Bootstrap</td>
          <td class="p-2">
            <ul class="list-unstyled m-0 d-flex gap-2 flex-wrap">
              <li><span class="tag tag-sm">Framework</span></li>
              <li><span class="tag tag-sm">X</span></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="b-example-divider"></div>

  <div class="container-xxl py-3">
    <h2>Example of anchor links</h2>
    <h3 class="visually-hidden">Links to anchor in an imaginary page</h3>
    <ul class="list-unstyled d-flex gap-2 flex-wrap m-0">
      <li>
        <a class="tag" href="#">1. Introduction</a>
      </li>
      <li>
        <a class="tag" href="#">2. Exposure</a>
      </li>
    </ul>
  </div>

  <div class="b-example-divider"></div>

  <div class="container-xxl py-3">
    <h2>Checkbox filter</h2>
    <ul class="list-unstyled d-flex gap-2 flex-wrap mb-0">
      <li>
        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
        <label class="tag" for="btncheck1">Mobile</label>
      </li>
      <li>
        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
        <label class="tag" for="btncheck2">Computer</label>
      </li>
      <li>
        <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
        <label class="tag" for="btncheck3">
          <svg width="1.5rem" height="1.5rem" viewBox="0 0 1000 1000" aria-hidden="true">
            <path fill="currentColor" d="M75,200V720H225v80H775V720H925V200H75ZM500,755a30,30,0,1,1,30-30A30,30,0,0,1,500,755Zm365-95H135V260H865V660Z"></path>
          </svg>
          TV
        </label>
      </li>
    </ul>
  </div>

  <div class="b-example-divider"></div>

  <div class="container-xxl py-3">
    <h2>Radio filter</h2>
    <ul class="list-unstyled d-flex gap-2 flex-wrap mb-0">
      <li>
        <input type="radio" name="tagRadio" class="btn-check" id="btncheck4" autocomplete="off" checked>
        <label class="tag" for="btncheck4">Mobile</label>
      </li>
      <li>
        <input type="radio" name="tagRadio" class="btn-check" id="btncheck5" autocomplete="off">
        <label class="tag" for="btncheck5">Computer</label>
      </li>
      <li>
        <input type="radio" name="tagRadio" class="btn-check" id="btncheck6" autocomplete="off">
        <label class="tag" for="btncheck6">
          <svg width="1.5rem" height="1.5rem" viewBox="0 0 1000 1000" aria-hidden="true">
            <path fill="currentColor" d="M75,200V720H225v80H775V720H925V200H75ZM500,755a30,30,0,1,1,30-30A30,30,0,0,1,500,755Zm365-95H135V260H865V660Z"></path>
          </svg>
          TV
        </label>
      </li>
    </ul>
  </div>

  <div class="b-example-divider"></div>
</main>
