.mega-menu-orangecom {
  min-height: 0;
  width: 18.75rem;
  position: absolute;
  left: 0;
}

.mega-menu-orangecom .mega-menu {
	background: #e6e6e6;
	min-height: calc(100vh - 6.25rem);
	width: 18.75rem
}

 .mega-menu-orangecom li+li {
	border-top: 1px solid rgba(0,0,0,0.1)
}
 .mega-menu-orangecom a {
	font-size: .875rem;
}

.mega-menu-orangecom .nav-item .nav-link[role="menuitem"]::before {
  color: #000;
}
.fresh-menu ul {
	left: 100%;
	position: absolute;
	top: 0;
	width: 100%
}
.fresh-menu a {
	padding: .25rem .75rem .25rem 1.25rem;
	/* transition: color 300ms ease-in, background 300ms ease-in */
}
.fresh-menu a:hover, .fresh-menu a:focus {
	color: #000;
	background: #f16e00
}





.navbar-mega .btn {
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	position: relative
}
.navbar-mega .btn:hover, .navbar-mega .btn:focus, .navbar-mega .btn:active {
	background: #fff;
	color: #f16e00
}
.icon-arrow-down {
	position: absolute;
	right: .5rem
}
.js-close-subnav {
	background: #fff;
	font-weight: bold
}
.is-closed {
	/* transition: visibility 0s linear 300ms; */
	visibility: hidden
}
.is-opened, .has-subnav-opened {
	/* transition-delay: 0ms; */
	visibility: visible
}
.btn-hamburger {
	background-color: transparent;
	border: 0;
	color: #fff;
	font-size: 1.875rem;
	/* transition: color 300ms ease-in */
}
.btn-hamburger:hover, .btn-hamburger:focus {
	border: 0;
	color: #f16e00;
	outline: none
}
.btn-hamburger::before {
	content: "\ea48";
	font: normal normal 1em/1 "icon-orange";
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.btn-hamburger[aria-expanded="true"]::before {
	content: "\e99d"
}

#container, #event-container, #footer-bottom-container #footer-bottom, #footer-middle-container #footer-middle, #footer-top-container #footer-top, #header-container, #header-container #header, #highlights-container, #menu-container, #menu-container #menu > .navbar .navbar-container .container, #menu-hamburger, #mmenu-orange, #navbar-fixed-container, a, span {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-property: all;
    transition-property: all;
}
.mega-menu *{
  transition: inherit;
}