.container{
  background-color: #ff0000; 
}
.row{
  background-color: #0000ff; 
}
[class*="col-"]{
  background-color: #00ff00;
  min-height: 100px;
}
[class*="col-"] > div{ 
  background-color: #ddd; 
  min-height: 100px;
  border: 1px solid #ff0000;
}