---
import OrangeSupra from "@components/shortcodes/OrangeSupra.astro"
import OrangeGlobalHeaders from "@components/shortcodes/OrangeGlobalHeaders.astro"

export const title = 'Sticky navbar example'
export const extra_css = ['./navbar-sticky.css']
export const extra_js = [{src: './navbar-sticky.js'}]
export const aliases = [
  'examples/navbar-sticky',
  'docs/examples/navbar-sticky',
]
---

<main>
  <h1 class="visually-hidden">Difference between sticky and fixed navbar</h1>
  <header class="sticky-top" data-bs-theme="dark">
    <OrangeSupra mode="languages" aria_label="Supra navigation - Sticky example" />

    <OrangeGlobalHeaders id="global-header-1" mode="actions" supra=true aria_label="Global navigation - Sticky example" />
  </header>
  <div class="container-xxl">
    <div class="form-check form-switch py-5">
      <input class="form-check-input" type="checkbox" role="switch" id="stickySwitch">
      <label class="form-check-label" for="stickySwitch">Toggle sticky/fixed header</label>
    </div>
  </div>
</main>
