{{- /*
Usage: `alert "type"`,
where type is one of info (default), danger, warning, success
*/ -}}

{{- $css_class := .Get 0 | default "info" -}}
{{- $id := slicestr $css_class 0 3 | safeHTML -}}
{{- if in $css_class "danger" -}}
{{- $id = "err" | safeHTML -}}
{{- end -}}

{{- $anchor := printf "web-alr-%s-001" $id -}}
<p class="mt-4 mb-3">
  <a id="{{ $anchor }}" class="ui-kit-id">{{ $anchor }}</a>
</p>

<div class="alert alert-{{ $css_class }} alert-dismissible fade show" role="alert">
  <span class="alert-icon"><span class="visually-hidden">{{ humanize $css_class }}</span></span>
  <p>{{ humanize $css_class }} notification text goes here.</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert"><span class="visually-hidden">Close</span></button><!--Boosted mod: a11y-->
</div>
<div class="alert alert-{{ $css_class }} alert-dismissible fade show" role="alert">
  <span class="alert-icon"><span class="visually-hidden">{{ humanize $css_class }}</span></span>
  <p>{{ humanize $css_class }} notification text goes here. <a href="#">Action</a></p>
  <button type="button" class="btn-close" data-bs-dismiss="alert"><span class="visually-hidden">Close</span></button><!--Boosted mod: a11y-->
</div>

{{- $anchor := printf "web-alr-%s-002" $id -}}
<p class="mt-4 mb-3">
  <a id="{{ $anchor }}" class="ui-kit-id">{{ $anchor }}</a>
</p>

<div class="alert alert-{{ $css_class }} alert-dismissible fade show" role="alert">
  <span class="alert-icon"><span class="visually-hidden">{{ humanize $css_class }}</span></span>
  <div>
    <h3 class="alert-heading">{{ humanize $css_class }} notification text goes here.</h3>
    <p>Description text goes here.</p>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert"><span class="visually-hidden">Close</span></button><!--Boosted mod: a11y-->
</div>
<div class="alert alert-{{ $css_class }} alert-dismissible fade show" role="alert">
  <span class="alert-icon"><span class="visually-hidden">{{ humanize $css_class }}</span></span>
  <div>
    <h3 class="alert-heading">{{ humanize $css_class }} notification text goes here. <a href="#">Action</a></h3>
    <p>Description text goes here.</p>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert"><span class="visually-hidden">Close</span></button><!--Boosted mod: a11y-->
</div>

{{- $anchor := printf "web-alr-%s-003" $id -}}
<p class="mt-4 mb-3">
  <a id="{{ $anchor }}" class="ui-kit-id">{{ $anchor }}</a>
</p>

<div class="alert alert-{{ $css_class }} alert-sm" role="alert">
  <span class="alert-icon"><span class="visually-hidden">{{ humanize $css_class }}</span></span>
  <p>{{ humanize $css_class }} notification text goes here.</p>
</div>
<div class="alert alert-{{ $css_class }} alert-sm" role="alert">
  <span class="alert-icon"><span class="visually-hidden">{{ humanize $css_class }}</span></span>
  <p>{{ humanize $css_class }} notification text goes here. <a href="#">Action</a></p>
</div>
