{{- /*
Usage: `alert "type"`,
where type is one of info (default), danger, warning, success
*/ -}}

{{- $css_class := .Get 0 | default "info" -}}
{{- $id := slicestr $css_class 0 3 | safeHTML -}}
{{- if in $css_class "danger" -}}
{{- $id = "err" | safeHTML -}}
{{- end -}}

<div class="alert alert-{{ $css_class }} alert-dismissible fade show" role="alert" id="web-alr-{{- $id -}}-001">
  <span class="alert-icon"><span class="sr-only">{{ humanize $css_class }}</span></span>
  <p>{{ humanize $css_class }} notification text goes here.</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-{{ $css_class }} alert-dismissible fade show" role="alert">
  <span class="alert-icon"><span class="sr-only">{{ humanize $css_class }}</span></span>
  <p>{{ humanize $css_class }} notification text goes here. <a href="#">Action</a></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-{{ $css_class }} alert-dismissible fade show" role="alert" id="web-alr-{{- $id -}}-002">
  <span class="alert-icon"><span class="sr-only">{{ humanize $css_class }}</span></span>
  <div>
    <h4 class="alert-heading">{{ humanize $css_class }} notification text goes here.</h4>
    <p>Description text goes here.</p>
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-{{ $css_class }} alert-dismissible fade show" role="alert">
  <span class="alert-icon"><span class="sr-only">{{ humanize $css_class }}</span></span>
  <div>
    <h4 class="alert-heading">{{ humanize $css_class }} notification text goes here. <a href="#">Action</a></h4>
    <p>Description text goes here.</p>
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-{{ $css_class }} alert-sm" role="alert" id="web-alr-{{- $id -}}-003">
  <span class="alert-icon"><span class="sr-only">{{ humanize $css_class }}</span></span>
  <p>{{ humanize $css_class }} notification text goes here.</p>
</div>
<div class="alert alert-{{ $css_class }} alert-sm" role="alert">
  <span class="alert-icon"><span class="sr-only">{{ humanize $css_class }}</span></span>
  <p>{{ humanize $css_class }} notification text goes here. <a href="#">Action</a></p>
</div>
