{{- /*
  Usage: `design-callout-alert "level"`, where `level` is one of info, success, warning or danger (default)
*/ -}}

{{- $level := .Get 0 | default "danger" -}}

<div class="alert alert-{{ $level }}">
  <span class="alert-icon"><span class="visually-hidden">{{ $level }}</span></span>
  <div>
    <p class="alert-heading mb-2xs">
      {{- if eq $level "danger" -}}
        Incompatibility with Orange Unified Design System.
        <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/">More information</a>
      {{- end -}}
      {{- if eq $level "info" -}}
        Orange Unified Design System recommendation.
      {{- end -}}
    </p>
    <div>{{ .Inner | markdownify }}</div>
  </div>
</div>
