{{- /*
Usage: `enable-btn-close-tooltip "title_level" "component_name"`, where `level` is a number from 2 to 5, and `component_name` is a text
*/ -}}

{{- $title_level := .Get 0 | default 2 -}}
{{- $component_name := .Get 1 -}}

{{ strings.Repeat $title_level "#" }} Enable tooltip on close button

Tooltips on close buttons{{- if $component_name -}}&#x20;of&#x20;{{- $component_name -}}{{- end -}}&#x20;have to be initialized. <a href="/{{ .Site.Params.docs_prefix }}/docs/{{ .Site.Params.docs_version }}/components/tooltips/#enable-tooltips">Tooltips can be initialized globally</a> in the project.
