{{- /*
  Usage: `orange-global-headers args`

  `args` are all optional and can be one of the following:
    * id: set an id to avoid duplicate ids in a same page (default: "global-header")
    * responsive_logo: display a responsive logo (default: false)
    * title: add a title if defined
    * title_2: add a second title line if defined
    * mode: mode used to display specific content if defined (choose one among ["actions", "search"])
    * demo: if the global shortcode is called from the documentation (default: false)
    * labels: use generic labels instead of real-life labels (default: false)
    * labels_end: justify labels at the end (default: false)
    * navigation: add a navigation bar under the global header (default: false)
    * supra: if the global header is used with a supra bar (default: false)
    * aria_label: set the aria-label for the current global header
*/ -}}

{{- $id := .Get "id" | default "global-header"}}
{{- $responsive_logo := .Get "responsive_logo" | default false -}}
{{- $title := .Get "title" | default false -}}
{{- $title_2 := .Get "title_2" | default false -}}
{{- $mode := .Get "mode" -}}
{{- $demo := .Get "demo" | default false -}}
{{- $labels := .Get "labels" | default false -}}
{{- $labels_end := .Get "labels_end" | default false -}}
{{- $navigation := .Get "navigation" | default false -}}
{{- $supra := .Get "supra" | default false -}}
{{- $aria_label := .Get "aria_label"}}
{{- $input := .Inner -}}

<nav class="navbar navbar-expand-lg" aria-label="{{ $aria_label }}">
  <div class="container-xxl">
    <div class="navbar-brand me-auto{{ cond (or $navigation $responsive_logo) "" " me-lg-4" }}">
      <a class="stretched-link" href="#">
{{- if $responsive_logo }}
        <img src="/docs/{{ $.Site.Params.docs_version }}/assets/brand/OBS-logo.svg" width="50" height="50" alt="Boosted - Back to Home" loading="lazy">
{{- else }}
        <img src="/docs/{{ $.Site.Params.docs_version }}/assets/brand/orange-logo.svg" width="50" height="50" alt="Boosted - Back to Home" loading="lazy">
{{- end }}
      </a>
{{- if and $title $title_2 }}
      <h1 class="two-lined">
        Title Line 1<br>Title Line 2
      </h1>
{{- else if $title }}
      <h1 class="title">Title</h1>
{{- end }}
    </div>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".{{ $id }}" aria-controls="{{ $id }}.1 {{ $id }}.2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
{{- if not $navigation }}
    <div id="{{ $id }}.1" class="navbar-collapse collapse {{ cond $responsive_logo "me-lg-3" "me-lg-auto" }} {{ $id }}">
{{- if $supra }}
      <ul class="navbar-nav border-top border-1 border-dark d-flex flex-row d-lg-none supra">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Personal</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Business</a></li>
      </ul>
{{- end }}
      <ul class="navbar-nav">
{{- if $labels }}
        <li class="nav-item"><a class="nav-link{{ cond $supra "" " active"}}" href="#"{{- if not $supra }} aria-current="page"{{- end }}>Label</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Label</a></li>
{{- if not $demo }}
        <li class="nav-item"><a class="nav-link" href="#">Label</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Label</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Label</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Label</a></li>
{{- end }}
{{- else }}
        <li class="nav-item"><a class="nav-link{{ cond $supra "" " active"}}" href="#"{{- if not $supra }} aria-current="page"{{- end }}>Discover</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Shop</a></li>
{{- if not $demo }}
        <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Entertainment</a></li>
        <li class="nav-item"><a class="nav-link" href="#">News</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
{{- end }}
{{- end }}
      </ul>
{{- if $supra }}
      <ul class="navbar-nav border-top border-1 border-dark d-flex flex-row d-lg-none supra">
        <li class="nav-item"><a class="nav-link active" href="#" aria-label="EN English version" aria-current="true">EN</a></li>
        <li class="nav-item"><a class="nav-link" href="#" aria-label="FR Version française" lang="fr" hreflang="fr">FR</a></li>
        <li class="nav-item"><a class="nav-link" href="#" aria-label="ES Versión en español" lang="es" hreflang="es">ES</a></li>
      </ul>
{{- end }}
    </div>
{{- end }}
{{- if eq $mode "search" }}
    <form class="d-flex d-none d-lg-flex col-3 navbar-item" role="search">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button type="submit" class="btn btn-primary visually-hidden-focusable">Submit</button>
    </form>
{{- end }}
    <div id="{{ $id }}.2" class="navbar-collapse collapse{{ cond (not (eq $mode "theme")) " d-sm-flex" " d-lg-flex" }}{{ cond $responsive_logo " ms-lg-3" "" }} {{ $id }}">
      <ul class="navbar-nav flex-row">
{{- if eq $mode "actions" }}
        <li class="nav-item">
          <a href="#" class="nav-link nav-icon">
            <svg width="1.5rem" height="1.5rem" fill="currentColor" aria-hidden="true" focusable="false" class="overflow-visible">
              <use xlink:href="/docs/{{ $.Site.Params.docs_version }}/assets/img/boosted-sprite.svg#search" />
            </svg>
            <span class="visually-hidden">Search</span>
          </a>
        </li>
        <li class="nav-item{{ cond $responsive_logo " d-none" "" }}">
          <a href="#" class="nav-link nav-icon">
            <svg width="1.5rem" height="1.5rem" fill="currentColor" aria-hidden="true" focusable="false" class="overflow-visible">
              <use xlink:href="/docs/{{ $.Site.Params.docs_version }}/assets/img/boosted-sprite.svg#buy" />
            </svg>
            <span class="visually-hidden">Basket</span>
            <span class="position-relative align-self-start">
              <span class="badge text-bg-info rounded-pill position-absolute top-0 fs-6 translate-middle">
                1
                <span class="visually-hidden">shopping basket items</span>
              </span>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link nav-icon">
            <img src="/docs/{{ $.Site.Params.docs_version }}/assets/img/navbar-contact.png" width="25" height="25" role="img" alt="User" loading="lazy">
            <span class="visually-hidden">My account</span>
          </a>
        </li>
{{- else if eq $mode "search" }}
        <li class="nav-item d-lg-none">
          <a href="#" class="nav-link nav-icon">
            <svg width="1.5rem" height="1.5rem" fill="currentColor" aria-hidden="true" focusable="false" class="overflow-visible">
              <use xlink:href="/docs/{{ $.Site.Params.docs_version }}/assets/img/boosted-sprite.svg#search" />
            </svg>
            <span class="visually-hidden">Search</span>
          </a>
        </li>
{{- else if eq $mode "theme" }}
        <li class="nav-item dropdown">
          <button class="nav-link nav-icon dropdown-toggle" id="bd-theme{{ cond $demo "2" ""}}" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle mode (auto)">
            <svg class="theme-icon-active"><use href="#ui-auto-mode"></use></svg>
            <span class="d-lg-none ms-2" id="bd-theme-text{{ cond $demo "2" ""}}">Toggle mode</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end mb-2" aria-labelledby="bd-theme-text{{ cond $demo "2" ""}}">
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                <svg class="me-2"><use href="#ui-light-mode"></use></svg>
                Light
                <svg class="ms-auto d-none"><use href="#check2"></use></svg>
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                <svg class="me-2"><use href="#ui-dark-mode"></use></svg>
                Dark
                <svg class="ms-auto d-none"><use href="#check2"></use></svg>
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                <svg class="me-2"><use href="#ui-auto-mode"></use></svg>
                Auto
                <svg class="ms-auto d-none"><use href="#check2"></use></svg>
              </button>
            </li>
          </ul>
        </li>
{{- end }}
      </ul>
    </div>
  </div>
</nav>
{{- if $navigation }}
<nav class="navbar navbar-expand-lg" aria-label="{{ $aria_label }}.2">
  <div class="container-xxl">
    <div id="{{ $id }}.1" class="navbar-collapse collapse m-0 {{ $id }}">
{{- if $supra }}
      <ul class="navbar-nav border-top border-1 border-dark d-flex flex-row d-lg-none supra">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Personal</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Business</a></li>
      </ul>
{{- end }}
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link{{ cond $supra "" " active"}}" href="#"{{- if not $supra }} aria-current="page"{{- end }}>Label</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Label</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Label</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Label</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Label</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Label</a></li>
      </ul>
{{- if $supra }}
      <ul class="navbar-nav border-top border-1 border-dark d-flex flex-row d-lg-none supra">
        <li class="nav-item"><a class="nav-link active" href="#" aria-label="EN English version" aria-current="true">EN</a></li>
        <li class="nav-item"><a class="nav-link" href="#" aria-label="FR Version française" lang="fr" hreflang="fr">FR</a></li>
        <li class="nav-item"><a class="nav-link" href="#" aria-label="ES Versión en español" lang="es" hreflang="es">ES</a></li>
      </ul>
{{- end }}
    </div>
  </div>
</nav>
{{- end }}
