{{- /*
  Usage: `orange-footer args`

  `args` are all optional and can be one of the following:
    * title_content: Display a title with content - default = false
    * follow: Display follow content - default = false
    * nav: Display nav content - default = false
    * service: Display service content - default = false
    * mandatory: Display mandatory content - default = false
    * extra_social: Add extra social links - default = false
    * show_active_link: Display active link in footer - default = false
    * id: Set an id for accordions and the footer itself
*/ -}}

{{- $title_content := .Get "title_content" | default false -}}
{{- $follow := .Get "follow" | default false -}}
{{- $nav := .Get "nav" | default false -}}
{{- $service := .Get "service" | default false -}}
{{- $mandatory := .Get "mandatory" | default false -}}
{{- $extra_social := .Get "extra_social" | default false -}}
{{- $show_active_link := .Get "show_active_link" | default false -}}
{{- $id := .Get "id" -}}
{{- $input := .Inner -}}

<footer class="footer bg-dark navbar-dark">
  <h2 class="visually-hidden">Sitemap & information</h2>
{{- if $title_content }}
  <div class="container-xxl footer-title-content">
    <h3 class="footer-heading">Sign up to our mailing list</h3>
    <div class="row">
      <form class="d-flex col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5 gap-2 gap-md-3">
        <label for="inputEmail{{ $id }}" class="visually-hidden">Email</label>
        <input type="email" class="form-control text-bg-dark border-dark" id="inputEmail{{ $id }}" placeholder="Enter your email">
        <button type="submit" class="btn btn-secondary text-nowrap">Sign up</button>
      </form>
    </div>
  </div>
{{- if or $follow $nav $service $mandatory }}
  <div class="border-bottom border-1 border-dark"></div>
{{- end }}
{{- end }}
{{- if $follow }}
  <div class="container-xxl footer-social">
    <h3 class="footer-heading me-md-3">Follow us</h3>
    <ul class="navbar-nav gap-2 flex-row align-self-start">
      <li><a href="#" class="btn btn-icon btn-social btn-twitter"><span class="visually-hidden">Twitter</span></a></li>
      <li><a href="#" class="btn btn-icon btn-social btn-facebook"><span class="visually-hidden">Facebook</span></a></li>
      <li><a href="#" class="btn btn-icon btn-social btn-instagram"><span class="visually-hidden">Instagram</span></a></li>
      <li><a href="#" class="btn btn-icon btn-social btn-whatsapp"><span class="visually-hidden">WhatsApp</span></a></li>
      <li><a href="#" class="btn btn-icon btn-social btn-linkedin"><span class="visually-hidden">LinkedIn</span></a></li>
      <li><a href="#" class="btn btn-icon btn-social btn-youtube"><span class="visually-hidden">YouTube</span></a></li>
      {{- if $extra_social }}
        <li><a href="#" class="btn btn-icon btn-social btn-snapchat"><span class="visually-hidden">Snapchat</span></a></li>
        <li><a href="#" class="btn btn-icon btn-social btn-pinterest"><span class="visually-hidden">Pinterest</span></a></li>
        <li><a href="#" class="btn btn-icon btn-social btn-mail"><span class="visually-hidden">Mail</span></a></li>
        <li><a href="#" class="btn btn-icon btn-social btn-tiktok"><span class="visually-hidden">TikTok</span></a></li>
      {{- end }}
    </ul>
  </div>
{{- if or $nav $service $mandatory }}
  <div class="border-bottom border-1 border-dark"></div>
{{- end }}
{{- end }}
{{- if $nav }}
  <div class="container-xxl footer-nav">
    <nav class="accordion accordion-dark" id="accordion{{ $id }}" aria-label="Sitemap footer {{ $id }}">
      <div class="row">
        <div class="footer-column col-md-3">
          <h3 class="accordion-header footer-heading" id="headingOne{{ $id }}">
            <button class="accordion-button collapsed container-xxl px-1 d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ $id }}" aria-expanded="true" aria-controls="collapseOne{{ $id }}">
              Category
            </button>
            <span class="d-none d-md-flex">Category</span>
          </h3>
          <div id="collapseOne{{ $id }}" class="container-xxl accordion-collapse collapse" data-bs-parent="#accordion{{ $id }}">
            <ul class="navbar-nav">
              <li><a class="nav-link" href="#" aria-describedby="headingOne{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingOne{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingOne{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingOne{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingOne{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingOne{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingOne{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingOne{{ $id }}">Subcategory</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-column col-md-3">
          <h3 class="accordion-header footer-heading" id="headingTwo{{ $id }}">
            <button class="accordion-button collapsed container-xxl px-1 d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo{{ $id }}" aria-expanded="true" aria-controls="collapseTwo{{ $id }}">
              Category
            </button>
            <span class="d-none d-md-flex">Category</span>
          </h3>
          <div id="collapseTwo{{ $id }}" class="container-xxl accordion-collapse collapse" data-bs-parent="#accordion{{ $id }}">
            <ul class="navbar-nav">
              <li><a class="nav-link" href="#" aria-describedby="headingTwo{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingTwo{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingTwo{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingTwo{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingTwo{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingTwo{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingTwo{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingTwo{{ $id }}">Subcategory</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-column col-md-3">
          <h3 class="accordion-header footer-heading" id="headingThree{{ $id }}">
            <button class="accordion-button collapsed container-xxl px-1 d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree{{ $id }}" aria-expanded="true" aria-controls="collapseThree{{ $id }}">
              Category
            </button>
            <span class="d-none d-md-flex">Category</span>
          </h3>
          <div id="collapseThree{{ $id }}" class="container-xxl accordion-collapse collapse" data-bs-parent="#accordion{{ $id }}">
            <ul class="navbar-nav">
              <li><a class="nav-link" href="#" aria-describedby="headingThree{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingThree{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingThree{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingThree{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingThree{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingThree{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingThree{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingThree{{ $id }}">Subcategory</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-column col-md-3">
          <h3 class="accordion-header footer-heading" id="headingFour{{ $id }}">
            <button class="accordion-button collapsed container-xxl px-1 d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour{{ $id }}" aria-expanded="true" aria-controls="collapseFour{{ $id }}">
              Category
            </button>
            <span class="d-none d-md-flex">Category</span>
          </h3>
          <div id="collapseFour{{ $id }}" class="container-xxl accordion-collapse collapse" data-bs-parent="#accordion{{ $id }}">
            <ul class="navbar-nav">
              <li><a class="nav-link" href="#" aria-describedby="headingFour{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingFour{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingFour{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingFour{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingFour{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingFour{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingFour{{ $id }}">Subcategory</a></li>
              <li><a class="nav-link" href="#" aria-describedby="headingFour{{ $id }}">Subcategory</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
{{- if or $service $mandatory }}
  <div class="border-bottom border-1 border-dark"></div>
{{- end }}
{{- end }}
{{- if $service }}
  <div class="container-xxl footer-service">
    <ul class="navbar-nav gap-3 gap-md-4">
      <li><a class="nav-link gap-1" href="#"><svg width="1.875rem" height="1.875rem" focusable="false" aria-hidden="true"><use xlink:href="/docs/{{ .Site.Params.docs_version }}/assets/img/boosted-sprite.svg#location-pin-compass"/></svg><span>Store locator</span></a></li>
      <li><a class="nav-link gap-1" href="#"><svg width="1.875rem" height="1.875rem" focusable="false" aria-hidden="true"><use xlink:href="/docs/{{ .Site.Params.docs_version }}/assets/img/boosted-sprite.svg#mobile-network-coverage"/></svg><span>Coverage checker</span></a></li>
      <li>{{- if $show_active_link }}<a class="nav-link gap-1 active" href="#" aria-current="page">{{- else }}<a class="nav-link gap-1" href="#">{{- end }}<svg width="1.875rem" height="1.875rem" focusable="false" aria-hidden="true"><use xlink:href="/docs/{{ .Site.Params.docs_version }}/assets/img/boosted-sprite.svg#live-chat"/></svg><span>Contact us</span></a></li>
      <li><a class="nav-link gap-1" href="#"><svg width="1.875rem" height="1.875rem" focusable="false" aria-hidden="true"><use xlink:href="/docs/{{ .Site.Params.docs_version }}/assets/img/boosted-sprite.svg#child-protection"/></svg><span>Child protection</span></a></li>
    </ul>
  </div>
{{- if $mandatory }}
  <div class="border-bottom border-1 border-dark"></div>
{{- end }}
{{- end }}
{{- if $mandatory }}
  <div class="container-xxl footer-terms">
    <ul class="navbar-nav gap-md-3">
      <li class="fw-bold">© Orange {{ now.Format "2006" }}</li>
      <li><a class="nav-link" href="#">Terms and conditions</a></li>
      <li><a class="nav-link" href="#">Privacy</a></li>
      {{- if $show_active_link }}
      <li><a class="nav-link active" href="#" aria-current="page">Accessibility statement</a></li>
      {{- else }}
      <li><a class="nav-link" href="#">Accessibility statement</a></li>
      {{- end }}
      <li><a class="nav-link" href="#">Cookie policy</a></li>
    </ul>
  </div>
{{- end }}
</footer>
