{{- /*
  Usage: `svg-docs file="orange-logo" downloadable="true"`

    Prints SVG content.

    Optional parameters:
      file: SVG file path without file extension - default: `orange-logo`
      downloadable: is the file downloadable? - default: `true`
*/ -}}

{{- $fileName := .Get "file" | default "orange-logo" -}}
{{- $file := (print "site/static/docs/" .Site.Params.docs_version "/assets/brand/" $fileName) -}}
{{- $svgFormatted := readFile (print $file "-formatted.svg") -}}
{{- $svg := readFile (print $file ".svg") -}}
{{- $downloadable := .Get "downloadable" | default true -}}

{{- highlight $svgFormatted "html" "" }}

{{- if eq $downloadable true -}}
  {{- /* Get filename */ -}}
  {{ $output := split (print $file ".svg") "/" }}
  {{ $output  = last 1 $output }}

  {{- /* Get filesize */ -}}
  {{ $size := len $svg }}
  {{ $size  = float $size }}

  {{- /* Sort of escape-svg() */ -}}
  {{ $target := replace $svg "\"" "'" }}
  {{ $target = replace $target "#" "%23" }}
  {{ $target = replace $target "<" "%3c" }}
  {{ $target = replace $target ">" "%3e" }}
  {{ $target = replace $target "(" "%28" }}
  {{ $target = replace $target ")" "%29" }}

  <p class="ms-auto text-end">
    <a class="btn btn-strong" href="data:image/svg+xml,{{ $target }}" download="{{ delimit $output "" }}">
      Download<span class="small ms-shortest">(SVG, {{div $size 1000}}ko)</span>
    </a>
  </p>
{{- end -}}
