{{- /*
  Usage: `table [args]`

  `args` are optional and can be one of the following:
    * class: any class(es) to be added to the `table`
    * simplified: show a simplified version in the examples - default `true`
    * caption: content of the `caption`
*/ -}}

{{- $class := .Get "class" -}}
{{- $simplified := .Get "simplified" | default true -}}
{{- $caption := .Get "caption" -}}

{{- $table_attributes := "" -}}
{{- $table_content := "  ...\n" -}}
{{- $table_caption_attributes := "" -}}
{{- $table_caption := "" -}}

{{- with $class -}}
  {{- $table_attributes = printf ` class="%s"` . -}}
{{- end -}}

{{- if eq $simplified "false" -}}
  {{- $table_content = partialCached "table-content" . -}}

  {{- with $caption -}}
    {{- $table_caption = printf `  <caption class="visually-hidden">%s</caption>%s` . "\n" -}}
  {{- end -}}
{{- end -}}

{{- $table_caption_attributes = printf ` class="visually-hidden"` -}}

{{- $table := printf "<table%s>\n%s%s</table>\n" $table_attributes $table_caption $table_content -}}

<div class="bd-example">
  <table{{ with $class }} class="{{ . }}"{{ end }}>
    {{- with $caption -}}<caption class="visually-hidden">{{.}}</caption>{{- end -}}
    {{ partialCached "table-content" . }}
  </table>
</div>

{{- highlight $table "html" "" -}}
