@use "@ouds/web-common/scss/banner";

// At least forward config so we can use the "with" keyword on these variables when @using the lib
//  maybe we need to forward variables too, or suggest the variable reassignment for it
//  see https://sass-lang.com/documentation/at-rules/use/#reassigning-variables
@forward "@ouds/web-common/scss/config";

// Layout & components
@forward "@ouds/web-common/scss/root";
@forward "@ouds/web-common/scss/reboot";
@forward "@ouds/web-common/scss/type";
@forward "@ouds/web-common/scss/images";
@forward "@ouds/web-common/scss/containers";
@forward "@ouds/web-common/scss/grid";
// @forward "@ouds/web-common/scss/tables";
// @forward "@ouds/web-common/scss/forms";
// @forward "@ouds/web-common/scss/links"; // OUDS mod
// @forward "@ouds/web-common/scss/bullet-list"; // OUDS mod
@forward "@ouds/web-common/scss/buttons";
// @forward "@ouds/web-common/scss/chips"; // OUDS mod
@forward "@ouds/web-common/scss/transitions";
@forward "@ouds/web-common/scss/dropdown";
// @forward "@ouds/web-common/scss/button-group";
@forward "@ouds/web-common/scss/nav";
@forward "@ouds/web-common/scss/navbar";
// @forward "@ouds/web-common/scss/card";
// @forward "@ouds/web-common/scss/accordion";
// @forward "@ouds/web-common/scss/breadcrumb";
// @forward "@ouds/web-common/scss/pagination";
// @forward "@ouds/web-common/scss/badges";
// @forward "@ouds/web-common/scss/tags";
// @forward "@ouds/web-common/scss/alert";
// @forward "@ouds/web-common/scss/progress";
// @forward "@ouds/web-common/scss/list-group";
// @forward "@ouds/web-common/scss/close";
// @forward "@ouds/web-common/scss/toasts";
// @forward "@ouds/web-common/scss/modal";
// @forward "@ouds/web-common/scss/tooltip";
// @forward "@ouds/web-common/scss/popover";
// @forward "@ouds/web-common/scss/carousel";
// @forward "@ouds/web-common/scss/spinners";
// @forward "@ouds/web-common/scss/offcanvas";
// @forward "@ouds/web-common/scss/placeholders";

// OUDS Web
// @forward "@ouds/web-common/scss/back-to-top";
// @forward "@ouds/web-common/scss/footer";
// @forward "@ouds/web-common/scss/local-navigation";
@forward "@ouds/web-common/scss/orange-navbar";
// @forward "@ouds/web-common/scss/stepped-process";
// @forward "@ouds/web-common/scss/sticker";
// @forward "@ouds/web-common/scss/title-bars";

// Helpers
@forward "@ouds/web-common/scss/helpers";

// Utilities
@forward "@ouds/web-common/scss/utilities/api";
// scss-docs-end forward-stack
