/* general */

html,
body {
  height: 100%;
}

h1,
h2,
h3 {
  margin-top: 1.25rem;
  margin-bottom: .625rem;
  letter-spacing: -.03em;
}

/* page header */

header {
  padding: 1.25rem;
  overflow: hidden;
  border-bottom: 1px solid #000;
}

header h1 {
  float: left;
  margin: 0 0 0 1.25rem;
}

header .btn {
  float: left;
}

header .btn.svg-arrow-previous {
  padding-left: 40px;
  margin-right: .375rem;
}

header .btn.svg-arrow-previous::after {
  top: 10px;
  left: 20px;
  width: 10px;
  height: 16px;
}

h2 {
  margin-bottom: 20px;
}

/* links page */

.o-card-link {
  border: 0;
}

.o-card-link .card-img {
  text-align: left;
}

.o-card-link .card-img img {
  width: 50%;
  height: auto;
}

.o-card-link .card-body {
  padding: 1.25rem 0;
  text-align: left;
}

.o-card-link .card-title {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-bottom: 10px;
}

main {
  margin-bottom: 6.25rem;
}

.link-icon {
  width: auto;
  height: 3.75rem;
}

.link-icon img {
  height: 100%;
}

@media (max-width: 767px) {
  .link-icon {
    height: 2.625rem;
  }
}

@media (min-width: 767px) and (max-width: 979px) {
  .link-icon {
    height: 2.625rem;
  }
}
