---
import BaseLayout from '@layouts/BaseLayout.astro'
import MastHead from '@components/home/MastHead.astro'
import GetStarted from '@components/home/GetStarted.astro'
import Customize from '@components/home/Customize.astro'
import CSSVariables from '@components/home/CSSVariables.astro'
import ComponentUtilities from '@components/home/ComponentUtilities.astro'
import Plugins from '@components/home/Plugins.astro'
import OrangeDesignSystem from '@components/home/OrangeDesignSystem.astro'
---

<BaseLayout>
  <MastHead />
  <div class="container-xxl bd-gutter masthead-followup">
    <GetStarted />
    <Customize />
    <CSSVariables />
    <ComponentUtilities />
    <Plugins />
    <OrangeDesignSystem />
  </div>
</BaseLayout>
