.skippy {
  display: block;
  padding: 1em;
  color: #fff;
  text-align: center;
  background-color: #000;
}

.skippy:hover {
  color: #fff;
}

.skippy-text {
  padding: .5em;
}

.bg-yellow {
  background-color: #faf89f;
}
