---
layout: default
---

<header role="banner" class="container-fluid py-5">
  <div class="pt-md-3 pb-md-4">
    <h1 class="bd-title mt-0">{{ page.title | smartify }}</h1>
    <p class="bd-lead">{{ page.description | smartify }}</p>
    {%- if page.title == "Examples" -%}
    <div class="d-flex flex-column flex-sm-row">
      <a href="{{ site.download.dist_examples }}" class="btn btn-lg btn-secondary" onclick="ataLayer.push({'event': 'clic', 'site_name':'accessibility-boosted', 'phase':'prod', 'track_category':'download', 'track_name':'zip-example', 'track_cible':'hero'});">Download Examples</a>
      <a href="{{ site.download.source }}" class="btn btn-lg btn-secondary mt-3 mt-sm-0 ml-sm-3 ml-md-5" onclick="dataLayer.push({'event': 'clic', 'site_name':'accessibility-boosted', 'phase':'prod', 'track_category':'download', 'track_name':'example', 'track_cible':'hero'});">Download source code</a>
    </div>
    {%- endif -%}
  </div>
  <!-- Boosted mod : remove ads -->
</header>

<main class="bd-content container-fluid pb-5" id="content" role="main">
  {{ content }}
</main>
