//
// Check/radio
//

.form-check {
  display: block;
  min-height: $form-check-min-height;
  padding-left: $form-check-padding-left;
  margin-bottom: $form-check-margin-bottom;

  .form-check-input {
    float: left;
    margin-left: $form-check-padding-left * -1;
  }
}

.form-check-input {
  width: $form-check-input-width;
  height: $form-check-input-width;
  margin-top: ($line-height-base - $form-check-input-width) / 2; // line-height minus check height
  vertical-align: top;
  background-color: $form-check-input-bg;
  border: $form-check-input-border;
  appearance: none;
  color-adjust: exact; // Keep themed appearance for print

  &[type="checkbox"] {
    @include border-radius($form-check-input-border-radius);
  }

  &[type="radio"] {
    border-radius: $form-check-radio-border-radius; // stylelint-disable-line property-blacklist
  }

  &:focus {
    border-color: $form-check-input-focus-border;
    outline: 0;
    box-shadow: $form-check-input-focus-box-shadow;
  }

  &:active {
    background-color: $form-check-input-active-bg-color; // Boosted mod
    filter: $form-check-input-active-filter;
    border-color: $form-check-input-active-bg-color; // Boosted mod
  }

  &:checked {
    background-color: $form-check-input-checked-bg-color;
    background-repeat: $form-check-input-checked-bg-repeat;
    background-position: $form-check-input-checked-bg-position;
    background-size: $form-check-input-checked-bg-size;
    border-color: $form-check-input-checked-border-color;

    &[type="checkbox"] {
      @if $enable-gradients {
        background-image: escape-svg($form-check-input-checked-bg-image), linear-gradient(180deg, lighten($form-check-input-checked-bg-color, 10%), $form-check-input-checked-bg-color);
        background-size: $form-check-input-checked-bg-size, auto;
      } @else {
        background-image: escape-svg($form-check-input-checked-bg-image);
      }
    }

    &[type="radio"] {
      @if $enable-gradients {
        background-image: escape-svg($form-check-radio-checked-bg-image), linear-gradient(180deg, lighten($form-check-input-checked-bg-color, 10%), $form-check-input-checked-bg-color);
        background-size: 1em, auto; // Boosted mod
      } @else {
        background-image: escape-svg($form-check-radio-checked-bg-image);
        background-size: 1em; // Boosted mod
      }
    }
  }

  &[type="checkbox"]:indeterminate {
    background-color: $form-check-input-indeterminate-bg-color;
    background-repeat: $form-check-input-indeterminate-bg-repeat;
    background-position: $form-check-input-indeterminate-bg-position;
    @if $enable-gradients {
      background-image: escape-svg($form-check-input-indeterminate-bg-image), linear-gradient(180deg, lighten($form-check-input-checked-bg-color, 10%), $form-check-input-checked-bg-color);
      background-size: $form-check-input-checked-bg-size, auto;
    } @else {
      background-image: escape-svg($form-check-input-indeterminate-bg-image);
      background-size: $form-check-input-indeterminate-bg-size;
    }
    border-color: $form-check-input-indeterminate-border-color;
  }

  &:disabled {
    pointer-events: none;
    background-color: $input-disabled-bg; // Boosted mod

    // Boosted mod
    &:checked {
      background-color: $input-border-color;
      border-color: $input-border-color;
    }
    // End mod
  }

  // Use disabled attribute in addition of :disabled pseudo-class
  // See: https://github.com/twbs/bootstrap/issues/28247
  &[disabled],
  &:disabled {
    ~ .form-check-label {
      color: $input-disabled-color; // Boosted mod
    }
  }

  // Boosted mod: required symbol
  &:required {
    ~ .form-check-label::after {
      margin-left: $form-label-margin-bottom;
      color: $primary;
      content: "*";
    }
  }
}

.form-check-label {
  color: $form-check-label-color;
  cursor: $form-check-label-cursor;
}

//
// Switch
//

.form-switch {
  min-height: $form-switch-width / 2; // Boosted mod
  padding-left: $form-switch-padding-left;

  .form-check-input {
    width: $form-switch-width;
    height: $form-switch-width / 2; // Boosted mod
    margin-left: $form-switch-padding-left * -1;
    background-color: $black; // Boosted mod
    background-image: escape-svg($form-switch-bg-image), linear-gradient(to right, $white $form-switch-bg-square-size, transparent);
    background-repeat: no-repeat;
    background-position: right .5rem top 50%, 0 0; // Boosted mod
    background-size: $form-switch-bg-size, $form-switch-bg-square-size; // Get a 1px separation
    border-color: $black; // Boosted mod
    @include border-radius($form-switch-border-radius);
    color-adjust: exact; // Keep themed appearance for print
    // Boosted mod: adding a square alongside icon, and using transition
    transition: $form-switch-transition; // stylelint-disable-line property-blacklist

    &:checked {
      background-color: $primary;
      border-color: $primary;

      @if $enable-gradients {
        background-image: escape-svg($form-switch-checked-bg-image), linear-gradient(180deg, $form-check-input-checked-bg-color, lighten($form-check-input-checked-bg-color, 10%)), linear-gradient(to right, $white $form-switch-bg-square-size, transparent);
        background-position: $form-switch-checked-bg-position, 100%, 100% 0;
        background-size: $form-switch-checked-bg-size, auto, $form-switch-bg-square-size;
      } @else {
        background-image: escape-svg($form-switch-checked-bg-image), linear-gradient(to right, $white $form-switch-bg-square-size, transparent);
        background-position: $form-switch-checked-bg-position, 100% 0;
        background-size: $form-switch-checked-bg-size, $form-switch-bg-square-size;
      }

      &:active,
      &:focus {
        outline-color: $primary;
      }
    }

    &:focus {
      outline: 0; // @TODO: custom focus
    }

    &:active {
      background-color: $form-check-input-active-bg-color;
      border-color: $form-check-input-active-bg-color;
    }

    &:disabled {
      background-color: $input-border-color;
      border-color: $input-border-color;
    }
  }

  .form-check-label {
    padding-top: map-get($spacers, 1);
  }
  // End mod
}

.form-check-inline {
  display: inline-block;
  margin-right: $form-check-inline-margin-right;
}
