//
// Star rating
//

.star-rating {

  > label,
  span {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    font-size: $form-star-size;
    cursor: pointer;
    @include form-star-rating($accessible-orange, $accessible-orange);

    &:not(:first-of-type){
      margin-left: $form-star-margin-between;
    }
  }

  > input:checked ~ label,
  .checked ~ span {
    @include form-star-rating($gray-700, transparent);
  }

  > input:checked + label,
  .checked {
    @include form-star-rating($accessible-orange, $accessible-orange);
  }

  > [data-focus-visible-added]:focus + label {
    @include focus-visible();
    outline-offset: -1px;
    box-shadow: inset 0 0 0 add(1px, $focus-visible-inner-width) var(--#{$prefix}focus-visible-inner-color);
  }

  &:hover input + label {
    @include form-star-rating($black, $black);
  }

  > input:hover ~ label {
    @include form-star-rating($gray-700, transparent);
  }

  > input:hover + label {
    @include form-star-rating($black, $black);
  }

  &.disabled,
  &:disabled {
    pointer-events: none;

    > label {
      @include form-star-rating($gray-700, $gray-700);
    }

    > input:checked ~ label {
      @include form-star-rating($gray-500, $gray-500);
    }

    > input:checked + label {
      @include form-star-rating($gray-700, $gray-700);
    }
  }
}

.star-rating-dark {
  > label {
    @include form-star-rating($brand-orange, $brand-orange);
  }

  > input:checked ~ label {
    @include form-star-rating($gray-500, transparent);
  }

  > input:checked + label {
    @include form-star-rating($brand-orange, $brand-orange);
  }

  &:hover input + label {
    @include form-star-rating($white, $white);
  }

  > input:hover ~ label {
    @include form-star-rating($gray-500, transparent);
  }

  > input:hover + label {
    @include form-star-rating($white, $white);
  }
}

.star-rating-sm {

  > label {
    font-size: $form-star-size-sm;
    @include form-star-rating-sm($accessible-orange, $accessible-orange);
  }

  > input:checked ~ label {
    @include form-star-rating-sm($gray-700, transparent);
  }

  > input:checked + label {
    @include form-star-rating-sm($accessible-orange, $accessible-orange);
  }

  &:hover input + label {
    @include form-star-rating-sm($black, $black);
  }

  > input:hover ~ label {
    @include form-star-rating-sm($gray-700, transparent);
  }

  > input:hover + label {
    @include form-star-rating-sm($black, $black);
  }
}
