.btn.svg-arrow-previous {
  transition: none;
}

.btn.svg-arrow-previous::after {
  width: .5625rem;
  height: .875rem;
  margin-right: .375rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

/* stylelint-disable selector-max-id */
#a11y-dropdown {
  min-width: 14rem;
}

#obs-fe,
#orange-labs {
  font-size: 1.8125rem;
  line-height: .86;
}

#obs {
  display: block;
  line-height: .75;
}

#obs::first-line {
  line-height: 1.5625rem;
}
/* stylelint-enable selector-max-id */
