.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

#a11y-dropdown {
  min-width: 14rem;
}

@media (max-width: 479.98px) {
  .navbar-title.display-obs {
    font-size: .75rem;
  }
}

@media (max-width: 767.98px) {
  .mega-menu [class*="col"] {
    position: static;
  }

  #collapsing-navbar13 {
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: 1030;
    width: 100%;
  }
}

@media (min-width: 768px) {
  #mega-menu7-collapse {
    top: 60px;
  }
}
