.btn.svg-arrow-previous {
  transition: none;
}

.btn.svg-arrow-previous::after {
  width: .5625rem;
  height: .875rem;
  margin-right: .375rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

[id="a11y-dropdown"] {
  min-width: 14rem;
}

[id="orange-labs"] {
  line-height: 1;
}

@media (max-width: 479.98px) {
  .navbar-title.display-obs {
    font-size: .75rem;
  }
}

@media (max-width: 767.98px) {
  .mega-menu [class*="col"] {
    position: static;
  }

  [id="collapsing-navbar13"] {
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: 1030;
    width: 100%;
  }
}

@media (min-width: 768px) {
  [id="mega-menu7-collapse"] {
    top: 60px;
  }
}
