/* Tabs light */
.nav-tabs {
  border-color: #ccc; }
  .nav-tabs .nav-link {
    border: 0; }
    .nav-tabs .nav-link.active, .nav-tabs .nav-link:active, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-link:active:hover {
      border-bottom: 4px solid #f16e00;
      color: #000;
      background-color: #fff; }
    .nav-tabs .nav-link:hover {
      border-bottom: 4px solid #666;
      color: #000;
      background-color: #fff; }

/* Gauges */
.gauge {
  position: relative;
  text-align: center; }
  .gauge .gauge-label {
    padding: 10px 0;
    font-weight: bold;
    display: block; }
  .gauge .gauge-value {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold; }
  .gauge svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .gauge .progress-meter,
  .gauge .progress-value {
    fill: none; }
  .gauge .progress-meter {
    stroke: #eee; }
  .gauge .progress-value {
    stroke-dasharray: 326.725;
    stroke-dashoffset: 326.725;
    -webkit-animation: progress 4s;
    animation: progress 4s; }
  .gauge.inverse .gauge-value {
    color: #fff; }
  .gauge.inverse .progress-meter {
    stroke: #333; }
  .gauge.green .progress-value {
    stroke: #50be87; }
  .gauge.pink .progress-value {
    stroke: #ffb4e6; }
  .gauge.yellow .progress-value {
    stroke: #ffd200; }

legend.gauge-label {
  font-size: 1rem;
  font-weight: bold;
  text-align: center; }

/* for demonstration, not part of gauge component */
.light-bg,
.dark-bg {
  display: inline-block;
  padding: 10px; }

.light-bg {
  margin-right: 20px; }

.dark-bg {
  background-color: #000; }
  .dark-bg legend.gauge-label {
    color: #fff; }

@-webkit-keyframes progress {
  0% {
    stroke-dashoffset: 326.725; } }

@keyframes progress {
  0% {
    stroke-dashoffset: 326.725; } }

/* Custom css */
h1 {
  margin-top: 20px; }

h2 {
  margin-top: 10px; }

.o-footer h2 {
  margin-top: 0; }

.resp-tooltip {
  position: relative; }

.resp-tooltip .collapse,
.resp-tooltip .collapsing {
  padding: 20px; }

@media (min-device-width: 480px) {
  .resp-tooltip a[data-toggle="collapse"]:hover + .collapse,
  .resp-tooltip a[data-toggle="collapse"]:focus + .collapse,
  .resp-tooltip a[data-toggle="collapse"]:hover + .collapsing,
  .resp-tooltip a[data-toggle="collapse"]:focus + .collapsing {
    display: inline-block;
    position: absolute;
    background-color: #ddd;
    color: #000;
    top: -25%;
    font-weight: bold;
    margin-left: 20px; } }

@media (max-device-width: 479px) {
  #toast-container {
    top: auto !important;
    bottom: 0 !important; }
    #toast-container > div {
      width: 100%; } }

/* Edge to edge container */
/* fix card bg and border*/
.card {
  background-color: transparent;
  border: 0; }

@media (max-width: 767px) {
  body {
    overflow-x: hidden; }
  .edge-container {
    position: relative; }
  .edge-container::before,
  .edge-container::after {
    content: "";
    display: block;
    position: absolute;
    width: 12rem;
    /* put something larger to get edge touching until 768px */
    top: 0;
    left: -12rem;
    bottom: 0;
    background-color: inherit; }
  .edge-container::after {
    left: auto;
    right: -12rem; }
  .edge-container .ecm-card {
    padding-left: 0; } }

/* Custom tooltip */
.custom-tooltip .card-body {
  font-weight: bold;
  background: #ddd; }

.custom-layout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.custom-layout .form-control {
  width: auto; }

.tooltip-trigger {
  margin-left: 10px;
  margin-top: 6px; }

.tooltip-content {
  margin-top: 10px;
  padding: 10px 0;
  background-color: #ddd;
  font-weight: bold; }

.o-rating:not(:checked) > label:hover,
.o-rating:not(:checked) > label:hover ~ label {
  color: #f16e00; }

.boosted-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px; }
  .boosted-grid.col3 > div {
    grid-column: span 4; }
  .boosted-grid :first-child {
    background-color: pink; }
  .boosted-grid :nth-child(2) {
    background-color: purple; }
  .boosted-grid :nth-child(3) {
    background-color: yellowgreen; }

.autogrid.has-gutter,
.grid-3.has-gutter {
  grid-column-gap: 20px; }

/* Native accordions */
details {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid transparent;
  padding: 1px 0;
  margin-bottom: -1px; }
  details summary {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    padding: 13px 0;
    position: relative; }
    details summary:focus {
      outline: 1px dotted #000; }
    details summary::-webkit-details-marker {
      display: none; }
    details summary::after {
      position: absolute;
      top: 1.3125rem;
      right: .625rem;
      width: .875rem;
      height: .4375rem;
      content: "";
      background-image: url("data:image/svg+xml;charset=utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2014%207%22%3E%3Cpath%20d%3D%22M7%207L0%200h14L7%207z%22%2F%3E%3C%2Fsvg%3E"); }
    details summary::before {
      display: none; }
  details p {
    padding-right: 24px;
    margin: 0; }

details[open] {
  padding-bottom: 20px; }
  details[open] summary {
    margin-bottom: 7px; }
    details[open] summary::after {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }

details:last-child {
  border-bottom: 1px solid #ccc; }
