// Semantic applications
// Depends on raw primitive values
// OUDS Core tokens version 1.9.0
// Sosh Core tokens version 1.2.0
// Sosh System tokens version 2.3.0

// Border

// scss-docs-start ouds-semantic-border
$ouds-border-radius-default: $core-ouds-border-radius-100 !default;
$ouds-border-radius-large: $core-ouds-border-radius-300 !default;
$ouds-border-radius-medium: $core-ouds-border-radius-200 !default;
$ouds-border-radius-none: $core-ouds-border-radius-0 !default;
$ouds-border-radius-pill: $core-ouds-border-radius-9999 !default;
$ouds-border-radius-small: $core-ouds-border-radius-150 !default;
$ouds-border-style-default: $core-ouds-border-style-solid !default;
$ouds-border-style-drag: $core-ouds-border-style-dashed !default;
$ouds-border-width-default: $core-ouds-border-width-50 !default;
$ouds-border-width-focus: $core-ouds-border-width-125 !default;
$ouds-border-width-focus-inset: $core-ouds-border-width-50 !default;
$ouds-border-width-medium: $core-ouds-border-width-75 !default;
$ouds-border-width-none: $core-ouds-border-width-0 !default;
$ouds-border-width-thick: $core-ouds-border-width-100 !default;
$ouds-border-width-thicker: $core-ouds-border-width-150 !default;
$ouds-border-width-thin: $core-ouds-border-width-25 !default;
// scss-docs-end ouds-semantic-border

// Color

// scss-docs-start ouds-semantic-color
$ouds-color-modes-navigation-bar-dark: dark !default;
$ouds-color-modes-navigation-bar-light: dark !default;
$ouds-color-modes-on-bg-inverse-high-dark: light !default;
$ouds-color-modes-on-bg-inverse-high-light: dark !default;
$ouds-color-modes-on-bg-inverse-low-dark: dark !default;
$ouds-color-modes-on-bg-inverse-low-light: dark !default;
$ouds-color-modes-on-bg-primary-dark: dark !default;
$ouds-color-modes-on-bg-primary-light: light !default;
$ouds-color-modes-on-bg-secondary-dark: dark !default;
$ouds-color-modes-on-bg-secondary-light: light !default;
$ouds-color-modes-on-bg-tertiary-dark: dark !default;
$ouds-color-modes-on-bg-tertiary-light: light !default;
$ouds-color-modes-on-brand-primary-dark: mono-light !default;
$ouds-color-modes-on-brand-primary-light: mono-dark !default;
$ouds-color-modes-on-brand-secondary-dark: mono-light !default;
$ouds-color-modes-on-brand-secondary-light: mono-dark !default;
$ouds-color-modes-on-brand-tertiary-dark: mono-light !default;
$ouds-color-modes-on-brand-tertiary-light: mono-light !default;
$ouds-color-modes-on-overlay-dropdown-dark: dark !default;
$ouds-color-modes-on-overlay-dropdown-light: light !default;
$ouds-color-modes-on-overlay-modal-dark: dark !default;
$ouds-color-modes-on-overlay-modal-light: light !default;
$ouds-color-modes-on-overlay-tooltip-dark: dark !default;
$ouds-color-modes-on-overlay-tooltip-light: dark !default;
$ouds-color-modes-on-status-accent-emphasized-dark: mono-light !default;
$ouds-color-modes-on-status-accent-emphasized-light: mono-dark !default;
$ouds-color-modes-on-status-accent-muted-dark: dark !default;
$ouds-color-modes-on-status-accent-muted-light: light !default;
$ouds-color-modes-on-status-info-emphasized-dark: mono-light !default;
$ouds-color-modes-on-status-info-emphasized-light: mono-dark !default;
$ouds-color-modes-on-status-info-muted-dark: dark !default;
$ouds-color-modes-on-status-info-muted-light: light !default;
$ouds-color-modes-on-status-negative-emphasized-dark: mono-light !default;
$ouds-color-modes-on-status-negative-emphasized-light: mono-dark !default;
$ouds-color-modes-on-status-negative-muted-dark: dark !default;
$ouds-color-modes-on-status-negative-muted-light: light !default;
$ouds-color-modes-on-status-positive-emphasized-dark: mono-light !default;
$ouds-color-modes-on-status-positive-emphasized-light: mono-dark !default;
$ouds-color-modes-on-status-positive-muted-dark: dark !default;
$ouds-color-modes-on-status-positive-muted-light: light !default;
$ouds-color-modes-on-status-warning-emphasized-dark: mono-light !default;
$ouds-color-modes-on-status-warning-emphasized-light: mono-light !default;
$ouds-color-modes-on-status-warning-muted-dark: dark !default;
$ouds-color-modes-on-status-warning-muted-light: light !default;
$ouds-color-modes-on-surface-inverse-high-dark: light !default;
$ouds-color-modes-on-surface-inverse-high-light: dark !default;
$ouds-color-modes-on-surface-inverse-low-dark: dark !default;
$ouds-color-modes-on-surface-inverse-low-light: dark !default;
$ouds-color-modes-on-surface-primary-dark: dark !default;
$ouds-color-modes-on-surface-primary-light: light !default;
$ouds-color-modes-on-surface-secondary-dark: dark !default;
$ouds-color-modes-on-surface-secondary-light: light !default;
$ouds-color-modes-on-surface-tertiary-dark: dark !default;
$ouds-color-modes-on-surface-tertiary-light: light !default;
$ouds-color-action-disabled-dark: $core-ouds-color-opacity-white-200 !default;
$ouds-color-action-disabled-light: $core-ouds-color-opacity-black-200 !default;
$ouds-color-action-enabled-dark: $core-sosh-color-blue-duck-light-800 !default;
$ouds-color-action-enabled-light: $core-sosh-color-magenta-500 !default;
$ouds-color-action-focus-dark: $core-ouds-color-functional-gray-light-160 !default;
$ouds-color-action-focus-light: $core-ouds-color-functional-black !default;
$ouds-color-action-highlighted-dark: $core-ouds-color-functional-gray-light-160 !default;
$ouds-color-action-highlighted-light: $core-sosh-color-blue-duck-dark-400 !default;
$ouds-color-action-hover-dark: $core-ouds-color-functional-gray-light-160 !default;
$ouds-color-action-hover-light: $core-ouds-color-functional-black !default;
$ouds-color-action-loading-dark: $core-sosh-color-citrine-300 !default;
$ouds-color-action-loading-light: $core-sosh-color-blue-duck-dark-400 !default;
$ouds-color-action-negative-enabled-dark: $core-ouds-color-functional-scarlet-300 !default;
$ouds-color-action-negative-enabled-light: $core-ouds-color-functional-scarlet-600 !default;
$ouds-color-action-negative-focus-dark: $core-ouds-color-functional-scarlet-200 !default;
$ouds-color-action-negative-focus-light: $core-ouds-color-functional-scarlet-700 !default;
$ouds-color-action-negative-hover-dark: $core-ouds-color-functional-scarlet-200 !default;
$ouds-color-action-negative-hover-light: $core-ouds-color-functional-scarlet-700 !default;
$ouds-color-action-negative-loading-dark: $core-ouds-color-functional-scarlet-100 !default;
$ouds-color-action-negative-loading-light: $core-ouds-color-functional-scarlet-800 !default;
$ouds-color-action-negative-pressed-dark: $core-ouds-color-functional-scarlet-100 !default;
$ouds-color-action-negative-pressed-light: $core-ouds-color-functional-scarlet-800 !default;
$ouds-color-action-pressed-dark: $core-sosh-color-citrine-300 !default;
$ouds-color-action-pressed-light: $core-sosh-color-blue-duck-dark-400 !default;
$ouds-color-action-read-only-primary-dark: $core-ouds-color-functional-gray-light-160 !default;
$ouds-color-action-read-only-primary-light: $core-ouds-color-functional-black !default;
$ouds-color-action-read-only-secondary-dark: $core-ouds-color-opacity-white-200 !default;
$ouds-color-action-read-only-secondary-light: $core-ouds-color-opacity-black-200 !default;
$ouds-color-action-selected-dark: $core-sosh-color-blue-duck-light-800 !default;
$ouds-color-action-selected-light: $core-sosh-color-magenta-500 !default;
$ouds-color-action-support-disabled-dark: $core-ouds-color-opacity-white-40 !default;
$ouds-color-action-support-disabled-light: $core-ouds-color-opacity-black-40 !default;
$ouds-color-action-support-enabled-dark: $core-ouds-color-opacity-white-40 !default;
$ouds-color-action-support-enabled-light: $core-ouds-color-opacity-black-40 !default;
$ouds-color-action-support-focus-dark: $core-ouds-color-opacity-white-80 !default;
$ouds-color-action-support-focus-light: $core-ouds-color-opacity-black-80 !default;
$ouds-color-action-support-hover-dark: $core-ouds-color-opacity-white-80 !default;
$ouds-color-action-support-hover-light: $core-ouds-color-opacity-black-80 !default;
$ouds-color-action-support-loading-dark: $core-ouds-color-opacity-white-120 !default;
$ouds-color-action-support-loading-light: $core-ouds-color-opacity-black-120 !default;
$ouds-color-action-support-pressed-dark: $core-ouds-color-opacity-white-120 !default;
$ouds-color-action-support-pressed-light: $core-ouds-color-opacity-black-120 !default;
$ouds-color-action-visited-dark: $core-ouds-color-functional-amethyst-400 !default;
$ouds-color-action-visited-light: $core-ouds-color-functional-amethyst-600 !default;
$ouds-color-always-black: $core-ouds-color-functional-black !default;
$ouds-color-always-on-black: $core-ouds-color-functional-gray-light-160 !default;
$ouds-color-always-on-white: $core-ouds-color-functional-black !default;
$ouds-color-always-white: $core-ouds-color-functional-white !default;
$ouds-color-bg-inverse-high-dark: $core-ouds-color-functional-gray-light-160 !default;
$ouds-color-bg-inverse-high-light: $core-sosh-color-blue-duck-dark-880 !default;
$ouds-color-bg-inverse-low-dark: $core-sosh-color-blue-duck-dark-720 !default;
$ouds-color-bg-inverse-low-light: $core-sosh-color-blue-duck-dark-880 !default;
$ouds-color-bg-primary-dark: $core-sosh-color-blue-duck-dark-960 !default;
$ouds-color-bg-primary-light: $core-ouds-color-functional-white !default;
$ouds-color-bg-secondary-dark: $core-sosh-color-blue-duck-dark-880 !default;
$ouds-color-bg-secondary-light: $core-sosh-color-blue-duck-light-80 !default;
$ouds-color-bg-tertiary-dark: $core-sosh-color-citrine-950 !default;
$ouds-color-bg-tertiary-light: $core-sosh-color-citrine-50 !default;
$ouds-color-border-brand-primary-dark: $core-sosh-color-magenta-300 !default;
$ouds-color-border-brand-primary-light: $core-sosh-color-magenta-500 !default;
$ouds-color-border-brand-secondary-dark: $core-sosh-color-blue-duck-light-800 !default;
$ouds-color-border-brand-secondary-light: $core-sosh-color-blue-duck-dark-400 !default;
$ouds-color-border-brand-tertiary-dark: $core-sosh-color-citrine-300 !default;
$ouds-color-border-brand-tertiary-light: $core-sosh-color-citrine-500 !default;
$ouds-color-border-default-dark: $core-ouds-color-opacity-white-200 !default;
$ouds-color-border-default-light: $core-ouds-color-opacity-black-200 !default;
$ouds-color-border-emphasized-dark: $core-ouds-color-opacity-white-920 !default;
$ouds-color-border-emphasized-light: $core-ouds-color-functional-black !default;
$ouds-color-border-focus-dark: $core-ouds-color-functional-gray-light-160 !default;
$ouds-color-border-focus-inset-dark: $core-ouds-color-functional-gray-dark-880 !default;
$ouds-color-border-focus-inset-light: $core-ouds-color-functional-white !default;
$ouds-color-border-focus-light: $core-ouds-color-functional-black !default;
$ouds-color-border-minimal-dark: $core-ouds-color-opacity-white-40 !default;
$ouds-color-border-minimal-light: $core-ouds-color-opacity-black-40 !default;
$ouds-color-border-muted-dark: $core-ouds-color-opacity-white-80 !default;
$ouds-color-border-muted-light: $core-ouds-color-opacity-black-80 !default;
$ouds-color-border-on-brand-primary-dark: $core-sosh-color-blue-duck-dark-960 !default;
$ouds-color-border-on-brand-primary-light: $core-ouds-color-functional-white !default;
$ouds-color-border-on-brand-secondary-dark: $core-sosh-color-blue-duck-dark-960 !default;
$ouds-color-border-on-brand-secondary-light: $core-ouds-color-functional-white !default;
$ouds-color-border-on-brand-tertiary-dark: $core-sosh-color-blue-duck-dark-960 !default;
$ouds-color-border-on-brand-tertiary-light: $core-ouds-color-functional-black !default;
$ouds-color-border-status-accent-dark: $core-sosh-color-magenta-300 !default;
$ouds-color-border-status-accent-light: $core-sosh-color-magenta-500 !default;
$ouds-color-border-status-info-dark: $core-ouds-color-functional-dodger-blue-300 !default;
$ouds-color-border-status-info-light: $core-ouds-color-functional-dodger-blue-700 !default;
$ouds-color-border-status-negative-dark: $core-ouds-color-functional-scarlet-300 !default;
$ouds-color-border-status-negative-light: $core-ouds-color-functional-scarlet-600 !default;
$ouds-color-border-status-positive-dark: $core-ouds-color-functional-malachite-300 !default;
$ouds-color-border-status-positive-light: $core-ouds-color-functional-malachite-750 !default;
$ouds-color-border-status-warning-dark: $core-ouds-color-functional-sun-300 !default;
$ouds-color-border-status-warning-light: $core-ouds-color-functional-sun-500 !default;
$ouds-color-content-brand-primary-dark: $core-sosh-color-magenta-300 !default;
$ouds-color-content-brand-primary-light: $core-sosh-color-magenta-500 !default; // Test for support Figma
$ouds-color-content-brand-secondary-dark: $core-sosh-color-blue-duck-light-800 !default;
$ouds-color-content-brand-secondary-light: $core-sosh-color-blue-duck-dark-400 !default;
$ouds-color-content-brand-tertiary-dark: $core-sosh-color-citrine-300 !default;
$ouds-color-content-brand-tertiary-light: $core-sosh-color-citrine-500 !default;
$ouds-color-content-default-dark: $core-ouds-color-functional-gray-light-160 !default;
$ouds-color-content-default-light: $core-ouds-color-functional-black !default;
$ouds-color-content-disabled-dark: $core-ouds-color-opacity-white-200 !default;
$ouds-color-content-disabled-light: $core-ouds-color-opacity-black-200 !default;
$ouds-color-content-inverse-dark: $core-ouds-color-functional-black !default;
$ouds-color-content-inverse-light: $core-ouds-color-functional-white !default;
$ouds-color-content-muted-dark: $core-ouds-color-opacity-white-640 !default;
$ouds-color-content-muted-light: $core-ouds-color-opacity-black-680 !default;
$ouds-color-content-on-action-disabled-dark: $core-sosh-color-blue-duck-dark-960 !default;
$ouds-color-content-on-action-disabled-light: $core-ouds-color-functional-white !default;
$ouds-color-content-on-action-enabled-dark: $core-sosh-color-blue-duck-dark-960 !default;
$ouds-color-content-on-action-enabled-light: $core-ouds-color-functional-white !default;
$ouds-color-content-on-action-focus-dark: $core-sosh-color-blue-duck-dark-960 !default;
$ouds-color-content-on-action-focus-light: $core-ouds-color-functional-white !default;
$ouds-color-content-on-action-highlighted-dark: $core-sosh-color-blue-duck-dark-960 !default;
$ouds-color-content-on-action-highlighted-light: $core-ouds-color-functional-white !default;
$ouds-color-content-on-action-hover-dark: $core-sosh-color-blue-duck-dark-960 !default;
$ouds-color-content-on-action-hover-light: $core-ouds-color-functional-white !default;
$ouds-color-content-on-action-loading-dark: $core-sosh-color-blue-duck-dark-960 !default;
$ouds-color-content-on-action-loading-light: $core-ouds-color-functional-white !default;
$ouds-color-content-on-action-pressed-dark: $core-sosh-color-blue-duck-dark-960 !default;
$ouds-color-content-on-action-pressed-light: $core-ouds-color-functional-white !default;
$ouds-color-content-on-action-selected-dark: $core-sosh-color-blue-duck-dark-960 !default;
$ouds-color-content-on-action-selected-light: $core-ouds-color-functional-white !default;
$ouds-color-content-on-brand-primary-dark: $core-sosh-color-blue-duck-dark-960 !default;
$ouds-color-content-on-brand-primary-light: $core-ouds-color-functional-white !default;
$ouds-color-content-on-brand-secondary-dark: $core-sosh-color-blue-duck-dark-960 !default;
$ouds-color-content-on-brand-secondary-light: $core-ouds-color-functional-white !default;
$ouds-color-content-on-brand-tertiary-dark: $core-sosh-color-blue-duck-dark-960 !default;
$ouds-color-content-on-brand-tertiary-light: $core-ouds-color-functional-black !default;
$ouds-color-content-on-status-accent-emphasized-dark: $core-ouds-color-functional-black !default;
$ouds-color-content-on-status-accent-emphasized-light: $core-ouds-color-functional-white !default;
$ouds-color-content-on-status-accent-muted-dark: $core-ouds-color-functional-gray-light-160 !default;
$ouds-color-content-on-status-accent-muted-light: $core-ouds-color-functional-black !default;
$ouds-color-content-on-status-info-emphasized-dark: $core-ouds-color-functional-black !default;
$ouds-color-content-on-status-info-emphasized-light: $core-ouds-color-functional-white !default;
$ouds-color-content-on-status-info-muted-dark: $core-ouds-color-functional-gray-light-160 !default;
$ouds-color-content-on-status-info-muted-light: $core-ouds-color-functional-black !default;
$ouds-color-content-on-status-negative-emphasized-dark: $core-ouds-color-functional-black !default;
$ouds-color-content-on-status-negative-emphasized-light: $core-ouds-color-functional-white !default;
$ouds-color-content-on-status-negative-muted-dark: $core-ouds-color-functional-gray-light-160 !default;
$ouds-color-content-on-status-negative-muted-light: $core-ouds-color-functional-black !default;
$ouds-color-content-on-status-positive-emphasized-dark: $core-ouds-color-functional-black !default;
$ouds-color-content-on-status-positive-emphasized-light: $core-ouds-color-functional-white !default;
$ouds-color-content-on-status-positive-muted-dark: $core-ouds-color-functional-gray-light-160 !default;
$ouds-color-content-on-status-positive-muted-light: $core-ouds-color-functional-black !default;
$ouds-color-content-on-status-warning-emphasized-dark: $core-ouds-color-functional-black !default;
$ouds-color-content-on-status-warning-emphasized-light: $core-ouds-color-functional-black !default;
$ouds-color-content-on-status-warning-muted-dark: $core-ouds-color-functional-gray-light-160 !default;
$ouds-color-content-on-status-warning-muted-light: $core-ouds-color-functional-black !default;
$ouds-color-content-status-accent-dark: $core-sosh-color-magenta-300 !default;
$ouds-color-content-status-accent-light: $core-sosh-color-magenta-500 !default;
$ouds-color-content-status-info-dark: $core-ouds-color-functional-dodger-blue-300 !default;
$ouds-color-content-status-info-light: $core-ouds-color-functional-dodger-blue-700 !default;
$ouds-color-content-status-negative-dark: $core-ouds-color-functional-scarlet-300 !default;
$ouds-color-content-status-negative-light: $core-ouds-color-functional-scarlet-600 !default;
$ouds-color-content-status-positive-dark: $core-ouds-color-functional-malachite-300 !default;
$ouds-color-content-status-positive-light: $core-ouds-color-functional-malachite-750 !default;
$ouds-color-content-status-warning-dark: $core-ouds-color-functional-sun-300 !default;
$ouds-color-content-status-warning-light: $core-ouds-color-functional-sun-750 !default;
$ouds-color-opacity-lower-dark: $core-ouds-color-opacity-white-80 !default;
$ouds-color-opacity-lower-light: $core-ouds-color-opacity-black-80 !default;
$ouds-color-opacity-lowest-dark: $core-ouds-color-opacity-white-40 !default;
$ouds-color-opacity-lowest-light: $core-ouds-color-opacity-black-40 !default;
$ouds-color-opacity-transparent-dark: $core-ouds-color-opacity-white-0 !default;
$ouds-color-opacity-transparent-light: $core-ouds-color-opacity-black-0 !default;
$ouds-color-overlay-drag-dark: $core-ouds-color-opacity-white-80 !default;
$ouds-color-overlay-drag-light: $core-ouds-color-opacity-black-40 !default;
$ouds-color-overlay-dropdown-dark: $core-ouds-color-functional-gray-dark-560 !default;
$ouds-color-overlay-dropdown-light: $core-ouds-color-functional-white !default;
$ouds-color-overlay-modal-dark: $core-sosh-color-blue-duck-dark-720 !default;
$ouds-color-overlay-modal-light: $core-ouds-color-functional-white !default;
$ouds-color-overlay-tooltip-dark: $core-ouds-color-functional-gray-dark-560 !default;
$ouds-color-overlay-tooltip-light: $core-ouds-color-functional-gray-dark-720 !default;
$ouds-color-surface-brand-primary-dark: $core-sosh-color-magenta-300 !default;
$ouds-color-surface-brand-primary-light: $core-sosh-color-magenta-500 !default;
$ouds-color-surface-brand-secondary-dark: $core-sosh-color-blue-duck-light-800 !default;
$ouds-color-surface-brand-secondary-light: $core-sosh-color-blue-duck-dark-400 !default;
$ouds-color-surface-brand-tertiary-dark: $core-sosh-color-citrine-300 !default;
$ouds-color-surface-brand-tertiary-light: $core-sosh-color-citrine-500 !default;
$ouds-color-surface-inverse-high-dark: $core-ouds-color-functional-gray-light-160 !default;
$ouds-color-surface-inverse-high-light: $core-ouds-color-functional-gray-dark-720 !default;
$ouds-color-surface-inverse-low-dark: $core-ouds-color-opacity-white-120 !default;
$ouds-color-surface-inverse-low-light: $core-ouds-color-functional-gray-dark-720 !default;
$ouds-color-surface-primary-dark: $core-ouds-color-opacity-white-40 !default;
$ouds-color-surface-primary-light: $core-ouds-color-functional-white !default;
$ouds-color-surface-secondary-dark: $core-ouds-color-opacity-white-80 !default;
$ouds-color-surface-secondary-light: $core-ouds-color-opacity-black-40 !default;
$ouds-color-surface-status-accent-emphasized-dark: $core-sosh-color-magenta-300 !default;
$ouds-color-surface-status-accent-emphasized-light: $core-sosh-color-magenta-500 !default;
$ouds-color-surface-status-accent-muted-dark: $core-sosh-color-opacity-magenta-640 !default;
$ouds-color-surface-status-accent-muted-light: $core-sosh-color-opacity-magenta-120 !default;
$ouds-color-surface-status-info-emphasized-dark: $core-ouds-color-functional-dodger-blue-300 !default;
$ouds-color-surface-status-info-emphasized-light: $core-ouds-color-functional-dodger-blue-700 !default;
$ouds-color-surface-status-info-muted-dark: $core-ouds-color-opacity-dodger-blue-520 !default;
$ouds-color-surface-status-info-muted-light: $core-ouds-color-opacity-dodger-blue-80 !default;
$ouds-color-surface-status-negative-emphasized-dark: $core-ouds-color-functional-scarlet-300 !default;
$ouds-color-surface-status-negative-emphasized-light: $core-ouds-color-functional-scarlet-600 !default;
$ouds-color-surface-status-negative-muted-dark: $core-ouds-color-opacity-scarlet-320 !default;
$ouds-color-surface-status-negative-muted-light: $core-ouds-color-opacity-scarlet-80 !default;
$ouds-color-surface-status-positive-emphasized-dark: $core-ouds-color-functional-malachite-300 !default;
$ouds-color-surface-status-positive-emphasized-light: $core-ouds-color-functional-malachite-750 !default;
$ouds-color-surface-status-positive-muted-dark: $core-ouds-color-opacity-malachite-640 !default;
$ouds-color-surface-status-positive-muted-light: $core-ouds-color-opacity-malachite-120 !default;
$ouds-color-surface-status-warning-emphasized-dark: $core-ouds-color-functional-sun-300 !default;
$ouds-color-surface-status-warning-emphasized-light: $core-ouds-color-functional-sun-500 !default;
$ouds-color-surface-status-warning-muted-dark: $core-ouds-color-opacity-sun-480 !default;
$ouds-color-surface-status-warning-muted-light: $core-ouds-color-opacity-sun-160 !default;
$ouds-color-surface-tertiary-dark: $core-sosh-color-opacity-magenta-640 !default;
$ouds-color-surface-tertiary-light: $core-sosh-color-opacity-magenta-120 !default;
// scss-docs-end ouds-semantic-color

// Dimension

// scss-docs-start ouds-semantic-dimension
$ouds-dimension-2xlarge: $core-ouds-dimension-650 !default;
$ouds-dimension-2xsmall: $core-ouds-dimension-350 !default;
$ouds-dimension-3xlarge: $core-ouds-dimension-700 !default;
$ouds-dimension-3xsmall: $core-ouds-dimension-300 !default;
$ouds-dimension-4xlarge: $core-ouds-dimension-750 !default;
$ouds-dimension-4xsmall: $core-ouds-dimension-250 !default;
$ouds-dimension-5xlarge: $core-ouds-dimension-800 !default;
$ouds-dimension-5xsmall: $core-ouds-dimension-200 !default;
$ouds-dimension-6xlarge: $core-ouds-dimension-900 !default;
$ouds-dimension-6xsmall: $core-ouds-dimension-150 !default;
$ouds-dimension-7xlarge: $core-ouds-dimension-1000 !default;
$ouds-dimension-7xsmall: $core-ouds-dimension-out-of-system-250 !default;
$ouds-dimension-8xlarge: $core-ouds-dimension-1200 !default;
$ouds-dimension-8xsmall: $core-ouds-dimension-100 !default;
$ouds-dimension-9xlarge: $core-ouds-dimension-1400 !default;
$ouds-dimension-9xsmall: $core-ouds-dimension-out-of-system-150 !default;
$ouds-dimension-10xlarge: $core-ouds-dimension-1600 !default;
$ouds-dimension-10xsmall: $core-ouds-dimension-50 !default;
$ouds-dimension-11xlarge: $core-ouds-dimension-1800 !default;
$ouds-dimension-11xsmall: $core-ouds-dimension-out-of-system-50 !default;
$ouds-dimension-12xsmall: $core-ouds-dimension-out-of-system-25 !default;
$ouds-dimension-large: $core-ouds-dimension-550 !default;
$ouds-dimension-medium: $core-ouds-dimension-500 !default;
$ouds-dimension-none: $core-ouds-dimension-0 !default;
$ouds-dimension-small: $core-ouds-dimension-450 !default;
$ouds-dimension-xlarge: $core-ouds-dimension-600 !default;
$ouds-dimension-xsmall: $core-ouds-dimension-400 !default;
// scss-docs-end ouds-semantic-dimension

// Effect

// scss-docs-start ouds-semantic-effect
$ouds-effect-blur-drag: $core-ouds-effect-blur-320 !default;
// scss-docs-end ouds-semantic-effect

// Elevation

// scss-docs-start ouds-semantic-elevation
$ouds-elevation-blur-default: $core-ouds-elevation-blur-300 !default;
$ouds-elevation-blur-drag: $core-ouds-elevation-blur-400 !default;
$ouds-elevation-blur-emphasized: $core-ouds-elevation-blur-600 !default;
$ouds-elevation-blur-none: $core-ouds-elevation-blur-0 !default;
$ouds-elevation-blur-raised: $core-ouds-elevation-blur-200 !default;
$ouds-elevation-blur-sticky: $core-ouds-elevation-blur-400 !default;
$ouds-elevation-color-default-dark: $core-ouds-color-opacity-black-240 !default;
$ouds-elevation-color-default-light: $core-ouds-color-opacity-black-240 !default;
$ouds-elevation-color-drag-dark: $core-ouds-color-opacity-black-320 !default;
$ouds-elevation-color-drag-light: $core-ouds-color-opacity-black-240 !default;
$ouds-elevation-color-emphasized-dark: $core-ouds-color-opacity-black-160 !default;
$ouds-elevation-color-emphasized-light: $core-ouds-color-opacity-black-160 !default;
$ouds-elevation-color-none: $core-ouds-color-opacity-black-0 !default;
$ouds-elevation-color-raised-dark: $core-ouds-color-opacity-black-320 !default;
$ouds-elevation-color-raised-light: $core-ouds-color-opacity-black-240 !default;
$ouds-elevation-color-sticky-dark: $core-ouds-color-opacity-black-160 !default;
$ouds-elevation-color-sticky-light: $core-ouds-color-opacity-black-160 !default;
$ouds-elevation-spread-default: $core-ouds-elevation-spread-n100 !default;
$ouds-elevation-spread-drag: $core-ouds-elevation-spread-n100 !default;
$ouds-elevation-spread-emphasized: $core-ouds-elevation-spread-n300 !default;
$ouds-elevation-spread-none: $core-ouds-elevation-spread-0 !default;
$ouds-elevation-spread-raised: $core-ouds-elevation-spread-0 !default;
$ouds-elevation-spread-sticky: $core-ouds-elevation-spread-n100 !default;
$ouds-elevation-x-default: $core-ouds-elevation-x-0 !default;
$ouds-elevation-x-drag: $core-ouds-elevation-x-0 !default;
$ouds-elevation-x-emphasized: $core-ouds-elevation-x-0 !default;
$ouds-elevation-x-none: $core-ouds-elevation-x-0 !default;
$ouds-elevation-x-raised: $core-ouds-elevation-x-0 !default;
$ouds-elevation-x-sticky: $core-ouds-elevation-x-0 !default;
$ouds-elevation-y-default: $core-ouds-elevation-y-200 !default;
$ouds-elevation-y-drag: $core-ouds-elevation-y-300 !default;
$ouds-elevation-y-emphasized: $core-ouds-elevation-y-500 !default;
$ouds-elevation-y-none: $core-ouds-elevation-y-0 !default;
$ouds-elevation-y-raised: $core-ouds-elevation-y-100 !default;
$ouds-elevation-y-sticky: $core-ouds-elevation-y-300 !default;
// scss-docs-end ouds-semantic-elevation

// Font

// scss-docs-start ouds-semantic-font
$ouds-font-family-system-web: $core-sosh-font-family-default !default;
$ouds-font-family-web-code: $core-ouds-font-family-monospace-menlo !default;
$ouds-font-letter-spacing-body-large-desktop: $core-ouds-font-letter-spacing-300 !default;
$ouds-font-letter-spacing-body-large-mobile: $core-ouds-font-letter-spacing-250 !default;
$ouds-font-letter-spacing-body-large-tablet: $core-ouds-font-letter-spacing-250 !default;
$ouds-font-letter-spacing-body-medium-desktop: $core-ouds-font-letter-spacing-250 !default;
$ouds-font-letter-spacing-body-medium-mobile: $core-ouds-font-letter-spacing-200 !default;
$ouds-font-letter-spacing-body-medium-tablet: $core-ouds-font-letter-spacing-200 !default;
$ouds-font-letter-spacing-body-small-desktop: $core-ouds-font-letter-spacing-200 !default;
$ouds-font-letter-spacing-body-small-mobile: $core-ouds-font-letter-spacing-150 !default;
$ouds-font-letter-spacing-body-small-tablet: $core-ouds-font-letter-spacing-150 !default;
$ouds-font-letter-spacing-code-medium: $core-ouds-font-letter-spacing-200 !default;
$ouds-font-letter-spacing-display-large-desktop: $core-ouds-font-letter-spacing-1850 !default;
$ouds-font-letter-spacing-display-large-mobile: $core-ouds-font-letter-spacing-850 !default;
$ouds-font-letter-spacing-display-large-tablet: $core-ouds-font-letter-spacing-1450 !default;
$ouds-font-letter-spacing-display-medium-desktop: $core-ouds-font-letter-spacing-1250 !default;
$ouds-font-letter-spacing-display-medium-mobile: $core-ouds-font-letter-spacing-750 !default;
$ouds-font-letter-spacing-display-medium-tablet: $core-ouds-font-letter-spacing-1050 !default;
$ouds-font-letter-spacing-display-small-desktop: $core-ouds-font-letter-spacing-1050 !default;
$ouds-font-letter-spacing-display-small-mobile: $core-ouds-font-letter-spacing-650 !default;
$ouds-font-letter-spacing-display-small-tablet: $core-ouds-font-letter-spacing-850 !default;
$ouds-font-letter-spacing-heading-large-desktop: $core-ouds-font-letter-spacing-650 !default;
$ouds-font-letter-spacing-heading-large-mobile: $core-ouds-font-letter-spacing-450 !default;
$ouds-font-letter-spacing-heading-large-tablet: $core-ouds-font-letter-spacing-550 !default;
$ouds-font-letter-spacing-heading-medium-desktop: $core-ouds-font-letter-spacing-550 !default;
$ouds-font-letter-spacing-heading-medium-mobile: $core-ouds-font-letter-spacing-350 !default;
$ouds-font-letter-spacing-heading-medium-tablet: $core-ouds-font-letter-spacing-450 !default;
$ouds-font-letter-spacing-heading-small-desktop: $core-ouds-font-letter-spacing-450 !default;
$ouds-font-letter-spacing-heading-small-mobile: $core-ouds-font-letter-spacing-300 !default;
$ouds-font-letter-spacing-heading-small-tablet: $core-ouds-font-letter-spacing-350 !default;
$ouds-font-letter-spacing-heading-xlarge-desktop: $core-ouds-font-letter-spacing-850 !default;
$ouds-font-letter-spacing-heading-xlarge-mobile: $core-ouds-font-letter-spacing-550 !default;
$ouds-font-letter-spacing-heading-xlarge-tablet: $core-ouds-font-letter-spacing-750 !default;
$ouds-font-letter-spacing-label-large: $core-ouds-font-letter-spacing-250 !default;
$ouds-font-letter-spacing-label-medium: $core-ouds-font-letter-spacing-200 !default;
$ouds-font-letter-spacing-label-small: $core-ouds-font-letter-spacing-150 !default;
$ouds-font-letter-spacing-label-xlarge: $core-ouds-font-letter-spacing-300 !default;
$ouds-font-line-height-body-large-desktop: $core-ouds-font-line-height-450 !default;
$ouds-font-line-height-body-large-mobile: $core-ouds-font-line-height-450 !default;
$ouds-font-line-height-body-large-tablet: $core-ouds-font-line-height-450 !default;
$ouds-font-line-height-body-medium-desktop: $core-ouds-font-line-height-450 !default;
$ouds-font-line-height-body-medium-mobile: $core-ouds-font-line-height-350 !default;
$ouds-font-line-height-body-medium-tablet: $core-ouds-font-line-height-350 !default;
$ouds-font-line-height-body-small-desktop: $core-ouds-font-line-height-350 !default;
$ouds-font-line-height-body-small-mobile: $core-ouds-font-line-height-250 !default;
$ouds-font-line-height-body-small-tablet: $core-ouds-font-line-height-250 !default;
$ouds-font-line-height-code-medium: $core-ouds-font-line-height-350 !default;
$ouds-font-line-height-display-large-desktop: $core-ouds-font-line-height-2050 !default;
$ouds-font-line-height-display-large-mobile: $core-ouds-font-line-height-1050 !default;
$ouds-font-line-height-display-large-tablet: $core-ouds-font-line-height-1850 !default;
$ouds-font-line-height-display-medium-desktop: $core-ouds-font-line-height-1450 !default;
$ouds-font-line-height-display-medium-mobile: $core-ouds-font-line-height-950 !default;
$ouds-font-line-height-display-medium-tablet: $core-ouds-font-line-height-1250 !default;
$ouds-font-line-height-display-small-desktop: $core-ouds-font-line-height-1250 !default;
$ouds-font-line-height-display-small-mobile: $core-ouds-font-line-height-850 !default;
$ouds-font-line-height-display-small-tablet: $core-ouds-font-line-height-1050 !default;
$ouds-font-line-height-heading-large-desktop: $core-ouds-font-line-height-850 !default;
$ouds-font-line-height-heading-large-mobile: $core-ouds-font-line-height-650 !default;
$ouds-font-line-height-heading-large-tablet: $core-ouds-font-line-height-750 !default;
$ouds-font-line-height-heading-medium-desktop: $core-ouds-font-line-height-750 !default;
$ouds-font-line-height-heading-medium-mobile: $core-ouds-font-line-height-550 !default;
$ouds-font-line-height-heading-medium-tablet: $core-ouds-font-line-height-650 !default;
$ouds-font-line-height-heading-small-desktop: $core-ouds-font-line-height-650 !default;
$ouds-font-line-height-heading-small-mobile: $core-ouds-font-line-height-450 !default;
$ouds-font-line-height-heading-small-tablet: $core-ouds-font-line-height-550 !default;
$ouds-font-line-height-heading-xlarge-desktop: $core-ouds-font-line-height-1050 !default;
$ouds-font-line-height-heading-xlarge-mobile: $core-ouds-font-line-height-750 !default;
$ouds-font-line-height-heading-xlarge-tablet: $core-ouds-font-line-height-950 !default;
$ouds-font-line-height-label-large: $core-ouds-font-line-height-450 !default;
$ouds-font-line-height-label-medium: $core-ouds-font-line-height-350 !default;
$ouds-font-line-height-label-small: $core-ouds-font-line-height-250 !default;
$ouds-font-line-height-label-xlarge: $core-ouds-font-line-height-450 !default;
$ouds-font-size-body-large-desktop: $core-ouds-font-size-300 !default;
$ouds-font-size-body-large-mobile: $core-ouds-font-size-250 !default;
$ouds-font-size-body-large-tablet: $core-ouds-font-size-250 !default;
$ouds-font-size-body-medium-desktop: $core-ouds-font-size-250 !default;
$ouds-font-size-body-medium-mobile: $core-ouds-font-size-200 !default;
$ouds-font-size-body-medium-tablet: $core-ouds-font-size-200 !default;
$ouds-font-size-body-small-desktop: $core-ouds-font-size-200 !default;
$ouds-font-size-body-small-mobile: $core-ouds-font-size-150 !default;
$ouds-font-size-body-small-tablet: $core-ouds-font-size-150 !default;
$ouds-font-size-code-medium: $core-ouds-font-size-200 !default;
$ouds-font-size-display-large-desktop: $core-ouds-font-size-1850 !default;
$ouds-font-size-display-large-mobile: $core-ouds-font-size-850 !default;
$ouds-font-size-display-large-tablet: $core-ouds-font-size-1450 !default;
$ouds-font-size-display-medium-desktop: $core-ouds-font-size-1250 !default;
$ouds-font-size-display-medium-mobile: $core-ouds-font-size-750 !default;
$ouds-font-size-display-medium-tablet: $core-ouds-font-size-1050 !default;
$ouds-font-size-display-small-desktop: $core-ouds-font-size-1050 !default;
$ouds-font-size-display-small-mobile: $core-ouds-font-size-650 !default;
$ouds-font-size-display-small-tablet: $core-ouds-font-size-850 !default;
$ouds-font-size-heading-large-desktop: $core-ouds-font-size-650 !default;
$ouds-font-size-heading-large-mobile: $core-ouds-font-size-450 !default;
$ouds-font-size-heading-large-tablet: $core-ouds-font-size-550 !default;
$ouds-font-size-heading-medium-desktop: $core-ouds-font-size-550 !default;
$ouds-font-size-heading-medium-mobile: $core-ouds-font-size-350 !default;
$ouds-font-size-heading-medium-tablet: $core-ouds-font-size-450 !default;
$ouds-font-size-heading-small-desktop: $core-ouds-font-size-450 !default;
$ouds-font-size-heading-small-mobile: $core-ouds-font-size-300 !default;
$ouds-font-size-heading-small-tablet: $core-ouds-font-size-350 !default;
$ouds-font-size-heading-xlarge-desktop: $core-ouds-font-size-850 !default;
$ouds-font-size-heading-xlarge-mobile: $core-ouds-font-size-550 !default;
$ouds-font-size-heading-xlarge-tablet: $core-ouds-font-size-750 !default;
$ouds-font-size-label-large: $core-ouds-font-size-250 !default;
$ouds-font-size-label-medium: $core-ouds-font-size-200 !default;
$ouds-font-size-label-small: $core-ouds-font-size-150 !default;
$ouds-font-size-label-xlarge: $core-ouds-font-size-300 !default;
$ouds-font-weight-system-web-default: $core-ouds-font-weight-500 !default;
$ouds-font-weight-system-web-moderate: $core-ouds-font-weight-500 !default;
$ouds-font-weight-system-web-strong: $core-ouds-font-weight-700 !default;
$ouds-font-weight-web-code: $core-ouds-font-weight-400 !default;
$ouds-font-family-web-body: $ouds-font-family-system-web !default;
$ouds-font-family-web-display: $ouds-font-family-system-web !default;
$ouds-font-family-web-heading: $ouds-font-family-system-web !default;
$ouds-font-family-web-label: $ouds-font-family-system-web !default;
$ouds-font-weight-web-body-default: $ouds-font-weight-system-web-default !default;
$ouds-font-weight-web-body-moderate: $ouds-font-weight-system-web-moderate !default;
$ouds-font-weight-web-body-strong: $ouds-font-weight-system-web-strong !default;
$ouds-font-weight-web-display: $ouds-font-weight-system-web-strong !default;
$ouds-font-weight-web-heading: $ouds-font-weight-system-web-strong !default;
$ouds-font-weight-web-label-default: $ouds-font-weight-system-web-default !default;
$ouds-font-weight-web-label-moderate: $ouds-font-weight-system-web-moderate !default;
$ouds-font-weight-web-label-strong: $ouds-font-weight-system-web-strong !default;
// scss-docs-end ouds-semantic-font

// Grid

// scss-docs-start ouds-semantic-grid
$ouds-grid-2xl-column-count: $core-ouds-grid-column-count-1200 !default;
$ouds-grid-2xl-column-gap: $core-ouds-grid-column-gap-600 !default;
$ouds-grid-2xl-margin: $core-ouds-grid-margin-1700 !default;
$ouds-grid-2xl-max-width: $core-ouds-grid-max-width-700 !default;
$ouds-grid-2xl-max-width-alt: $core-ouds-grid-max-width-650 !default;
$ouds-grid-2xl-min-width: $core-ouds-grid-min-width-700 !default;
$ouds-grid-2xl-width: $core-ouds-grid-width-700 !default;
$ouds-grid-2xs-column-count: $core-ouds-grid-column-count-400 !default;
$ouds-grid-2xs-column-gap: $core-ouds-grid-column-gap-100 !default;
$ouds-grid-2xs-margin: $core-ouds-grid-margin-100 !default;
$ouds-grid-2xs-max-width: $core-ouds-grid-max-width-100 !default;
$ouds-grid-2xs-min-width: $core-ouds-grid-min-width-100 !default;
$ouds-grid-2xs-width: $core-ouds-grid-width-100 !default;
$ouds-grid-3xl-column-count: $core-ouds-grid-column-count-1200 !default;
$ouds-grid-3xl-column-gap: $core-ouds-grid-column-gap-800 !default;
$ouds-grid-3xl-margin: $core-ouds-grid-margin-2500 !default;
$ouds-grid-3xl-min-width: $core-ouds-grid-min-width-800 !default;
$ouds-grid-3xl-width: $core-ouds-grid-width-800 !default;
$ouds-grid-lg-column-count: $core-ouds-grid-column-count-600 !default;
$ouds-grid-lg-column-gap: $core-ouds-grid-column-gap-400 !default;
$ouds-grid-lg-margin: $core-ouds-grid-margin-700 !default;
$ouds-grid-lg-max-width: $core-ouds-grid-max-width-500 !default;
$ouds-grid-lg-min-width: $core-ouds-grid-min-width-500 !default;
$ouds-grid-lg-width: $core-ouds-grid-width-500 !default;
$ouds-grid-md-column-count: $core-ouds-grid-column-count-600 !default;
$ouds-grid-md-column-gap: $core-ouds-grid-column-gap-400 !default;
$ouds-grid-md-margin: $core-ouds-grid-margin-500 !default;
$ouds-grid-md-max-width: $core-ouds-grid-max-width-400 !default;
$ouds-grid-md-min-width: $core-ouds-grid-min-width-400 !default;
$ouds-grid-md-width: $core-ouds-grid-width-400 !default;
$ouds-grid-sm-column-count: $core-ouds-grid-column-count-400 !default;
$ouds-grid-sm-column-gap: $core-ouds-grid-column-gap-200 !default;
$ouds-grid-sm-margin: $core-ouds-grid-margin-400 !default;
$ouds-grid-sm-max-width: $core-ouds-grid-max-width-300 !default;
$ouds-grid-sm-min-width: $core-ouds-grid-min-width-300 !default;
$ouds-grid-sm-width: $core-ouds-grid-width-300 !default;
$ouds-grid-xl-column-count: $core-ouds-grid-column-count-1200 !default;
$ouds-grid-xl-column-gap: $core-ouds-grid-column-gap-600 !default;
$ouds-grid-xl-margin: $core-ouds-grid-margin-1100 !default;
$ouds-grid-xl-max-width: $core-ouds-grid-max-width-600 !default;
$ouds-grid-xl-min-width: $core-ouds-grid-min-width-600 !default;
$ouds-grid-xl-width: $core-ouds-grid-width-600 !default;
$ouds-grid-xs-column-count: $core-ouds-grid-column-count-400 !default;
$ouds-grid-xs-column-gap: $core-ouds-grid-column-gap-200 !default;
$ouds-grid-xs-margin: $core-ouds-grid-margin-300 !default;
$ouds-grid-xs-max-width: $core-ouds-grid-max-width-200 !default;
$ouds-grid-xs-min-width: $core-ouds-grid-min-width-200 !default;
$ouds-grid-xs-width: $core-ouds-grid-width-200 !default;
// scss-docs-end ouds-semantic-grid

// Opacity

// scss-docs-start ouds-semantic-opacity
$ouds-opacity-disabled: $core-ouds-opacity-200 !default;
$ouds-opacity-invisible: $core-ouds-opacity-0 !default;
$ouds-opacity-medium: $core-ouds-opacity-560 !default;
$ouds-opacity-opaque: $core-ouds-opacity-1000 !default;
$ouds-opacity-strong: $core-ouds-opacity-640 !default;
$ouds-opacity-weak: $core-ouds-opacity-320 !default;
$ouds-opacity-weaker: $core-ouds-opacity-160 !default;
$ouds-opacity-weakest: $core-ouds-opacity-40 !default;
// scss-docs-end ouds-semantic-opacity

// Size

// scss-docs-start ouds-semantic-size
$ouds-size-icon-with-body-large-size-large-desktop: $core-ouds-dimension-400 !default;
$ouds-size-icon-with-body-large-size-large-mobile: $core-ouds-dimension-350 !default;
$ouds-size-icon-with-body-large-size-large-tablet: $core-ouds-dimension-350 !default;
$ouds-size-icon-with-body-large-size-medium-desktop: $core-ouds-dimension-350 !default;
$ouds-size-icon-with-body-large-size-medium-mobile: $core-ouds-dimension-300 !default;
$ouds-size-icon-with-body-large-size-medium-tablet: $core-ouds-dimension-300 !default;
$ouds-size-icon-with-body-large-size-small-desktop: $core-ouds-dimension-300 !default;
$ouds-size-icon-with-body-large-size-small-mobile: $core-ouds-dimension-250 !default;
$ouds-size-icon-with-body-large-size-small-tablet: $core-ouds-dimension-250 !default;
$ouds-size-icon-with-body-medium-size-large-desktop: $core-ouds-dimension-350 !default;
$ouds-size-icon-with-body-medium-size-large-mobile: $core-ouds-dimension-300 !default;
$ouds-size-icon-with-body-medium-size-large-tablet: $core-ouds-dimension-300 !default;
$ouds-size-icon-with-body-medium-size-medium-desktop: $core-ouds-dimension-300 !default;
$ouds-size-icon-with-body-medium-size-medium-mobile: $core-ouds-dimension-250 !default;
$ouds-size-icon-with-body-medium-size-medium-tablet: $core-ouds-dimension-250 !default;
$ouds-size-icon-with-body-medium-size-small-desktop: $core-ouds-dimension-250 !default;
$ouds-size-icon-with-body-medium-size-small-mobile: $core-ouds-dimension-200 !default;
$ouds-size-icon-with-body-medium-size-small-tablet: $core-ouds-dimension-200 !default;
$ouds-size-icon-with-body-small-size-large-desktop: $core-ouds-dimension-300 !default;
$ouds-size-icon-with-body-small-size-large-mobile: $core-ouds-dimension-250 !default;
$ouds-size-icon-with-body-small-size-large-tablet: $core-ouds-dimension-250 !default;
$ouds-size-icon-with-body-small-size-medium-desktop: $core-ouds-dimension-250 !default;
$ouds-size-icon-with-body-small-size-medium-mobile: $core-ouds-dimension-200 !default;
$ouds-size-icon-with-body-small-size-medium-tablet: $core-ouds-dimension-200 !default;
$ouds-size-icon-with-body-small-size-small-desktop: $core-ouds-dimension-200 !default;
$ouds-size-icon-with-body-small-size-small-mobile: $core-ouds-dimension-150 !default;
$ouds-size-icon-with-body-small-size-small-tablet: $core-ouds-dimension-150 !default;
$ouds-size-icon-with-heading-large-size-large-desktop: $core-ouds-dimension-650 !default;
$ouds-size-icon-with-heading-large-size-large-mobile: $core-ouds-dimension-500 !default;
$ouds-size-icon-with-heading-large-size-large-tablet: $core-ouds-dimension-550 !default;
$ouds-size-icon-with-heading-large-size-medium-desktop: $core-ouds-dimension-600 !default;
$ouds-size-icon-with-heading-large-size-medium-mobile: $core-ouds-dimension-450 !default;
$ouds-size-icon-with-heading-large-size-medium-tablet: $core-ouds-dimension-500 !default;
$ouds-size-icon-with-heading-large-size-small-desktop: $core-ouds-dimension-550 !default;
$ouds-size-icon-with-heading-large-size-small-mobile: $core-ouds-dimension-400 !default;
$ouds-size-icon-with-heading-large-size-small-tablet: $core-ouds-dimension-450 !default;
$ouds-size-icon-with-heading-medium-size-large-desktop: $core-ouds-dimension-550 !default;
$ouds-size-icon-with-heading-medium-size-large-mobile: $core-ouds-dimension-400 !default;
$ouds-size-icon-with-heading-medium-size-large-tablet: $core-ouds-dimension-500 !default;
$ouds-size-icon-with-heading-medium-size-medium-desktop: $core-ouds-dimension-500 !default;
$ouds-size-icon-with-heading-medium-size-medium-mobile: $core-ouds-dimension-350 !default;
$ouds-size-icon-with-heading-medium-size-medium-tablet: $core-ouds-dimension-450 !default;
$ouds-size-icon-with-heading-medium-size-small-desktop: $core-ouds-dimension-450 !default;
$ouds-size-icon-with-heading-medium-size-small-mobile: $core-ouds-dimension-300 !default;
$ouds-size-icon-with-heading-medium-size-small-tablet: $core-ouds-dimension-400 !default;
$ouds-size-icon-with-heading-small-size-large-desktop: $core-ouds-dimension-500 !default;
$ouds-size-icon-with-heading-small-size-large-mobile: $core-ouds-dimension-400 !default;
$ouds-size-icon-with-heading-small-size-large-tablet: $core-ouds-dimension-400 !default;
$ouds-size-icon-with-heading-small-size-medium-desktop: $core-ouds-dimension-450 !default;
$ouds-size-icon-with-heading-small-size-medium-mobile: $core-ouds-dimension-350 !default;
$ouds-size-icon-with-heading-small-size-medium-tablet: $core-ouds-dimension-350 !default;
$ouds-size-icon-with-heading-small-size-small-desktop: $core-ouds-dimension-400 !default;
$ouds-size-icon-with-heading-small-size-small-mobile: $core-ouds-dimension-300 !default;
$ouds-size-icon-with-heading-small-size-small-tablet: $core-ouds-dimension-300 !default;
$ouds-size-icon-with-heading-xlarge-size-large-desktop: $core-ouds-dimension-750 !default;
$ouds-size-icon-with-heading-xlarge-size-large-mobile: $core-ouds-dimension-550 !default;
$ouds-size-icon-with-heading-xlarge-size-large-tablet: $core-ouds-dimension-650 !default;
$ouds-size-icon-with-heading-xlarge-size-medium-desktop: $core-ouds-dimension-700 !default;
$ouds-size-icon-with-heading-xlarge-size-medium-mobile: $core-ouds-dimension-500 !default;
$ouds-size-icon-with-heading-xlarge-size-medium-tablet: $core-ouds-dimension-600 !default;
$ouds-size-icon-with-heading-xlarge-size-small-desktop: $core-ouds-dimension-650 !default;
$ouds-size-icon-with-heading-xlarge-size-small-mobile: $core-ouds-dimension-450 !default;
$ouds-size-icon-with-heading-xlarge-size-small-tablet: $core-ouds-dimension-550 !default;
$ouds-size-max-width-type-body-large-desktop: $core-ouds-dimension-7000 !default;
$ouds-size-max-width-type-body-large-mobile: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-body-large-tablet: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-body-medium-desktop: $core-ouds-dimension-7000 !default;
$ouds-size-max-width-type-body-medium-mobile: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-body-medium-tablet: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-body-small-desktop: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-body-small-mobile: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-body-small-tablet: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-display-large-desktop: $core-ouds-dimension-11000 !default;
$ouds-size-max-width-type-display-large-mobile: $core-ouds-dimension-9000 !default;
$ouds-size-max-width-type-display-large-tablet: $core-ouds-dimension-9000 !default;
$ouds-size-max-width-type-display-medium-desktop: $core-ouds-dimension-11000 !default;
$ouds-size-max-width-type-display-medium-mobile: $core-ouds-dimension-9000 !default;
$ouds-size-max-width-type-display-medium-tablet: $core-ouds-dimension-9000 !default;
$ouds-size-max-width-type-display-small-desktop: $core-ouds-dimension-11000 !default;
$ouds-size-max-width-type-display-small-mobile: $core-ouds-dimension-9000 !default;
$ouds-size-max-width-type-display-small-tablet: $core-ouds-dimension-9000 !default;
$ouds-size-max-width-type-heading-large-desktop: $core-ouds-dimension-11000 !default;
$ouds-size-max-width-type-heading-large-mobile: $core-ouds-dimension-7000 !default;
$ouds-size-max-width-type-heading-large-tablet: $core-ouds-dimension-9000 !default;
$ouds-size-max-width-type-heading-medium-desktop: $core-ouds-dimension-9000 !default;
$ouds-size-max-width-type-heading-medium-mobile: $core-ouds-dimension-7000 !default;
$ouds-size-max-width-type-heading-medium-tablet: $core-ouds-dimension-7000 !default;
$ouds-size-max-width-type-heading-small-desktop: $core-ouds-dimension-9000 !default;
$ouds-size-max-width-type-heading-small-mobile: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-heading-small-tablet: $core-ouds-dimension-7000 !default;
$ouds-size-max-width-type-heading-xlarge-desktop: $core-ouds-dimension-11000 !default;
$ouds-size-max-width-type-heading-xlarge-mobile: $core-ouds-dimension-7000 !default;
$ouds-size-max-width-type-heading-xlarge-tablet: $core-ouds-dimension-9000 !default;
$ouds-size-max-width-type-label-large-desktop: $core-ouds-dimension-7000 !default;
$ouds-size-max-width-type-label-large-mobile: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-label-large-tablet: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-label-medium-desktop: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-label-medium-mobile: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-label-medium-tablet: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-label-small-desktop: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-label-small-mobile: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-label-small-tablet: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-label-xlarge-desktop: $core-ouds-dimension-7000 !default;
$ouds-size-max-width-type-label-xlarge-mobile: $core-ouds-dimension-6000 !default;
$ouds-size-max-width-type-label-xlarge-tablet: $core-ouds-dimension-6000 !default;
$ouds-size-min-interactive-area: $core-ouds-dimension-600 !default;
$ouds-size-icon-decorative-2xlarge: $ouds-dimension-6xlarge !default;
$ouds-size-icon-decorative-2xsmall: $ouds-dimension-5xsmall !default;
$ouds-size-icon-decorative-3xsmall: $ouds-dimension-6xsmall !default;
$ouds-size-icon-decorative-4xsmall: $ouds-dimension-7xsmall !default;
$ouds-size-icon-decorative-large: $ouds-dimension-xlarge !default;
$ouds-size-icon-decorative-medium: $ouds-dimension-medium !default;
$ouds-size-icon-decorative-small: $ouds-dimension-xsmall !default;
$ouds-size-icon-decorative-xlarge: $ouds-dimension-3xlarge !default;
$ouds-size-icon-decorative-xsmall: $ouds-dimension-3xsmall !default;
$ouds-size-icon-with-label-large-size-large: $ouds-dimension-xsmall !default;
$ouds-size-icon-with-label-large-size-medium: $ouds-dimension-2xsmall !default;
$ouds-size-icon-with-label-large-size-small: $ouds-dimension-3xsmall !default;
$ouds-size-icon-with-label-large-size-xlarge: $ouds-dimension-large !default;
$ouds-size-icon-with-label-large-size-xsmall: $ouds-dimension-4xsmall !default;
$ouds-size-icon-with-label-medium-size-large: $ouds-dimension-3xsmall !default;
$ouds-size-icon-with-label-medium-size-medium: $ouds-dimension-4xsmall !default;
$ouds-size-icon-with-label-medium-size-small: $ouds-dimension-5xsmall !default;
$ouds-size-icon-with-label-medium-size-xsmall: $ouds-dimension-6xsmall !default;
$ouds-size-icon-with-label-small-size-large: $ouds-dimension-4xsmall !default;
$ouds-size-icon-with-label-small-size-medium: $ouds-dimension-5xsmall !default;
$ouds-size-icon-with-label-small-size-small: $ouds-dimension-6xsmall !default;
$ouds-size-icon-with-label-small-size-xsmall: $ouds-dimension-7xsmall !default;
$ouds-size-icon-with-label-xlarge-size-large: $ouds-dimension-large !default;
$ouds-size-icon-with-label-xlarge-size-medium: $ouds-dimension-medium !default;
$ouds-size-icon-with-label-xlarge-size-small: $ouds-dimension-xsmall !default;
// scss-docs-end ouds-semantic-size

// Space

// scss-docs-start ouds-semantic-space
$ouds-space-fixed-2xlarge: $core-ouds-dimension-500 !default;
$ouds-space-fixed-2xsmall: $core-ouds-dimension-50 !default;
$ouds-space-fixed-3xlarge: $core-ouds-dimension-600 !default;
$ouds-space-fixed-3xsmall: $core-ouds-dimension-out-of-system-50 !default;
$ouds-space-fixed-4xlarge: $core-ouds-dimension-700 !default;
$ouds-space-fixed-5xlarge: $core-ouds-dimension-800 !default;
$ouds-space-fixed-large: $core-ouds-dimension-300 !default;
$ouds-space-fixed-medium: $core-ouds-dimension-200 !default;
$ouds-space-fixed-none: $core-ouds-dimension-0 !default;
$ouds-space-fixed-small: $core-ouds-dimension-150 !default;
$ouds-space-fixed-xlarge: $core-ouds-dimension-400 !default;
$ouds-space-fixed-xsmall: $core-ouds-dimension-100 !default;
$ouds-space-column-gap-2xlarge: $ouds-dimension-3xsmall !default;
$ouds-space-column-gap-2xsmall: $ouds-dimension-10xsmall !default;
$ouds-space-column-gap-3xsmall: $ouds-dimension-11xsmall !default;
$ouds-space-column-gap-large: $ouds-dimension-5xsmall !default;
$ouds-space-column-gap-medium: $ouds-dimension-6xsmall !default;
$ouds-space-column-gap-none: $ouds-dimension-none !default;
$ouds-space-column-gap-small: $ouds-dimension-8xsmall !default;
$ouds-space-column-gap-xlarge: $ouds-dimension-4xsmall !default;
$ouds-space-column-gap-xsmall: $ouds-dimension-9xsmall !default;
$ouds-space-inset-2xlarge: $ouds-dimension-xsmall !default;
$ouds-space-inset-2xsmall: $ouds-dimension-10xsmall !default;
$ouds-space-inset-3xlarge: $ouds-dimension-medium !default;
$ouds-space-inset-3xsmall: $ouds-dimension-11xsmall !default;
$ouds-space-inset-4xsmall: $ouds-dimension-12xsmall !default;
$ouds-space-inset-large: $ouds-dimension-5xsmall !default;
$ouds-space-inset-medium: $ouds-dimension-6xsmall !default;
$ouds-space-inset-none: $ouds-dimension-none !default;
$ouds-space-inset-small: $ouds-dimension-8xsmall !default;
$ouds-space-inset-xlarge: $ouds-dimension-3xsmall !default;
$ouds-space-inset-xsmall: $ouds-dimension-9xsmall !default;
$ouds-space-padding-block-2xlarge: $ouds-dimension-3xsmall !default;
$ouds-space-padding-block-2xsmall: $ouds-dimension-9xsmall !default;
$ouds-space-padding-block-3xlarge: $ouds-dimension-2xsmall !default;
$ouds-space-padding-block-3xsmall: $ouds-dimension-10xsmall !default;
$ouds-space-padding-block-4xlarge: $ouds-dimension-xsmall !default;
$ouds-space-padding-block-4xsmall: $ouds-dimension-11xsmall !default;
$ouds-space-padding-block-large: $ouds-dimension-5xsmall !default;
$ouds-space-padding-block-medium: $ouds-dimension-6xsmall !default;
$ouds-space-padding-block-none: $ouds-dimension-none !default;
$ouds-space-padding-block-small: $ouds-dimension-7xsmall !default;
$ouds-space-padding-block-xlarge: $ouds-dimension-4xsmall !default;
$ouds-space-padding-block-xsmall: $ouds-dimension-8xsmall !default;
$ouds-space-padding-inline-2xlarge: $ouds-dimension-3xsmall !default;
$ouds-space-padding-inline-2xsmall: $ouds-dimension-9xsmall !default;
$ouds-space-padding-inline-3xlarge: $ouds-dimension-2xsmall !default;
$ouds-space-padding-inline-3xsmall: $ouds-dimension-10xsmall !default;
$ouds-space-padding-inline-4xlarge: $ouds-dimension-xsmall !default;
$ouds-space-padding-inline-4xsmall: $ouds-dimension-11xsmall !default;
$ouds-space-padding-inline-large: $ouds-dimension-5xsmall !default;
$ouds-space-padding-inline-medium: $ouds-dimension-6xsmall !default;
$ouds-space-padding-inline-none: $ouds-dimension-none !default;
$ouds-space-padding-inline-small: $ouds-dimension-7xsmall !default;
$ouds-space-padding-inline-xlarge: $ouds-dimension-4xsmall !default;
$ouds-space-padding-inline-xsmall: $ouds-dimension-8xsmall !default;
$ouds-space-row-gap-2xsmall: $ouds-dimension-10xsmall !default;
$ouds-space-row-gap-3xsmall: $ouds-dimension-11xsmall !default;
$ouds-space-row-gap-large: $ouds-dimension-5xsmall !default;
$ouds-space-row-gap-medium: $ouds-dimension-6xsmall !default;
$ouds-space-row-gap-none: $ouds-dimension-none !default;
$ouds-space-row-gap-small: $ouds-dimension-8xsmall !default;
$ouds-space-row-gap-xsmall: $ouds-dimension-9xsmall !default;
$ouds-space-scaled-2xlarge-desktop: $ouds-dimension-3xlarge !default;
$ouds-space-scaled-2xlarge-mobile: $ouds-dimension-medium !default;
$ouds-space-scaled-2xlarge-tablet: $ouds-dimension-xlarge !default;
$ouds-space-scaled-2xsmall-desktop: $ouds-dimension-8xsmall !default;
$ouds-space-scaled-2xsmall-mobile: $ouds-dimension-10xsmall !default;
$ouds-space-scaled-2xsmall-tablet: $ouds-dimension-8xsmall !default;
$ouds-space-scaled-3xlarge-desktop: $ouds-dimension-5xlarge !default;
$ouds-space-scaled-3xlarge-mobile: $ouds-dimension-xlarge !default;
$ouds-space-scaled-3xlarge-tablet: $ouds-dimension-3xlarge !default;
$ouds-space-scaled-3xsmall-desktop: $ouds-dimension-10xsmall !default;
$ouds-space-scaled-3xsmall-mobile: $ouds-dimension-11xsmall !default;
$ouds-space-scaled-3xsmall-tablet: $ouds-dimension-10xsmall !default;
$ouds-space-scaled-large-desktop: $ouds-dimension-medium !default;
$ouds-space-scaled-large-mobile: $ouds-dimension-3xsmall !default;
$ouds-space-scaled-large-tablet: $ouds-dimension-xsmall !default;
$ouds-space-scaled-medium-desktop: $ouds-dimension-xsmall !default;
$ouds-space-scaled-medium-mobile: $ouds-dimension-5xsmall !default;
$ouds-space-scaled-medium-tablet: $ouds-dimension-3xsmall !default;
$ouds-space-scaled-none-desktop: $ouds-dimension-none !default;
$ouds-space-scaled-none-mobile: $ouds-dimension-none !default;
$ouds-space-scaled-none-tablet: $ouds-dimension-none !default;
$ouds-space-scaled-small-desktop: $ouds-dimension-3xsmall !default;
$ouds-space-scaled-small-mobile: $ouds-dimension-6xsmall !default;
$ouds-space-scaled-small-tablet: $ouds-dimension-5xsmall !default;
$ouds-space-scaled-xlarge-desktop: $ouds-dimension-xlarge !default;
$ouds-space-scaled-xlarge-mobile: $ouds-dimension-xsmall !default;
$ouds-space-scaled-xlarge-tablet: $ouds-dimension-medium !default;
$ouds-space-scaled-xsmall-desktop: $ouds-dimension-5xsmall !default;
$ouds-space-scaled-xsmall-mobile: $ouds-dimension-8xsmall !default;
$ouds-space-scaled-xsmall-tablet: $ouds-dimension-6xsmall !default;
// scss-docs-end ouds-semantic-space
