<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    {% include docs-navbar.html %}

    <!-- BOOSTED MOD -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
          {% include nav-boostwatch.html %}
        </div>
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
          <h1 class="bd-title" id="content">{{ page.title }}</h1>
          {{ content }}
        </main>
      </div>
    </div>
    <!-- END MOD -->

    {% include scripts.html %}
  </body>
</html>
