/* Display the right background-image */
.example-title-bar-custom-background {
  height: 1.8em;
  background: none;
}
@media (min-width: 328px) {
  .example-title-bar-custom-background {
    background: url("/docs/5.1/assets/img/title-bars-illustrations/illustration-320.png") right bottom/4em no-repeat;
  }
}
@media (min-width: 480px) {
  .example-title-bar-custom-background {
    background: url("/docs/5.1/assets/img/title-bars-illustrations/illustration-480.png") right bottom/7.47em no-repeat;
  }
}
@media (min-width: 768px) {
  .example-title-bar-custom-background {
    background: url("/docs/5.1/assets/img/title-bars-illustrations/illustration-768.png") right bottom/7.12em no-repeat;
  }
}
@media (min-width: 1024px) {
  .example-title-bar-custom-background {
    background: url("/docs/5.1/assets/img/title-bars-illustrations/illustration-1024.png") right bottom/8.08em no-repeat;
  }
}
@media (min-width: 1280px) {
  .example-title-bar-custom-background {
    background: url("/docs/5.1/assets/img/title-bars-illustrations/illustration-1280.png") right bottom/7.85em no-repeat;
  }
}
@media (min-width: 1440px) {
  .example-title-bar-custom-background {
    background: url("/docs/5.1/assets/img/title-bars-illustrations/illustration-1440.png") right bottom/8.67em no-repeat;
  }
}



/* Don't display image when too big */
@media (max-width: 20.5em) {
  .title-bar {
    background-color: white !important;
    color: black;
  }
  .title-bar img,
  .title-bar svg {
    display: none !important;
  }
}
@media (min-width: 480px) and (max-width: 30em) {
  .title-bar {
    background-color: white !important;
    color: black;
  }
  .title-bar img,
  .title-bar svg {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 45em) {
  .title-bar {
    background-color: white !important;
    color: black;
  }
  .title-bar img,
  .title-bar svg {
    display: none !important;
  }
}
@media (min-width: 1024px) and (max-width: 50em) {
  .title-bar {
    background-color: white !important;
    color: black;
  }
  .title-bar img,
  .title-bar svg {
    display: none !important;
  }
}
@media (min-width: 1280px) and (max-width: 60em) {
  .title-bar {
    background-color: white !important;
    color: black;
  }
  .title-bar img,
  .title-bar svg {
    display: none !important;
  }
}
@media (min-width: 1440px) and (max-width: 65em) {
  .title-bar {
    background-color: white !important;
    color: black;
  }
  .title-bar img,
  .title-bar svg {
    display: none !important;
  }
}



.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
