// stylelint-disable selector-max-id
#bd-main-nav {
  .nav-item.dropdown {
    align-self: flex-end;
  }

  .navbar-nav-svg {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    vertical-align: text-top;
  }
}

// Boosted mod: use HTML+CSS for Boosted 3D logo
// 1. Everything is em based, so we only play with font-size for RWD
#boosted {
  width: 26em;
  height: 26em;
  font-size: 36%; // 1
  box-shadow: -2em 2em $gray-600, -4em 4em $gray-300;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(-45deg);

  @include media-breakpoint-up(sm) {
    font-size: xx-small;
  }

  @include media-breakpoint-up(md) {
    font-size: x-small;
  }

  @include media-breakpoint-up(lg) {
    font-size: small;
  }

  @include media-breakpoint-up(xl) {
    font-size: medium;
  }
}

.display-0 {
  font-size: 5.25em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
// End mod

.bd-search .form-control {
  height: auto;
  background-color: transparent;
}

.bd-toc-link {
  padding-left: map-get($spacers, 2);  // left align with orange logo
}

.bd-example-tabs .nav-tabs {
  margin-bottom: 0;
}

// boostwatch

#docsNavbarContent {
  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      max-height: subtract(100vh, 5rem);
    }
  }
}

$doc-link-arrow: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 13.98'><path d='M9.85 1.78v1.79H7.67a367.31 367.31 0 00-2.4.02 5.67 5.67 0 00-3.58 1.7 5.71 5.71 0 00-1.47 5.73 5.89 5.89 0 001.87 2.84l.14.12v-.81c0-.9 0-.92.05-1.17.2-1 .98-1.82 1.96-2.07.35-.1.35-.1 3.07-.1h2.54v3.6l2.92-2.94 2.98-3c.13-.19.19-.33.23-.57.07-.36-.04-.78-.27-1.06C15.62 5.76 9.87 0 9.85 0v1.78z'/></svg>") !default;
$doc-link-arrow-hover: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 13.98'><path fill='#{$orange-2}' d='M9.85 1.78v1.79H7.67a367.31 367.31 0 00-2.4.02 5.67 5.67 0 00-3.58 1.7 5.71 5.71 0 00-1.47 5.73 5.89 5.89 0 001.87 2.84l.14.12v-.81c0-.9 0-.92.05-1.17.2-1 .98-1.82 1.96-2.07.35-.1.35-.1 3.07-.1h2.54v3.6l2.92-2.94 2.98-3c.13-.19.19-.33.23-.57.07-.36-.04-.78-.27-1.06C15.62 5.76 9.87 0 9.85 0v1.78z'/></svg>") !default;

.doc-link {
  &::after {
    display: inline-block;
    width: map-get($spacers, 4);
    height: 1.5625rem;
    content: "";
    background: escape-svg($doc-link-arrow) no-repeat 50% / contain;
  }

  &:hover::after {
    background-image: escape-svg($doc-link-arrow-hover);
  }

  [dir="rtl"] &::after {
    transform: scaleX(-1);
  }
}

/* IE only fix */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #card-grid .d-block.text-center {
    height: 12.5rem;
  }
}

// card links
#bill .card-img {
  background-color: $teal;
}

#shop .card-img {
  background-color: $cyan;
}

#timer .card-img {
  background-color: $pink;
}

#unlock .card-img {
  background-color: $yellow-2;
}

@include media-breakpoint-down(xs) {
  #cards-example img {
    width: auto !important; // stylelint-disable-line declaration-no-important
    height: 2.5rem;
  }
}

.o-switch.btn-group-toggle .doc-label {
  min-width: 6.25rem;
}

.table-contrast td,
.table-contrast tbody th {
  font-weight: 700;
}

.table-contrast .aa-large-text,
.table-contrast .aa-large-text * {
  font-size: 1.25rem;
}

.table-contrast thead th {
  font-size: 1.25rem;
}
