// stylelint-disable declaration-no-important

//
// Right side table of contents
//

.bd-toc {
  @supports (position: sticky) {
    position: sticky;
    top: 5rem; // Boosted mod
    height: subtract(100vh, 5rem); // Boosted mod
    overflow-y: auto;
  }
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @include font-size(.875rem);
}

.section-nav {
  padding-left: 0;
  border-left: 1px solid #eee;

  ul {
    padding-left: 1rem;
  }
}

.toc-entry {
  display: block;

  a {
    display: block;
    padding: .125rem 1.5rem;
    // color: $gray-light; // Boosted mod

    &:hover {
      color: $orange-2; // Boosted mod
      text-decoration: none;
    }
  }
}

//
// Left side navigation
//

.bd-sidebar {
  order: 0;
  // background-color: transparent; // Boosted mod
  border-bottom: 1px solid $gray-300; // Boosted mod

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      top: 5rem; // Boosted mod
      z-index: 1000;
      max-height: subtract(100vh, 5rem); // Boosted mod
    }
    border-right: 1px solid $gray-300; // Boosted mod
  }

  @include media-breakpoint-up(xl) {
    flex: 0 1 320px;
  }
}

.bd-links {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: $grid-gutter-width / -2; // Boosted mod
  margin-left: $grid-gutter-width / -2; // Boosted mod

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      max-height: subtract(100vh, 9.6rem); // Boosted mod
      overflow-y: auto;
    }
  }

  // Override collapse behaviors
  @include media-breakpoint-up(md) {
    display: block !important;
  }
}

.bd-search {
  position: relative; // To contain the Algolia search
  padding: 1rem $grid-gutter-width / 2; // Boosted mod our col-12 has 10px paddings
  margin-right: $grid-gutter-width / -2; // Boosted mod
  margin-left: $grid-gutter-width / -2; // Boosted mod
  border-bottom: 1px solid $gray-300;

  // Boosted mod : keep basic form-control style
  //  .form-control:focus {
  //    border-color: $bd-purple-bright;
  //    box-shadow: 0 0 0 3px rgba($bd-purple-bright, .25);
  //  }
}

.bd-search-docs-toggle {
  line-height: 1;
  color: $gray-900;
}

.bd-sidenav {
  display: none;
}

.bd-toc-link {
  display: block;
  padding: .25rem 1.5rem;
  font-weight: 600;
  // color: $gray-lightest; // Boosted mod

  &:hover {
    color: $orange-2;// Boosted mod
    text-decoration: none;
  }
}

.bd-toc-item {
  &.active {
    margin-bottom: 1rem;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    > .bd-toc-link {
      color: $orange-2; // Boosted mod

      &:hover {
        background-color: transparent;
      }
    }

    > .bd-sidenav {
      display: block;
    }
  }
}

// All levels of nav
.bd-sidebar .nav > li > a {
  display: block;
  padding: .25rem 1.5rem;
  @include font-size(90%);
  color: $gray-700; // Boosted mod
  text-decoration: if($link-decoration == none, null, none); // Boosted mod
}

.bd-sidebar .nav > li > a:hover {
  color: $orange-2; // Boosted mod
  text-decoration: none;
  background-color: transparent;
}

.bd-sidebar .nav > .active > a,
.bd-sidebar .nav > .active:hover > a {
  font-weight: 600;
  color: $black; // Boosted mod
  background-color: transparent;
}

// Boosted mod
.bd-links a,
.bd-toc a {
  text-decoration: if($link-decoration == none, null, none); // Boosted mod

  &:focus {
    outline-offset: -1px;
  }
}
