.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  left: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  left: 10px;
  bottom: 10%;
  right: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  left: auto;
  bottom: 0;
  right: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInJ0bC1wcm9kdWN0Il0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsaUJBQWlCO0NBQ2xCOztBQUVEOztHQUVHOztBQUVIO0VBQ0UscUNBQXFDO0VBQ3JDLG1EQUFtRDtFQUNuRCwyQ0FBMkM7Q0FDNUM7QUFDRDtFQUNFLFlBQVk7RUFDWixtQ0FBbUM7Q0FDcEM7QUFDRDtFQUNFLFlBQVk7RUFDWixzQkFBc0I7Q0FDdkI7O0FBRUQ7O0dBRUc7O0FBRUg7RUFDRSxtQkFBbUI7RUFDbkIsVUFBVztFQUNYLGFBQWE7RUFDYixhQUFhO0VBQ2IsY0FBYztFQUNkLHVCQUF1QjtFQUN2QixvQkFBb0I7RUFDcEIsa0NBQWlDO0VBQ2pDLDBCQUF5QjtDQUMxQjs7QUFFRDtFQUNFLG1CQUFtQjtFQUNuQixTQUFTO0VBQ1QsV0FBWTtFQUNaLFlBQVk7RUFDWixZQUFXO0VBQ1gsWUFBWTtFQUNaLDBDQUEwQztFQUMxQyxtQkFBbUI7Q0FDcEI7O0FBRUQ7RUFDRSxVQUFVO0VBQ1YsV0FBWTtFQUNaLFVBQVU7RUFDVixVQUFTO0VBQ1QsMEJBQTBCO0NBQzNCOzs7QUFHRDs7R0FFRzs7QUFFSDtFQUNFLFlBQVk7RUFDWixRQUFRO0NBQ1Q7QUFDRDtFQUNFO0lBQ0UsWUFBWTtJQUNaLFFBQVE7R0FDVDtDQUNGOztBQUVELG1CQUFtQixpQkFBaUIsRUFBRSIsImZpbGUiOiJydGwtcHJvZHVjdCIsInNvdXJjZXNDb250ZW50IjpbIi5jb250YWluZXIge1xuICBtYXgtd2lkdGg6IDk2MHB4O1xufVxuXG4vKlxuICogQ3VzdG9tIHRyYW5zbHVjZW50IHNpdGUgaGVhZGVyXG4gKi9cblxuLnNpdGUtaGVhZGVyIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogcmdiYSgwLCAwLCAwLCAuODUpO1xuICAtd2Via2l0LWJhY2tkcm9wLWZpbHRlcjogc2F0dXJhdGUoMTgwJSkgYmx1cigyMHB4KTtcbiAgYmFja2Ryb3AtZmlsdGVyOiBzYXR1cmF0ZSgxODAlKSBibHVyKDIwcHgpO1xufVxuLnNpdGUtaGVhZGVyIGEge1xuICBjb2xvcjogIzk5OTtcbiAgdHJhbnNpdGlvbjogZWFzZS1pbi1vdXQgY29sb3IgLjE1cztcbn1cbi5zaXRlLWhlYWRlciBhOmhvdmVyIHtcbiAgY29sb3I6ICNmZmY7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbn1cblxuLypcbiAqIER1bW15IGRldmljZXMgKHJlcGxhY2UgdGhlbSB3aXRoIHlvdXIgb3duIG9yIHNvbWV0aGluZyBlbHNlIGVudGlyZWx5ISlcbiAqL1xuXG4ucHJvZHVjdC1kZXZpY2Uge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIHJpZ2h0OiAxMCU7XG4gIGJvdHRvbTogLTMwJTtcbiAgd2lkdGg6IDMwMHB4O1xuICBoZWlnaHQ6IDU0MHB4O1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjMzMzO1xuICBib3JkZXItcmFkaXVzOiAyMXB4O1xuICAtd2Via2l0LXRyYW5zZm9ybTogcm90YXRlKDMwZGVnKTtcbiAgdHJhbnNmb3JtOiByb3RhdGUoMzBkZWcpO1xufVxuXG4ucHJvZHVjdC1kZXZpY2U6OmJlZm9yZSB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOiAxMCU7XG4gIHJpZ2h0OiAxMHB4O1xuICBib3R0b206IDEwJTtcbiAgbGVmdDogMTBweDtcbiAgY29udGVudDogXCJcIjtcbiAgYmFja2dyb3VuZC1jb2xvcjogcmdiYSgyNTUsIDI1NSwgMjU1LCAuMSk7XG4gIGJvcmRlci1yYWRpdXM6IDVweDtcbn1cblxuLnByb2R1Y3QtZGV2aWNlLTIge1xuICB0b3A6IC0yNSU7XG4gIHJpZ2h0OiBhdXRvO1xuICBib3R0b206IDA7XG4gIGxlZnQ6IDUlO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZTVlNWU1O1xufVxuXG5cbi8qXG4gKiBFeHRyYSB1dGlsaXRpZXNcbiAqL1xuXG4uZmxleC1lcXVhbCA+ICoge1xuICAtbXMtZmxleDogMTtcbiAgZmxleDogMTtcbn1cbkBtZWRpYSAobWluLXdpZHRoOiA3NjhweCkge1xuICAuZmxleC1tZC1lcXVhbCA+ICoge1xuICAgIC1tcy1mbGV4OiAxO1xuICAgIGZsZXg6IDE7XG4gIH1cbn1cblxuLm92ZXJmbG93LWhpZGRlbiB7IG92ZXJmbG93OiBoaWRkZW47IH1cbiJdfQ== */