// Component application
// Depends on semantic applications
// Token version 1.0.0

// Badge

// scss-docs-start ouds-component-badge
$ouds-badge-size-max-min-large: $ouds-dimension-4xs !default;
$ouds-badge-size-max-min-medium: $ouds-dimension-5xs !default;
$ouds-badge-size-max-min-small: $ouds-dimension-6xs !default;
$ouds-badge-size-max-min-xsmall: $ouds-dimension-7xs !default;
$ouds-badge-space-inset: $core-ouds-dimension-out-of-system-50 !default;
$ouds-badge-space-padding-inline-large: $ouds-space-padding-inline-xs !default;
$ouds-badge-space-padding-inline-medium: $ouds-space-padding-inline-2xs !default;
// scss-docs-end ouds-component-badge

// Breadcrumb

// scss-docs-start ouds-component-breadcrumb
$ouds-breadcrumb-size-icon: $ouds-size-icon-with-label-medium-size-sm !default;
$ouds-breadcrumb-space-column-gap-icon: $ouds-space-column-gap-2xs !default;
$ouds-breadcrumb-space-column-gap-links: $ouds-space-column-gap-sm !default;
// scss-docs-end ouds-component-breadcrumb

// Bullet

// scss-docs-start ouds-component-bullet
$ouds-bullet-list-space-column-gap-body-large: $ouds-space-column-gap-sm !default;
$ouds-bullet-list-space-column-gap-body-medium: $ouds-space-column-gap-sm !default;
$ouds-bullet-list-space-padding-block-body-large: $ouds-space-padding-block-xs !default;
$ouds-bullet-list-space-padding-block-body-medium: $ouds-space-padding-block-xs !default;
$ouds-bullet-list-space-padding-inline-level-0: $core-ouds-dimension-50 !default;
$ouds-bullet-list-space-padding-inline-level-1: $core-ouds-dimension-450 !default;
$ouds-bullet-list-space-padding-inline-level-2: $core-ouds-dimension-850 !default;
// scss-docs-end ouds-component-bullet

// Button

// scss-docs-start ouds-component-button
$ouds-button-border-radius: $ouds-border-radius-default !default;
$ouds-button-border-width-default-interaction-mono: $ouds-border-width-none !default;
$ouds-button-border-width-default-interaction: $ouds-border-width-medium !default;
$ouds-button-border-width-default: $ouds-border-width-default !default;
$ouds-button-border-width-minimal-interaction: $ouds-border-width-none !default;
$ouds-button-border-width-minimal: $ouds-border-width-none !default;
$ouds-button-color-bg-default-disabled: var(--#{$prefix}ouds-button-color-bg-default-disabled) !default;
$ouds-button-color-bg-default-enabled: var(--#{$prefix}ouds-button-color-bg-default-enabled) !default;
$ouds-button-color-bg-default-focus: var(--#{$prefix}ouds-button-color-bg-default-focus) !default;
$ouds-button-color-bg-default-hover: var(--#{$prefix}ouds-button-color-bg-default-hover) !default;
$ouds-button-color-bg-default-loading: var(--#{$prefix}ouds-button-color-bg-default-loading) !default;
$ouds-button-color-bg-default-pressed: var(--#{$prefix}ouds-button-color-bg-default-pressed) !default;
$ouds-button-color-bg-minimal-disabled: var(--#{$prefix}ouds-button-color-bg-minimal-disabled) !default;
$ouds-button-color-bg-minimal-enabled: var(--#{$prefix}ouds-button-color-bg-minimal-enabled) !default;
$ouds-button-color-bg-minimal-focus: var(--#{$prefix}ouds-button-color-bg-minimal-focus) !default;
$ouds-button-color-bg-minimal-hover: var(--#{$prefix}ouds-button-color-bg-minimal-hover) !default;
$ouds-button-color-bg-minimal-loading: var(--#{$prefix}ouds-button-color-bg-minimal-loading) !default;
$ouds-button-color-bg-minimal-pressed: var(--#{$prefix}ouds-button-color-bg-minimal-pressed) !default;
$ouds-button-color-border-default-disabled: var(--#{$prefix}ouds-button-color-border-default-disabled) !default;
$ouds-button-color-border-default-enabled: var(--#{$prefix}ouds-button-color-border-default-enabled) !default;
$ouds-button-color-border-default-focus: var(--#{$prefix}ouds-button-color-border-default-focus) !default;
$ouds-button-color-border-default-hover: var(--#{$prefix}ouds-button-color-border-default-hover) !default;
$ouds-button-color-border-default-loading: var(--#{$prefix}ouds-button-color-border-default-loading) !default;
$ouds-button-color-border-default-pressed: var(--#{$prefix}ouds-button-color-border-default-pressed) !default;
$ouds-button-color-border-minimal-disabled: var(--#{$prefix}ouds-button-color-border-minimal-disabled) !default;
$ouds-button-color-border-minimal-enabled: var(--#{$prefix}ouds-button-color-border-minimal-enabled) !default;
$ouds-button-color-border-minimal-focus: var(--#{$prefix}ouds-button-color-border-minimal-focus) !default;
$ouds-button-color-border-minimal-hover: var(--#{$prefix}ouds-button-color-border-minimal-hover) !default;
$ouds-button-color-border-minimal-loading: var(--#{$prefix}ouds-button-color-border-minimal-loading) !default;
$ouds-button-color-border-minimal-pressed: var(--#{$prefix}ouds-button-color-border-minimal-pressed) !default;
$ouds-button-color-content-default-disabled: var(--#{$prefix}ouds-button-color-content-default-disabled) !default;
$ouds-button-color-content-default-enabled: var(--#{$prefix}ouds-button-color-content-default-enabled) !default;
$ouds-button-color-content-default-focus: var(--#{$prefix}ouds-button-color-content-default-focus) !default;
$ouds-button-color-content-default-hover: var(--#{$prefix}ouds-button-color-content-default-hover) !default;
$ouds-button-color-content-default-loading: var(--#{$prefix}ouds-button-color-content-default-loading) !default;
$ouds-button-color-content-default-pressed: var(--#{$prefix}ouds-button-color-content-default-pressed) !default;
$ouds-button-color-content-minimal-disabled: var(--#{$prefix}ouds-button-color-content-minimal-disabled) !default;
$ouds-button-color-content-minimal-enabled: var(--#{$prefix}ouds-button-color-content-minimal-enabled) !default;
$ouds-button-color-content-minimal-focus: var(--#{$prefix}ouds-button-color-content-minimal-focus) !default;
$ouds-button-color-content-minimal-hover: var(--#{$prefix}ouds-button-color-content-minimal-hover) !default;
$ouds-button-color-content-minimal-loading: var(--#{$prefix}ouds-button-color-content-minimal-loading) !default;
$ouds-button-color-content-minimal-pressed: var(--#{$prefix}ouds-button-color-content-minimal-pressed) !default;
$ouds-button-mono-color-bg-default-disabled: var(--#{$prefix}ouds-button-mono-color-bg-default-disabled) !default;
$ouds-button-mono-color-bg-default-enabled: var(--#{$prefix}ouds-button-mono-color-bg-default-enabled) !default;
$ouds-button-mono-color-bg-default-focus: var(--#{$prefix}ouds-button-mono-color-bg-default-focus) !default;
$ouds-button-mono-color-bg-default-hover: var(--#{$prefix}ouds-button-mono-color-bg-default-hover) !default;
$ouds-button-mono-color-bg-default-loading: var(--#{$prefix}ouds-button-mono-color-bg-default-loading) !default;
$ouds-button-mono-color-bg-default-pressed: var(--#{$prefix}ouds-button-mono-color-bg-default-pressed) !default;
$ouds-button-mono-color-bg-minimal-disabled: var(--#{$prefix}ouds-button-mono-color-bg-minimal-disabled) !default;
$ouds-button-mono-color-bg-minimal-enabled: var(--#{$prefix}ouds-button-mono-color-bg-minimal-enabled) !default;
$ouds-button-mono-color-bg-minimal-focus: var(--#{$prefix}ouds-button-mono-color-bg-minimal-focus) !default;
$ouds-button-mono-color-bg-minimal-hover: var(--#{$prefix}ouds-button-mono-color-bg-minimal-hover) !default;
$ouds-button-mono-color-bg-minimal-loading: var(--#{$prefix}ouds-button-mono-color-bg-minimal-loading) !default;
$ouds-button-mono-color-bg-minimal-pressed: var(--#{$prefix}ouds-button-mono-color-bg-minimal-pressed) !default;
$ouds-button-mono-color-bg-strong-disabled: var(--#{$prefix}ouds-button-mono-color-bg-strong-disabled) !default;
$ouds-button-mono-color-bg-strong-enabled: var(--#{$prefix}ouds-button-mono-color-bg-strong-enabled) !default;
$ouds-button-mono-color-bg-strong-focus: var(--#{$prefix}ouds-button-mono-color-bg-strong-focus) !default;
$ouds-button-mono-color-bg-strong-hover: var(--#{$prefix}ouds-button-mono-color-bg-strong-hover) !default;
$ouds-button-mono-color-bg-strong-loading: var(--#{$prefix}ouds-button-mono-color-bg-strong-loading) !default;
$ouds-button-mono-color-bg-strong-pressed: var(--#{$prefix}ouds-button-mono-color-bg-strong-pressed) !default;
$ouds-button-mono-color-border-default-disabled: var(--#{$prefix}ouds-button-mono-color-border-default-disabled) !default;
$ouds-button-mono-color-border-default-enabled: var(--#{$prefix}ouds-button-mono-color-border-default-enabled) !default;
$ouds-button-mono-color-border-default-focus: var(--#{$prefix}ouds-button-mono-color-border-default-focus) !default;
$ouds-button-mono-color-border-default-hover: var(--#{$prefix}ouds-button-mono-color-border-default-hover) !default;
$ouds-button-mono-color-border-default-loading: var(--#{$prefix}ouds-button-mono-color-border-default-loading) !default;
$ouds-button-mono-color-border-default-pressed: var(--#{$prefix}ouds-button-mono-color-border-default-pressed) !default;
$ouds-button-mono-color-border-minimal-disabled: var(--#{$prefix}ouds-button-mono-color-border-minimal-disabled) !default;
$ouds-button-mono-color-border-minimal-enabled: var(--#{$prefix}ouds-button-mono-color-border-minimal-enabled) !default;
$ouds-button-mono-color-border-minimal-focus: var(--#{$prefix}ouds-button-mono-color-border-minimal-focus) !default;
$ouds-button-mono-color-border-minimal-hover: var(--#{$prefix}ouds-button-mono-color-border-minimal-hover) !default;
$ouds-button-mono-color-border-minimal-loading: var(--#{$prefix}ouds-button-mono-color-border-minimal-loading) !default;
$ouds-button-mono-color-border-minimal-pressed: var(--#{$prefix}ouds-button-mono-color-border-minimal-pressed) !default;
$ouds-button-mono-color-border-strong-disabled: var(--#{$prefix}ouds-button-mono-color-border-strong-disabled) !default;
$ouds-button-mono-color-border-strong-enabled: var(--#{$prefix}ouds-button-mono-color-border-strong-enabled) !default;
$ouds-button-mono-color-border-strong-focus: var(--#{$prefix}ouds-button-mono-color-border-strong-focus) !default;
$ouds-button-mono-color-border-strong-hover: var(--#{$prefix}ouds-button-mono-color-border-strong-hover) !default;
$ouds-button-mono-color-border-strong-loading: var(--#{$prefix}ouds-button-mono-color-border-strong-loading) !default;
$ouds-button-mono-color-border-strong-pressed: var(--#{$prefix}ouds-button-mono-color-border-strong-pressed) !default;
$ouds-button-mono-color-content-default-disabled: var(--#{$prefix}ouds-button-mono-color-content-default-disabled) !default;
$ouds-button-mono-color-content-default-enabled: var(--#{$prefix}ouds-button-mono-color-content-default-enabled) !default;
$ouds-button-mono-color-content-default-focus: var(--#{$prefix}ouds-button-mono-color-content-default-focus) !default;
$ouds-button-mono-color-content-default-hover: var(--#{$prefix}ouds-button-mono-color-content-default-hover) !default;
$ouds-button-mono-color-content-default-loading: var(--#{$prefix}ouds-button-mono-color-content-default-loading) !default;
$ouds-button-mono-color-content-default-pressed: var(--#{$prefix}ouds-button-mono-color-content-default-pressed) !default;
$ouds-button-mono-color-content-minimal-disabled: var(--#{$prefix}ouds-button-mono-color-content-minimal-disabled) !default;
$ouds-button-mono-color-content-minimal-enabled: var(--#{$prefix}ouds-button-mono-color-content-minimal-enabled) !default;
$ouds-button-mono-color-content-minimal-focus: var(--#{$prefix}ouds-button-mono-color-content-minimal-focus) !default;
$ouds-button-mono-color-content-minimal-hover: var(--#{$prefix}ouds-button-mono-color-content-minimal-hover) !default;
$ouds-button-mono-color-content-minimal-loading: var(--#{$prefix}ouds-button-mono-color-content-minimal-loading) !default;
$ouds-button-mono-color-content-minimal-pressed: var(--#{$prefix}ouds-button-mono-color-content-minimal-pressed) !default;
$ouds-button-mono-color-content-strong-disabled: var(--#{$prefix}ouds-button-mono-color-content-strong-disabled) !default;
$ouds-button-mono-color-content-strong-enabled: var(--#{$prefix}ouds-button-mono-color-content-strong-enabled) !default;
$ouds-button-mono-color-content-strong-focus: var(--#{$prefix}ouds-button-mono-color-content-strong-focus) !default;
$ouds-button-mono-color-content-strong-hover: var(--#{$prefix}ouds-button-mono-color-content-strong-hover) !default;
$ouds-button-mono-color-content-strong-loading: var(--#{$prefix}ouds-button-mono-color-content-strong-loading) !default;
$ouds-button-mono-color-content-strong-pressed: var(--#{$prefix}ouds-button-mono-color-content-strong-pressed) !default;
$ouds-button-size-icon-only: $ouds-size-icon-with-label-large-size-sm !default;
$ouds-button-size-icon: $ouds-size-icon-with-label-large-size-xs !default;
$ouds-button-size-loader: $ouds-size-icon-with-label-large-size-xs !default;
$ouds-button-size-max-height-icon-only: $core-ouds-dimension-600 !default;
$ouds-button-size-min-height: $core-ouds-dimension-600 !default;
$ouds-button-size-min-width: $core-ouds-dimension-600 !default;
$ouds-button-space-column-gap-arrow: $ouds-space-column-gap-xs !default;
$ouds-button-space-column-gap-icon: $ouds-space-column-gap-sm !default;
$ouds-button-space-inset-icon-only: $ouds-space-inset-md !default;
$ouds-button-space-padding-block: $ouds-space-padding-block-md !default;
$ouds-button-space-padding-inline-arrow-end: $ouds-space-padding-inline-lg !default;
$ouds-button-space-padding-inline-arrow-start: $ouds-space-padding-inline-lg !default;
$ouds-button-space-padding-inline-end-icon-start: $ouds-space-padding-inline-3xl !default;
$ouds-button-space-padding-inline-icon-none: $ouds-space-padding-inline-4xl !default;
$ouds-button-space-padding-inline-icon-start: $ouds-space-padding-inline-xl !default;
$ouds-button-space-padding-inline-start-icon-end: $ouds-space-padding-inline-3xl !default;
// scss-docs-end ouds-component-button

// Checkbox

// scss-docs-start ouds-component-checkbox
$ouds-checkbox-border-radius: $ouds-border-radius-default !default;
$ouds-checkbox-border-width-selected-focus: $ouds-border-width-medium !default;
$ouds-checkbox-border-width-selected-hover: $ouds-border-width-medium !default;
$ouds-checkbox-border-width-selected-pressed: $ouds-border-width-medium !default;
$ouds-checkbox-border-width-selected: $ouds-border-width-medium !default;
$ouds-checkbox-border-width-unselected-focus: $ouds-border-width-medium !default;
$ouds-checkbox-border-width-unselected-hover: $ouds-border-width-medium !default;
$ouds-checkbox-border-width-unselected-pressed: $ouds-border-width-medium !default;
$ouds-checkbox-border-width-unselected: $ouds-border-width-thin !default;
$ouds-checkbox-size-indicator: $ouds-size-icon-with-label-large-size-xs !default;
$ouds-checkbox-size-max-height: $core-ouds-dimension-600 !default;
$ouds-checkbox-size-min-height: $core-ouds-dimension-600 !default;
$ouds-checkbox-size-min-width: $core-ouds-dimension-600 !default;
// scss-docs-end ouds-component-checkbox

// Chip

// scss-docs-start ouds-component-chip
$ouds-chip-badge-color-bg: var(--#{$prefix}ouds-chip-badge-color-bg) !default;
$ouds-chip-badge-color-content: var(--#{$prefix}ouds-chip-badge-color-content) !default;
$ouds-chip-border-radius: $ouds-border-radius-pill !default;
$ouds-chip-border-width-selected: $ouds-border-width-medium !default;
$ouds-chip-border-width-unselected-interaction: $ouds-border-width-medium !default;
$ouds-chip-border-width-unselected: $ouds-border-width-default !default;
$ouds-chip-color-bg-selected-disabled: var(--#{$prefix}ouds-chip-color-bg-selected-disabled) !default;
$ouds-chip-color-bg-selected-enabled: var(--#{$prefix}ouds-chip-color-bg-selected-enabled) !default;
$ouds-chip-color-bg-selected-focus: var(--#{$prefix}ouds-chip-color-bg-selected-focus) !default;
$ouds-chip-color-bg-selected-hover: var(--#{$prefix}ouds-chip-color-bg-selected-hover) !default;
$ouds-chip-color-bg-selected-pressed: var(--#{$prefix}ouds-chip-color-bg-selected-pressed) !default;
$ouds-chip-color-bg-unselected-disabled: var(--#{$prefix}ouds-chip-color-bg-unselected-disabled) !default;
$ouds-chip-color-bg-unselected-enabled: var(--#{$prefix}ouds-chip-color-bg-unselected-enabled) !default;
$ouds-chip-color-bg-unselected-focus: var(--#{$prefix}ouds-chip-color-bg-unselected-focus) !default;
$ouds-chip-color-bg-unselected-hover: var(--#{$prefix}ouds-chip-color-bg-unselected-hover) !default;
$ouds-chip-color-bg-unselected-pressed: var(--#{$prefix}ouds-chip-color-bg-unselected-pressed) !default;
$ouds-chip-color-border-selected-disabled: var(--#{$prefix}ouds-chip-color-border-selected-disabled) !default;
$ouds-chip-color-border-selected-enabled: var(--#{$prefix}ouds-chip-color-border-selected-enabled) !default;
$ouds-chip-color-border-selected-focus: var(--#{$prefix}ouds-chip-color-border-selected-focus) !default;
$ouds-chip-color-border-selected-hover: var(--#{$prefix}ouds-chip-color-border-selected-hover) !default;
$ouds-chip-color-border-selected-pressed: var(--#{$prefix}ouds-chip-color-border-selected-pressed) !default;
$ouds-chip-color-border-unselected-disabled: var(--#{$prefix}ouds-chip-color-border-unselected-disabled) !default;
$ouds-chip-color-border-unselected-enabled: var(--#{$prefix}ouds-chip-color-border-unselected-enabled) !default;
$ouds-chip-color-border-unselected-focus: var(--#{$prefix}ouds-chip-color-border-unselected-focus) !default;
$ouds-chip-color-border-unselected-hover: var(--#{$prefix}ouds-chip-color-border-unselected-hover) !default;
$ouds-chip-color-border-unselected-pressed: var(--#{$prefix}ouds-chip-color-border-unselected-pressed) !default;
$ouds-chip-color-content-selected-disabled: var(--#{$prefix}ouds-chip-color-content-selected-disabled) !default;
$ouds-chip-color-content-selected-enabled: var(--#{$prefix}ouds-chip-color-content-selected-enabled) !default;
$ouds-chip-color-content-selected-focus: var(--#{$prefix}ouds-chip-color-content-selected-focus) !default;
$ouds-chip-color-content-selected-hover: var(--#{$prefix}ouds-chip-color-content-selected-hover) !default;
$ouds-chip-color-content-selected-pressed: var(--#{$prefix}ouds-chip-color-content-selected-pressed) !default;
$ouds-chip-color-content-selected-tick-enabled: var(--#{$prefix}ouds-chip-color-content-selected-tick-enabled) !default;
$ouds-chip-color-content-unselected-disabled: var(--#{$prefix}ouds-chip-color-content-unselected-disabled) !default;
$ouds-chip-color-content-unselected-enabled: var(--#{$prefix}ouds-chip-color-content-unselected-enabled) !default;
$ouds-chip-color-content-unselected-focus: var(--#{$prefix}ouds-chip-color-content-unselected-focus) !default;
$ouds-chip-color-content-unselected-hover: var(--#{$prefix}ouds-chip-color-content-unselected-hover) !default;
$ouds-chip-color-content-unselected-pressed: var(--#{$prefix}ouds-chip-color-content-unselected-pressed) !default;
$ouds-chip-size-icon: $ouds-size-icon-with-label-medium-size-sm !default;
$ouds-chip-size-min-height-target: $ouds-dimension-xl !default;
$ouds-chip-size-min-height: $ouds-dimension-xs !default;
$ouds-chip-size-min-width: $ouds-dimension-2xl !default;
$ouds-chip-space-column-gap-badge-arrow: $ouds-space-column-gap-2xs !default;
$ouds-chip-space-column-gap-icon: $ouds-space-column-gap-xs !default;
$ouds-chip-space-padding-block: $ouds-space-padding-block-xs !default;
$ouds-chip-space-padding-inline-arrow-end: $ouds-space-padding-inline-sm !default;
$ouds-chip-space-padding-inline-badge-start: $ouds-space-padding-inline-3xs !default;
$ouds-chip-space-padding-inline-icon-none: $ouds-space-padding-inline-lg !default;
$ouds-chip-space-padding-inline-icon: $ouds-space-padding-inline-md !default;
// scss-docs-end ouds-component-chip

// Control

// scss-docs-start ouds-component-control
$ouds-control-item-border-radius-item-only: $ouds-border-radius-default !default;
$ouds-control-item-border-radius: $ouds-border-radius-none !default;
$ouds-control-item-color-bg-focus: var(--#{$prefix}ouds-control-item-color-bg-focus) !default;
$ouds-control-item-color-bg-hover: var(--#{$prefix}ouds-control-item-color-bg-hover) !default;
$ouds-control-item-color-bg-loading: var(--#{$prefix}ouds-control-item-color-bg-loading) !default;
$ouds-control-item-color-bg-pressed: var(--#{$prefix}ouds-control-item-color-bg-pressed) !default;
$ouds-control-item-color-content-loader: var(--#{$prefix}ouds-control-item-color-content-loader) !default;
$ouds-control-item-size-icon: $ouds-size-icon-with-label-large-size-md !default;
$ouds-control-item-size-list-item-size-min-height-text: $ouds-size-icon-with-label-large-size-md !default;
$ouds-control-item-size-loader: $ouds-size-icon-with-label-large-size-sm !default;
$ouds-control-item-size-max-height-assets-container: $core-ouds-dimension-1200 !default;
$ouds-control-item-size-min-height: $core-ouds-dimension-650 !default;
$ouds-control-item-size-min-width: $core-ouds-dimension-2000 !default;
$ouds-control-item-space-column-gap: $ouds-space-column-gap-lg !default;
$ouds-control-item-space-inset: $ouds-space-inset-md !default;
$ouds-control-item-space-row-gap: $ouds-space-row-gap-none !default;
// scss-docs-end ouds-component-control

// Divider

// scss-docs-start ouds-component-divider
$ouds-divider-border-width: $ouds-border-width-thin !default;
// scss-docs-end ouds-component-divider

// Input

// scss-docs-start ouds-component-input
$ouds-input-text-color-bg-default-disabled: var(--#{$prefix}ouds-input-text-color-bg-default-disabled) !default;
$ouds-input-text-color-bg-default-enabled: var(--#{$prefix}ouds-input-text-color-bg-default-enabled) !default;
$ouds-input-text-color-bg-default-focus: var(--#{$prefix}ouds-input-text-color-bg-default-focus) !default;
$ouds-input-text-color-bg-default-hover: var(--#{$prefix}ouds-input-text-color-bg-default-hover) !default;
$ouds-input-text-color-bg-default-loading: var(--#{$prefix}ouds-input-text-color-bg-default-loading) !default;
$ouds-input-text-color-bg-default-pressed: var(--#{$prefix}ouds-input-text-color-bg-default-pressed) !default;
$ouds-input-text-color-content-default-disabled: var(--#{$prefix}ouds-input-text-color-content-default-disabled) !default;
$ouds-input-text-color-content-default-enabled: var(--#{$prefix}ouds-input-text-color-content-default-enabled) !default;
$ouds-input-text-color-content-default-focus: var(--#{$prefix}ouds-input-text-color-content-default-focus) !default;
$ouds-input-text-color-content-default-hover: var(--#{$prefix}ouds-input-text-color-content-default-hover) !default;
$ouds-input-text-color-content-default-loading: var(--#{$prefix}ouds-input-text-color-content-default-loading) !default;
$ouds-input-text-color-content-default-pressed: var(--#{$prefix}ouds-input-text-color-content-default-pressed) !default;
$ouds-input-text-size-max-width: $core-ouds-dimension-4000 !default;
$ouds-input-text-size-min-width: $core-ouds-dimension-1600 !default;
$ouds-input-text-space-inset-icon-alone: $ouds-space-inset-md !default;
$ouds-input-text-space-padding-block: $ouds-space-padding-block-md !default;
$ouds-input-text-space-padding-inline-container-end: $ouds-space-padding-inline-xs !default;
$ouds-input-text-space-padding-inline-container-start: $ouds-space-padding-inline-md !default;
$ouds-input-text-space-padding-inline-icon-end: $ouds-space-padding-inline-xs !default;
$ouds-input-text-space-padding-inline-prefix-text-end: $ouds-space-padding-inline-sm !default;
$ouds-input-text-space-padding-inline-suffix-text-end: $ouds-space-padding-inline-2xs !default;
$ouds-input-text-space-padding-inline-text-end: $ouds-space-padding-inline-sm !default;
// scss-docs-end ouds-component-input

// Link

// scss-docs-start ouds-component-link
$ouds-link-color-arrow-enabled: var(--#{$prefix}ouds-link-color-arrow-enabled) !default;
$ouds-link-color-arrow-focus: var(--#{$prefix}ouds-link-color-arrow-focus) !default;
$ouds-link-color-arrow-hover: var(--#{$prefix}ouds-link-color-arrow-hover) !default;
$ouds-link-color-arrow-pressed: var(--#{$prefix}ouds-link-color-arrow-pressed) !default;
$ouds-link-color-content-enabled: var(--#{$prefix}ouds-link-color-content-enabled) !default;
$ouds-link-color-content-focus: var(--#{$prefix}ouds-link-color-content-focus) !default;
$ouds-link-color-content-hover: var(--#{$prefix}ouds-link-color-content-hover) !default;
$ouds-link-color-content-pressed: var(--#{$prefix}ouds-link-color-content-pressed) !default;
$ouds-link-mono-color-content-disabled: var(--#{$prefix}ouds-link-mono-color-content-disabled) !default;
$ouds-link-mono-color-content-enabled: var(--#{$prefix}ouds-link-mono-color-content-enabled) !default;
$ouds-link-mono-color-content-focus: var(--#{$prefix}ouds-link-mono-color-content-focus) !default;
$ouds-link-mono-color-content-hover: var(--#{$prefix}ouds-link-mono-color-content-hover) !default;
$ouds-link-mono-color-content-pressed: var(--#{$prefix}ouds-link-mono-color-content-pressed) !default;
$ouds-link-size-icon-medium: $ouds-size-icon-with-label-large-size-xs !default;
$ouds-link-size-icon-small: $ouds-size-icon-with-label-medium-size-sm !default;
$ouds-link-size-min-height-medium: $core-ouds-dimension-600 !default;
$ouds-link-size-min-height-small: $core-ouds-dimension-550 !default;
$ouds-link-size-min-width-medium: $core-ouds-dimension-600 !default;
$ouds-link-size-min-width-small: $core-ouds-dimension-550 !default;
$ouds-link-space-column-gap-arrow-medium: $ouds-space-column-gap-2xs !default;
$ouds-link-space-column-gap-arrow-small: $ouds-space-column-gap-2xs !default;
$ouds-link-space-column-gap-icon-medium: $ouds-space-column-gap-sm !default;
$ouds-link-space-column-gap-icon-small: $ouds-space-column-gap-xs !default;
$ouds-link-space-padding-block: $ouds-space-padding-block-md !default;
$ouds-link-space-padding-inline: $ouds-space-padding-inline-none !default;
// scss-docs-end ouds-component-link

// Radio

// scss-docs-start ouds-component-radio
$ouds-radio-button-border-radius: $ouds-border-radius-pill !default;
$ouds-radio-button-border-width-selected-focus: $ouds-border-width-medium !default;
$ouds-radio-button-border-width-selected-hover: $ouds-border-width-medium !default;
$ouds-radio-button-border-width-selected-pressed: $ouds-border-width-medium !default;
$ouds-radio-button-border-width-selected: $ouds-border-width-medium !default;
$ouds-radio-button-border-width-unselected-focus: $ouds-border-width-medium !default;
$ouds-radio-button-border-width-unselected-hover: $ouds-border-width-medium !default;
$ouds-radio-button-border-width-unselected-pressed: $ouds-border-width-medium !default;
$ouds-radio-button-border-width-unselected: $ouds-border-width-thin !default;
$ouds-radio-button-size-indicator: $ouds-size-icon-with-label-large-size-xs !default;
$ouds-radio-button-size-max-height: $core-ouds-dimension-600 !default;
$ouds-radio-button-size-min-height: $core-ouds-dimension-600 !default;
$ouds-radio-button-size-min-width: $core-ouds-dimension-600 !default;
// scss-docs-end ouds-component-radio

// Skeleton

// scss-docs-start ouds-component-skeleton
$ouds-skeleton-color-bg: var(--#{$prefix}ouds-skeleton-color-bg) !default;
$ouds-skeleton-color-gradient-middle: var(--#{$prefix}ouds-skeleton-color-gradient-middle) !default;
$ouds-skeleton-color-gradient-start-end: var(--#{$prefix}ouds-skeleton-color-gradient-start-end) !default;
// scss-docs-end ouds-component-skeleton

// Switch

// scss-docs-start ouds-component-switch
$ouds-switch-border-radius-cursor: $ouds-border-radius-pill !default;
$ouds-switch-border-radius-track: $ouds-border-radius-pill !default;
$ouds-switch-color-check-interaction: var(--#{$prefix}ouds-switch-color-check-interaction) !default;
$ouds-switch-color-check: var(--#{$prefix}ouds-switch-color-check) !default;
$ouds-switch-color-cursor: var(--#{$prefix}ouds-switch-color-cursor) !default;
$ouds-switch-color-track-selected-interaction: var(--#{$prefix}ouds-switch-color-track-selected-interaction) !default;
$ouds-switch-color-track-selected: var(--#{$prefix}ouds-switch-color-track-selected) !default;
$ouds-switch-color-track-unselected-interaction: var(--#{$prefix}ouds-switch-color-track-unselected-interaction) !default;
$ouds-switch-color-track-unselected: var(--#{$prefix}ouds-switch-color-track-unselected) !default;
$ouds-switch-opacity-check: $ouds-opacity-opaque !default;
$ouds-switch-size-height-cursor-selected: $ouds-dimension-3xs !default;
$ouds-switch-size-height-cursor-unselected: $ouds-dimension-5xs !default;
$ouds-switch-size-height-track: $ouds-dimension-xs !default;
$ouds-switch-size-max-height: $ouds-dimension-xs !default;
$ouds-switch-size-min-height: $ouds-dimension-xs !default;
$ouds-switch-size-min-width: $ouds-dimension-3xl !default;
$ouds-switch-size-width-cursor-selected-pressed: $ouds-dimension-xs !default;
$ouds-switch-size-width-cursor-selected: $ouds-dimension-3xs !default;
$ouds-switch-size-width-cursor-unselected-pressed: $ouds-dimension-3xs !default;
$ouds-switch-size-width-cursor-unselected: $ouds-dimension-5xs !default;
$ouds-switch-size-width-track: $ouds-dimension-3xl !default;
$ouds-switch-space-padding-inline-selected: $ouds-space-padding-inline-2xs !default;
$ouds-switch-space-padding-inline-unselected: $ouds-space-padding-inline-sm !default;
// scss-docs-end ouds-component-switch

// Tabs

// scss-docs-start ouds-component-tabs
$ouds-tabs-color-gradient-end: var(--#{$prefix}ouds-tabs-color-gradient-end) !default;
$ouds-tabs-color-gradient-start: var(--#{$prefix}ouds-tabs-color-gradient-start) !default;
$ouds-tabs-space-padding-inline-desktop: $ouds-grid-xl-margin !default;
$ouds-tabs-space-padding-inline-mobile-2: $ouds-space-padding-inline-none !default;
$ouds-tabs-space-padding-inline-mobile: $ouds-space-padding-inline-none !default;
$ouds-tabs-space-padding-inline-tablet: $ouds-space-padding-inline-none !default;
// scss-docs-end ouds-component-tabs

// Tag

// scss-docs-start ouds-component-tag
$ouds-tag-border-radius-pill: $ouds-border-radius-pill !default;
$ouds-tag-border-width-default-interaction: $ouds-border-width-medium !default;
$ouds-tag-border-width-default: $ouds-border-width-default !default;
$ouds-tag-color-bg-enabled: var(--#{$prefix}ouds-tag-color-bg-enabled) !default;
$ouds-tag-color-bg-focus: var(--#{$prefix}ouds-tag-color-bg-focus) !default;
$ouds-tag-color-bg-hover: var(--#{$prefix}ouds-tag-color-bg-hover) !default;
$ouds-tag-color-bg-pressed: var(--#{$prefix}ouds-tag-color-bg-pressed) !default;
$ouds-tag-color-border-disabled: var(--#{$prefix}ouds-tag-color-border-disabled) !default;
$ouds-tag-color-border-enabled: var(--#{$prefix}ouds-tag-color-border-enabled) !default;
$ouds-tag-color-border-focus: var(--#{$prefix}ouds-tag-color-border-focus) !default;
$ouds-tag-color-border-hover: var(--#{$prefix}ouds-tag-color-border-hover) !default;
$ouds-tag-color-border-pressed: var(--#{$prefix}ouds-tag-color-border-pressed) !default;
$ouds-tag-color-content-disabled: var(--#{$prefix}ouds-tag-color-content-disabled) !default;
$ouds-tag-color-content-enabled: var(--#{$prefix}ouds-tag-color-content-enabled) !default;
$ouds-tag-color-content-focus: var(--#{$prefix}ouds-tag-color-content-focus) !default;
$ouds-tag-color-content-hover: var(--#{$prefix}ouds-tag-color-content-hover) !default;
$ouds-tag-color-content-pressed: var(--#{$prefix}ouds-tag-color-content-pressed) !default;
$ouds-tag-size-icon-medium: $ouds-size-icon-with-label-medium-size-sm !default;
$ouds-tag-size-icon-small: $ouds-size-icon-with-label-small-size-sm !default;
$ouds-tag-size-min-height-medium: $ouds-dimension-xs !default;
$ouds-tag-size-min-height-small: $ouds-dimension-3xs !default;
$ouds-tag-size-min-width-medium: $ouds-dimension-xl !default;
$ouds-tag-size-min-width-small: $ouds-dimension-lg !default;
$ouds-tag-space-column-gap-column-gap-medium: $ouds-space-column-gap-xs !default;
$ouds-tag-space-column-gap-column-gap-small: $ouds-space-column-gap-2xs !default;
$ouds-tag-space-padding-block-medium: $ouds-space-padding-block-xs !default;
$ouds-tag-space-padding-block-small: $ouds-space-padding-block-2xs !default;
$ouds-tag-space-padding-inline-icon-medium: $ouds-space-padding-inline-md !default;
$ouds-tag-space-padding-inline-icon-none-medium: $ouds-space-padding-inline-lg !default;
$ouds-tag-space-padding-inline-icon-none-small: $ouds-space-padding-inline-md !default;
$ouds-tag-space-padding-inline-icon-small: $ouds-space-padding-inline-sm !default;
// scss-docs-end ouds-component-tag

// Typography

// scss-docs-start ouds-component-typography
$ouds-typography-color-heading-large: var(--#{$prefix}ouds-typography-color-heading-large) !default;
$ouds-typography-size-height-heading-large-marker: $ouds-space-fixed-xs !default;
// scss-docs-end ouds-component-typography
