// Component application
// Depends on semantic applications
// Token version 1.1.0

// Badge

// scss-docs-start ouds-component-badge
$ouds-badge-size-large: $ouds-dimension-4xs !default;
$ouds-badge-size-medium: $ouds-dimension-5xs !default;
$ouds-badge-size-small: $ouds-dimension-6xs !default;
$ouds-badge-size-xsmall: $ouds-dimension-8xs !default;
$ouds-badge-space-inset: $core-ouds-dimension-out-of-system-75 !default;
$ouds-badge-space-padding-inline-large: $ouds-space-padding-inline-2xs !default;
$ouds-badge-space-padding-inline-medium: $ouds-space-padding-inline-3xs !default;
// scss-docs-end ouds-component-badge

// Breadcrumb

// scss-docs-start ouds-component-breadcrumb
$ouds-breadcrumb-size-icon: $ouds-size-icon-with-label-medium-size-sm !default;
$ouds-breadcrumb-space-column-gap-icon: $ouds-space-column-gap-2xs !default;
$ouds-breadcrumb-space-column-gap-links: $ouds-space-column-gap-sm !default;
// scss-docs-end ouds-component-breadcrumb

// Bullet

// scss-docs-start ouds-component-bullet
$ouds-bullet-list-space-column-gap-body-large: $ouds-space-column-gap-sm !default;
$ouds-bullet-list-space-column-gap-body-medium: $ouds-space-column-gap-sm !default;
$ouds-bullet-list-space-padding-block-body-large: $ouds-space-padding-block-xs !default;
$ouds-bullet-list-space-padding-block-body-medium: $ouds-space-padding-block-xs !default;
$ouds-bullet-list-space-padding-inline-level-0: $core-ouds-dimension-50 !default;
$ouds-bullet-list-space-padding-inline-level-1: $core-ouds-dimension-450 !default;
$ouds-bullet-list-space-padding-inline-level-2: $core-ouds-dimension-850 !default;
// scss-docs-end ouds-component-bullet

// Button

// scss-docs-start ouds-component-button
$ouds-button-border-radius: $ouds-border-radius-default !default;
$ouds-button-border-width-default-interaction-mono: $ouds-border-width-none !default;
$ouds-button-border-width-default-interaction: $ouds-border-width-medium !default;
$ouds-button-border-width-default: $ouds-border-width-default !default;
$ouds-button-border-width-minimal-interaction: $ouds-border-width-none !default;
$ouds-button-border-width-minimal: $ouds-border-width-none !default;
$ouds-button-color-bg-default-disabled:  $ouds-color-opacity-transparent !default;
$ouds-button-color-bg-default-enabled:  $ouds-color-opacity-transparent !default;
$ouds-button-color-bg-default-focus:  $ouds-color-opacity-transparent !default;
$ouds-button-color-bg-default-hover:  $ouds-color-opacity-transparent !default;
$ouds-button-color-bg-default-loading:  $ouds-color-opacity-transparent !default;
$ouds-button-color-bg-default-pressed:  $ouds-color-opacity-transparent !default;
$ouds-button-color-bg-minimal-disabled:  $ouds-color-opacity-transparent !default;
$ouds-button-color-bg-minimal-enabled:  $ouds-color-opacity-transparent !default;
$ouds-button-color-bg-minimal-focus:  $ouds-color-action-support-focus !default;
$ouds-button-color-bg-minimal-hover:  $ouds-color-action-support-hover !default;
$ouds-button-color-bg-minimal-loading:  $ouds-color-action-support-loading !default;
$ouds-button-color-bg-minimal-pressed:  $ouds-color-action-support-pressed !default;
$ouds-button-color-border-default-disabled:  $ouds-color-action-disabled !default;
$ouds-button-color-border-default-enabled:  $ouds-color-action-enabled !default;
$ouds-button-color-border-default-focus:  $ouds-color-action-focus !default;
$ouds-button-color-border-default-hover:  $ouds-color-action-hover !default;
$ouds-button-color-border-default-loading:  $ouds-color-action-loading !default;
$ouds-button-color-border-default-pressed:  $ouds-color-action-pressed !default;
$ouds-button-color-border-minimal-disabled:  $ouds-color-opacity-transparent !default;
$ouds-button-color-border-minimal-enabled:  $ouds-color-opacity-transparent !default;
$ouds-button-color-border-minimal-focus:  $ouds-color-opacity-transparent !default;
$ouds-button-color-border-minimal-hover:  $ouds-color-opacity-transparent !default;
$ouds-button-color-border-minimal-loading:  $ouds-color-opacity-transparent !default;
$ouds-button-color-border-minimal-pressed:  $ouds-color-opacity-transparent !default;
$ouds-button-color-content-default-disabled:  $ouds-color-action-disabled !default;
$ouds-button-color-content-default-enabled:  $ouds-color-action-enabled !default;
$ouds-button-color-content-default-focus:  $ouds-color-action-focus !default;
$ouds-button-color-content-default-hover:  $ouds-color-action-hover !default;
$ouds-button-color-content-default-loading:  $ouds-color-action-loading !default;
$ouds-button-color-content-default-pressed:  $ouds-color-action-pressed !default;
$ouds-button-color-content-minimal-disabled:  $ouds-color-action-disabled !default;
$ouds-button-color-content-minimal-enabled:  $ouds-color-action-enabled !default;
$ouds-button-color-content-minimal-focus:  $ouds-color-action-focus !default;
$ouds-button-color-content-minimal-hover:  $ouds-color-action-hover !default;
$ouds-button-color-content-minimal-loading:  $ouds-color-content-default !default;
$ouds-button-color-content-minimal-pressed:  $ouds-color-action-pressed !default;
$ouds-button-mono-color-bg-default-disabled:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-bg-default-enabled:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-bg-default-focus: var(--#{$prefix}button-mono-color-bg-default-focus) !default;
$ouds-button-mono-color-bg-default-hover: var(--#{$prefix}button-mono-color-bg-default-hover) !default;
$ouds-button-mono-color-bg-default-loading: var(--#{$prefix}button-mono-color-bg-default-loading) !default;
$ouds-button-mono-color-bg-default-pressed: var(--#{$prefix}button-mono-color-bg-default-pressed) !default;
$ouds-button-mono-color-bg-minimal-disabled:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-bg-minimal-enabled:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-bg-minimal-focus: var(--#{$prefix}button-mono-color-bg-minimal-focus) !default;
$ouds-button-mono-color-bg-minimal-hover: var(--#{$prefix}button-mono-color-bg-minimal-hover) !default;
$ouds-button-mono-color-bg-minimal-loading: var(--#{$prefix}button-mono-color-bg-minimal-loading) !default;
$ouds-button-mono-color-bg-minimal-pressed: var(--#{$prefix}button-mono-color-bg-minimal-pressed) !default;
$ouds-button-mono-color-bg-strong-disabled: var(--#{$prefix}button-mono-color-bg-strong-disabled) !default;
$ouds-button-mono-color-bg-strong-enabled: var(--#{$prefix}button-mono-color-bg-strong-enabled) !default;
$ouds-button-mono-color-bg-strong-focus: var(--#{$prefix}button-mono-color-bg-strong-focus) !default;
$ouds-button-mono-color-bg-strong-hover: var(--#{$prefix}button-mono-color-bg-strong-hover) !default;
$ouds-button-mono-color-bg-strong-loading: var(--#{$prefix}button-mono-color-bg-strong-loading) !default;
$ouds-button-mono-color-bg-strong-pressed: var(--#{$prefix}button-mono-color-bg-strong-pressed) !default;
$ouds-button-mono-color-border-default-disabled: var(--#{$prefix}button-mono-color-border-default-disabled) !default;
$ouds-button-mono-color-border-default-enabled: var(--#{$prefix}button-mono-color-border-default-enabled) !default;
$ouds-button-mono-color-border-default-focus:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-border-default-hover:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-border-default-loading:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-border-default-pressed:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-border-minimal-disabled:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-border-minimal-enabled:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-border-minimal-focus:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-border-minimal-hover:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-border-minimal-loading:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-border-minimal-pressed:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-border-strong-disabled:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-border-strong-enabled:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-border-strong-focus:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-border-strong-hover:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-border-strong-loading:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-border-strong-pressed:  $ouds-color-opacity-transparent !default;
$ouds-button-mono-color-content-default-disabled: var(--#{$prefix}button-mono-color-content-default-disabled) !default;
$ouds-button-mono-color-content-default-enabled: var(--#{$prefix}button-mono-color-content-default-enabled) !default;
$ouds-button-mono-color-content-default-focus: var(--#{$prefix}button-mono-color-content-default-focus) !default;
$ouds-button-mono-color-content-default-hover: var(--#{$prefix}button-mono-color-content-default-hover) !default;
$ouds-button-mono-color-content-default-loading: var(--#{$prefix}button-mono-color-content-default-loading) !default;
$ouds-button-mono-color-content-default-pressed: var(--#{$prefix}button-mono-color-content-default-pressed) !default;
$ouds-button-mono-color-content-minimal-disabled: var(--#{$prefix}button-mono-color-content-minimal-disabled) !default;
$ouds-button-mono-color-content-minimal-enabled: var(--#{$prefix}button-mono-color-content-minimal-enabled) !default;
$ouds-button-mono-color-content-minimal-focus: var(--#{$prefix}button-mono-color-content-minimal-focus) !default;
$ouds-button-mono-color-content-minimal-hover: var(--#{$prefix}button-mono-color-content-minimal-hover) !default;
$ouds-button-mono-color-content-minimal-loading: var(--#{$prefix}button-mono-color-content-minimal-loading) !default;
$ouds-button-mono-color-content-minimal-pressed: var(--#{$prefix}button-mono-color-content-minimal-pressed) !default;
$ouds-button-mono-color-content-strong-disabled: var(--#{$prefix}button-mono-color-content-strong-disabled) !default;
$ouds-button-mono-color-content-strong-enabled: var(--#{$prefix}button-mono-color-content-strong-enabled) !default;
$ouds-button-mono-color-content-strong-focus: var(--#{$prefix}button-mono-color-content-strong-focus) !default;
$ouds-button-mono-color-content-strong-hover: var(--#{$prefix}button-mono-color-content-strong-hover) !default;
$ouds-button-mono-color-content-strong-loading: var(--#{$prefix}button-mono-color-content-strong-loading) !default;
$ouds-button-mono-color-content-strong-pressed: var(--#{$prefix}button-mono-color-content-strong-pressed) !default;
$ouds-button-size-icon-only: $ouds-size-icon-with-label-large-size-sm !default;
$ouds-button-size-icon: $ouds-size-icon-with-label-large-size-xs !default;
$ouds-button-size-loader: $ouds-size-icon-with-label-large-size-xs !default;
$ouds-button-size-max-height-icon-only: $ouds-size-min-interactive-area !default;
$ouds-button-size-min-height: $ouds-size-min-interactive-area !default;
$ouds-button-size-min-width: $ouds-size-min-interactive-area !default;
$ouds-button-social-border-radius: $ouds-border-radius-pill !default;
$ouds-button-social-color-bg-enabled:  $ouds-color-action-enabled !default;
$ouds-button-social-color-bg-focus:  $ouds-color-action-focus !default;
$ouds-button-social-color-bg-hover:  $ouds-color-action-hover !default;
$ouds-button-social-color-bg-pressed:  $ouds-color-action-hover !default;
$ouds-button-social-color-content-enabled:  $ouds-color-content-on-action-enabled !default;
$ouds-button-social-color-content-focus: var(--#{$prefix}button-social-color-content-focus) !default;
$ouds-button-social-color-content-hover:  $ouds-color-content-on-action-hover !default;
$ouds-button-social-color-content-pressed:  $ouds-color-content-on-action-pressed !default;
$ouds-button-space-column-gap-arrow: $ouds-space-column-gap-xs !default;
$ouds-button-space-column-gap-icon: $ouds-space-column-gap-sm !default;
$ouds-button-space-inset-icon-only: $ouds-space-inset-md !default;
$ouds-button-space-padding-block: $ouds-space-padding-block-md !default;
$ouds-button-space-padding-inline-arrow-end: $ouds-space-padding-inline-lg !default;
$ouds-button-space-padding-inline-arrow-start: $ouds-space-padding-inline-lg !default;
$ouds-button-space-padding-inline-end-icon-start: $ouds-space-padding-inline-3xl !default;
$ouds-button-space-padding-inline-icon-none: $ouds-space-padding-inline-4xl !default;
$ouds-button-space-padding-inline-icon-start: $ouds-space-padding-inline-xl !default;
$ouds-button-space-padding-inline-start-icon-end: $ouds-space-padding-inline-3xl !default;
// scss-docs-end ouds-component-button

// Checkbox

// scss-docs-start ouds-component-checkbox
$ouds-checkbox-border-radius: $ouds-border-radius-default !default;
$ouds-checkbox-border-width-selected-focus: $ouds-border-width-medium !default;
$ouds-checkbox-border-width-selected-hover: $ouds-border-width-medium !default;
$ouds-checkbox-border-width-selected-pressed: $ouds-border-width-medium !default;
$ouds-checkbox-border-width-selected: $ouds-border-width-medium !default;
$ouds-checkbox-border-width-unselected-focus: $ouds-border-width-medium !default;
$ouds-checkbox-border-width-unselected-hover: $ouds-border-width-medium !default;
$ouds-checkbox-border-width-unselected-pressed: $ouds-border-width-medium !default;
$ouds-checkbox-border-width-unselected: $ouds-border-width-thin !default;
$ouds-checkbox-size-indicator: $ouds-size-icon-with-label-large-size-xs !default;
$ouds-checkbox-size-max-height: $ouds-size-min-interactive-area !default;
$ouds-checkbox-size-min-height: $ouds-size-min-interactive-area !default;
$ouds-checkbox-size-min-width: $ouds-size-min-interactive-area !default;
// scss-docs-end ouds-component-checkbox

// Chip

// scss-docs-start ouds-component-chip
$ouds-chip-badge-color-bg:  $ouds-color-surface-status-neutral-emphasized !default;
$ouds-chip-badge-color-content:  $ouds-color-content-on-status-neutral-emphasized !default;
$ouds-chip-border-radius: $ouds-border-radius-pill !default;
$ouds-chip-border-width-selected: $ouds-border-width-medium !default;
$ouds-chip-border-width-unselected-interaction: $ouds-border-width-medium !default;
$ouds-chip-border-width-unselected: $ouds-border-width-default !default;
$ouds-chip-color-bg-selected-disabled:  $ouds-color-opacity-transparent !default;
$ouds-chip-color-bg-selected-enabled:  $ouds-color-opacity-transparent !default;
$ouds-chip-color-bg-selected-focus:  $ouds-color-opacity-transparent !default;
$ouds-chip-color-bg-selected-hover:  $ouds-color-opacity-transparent !default;
$ouds-chip-color-bg-selected-pressed:  $ouds-color-opacity-transparent !default;
$ouds-chip-color-bg-unselected-disabled:  $ouds-color-opacity-transparent !default;
$ouds-chip-color-bg-unselected-enabled:  $ouds-color-opacity-transparent !default;
$ouds-chip-color-bg-unselected-focus:  $ouds-color-opacity-transparent !default;
$ouds-chip-color-bg-unselected-hover:  $ouds-color-opacity-transparent !default;
$ouds-chip-color-bg-unselected-pressed:  $ouds-color-opacity-transparent !default;
$ouds-chip-color-border-selected-disabled:  $ouds-color-action-disabled !default;
$ouds-chip-color-border-selected-enabled:  $ouds-color-action-selected !default;
$ouds-chip-color-border-selected-focus:  $ouds-color-action-focus !default;
$ouds-chip-color-border-selected-hover:  $ouds-color-action-hover !default;
$ouds-chip-color-border-selected-pressed:  $ouds-color-action-pressed !default;
$ouds-chip-color-border-unselected-disabled:  $ouds-color-action-disabled !default;
$ouds-chip-color-border-unselected-enabled:  $ouds-color-border-default !default;
$ouds-chip-color-border-unselected-focus:  $ouds-color-action-focus !default;
$ouds-chip-color-border-unselected-hover:  $ouds-color-action-hover !default;
$ouds-chip-color-border-unselected-pressed:  $ouds-color-action-pressed !default;
$ouds-chip-color-content-selected-disabled:  $ouds-color-action-disabled !default;
$ouds-chip-color-content-selected-enabled:  $ouds-color-action-enabled !default;
$ouds-chip-color-content-selected-focus:  $ouds-color-action-focus !default;
$ouds-chip-color-content-selected-hover:  $ouds-color-action-hover !default;
$ouds-chip-color-content-selected-pressed:  $ouds-color-action-pressed !default;
$ouds-chip-color-content-selected-tick-enabled:  $ouds-color-action-selected !default;
$ouds-chip-color-content-unselected-disabled:  $ouds-color-action-disabled !default;
$ouds-chip-color-content-unselected-enabled:  $ouds-color-action-enabled !default;
$ouds-chip-color-content-unselected-focus:  $ouds-color-action-focus !default;
$ouds-chip-color-content-unselected-hover:  $ouds-color-action-hover !default;
$ouds-chip-color-content-unselected-pressed:  $ouds-color-action-pressed !default;
$ouds-chip-size-icon: $ouds-size-icon-with-label-medium-size-sm !default;
$ouds-chip-size-min-height-interactive-area: $ouds-size-min-interactive-area !default;
$ouds-chip-size-min-height: $ouds-dimension-xs !default;
$ouds-chip-size-min-width: $ouds-dimension-2xl !default;
$ouds-chip-space-column-gap-badge-arrow: $ouds-space-column-gap-2xs !default;
$ouds-chip-space-column-gap-icon: $ouds-space-column-gap-xs !default;
$ouds-chip-space-padding-block-icon-only: $ouds-space-padding-block-sm !default;
$ouds-chip-space-padding-block: $ouds-space-padding-block-xs !default;
$ouds-chip-space-padding-inline-arrow-end: $ouds-space-padding-inline-xs !default;
$ouds-chip-space-padding-inline-badge-start: $ouds-space-padding-inline-4xs !default;
$ouds-chip-space-padding-inline-icon-none: $ouds-space-padding-inline-lg !default;
$ouds-chip-space-padding-inline-icon: $ouds-space-padding-inline-sm !default;
// scss-docs-end ouds-component-chip

// Control

// scss-docs-start ouds-component-control
$ouds-control-item-border-radius-item-only: $ouds-border-radius-default !default;
$ouds-control-item-border-radius: $ouds-border-radius-none !default;
$ouds-control-item-color-bg-focus:  $ouds-color-action-support-focus !default;
$ouds-control-item-color-bg-hover:  $ouds-color-action-support-hover !default;
$ouds-control-item-color-bg-loading:  $ouds-color-action-support-loading !default;
$ouds-control-item-color-bg-pressed:  $ouds-color-action-support-pressed !default;
$ouds-control-item-color-content-loader:  $ouds-color-content-default !default;
$ouds-control-item-size-icon: $ouds-size-icon-with-label-large-size-md !default;
$ouds-control-item-size-list-item-size-min-height-text: $ouds-size-icon-with-label-large-size-md !default;
$ouds-control-item-size-loader: $ouds-size-icon-with-label-large-size-sm !default;
$ouds-control-item-size-max-height-assets-container: $core-ouds-dimension-1200 !default;
$ouds-control-item-size-min-height: $core-ouds-dimension-650 !default;
$ouds-control-item-size-min-width: $core-ouds-dimension-2000 !default;
$ouds-control-item-space-column-gap: $ouds-space-column-gap-lg !default;
$ouds-control-item-space-inset: $ouds-space-inset-md !default;
$ouds-control-item-space-row-gap: $ouds-space-row-gap-none !default;
// scss-docs-end ouds-component-control

// Divider

// scss-docs-start ouds-component-divider
$ouds-divider-border-width: $ouds-border-width-thin !default;
// scss-docs-end ouds-component-divider

// Input

// scss-docs-start ouds-component-input
$ouds-input-text-color-bg-default-disabled:  $ouds-color-action-support-enabled !default;
$ouds-input-text-color-bg-default-enabled:  $ouds-color-action-support-enabled !default;
$ouds-input-text-color-bg-default-focus:  $ouds-color-action-support-focus !default;
$ouds-input-text-color-bg-default-hover:  $ouds-color-action-support-hover !default;
$ouds-input-text-color-bg-default-loading:  $ouds-color-action-support-loading !default;
$ouds-input-text-color-bg-default-pressed:  $ouds-color-action-support-pressed !default;
$ouds-input-text-color-content-default-disabled:  $ouds-color-content-disabled !default;
$ouds-input-text-color-content-default-enabled:  $ouds-color-content-default !default;
$ouds-input-text-color-content-default-focus:  $ouds-color-content-default !default;
$ouds-input-text-color-content-default-hover:  $ouds-color-content-default !default;
$ouds-input-text-color-content-default-loading:  $ouds-color-content-default !default;
$ouds-input-text-color-content-default-pressed:  $ouds-color-content-default !default;
$ouds-input-text-size-max-width: $core-ouds-dimension-4000 !default;
$ouds-input-text-size-min-width: $core-ouds-dimension-1600 !default;
$ouds-input-text-space-inset-icon-alone: $ouds-space-inset-md !default;
$ouds-input-text-space-padding-block: $ouds-space-padding-block-md !default;
$ouds-input-text-space-padding-inline-container-end: $ouds-space-padding-inline-2xs !default;
$ouds-input-text-space-padding-inline-container-start: $ouds-space-padding-inline-md !default;
$ouds-input-text-space-padding-inline-icon-end: $ouds-space-padding-inline-2xs !default;
$ouds-input-text-space-padding-inline-prefix-text-end: $ouds-space-padding-inline-xs !default;
$ouds-input-text-space-padding-inline-suffix-text-end: $ouds-space-padding-inline-3xs !default;
$ouds-input-text-space-padding-inline-text-end: $ouds-space-padding-inline-xs !default;
// scss-docs-end ouds-component-input

// Link

// scss-docs-start ouds-component-link
$ouds-link-color-arrow-enabled:  $ouds-color-content-brand-primary !default;
$ouds-link-color-arrow-focus:  $ouds-color-content-brand-primary !default;
$ouds-link-color-arrow-hover:  $ouds-color-content-brand-primary !default;
$ouds-link-color-arrow-pressed:  $ouds-color-content-brand-primary !default;
$ouds-link-color-content-enabled:  $ouds-color-action-enabled !default;
$ouds-link-color-content-focus:  $ouds-color-action-focus !default;
$ouds-link-color-content-hover:  $ouds-color-action-hover !default;
$ouds-link-color-content-pressed:  $ouds-color-action-pressed !default;
$ouds-link-mono-color-content-disabled: var(--#{$prefix}link-mono-color-content-disabled) !default;
$ouds-link-mono-color-content-enabled: var(--#{$prefix}link-mono-color-content-enabled) !default;
$ouds-link-mono-color-content-focus: var(--#{$prefix}link-mono-color-content-focus) !default;
$ouds-link-mono-color-content-hover: var(--#{$prefix}link-mono-color-content-hover) !default;
$ouds-link-mono-color-content-pressed: var(--#{$prefix}link-mono-color-content-pressed) !default;
$ouds-link-size-icon-default: $ouds-size-icon-with-label-large-size-xs !default;
$ouds-link-size-icon-small: $ouds-size-icon-with-label-medium-size-sm !default;
$ouds-link-size-min-height-default: $ouds-size-min-interactive-area !default;
$ouds-link-size-min-height-small: $core-ouds-dimension-550 !default;
$ouds-link-size-min-width-default: $ouds-size-min-interactive-area !default;
$ouds-link-size-min-width-small: $core-ouds-dimension-550 !default;
$ouds-link-space-column-gap-arrow-default: $ouds-space-column-gap-2xs !default;
$ouds-link-space-column-gap-arrow-small: $ouds-space-column-gap-2xs !default;
$ouds-link-space-column-gap-icon-default: $ouds-space-column-gap-sm !default;
$ouds-link-space-column-gap-icon-small: $ouds-space-column-gap-xs !default;
$ouds-link-space-padding-block: $ouds-space-padding-block-md !default;
$ouds-link-space-padding-inline: $ouds-space-padding-inline-none !default;
// scss-docs-end ouds-component-link

// Radio

// scss-docs-start ouds-component-radio
$ouds-radio-button-border-radius: $ouds-border-radius-pill !default;
$ouds-radio-button-border-width-selected-focus: $ouds-border-width-medium !default;
$ouds-radio-button-border-width-selected-hover: $ouds-border-width-medium !default;
$ouds-radio-button-border-width-selected-pressed: $ouds-border-width-medium !default;
$ouds-radio-button-border-width-selected: $ouds-border-width-medium !default;
$ouds-radio-button-border-width-unselected-focus: $ouds-border-width-medium !default;
$ouds-radio-button-border-width-unselected-hover: $ouds-border-width-medium !default;
$ouds-radio-button-border-width-unselected-pressed: $ouds-border-width-medium !default;
$ouds-radio-button-border-width-unselected: $ouds-border-width-thin !default;
$ouds-radio-button-size-indicator: $ouds-size-icon-with-label-large-size-xs !default;
$ouds-radio-button-size-max-height: $ouds-size-min-interactive-area !default;
$ouds-radio-button-size-min-height: $ouds-size-min-interactive-area !default;
$ouds-radio-button-size-min-width: $ouds-size-min-interactive-area !default;
// scss-docs-end ouds-component-radio

// Skeleton

// scss-docs-start ouds-component-skeleton
$ouds-skeleton-color-bg:  $ouds-color-opacity-lowest !default;
$ouds-skeleton-color-gradient-middle:  $ouds-color-opacity-lower !default;
$ouds-skeleton-color-gradient-start-end:  $ouds-color-opacity-transparent !default;
// scss-docs-end ouds-component-skeleton

// Switch

// scss-docs-start ouds-component-switch
$ouds-switch-border-radius-cursor: $ouds-border-radius-pill !default;
$ouds-switch-border-radius-track: $ouds-border-radius-pill !default;
$ouds-switch-color-check-interaction:  $ouds-color-content-default !default;
$ouds-switch-color-check:  $ouds-color-content-default !default;
$ouds-switch-color-cursor: var(--#{$prefix}switch-color-cursor) !default;
$ouds-switch-color-track-selected-interaction: var(--#{$prefix}switch-color-track-selected-interaction) !default;
$ouds-switch-color-track-selected: var(--#{$prefix}switch-color-track-selected) !default;
$ouds-switch-color-track-unselected-interaction: var(--#{$prefix}switch-color-track-unselected-interaction) !default;
$ouds-switch-color-track-unselected: var(--#{$prefix}switch-color-track-unselected) !default;
$ouds-switch-opacity-check: $ouds-opacity-opaque !default;
$ouds-switch-size-height-cursor-selected: $ouds-dimension-3xs !default;
$ouds-switch-size-height-cursor-unselected: $ouds-dimension-5xs !default;
$ouds-switch-size-height-track: $ouds-dimension-xs !default;
$ouds-switch-size-max-height: $ouds-dimension-xs !default;
$ouds-switch-size-min-height-interactive-area: $ouds-size-min-interactive-area !default;
$ouds-switch-size-min-height: $ouds-dimension-xs !default;
$ouds-switch-size-min-width: $ouds-dimension-3xl !default;
$ouds-switch-size-width-cursor-selected-pressed: $ouds-dimension-xs !default;
$ouds-switch-size-width-cursor-selected: $ouds-dimension-3xs !default;
$ouds-switch-size-width-cursor-unselected-pressed: $ouds-dimension-3xs !default;
$ouds-switch-size-width-cursor-unselected: $ouds-dimension-5xs !default;
$ouds-switch-size-width-track: $ouds-dimension-3xl !default;
$ouds-switch-space-padding-inline-selected: $ouds-space-padding-inline-3xs !default;
$ouds-switch-space-padding-inline-unselected: $ouds-space-padding-inline-xs !default;
// scss-docs-end ouds-component-switch

// Tabs

// scss-docs-start ouds-component-tabs
$ouds-tabs-boolean-divider: true !default;
$ouds-tabs-border-disabled: $ouds-border-width-none !default;
$ouds-tabs-border-enabled: $ouds-border-width-none !default;
$ouds-tabs-border-focus: $ouds-border-width-none !default;
$ouds-tabs-border-hover: $ouds-border-width-none !default;
$ouds-tabs-border-pressed: $ouds-border-width-none !default;
$ouds-tabs-border-radius-bottom: $ouds-border-radius-none !default;
$ouds-tabs-border-radius-top: $ouds-border-radius-none !default;
$ouds-tabs-color-bg-default: var(--#{$prefix}tabs-color-bg-default) !default;
$ouds-tabs-color-bg-sticky: var(--#{$prefix}tabs-color-bg-sticky) !default;
$ouds-tabs-color-gradient-drag-overlay-end: var(--#{$prefix}tabs-color-gradient-drag-overlay-end) !default;
$ouds-tabs-color-gradient-drag-overlay-start:  $ouds-color-bg-primary !default;
$ouds-tabs-size-icon-equal: $ouds-size-icon-decorative-xs !default;
$ouds-tabs-size-icon-unequal: $ouds-size-icon-with-label-large-size-xs !default;
$ouds-tabs-size-max-width-equal: $core-ouds-dimension-3000 !default;
$ouds-tabs-size-max-width-unequal: $core-ouds-dimension-3000 !default;
$ouds-tabs-size-min-width-equal: $core-ouds-dimension-1400 !default;
$ouds-tabs-size-min-width-unequal: $core-ouds-dimension-600 !default;
$ouds-tabs-space-column-gap-content-menu-equal: $ouds-space-column-gap-none !default;
$ouds-tabs-space-column-gap-content-menu-unequal: $ouds-space-column-gap-none !default;
$ouds-tabs-space-column-gap-icon-label: $ouds-space-column-gap-xs !default;
$ouds-tabs-space-column-gap-label-badge: $ouds-space-row-gap-2xs !default;
$ouds-tabs-space-padding-block-content-top: $ouds-space-padding-block-sm !default;
$ouds-tabs-space-padding-inline-divider-desktop: $ouds-grid-xl-margin !default;
$ouds-tabs-space-padding-inline-divider-mobile: $ouds-space-padding-inline-none !default;
$ouds-tabs-space-padding-inline-divider-tablet: $ouds-space-padding-inline-none !default;
$ouds-tabs-space-padding-inline-icon-label-equal: $ouds-space-padding-inline-xs !default;
$ouds-tabs-space-padding-inline-icon-label-unequal: $ouds-space-padding-inline-4xs !default;
$ouds-tabs-space-row-gap-content: $ouds-space-row-gap-md !default;
$ouds-tabs-space-row-gap-icon-label-equal: $ouds-space-row-gap-3xs !default;
$ouds-tabs-space-row-gap-icon-label-unequal: $ouds-space-row-gap-xs !default;
// scss-docs-end ouds-component-tabs

// Tag

// scss-docs-start ouds-component-tag
$ouds-tag-border-radius: $ouds-border-radius-pill !default;
$ouds-tag-border-width-default-interaction: $ouds-border-width-medium !default;
$ouds-tag-border-width-default: $ouds-border-width-default !default;
$ouds-tag-input-color-bg-enabled:  $ouds-color-action-support-enabled !default;
$ouds-tag-input-color-bg-focus:  $ouds-color-action-support-focus !default;
$ouds-tag-input-color-bg-hover:  $ouds-color-action-support-hover !default;
$ouds-tag-input-color-bg-pressed:  $ouds-color-action-support-pressed !default;
$ouds-tag-input-color-border-disabled:  $ouds-color-action-disabled !default;
$ouds-tag-input-color-border-enabled:  $ouds-color-border-default !default;
$ouds-tag-input-color-border-focus:  $ouds-color-action-focus !default;
$ouds-tag-input-color-border-hover:  $ouds-color-action-hover !default;
$ouds-tag-input-color-border-pressed:  $ouds-color-action-pressed !default;
$ouds-tag-input-color-content-disabled:  $ouds-color-action-disabled !default;
$ouds-tag-input-color-content-enabled:  $ouds-color-action-enabled !default;
$ouds-tag-input-color-content-focus:  $ouds-color-action-focus !default;
$ouds-tag-input-color-content-hover:  $ouds-color-action-hover !default;
$ouds-tag-input-color-content-pressed:  $ouds-color-action-pressed !default;
$ouds-tag-size-icon-default: $ouds-size-icon-with-label-medium-size-sm !default;
$ouds-tag-size-icon-small: $ouds-size-icon-with-label-small-size-sm !default;
$ouds-tag-size-loader-default: $ouds-size-icon-with-label-medium-size-xs !default;
$ouds-tag-size-loader-small: $ouds-size-icon-with-label-small-size-xs !default;
$ouds-tag-size-min-height-default: $ouds-dimension-xs !default;
$ouds-tag-size-min-height-interactive-area: $ouds-size-min-interactive-area !default;
$ouds-tag-size-min-height-small: $ouds-dimension-3xs !default;
$ouds-tag-size-min-width-default: $ouds-dimension-xl !default;
$ouds-tag-size-min-width-small: $ouds-dimension-lg !default;
$ouds-tag-space-column-gap-default: $ouds-space-column-gap-2xs !default;
$ouds-tag-space-column-gap-small: $ouds-space-column-gap-2xs !default;
$ouds-tag-space-inset-default-asset: $ouds-space-inset-3xs !default;
$ouds-tag-space-inset-small-asset: $ouds-space-inset-4xs !default;
$ouds-tag-space-padding-block-default: $ouds-space-padding-block-xs !default;
$ouds-tag-space-padding-block-small: $ouds-space-padding-block-2xs !default;
$ouds-tag-space-padding-inline-default-asset: $core-ouds-dimension-100 !default;
$ouds-tag-space-padding-inline-default: $ouds-space-padding-inline-md !default;
$ouds-tag-space-padding-inline-small-asset: $ouds-space-padding-inline-2xs !default;
$ouds-tag-space-padding-inline-small: $core-ouds-dimension-out-of-system-250 !default;
// scss-docs-end ouds-component-tag

// Typography

// scss-docs-start ouds-component-typography
$ouds-typography-color-heading-large:  $ouds-color-content-default !default;
$ouds-typography-size-height-heading-large-marker: $ouds-space-fixed-xs !default;
// scss-docs-end ouds-component-typography
