// Components custom properties applications
// OUDS Core tokens version 1.2.0
// Orange Core tokens version 1.1.0
// Orange System tokens version 1.2.0

// scss-docs-start ouds-all-component-css-color
// scss-docs-start ouds-component-css-color
@include color-mode(light, true) {
  --#{$prefix}button-mono-color-bg-default-hover: #{$core-ouds-color-opacity-black-680};
  --#{$prefix}button-mono-color-bg-default-pressed: #{$core-ouds-color-opacity-white-800};
  --#{$prefix}button-mono-color-bg-default-loading: #{$core-ouds-color-opacity-white-800};
  --#{$prefix}button-mono-color-bg-default-focus: #{$core-ouds-color-opacity-black-680};
  --#{$prefix}button-mono-color-bg-minimal-hover: #{$core-ouds-color-opacity-black-680};
  --#{$prefix}button-mono-color-bg-minimal-pressed: #{$core-ouds-color-opacity-white-800};
  --#{$prefix}button-mono-color-bg-minimal-loading: #{$core-ouds-color-opacity-white-800};
  --#{$prefix}button-mono-color-bg-minimal-focus: #{$core-ouds-color-opacity-black-680};
  --#{$prefix}button-mono-color-bg-strong-enabled: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-bg-strong-hover: #{$core-ouds-color-opacity-black-680};
  --#{$prefix}button-mono-color-bg-strong-pressed: #{$core-ouds-color-opacity-white-800};
  --#{$prefix}button-mono-color-bg-strong-loading: #{$core-ouds-color-opacity-white-800};
  --#{$prefix}button-mono-color-bg-strong-disabled: #{$core-ouds-color-opacity-black-280};
  --#{$prefix}button-mono-color-bg-strong-focus: #{$core-ouds-color-opacity-black-680};
  --#{$prefix}button-mono-color-content-default-enabled: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-content-default-hover: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-content-default-pressed: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-content-default-loading: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-content-default-disabled: #{$core-ouds-color-opacity-black-280};
  --#{$prefix}button-mono-color-content-default-focus: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-content-minimal-enabled: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-content-minimal-hover: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-content-minimal-pressed: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-content-minimal-loading: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-content-minimal-disabled: #{$core-ouds-color-opacity-black-280};
  --#{$prefix}button-mono-color-content-minimal-focus: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-content-strong-enabled: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-content-strong-hover: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-content-strong-pressed: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-content-strong-loading: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-content-strong-disabled: #{$core-ouds-color-opacity-white-640};
  --#{$prefix}button-mono-color-content-strong-focus: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-border-default-enabled: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-border-default-disabled: #{$core-ouds-color-opacity-black-280};
  --#{$prefix}link-mono-color-content-enabled: #{$core-ouds-color-functional-black};
  --#{$prefix}link-mono-color-content-hover: #{$core-ouds-color-functional-black};
  --#{$prefix}link-mono-color-content-pressed: #{$core-ouds-color-opacity-black-520};
  --#{$prefix}link-mono-color-content-disabled: #{$core-ouds-color-opacity-black-280};
  --#{$prefix}link-mono-color-content-focus: #{$core-ouds-color-functional-black};
  --#{$prefix}switch-color-cursor: #{$core-ouds-color-functional-white};
  --#{$prefix}switch-color-track-selected: #{$core-ouds-color-functional-malachite-500};
  --#{$prefix}switch-color-track-selected-interaction: #{$core-ouds-color-functional-malachite-600};
  --#{$prefix}switch-color-track-unselected: #{$core-ouds-color-opacity-black-440};
  --#{$prefix}switch-color-track-unselected-interaction: #{$core-ouds-color-opacity-black-520};
  --#{$prefix}tabs-color-bg-selected-default: #{$core-ouds-color-opacity-white-0};
  --#{$prefix}tabs-color-bg-selected-sticky: #{$core-ouds-color-opacity-white-0};
  --#{$prefix}tabs-color-bg-unselected-default: #{$core-ouds-color-opacity-white-0};
  --#{$prefix}tabs-color-bg-unselected-sticky: #{$core-ouds-color-opacity-white-0};
  --#{$prefix}tabs-color-gradient-drag-overlay-end: #{$core-ouds-color-opacity-white-40};
  --#{$prefix}button-social-color-content-focus: #{$ouds-color-content-on-action-focus-light};
}
// scss-docs-end ouds-component-css-color

@include color-mode(dark, true) {
  --#{$prefix}button-mono-color-bg-default-hover: #{$core-ouds-color-opacity-white-800};
  --#{$prefix}button-mono-color-bg-default-pressed: #{$core-ouds-color-opacity-black-680};
  --#{$prefix}button-mono-color-bg-default-loading: #{$core-ouds-color-opacity-black-680};
  --#{$prefix}button-mono-color-bg-default-focus: #{$core-ouds-color-opacity-white-800};
  --#{$prefix}button-mono-color-bg-minimal-hover: #{$core-ouds-color-opacity-white-800};
  --#{$prefix}button-mono-color-bg-minimal-pressed: #{$core-ouds-color-opacity-black-680};
  --#{$prefix}button-mono-color-bg-minimal-loading: #{$core-ouds-color-opacity-black-680};
  --#{$prefix}button-mono-color-bg-minimal-focus: #{$core-ouds-color-opacity-white-800};
  --#{$prefix}button-mono-color-bg-strong-enabled: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-bg-strong-hover: #{$core-ouds-color-opacity-white-800};
  --#{$prefix}button-mono-color-bg-strong-pressed: #{$core-ouds-color-opacity-black-680};
  --#{$prefix}button-mono-color-bg-strong-loading: #{$core-ouds-color-opacity-black-680};
  --#{$prefix}button-mono-color-bg-strong-disabled: #{$core-ouds-color-opacity-white-440};
  --#{$prefix}button-mono-color-bg-strong-focus: #{$core-ouds-color-opacity-white-800};
  --#{$prefix}button-mono-color-content-default-enabled: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-content-default-hover: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-content-default-pressed: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-content-default-loading: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-content-default-disabled: #{$core-ouds-color-opacity-white-440};
  --#{$prefix}button-mono-color-content-default-focus: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-content-minimal-enabled: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-content-minimal-hover: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-content-minimal-pressed: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-content-minimal-loading: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-content-minimal-disabled: #{$core-ouds-color-opacity-white-440};
  --#{$prefix}button-mono-color-content-minimal-focus: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-content-strong-enabled: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-content-strong-hover: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-content-strong-pressed: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-content-strong-loading: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-content-strong-disabled: #{$core-ouds-color-opacity-black-440};
  --#{$prefix}button-mono-color-content-strong-focus: #{$core-ouds-color-functional-black};
  --#{$prefix}button-mono-color-border-default-enabled: #{$core-ouds-color-functional-white};
  --#{$prefix}button-mono-color-border-default-disabled: #{$core-ouds-color-opacity-white-440};
  --#{$prefix}link-mono-color-content-enabled: #{$core-ouds-color-functional-white};
  --#{$prefix}link-mono-color-content-hover: #{$core-ouds-color-functional-white};
  --#{$prefix}link-mono-color-content-pressed: #{$core-ouds-color-opacity-white-800};
  --#{$prefix}link-mono-color-content-disabled: #{$core-ouds-color-opacity-white-440};
  --#{$prefix}link-mono-color-content-focus: #{$core-ouds-color-functional-white};
  --#{$prefix}switch-color-cursor: #{$core-ouds-color-functional-gray-dark-880};
  --#{$prefix}switch-color-track-selected: #{$core-ouds-color-functional-malachite-600};
  --#{$prefix}switch-color-track-selected-interaction: #{$core-ouds-color-functional-malachite-300};
  --#{$prefix}switch-color-track-unselected: #{$core-ouds-color-opacity-white-640};
  --#{$prefix}switch-color-track-unselected-interaction: #{$core-ouds-color-opacity-white-800};
  --#{$prefix}tabs-color-bg-selected-default: #{$core-ouds-color-opacity-black-0};
  --#{$prefix}tabs-color-bg-selected-sticky: #{$core-ouds-color-opacity-black-0};
  --#{$prefix}tabs-color-bg-unselected-default: #{$core-ouds-color-opacity-black-0};
  --#{$prefix}tabs-color-bg-unselected-sticky: #{$core-ouds-color-opacity-black-0};
  --#{$prefix}tabs-color-gradient-drag-overlay-end: #{$core-ouds-color-opacity-black-40};
  --#{$prefix}button-social-color-content-focus: #{$ouds-color-content-on-action-enabled-dark};
}
// scss-docs-end ouds-all-component-css-color
