// Component application
// Depends on semantic applications

// Button

// scss-docs-start ouds-component-button
$ouds-button-size-max-height: $ouds-dimension-600 !default;
$ouds-button-size-min-height: $ouds-dimension-600 !default;
$ouds-button-size-min-width: $ouds-dimension-600 !default;
$ouds-button-border-radius: $ouds-border-radius-none !default;
$ouds-button-border-width-default: $ouds-border-width-default !default;
$ouds-button-border-width-default-interaction: $ouds-border-width-medium !default;
$ouds-button-border-width-minimal: $ouds-border-width-none !default;
$ouds-button-border-width-minimal-interaction: $ouds-border-width-none !default;
$ouds-button-color-background-default-disabled: var(--#{$prefix}color-transparent-default) !default;
// $ouds-button-color-background-default-disabled-on-bg-emphasized: var(--#{$prefix}color-transparent-default) !default;
$ouds-button-color-background-default-enabled: var(--#{$prefix}color-transparent-default) !default;
// $ouds-button-color-background-default-enabled-on-bg-emphasized: var(--#{$prefix}color-transparent-default) !default;
$ouds-button-color-background-default-focus: var(--#{$prefix}color-transparent-default) !default;
// $ouds-button-color-background-default-focus-on-bg-emphasized: var(--#{$prefix}color-transparent-default) !default;
$ouds-button-color-background-default-hover: var(--#{$prefix}color-transparent-default) !default;
// $ouds-button-color-background-default-hover-on-bg-emphasized: var(--#{$prefix}color-transparent-default) !default;
$ouds-button-color-background-default-loading: var(--#{$prefix}color-transparent-default) !default;
// $ouds-button-color-background-default-loading-on-bg-emphasized: var(--#{$prefix}color-transparent-default) !default;
$ouds-button-color-background-default-pressed: var(--#{$prefix}color-transparent-default) !default;
// $ouds-button-color-background-default-pressed-on-bg-emphasized: var(--#{$prefix}color-transparent-default) !default;
$ouds-button-color-background-minimal-disabled: var(--#{$prefix}color-transparent-default) !default;
// $ouds-button-color-background-minimal-disabled-on-bg-emphasized: var(--#{$prefix}color-transparent-default) !default;
$ouds-button-color-background-minimal-enabled: var(--#{$prefix}color-transparent-default) !default;
// $ouds-button-color-background-minimal-enabled-on-bg-emphasized: var(--#{$prefix}color-transparent-default) !default;
$ouds-button-color-border-minimal-disabled: var(--#{$prefix}color-transparent-default) !default;
// $ouds-button-color-border-minimal-disabled-on-bg-emphasized: var(--#{$prefix}color-transparent-default) !default;
$ouds-button-color-border-minimal-enabled: var(--#{$prefix}color-transparent-default) !default;
// $ouds-button-color-border-minimal-enabled-on-bg-emphasized: var(--#{$prefix}color-transparent-default) !default;
$ouds-button-color-border-minimal-hover: var(--#{$prefix}color-transparent-default) !default;
// $ouds-button-color-border-minimal-hover-on-bg-emphasized: var(--#{$prefix}color-transparent-default) !default;
$ouds-button-color-border-minimal-loading: var(--#{$prefix}color-transparent-default) !default;
// $ouds-button-color-border-minimal-loading-on-bg-emphasized: var(--#{$prefix}color-transparent-default) !default;
$ouds-button-color-border-minimal-pressed: var(--#{$prefix}color-transparent-default) !default;
// $ouds-button-color-border-minimal-pressed-on-bg-emphasized: var(--#{$prefix}color-transparent-default) !default;
$ouds-button-color-background-minimal-focus: var(--#{$prefix}color-action-secondary-focus) !default;
// $ouds-button-color-background-minimal-focus-on-bg-emphasized: var(--#{$prefix}color-action-secondary-focus-on-bg-emphasized) !default;
$ouds-button-color-background-minimal-hover: var(--#{$prefix}color-action-secondary-hover) !default;
// $ouds-button-color-background-minimal-hover-on-bg-emphasized: var(--#{$prefix}color-action-secondary-hover-on-bg-emphasized) !default;
$ouds-button-color-background-minimal-loading: var(--#{$prefix}color-action-secondary-loading) !default;
// $ouds-button-color-background-minimal-loading-on-bg-emphasized: var(--#{$prefix}color-action-secondary-loading-on-bg-emphasized) !default;
$ouds-button-color-background-minimal-pressed: var(--#{$prefix}color-action-secondary-pressed) !default;
// $ouds-button-color-background-minimal-pressed-on-bg-emphasized: var(--#{$prefix}color-action-secondary-pressed-on-bg-emphasized) !default;
$ouds-button-color-border-default-disabled: var(--#{$prefix}color-action-disabled) !default;
// $ouds-button-color-border-default-disabled-on-bg-emphasized: var(--#{$prefix}color-action-disabled-on-bg-emphasized) !default;
$ouds-button-color-border-default-enabled: var(--#{$prefix}color-action-primary-enabled) !default;
// $ouds-button-color-border-default-enabled-on-bg-emphasized: var(--#{$prefix}color-action-primary-enabled-on-bg-emphasized) !default;
$ouds-button-color-border-default-hover: var(--#{$prefix}color-action-primary-hover) !default;
// $ouds-button-color-border-default-hover-on-bg-emphasized: var(--#{$prefix}color-action-primary-hover-on-bg-emphasized) !default;
$ouds-button-color-border-default-loading: var(--#{$prefix}color-action-primary-loading) !default;
// $ouds-button-color-border-default-loading-on-bg-emphasized: var(--#{$prefix}color-action-primary-loading-on-bg-emphasized) !default;
$ouds-button-color-border-default-pressed: var(--#{$prefix}color-action-primary-pressed) !default;
// $ouds-button-color-border-default-pressed-on-bg-emphasized: var(--#{$prefix}color-action-primary-pressed-on-bg-emphasized) !default;
$ouds-button-color-content-default-disabled: var(--#{$prefix}color-action-disabled) !default;
// $ouds-button-color-content-default-disabled-on-bg-emphasized: var(--#{$prefix}color-action-disabled-on-bg-emphasized) !default;
$ouds-button-color-content-default-enabled: var(--#{$prefix}color-action-primary-enabled) !default;
// $ouds-button-color-content-default-enabled-on-bg-emphasized: var(--#{$prefix}color-action-primary-enabled-on-bg-emphasized) !default;
$ouds-button-color-content-default-focus: var(--#{$prefix}color-action-primary-focus) !default;
// $ouds-button-color-content-default-focus-on-bg-emphasized: var(--#{$prefix}color-action-primary-focus-on-bg-emphasized) !default;
$ouds-button-color-content-default-hover: var(--#{$prefix}color-action-primary-hover) !default;
// $ouds-button-color-content-default-hover-on-bg-emphasized: var(--#{$prefix}color-action-primary-hover-on-bg-emphasized) !default;
$ouds-button-color-content-default-loading: var(--#{$prefix}color-action-primary-loading) !default;
// $ouds-button-color-content-default-loading-on-bg-emphasized: var(--#{$prefix}color-action-primary-loading-on-bg-emphasized) !default;
$ouds-button-color-content-default-pressed: var(--#{$prefix}color-action-primary-pressed) !default;
// $ouds-button-color-content-default-pressed-on-bg-emphasized: var(--#{$prefix}color-action-primary-pressed-on-bg-emphasized) !default;
$ouds-button-color-content-minimal-disabled: var(--#{$prefix}color-action-disabled) !default;
// $ouds-button-color-content-minimal-disabled-on-bg-emphasized: var(--#{$prefix}color-action-disabled-on-bg-emphasized) !default;
$ouds-button-color-content-minimal-enabled: var(--#{$prefix}color-action-primary-enabled) !default;
// $ouds-button-color-content-minimal-enabled-on-bg-emphasized: var(--#{$prefix}color-action-primary-enabled-on-bg-emphasized) !default;
$ouds-button-color-content-minimal-focus: var(--#{$prefix}color-action-primary-focus) !default;
// $ouds-button-color-content-minimal-focus-on-bg-emphasized: var(--#{$prefix}color-action-primary-focus-on-bg-emphasized) !default;
$ouds-button-color-content-minimal-hover: var(--#{$prefix}color-action-primary-hover) !default;
// $ouds-button-color-content-minimal-hover-on-bg-emphasized: var(--#{$prefix}color-action-primary-hover-on-bg-emphasized) !default;
$ouds-button-color-content-minimal-loading: var(--#{$prefix}color-action-primary-loading) !default;
// $ouds-button-color-content-minimal-loading-on-bg-emphasized: var(--#{$prefix}color-action-primary-loading-on-bg-emphasized) !default;
$ouds-button-color-content-minimal-pressed: var(--#{$prefix}color-action-primary-pressed) !default;
// $ouds-button-color-content-minimal-pressed-on-bg-emphasized: var(--#{$prefix}color-action-primary-pressed-on-bg-emphasized) !default;
$ouds-button-size-icon: $ouds-size-icon-with-label-large-size-shorter !default;
$ouds-button-size-icon-only: $ouds-size-icon-with-label-large-size-short !default;
$ouds-button-size-loader: $ouds-size-icon-with-label-large-size-shorter !default;
$ouds-button-space-column-gap-arrow: $ouds-space-column-gap-with-arrow-short !default;
$ouds-button-space-column-gap-icon: $ouds-space-column-gap-with-icon-medium !default;
$ouds-button-space-inset-icon-alone: $ouds-space-inset-medium !default;
$ouds-button-space-padding-block: $ouds-space-padding-block-medium !default;
$ouds-button-space-padding-inline-arrow-end: $ouds-space-padding-inline-with-arrow-tall !default;
$ouds-button-space-padding-inline-arrow-start: $ouds-space-padding-inline-with-arrow-tall !default;
$ouds-button-space-padding-inline-end-icon-start: $ouds-space-padding-inline-taller !default;
$ouds-button-space-padding-inline-icon-none: $ouds-space-padding-inline-tallest !default;
$ouds-button-space-padding-inline-icon-start: $ouds-space-padding-inline-with-icon-tall !default;
$ouds-button-space-padding-inline-start-icon-end: $ouds-space-padding-inline-taller !default;
// scss-docs-end ouds-component-button
