@import "../color-palette";

//// Raw primitive values
//// Insertion of brand foundations

// Opacity

// scss-docs-start ouds-opacities-variables
$ouds-opacity-0:   0 !default;
$ouds-opacity-100: .04 !default;
// $ouds-opacity-200: .08 !default;
$ouds-opacity-300: .16 !default;
// $ouds-opacity-400: .24 !default;
$ouds-opacity-500: .32 !default;
// $ouds-opacity-600: .48 !default;
$ouds-opacity-700: .64 !default;
// $ouds-opacity-800: .88 !default;
$ouds-opacity-900: 1 !default;
// scss-docs-end ouds-opacities-variables

// Elevation

// scss-docs-start ouds-raw-shadow
// Box-shadow
$ouds-box-shadow-x-0:           0 !default;

$ouds-box-shadow-y-0:           0 !default;
$ouds-box-shadow-y-100:         1px !default;
$ouds-box-shadow-y-200:         2px !default;
$ouds-box-shadow-y-300:         4px !default;
$ouds-box-shadow-y-400:         8px !default;
$ouds-box-shadow-y-500:         12px !default;
$ouds-box-shadow-y-600:         20px !default;

$ouds-box-shadow-blur-0:        0 !default;
// $ouds-box-shadow-blur-100:      1px !default;
$ouds-box-shadow-blur-200:      2px !default;
$ouds-box-shadow-blur-300:      3px !default;
$ouds-box-shadow-blur-400:      4px !default;
$ouds-box-shadow-blur-500:      8px !default;
$ouds-box-shadow-blur-600:      12px !default;
$ouds-box-shadow-blur-700:      20px !default;

$ouds-box-shadow-spread-n400:   -8px !default;
$ouds-box-shadow-spread-n300:   -4px !default;
$ouds-box-shadow-spread-n200:   -2px !default;
$ouds-box-shadow-spread-n100:   -1px !default;
$ouds-box-shadow-spread-0:      0 !default;
$ouds-box-shadow-spread-300:    3px !default;

// TODO: Decide if we keep all these or not. If we keep these, add the color at the end.
$ouds-box-shadow-bottom-0:      none !default;
$ouds-box-shadow-bottom-1-100:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-100 $ouds-box-shadow-blur-200 $ouds-box-shadow-spread-0 rgba(0, 0, 0, .04) !default;
$ouds-box-shadow-bottom-1-200:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-100 $ouds-box-shadow-blur-200 $ouds-box-shadow-spread-0 rgba(0, 0, 0, .08) !default;
$ouds-box-shadow-bottom-1-300:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-100 $ouds-box-shadow-blur-200 $ouds-box-shadow-spread-0 rgba(0, 0, 0, .16) !default;
$ouds-box-shadow-bottom-1-400:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-100 $ouds-box-shadow-blur-200 $ouds-box-shadow-spread-0 rgba(0, 0, 0, .24) !default;
$ouds-box-shadow-bottom-1-500:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-100 $ouds-box-shadow-blur-200 $ouds-box-shadow-spread-0 rgba(0, 0, 0, .32) !default;
$ouds-box-shadow-bottom-1-600:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-100 $ouds-box-shadow-blur-200 $ouds-box-shadow-spread-0 rgba(0, 0, 0, .48) !default;
$ouds-box-shadow-bottom-2-100:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-200 $ouds-box-shadow-blur-300 $ouds-box-shadow-spread-0 rgba(0, 0, 0, .04) !default;
$ouds-box-shadow-bottom-2-200:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-200 $ouds-box-shadow-blur-300 $ouds-box-shadow-spread-0 rgba(0, 0, 0, .08) !default;
$ouds-box-shadow-bottom-2-300:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-200 $ouds-box-shadow-blur-300 $ouds-box-shadow-spread-0 rgba(0, 0, 0, .16) !default;
$ouds-box-shadow-bottom-2-400:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-200 $ouds-box-shadow-blur-300 $ouds-box-shadow-spread-0 rgba(0, 0, 0, .24) !default;
$ouds-box-shadow-bottom-2-500:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-200 $ouds-box-shadow-blur-300 $ouds-box-shadow-spread-0 rgba(0, 0, 0, .32) !default;
$ouds-box-shadow-bottom-2-600:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-200 $ouds-box-shadow-blur-300 $ouds-box-shadow-spread-0 rgba(0, 0, 0, .48) !default;
$ouds-box-shadow-bottom-3-100:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-300 $ouds-box-shadow-blur-400 $ouds-box-shadow-spread-n100 rgba(0, 0, 0, .04) !default;
$ouds-box-shadow-bottom-3-200:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-300 $ouds-box-shadow-blur-400 $ouds-box-shadow-spread-n100 rgba(0, 0, 0, .08) !default;
$ouds-box-shadow-bottom-3-300:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-300 $ouds-box-shadow-blur-400 $ouds-box-shadow-spread-n100 rgba(0, 0, 0, .16) !default;
$ouds-box-shadow-bottom-3-400:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-300 $ouds-box-shadow-blur-400 $ouds-box-shadow-spread-n100 rgba(0, 0, 0, .24) !default;
$ouds-box-shadow-bottom-3-500:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-300 $ouds-box-shadow-blur-400 $ouds-box-shadow-spread-n100 rgba(0, 0, 0, .32) !default;
$ouds-box-shadow-bottom-3-600:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-300 $ouds-box-shadow-blur-400 $ouds-box-shadow-spread-n100 rgba(0, 0, 0, .48) !default;
$ouds-box-shadow-bottom-4-100:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-400 $ouds-box-shadow-blur-500 $ouds-box-shadow-spread-n200 rgba(0, 0, 0, .04) !default;
$ouds-box-shadow-bottom-4-200:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-400 $ouds-box-shadow-blur-500 $ouds-box-shadow-spread-n200 rgba(0, 0, 0, .08) !default;
$ouds-box-shadow-bottom-4-300:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-400 $ouds-box-shadow-blur-500 $ouds-box-shadow-spread-n200 rgba(0, 0, 0, .16) !default;
$ouds-box-shadow-bottom-4-400:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-400 $ouds-box-shadow-blur-500 $ouds-box-shadow-spread-n200 rgba(0, 0, 0, .24) !default;
$ouds-box-shadow-bottom-4-500:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-400 $ouds-box-shadow-blur-500 $ouds-box-shadow-spread-n200 rgba(0, 0, 0, .32) !default;
$ouds-box-shadow-bottom-4-600:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-400 $ouds-box-shadow-blur-500 $ouds-box-shadow-spread-n200 rgba(0, 0, 0, .48) !default;
$ouds-box-shadow-bottom-5-100:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-500 $ouds-box-shadow-blur-600 $ouds-box-shadow-spread-n300 rgba(0, 0, 0, .04) !default;
$ouds-box-shadow-bottom-5-200:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-500 $ouds-box-shadow-blur-600 $ouds-box-shadow-spread-n300 rgba(0, 0, 0, .08) !default;
$ouds-box-shadow-bottom-5-300:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-500 $ouds-box-shadow-blur-600 $ouds-box-shadow-spread-n300 rgba(0, 0, 0, .16) !default;
$ouds-box-shadow-bottom-5-400:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-500 $ouds-box-shadow-blur-600 $ouds-box-shadow-spread-n300 rgba(0, 0, 0, .24) !default;
$ouds-box-shadow-bottom-5-500:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-500 $ouds-box-shadow-blur-600 $ouds-box-shadow-spread-n300 rgba(0, 0, 0, .32) !default;
$ouds-box-shadow-bottom-5-600:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-500 $ouds-box-shadow-blur-600 $ouds-box-shadow-spread-n300 rgba(0, 0, 0, .48) !default;
$ouds-box-shadow-bottom-6-100:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-600 $ouds-box-shadow-blur-700 $ouds-box-shadow-spread-n400 rgba(0, 0, 0, .04) !default;
$ouds-box-shadow-bottom-6-200:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-600 $ouds-box-shadow-blur-700 $ouds-box-shadow-spread-n400 rgba(0, 0, 0, .08) !default;
$ouds-box-shadow-bottom-6-300:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-600 $ouds-box-shadow-blur-700 $ouds-box-shadow-spread-n400 rgba(0, 0, 0, .16) !default;
$ouds-box-shadow-bottom-6-400:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-600 $ouds-box-shadow-blur-700 $ouds-box-shadow-spread-n400 rgba(0, 0, 0, .24) !default;
$ouds-box-shadow-bottom-6-500:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-600 $ouds-box-shadow-blur-700 $ouds-box-shadow-spread-n400 rgba(0, 0, 0, .32) !default;
$ouds-box-shadow-bottom-6-600:  $ouds-box-shadow-x-0 $ouds-box-shadow-y-600 $ouds-box-shadow-blur-700 $ouds-box-shadow-spread-n400 rgba(0, 0, 0, .48) !default;
// scss-docs-end ouds-raw-shadow

// .shadow-0 { box-shadow: $ouds-box-shadow-bottom-0; }
// .shadow-1-100 { box-shadow: $ouds-box-shadow-bottom-1-100; }
// .shadow-1-200 { box-shadow: $ouds-box-shadow-bottom-1-200; }
// .shadow-1-300 { box-shadow: $ouds-box-shadow-bottom-1-300; }
// .shadow-1-400 { box-shadow: $ouds-box-shadow-bottom-1-400; }
// .shadow-1-500 { box-shadow: $ouds-box-shadow-bottom-1-500; }
// .shadow-1-600 { box-shadow: $ouds-box-shadow-bottom-1-600; }
// .shadow-2-100 { box-shadow: $ouds-box-shadow-bottom-2-100; }
// .shadow-2-200 { box-shadow: $ouds-box-shadow-bottom-2-200; }
// .shadow-2-300 { box-shadow: $ouds-box-shadow-bottom-2-300; }
// .shadow-2-400 { box-shadow: $ouds-box-shadow-bottom-2-400; }
// .shadow-2-500 { box-shadow: $ouds-box-shadow-bottom-2-500; }
// .shadow-2-600 { box-shadow: $ouds-box-shadow-bottom-2-600; }
// .shadow-3-100 { box-shadow: $ouds-box-shadow-bottom-3-100; }
// .shadow-3-200 { box-shadow: $ouds-box-shadow-bottom-3-200; }
// .shadow-3-300 { box-shadow: $ouds-box-shadow-bottom-3-300; }
// .shadow-3-400 { box-shadow: $ouds-box-shadow-bottom-3-400; }
// .shadow-3-500 { box-shadow: $ouds-box-shadow-bottom-3-500; }
// .shadow-3-600 { box-shadow: $ouds-box-shadow-bottom-3-600; }
// .shadow-4-100 { box-shadow: $ouds-box-shadow-bottom-4-100; }
// .shadow-4-200 { box-shadow: $ouds-box-shadow-bottom-4-200; }
// .shadow-4-300 { box-shadow: $ouds-box-shadow-bottom-4-300; }
// .shadow-4-400 { box-shadow: $ouds-box-shadow-bottom-4-400; }
// .shadow-4-500 { box-shadow: $ouds-box-shadow-bottom-4-500; }
// .shadow-4-600 { box-shadow: $ouds-box-shadow-bottom-4-600; }
// .shadow-5-100 { box-shadow: $ouds-box-shadow-bottom-5-100; }
// .shadow-5-200 { box-shadow: $ouds-box-shadow-bottom-5-200; }
// .shadow-5-300 { box-shadow: $ouds-box-shadow-bottom-5-300; }
// .shadow-5-400 { box-shadow: $ouds-box-shadow-bottom-5-400; }
// .shadow-5-500 { box-shadow: $ouds-box-shadow-bottom-5-500; }
// .shadow-5-600 { box-shadow: $ouds-box-shadow-bottom-5-600; }
// .shadow-6-100 { box-shadow: $ouds-box-shadow-bottom-6-100; }
// .shadow-6-200 { box-shadow: $ouds-box-shadow-bottom-6-200; }
// .shadow-6-300 { box-shadow: $ouds-box-shadow-bottom-6-300; }
// .shadow-6-400 { box-shadow: $ouds-box-shadow-bottom-6-400; }
// .shadow-6-500 { box-shadow: $ouds-box-shadow-bottom-6-500; }
// .shadow-6-600 { box-shadow: $ouds-box-shadow-bottom-6-600; }
