@import "../color-palette";

//// Raw primitive values
//// Insertion of brand foundations

// Opacity

// scss-docs-start ouds-opacities-variables
$ouds-opacity-0:   0 !default;
$ouds-opacity-100: .04 !default;
// $ouds-opacity-200: .08 !default;
$ouds-opacity-300: .16 !default;
// $ouds-opacity-400: .24 !default;
$ouds-opacity-500: .32 !default;
// $ouds-opacity-600: .48 !default;
$ouds-opacity-700: .64 !default;
// $ouds-opacity-800: .88 !default;
$ouds-opacity-900: 1 !default;
// scss-docs-end ouds-opacities-variables

// Elevation

// scss-docs-start ouds-raw-shadow
// Box-shadow
$ouds-box-shadow-x-0:           0 !default;

$ouds-box-shadow-y-0:           0 !default;
$ouds-box-shadow-y-100:         1px !default;
$ouds-box-shadow-y-200:         2px !default;
$ouds-box-shadow-y-300:         4px !default;
// $ouds-box-shadow-y-400:         8px !default;
$ouds-box-shadow-y-500:         12px !default;
// $ouds-box-shadow-y-600:         20px !default;

$ouds-box-shadow-blur-0:        0 !default;
// $ouds-box-shadow-blur-100:      1px !default;
$ouds-box-shadow-blur-200:      2px !default;
$ouds-box-shadow-blur-300:      3px !default;
$ouds-box-shadow-blur-400:      4px !default;
// $ouds-box-shadow-blur-500:      8px !default;
$ouds-box-shadow-blur-600:      12px !default;
// $ouds-box-shadow-blur-700:      20px !default;

// $ouds-box-shadow-spread-n400:   -8px !default;
$ouds-box-shadow-spread-n300:   -4px !default;
// $ouds-box-shadow-spread-n200:   -2px !default;
$ouds-box-shadow-spread-n100:   -1px !default;
$ouds-box-shadow-spread-0:      0 !default;
$ouds-box-shadow-spread-300:    3px !default;
// scss-docs-end ouds-raw-shadow
