:root,
[data-bs-theme="light"] {
  --#{$prefix}color-opacity-invisible-black: #{$ouds-color-opacity-invisible-black-light};
  --#{$prefix}color-opacity-invisible-white: #{$ouds-color-opacity-invisible-white-light};
  --#{$prefix}color-action-disabled: #{$ouds-color-action-disabled-light};
  --#{$prefix}color-action-enabled: #{$ouds-color-action-enabled-light};
  --#{$prefix}color-action-focus: #{$ouds-color-action-focus-light};
  --#{$prefix}color-action-highlighted: #{$ouds-color-action-highlighted-light};
  --#{$prefix}color-action-hover: #{$ouds-color-action-hover-light};
  --#{$prefix}color-action-loading: #{$ouds-color-action-loading-light};
  --#{$prefix}color-action-negative-enabled: #{$ouds-color-action-negative-enabled-light};
  --#{$prefix}color-action-negative-focus: #{$ouds-color-action-negative-focus-light};
  --#{$prefix}color-action-negative-hover: #{$ouds-color-action-negative-hover-light};
  --#{$prefix}color-action-negative-loading: #{$ouds-color-action-negative-loading-light};
  --#{$prefix}color-action-negative-pressed: #{$ouds-color-action-negative-pressed-light};
  --#{$prefix}color-action-pressed: #{$ouds-color-action-pressed-light};
  --#{$prefix}color-action-selected: #{$ouds-color-action-selected-light};
  --#{$prefix}color-action-support-enabled: #{$ouds-color-action-support-enabled-light};
  --#{$prefix}color-action-support-focus: #{$ouds-color-action-support-focus-light};
  --#{$prefix}color-action-support-hover: #{$ouds-color-action-support-hover-light};
  --#{$prefix}color-action-support-loading: #{$ouds-color-action-support-loading-light};
  --#{$prefix}color-action-support-pressed: #{$ouds-color-action-support-pressed-light};
  --#{$prefix}color-action-visited: #{$ouds-color-action-visited-light};
  --#{$prefix}color-always-black: #{$ouds-color-always-black-light};
  --#{$prefix}color-always-on-black: #{$ouds-color-always-on-black-light};
  --#{$prefix}color-always-on-white: #{$ouds-color-always-on-white-light};
  --#{$prefix}color-always-white: #{$ouds-color-always-white-light};
  --#{$prefix}color-bg-emphasized: #{$ouds-color-bg-emphasized-light};
  --#{$prefix}color-bg-primary: #{$ouds-color-bg-primary-light};
  --#{$prefix}color-bg-secondary: #{$ouds-color-bg-secondary-light};
  --#{$prefix}color-bg-tertiary: #{$ouds-color-bg-tertiary-light};
  --#{$prefix}color-border-brand-primary: #{$ouds-color-border-brand-primary-light};
  --#{$prefix}color-border-default: #{$ouds-color-border-default-light};
  --#{$prefix}color-border-emphasized: #{$ouds-color-border-emphasized-light};
  --#{$prefix}color-border-focus: #{$ouds-color-border-focus-light};
  --#{$prefix}color-border-focus-inset: #{$ouds-color-border-focus-inset-light};
  --#{$prefix}color-border-on-brand-primary: #{$ouds-color-border-on-brand-primary-light};
  --#{$prefix}color-content-brand-primary: #{$ouds-color-content-brand-primary-light};
  --#{$prefix}color-content-default: #{$ouds-color-content-default-light};
  --#{$prefix}color-content-disabled: #{$ouds-color-content-disabled-light};
  --#{$prefix}color-content-muted: #{$ouds-color-content-muted-light};
  --#{$prefix}color-content-on-action-disabled: #{$ouds-color-content-on-action-disabled-light};
  --#{$prefix}color-content-on-action-enabled: #{$ouds-color-content-on-action-enabled-light};
  --#{$prefix}color-content-on-action-focus: #{$ouds-color-content-on-action-focus-light};
  --#{$prefix}color-content-on-action-highlighted: #{$ouds-color-content-on-action-highlighted-light};
  --#{$prefix}color-content-on-action-hover: #{$ouds-color-content-on-action-hover-light};
  --#{$prefix}color-content-on-action-loading: #{$ouds-color-content-on-action-loading-light};
  --#{$prefix}color-content-on-action-negative: #{$ouds-color-content-on-action-negative-light};
  --#{$prefix}color-content-on-action-pressed: #{$ouds-color-content-on-action-pressed-light};
  --#{$prefix}color-content-on-brand-primary: #{$ouds-color-content-on-brand-primary-light};
  --#{$prefix}color-content-on-overlay-emphasized: #{$ouds-color-content-on-overlay-emphasized-light};
  --#{$prefix}color-content-on-status-emphasized: #{$ouds-color-content-on-status-emphasized-light};
  --#{$prefix}color-content-on-status-emphasized-neutral: #{$ouds-color-content-on-status-emphasized-neutral-light};
  --#{$prefix}color-content-on-status-muted: #{$ouds-color-content-on-status-muted-light};
  --#{$prefix}color-content-status-info: #{$ouds-color-content-status-info-light};
  --#{$prefix}color-content-status-negative: #{$ouds-color-content-status-negative-light};
  --#{$prefix}color-content-status-positive: #{$ouds-color-content-status-positive-light};
  --#{$prefix}color-content-status-warning: #{$ouds-color-content-status-warning-light};
  --#{$prefix}color-overlay-default: #{$ouds-color-overlay-default-light};
  --#{$prefix}color-overlay-drag: #{$ouds-color-overlay-drag-light};
  --#{$prefix}color-overlay-emphasized: #{$ouds-color-overlay-emphasized-light};
  --#{$prefix}color-overlay-modal: #{$ouds-color-overlay-modal-light};
  --#{$prefix}color-surface-brand-primary: #{$ouds-color-surface-brand-primary-light};
  --#{$prefix}color-surface-status-accent-emphasized: #{$ouds-color-surface-status-accent-emphasized-light};
  --#{$prefix}color-surface-status-accent-muted: #{$ouds-color-surface-status-accent-muted-light};
  --#{$prefix}color-surface-status-info-emphasized: #{$ouds-color-surface-status-info-emphasized-light};
  --#{$prefix}color-surface-status-info-muted: #{$ouds-color-surface-status-info-muted-light};
  --#{$prefix}color-surface-status-negative-emphasized: #{$ouds-color-surface-status-negative-emphasized-light};
  --#{$prefix}color-surface-status-negative-muted: #{$ouds-color-surface-status-negative-muted-light};
  --#{$prefix}color-surface-status-neutral-emphasized: #{$ouds-color-surface-status-neutral-emphasized-light};
  --#{$prefix}color-surface-status-neutral-muted: #{$ouds-color-surface-status-neutral-muted-light};
  --#{$prefix}color-surface-status-positive-emphasized: #{$ouds-color-surface-status-positive-emphasized-light};
  --#{$prefix}color-surface-status-positive-muted: #{$ouds-color-surface-status-positive-muted-light};
  --#{$prefix}color-surface-status-warning-emphasized: #{$ouds-color-surface-status-warning-emphasized-light};
  --#{$prefix}color-surface-status-warning-muted: #{$ouds-color-surface-status-warning-muted-light};
  --#{$prefix}color-decorative-accent-1-default: #{$ouds-color-decorative-accent-1-default-light};
  --#{$prefix}color-decorative-accent-1-emphasized: #{$ouds-color-decorative-accent-1-emphasized-light};
  --#{$prefix}color-decorative-accent-1-muted: #{$ouds-color-decorative-accent-1-muted-light};
  --#{$prefix}color-decorative-accent-2-default: #{$ouds-color-decorative-accent-2-default-light};
  --#{$prefix}color-decorative-accent-2-emphasized: #{$ouds-color-decorative-accent-2-emphasized-light};
  --#{$prefix}color-decorative-accent-2-muted: #{$ouds-color-decorative-accent-2-muted-light};
  --#{$prefix}color-decorative-accent-3-default: #{$ouds-color-decorative-accent-3-default-light};
  --#{$prefix}color-decorative-accent-3-emphasized: #{$ouds-color-decorative-accent-3-emphasized-light};
  --#{$prefix}color-decorative-accent-3-muted: #{$ouds-color-decorative-accent-3-muted-light};
  --#{$prefix}color-decorative-accent-4-default: #{$ouds-color-decorative-accent-4-default-light};
  --#{$prefix}color-decorative-accent-4-emphasized: #{$ouds-color-decorative-accent-4-emphasized-light};
  --#{$prefix}color-decorative-accent-4-muted: #{$ouds-color-decorative-accent-4-muted-light};
  --#{$prefix}color-decorative-accent-5-default: #{$ouds-color-decorative-accent-5-default-light};
  --#{$prefix}color-decorative-accent-5-emphasized: #{$ouds-color-decorative-accent-5-emphasized-light};
  --#{$prefix}color-decorative-accent-5-muted: #{$ouds-color-decorative-accent-5-muted-light};
  --#{$prefix}color-decorative-brand-primary: #{$ouds-color-decorative-brand-primary-light};
  --#{$prefix}color-decorative-brand-secondary: #{$ouds-color-decorative-brand-secondary-light};
  --#{$prefix}color-decorative-brand-tertiary: #{$ouds-color-decorative-brand-tertiary-light};
  --#{$prefix}color-decorative-neutral-default: #{$ouds-color-decorative-neutral-default-light};
  --#{$prefix}color-decorative-neutral-emphasized: #{$ouds-color-decorative-neutral-emphasized-light};
  --#{$prefix}color-decorative-neutral-muted: #{$ouds-color-decorative-neutral-muted-light};
  --#{$prefix}color-decorative-skin-tint-100: #{$ouds-color-decorative-skin-tint-100-light};
  --#{$prefix}color-decorative-skin-tint-200: #{$ouds-color-decorative-skin-tint-200-light};
  --#{$prefix}color-decorative-skin-tint-300: #{$ouds-color-decorative-skin-tint-300-light};
  --#{$prefix}color-decorative-skin-tint-400: #{$ouds-color-decorative-skin-tint-400-light};
  --#{$prefix}color-decorative-skin-tint-500: #{$ouds-color-decorative-skin-tint-500-light};
  --#{$prefix}color-decorative-skin-tint-600: #{$ouds-color-decorative-skin-tint-600-light};
  --#{$prefix}color-decorative-skin-tint-700: #{$ouds-color-decorative-skin-tint-700-light};
  --#{$prefix}color-decorative-skin-tint-800: #{$ouds-color-decorative-skin-tint-800-light};
  --#{$prefix}color-decorative-skin-tint-900: #{$ouds-color-decorative-skin-tint-900-light};
}

[data-bs-theme="dark"] {
  --#{$prefix}color-opacity-invisible-black: #{$ouds-color-opacity-invisible-black-dark};
  --#{$prefix}color-opacity-invisible-white: #{$ouds-color-opacity-invisible-white-dark};
  --#{$prefix}color-action-disabled: #{$ouds-color-action-disabled-dark};
  --#{$prefix}color-action-enabled: #{$ouds-color-action-enabled-dark};
  --#{$prefix}color-action-focus: #{$ouds-color-action-focus-dark};
  --#{$prefix}color-action-highlighted: #{$ouds-color-action-highlighted-dark};
  --#{$prefix}color-action-hover: #{$ouds-color-action-hover-dark};
  --#{$prefix}color-action-loading: #{$ouds-color-action-loading-dark};
  --#{$prefix}color-action-negative-enabled: #{$ouds-color-action-negative-enabled-dark};
  --#{$prefix}color-action-negative-focus: #{$ouds-color-action-negative-focus-dark};
  --#{$prefix}color-action-negative-hover: #{$ouds-color-action-negative-hover-dark};
  --#{$prefix}color-action-negative-loading: #{$ouds-color-action-negative-loading-dark};
  --#{$prefix}color-action-negative-pressed: #{$ouds-color-action-negative-pressed-dark};
  --#{$prefix}color-action-pressed: #{$ouds-color-action-pressed-dark};
  --#{$prefix}color-action-selected: #{$ouds-color-action-selected-dark};
  --#{$prefix}color-action-support-enabled: #{$ouds-color-action-support-enabled-dark};
  --#{$prefix}color-action-support-focus: #{$ouds-color-action-support-focus-dark};
  --#{$prefix}color-action-support-hover: #{$ouds-color-action-support-hover-dark};
  --#{$prefix}color-action-support-loading: #{$ouds-color-action-support-loading-dark};
  --#{$prefix}color-action-support-pressed: #{$ouds-color-action-support-pressed-dark};
  --#{$prefix}color-action-visited: #{$ouds-color-action-visited-dark};
  --#{$prefix}color-always-black: #{$ouds-color-always-black-dark};
  --#{$prefix}color-always-on-black: #{$ouds-color-always-on-black-dark};
  --#{$prefix}color-always-on-white: #{$ouds-color-always-on-white-dark};
  --#{$prefix}color-always-white: #{$ouds-color-always-white-dark};
  --#{$prefix}color-bg-emphasized: #{$ouds-color-bg-emphasized-dark};
  --#{$prefix}color-bg-primary: #{$ouds-color-bg-primary-dark};
  --#{$prefix}color-bg-secondary: #{$ouds-color-bg-secondary-dark};
  --#{$prefix}color-bg-tertiary: #{$ouds-color-bg-tertiary-dark};
  --#{$prefix}color-border-brand-primary: #{$ouds-color-border-brand-primary-dark};
  --#{$prefix}color-border-default: #{$ouds-color-border-default-dark};
  --#{$prefix}color-border-emphasized: #{$ouds-color-border-emphasized-dark};
  --#{$prefix}color-border-focus: #{$ouds-color-border-focus-dark};
  --#{$prefix}color-border-focus-inset: #{$ouds-color-border-focus-inset-dark};
  --#{$prefix}color-border-on-brand-primary: #{$ouds-color-border-on-brand-primary-dark};
  --#{$prefix}color-content-brand-primary: #{$ouds-color-content-brand-primary-dark};
  --#{$prefix}color-content-default: #{$ouds-color-content-default-dark};
  --#{$prefix}color-content-disabled: #{$ouds-color-content-disabled-dark};
  --#{$prefix}color-content-muted: #{$ouds-color-content-muted-dark};
  --#{$prefix}color-content-on-action-disabled: #{$ouds-color-content-on-action-disabled-dark};
  --#{$prefix}color-content-on-action-enabled: #{$ouds-color-content-on-action-enabled-dark};
  --#{$prefix}color-content-on-action-focus: #{$ouds-color-content-on-action-focus-dark};
  --#{$prefix}color-content-on-action-highlighted: #{$ouds-color-content-on-action-highlighted-dark};
  --#{$prefix}color-content-on-action-hover: #{$ouds-color-content-on-action-hover-dark};
  --#{$prefix}color-content-on-action-loading: #{$ouds-color-content-on-action-loading-dark};
  --#{$prefix}color-content-on-action-negative: #{$ouds-color-content-on-action-negative-dark};
  --#{$prefix}color-content-on-action-pressed: #{$ouds-color-content-on-action-pressed-dark};
  --#{$prefix}color-content-on-brand-primary: #{$ouds-color-content-on-brand-primary-dark};
  --#{$prefix}color-content-on-overlay-emphasized: #{$ouds-color-content-on-overlay-emphasized-dark};
  --#{$prefix}color-content-on-status-emphasized: #{$ouds-color-content-on-status-emphasized-dark};
  --#{$prefix}color-content-on-status-emphasized-neutral: #{$ouds-color-content-on-status-emphasized-neutral-dark};
  --#{$prefix}color-content-on-status-muted: #{$ouds-color-content-on-status-muted-dark};
  --#{$prefix}color-content-status-info: #{$ouds-color-content-status-info-dark};
  --#{$prefix}color-content-status-negative: #{$ouds-color-content-status-negative-dark};
  --#{$prefix}color-content-status-positive: #{$ouds-color-content-status-positive-dark};
  --#{$prefix}color-content-status-warning: #{$ouds-color-content-status-warning-dark};
  --#{$prefix}color-overlay-default: #{$ouds-color-overlay-default-dark};
  --#{$prefix}color-overlay-drag: #{$ouds-color-overlay-drag-dark};
  --#{$prefix}color-overlay-emphasized: #{$ouds-color-overlay-emphasized-dark};
  --#{$prefix}color-overlay-modal: #{$ouds-color-overlay-modal-dark};
  --#{$prefix}color-surface-brand-primary: #{$ouds-color-surface-brand-primary-dark};
  --#{$prefix}color-surface-status-accent-emphasized: #{$ouds-color-surface-status-accent-emphasized-dark};
  --#{$prefix}color-surface-status-accent-muted: #{$ouds-color-surface-status-accent-muted-dark};
  --#{$prefix}color-surface-status-info-emphasized: #{$ouds-color-surface-status-info-emphasized-dark};
  --#{$prefix}color-surface-status-info-muted: #{$ouds-color-surface-status-info-muted-dark};
  --#{$prefix}color-surface-status-negative-emphasized: #{$ouds-color-surface-status-negative-emphasized-dark};
  --#{$prefix}color-surface-status-negative-muted: #{$ouds-color-surface-status-negative-muted-dark};
  --#{$prefix}color-surface-status-neutral-emphasized: #{$ouds-color-surface-status-neutral-emphasized-dark};
  --#{$prefix}color-surface-status-neutral-muted: #{$ouds-color-surface-status-neutral-muted-dark};
  --#{$prefix}color-surface-status-positive-emphasized: #{$ouds-color-surface-status-positive-emphasized-dark};
  --#{$prefix}color-surface-status-positive-muted: #{$ouds-color-surface-status-positive-muted-dark};
  --#{$prefix}color-surface-status-warning-emphasized: #{$ouds-color-surface-status-warning-emphasized-dark};
  --#{$prefix}color-surface-status-warning-muted: #{$ouds-color-surface-status-warning-muted-dark};
  --#{$prefix}color-decorative-accent-1-default: #{$ouds-color-decorative-accent-1-default-dark};
  --#{$prefix}color-decorative-accent-1-emphasized: #{$ouds-color-decorative-accent-1-emphasized-dark};
  --#{$prefix}color-decorative-accent-1-muted: #{$ouds-color-decorative-accent-1-muted-dark};
  --#{$prefix}color-decorative-accent-2-default: #{$ouds-color-decorative-accent-2-default-dark};
  --#{$prefix}color-decorative-accent-2-emphasized: #{$ouds-color-decorative-accent-2-emphasized-dark};
  --#{$prefix}color-decorative-accent-2-muted: #{$ouds-color-decorative-accent-2-muted-dark};
  --#{$prefix}color-decorative-accent-3-default: #{$ouds-color-decorative-accent-3-default-dark};
  --#{$prefix}color-decorative-accent-3-emphasized: #{$ouds-color-decorative-accent-3-emphasized-dark};
  --#{$prefix}color-decorative-accent-3-muted: #{$ouds-color-decorative-accent-3-muted-dark};
  --#{$prefix}color-decorative-accent-4-default: #{$ouds-color-decorative-accent-4-default-dark};
  --#{$prefix}color-decorative-accent-4-emphasized: #{$ouds-color-decorative-accent-4-emphasized-dark};
  --#{$prefix}color-decorative-accent-4-muted: #{$ouds-color-decorative-accent-4-muted-dark};
  --#{$prefix}color-decorative-accent-5-default: #{$ouds-color-decorative-accent-5-default-dark};
  --#{$prefix}color-decorative-accent-5-emphasized: #{$ouds-color-decorative-accent-5-emphasized-dark};
  --#{$prefix}color-decorative-accent-5-muted: #{$ouds-color-decorative-accent-5-muted-dark};
  --#{$prefix}color-decorative-brand-primary: #{$ouds-color-decorative-brand-primary-dark};
  --#{$prefix}color-decorative-brand-secondary: #{$ouds-color-decorative-brand-secondary-dark};
  --#{$prefix}color-decorative-brand-tertiary: #{$ouds-color-decorative-brand-tertiary-dark};
  --#{$prefix}color-decorative-neutral-default: #{$ouds-color-decorative-neutral-default-dark};
  --#{$prefix}color-decorative-neutral-emphasized: #{$ouds-color-decorative-neutral-emphasized-dark};
  --#{$prefix}color-decorative-neutral-muted: #{$ouds-color-decorative-neutral-muted-dark};
  --#{$prefix}color-decorative-skin-tint-100: #{$ouds-color-decorative-skin-tint-100-dark};
  --#{$prefix}color-decorative-skin-tint-200: #{$ouds-color-decorative-skin-tint-200-dark};
  --#{$prefix}color-decorative-skin-tint-300: #{$ouds-color-decorative-skin-tint-300-dark};
  --#{$prefix}color-decorative-skin-tint-400: #{$ouds-color-decorative-skin-tint-400-dark};
  --#{$prefix}color-decorative-skin-tint-500: #{$ouds-color-decorative-skin-tint-500-dark};
  --#{$prefix}color-decorative-skin-tint-600: #{$ouds-color-decorative-skin-tint-600-dark};
  --#{$prefix}color-decorative-skin-tint-700: #{$ouds-color-decorative-skin-tint-700-dark};
  --#{$prefix}color-decorative-skin-tint-800: #{$ouds-color-decorative-skin-tint-800-dark};
  --#{$prefix}color-decorative-skin-tint-900: #{$ouds-color-decorative-skin-tint-900-dark};
}
