// Semantic custom properties applications
// Token version 0.6.0

// scss-docs-start ouds-all-semantic-css-color
// scss-docs-start ouds-semantic-css-color
@include color-mode(light, true) {
  --#{$prefix}color-action-disabled: #{$ouds-color-action-disabled-light};
  --#{$prefix}color-action-enabled: #{$ouds-color-action-enabled-light};
  --#{$prefix}color-action-focus: #{$ouds-color-action-focus-light};
  --#{$prefix}color-action-focus-2: #{$ouds-color-action-focus-2-light};
  --#{$prefix}color-action-highlighted: #{$ouds-color-action-highlighted-light};
  --#{$prefix}color-action-hover: #{$ouds-color-action-hover-light};
  --#{$prefix}color-action-loading: #{$ouds-color-action-loading-light};
  --#{$prefix}color-action-negative-enabled: #{$ouds-color-action-negative-enabled-light};
  --#{$prefix}color-action-negative-focus: #{$ouds-color-action-negative-focus-light};
  --#{$prefix}color-action-negative-hover: #{$ouds-color-action-negative-hover-light};
  --#{$prefix}color-action-negative-loading: #{$ouds-color-action-negative-loading-light};
  --#{$prefix}color-action-negative-pressed: #{$ouds-color-action-negative-pressed-light};
  --#{$prefix}color-action-pressed: #{$ouds-color-action-pressed-light};
  --#{$prefix}color-action-selected: #{$ouds-color-action-selected-light};
  --#{$prefix}color-action-support-enabled: #{$ouds-color-action-support-enabled-light};
  --#{$prefix}color-action-support-focus: #{$ouds-color-action-support-focus-light};
  --#{$prefix}color-action-support-hover: #{$ouds-color-action-support-hover-light};
  --#{$prefix}color-action-support-loading: #{$ouds-color-action-support-loading-light};
  --#{$prefix}color-action-support-pressed: #{$ouds-color-action-support-pressed-light};
  --#{$prefix}color-action-visited: #{$ouds-color-action-visited-light};
  --#{$prefix}color-always-black: #{$ouds-color-always-black-light};
  --#{$prefix}color-always-on-black: #{$ouds-color-always-on-black-light};
  --#{$prefix}color-always-on-white: #{$ouds-color-always-on-white-light};
  --#{$prefix}color-always-white: #{$ouds-color-always-white-light};
  --#{$prefix}color-bg-emphasized: #{$ouds-color-bg-emphasized-light};
  --#{$prefix}color-bg-primary: #{$ouds-color-bg-primary-light};
  --#{$prefix}color-bg-secondary: #{$ouds-color-bg-secondary-light};
  --#{$prefix}color-bg-tertiary: #{$ouds-color-bg-tertiary-light};
  --#{$prefix}color-border-brand-primary: #{$ouds-color-border-brand-primary-light};
  --#{$prefix}color-border-default: #{$ouds-color-border-default-light};
  --#{$prefix}color-border-emphasized: #{$ouds-color-border-emphasized-light};
  --#{$prefix}color-border-focus: #{$ouds-color-border-focus-light};
  --#{$prefix}color-border-focus-inset: #{$ouds-color-border-focus-inset-light};
  --#{$prefix}color-border-muted: #{$ouds-color-border-muted-light};
  --#{$prefix}color-border-on-brand-primary: #{$ouds-color-border-on-brand-primary-light};
  --#{$prefix}color-content-brand-primary: #{$ouds-color-content-brand-primary-light};
  --#{$prefix}color-content-default: #{$ouds-color-content-default-light};
  --#{$prefix}color-content-default-2: #{$ouds-color-content-default-2-light};
  --#{$prefix}color-content-disabled: #{$ouds-color-content-disabled-light};
  --#{$prefix}color-content-muted: #{$ouds-color-content-muted-light};
  --#{$prefix}color-content-on-action-disabled: #{$ouds-color-content-on-action-disabled-light};
  --#{$prefix}color-content-on-action-enabled: #{$ouds-color-content-on-action-enabled-light};
  --#{$prefix}color-content-on-action-focus: #{$ouds-color-content-on-action-focus-light};
  --#{$prefix}color-content-on-action-highlighted: #{$ouds-color-content-on-action-highlighted-light};
  --#{$prefix}color-content-on-action-hover: #{$ouds-color-content-on-action-hover-light};
  --#{$prefix}color-content-on-action-loading: #{$ouds-color-content-on-action-loading-light};
  --#{$prefix}color-content-on-action-pressed: #{$ouds-color-content-on-action-pressed-light};
  --#{$prefix}color-content-on-brand-primary: #{$ouds-color-content-on-brand-primary-light};
  --#{$prefix}color-content-on-overlay-emphasized: #{$ouds-color-content-on-overlay-emphasized-light};
  --#{$prefix}color-content-on-status-emphasized: #{$ouds-color-content-on-status-emphasized-light};
  --#{$prefix}color-content-on-status-emphasized-alt: #{$ouds-color-content-on-status-emphasized-alt-light};
  --#{$prefix}color-content-on-status-muted: #{$ouds-color-content-on-status-muted-light};
  --#{$prefix}color-content-status-info: #{$ouds-color-content-status-info-light};
  --#{$prefix}color-content-status-negative: #{$ouds-color-content-status-negative-light};
  --#{$prefix}color-content-status-positive: #{$ouds-color-content-status-positive-light};
  --#{$prefix}color-content-status-warning: #{$ouds-color-content-status-warning-light};
  --#{$prefix}color-decorative-accent-1-default: #{$ouds-color-decorative-accent-1-default-light};
  --#{$prefix}color-decorative-accent-1-emphasized: #{$ouds-color-decorative-accent-1-emphasized-light};
  --#{$prefix}color-decorative-accent-1-muted: #{$ouds-color-decorative-accent-1-muted-light};
  --#{$prefix}color-decorative-accent-2-default: #{$ouds-color-decorative-accent-2-default-light};
  --#{$prefix}color-decorative-accent-2-emphasized: #{$ouds-color-decorative-accent-2-emphasized-light};
  --#{$prefix}color-decorative-accent-2-muted: #{$ouds-color-decorative-accent-2-muted-light};
  --#{$prefix}color-decorative-accent-3-default: #{$ouds-color-decorative-accent-3-default-light};
  --#{$prefix}color-decorative-accent-3-emphasized: #{$ouds-color-decorative-accent-3-emphasized-light};
  --#{$prefix}color-decorative-accent-3-muted: #{$ouds-color-decorative-accent-3-muted-light};
  --#{$prefix}color-decorative-accent-4-default: #{$ouds-color-decorative-accent-4-default-light};
  --#{$prefix}color-decorative-accent-4-emphasized: #{$ouds-color-decorative-accent-4-emphasized-light};
  --#{$prefix}color-decorative-accent-4-muted: #{$ouds-color-decorative-accent-4-muted-light};
  --#{$prefix}color-decorative-accent-5-default: #{$ouds-color-decorative-accent-5-default-light};
  --#{$prefix}color-decorative-accent-5-emphasized: #{$ouds-color-decorative-accent-5-emphasized-light};
  --#{$prefix}color-decorative-accent-5-muted: #{$ouds-color-decorative-accent-5-muted-light};
  --#{$prefix}color-decorative-brand-primary: #{$ouds-color-decorative-brand-primary-light};
  --#{$prefix}color-decorative-brand-secondary: #{$ouds-color-decorative-brand-secondary-light};
  --#{$prefix}color-decorative-brand-tertiary: #{$ouds-color-decorative-brand-tertiary-light};
  --#{$prefix}color-decorative-neutral-emphasized-higher: #{$ouds-color-decorative-neutral-emphasized-higher-light};
  --#{$prefix}color-decorative-neutral-emphasized-low: #{$ouds-color-decorative-neutral-emphasized-low-light};
  --#{$prefix}color-decorative-neutral-emphasized-lower: #{$ouds-color-decorative-neutral-emphasized-lower-light};
  --#{$prefix}color-decorative-neutral-emphasized-lowest: #{$ouds-color-decorative-neutral-emphasized-lowest-light};
  --#{$prefix}color-decorative-neutral-muted-high: #{$ouds-color-decorative-neutral-muted-high-light};
  --#{$prefix}color-decorative-neutral-muted-higher: #{$ouds-color-decorative-neutral-muted-higher-light};
  --#{$prefix}color-decorative-neutral-muted-highest: #{$ouds-color-decorative-neutral-muted-highest-light};
  --#{$prefix}color-decorative-neutral-muted-low: #{$ouds-color-decorative-neutral-muted-low-light};
  --#{$prefix}color-decorative-neutral-muted-lower: #{$ouds-color-decorative-neutral-muted-lower-light};
  --#{$prefix}color-decorative-neutral-muted-lowest: #{$ouds-color-decorative-neutral-muted-lowest-light};
  --#{$prefix}color-decorative-neutral-muted-medium: #{$ouds-color-decorative-neutral-muted-medium-light};
  --#{$prefix}color-decorative-skin-tint-100: #{$ouds-color-decorative-skin-tint-100-light};
  --#{$prefix}color-decorative-skin-tint-200: #{$ouds-color-decorative-skin-tint-200-light};
  --#{$prefix}color-decorative-skin-tint-300: #{$ouds-color-decorative-skin-tint-300-light};
  --#{$prefix}color-decorative-skin-tint-400: #{$ouds-color-decorative-skin-tint-400-light};
  --#{$prefix}color-decorative-skin-tint-500: #{$ouds-color-decorative-skin-tint-500-light};
  --#{$prefix}color-decorative-skin-tint-600: #{$ouds-color-decorative-skin-tint-600-light};
  --#{$prefix}color-decorative-skin-tint-700: #{$ouds-color-decorative-skin-tint-700-light};
  --#{$prefix}color-decorative-skin-tint-800: #{$ouds-color-decorative-skin-tint-800-light};
  --#{$prefix}color-decorative-skin-tint-900: #{$ouds-color-decorative-skin-tint-900-light};
  --#{$prefix}color-opacity-lower: #{$ouds-color-opacity-lower-light};
  --#{$prefix}color-opacity-lowest: #{$ouds-color-opacity-lowest-light};
  --#{$prefix}color-opacity-transparent: #{$ouds-color-opacity-transparent-light};
  --#{$prefix}color-overlay-default: #{$ouds-color-overlay-default-light};
  --#{$prefix}color-overlay-drag: #{$ouds-color-overlay-drag-light};
  --#{$prefix}color-overlay-emphasized: #{$ouds-color-overlay-emphasized-light};
  --#{$prefix}color-overlay-modal: #{$ouds-color-overlay-modal-light};
  --#{$prefix}color-surface-brand-primary: #{$ouds-color-surface-brand-primary-light};
  --#{$prefix}color-surface-status-accent-emphasized: #{$ouds-color-surface-status-accent-emphasized-light};
  --#{$prefix}color-surface-status-accent-muted: #{$ouds-color-surface-status-accent-muted-light};
  --#{$prefix}color-surface-status-info-emphasized: #{$ouds-color-surface-status-info-emphasized-light};
  --#{$prefix}color-surface-status-info-muted: #{$ouds-color-surface-status-info-muted-light};
  --#{$prefix}color-surface-status-negative-emphasized: #{$ouds-color-surface-status-negative-emphasized-light};
  --#{$prefix}color-surface-status-negative-muted: #{$ouds-color-surface-status-negative-muted-light};
  --#{$prefix}color-surface-status-neutral-emphasized: #{$ouds-color-surface-status-neutral-emphasized-light};
  --#{$prefix}color-surface-status-neutral-muted: #{$ouds-color-surface-status-neutral-muted-light};
  --#{$prefix}color-surface-status-positive-emphasized: #{$ouds-color-surface-status-positive-emphasized-light};
  --#{$prefix}color-surface-status-positive-muted: #{$ouds-color-surface-status-positive-muted-light};
  --#{$prefix}color-surface-status-warning-emphasized: #{$ouds-color-surface-status-warning-emphasized-light};
  --#{$prefix}color-surface-status-warning-muted: #{$ouds-color-surface-status-warning-muted-light};
  --#{$prefix}elevation-color-default: #{$ouds-elevation-color-default-light};
  --#{$prefix}elevation-color-drag: #{$ouds-elevation-color-drag-light};
  --#{$prefix}elevation-color-emphasized: #{$ouds-elevation-color-emphasized-light};
  --#{$prefix}elevation-color-none: #{$ouds-elevation-color-none-light};
  --#{$prefix}elevation-color-raised: #{$ouds-elevation-color-raised-light};
  --#{$prefix}elevation-color-sticky-default: #{$ouds-elevation-color-sticky-default-light};
  --#{$prefix}elevation-color-sticky-emphasized: #{$ouds-elevation-color-sticky-emphasized-light};
  --#{$prefix}elevation-color-sticky-navigation-scrolled: #{$ouds-elevation-color-sticky-navigation-scrolled-light};
}
// scss-docs-end ouds-semantic-css-color

@include color-mode(dark, true) {
  --#{$prefix}color-action-disabled: #{$ouds-color-action-disabled-dark};
  --#{$prefix}color-action-enabled: #{$ouds-color-action-enabled-dark};
  --#{$prefix}color-action-focus: #{$ouds-color-action-focus-dark};
  --#{$prefix}color-action-focus-2: #{$ouds-color-action-focus-2-dark};
  --#{$prefix}color-action-highlighted: #{$ouds-color-action-highlighted-dark};
  --#{$prefix}color-action-hover: #{$ouds-color-action-hover-dark};
  --#{$prefix}color-action-loading: #{$ouds-color-action-loading-dark};
  --#{$prefix}color-action-negative-enabled: #{$ouds-color-action-negative-enabled-dark};
  --#{$prefix}color-action-negative-focus: #{$ouds-color-action-negative-focus-dark};
  --#{$prefix}color-action-negative-hover: #{$ouds-color-action-negative-hover-dark};
  --#{$prefix}color-action-negative-loading: #{$ouds-color-action-negative-loading-dark};
  --#{$prefix}color-action-negative-pressed: #{$ouds-color-action-negative-pressed-dark};
  --#{$prefix}color-action-pressed: #{$ouds-color-action-pressed-dark};
  --#{$prefix}color-action-selected: #{$ouds-color-action-selected-dark};
  --#{$prefix}color-action-support-enabled: #{$ouds-color-action-support-enabled-dark};
  --#{$prefix}color-action-support-focus: #{$ouds-color-action-support-focus-dark};
  --#{$prefix}color-action-support-hover: #{$ouds-color-action-support-hover-dark};
  --#{$prefix}color-action-support-loading: #{$ouds-color-action-support-loading-dark};
  --#{$prefix}color-action-support-pressed: #{$ouds-color-action-support-pressed-dark};
  --#{$prefix}color-action-visited: #{$ouds-color-action-visited-dark};
  --#{$prefix}color-always-black: #{$ouds-color-always-black-dark};
  --#{$prefix}color-always-on-black: #{$ouds-color-always-on-black-dark};
  --#{$prefix}color-always-on-white: #{$ouds-color-always-on-white-dark};
  --#{$prefix}color-always-white: #{$ouds-color-always-white-dark};
  --#{$prefix}color-bg-emphasized: #{$ouds-color-bg-emphasized-dark};
  --#{$prefix}color-bg-primary: #{$ouds-color-bg-primary-dark};
  --#{$prefix}color-bg-secondary: #{$ouds-color-bg-secondary-dark};
  --#{$prefix}color-bg-tertiary: #{$ouds-color-bg-tertiary-dark};
  --#{$prefix}color-border-brand-primary: #{$ouds-color-border-brand-primary-dark};
  --#{$prefix}color-border-default: #{$ouds-color-border-default-dark};
  --#{$prefix}color-border-emphasized: #{$ouds-color-border-emphasized-dark};
  --#{$prefix}color-border-focus: #{$ouds-color-border-focus-dark};
  --#{$prefix}color-border-focus-inset: #{$ouds-color-border-focus-inset-dark};
  --#{$prefix}color-border-muted: #{$ouds-color-border-muted-dark};
  --#{$prefix}color-border-on-brand-primary: #{$ouds-color-border-on-brand-primary-dark};
  --#{$prefix}color-content-brand-primary: #{$ouds-color-content-brand-primary-dark};
  --#{$prefix}color-content-default: #{$ouds-color-content-default-dark};
  --#{$prefix}color-content-default-2: #{$ouds-color-content-default-2-dark};
  --#{$prefix}color-content-disabled: #{$ouds-color-content-disabled-dark};
  --#{$prefix}color-content-muted: #{$ouds-color-content-muted-dark};
  --#{$prefix}color-content-on-action-disabled: #{$ouds-color-content-on-action-disabled-dark};
  --#{$prefix}color-content-on-action-enabled: #{$ouds-color-content-on-action-enabled-dark};
  --#{$prefix}color-content-on-action-focus: #{$ouds-color-content-on-action-focus-dark};
  --#{$prefix}color-content-on-action-highlighted: #{$ouds-color-content-on-action-highlighted-dark};
  --#{$prefix}color-content-on-action-hover: #{$ouds-color-content-on-action-hover-dark};
  --#{$prefix}color-content-on-action-loading: #{$ouds-color-content-on-action-loading-dark};
  --#{$prefix}color-content-on-action-pressed: #{$ouds-color-content-on-action-pressed-dark};
  --#{$prefix}color-content-on-brand-primary: #{$ouds-color-content-on-brand-primary-dark};
  --#{$prefix}color-content-on-overlay-emphasized: #{$ouds-color-content-on-overlay-emphasized-dark};
  --#{$prefix}color-content-on-status-emphasized: #{$ouds-color-content-on-status-emphasized-dark};
  --#{$prefix}color-content-on-status-emphasized-alt: #{$ouds-color-content-on-status-emphasized-alt-dark};
  --#{$prefix}color-content-on-status-muted: #{$ouds-color-content-on-status-muted-dark};
  --#{$prefix}color-content-status-info: #{$ouds-color-content-status-info-dark};
  --#{$prefix}color-content-status-negative: #{$ouds-color-content-status-negative-dark};
  --#{$prefix}color-content-status-positive: #{$ouds-color-content-status-positive-dark};
  --#{$prefix}color-content-status-warning: #{$ouds-color-content-status-warning-dark};
  --#{$prefix}color-decorative-accent-1-default: #{$ouds-color-decorative-accent-1-default-dark};
  --#{$prefix}color-decorative-accent-1-emphasized: #{$ouds-color-decorative-accent-1-emphasized-dark};
  --#{$prefix}color-decorative-accent-1-muted: #{$ouds-color-decorative-accent-1-muted-dark};
  --#{$prefix}color-decorative-accent-2-default: #{$ouds-color-decorative-accent-2-default-dark};
  --#{$prefix}color-decorative-accent-2-emphasized: #{$ouds-color-decorative-accent-2-emphasized-dark};
  --#{$prefix}color-decorative-accent-2-muted: #{$ouds-color-decorative-accent-2-muted-dark};
  --#{$prefix}color-decorative-accent-3-default: #{$ouds-color-decorative-accent-3-default-dark};
  --#{$prefix}color-decorative-accent-3-emphasized: #{$ouds-color-decorative-accent-3-emphasized-dark};
  --#{$prefix}color-decorative-accent-3-muted: #{$ouds-color-decorative-accent-3-muted-dark};
  --#{$prefix}color-decorative-accent-4-default: #{$ouds-color-decorative-accent-4-default-dark};
  --#{$prefix}color-decorative-accent-4-emphasized: #{$ouds-color-decorative-accent-4-emphasized-dark};
  --#{$prefix}color-decorative-accent-4-muted: #{$ouds-color-decorative-accent-4-muted-dark};
  --#{$prefix}color-decorative-accent-5-default: #{$ouds-color-decorative-accent-5-default-dark};
  --#{$prefix}color-decorative-accent-5-emphasized: #{$ouds-color-decorative-accent-5-emphasized-dark};
  --#{$prefix}color-decorative-accent-5-muted: #{$ouds-color-decorative-accent-5-muted-dark};
  --#{$prefix}color-decorative-brand-primary: #{$ouds-color-decorative-brand-primary-dark};
  --#{$prefix}color-decorative-brand-secondary: #{$ouds-color-decorative-brand-secondary-dark};
  --#{$prefix}color-decorative-brand-tertiary: #{$ouds-color-decorative-brand-tertiary-dark};
  --#{$prefix}color-decorative-neutral-emphasized-higher: #{$ouds-color-decorative-neutral-emphasized-higher-dark};
  --#{$prefix}color-decorative-neutral-emphasized-low: #{$ouds-color-decorative-neutral-emphasized-low-dark};
  --#{$prefix}color-decorative-neutral-emphasized-lower: #{$ouds-color-decorative-neutral-emphasized-lower-dark};
  --#{$prefix}color-decorative-neutral-emphasized-lowest: #{$ouds-color-decorative-neutral-emphasized-lowest-dark};
  --#{$prefix}color-decorative-neutral-muted-high: #{$ouds-color-decorative-neutral-muted-high-dark};
  --#{$prefix}color-decorative-neutral-muted-higher: #{$ouds-color-decorative-neutral-muted-higher-dark};
  --#{$prefix}color-decorative-neutral-muted-highest: #{$ouds-color-decorative-neutral-muted-highest-dark};
  --#{$prefix}color-decorative-neutral-muted-low: #{$ouds-color-decorative-neutral-muted-low-dark};
  --#{$prefix}color-decorative-neutral-muted-lower: #{$ouds-color-decorative-neutral-muted-lower-dark};
  --#{$prefix}color-decorative-neutral-muted-lowest: #{$ouds-color-decorative-neutral-muted-lowest-dark};
  --#{$prefix}color-decorative-neutral-muted-medium: #{$ouds-color-decorative-neutral-muted-medium-dark};
  --#{$prefix}color-decorative-skin-tint-100: #{$ouds-color-decorative-skin-tint-100-dark};
  --#{$prefix}color-decorative-skin-tint-200: #{$ouds-color-decorative-skin-tint-200-dark};
  --#{$prefix}color-decorative-skin-tint-300: #{$ouds-color-decorative-skin-tint-300-dark};
  --#{$prefix}color-decorative-skin-tint-400: #{$ouds-color-decorative-skin-tint-400-dark};
  --#{$prefix}color-decorative-skin-tint-500: #{$ouds-color-decorative-skin-tint-500-dark};
  --#{$prefix}color-decorative-skin-tint-600: #{$ouds-color-decorative-skin-tint-600-dark};
  --#{$prefix}color-decorative-skin-tint-700: #{$ouds-color-decorative-skin-tint-700-dark};
  --#{$prefix}color-decorative-skin-tint-800: #{$ouds-color-decorative-skin-tint-800-dark};
  --#{$prefix}color-decorative-skin-tint-900: #{$ouds-color-decorative-skin-tint-900-dark};
  --#{$prefix}color-opacity-lower: #{$ouds-color-opacity-lower-dark};
  --#{$prefix}color-opacity-lowest: #{$ouds-color-opacity-lowest-dark};
  --#{$prefix}color-opacity-transparent: #{$ouds-color-opacity-transparent-dark};
  --#{$prefix}color-overlay-default: #{$ouds-color-overlay-default-dark};
  --#{$prefix}color-overlay-drag: #{$ouds-color-overlay-drag-dark};
  --#{$prefix}color-overlay-emphasized: #{$ouds-color-overlay-emphasized-dark};
  --#{$prefix}color-overlay-modal: #{$ouds-color-overlay-modal-dark};
  --#{$prefix}color-surface-brand-primary: #{$ouds-color-surface-brand-primary-dark};
  --#{$prefix}color-surface-status-accent-emphasized: #{$ouds-color-surface-status-accent-emphasized-dark};
  --#{$prefix}color-surface-status-accent-muted: #{$ouds-color-surface-status-accent-muted-dark};
  --#{$prefix}color-surface-status-info-emphasized: #{$ouds-color-surface-status-info-emphasized-dark};
  --#{$prefix}color-surface-status-info-muted: #{$ouds-color-surface-status-info-muted-dark};
  --#{$prefix}color-surface-status-negative-emphasized: #{$ouds-color-surface-status-negative-emphasized-dark};
  --#{$prefix}color-surface-status-negative-muted: #{$ouds-color-surface-status-negative-muted-dark};
  --#{$prefix}color-surface-status-neutral-emphasized: #{$ouds-color-surface-status-neutral-emphasized-dark};
  --#{$prefix}color-surface-status-neutral-muted: #{$ouds-color-surface-status-neutral-muted-dark};
  --#{$prefix}color-surface-status-positive-emphasized: #{$ouds-color-surface-status-positive-emphasized-dark};
  --#{$prefix}color-surface-status-positive-muted: #{$ouds-color-surface-status-positive-muted-dark};
  --#{$prefix}color-surface-status-warning-emphasized: #{$ouds-color-surface-status-warning-emphasized-dark};
  --#{$prefix}color-surface-status-warning-muted: #{$ouds-color-surface-status-warning-muted-dark};
  --#{$prefix}elevation-color-default: #{$ouds-elevation-color-default-dark};
  --#{$prefix}elevation-color-drag: #{$ouds-elevation-color-drag-dark};
  --#{$prefix}elevation-color-emphasized: #{$ouds-elevation-color-emphasized-dark};
  --#{$prefix}elevation-color-none: #{$ouds-elevation-color-none-dark};
  --#{$prefix}elevation-color-raised: #{$ouds-elevation-color-raised-dark};
  --#{$prefix}elevation-color-sticky-default: #{$ouds-elevation-color-sticky-default-dark};
  --#{$prefix}elevation-color-sticky-emphasized: #{$ouds-elevation-color-sticky-emphasized-dark};
  --#{$prefix}elevation-color-sticky-navigation-scrolled: #{$ouds-elevation-color-sticky-navigation-scrolled-dark};
}
// scss-docs-end ouds-all-semantic-css-color

$ouds-color-action-disabled: var(--#{$prefix}color-action-disabled) !default;
$ouds-color-action-enabled: var(--#{$prefix}color-action-enabled) !default;
$ouds-color-action-focus: var(--#{$prefix}color-action-focus) !default;
$ouds-color-action-focus-2: var(--#{$prefix}color-action-focus-2) !default;
$ouds-color-action-highlighted: var(--#{$prefix}color-action-highlighted) !default;
$ouds-color-action-hover: var(--#{$prefix}color-action-hover) !default;
$ouds-color-action-loading: var(--#{$prefix}color-action-loading) !default;
$ouds-color-action-negative-enabled: var(--#{$prefix}color-action-negative-enabled) !default;
$ouds-color-action-negative-focus: var(--#{$prefix}color-action-negative-focus) !default;
$ouds-color-action-negative-hover: var(--#{$prefix}color-action-negative-hover) !default;
$ouds-color-action-negative-loading: var(--#{$prefix}color-action-negative-loading) !default;
$ouds-color-action-negative-pressed: var(--#{$prefix}color-action-negative-pressed) !default;
$ouds-color-action-pressed: var(--#{$prefix}color-action-pressed) !default;
$ouds-color-action-selected: var(--#{$prefix}color-action-selected) !default;
$ouds-color-action-support-enabled: var(--#{$prefix}color-action-support-enabled) !default;
$ouds-color-action-support-focus: var(--#{$prefix}color-action-support-focus) !default;
$ouds-color-action-support-hover: var(--#{$prefix}color-action-support-hover) !default;
$ouds-color-action-support-loading: var(--#{$prefix}color-action-support-loading) !default;
$ouds-color-action-support-pressed: var(--#{$prefix}color-action-support-pressed) !default;
$ouds-color-action-visited: var(--#{$prefix}color-action-visited) !default;
$ouds-color-always-black: var(--#{$prefix}color-always-black) !default;
$ouds-color-always-on-black: var(--#{$prefix}color-always-on-black) !default;
$ouds-color-always-on-white: var(--#{$prefix}color-always-on-white) !default;
$ouds-color-always-white: var(--#{$prefix}color-always-white) !default;
$ouds-color-bg-emphasized: var(--#{$prefix}color-bg-emphasized) !default;
$ouds-color-bg-primary: var(--#{$prefix}color-bg-primary) !default;
$ouds-color-bg-secondary: var(--#{$prefix}color-bg-secondary) !default;
$ouds-color-bg-tertiary: var(--#{$prefix}color-bg-tertiary) !default;
$ouds-color-border-brand-primary: var(--#{$prefix}color-border-brand-primary) !default;
$ouds-color-border-default: var(--#{$prefix}color-border-default) !default;
$ouds-color-border-emphasized: var(--#{$prefix}color-border-emphasized) !default;
$ouds-color-border-focus: var(--#{$prefix}color-border-focus) !default;
$ouds-color-border-focus-inset: var(--#{$prefix}color-border-focus-inset) !default;
$ouds-color-border-muted: var(--#{$prefix}color-border-muted) !default;
$ouds-color-border-on-brand-primary: var(--#{$prefix}color-border-on-brand-primary) !default;
$ouds-color-content-brand-primary: var(--#{$prefix}color-content-brand-primary) !default;
$ouds-color-content-default: var(--#{$prefix}color-content-default) !default;
$ouds-color-content-default-2: var(--#{$prefix}color-content-default-2) !default;
$ouds-color-content-disabled: var(--#{$prefix}color-content-disabled) !default;
$ouds-color-content-muted: var(--#{$prefix}color-content-muted) !default;
$ouds-color-content-on-action-disabled: var(--#{$prefix}color-content-on-action-disabled) !default;
$ouds-color-content-on-action-enabled: var(--#{$prefix}color-content-on-action-enabled) !default;
$ouds-color-content-on-action-focus: var(--#{$prefix}color-content-on-action-focus) !default;
$ouds-color-content-on-action-highlighted: var(--#{$prefix}color-content-on-action-highlighted) !default;
$ouds-color-content-on-action-hover: var(--#{$prefix}color-content-on-action-hover) !default;
$ouds-color-content-on-action-loading: var(--#{$prefix}color-content-on-action-loading) !default;
$ouds-color-content-on-action-pressed: var(--#{$prefix}color-content-on-action-pressed) !default;
$ouds-color-content-on-brand-primary: var(--#{$prefix}color-content-on-brand-primary) !default;
$ouds-color-content-on-overlay-emphasized: var(--#{$prefix}color-content-on-overlay-emphasized) !default;
$ouds-color-content-on-status-emphasized: var(--#{$prefix}color-content-on-status-emphasized) !default;
$ouds-color-content-on-status-emphasized-alt: var(--#{$prefix}color-content-on-status-emphasized-alt) !default;
$ouds-color-content-on-status-muted: var(--#{$prefix}color-content-on-status-muted) !default;
$ouds-color-content-status-info: var(--#{$prefix}color-content-status-info) !default;
$ouds-color-content-status-negative: var(--#{$prefix}color-content-status-negative) !default;
$ouds-color-content-status-positive: var(--#{$prefix}color-content-status-positive) !default;
$ouds-color-content-status-warning: var(--#{$prefix}color-content-status-warning) !default;
$ouds-color-decorative-accent-1-default: var(--#{$prefix}color-decorative-accent-1-default) !default;
$ouds-color-decorative-accent-1-emphasized: var(--#{$prefix}color-decorative-accent-1-emphasized) !default;
$ouds-color-decorative-accent-1-muted: var(--#{$prefix}color-decorative-accent-1-muted) !default;
$ouds-color-decorative-accent-2-default: var(--#{$prefix}color-decorative-accent-2-default) !default;
$ouds-color-decorative-accent-2-emphasized: var(--#{$prefix}color-decorative-accent-2-emphasized) !default;
$ouds-color-decorative-accent-2-muted: var(--#{$prefix}color-decorative-accent-2-muted) !default;
$ouds-color-decorative-accent-3-default: var(--#{$prefix}color-decorative-accent-3-default) !default;
$ouds-color-decorative-accent-3-emphasized: var(--#{$prefix}color-decorative-accent-3-emphasized) !default;
$ouds-color-decorative-accent-3-muted: var(--#{$prefix}color-decorative-accent-3-muted) !default;
$ouds-color-decorative-accent-4-default: var(--#{$prefix}color-decorative-accent-4-default) !default;
$ouds-color-decorative-accent-4-emphasized: var(--#{$prefix}color-decorative-accent-4-emphasized) !default;
$ouds-color-decorative-accent-4-muted: var(--#{$prefix}color-decorative-accent-4-muted) !default;
$ouds-color-decorative-accent-5-default: var(--#{$prefix}color-decorative-accent-5-default) !default;
$ouds-color-decorative-accent-5-emphasized: var(--#{$prefix}color-decorative-accent-5-emphasized) !default;
$ouds-color-decorative-accent-5-muted: var(--#{$prefix}color-decorative-accent-5-muted) !default;
$ouds-color-decorative-brand-primary: var(--#{$prefix}color-decorative-brand-primary) !default;
$ouds-color-decorative-brand-secondary: var(--#{$prefix}color-decorative-brand-secondary) !default;
$ouds-color-decorative-brand-tertiary: var(--#{$prefix}color-decorative-brand-tertiary) !default;
$ouds-color-decorative-neutral-emphasized-higher: var(--#{$prefix}color-decorative-neutral-emphasized-higher) !default;
$ouds-color-decorative-neutral-emphasized-low: var(--#{$prefix}color-decorative-neutral-emphasized-low) !default;
$ouds-color-decorative-neutral-emphasized-lower: var(--#{$prefix}color-decorative-neutral-emphasized-lower) !default;
$ouds-color-decorative-neutral-emphasized-lowest: var(--#{$prefix}color-decorative-neutral-emphasized-lowest) !default;
$ouds-color-decorative-neutral-muted-high: var(--#{$prefix}color-decorative-neutral-muted-high) !default;
$ouds-color-decorative-neutral-muted-higher: var(--#{$prefix}color-decorative-neutral-muted-higher) !default;
$ouds-color-decorative-neutral-muted-highest: var(--#{$prefix}color-decorative-neutral-muted-highest) !default;
$ouds-color-decorative-neutral-muted-low: var(--#{$prefix}color-decorative-neutral-muted-low) !default;
$ouds-color-decorative-neutral-muted-lower: var(--#{$prefix}color-decorative-neutral-muted-lower) !default;
$ouds-color-decorative-neutral-muted-lowest: var(--#{$prefix}color-decorative-neutral-muted-lowest) !default;
$ouds-color-decorative-neutral-muted-medium: var(--#{$prefix}color-decorative-neutral-muted-medium) !default;
$ouds-color-decorative-skin-tint-100: var(--#{$prefix}color-decorative-skin-tint-100) !default;
$ouds-color-decorative-skin-tint-200: var(--#{$prefix}color-decorative-skin-tint-200) !default;
$ouds-color-decorative-skin-tint-300: var(--#{$prefix}color-decorative-skin-tint-300) !default;
$ouds-color-decorative-skin-tint-400: var(--#{$prefix}color-decorative-skin-tint-400) !default;
$ouds-color-decorative-skin-tint-500: var(--#{$prefix}color-decorative-skin-tint-500) !default;
$ouds-color-decorative-skin-tint-600: var(--#{$prefix}color-decorative-skin-tint-600) !default;
$ouds-color-decorative-skin-tint-700: var(--#{$prefix}color-decorative-skin-tint-700) !default;
$ouds-color-decorative-skin-tint-800: var(--#{$prefix}color-decorative-skin-tint-800) !default;
$ouds-color-decorative-skin-tint-900: var(--#{$prefix}color-decorative-skin-tint-900) !default;
$ouds-color-opacity-lower: var(--#{$prefix}color-opacity-lower) !default;
$ouds-color-opacity-lowest: var(--#{$prefix}color-opacity-lowest) !default;
$ouds-color-opacity-transparent: var(--#{$prefix}color-opacity-transparent) !default;
$ouds-color-overlay-default: var(--#{$prefix}color-overlay-default) !default;
$ouds-color-overlay-drag: var(--#{$prefix}color-overlay-drag) !default;
$ouds-color-overlay-emphasized: var(--#{$prefix}color-overlay-emphasized) !default;
$ouds-color-overlay-modal: var(--#{$prefix}color-overlay-modal) !default;
$ouds-color-surface-brand-primary: var(--#{$prefix}color-surface-brand-primary) !default;
$ouds-color-surface-status-accent-emphasized: var(--#{$prefix}color-surface-status-accent-emphasized) !default;
$ouds-color-surface-status-accent-muted: var(--#{$prefix}color-surface-status-accent-muted) !default;
$ouds-color-surface-status-info-emphasized: var(--#{$prefix}color-surface-status-info-emphasized) !default;
$ouds-color-surface-status-info-muted: var(--#{$prefix}color-surface-status-info-muted) !default;
$ouds-color-surface-status-negative-emphasized: var(--#{$prefix}color-surface-status-negative-emphasized) !default;
$ouds-color-surface-status-negative-muted: var(--#{$prefix}color-surface-status-negative-muted) !default;
$ouds-color-surface-status-neutral-emphasized: var(--#{$prefix}color-surface-status-neutral-emphasized) !default;
$ouds-color-surface-status-neutral-muted: var(--#{$prefix}color-surface-status-neutral-muted) !default;
$ouds-color-surface-status-positive-emphasized: var(--#{$prefix}color-surface-status-positive-emphasized) !default;
$ouds-color-surface-status-positive-muted: var(--#{$prefix}color-surface-status-positive-muted) !default;
$ouds-color-surface-status-warning-emphasized: var(--#{$prefix}color-surface-status-warning-emphasized) !default;
$ouds-color-surface-status-warning-muted: var(--#{$prefix}color-surface-status-warning-muted) !default;
$ouds-elevation-color-default: var(--#{$prefix}elevation-color-default) !default;
$ouds-elevation-color-drag: var(--#{$prefix}elevation-color-drag) !default;
$ouds-elevation-color-emphasized: var(--#{$prefix}elevation-color-emphasized) !default;
$ouds-elevation-color-none: var(--#{$prefix}elevation-color-none) !default;
$ouds-elevation-color-raised: var(--#{$prefix}elevation-color-raised) !default;
$ouds-elevation-color-sticky-default: var(--#{$prefix}elevation-color-sticky-default) !default;
$ouds-elevation-color-sticky-emphasized: var(--#{$prefix}elevation-color-sticky-emphasized) !default;
$ouds-elevation-color-sticky-navigation-scrolled: var(--#{$prefix}elevation-color-sticky-navigation-scrolled) !default;
