//// Semantic applications
//// Depends on raw primitive values

// Border

// scss-docs-start ouds-semantic-border
$ouds-border-radius-none:         $ouds-border-radius-0 !default;
$ouds-border-radius-default:      $ouds-border-radius-0 !default;
$ouds-border-radius-short:        $ouds-border-radius-75 !default;
$ouds-border-radius-medium:       $ouds-border-radius-150 !default;
$ouds-border-radius-tall:         $ouds-border-radius-300 !default;
$ouds-border-radius-pill:         $ouds-border-radius-9999 !default;

$ouds-border-style-default:       $ouds-border-style-solid !default;
$ouds-border-style-drag:          $ouds-border-style-dashed !default;

$ouds-border-width-none:          $ouds-border-width-0 !default;
$ouds-border-width-default:       $ouds-border-width-25 !default;
$ouds-border-width-thin:          $ouds-border-width-25 !default;
$ouds-border-width-medium:        $ouds-border-width-50 !default;
$ouds-border-width-thick:         $ouds-border-width-75 !default;
$ouds-border-width-thicker:       $ouds-border-width-100 !default;
// $ouds-border-width-outside-focus: $ouds-border-width-50 !default;
// scss-docs-end ouds-semantic-border

// Elevation

// scss-docs-start ouds-semantic-elevation
$ouds-elevation-blur-drag:                       $ouds-elevation-blur-400 !default;
$ouds-elevation-blur-focus:                      $ouds-elevation-blur-0 !default;
$ouds-elevation-blur-none:                       $ouds-elevation-blur-0 !default;
$ouds-elevation-blur-overlay-default:            $ouds-elevation-blur-300 !default;
$ouds-elevation-blur-overlay-emphasized:         $ouds-elevation-blur-600 !default;
$ouds-elevation-blur-raised:                     $ouds-elevation-blur-200 !default;
$ouds-elevation-blur-sticky-default:             $ouds-elevation-blur-400 !default;
$ouds-elevation-blur-sticky-emphasized:          $ouds-elevation-blur-400 !default;
$ouds-elevation-blur-sticky-navigation-scrolled: $ouds-elevation-blur-400 !default;

$ouds-elevation-color-drag:                       rgba(0, 0, 0, .32) !default;
$ouds-elevation-color-focus:                      rgba(0, 0, 0, 1) !default;
$ouds-elevation-color-none:                       rgba(0, 0, 0, 0) !default;
$ouds-elevation-color-overlay-default:            rgba(0, 0, 0, .24) !default;
$ouds-elevation-color-overlay-emphasized:         rgba(0, 0, 0, .16) !default;
$ouds-elevation-color-raised:                     rgba(0, 0, 0, .32) !default;
$ouds-elevation-color-sticky-default:             rgba(0, 0, 0, .16) !default;
$ouds-elevation-color-sticky-emphasized:          rgba(0, 0, 0, .16) !default;
$ouds-elevation-color-sticky-navigation-scrolled: rgba(0, 0, 0, .16) !default;

$ouds-elevation-spread-drag:                       $ouds-elevation-spread-n100 !default;
$ouds-elevation-spread-focus:                      $ouds-elevation-spread-300 !default;
$ouds-elevation-spread-none:                       $ouds-elevation-spread-0 !default;
$ouds-elevation-spread-overlay-default:            $ouds-elevation-spread-n100 !default;
$ouds-elevation-spread-overlay-emphasized:         $ouds-elevation-spread-n300 !default;
$ouds-elevation-spread-raised:                     $ouds-elevation-spread-0 !default;
$ouds-elevation-spread-sticky-default:             $ouds-elevation-spread-n100 !default;
$ouds-elevation-spread-sticky-emphasized:          $ouds-elevation-spread-n100 !default;
$ouds-elevation-spread-sticky-navigation-scrolled: $ouds-elevation-spread-n100 !default;

$ouds-elevation-x-drag:                       $ouds-elevation-x-0 !default;
$ouds-elevation-x-focus:                      $ouds-elevation-x-0 !default;
$ouds-elevation-x-none:                       $ouds-elevation-x-0 !default;
$ouds-elevation-x-overlay-default:            $ouds-elevation-x-0 !default;
$ouds-elevation-x-overlay-emphasized:         $ouds-elevation-x-0 !default;
$ouds-elevation-x-raised:                     $ouds-elevation-x-0 !default;
$ouds-elevation-x-sticky-default:             $ouds-elevation-x-0 !default;
$ouds-elevation-x-sticky-emphasized:          $ouds-elevation-x-0 !default;
$ouds-elevation-x-sticky-navigation-scrolled: $ouds-elevation-x-0 !default;

$ouds-elevation-y-drag:                       $ouds-elevation-y-300 !default;
$ouds-elevation-y-focus:                      $ouds-elevation-y-0 !default;
$ouds-elevation-y-none:                       $ouds-elevation-y-0 !default;
$ouds-elevation-y-overlay-default:            $ouds-elevation-y-200 !default;
$ouds-elevation-y-overlay-emphasized:         $ouds-elevation-y-500 !default;
$ouds-elevation-y-raised:                     $ouds-elevation-y-100 !default;
$ouds-elevation-y-sticky-default:             $ouds-elevation-y-300 !default;
$ouds-elevation-y-sticky-emphasized:          $ouds-elevation-y-300 !default;
$ouds-elevation-y-sticky-navigation-scrolled: $ouds-elevation-y-300 !default;
// scss-docs-end ouds-semantic-elevation

// Grid

// scss-docs-start ouds-semantic-grid
//$ouds-grid-2xs-width:         $ouds-grid-width-100 !default;
//$ouds-grid-2xs-min-width:     $ouds-grid-min-width-100 !default;
//$ouds-grid-2xs-max-width:     $ouds-grid-max-width-100 !default;
$ouds-grid-2xs-margin:        $ouds-grid-margin-100 !default;
$ouds-grid-2xs-column-gap:    $ouds-grid-column-gap-100 !default;
//$ouds-grid-2xs-column-count:  $ouds-grid-column-count-400 !default;

//$ouds-grid-xs-width:          $ouds-grid-width-200 !default;
$ouds-grid-xs-min-width:      $ouds-grid-min-width-200 !default;
//$ouds-grid-xs-max-width:      $ouds-grid-max-width-200 !default;
$ouds-grid-xs-margin:         $ouds-grid-margin-300 !default;
$ouds-grid-xs-column-gap:     $ouds-grid-column-gap-100 !default;
//$ouds-grid-xs-column-count:   $ouds-grid-column-count-400 !default;

//$ouds-grid-sm-width:          $ouds-grid-width-300 !default;
$ouds-grid-sm-min-width:      $ouds-grid-min-width-300 !default;
//$ouds-grid-sm-max-width:      $ouds-grid-max-width-300 !default;
$ouds-grid-sm-margin:         $ouds-grid-margin-400 !default;
$ouds-grid-sm-column-gap:     $ouds-grid-column-gap-100 !default;
//$ouds-grid-sm-column-count:   $ouds-grid-column-count-400 !default;

//$ouds-grid-md-width:          $ouds-grid-width-400 !default;
$ouds-grid-md-min-width:      $ouds-grid-min-width-400 !default;
//$ouds-grid-md-max-width:      $ouds-grid-max-width-400 !default;
$ouds-grid-md-margin:         $ouds-grid-margin-500 !default;
$ouds-grid-md-column-gap:     $ouds-grid-column-gap-400 !default;
//$ouds-grid-md-column-count:   $ouds-grid-column-count-600 !default;

//$ouds-grid-lg-width:          $ouds-grid-width-500 !default;
$ouds-grid-lg-min-width:      $ouds-grid-min-width-500 !default;
//$ouds-grid-lg-max-width:      $ouds-grid-max-width-500 !default;
$ouds-grid-lg-margin:         $ouds-grid-margin-700 !default;
$ouds-grid-lg-column-gap:     $ouds-grid-column-gap-400 !default;
//$ouds-grid-lg-column-count:   $ouds-grid-column-count-600 !default;

//$ouds-grid-xl-width:          $ouds-grid-width-600 !default;
$ouds-grid-xl-min-width:      $ouds-grid-min-width-600 !default;
//$ouds-grid-xl-max-width:      $ouds-grid-max-width-600 !default;
$ouds-grid-xl-margin:         $ouds-grid-margin-1100 !default;
$ouds-grid-xl-column-gap:     $ouds-grid-column-gap-600 !default;
//$ouds-grid-xl-column-count:   $ouds-grid-column-count-1200 !default;

//$ouds-grid-2xl-width:                     $ouds-grid-width-700 !default;
$ouds-grid-2xl-min-width:                 $ouds-grid-min-width-700 !default;
//$ouds-grid-2xl-max-width-specific-tools:  $ouds-grid-max-width-700 !default;
$ouds-grid-2xl-max-width-public-website:  $ouds-grid-max-width-650 !default;
$ouds-grid-2xl-margin:                    $ouds-grid-margin-1700 !default;
$ouds-grid-2xl-column-gap:                $ouds-grid-column-gap-600 !default;
//$ouds-grid-2xl-column-count:              $ouds-grid-column-count-1200 !default;

//$ouds-grid-3xl-width:         $ouds-grid-width-800 !default;
$ouds-grid-3xl-min-width:     $ouds-grid-min-width-800 !default;
$ouds-grid-3xl-max-width:     $ouds-grid-max-width-800 !default;
$ouds-grid-3xl-margin:        $ouds-grid-margin-2500 !default;
$ouds-grid-3xl-column-gap:    $ouds-grid-column-gap-800 !default;
//$ouds-grid-3xl-column-count:  $ouds-grid-column-count-1200 !default;
// scss-docs-end ouds-semantic-grid

// Opacity

// scss-docs-start ouds-semantic-opacity
$ouds-opacity-transparent:        $ouds-opacity-0 !default;
$ouds-opacity-weaker:             $ouds-opacity-100 !default;
$ouds-opacity-weak:               $ouds-opacity-300 !default;
$ouds-opacity-medium:             $ouds-opacity-500 !default;
$ouds-opacity-strong:             $ouds-opacity-700 !default;
$ouds-opacity-opaque:             $ouds-opacity-900 !default;
// scss-docs-end ouds-semantic-opacity
