// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.bd-clipboard,
.bd-edit {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }
}

// OUDS mod: specific styles for .btn-clipboard and .btn-edit

.bd-code-snippet {
  position: relative;

  .bd-clipboard {
    position: absolute;
    top: 0;
    right: 0;
  }
}
