// OUDS mod
.bd-masthead {
  padding-bottom: 7.5rem;
  background-image: url("docs/0.4/assets/img/ouds-web-home-mobile.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 100%;

  @include media-breakpoint-up(md) {
    padding-bottom: 0;
    background-image: url("docs/0.4/assets/img/ouds-web-home-tablet.png");
  }

  @include media-breakpoint-up(xl) {
    background-image: url("docs/0.4/assets/img/ouds-web-home-desktop.png");
  }

  .highlight {
    padding-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media-breakpoint-up(md) {
      padding-right: 6rem;
    }

    pre {
      padding-top: .75rem;
      overflow: hidden;
    }
  }
}

.masthead-followup {
  .bd-code-snippet {
    position: relative;
  }

  .bd-clipboard {
    position: absolute;
    top: 0;
    right: 0;
  }

  .btn-clipboard {
    position: absolute;
    right: 0;
  }
}
// End mod
