@use "../../../scss/config" as *;
@use "../../../scss/mixins/breakpoints" as *;

$brand: "orange" !default;

// OUDS mod
.bd-masthead {
  @if ($brand == "orange") {
    background-color: var(--#{$prefix}color-bg-primary);
  }

  @include media-breakpoint-up(md) {
    @if ($brand == "orange") {
      background-color: var(--#{$prefix}color-always-black);
    }
  }

  .bd-masthead-bg {
    @include media-breakpoint-up(md) {
      @if ($brand == "sosh") {
        background-color: var(--#{$prefix}color-content-brand-primary);
        mask-image: url("/#{$brand}/docs/1.0/assets/img/ouds-web-home.svg");
        mask-repeat: no-repeat;
        mask-position: -200px center;
      } @else {
        background-image: url("/#{$brand}/docs/1.0/assets/img/ouds-web-home-tablet.png");
        background-repeat: no-repeat;
        background-position: center right;
        background-size: auto 100%;
      }
    }

    @include media-breakpoint-up(xl) {
      @if ($brand == "sosh") {
        mask-position: center right;
      } @else {
        background-image: url("/#{$brand}/docs/1.0/assets/img/ouds-web-home-desktop.png");
      }
    }
  }

  .bd-masthead-code {
    @include media-breakpoint-up(md) {
      width: 100%;
      max-width: 31rem;
    }

    .highlight {
      padding-top: 0;
      overflow: hidden;
      text-overflow: ellipsis;

      @include media-breakpoint-up(md) {
        padding-right: 6rem;
      }

      pre {
        padding-top: .75rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.masthead-followup {
  .bd-code-snippet {
    position: relative;
  }

  .bd-clipboard {
    position: absolute;
    top: 0;
    right: 0;
  }

  .btn-clipboard {
    position: absolute;
    right: 0;
  }
}
// End mod
