// OUDS mod
.bd-masthead {
  position: relative;
  padding-bottom: 7.5rem;
  @if ($brand == "orange") {
    background-color: var(--#{$prefix}color-bg-primary);
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 0;
    @if ($brand == "orange") {
      background-color: var(--#{$prefix}color-always-black);
    }
  }

  .bd-masthead-bg {
    position: absolute;
    width: 100%;
    height: 100%;

    @include media-breakpoint-up(md) {
      @if ($brand == "orange") {
        background-image: url("/#{$brand}/docs/0.5/assets/img/ouds-web-home-tablet.png");
        background-repeat: no-repeat;
        background-position: center right;
        background-size: auto 100%;
      } @else if ($brand == "sosh") {
        background-color: var(--#{$prefix}color-content-brand-primary);
        mask-image: url("/#{$brand}/docs/0.5/assets/img/ouds-web-home.svg");
        mask-repeat: no-repeat;
        mask-position: -200px center;
      }
    }

    @include media-breakpoint-up(xl) {
      @if ($brand == "orange") {
        background-image: url("/#{$brand}/docs/0.5/assets/img/ouds-web-home-desktop.png");
      } @else if ($brand == "sosh") {
        mask-position: center right;
      }
    }
  }

  .highlight {
    padding-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media-breakpoint-up(md) {
      padding-right: 6rem;
    }

    pre {
      padding-top: .75rem;
      overflow: hidden;
    }
  }
}

.masthead-followup {
  .bd-code-snippet {
    position: relative;
  }

  .bd-clipboard {
    position: absolute;
    top: 0;
    right: 0;
  }

  .btn-clipboard {
    position: absolute;
    right: 0;
  }
}
// End mod
