// OUDS mod: doesn't exist anymore in Bootstrap

.bd-subnavbar {
  // The z-index is needed for the dropdown to stay on top of the content
  z-index: $zindex-dropdown - 1; // goes under the navbar + dropdown.
  background-color: var(--#{$prefix}color-bg-primary);
  box-shadow: $ouds-elevation-sticky-navigation-scrolled, inset 0 -1px 0 var(--#{$prefix}color-border-default);
}
