@include color-mode(light, true) {
  --base03: #{$core-ouds-color-functional-gray-dark-240};
  --base05: #{$core-ouds-color-functional-gray-dark-640};
  --base07: #{$core-orange-color-decorative-sky-700};
  --base08: #{$core-ouds-color-functional-scarlet-600};
  --base09: #{$core-orange-color-decorative-emerald-800};
  --base0A: #{$core-orange-color-decorative-amethyst-600};
  --base0B: #{$core-ouds-color-functional-dodger-blue-700};
  --base0C: #{$core-ouds-color-functional-malachite-750};
  --base0E: #{$core-orange-color-decorative-shocking-pink-700};
}

// Right now, values are from Bootstrap from `--base00` to `--baseOF` and the 4 remaining one are copied from OUDS Web's light mode
@include color-mode(dark, true) {
  --base03: #{$core-ouds-color-functional-gray-light-640};
  --base05: #{$core-ouds-color-functional-gray-light-400};
  --base07: #{$core-orange-color-orange-600};
  --base08: #{$core-orange-color-decorative-emerald-500};
  --base09: #{$core-orange-color-orange-300};
  --base0A: #{$core-orange-color-decorative-amber-400};
  --base0B: #{$core-orange-color-decorative-sky-400};
  --base0C: #{$core-orange-color-decorative-sky-400};
  --base0E: #{$core-orange-color-decorative-shocking-pink-300};
}

// Shell prompts
.language-bash .line::before,
.language-sh .line::before {
  display: inline-block;
  color: var(--base03);
  content: "$ ";
  user-select: none;
}

.language-powershell .line::before {
  display: inline-block;
  color: var(--base0B);
  content: "PM> ";
  user-select: none;
}

// Token styles
.token {
  &.tag {
    display: initial;
    padding: initial;
    font-size: inherit;
    font-weight: initial;
    line-height: inherit;
    color: var(--base08);
    background-color: initial;
    border: initial;
  }

  &.placeholder {
    cursor: initial;
    background-color: initial;
    border: initial;
    opacity: 1;
  }

  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: var(--base03);
  }

  &.punctuation {
    color: var(--base05);
  }

  &.property {
    color: var(--base0A);
  }

  &.boolean,
  &.number {
    color: var(--base09);
  }

  &.constant,
  &.symbol,
  &.deleted {
    color: var(--base08);
  }

  &.attr-name,
  &.string,
  &.char,
  &.builtin,
  &.inserted {
    color: var(--base0C);
  }

  &.operator,
  &.entity,
  &.url {
    color: var(--base05);
  }

  &.atrule,
  &.attr-value,
  &.keyword {
    color: var(--base0E);
  }

  &.function {
    color: var(--base0B);
  }

  &.selector,
  &.class-name {
    color: var(--base07);
  }

  &.regex,
  &.important {
    color: var(--base0A);
  }

  &.variable {
    color: var(--base08);
  }

  &.important,
  &.bold {
    font-weight: $font-weight-bold;
  }

  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }
}

.language-diff {
  .token {
    &.deleted {
      color: $ouds-color-content-status-negative;
      background-color: transparent;
    }
    &.inserted {
      color: $ouds-color-content-status-positive;
      background-color: transparent;
    }
  }
}

.language-bash,
.language-sh {
  .token.comment {
    color: var(--base03);
  }
}
