@use "ouds-tokens" as *;
@use "../../../scss/variables" as *;
@use "../../../scss/mixins/color-mode" as *;

// Note: Bootstrap stops at --base0F

@include color-mode(light, true) {
  --base00: #{$white};
  --base01: #{$gray-700};
  --base02: #{$red-500};
  --base03: #{$blue-600};
  --base04: #{$green-700};
  --base05: #{$cyan-800};
  --base06: #{$gray-800};
  --base07: #{$pink-200};
  --base08: #{$green-900};
  --base09: #{$green-200};
  --base0A: #{$blue-900};
  --base0B: #{$cyan-700};
  --base0C: #{$orange-700};
  --base0D: #{$purple-700};
  --base0E: #{$teal-700};
  --base0F: #{$black};
  --base10: #{$gray-400};
  --base11: #{$yellow-800};
  --base12: #{$cyan-900};
  --base13: #{$pink-800};
}

// Right now, values are from Bootstrap from `--base00` to `--baseOF` and the 4 remaining one are copied from OUDS Web's light mode
@include color-mode(dark, true) {
  --base00: #{ouds-token("core-ouds-color-functional-gray-dark-880")};
  --base01: #{$gray-400};
  --base02: #{$teal-300};
  --base03: #{$cyan-300};
  --base04: #{$yellow-300};
  --base05: #{$cyan-400};
  --base06: #{$gray-400};
  --base07: #{$pink-800};
  --base08: #{$cyan-300};
  --base09: #{$green-800};
  --base0A: #{$blue-200};
  --base0B: #{$cyan-500};
  --base0C: #{$orange-300};
  --base0D: #{$purple-300};
  --base0E: #{$teal-400};
  --base0F: #{$white};
  --base10: #{$gray-700};
  --base11: #{$green-400};
  --base12: #{$cyan-500};
  --base13: #{$pink-500};
}
