@use "../../../scss/variables" as *;


// Shell prompts
.language-bash .line::before,
.language-sh .line::before {
  display: inline-block;
  color: var(--base12);
  content: "$ ";
  user-select: none;
}

.language-powershell .line::before {
  display: inline-block;
  color: var(--base12);
  content: "PM> ";
  user-select: none;
}

.token {
  &.tag {
    display: initial;
    padding: initial;
    font-size: inherit;
    font-weight: initial;
    line-height: inherit;
    background-color: initial;
    border: initial;
  }

  &.placeholder {
    cursor: initial;
    background-color: initial;
    border: initial;
    opacity: 1;
  }

  &.comment,
  &.prolog,
  &.doctype,
  &.cdata,
  &.punctuation {
    color: var(--base01);
  }

  &.string,
  &.char,
  &.attr-value {
    color: var(--base02);
  }

  &.tag,
  &.atrule,
  &.selector,
  &.class-name {
    color: var(--base03);
  }

  &.number,
  &.boolean,
  &.attr-name,
  &.builtin,
  &.property {
    color: var(--base04);
  }

  &.important {
    color: var(--base05);
  }

  &.entity {
    color: var(--base06);
    cursor: help;
  }

  &.deleted {
    background-color: var(--base07);
  }

  &.inserted {
    background-color: var(--base09);
  }

  &.constant,
  &.keyword {
    color: var(--base0B);
  }

  &.url /* tbd */ {
    color: var(--base0C);
  }

  &.variable {
    color: var(--base0D);
  }

  &.function,
  &.regex {
    color: var(--base0E);
  }

  &.operator {
    color: var(--base0F);
  }

  &.symbol {
    color: var(--base11);
  }

  &.keyword,
  &.important,
  &.bold,
  &.selector,
  &.tag > .token.tag {
    font-weight: $font-weight-bold;
  }

  &.italic {
    font-style: none;
  }
}

// .language-diff {
//   .token {
//     &.deleted {
//       color: $red-400;
//       background-color: transparent;
//     }
//     &.inserted {
//       color: $green-400;
//       background-color: transparent;
//     }
//   }
// }

// .language-bash,
// .language-sh {
//   .token.comment {
//     color: var(--base03);
//   }
// }
