@each $color, $value in $theme-colors {
  // Boosted mod: restrict to primary and light and ensure contrast
  @if ($value == $primary) or ($value == $light) {
    $contrast: color-contrast($value);

    .link-#{$color} {
      color: $value;
      background-color: $contrast;

      @if $emphasized-link-hover-darken-percentage != 0 {
        &:hover,
        &:focus {
          @if $contrast == $white {
            color: darken($value, $emphasized-link-hover-darken-percentage);
          } @else {
            color: lighten($value, $emphasized-link-hover-darken-percentage);
          }
        }
      }
    }
  }
  // End mod
}
