@each $color, $value in ("primary": $accessible-orange, "light": $light) { // Boosted mod: restrict to primary and light
  .link-#{$color} {
    color: $value;
    background-color: color-contrast($value); // Boosted mod: ensure contrast

    @if $emphasized-link-hover-darken-percentage != 0 {
      &:hover,
      &:focus {
        color: if(color-contrast($value) == $white, darken($value, $emphasized-link-hover-darken-percentage), lighten($value, $emphasized-link-hover-darken-percentage)); // Boosted mod
      }
    }
  }
}
