@each $color, $value in ("primary": $accessible-orange, "light": $light) { // Boosted mod: restrict to primary and light
  .link-#{$color} {
    color: $value if($enable-important-utilities, !important, null);
    background-color: color-contrast($value) if($enable-important-utilities, !important, null); // Boosted mod: ensure contrast

    @if $link-shade-percentage != 0 {
      // Boosted mod: no &:focus
      &:hover {
        color: if(color-contrast($value) == $color-contrast-light, shade-color($value, $link-shade-percentage), tint-color($value, $link-shade-percentage)) if($enable-important-utilities, !important, null);
      }
    }
  }
}
