// Shorthand

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-fixed;
}

// Responsive sticky top and bottom
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $breakpoint-prefix: breakpoint-prefix($breakpoint, $grid-breakpoints);

    .#{$breakpoint-prefix}sticky-top {
      position: sticky;
      top: 0;
      z-index: $zindex-sticky;
    }

    .#{$breakpoint-prefix}sticky-bottom {
      position: sticky;
      bottom: 0;
      z-index: $zindex-sticky;
    }

    @if $enable-bootstrap-compatibility {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      .sticky-#{$infix}-top {
        @extend .#{$breakpoint-prefix}sticky-top;
      }

      .sticky-#{$infix}-bottom {
        @extend .#{$breakpoint-prefix}sticky-bottom;
      }
    }
  }
}
