---
import SingleLayout from '@layouts/SingleLayout.astro'
import { getConfig } from '@libs/config'
import ExamplesMain from '@layouts/partials/ExamplesMain.astro'

export function getStaticPaths() {
  return [
    {
      params: { version: getConfig().docs_version }
    }
  ]
}
---

<SingleLayout
  title="Examples"
  description="Quickly get a project started with any of our examples ranging from using parts of the framework to custom components and layouts."
>
  <div class="d-flex flex-column flex-sm-row">
    <a href={getConfig().download.dist_examples} class="btn btn-primary">
      <svg width="1.25rem" height="1.25rem" fill="currentColor" class="me-1" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
      Download examples
    </a>
    <a href={getConfig().download.source} class="btn btn-secondary mt-3 mt-sm-0 ms-sm-3">
      Download source code
    </a>
  </div>
  <Fragment slot="main-content">
    <ExamplesMain />
  </Fragment>
</SingleLayout>
