name: Percy
on:
  push:
  #  paths:
  #    - 'js/**'
  #    - 'scss/**'
  #    - 'site/content/docs/**/components/**'
  #    - 'site/content/docs/**/forms/**'
  #  branches:
  #    - main
  #    - v4-dev
  workflow_dispatch:

env:
  FORCE_COLOR: 2
  NODE: 16

jobs:
  percy:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "${{ env.NODE }}"

      - name: Set up npm cache
        uses: actions/cache@v3.0.8
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ env.NODE }}-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ env.NODE }}-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}

      - name: Install npm dependencies
        run: npm ci

      - name: Compile dist
        run: npm run dist

      - name: Build docs
        run: npm run docs-build

      - name: Percy Test
        run: npx percy snapshot _site/ --include '/docs/**/components/**/*.html' --include '/docs/**/forms/**/*.html'
        env:
          PERCY_TOKEN: "${{ secrets.PERCY_TOKEN }}"
