name: Percy
on:
  push:
    branches:
      - main
    paths:
      - 'js/**'
      - 'scss/**'
      - 'site/content/docs/**/components/**'
      - 'site/content/docs/**/forms/**'
  workflow_dispatch:

env:
  FORCE_COLOR: 2
  NODE: 20

jobs:
  percy:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "${{ env.NODE }}"

      - name: Set up npm cache
        uses: actions/cache@v4.1.2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ env.NODE }}-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ env.NODE }}-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}

      - name: Install npm dependencies
        run: npm ci

      - name: Compile dist
        run: npm run dist

      - name: Build docs
        run: npm run docs-build

      - name: Percy Test
        run: npx percy snapshot _site/ --include '/docs/**/components/**/*.html' --include '/docs/**/forms/**/*.html'
        env:
          PERCY_TOKEN: "${{ secrets.PERCY_TOKEN }}"
